Repository apache/incubator-gluten, changes with the labels that .github/labeler.yml gives for each.
All labels: INFRA, BUILD, DOCS, CORE, VELOX, CLICKHOUSE, DATA_LAKE, RSS, TOOLS

[GLUTEN-6656][CELEBORN] Fix CelebornColumnarShuffleWriter assertion failed (#6657)
  gluten-celeborn/clickhouse/src/main/scala/org/apache/spark/shuffle/CHCelebornColumnarShuffleWriter.scala
  gluten-celeborn/common/src/main/scala/org/apache/spark/shuffle/CelebornColumnarShuffleWriter.scala
  gluten-celeborn/velox/src/main/scala/org/apache/spark/shuffle/VeloxCelebornColumnarShuffleWriter.scala
Labels: RSS

fixup
  gluten-data/src/main/java/org/apache/gluten/columnarbatch/ColumnarBatches.java
  tools/gluten-it/sbin/gluten-it.sh
Labels: VELOX, TOOLS

[GLUTEN-1632][CH]Daily Update Clickhouse Version (20240801) (#6665)
  cpp-ch/clickhouse.version
  cpp-ch/local-engine/Common/CHUtil.cpp
  cpp-ch/local-engine/Parser/CrossRelParser.cpp
  cpp-ch/local-engine/Parser/JoinRelParser.cpp
  cpp-ch/local-engine/Parser/MergeTreeRelParser.cpp
  cpp-ch/local-engine/Shuffle/PartitionWriter.h
  cpp-ch/local-engine/Storages/Mergetree/MetaDataHelper.cpp
  cpp-ch/local-engine/Storages/SubstraitSource/ExcelTextFormatFile.cpp
  cpp-ch/local-engine/Storages/SubstraitSource/FormatFile.cpp
  cpp-ch/local-engine/tests/benchmark_local_engine.cpp
  cpp-ch/local-engine/tests/gtest_ch_join.cpp
Labels: CLICKHOUSE

address comment
  .github/workflows/labeler.yml
Labels: INFRA

Update VeloxColumnarToRowConverter.cc
  cpp/velox/operators/serializer/VeloxColumnarToRowConverter.cc
Labels: VELOX

Update gluten-it.sh
  tools/gluten-it/sbin/gluten-it.sh
Labels: TOOLS

[VL] Allow specifying maximum batch size for batch resizing
  backends-velox/src/main/java/org/apache/gluten/utils/VeloxBatchResizer.java
  backends-velox/src/main/java/org/apache/gluten/utils/VeloxBatchResizerJniWrapper.java
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxSparkPlanExecApi.scala
  backends-velox/src/main/scala/org/apache/gluten/execution/VeloxResizeBatchesExec.scala
  backends-velox/src/main/scala/org/apache/gluten/extension/FlushableHashAggregateRule.scala
  backends-velox/src/test/scala/org/apache/gluten/execution/TestOperator.scala
  cpp/velox/CMakeLists.txt
  cpp/velox/jni/VeloxJniWrapper.cc
  cpp/velox/utils/VeloxBatchAppender.cc
  cpp/velox/utils/VeloxBatchResizer.cc
  cpp/velox/utils/VeloxBatchResizer.h
  gluten-ut/spark35/src/test/scala/org/apache/spark/sql/errors/GlutenQueryExecutionErrorsSuite.scala
  shims/common/src/main/scala/org/apache/gluten/GlutenConfig.scala
Labels: CORE, VELOX

fixup
  backends-velox/src/test/scala/org/apache/gluten/execution/TestOperator.scala
  shims/common/src/main/scala/org/apache/gluten/GlutenConfig.scala
Labels: CORE, VELOX

fixup
  backends-velox/src/main/java/org/apache/gluten/utils/VeloxBatchResizerJniWrapper.java
  backends-velox/src/main/scala/org/apache/gluten/execution/VeloxResizeBatchesExec.scala
  backends-velox/src/test/scala/org/apache/gluten/execution/TestOperator.scala
Labels: VELOX

fixup
  backends-velox/src/main/scala/org/apache/gluten/execution/VeloxResizeBatchesExec.scala
Labels: VELOX

try replace smj with hj
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHSparkPlanExecApi.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/execution/CHHashJoinExecTransformer.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/extension/RewriteSortMergeJoinToHashJoinRule.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/utils/CHJoinValidateUtil.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenClickHouseTPCDSAbstractSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/tpcds/GlutenClickHouseTPCDSParquetSortMergeJoinSuite.scala
Labels: CLICKHOUSE

[CORE] Propagate SQLConf to code block of TaskResources.runUnsafe (#6658)
  backends-velox/src/test/java/org/apache/gluten/test/VeloxBackendTestBase.java
  gluten-core/src/main/scala/org/apache/gluten/planner/plan/GlutenPlanModel.scala
  gluten-core/src/main/scala/org/apache/spark/util/SparkTaskUtil.scala
  gluten-core/src/main/scala/org/apache/spark/util/TaskResources.scala
  gluten-core/src/test/java/org/apache/gluten/memory/memtarget/spark/TreeMemoryConsumerTest.java
  gluten-core/src/test/scala/org/apache/gluten/utils/TaskResourceSuite.scala
  gluten-data/src/main/java/org/apache/gluten/columnarbatch/ColumnarBatches.java
  shims/common/src/main/scala/org/apache/gluten/sql/shims/SparkShims.scala
  shims/spark32/src/main/scala/org/apache/gluten/sql/shims/spark32/Spark32Shims.scala
  shims/spark32/src/main/scala/org/apache/spark/TaskContextUtils.scala
  shims/spark33/src/main/scala/org/apache/gluten/sql/shims/spark33/Spark33Shims.scala
  shims/spark33/src/main/scala/org/apache/spark/TaskContextUtils.scala
  shims/spark34/src/main/scala/org/apache/gluten/sql/shims/spark34/Spark34Shims.scala
  shims/spark34/src/main/scala/org/apache/spark/TaskContextUtils.scala
  shims/spark35/src/main/scala/org/apache/gluten/sql/shims/spark35/Spark35Shims.scala
  shims/spark35/src/main/scala/org/apache/spark/TaskContextUtils.scala
  tools/gluten-it/sbin/gluten-it.sh
Labels: CORE, VELOX, TOOLS

[VL] Fallback scan if root path is not supported by registered file systems
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHBackend.scala
  backends-velox/src/main/java/org/apache/gluten/utils/VeloxFileSystemValidationJniWrapper.java
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxBackend.scala
  backends-velox/src/test/scala/org/apache/gluten/execution/FallbackSuite.scala
  cpp/velox/jni/VeloxJniWrapper.cc
  gluten-core/src/main/scala/org/apache/gluten/backendsapi/BackendSettingsApi.scala
  gluten-core/src/main/scala/org/apache/gluten/execution/BasicScanExecTransformer.scala
  gluten-core/src/main/scala/org/apache/gluten/execution/BatchScanExecTransformer.scala
  gluten-core/src/main/scala/org/apache/gluten/execution/FileSourceScanExecTransformer.scala
  gluten-core/src/main/scala/org/apache/gluten/utils/FileIndexUtil.scala
  gluten-core/src/main/scala/org/apache/spark/sql/hive/HiveTableScanExecTransformer.scala
  gluten-iceberg/src/main/scala/org/apache/gluten/execution/IcebergScanTransformer.scala
  shims/common/src/main/scala/org/apache/gluten/GlutenConfig.scala
Labels: CORE, VELOX, CLICKHOUSE, DATA_LAKE

Update JniWrapper.cc
  cpp/core/jni/JniWrapper.cc
Labels: VELOX

Update ColumnarToRow.h
  cpp/core/operators/c2r/ColumnarToRow.h
Labels: VELOX

Update VeloxColumnarToRowConverter.cc
  cpp/velox/operators/serializer/VeloxColumnarToRowConverter.cc
Labels: VELOX

Update VeloxColumnarToRowConverter.h
  cpp/velox/operators/serializer/VeloxColumnarToRowConverter.h
Labels: VELOX

Update VeloxRuntime.cc
  cpp/velox/compute/VeloxRuntime.cc
Labels: VELOX

Update VeloxRuntime.h
  cpp/velox/compute/VeloxRuntime.h
Labels: VELOX

Update Runtime.h
  cpp/core/compute/Runtime.h
Labels: VELOX

Update RuntimeTest.cc
  cpp/velox/tests/RuntimeTest.cc
Labels: VELOX

Update ColumnarToRow.h
  cpp/core/operators/c2r/ColumnarToRow.h
Labels: VELOX

fixup
  backends-velox/src/main/scala/org/apache/gluten/execution/VeloxResizeBatchesExec.scala
Labels: VELOX

Update VeloxColumnarToRowConverter.cc
  cpp/velox/operators/serializer/VeloxColumnarToRowConverter.cc
Labels: VELOX

.github/labeler.yml:

# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.


INFRA:
  - changed-files:
    - any-glob-to-any-file: [
      '.github/**/*',
      '.asf.yaml',
      '.gitattributes',
      'LICENSE',
      'LICENSE-binary',
      'NOTICE',
      'NOTICE-binary'
    ]

BUILD:
  - changed-files:
    - any-glob-to-any-file: [
      'dev/**/*',
      'cpp/compile.sh',
      'ep/build-velox/src/get_velox.sh',
      'ep/build-velox/src/build_velox.sh',
      'ep/build-clickhouse/src/build_clickhouse.sh'
    ]

DOCS:
  - changed-files:
    - any-glob-to-any-file: [
      'docs/**/*',
      '**/README.md',
      '**/CONTRIBUTING.md'
    ]

CORE:
  - changed-files:
    - any-glob-to-any-file: [
      'gluten-core/**/*',
      'shims/**/*',
      'gluten-ras/**/*',
      'gluten-ui/**/*',
      'gluten-ut/**/*',
      'package/**/*',
      'pom.xml'
    ]

VELOX:
  - changed-files:
    - any-glob-to-any-file: [
      'gluten-data/**/*',
      'backends-velox/**/*',
      'ep/build-velox/**/*',
      'cpp/**/*'
    ]

CLICKHOUSE:
  - changed-files:
    - any-glob-to-any-file: [
      'backends-clickhouse/**/*',
      'ep/build-clickhouse/**/*',
      'cpp-ch/**/*'
    ]

DATA_LAKE:
  - changed-files:
    - any-glob-to-any-file: [
      'gluten-iceberg/**/*',
      'gluten-delta/**/*'
    ]

RSS:
  - changed-files:
    - any-glob-to-any-file: [
     'gluten-celeborn/**/*',
     'gluten-uniffle/**/*'
    ]

TOOLS:
  - changed-files:
    - any-glob-to-any-file: [
      'tools/**/*'
     ]
