Repository apache/incubator-gluten, pull requests merged in 2023-03, with the labels that each got.

#897 [CH-269]support more struct/array/map functions
  gluten-core/src/main/scala/io/glutenproject/expression/ExpressionConverter.scala
  gluten-core/src/main/scala/io/glutenproject/expression/ExpressionMappings.scala
  gluten-core/src/main/scala/io/glutenproject/expression/NamedStructTransformer.scala
  gluten-core/src/main/scala/io/glutenproject/expression/collectionOperationTransformer.scala
Labels: BACKEND_CLICKHOUSE

#975 [gluten-core] Support repeat function
  backends-velox/src/main/scala/io/glutenproject/utils/VeloxExpressionUtil.scala
  gluten-core/src/main/scala/io/glutenproject/expression/ExpressionMappings.scala
Labels: CORE

#917 [CH-278] part1: support function md5/lpad/rpad/reverse
  backends-clickhouse/src/main/scala/io/glutenproject/utils/CHExpressionUtil.scala
  gluten-core/src/main/java/io/glutenproject/substrait/type/FixedBinaryTypeNode.java
  gluten-core/src/main/java/io/glutenproject/substrait/type/FixedCharTypeNode.java
  gluten-core/src/main/java/io/glutenproject/substrait/type/TypeBuilder.java
  gluten-core/src/main/scala/io/glutenproject/execution/BasicPhysicalOperatorTransformer.scala
  gluten-core/src/main/scala/io/glutenproject/expression/ConverterUtils.scala
  gluten-core/src/main/scala/io/glutenproject/expression/ExpressionConverter.scala
  gluten-core/src/main/scala/io/glutenproject/expression/UnaryExpressionTransformer.scala
  gluten-ut/spark32/src/test/scala/io/glutenproject/utils/clickhouse/ClickHouseTestSettings.scala
Labels: BACKEND_CLICKHOUSE

#1049 [VL] Fix agg with filter
  backends-clickhouse/src/main/scala/io/glutenproject/execution/CHHashAggregateExecTransformer.scala
  gluten-core/src/main/java/io/glutenproject/substrait/rel/AggregateRelNode.java
  gluten-core/src/main/scala/io/glutenproject/execution/HashAggregateExecBaseTransformer.scala
  gluten-data/src/main/scala/io/glutenproject/execution/GlutenHashAggregateExecTransformer.scala
  gluten-ut/spark32/src/test/scala/io/glutenproject/utils/clickhouse/ClickHouseTestSettings.scala
  gluten-ut/spark32/src/test/scala/org/apache/spark/sql/GlutenDataFrameAggregateSuite.scala
Labels: BACKEND_VELOX

#1048 [Gluten-core] Add struct literal support
  gluten-core/src/main/java/io/glutenproject/substrait/expression/BinaryStructNode.java
  gluten-core/src/main/java/io/glutenproject/substrait/expression/ExpressionBuilder.java
  gluten-core/src/main/scala/io/glutenproject/expression/StructExpressionTransformer.scala
  tools/gluten-it/src/main/scala/io/glutenproject/integration/tpc/TpcRunner.scala
Labels: CORE

#1063 [Gluten] Fix decimal byte value is wrong to backend
  gluten-core/src/main/java/io/glutenproject/substrait/expression/DecimalLiteralNode.java
  gluten-ut/spark32/src/test/scala/io/glutenproject/utils/clickhouse/ClickHouseTestSettings.scala
Labels: CORE

#951 [CH-290] support to_date/date_format/trunc/add_months/map_from_arrays/translate
  backends-velox/src/main/scala/io/glutenproject/utils/VeloxExpressionUtil.scala
  gluten-core/src/main/scala/io/glutenproject/expression/ExpressionConverter.scala
  gluten-core/src/main/scala/io/glutenproject/expression/ExpressionMappings.scala
  gluten-core/src/main/scala/io/glutenproject/expression/TernaryExpressionTransformer.scala
  gluten-core/src/main/scala/io/glutenproject/expression/UnaryExpressionTransformer.scala
  gluten-ut/spark32/src/test/scala/io/glutenproject/utils/clickhouse/ClickHouseTestSettings.scala
Labels: BACKEND_CLICKHOUSE

#966 [CH-294] support collect_list
  backends-clickhouse/src/main/scala/io/glutenproject/execution/CHHashAggregateExecTransformer.scala
  backends-clickhouse/src/main/scala/io/glutenproject/utils/CHExpressionUtil.scala
  gluten-core/src/main/scala/io/glutenproject/execution/HashAggregateExecBaseTransformer.scala
  gluten-ut/spark32/src/test/scala/io/glutenproject/utils/clickhouse/ClickHouseTestSettings.scala
Labels: BACKEND_CLICKHOUSE

#925 [CH-278] part2: support xxhash64/hash
  backends-clickhouse/src/main/scala/io/glutenproject/utils/CHExpressionUtil.scala
Labels: BACKEND_CLICKHOUSE

#1018 [CH-306]Fix read empty parquet
  backends-clickhouse/src/test/scala/io/glutenproject/execution/GlutenClickHouseParquetSuite.scala
Labels: BACKEND_CLICKHOUSE

#603 [CI] Skip CI jobs on backends whose code were unchanged
  .github/workflows/clickhouse_be.yml
  .github/workflows/code_style.yml
  .github/workflows/velox_be.yml
Labels: CORE

#812 [CH-256] fully support from_unixtime and arrayJoin
  backends-clickhouse/src/main/scala/io/glutenproject/utils/CHExpressionUtil.scala
  backends-clickhouse/src/test/scala/io/glutenproject/execution/GlutenClickHouseTPCHParquetSuite.scala
  backends-clickhouse/src/test/scala/io/glutenproject/execution/GlutenClickHouseTPCHSuite.scala
  gluten-core/src/main/java/io/glutenproject/substrait/type/MapNode.java
  gluten-core/src/main/scala/io/glutenproject/expression/DateTimeExpressionsTransformer.scala
  gluten-core/src/main/scala/io/glutenproject/expression/UnaryExpressionTransformer.scala
Labels: BACKEND_CLICKHOUSE

#1080 [VL] Support date_add function
  backends-velox/src/test/scala/io/glutenproject/execution/VeloxFunctionsValidateSuite.scala
Labels: BACKEND_VELOX

#971 [Gluten-core] Refactor scan validation
  backends-clickhouse/src/main/scala/io/glutenproject/backendsapi/clickhouse/CHBackend.scala
  backends-clickhouse/src/main/scala/io/glutenproject/backendsapi/clickhouse/CHTransformerApi.scala
  backends-velox/src/main/scala/io/glutenproject/backendsapi/velox/VeloxBackend.scala
  gluten-core/src/main/scala/io/glutenproject/backendsapi/BackendSettings.scala
  gluten-core/src/main/scala/io/glutenproject/backendsapi/ITransformerApi.scala
  gluten-core/src/main/scala/io/glutenproject/execution/BasicScanExecTransformer.scala
  gluten-data/src/main/java/io/glutenproject/backendsapi/glutendata/GlutenTransformerApi.scala
Labels: BACKEND_VELOX, CORE

#1004 [VL]Upgrade velox to 2023/3/6
  cpp/velox/compute/VeloxBackend.cc
  cpp/velox/compute/WholeStageResultIterator.cc
  cpp/velox/memory/VeloxMemoryPool.cc
  gluten-core/src/main/java/io/glutenproject/substrait/rel/ProjectRelNode.java
  gluten-core/src/main/java/io/glutenproject/substrait/rel/RelBuilder.java
  gluten-core/src/main/resources/substrait/proto/substrait/algebra.proto
  gluten-core/src/main/resources/substrait/proto/substrait/extended_expression.proto
  gluten-core/src/main/scala/io/glutenproject/execution/BasicPhysicalOperatorTransformer.scala
  gluten-core/src/main/scala/io/glutenproject/execution/ExpandExecTransformer.scala
  gluten-core/src/main/scala/io/glutenproject/execution/HashAggregateExecBaseTransformer.scala
  gluten-core/src/main/scala/io/glutenproject/execution/JoinUtils.scala
  gluten-core/src/main/scala/io/glutenproject/execution/SortExecTransformer.scala
  gluten-core/src/main/scala/io/glutenproject/utils/PlanNodesUtil.scala
  gluten-data/src/main/scala/io/glutenproject/execution/GlutenHashAggregateExecTransformer.scala
Labels: BACKEND_VELOX

#1056 [Gluten-core] Correct the judgement for whether adaptive execution is supported
  gluten-core/src/main/scala/io/glutenproject/execution/TakeOrderedAndProjectExecTransformer.scala
  gluten-core/src/main/scala/io/glutenproject/extension/ColumnarOverrides.scala
  gluten-core/src/main/scala/io/glutenproject/utils/AdaptiveSparkPlanUtil.scala
  gluten-ut/spark32/src/test/scala/io/glutenproject/utils/velox/VeloxTestSettings.scala
  gluten-ut/spark32/src/test/scala/org/apache/spark/sql/execution/exchange/GlutenEnsureRequirementsSuite.scala
Labels: CORE

#1069 [VL] Velox splitter supports dictionary encoding
  cpp/core/operators/shuffle/splitter.cc
  cpp/core/operators/shuffle/splitter.h
  cpp/velox/shuffle/VeloxSplitter.cc
  cpp/velox/shuffle/VeloxSplitter.h
  cpp/velox/tests/VeloxSplitterTest.cc
Labels: BACKEND_VELOX

#1096 [VL] Fix unexpected fallback in HashAgg due to empty output
  backends-velox/src/main/scala/io/glutenproject/backendsapi/velox/VeloxBackend.scala
  gluten-core/src/main/scala/io/glutenproject/backendsapi/BackendSettings.scala
  gluten-core/src/main/scala/io/glutenproject/extension/ColumnarOverrides.scala
  gluten-core/src/main/scala/io/glutenproject/extension/columnar/TransformHintRule.scala
  gluten-ut/spark32/src/test/scala/io/glutenproject/utils/velox/VeloxTestSettings.scala
Labels: BACKEND_VELOX

#1125 [Gluten-1124] Close connector preload split on current memory management.
  cpp/velox/compute/VeloxInitializer.cc
Labels: BACKEND_VELOX

#1151 [VL] Optimize the method of obtaining taskAttemptId in nativeMake
  cpp/core/jni/JniWrapper.cc
  gluten-data/src/main/java/io/glutenproject/vectorized/ShuffleSplitterJniWrapper.java
  gluten-data/src/main/scala/org/apache/spark/shuffle/GlutenColumnarShuffleWriter.scala
Labels: BACKEND_VELOX

#1020 [CH-313] support functions position/locate
  backends-clickhouse/src/main/scala/io/glutenproject/utils/CHExpressionUtil.scala
  backends-clickhouse/src/test/scala/io/glutenproject/execution/GlutenClickHouseTPCHParquetSuite.scala
  gluten-core/src/main/scala/io/glutenproject/expression/ExpressionConverter.scala
Labels: BACKEND_CLICKHOUSE

#1110 [WIP][document] Update logo and trademark info
  README.md
  docs/image/bigo_logo.png
  docs/image/intel_logo.jpg
  docs/image/kyligence_logo.png
  docs/image/meituan_logo.png
Labels: documentation

#1154 [VL] Add centos8 on Velox CI
  .github/workflows/velox_be.yml
  cpp/CMakeLists.txt
  docs/developers/docker_centos8.md
  gluten-core/src/main/java/io/glutenproject/vectorized/JniWorkspace.java
  tools/gluten-te/centos/buildenv.sh
  tools/gluten-te/centos/cbash.sh
  tools/gluten-te/centos/defaults.conf
  tools/gluten-te/centos/dockerfile-buildenv
  tools/gluten-te/ubuntu/README.md
  tools/gluten-te/ubuntu/build.sh
  tools/gluten-te/ubuntu/buildenv-cmd/cmd.sh
  tools/gluten-te/ubuntu/buildenv.sh
  tools/gluten-te/ubuntu/cbash.sh
  tools/gluten-te/ubuntu/defaults.conf
  tools/gluten-te/ubuntu/docker-compose.yml
  tools/gluten-te/ubuntu/dockerfile-build
  tools/gluten-te/ubuntu/dockerfile-buildenv
  tools/gluten-te/ubuntu/dockerfile-tpc
  tools/gluten-te/ubuntu/examples/buildhere-veloxbe-dev/run.sh
  tools/gluten-te/ubuntu/examples/buildhere-veloxbe-dev/scripts/all.sh
  tools/gluten-te/ubuntu/examples/buildhere-veloxbe/run.sh
  tools/gluten-te/ubuntu/tpc.sh
Labels: BACKEND_VELOX

#1130 [VL] Pass 75% of off-heap memory size as Velox memory tracker's limit
  .github/workflows/velox_be.yml
  backends-clickhouse/src/main/scala/io/glutenproject/utils/CHInputPartitionsUtil.scala
  backends-clickhouse/src/main/scala/org/apache/spark/shuffle/CHColumnarShuffleWriter.scala
  backends-clickhouse/src/main/scala/org/apache/spark/sql/execution/datasources/utils/MergeTreePartsPartitionsUtil.scala
  backends-velox/src/main/scala/io/glutenproject/backendsapi/velox/VeloxBackend.scala
  backends-velox/src/main/scala/io/glutenproject/backendsapi/velox/VeloxInitializerApi.scala
  cpp/core/compute/Backend.h
  cpp/core/jni/JniWrapper.cc
  cpp/core/tests/BackendTest.cc
  cpp/velox/benchmarks/GenericBenchmark.cc
  cpp/velox/compute/VeloxBackend.cc
  cpp/velox/compute/VeloxBackend.h
  cpp/velox/compute/VeloxInitializer.cc
  cpp/velox/compute/WholeStageResultIterator.cc
  cpp/velox/compute/WholeStageResultIterator.h
  cpp/velox/jni/JniWrapper.cc
  gluten-core/src/main/java/io/glutenproject/vectorized/ExpressionEvaluatorJniWrapper.java
  gluten-core/src/main/java/io/glutenproject/vectorized/NativeExpressionEvaluator.java
  gluten-core/src/main/scala/io/glutenproject/GlutenPlugin.scala
  gluten-core/src/main/scala/org/apache/spark/util/SparkResourcesUtil.scala
  gluten-data/src/main/scala/io/glutenproject/metrics/HashJoinMetricsUpdater.scala
  gluten-data/src/main/scala/org/apache/spark/shuffle/GlutenColumnarShuffleWriter.scala
  shims/common/src/main/scala/io/glutenproject/GlutenConfig.scala
Labels: BACKEND_VELOX

#1190 [VL] Update CHANGELOG Script for RELEASE.
  dev/generate-changelog
Labels: BACKEND_VELOX

#992 [VL] Fix the compile problem with dependencies installed in user directories
  cpp/core/CMakeLists.txt
  cpp/velox/CMakeLists.txt
Labels: BACKEND_VELOX

#1219 [VL]Add Meituan email in contact.
  README.md
Labels: documentation

#1206 [VL] Support using Celeborn in the scenario of switching multiple SparkContexts in the same process of Velox CI
  gluten-core/src/main/java/org/apache/spark/shuffle/celeborn/CelebornShuffleManager.java
Labels: BACKEND_VELOX

#1202 [GLUTEN-1201][CORE] Skip scalar subquery execution during validation
  backends-clickhouse/src/main/scala/io/glutenproject/execution/CHFilterExecTransformer.scala
  gluten-core/src/main/scala/io/glutenproject/execution/BasicPhysicalOperatorTransformer.scala
  gluten-core/src/main/scala/io/glutenproject/execution/BasicScanExecTransformer.scala
  gluten-core/src/main/scala/io/glutenproject/execution/CoalesceExecTransformer.scala
  gluten-core/src/main/scala/io/glutenproject/execution/ExpandExecTransformer.scala
  gluten-core/src/main/scala/io/glutenproject/execution/FileSourceScanExecTransformer.scala
  gluten-core/src/main/scala/io/glutenproject/execution/GenerateExecTransformer.scala
  gluten-core/src/main/scala/io/glutenproject/execution/HashAggregateExecBaseTransformer.scala
  gluten-core/src/main/scala/io/glutenproject/execution/HashJoinExecTransformer.scala
  gluten-core/src/main/scala/io/glutenproject/execution/LimitTransformer.scala
  gluten-core/src/main/scala/io/glutenproject/execution/SortExecTransformer.scala
  gluten-core/src/main/scala/io/glutenproject/execution/SortMergeJoinExecTransformer.scala
  gluten-core/src/main/scala/io/glutenproject/execution/WholeStageTransformerExec.scala
  gluten-core/src/main/scala/io/glutenproject/execution/WindowExecTransformer.scala
  gluten-core/src/main/scala/io/glutenproject/expression/ScalarSubqueryTransformer.scala
  gluten-core/src/main/scala/io/glutenproject/expression/TransformerState.scala
  gluten-data/src/main/scala/io/glutenproject/execution/GlutenFilterExecTransformer.scala
  gluten-data/src/main/scala/org/apache/spark/sql/execution/python/ArrowEvalPythonExecTransformer.scala
Labels: CORE

#1237 [Gluten-1234] Fix error 'Invalid number of columns in chunk pushed to OutputPort' when executing hash agg after union all
  backends-clickhouse/src/main/scala/io/glutenproject/execution/CHHashAggregateExecTransformer.scala
  backends-clickhouse/src/test/resources/tpcds-queries-output/q66.out
  backends-clickhouse/src/test/resources/tpcds-queries-output/q76.out
  backends-clickhouse/src/test/scala/io/glutenproject/execution/GlutenClickHouseTPCDSParquetAQESuite.scala
  backends-clickhouse/src/test/scala/io/glutenproject/execution/GlutenClickHouseTPCDSParquetColumnarShuffleAQESuite.scala
  backends-clickhouse/src/test/scala/io/glutenproject/execution/GlutenClickHouseTPCDSParquetColumnarShuffleSuite.scala
  backends-clickhouse/src/test/scala/io/glutenproject/execution/GlutenClickHouseTPCDSParquetSuite.scala
  gluten-core/src/test/scala/io/glutenproject/execution/WholeStageTransformerSuite.scala
Labels: BACKEND_CLICKHOUSE

#1094 [VL] Agg support Covariance function
  backends-clickhouse/src/main/scala/io/glutenproject/utils/CHExpressionUtil.scala
  backends-velox/src/test/scala/io/glutenproject/execution/TestOperator.scala
  gluten-core/src/main/scala/io/glutenproject/execution/HashAggregateExecBaseTransformer.scala
  gluten-core/src/main/scala/io/glutenproject/expression/AggregateFunctionsBuilder.scala
  gluten-core/src/main/scala/io/glutenproject/expression/ExpressionMappings.scala
  gluten-data/src/main/scala/io/glutenproject/execution/GlutenHashAggregateExecTransformer.scala
  gluten-ut/spark32/src/test/scala/io/glutenproject/utils/velox/VeloxTestSettings.scala
  gluten-ut/spark32/src/test/scala/org/apache/spark/sql/GlutenDataFrameWindowFunctionsSuite.scala
Labels: BACKEND_VELOX

#1236 [GLUTEN-1235] Fix missing reading from the broadcasted value when executing DPP
  backends-clickhouse/src/main/scala/org/apache/spark/sql/execution/joins/ClickHouseBuildSideRelation.scala
  backends-clickhouse/src/test/resources/tpcds-queries-output/q3.out
  backends-clickhouse/src/test/scala/io/glutenproject/RunTPCHTest.scala
  backends-clickhouse/src/test/scala/io/glutenproject/execution/GlutenClickHouseTPCDSParquetAQESuite.scala
  backends-clickhouse/src/test/scala/io/glutenproject/execution/GlutenClickHouseTPCDSParquetColumnarShuffleAQESuite.scala
  backends-clickhouse/src/test/scala/io/glutenproject/execution/GlutenClickHouseTPCDSParquetColumnarShuffleSuite.scala
  backends-clickhouse/src/test/scala/io/glutenproject/execution/GlutenClickHouseTPCDSParquetSuite.scala
  gluten-ut/spark32/src/test/scala/io/glutenproject/utils/clickhouse/ClickHouseTestSettings.scala
Labels: BACKEND_CLICKHOUSE

#1228 [VL] Include Velox non-contiguous allocations into Spark memory manager's accountation
  cpp/core/memory/HbwAllocator.cc
  cpp/core/memory/HbwAllocator.h
  cpp/core/memory/MemoryAllocator.cc
  cpp/core/memory/MemoryAllocator.h
  cpp/velox/memory/VeloxMemoryPool.cc
Labels: BACKEND_VELOX

#1238 [VL][UT] Enable UT on some cast functions
  gluten-ut/spark32/src/test/scala/io/glutenproject/utils/velox/VeloxTestSettings.scala
Labels: BACKEND_VELOX
