Repository apache/incubator-gluten, pull requests merged in 2023-08, with the labels that each got.

#1819 [GLUTEN-1798][CH] Support `grace hash join`
  backends-clickhouse/src/test/scala/io/glutenproject/execution/GlutenClickHouseTPCDSParquetGraceHashJoinSuite.scala
  cpp-ch/local-engine/Parser/SerializedPlanParser.cpp
Labels: documentation

#2856 [VL] Fix TPCDS Q83 fallback
  cpp/CMakeLists.txt
  cpp/velox/substrait/SubstraitToVeloxExpr.cc
Labels: meta/velox

#2907 [VL] Fix the incorrect result type when decimal arithmetic expressions are nested
  gluten-core/src/main/scala/io/glutenproject/expression/ExpressionConverter.scala
  gluten-core/src/main/scala/io/glutenproject/expression/PredicateExpressionTransformer.scala
  gluten-core/src/main/scala/io/glutenproject/utils/DecimalArithmeticUtil.scala
Labels: meta/velox

#2928 [VL] Fix UT: CheckOverflow
  gluten-ut/spark32/src/test/scala/io/glutenproject/utils/velox/VeloxTestSettings.scala
  gluten-ut/spark32/src/test/scala/org/apache/spark/sql/catalyst/expressions/GlutenDecimalExpressionSuite.scala
Labels: meta/velox

#2914 [VL]Enable CI for upstream_velox Branch on ubuntu20.04/ubuntu22.04
  .github/workflows/velox_be.yml
  cpp/CMake/ConfigArrow.cmake
  cpp/CMake/Simdjson.cmake
  cpp/velox/CMakeLists.txt
  cpp/velox/memory/VeloxMemoryManager.cc
  cpp/velox/operators/functions/RegistrationAllFunctions.cc
  ep/build-arrow/src/build_arrow.sh
  ep/build-arrow/src/get_arrow.sh
  ep/build-velox/src/get_velox.sh
Labels: CI / CD, meta/velox
