Repository apache/incubator-gluten, pull requests merged in 2023-04, with the labels that each got.

#1230 [GLUTEN-1217][VL] UT: Enable UT when partitioned column is decimal type
  gluten-ut/spark32/src/test/scala/io/glutenproject/utils/velox/VeloxTestSettings.scala
Labels: BACKEND_VELOX

#1185 [VL] Support Celeborn integration testing in Velox CI
  .github/workflows/velox_be.yml
  tools/gluten-it/src/main/java/io/glutenproject/integration/tpc/Tpc.java
  tools/gluten-it/src/main/scala/io/glutenproject/integration/tpc/TpcSuite.scala
  tools/gluten-it/src/main/scala/io/glutenproject/integration/tpc/ds/TpcdsSuite.scala
  tools/gluten-it/src/main/scala/io/glutenproject/integration/tpc/h/TpchSuite.scala
Labels: BACKEND_VELOX

#1115 [VL] Enable decimalV2A test
  cpp/velox/tests/ArrowToVeloxTest.cc
Labels: BACKEND_VELOX

#1295 [VL][doc] Add a developer guide for implementing spark built-in functions in velox
  docs/developers/velox-function-development-guide.md
Labels: BACKEND_VELOX

#1198 [VL] fix: Update Velox setup scripts for centos 7
  .github/workflows/velox_be.yml
  cpp/core/CMakeLists.txt
  cpp/velox/CMakeLists.txt
  ep/build-velox/src/build_velox.sh
  ep/build-velox/src/get_velox.sh
  tools/gluten-te/centos/buildenv.sh
  tools/gluten-te/centos/centos-7-deps.sh
  tools/gluten-te/centos/centos-8-deps.sh
  tools/gluten-te/centos/defaults.conf
  tools/gluten-te/centos/dockerfile-buildenv
  tools/gluten-te/centos/env.sh
Labels: BACKEND_VELOX

#1271 [GLUTEN-1270][VL][Feat] Support multiple HDFS endpoints
  cpp/velox/compute/DwrfDatasource.cc
  cpp/velox/compute/DwrfDatasource.h
  cpp/velox/compute/VeloxInitializer.cc
  docs/Velox.md
  gluten-core/src/main/scala/io/glutenproject/GlutenPlugin.scala
  shims/common/src/main/scala/io/glutenproject/GlutenConfig.scala
Labels: BACKEND_VELOX

#1380 [GLUTEN-1379] [CH] update clickhouse backends doc
  .gitignore
  cpp-ch/README.md
  docs/ClickHouse.md
  docs/image/ClickHouse/CLion-Configuration-2.png
  docs/image/ClickHouse/cpp-ch-configuration.png
  ep/build-clickhouse/src/build_clickhouse.sh
  ep/build-clickhouse/src/install_ubuntu.sh
Labels: documentation, BACKEND_CLICKHOUSE

#1181 [VL] Add velox cpp test to CI
  .github/workflows/velox_be.yml
  cpp/velox/tests/ArrowToVeloxTest.cc
  cpp/velox/tests/CMakeLists.txt
  cpp/velox/tests/ColumnarToRowTest.cc
  cpp/velox/tests/VeloxColumnarToRowTest.cc
  cpp/velox/tests/VeloxRowToColumnarTest.cc
Labels: BACKEND_VELOX

#1054 [CH-320] Support space function
  backends-clickhouse/src/test/scala/io/glutenproject/execution/GlutenClickHouseTPCHSuite.scala
  gluten-core/src/main/scala/io/glutenproject/expression/ExpressionMappings.scala
Labels: BACKEND_CLICKHOUSE

#1378 [VL] Upgrade velox to 2023/4/20
  cpp/velox/benchmarks/ColumnarToRowBenchmark.cc
  cpp/velox/compute/VeloxBackend.cc
  cpp/velox/compute/VeloxBackend.h
  cpp/velox/compute/VeloxColumnarToRowConverter.cc
  cpp/velox/compute/VeloxParquetDatasource.cc
  cpp/velox/compute/VeloxRowToColumnarConverter.cc
  cpp/velox/compute/WholeStageResultIterator.cc
  cpp/velox/jni/JniWrapper.cc
  cpp/velox/memory/VeloxColumnarBatch.cc
  cpp/velox/memory/VeloxMemoryPool.cc
  cpp/velox/memory/VeloxMemoryPool.h
  cpp/velox/shuffle/VeloxShuffleWriter.cc
  cpp/velox/tests/ArrowToVeloxTest.cc
  cpp/velox/tests/ColumnarToRowTest.cc
  cpp/velox/tests/VeloxColumnarToRowTest.cc
  cpp/velox/tests/VeloxRowToColumnarTest.cc
  cpp/velox/tests/VeloxShuffleWriterTest.cc
Labels: BACKEND_VELOX
