Repository apache/incubator-gluten, pull requests merged in 2024-09, with the labels that each got.

#7072 [GLUTEN-341][CH] Support BHJ + isNullAwareAntiJoin for the CH backend
  backends-clickhouse/src/main/java/org/apache/gluten/vectorized/StorageJoinBuilder.java
  backends-clickhouse/src/main/scala/org/apache/gluten/execution/CHHashJoinExecTransformer.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenClickHouseColumnarMemorySortShuffleSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenClickHouseColumnarShuffleAQESuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenClickHouseDSV2ColumnarShuffleSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenClickHouseDSV2Suite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenClickHouseDecimalSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenClickHouseTPCHNullableColumnarShuffleSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenClickHouseTPCHNullableSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenClickHouseTPCHSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/tpch/GlutenClickHouseTPCHColumnarShuffleParquetAQESuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/tpch/GlutenClickHouseTPCHParquetAQESuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/tpch/GlutenClickHouseTPCHSaltNullParquetSuite.scala
  cpp-ch/local-engine/Join/BroadCastJoinBuilder.cpp
  cpp-ch/local-engine/Join/BroadCastJoinBuilder.h
  cpp-ch/local-engine/Join/StorageJoinFromReadBuffer.cpp
  cpp-ch/local-engine/Join/StorageJoinFromReadBuffer.h
  cpp-ch/local-engine/Operator/EarlyStopStep.cpp
  cpp-ch/local-engine/Operator/EarlyStopStep.h
  cpp-ch/local-engine/Parser/JoinRelParser.cpp
  cpp-ch/local-engine/local_engine_jni.cpp
  gluten-celeborn/clickhouse/src/test/scala/org/apache/gluten/execution/GlutenClickHouseRSSColumnarMemorySortShuffleSuite.scala
  gluten-celeborn/clickhouse/src/test/scala/org/apache/gluten/execution/GlutenClickHouseRSSColumnarShuffleAQESuite.scala
  gluten-ut/spark32/src/test/scala/org/apache/gluten/utils/clickhouse/ClickHouseTestSettings.scala
  gluten-ut/spark33/src/test/scala/org/apache/gluten/utils/clickhouse/ClickHouseTestSettings.scala
  gluten-ut/spark34/src/test/scala/org/apache/gluten/utils/clickhouse/ClickHouseTestSettings.scala
  gluten-ut/spark35/src/test/scala/org/apache/gluten/utils/clickhouse/ClickHouseTestSettings.scala
Labels: CORE, RSS, CLICKHOUSE

#7091 [VL] Gluten-it: Remove a IDE-generated maven module name
  tools/gluten-it/package/pom.xml
Labels: TOOLS

#7089 [GLUTEN-7090][VL] fix: Number of sorting keys must be greater than zero
  backends-velox/src/test/scala/org/apache/gluten/execution/VeloxWindowExpressionSuite.scala
  cpp/velox/substrait/SubstraitToVeloxPlan.cc
Labels: VELOX

#7084 [GLUTEN-7054][CH] Fix cse alias issues
  backends-clickhouse/src/main/scala/org/apache/gluten/extension/CommonSubexpressionEliminateRule.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/hive/GlutenClickHouseHiveTableSuite.scala
Labels: CLICKHOUSE

#7083 [GLUTEN-7077][CH]`have_compressed` is lost in `HashJoin::reuseJoinedData`
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenClickHouseTPCHSuite.scala
  cpp-ch/clickhouse.version
Labels: CLICKHOUSE

#7105 [VL] Remove a limit for BHJ in stage fallback policy
  backends-velox/src/test/scala/org/apache/gluten/execution/FallbackSuite.scala
  gluten-substrait/src/main/scala/org/apache/gluten/extension/columnar/ExpandFallbackPolicy.scala
Labels: CORE, VELOX

#7095 [GLUTEN-7031] Move iterator wrappers to gluten-core
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxIteratorApi.scala
  backends-velox/src/main/scala/org/apache/gluten/datasource/ArrowCSVFileFormat.scala
  backends-velox/src/main/scala/org/apache/gluten/execution/RowToVeloxColumnarExec.scala
  backends-velox/src/main/scala/org/apache/gluten/execution/VeloxBroadcastBuildSideRDD.scala
  backends-velox/src/main/scala/org/apache/gluten/execution/VeloxColumnarToRowExec.scala
  backends-velox/src/main/scala/org/apache/gluten/execution/VeloxResizeBatchesExec.scala
  backends-velox/src/main/scala/org/apache/spark/api/python/ColumnarArrowEvalPythonExec.scala
  backends-velox/src/main/scala/org/apache/spark/sql/execution/ColumnarCachedBatchSerializer.scala
  gluten-core/src/main/scala/org/apache/gluten/iterator/Iterators.scala
  gluten-core/src/main/scala/org/apache/gluten/iterator/IteratorsV1.scala
  gluten-core/src/main/scala/org/apache/spark/task/SparkTaskUtil.scala
  gluten-core/src/test/java/org/apache/gluten/memory/memtarget/spark/TreeMemoryConsumerTest.java
  gluten-core/src/test/scala/org/apache/gluten/iterator/IteratorSuite.scala
  gluten-core/src/test/scala/org/apache/gluten/task/TaskResourceSuite.scala
  gluten-core/src/test/scala/org/apache/spark/iterator/IteratorBenchmark.scala
  gluten-data/src/main/scala/org/apache/spark/sql/execution/ColumnarBuildSideRelation.scala
  gluten-data/src/main/scala/org/apache/spark/sql/execution/utils/ExecUtil.scala
  gluten-substrait/pom.xml
  gluten-substrait/src/main/scala/org/apache/gluten/planner/plan/GlutenPlanModel.scala
Labels: CORE, VELOX

#7063 [GLUTEN-6589][CH] Fix alias name cause caseSensitive error on mergetree create
  backends-clickhouse/src/main/scala/org/apache/spark/sql/delta/catalog/ClickHouseTableV2Base.scala
  backends-clickhouse/src/main/scala/org/apache/spark/sql/execution/datasources/v1/clickhouse/MergeTreeFileFormatWriter.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/hive/GlutenClickHouseHiveTableSuite.scala
Labels: CLICKHOUSE

#7094 [GLUTEN-6809][CH] Support function unix_seconds/unix_date/unix_micros/unix_millis
  backends-clickhouse/src/main/scala/org/apache/gluten/utils/CHExpressionUtil.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenFunctionValidateSuite.scala
  cpp-ch/local-engine/Parser/scalar_function_parser/CommonScalarFunctionParser.cpp
  gluten-ut/spark32/src/test/scala/org/apache/gluten/utils/clickhouse/ClickHouseTestSettings.scala
  gluten-ut/spark33/src/test/scala/org/apache/gluten/utils/clickhouse/ClickHouseTestSettings.scala
  gluten-ut/spark34/src/test/scala/org/apache/gluten/utils/clickhouse/ClickHouseTestSettings.scala
  gluten-ut/spark35/src/test/scala/org/apache/gluten/utils/clickhouse/ClickHouseTestSettings.scala
Labels: CORE, CLICKHOUSE

#6713 [VL] Remove Spark tokenizer
  cpp/velox/CMakeLists.txt
  cpp/velox/compute/VeloxBackend.cc
  cpp/velox/operators/functions/SparkTokenizer.cc
  cpp/velox/operators/functions/SparkTokenizer.h
  cpp/velox/substrait/SubstraitToVeloxPlan.cc
Labels: VELOX

#7067 [GLUTEN-7068][CORE] Fix issue updating leaf input metrics
  backends-velox/src/test/scala/org/apache/gluten/execution/VeloxMetricsSuite.scala
  gluten-substrait/src/main/scala/org/apache/gluten/execution/WholeStageTransformer.scala
  gluten-substrait/src/test/scala/org/apache/spark/sql/TestUtils.scala
Labels: CORE, VELOX

#6712 [V] Remove complex type fallback for parquet
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxBackend.scala
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxSparkPlanExecApi.scala
  backends-velox/src/main/scala/org/apache/gluten/expression/ExpressionTransformer.scala
  backends-velox/src/test/scala/org/apache/gluten/execution/MiscOperatorSuite.scala
  backends-velox/src/test/scala/org/apache/gluten/execution/VeloxParquetDataTypeValidationSuite.scala
  gluten-substrait/src/main/scala/org/apache/gluten/expression/ExpressionConverter.scala
Labels: CORE, VELOX

#7117 [GLUTEN-7118][VL] Fix duckdb target issue when vcpkg is enabled
  dev/package-vcpkg.sh
  dev/vcpkg/Makefile
  dev/vcpkg/ports/duckdb/portfile.cmake
  dev/vcpkg/ports/duckdb/vcpkg.json
Labels: BUILD

#7113 [GLUTEN-5880][CORE] Ignore fallback for ColumnarWriteFilesExec children
  gluten-substrait/src/main/scala/org/apache/spark/sql/execution/ColumnarWriteFilesExec.scala
  gluten-substrait/src/main/scala/org/apache/spark/sql/execution/GlutenExplainUtils.scala
  gluten-substrait/src/main/scala/org/apache/spark/sql/execution/GlutenImplicits.scala
  gluten-ut/spark34/src/test/scala/org/apache/spark/sql/sources/GlutenInsertSuite.scala
  gluten-ut/spark35/src/test/scala/org/apache/spark/sql/sources/GlutenInsertSuite.scala
Labels: CORE

#7093 [GLUTEN-6813][CH] Support soundex function
  backends-clickhouse/src/main/scala/org/apache/gluten/utils/CHExpressionUtil.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/tpch/GlutenClickHouseTPCHSaltNullParquetSuite.scala
  cpp-ch/local-engine/Parser/scalar_function_parser/CommonScalarFunctionParser.cpp
  gluten-ut/spark32/src/test/scala/org/apache/gluten/utils/clickhouse/ClickHouseTestSettings.scala
  gluten-ut/spark33/src/test/scala/org/apache/gluten/utils/clickhouse/ClickHouseTestSettings.scala
  gluten-ut/spark34/src/test/scala/org/apache/gluten/utils/clickhouse/ClickHouseTestSettings.scala
  gluten-ut/spark35/src/test/scala/org/apache/gluten/utils/clickhouse/ClickHouseTestSettings.scala
Labels: CORE, CLICKHOUSE

#7121 [GLUTEN-6748][CORE] Search stack trace to infer adaptive execution context
  gluten-substrait/src/main/scala/org/apache/gluten/extension/columnar/enumerated/EnumeratedApplier.scala
  gluten-substrait/src/main/scala/org/apache/gluten/extension/columnar/heuristic/HeuristicApplier.scala
  gluten-substrait/src/main/scala/org/apache/gluten/extension/columnar/util/AdaptiveContext.scala
Labels: CORE

#6942 [GLUTEN-6571][VL] Add platform and arch subdirectory for base lib package
  backends-velox/pom.xml
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxListenerApi.scala
  backends-velox/src/main/scala/org/apache/gluten/utils/SharedLibraryLoaderCentos7.scala
  backends-velox/src/main/scala/org/apache/gluten/utils/SharedLibraryLoaderCentos8.scala
  backends-velox/src/main/scala/org/apache/gluten/utils/SharedLibraryLoaderCentos9.scala
  backends-velox/src/main/scala/org/apache/gluten/utils/SharedLibraryLoaderDebian11.scala
  backends-velox/src/main/scala/org/apache/gluten/utils/SharedLibraryLoaderDebian12.scala
  backends-velox/src/main/scala/org/apache/gluten/utils/SharedLibraryLoaderUbuntu2004.scala
  backends-velox/src/main/scala/org/apache/gluten/utils/SharedLibraryLoaderUbuntu2204.scala
  dev/buildbundle-veloxbe.sh
  gluten-substrait/src/main/java/org/apache/gluten/vectorized/JniLibLoader.java
  pom.xml
Labels: CORE, BUILD, VELOX

#6869 [GLUTEN-6863][VL] Pre-alloc and reuse compress buffer to avoid OOM in spill
  cpp/core/jni/JniWrapper.cc
  cpp/core/shuffle/LocalPartitionWriter.cc
  cpp/core/shuffle/LocalPartitionWriter.h
  cpp/core/shuffle/Options.h
  cpp/core/shuffle/PartitionWriter.h
  cpp/core/shuffle/Payload.cc
  cpp/core/shuffle/Payload.h
  cpp/core/shuffle/rss/RssPartitionWriter.cc
  cpp/core/shuffle/rss/RssPartitionWriter.h
  cpp/velox/shuffle/VeloxHashShuffleWriter.cc
  cpp/velox/shuffle/VeloxRssSortShuffleWriter.cc
  cpp/velox/shuffle/VeloxShuffleReader.cc
  cpp/velox/shuffle/VeloxShuffleReader.h
  cpp/velox/shuffle/VeloxSortShuffleWriter.cc
  cpp/velox/shuffle/VeloxSortShuffleWriter.h
  cpp/velox/tests/VeloxShuffleWriterTest.cc
  cpp/velox/utils/tests/MemoryPoolUtils.cc
  cpp/velox/utils/tests/VeloxShuffleWriterTestBase.h
  gluten-celeborn/common/src/main/scala/org/apache/spark/shuffle/CelebornColumnarShuffleWriter.scala
  gluten-celeborn/velox/src/main/scala/org/apache/spark/shuffle/VeloxCelebornColumnarShuffleWriter.scala
  gluten-data/src/main/java/org/apache/gluten/vectorized/ShuffleWriterJniWrapper.java
  gluten-data/src/main/scala/org/apache/spark/shuffle/ColumnarShuffleWriter.scala
  gluten-substrait/src/main/scala/org/apache/spark/shuffle/GlutenShuffleUtils.scala
  gluten-uniffle/velox/src/main/java/org/apache/spark/shuffle/writer/VeloxUniffleColumnarShuffleWriter.java
  shims/common/src/main/scala/org/apache/gluten/GlutenConfig.scala
Labels: CORE, VELOX, RSS

#7132 [GLUTEN-7130][CORE] Skip command execution when collect qe fallback summary
  gluten-substrait/src/main/scala/org/apache/spark/sql/execution/GlutenImplicits.scala
Labels: CORE

#7134 [GLUTEN-7031][CORE] Move JNI / exception utilities to gluten-core
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHListenerApi.scala
  backends-clickhouse/src/test/scala/org/apache/spark/sql/execution/benchmarks/CHSqlBasedBenchmark.scala
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxListenerApi.scala
  backends-velox/src/main/scala/org/apache/gluten/utils/SharedLibraryLoader.scala
  backends-velox/src/main/scala/org/apache/gluten/utils/SharedLibraryLoaderCentos7.scala
  backends-velox/src/main/scala/org/apache/gluten/utils/SharedLibraryLoaderCentos8.scala
  backends-velox/src/main/scala/org/apache/gluten/utils/SharedLibraryLoaderCentos9.scala
  backends-velox/src/main/scala/org/apache/gluten/utils/SharedLibraryLoaderDebian11.scala
  backends-velox/src/main/scala/org/apache/gluten/utils/SharedLibraryLoaderDebian12.scala
  backends-velox/src/main/scala/org/apache/gluten/utils/SharedLibraryLoaderUbuntu2004.scala
  backends-velox/src/main/scala/org/apache/gluten/utils/SharedLibraryLoaderUbuntu2204.scala
  backends-velox/src/main/scala/org/apache/spark/sql/expression/UDFResolver.scala
  gluten-core/src/main/java/org/apache/gluten/exception/GlutenException.java
  gluten-core/src/main/java/org/apache/gluten/jni/JniLibLoader.java
  gluten-core/src/main/java/org/apache/gluten/jni/JniWorkspace.java
  gluten-core/src/main/java/org/apache/spark/util/SparkDirectoryUtil.scala
  gluten-core/src/main/java/org/apache/spark/util/SparkShutdownManagerUtil.scala
  gluten-data/src/main/java/org/apache/gluten/init/NativeBackendInitializer.java
  gluten-substrait/src/main/java/org/apache/gluten/vectorized/JniResourceHelper.java
  gluten-ut/spark32/src/test/scala/org/apache/spark/sql/execution/benchmarks/ParquetReadBenchmark.scala
  gluten-ut/spark33/src/test/scala/org/apache/spark/sql/execution/benchmarks/ParquetReadBenchmark.scala
  gluten-ut/spark34/src/test/scala/org/apache/spark/sql/execution/benchmarks/ParquetReadBenchmark.scala
  gluten-ut/spark35/src/test/scala/org/apache/spark/sql/execution/benchmarks/ParquetReadBenchmark.scala
Labels: CORE, VELOX, CLICKHOUSE

#7135 [VL] CI: Run Q97 oom test but ignore the failure
  .github/workflows/velox_backend.yml
Labels: INFRA

#7133 [VL] New option to follow vanilla Spark's build side in shuffled hash join
  docs/Configuration.md
  gluten-substrait/src/main/scala/org/apache/gluten/extension/columnar/OffloadSingleNode.scala
  shims/common/src/main/scala/org/apache/gluten/GlutenConfig.scala
Labels: CORE, DOCS

#7129 [VL] Minor follow-ups for #6942
  backends-velox/pom.xml
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxListenerApi.scala
  package/pom.xml
Labels: CORE, VELOX

#7140 [CH] Add package with spark 3.5
  ep/build-clickhouse/src/package.sh
Labels: CLICKHOUSE

#7029 [GLUTEN-7028][CH][Part-1] Using `PushingPipelineExecutor` to write merge tree
  cpp-ch/local-engine/Builder/SerializedPlanBuilder.h
  cpp-ch/local-engine/CMakeLists.txt
  cpp-ch/local-engine/Common/CHUtil.cpp
  cpp-ch/local-engine/Common/CHUtil.h
  cpp-ch/local-engine/Common/GlutenConfig.h
  cpp-ch/local-engine/Common/GlutenSettings.h
  cpp-ch/local-engine/Common/QueryContext.cpp
  cpp-ch/local-engine/Common/QueryContext.h
  cpp-ch/local-engine/Parser/MergeTreeRelParser.cpp
  cpp-ch/local-engine/Parser/MergeTreeRelParser.h
  cpp-ch/local-engine/Parser/SerializedPlanParser.cpp
  cpp-ch/local-engine/Parser/SerializedPlanParser.h
  cpp-ch/local-engine/Parser/SubstraitParserUtils.cpp
  cpp-ch/local-engine/Parser/SubstraitParserUtils.h
  cpp-ch/local-engine/Parser/WriteRelParser.cpp
  cpp-ch/local-engine/Parser/WriteRelParser.h
  cpp-ch/local-engine/Storages/Cache/CacheManager.cpp
  cpp-ch/local-engine/Storages/Cache/CacheManager.h
  cpp-ch/local-engine/Storages/MergeTree/MergeSparkMergeTreeTask.cpp
  cpp-ch/local-engine/Storages/MergeTree/MergeSparkMergeTreeTask.h
  cpp-ch/local-engine/Storages/MergeTree/MetaDataHelper.cpp
  cpp-ch/local-engine/Storages/MergeTree/MetaDataHelper.h
  cpp-ch/local-engine/Storages/MergeTree/SparkMergeTreeMeta.cpp
  cpp-ch/local-engine/Storages/MergeTree/SparkMergeTreeMeta.h
  cpp-ch/local-engine/Storages/MergeTree/SparkMergeTreeSink.cpp
  cpp-ch/local-engine/Storages/MergeTree/SparkMergeTreeSink.h
  cpp-ch/local-engine/Storages/MergeTree/SparkMergeTreeWriteSettings.cpp
  cpp-ch/local-engine/Storages/MergeTree/SparkMergeTreeWriteSettings.h
  cpp-ch/local-engine/Storages/MergeTree/SparkMergeTreeWriter.cpp
  cpp-ch/local-engine/Storages/MergeTree/SparkMergeTreeWriter.h
  cpp-ch/local-engine/Storages/MergeTree/SparkStorageMergeTree.cpp
  cpp-ch/local-engine/Storages/MergeTree/SparkStorageMergeTree.h
  cpp-ch/local-engine/Storages/MergeTree/StorageMergeTreeFactory.cpp
  cpp-ch/local-engine/Storages/MergeTree/StorageMergeTreeFactory.h
  cpp-ch/local-engine/Storages/Mergetree/SparkMergeTreeWriter.cpp
  cpp-ch/local-engine/Storages/Mergetree/SparkMergeTreeWriter.h
  cpp-ch/local-engine/local_engine_jni.cpp
  cpp-ch/local-engine/tests/benchmark_local_engine.cpp
  cpp-ch/local-engine/tests/benchmark_spark_divide_function.cpp
  cpp-ch/local-engine/tests/decimal_filter_push_down/18_2.json
  cpp-ch/local-engine/tests/decimal_filter_push_down/18_2_flba.snappy.parquet
  cpp-ch/local-engine/tests/gluten_test_util.cpp
  cpp-ch/local-engine/tests/gluten_test_util.h
  cpp-ch/local-engine/tests/gtest_ch_join.cpp
  cpp-ch/local-engine/tests/gtest_ch_storages.cpp
  cpp-ch/local-engine/tests/gtest_clickhouse_pr_verify.cpp
  cpp-ch/local-engine/tests/gtest_local_engine.cpp
  cpp-ch/local-engine/tests/gtest_parquet_columnindex_bug.cpp
  cpp-ch/local-engine/tests/gtest_parser.cpp
  cpp-ch/local-engine/tests/gtest_write_pipeline.cpp
  cpp-ch/local-engine/tests/json/gtest_local_engine_config.json
  cpp-ch/local-engine/tests/json/mergetree/1_mergetree.json
  cpp-ch/local-engine/tests/json/mergetree/1_mergetree_hdfs.json
  cpp-ch/local-engine/tests/json/mergetree/1_plan.json
  cpp-ch/local-engine/tests/testConfig.h.in
Labels: CLICKHOUSE

#7123 [GLUTEN-4039][VL] Support array insert function for spark 3.4+
  backends-velox/src/test/scala/org/apache/gluten/execution/ScalarFunctionsValidateSuite.scala
  gluten-substrait/src/main/scala/org/apache/gluten/expression/ExpressionConverter.scala
  shims/common/src/main/scala/org/apache/gluten/expression/ExpressionNames.scala
  shims/common/src/main/scala/org/apache/gluten/sql/shims/SparkShims.scala
  shims/spark34/src/main/scala/org/apache/gluten/sql/shims/spark34/Spark34Shims.scala
  shims/spark35/src/main/scala/org/apache/gluten/sql/shims/spark35/Spark35Shims.scala
Labels: CORE, VELOX

#7122 [GLUTEN-7032][CH] Fix incorrect result using timestamp in-filter
  backends-clickhouse/src/test/resources/csv-data/filter_timestamp.csv
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenClickHouseFileFormatSuite.scala
  cpp-ch/clickhouse.version
  cpp-ch/local-engine/Common/CHUtil.cpp
Labels: CLICKHOUSE

#7115 [GLUTEN-7004][CORE] Bump Spark version to 3.4.3
  .github/workflows/util/install_spark_resources.sh
  .github/workflows/velox_backend.yml
  docs/get-started/Velox.md
  docs/get-started/build-guide.md
  gluten-ut/spark34/src/test/scala/org/apache/gluten/utils/velox/VeloxTestSettings.scala
  pom.xml
  shims/spark34/src/main/scala/org/apache/gluten/sql/shims/spark34/SparkShimProvider.scala
  tools/gluten-it/pom.xml
  tools/gluten-te/centos/dockerfile-buildenv
  tools/gluten-te/ubuntu/dockerfile-buildenv
Labels: CORE, INFRA, TOOLS, DOCS

#7124 [VL] Fix function `input_file_name()` outputs empty string in certain query plan patterns
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxBackend.scala
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxRuleApi.scala
  backends-velox/src/test/scala/org/apache/gluten/execution/ScalarFunctionsValidateSuite.scala
  gluten-substrait/src/main/scala/org/apache/gluten/backendsapi/BackendSettingsApi.scala
  gluten-substrait/src/main/scala/org/apache/gluten/extension/columnar/MiscColumnarRules.scala
  gluten-substrait/src/main/scala/org/apache/gluten/extension/columnar/OffloadSingleNode.scala
  gluten-substrait/src/main/scala/org/apache/gluten/extension/columnar/PushDownInputFileExpression.scala
Labels: CORE, VELOX

#7137 [GLUTEN-1632][CH]Daily Update Clickhouse Version (20240906)
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenClickHouseMergeTreeCacheDataSSuite.scala
  cpp-ch/clickhouse.version
  cpp-ch/local-engine/Parser/MergeTreeRelParser.cpp
  cpp-ch/local-engine/Storages/Cache/CacheManager.cpp
  cpp-ch/local-engine/Storages/MergeTree/SparkMergeTreeMeta.cpp
  cpp-ch/local-engine/Storages/MergeTree/SparkStorageMergeTree.h
Labels: CLICKHOUSE

#7146 [GLUTEN-7144][VL][RAS] Spark input file function support
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxRuleApi.scala
  backends-velox/src/test/scala/org/apache/gluten/execution/ScalarFunctionsValidateSuite.scala
  gluten-substrait/src/main/scala/org/apache/gluten/extension/columnar/enumerated/RasOffloadProject.scala
Labels: CORE, VELOX

#6835 [GLUTEN-6834][CORE] feat: add other join types from the official Substrait
  backends-clickhouse/src/main/scala/org/apache/gluten/execution/CHHashJoinExecTransformer.scala
  backends-velox/src/main/scala/org/apache/gluten/execution/ShuffledHashJoinExecTransformer.scala
  cpp-ch/local-engine/Common/CHUtil.cpp
  cpp-ch/local-engine/Parser/JoinRelParser.cpp
  cpp/velox/substrait/SubstraitToVeloxPlan.cc
  cpp/velox/substrait/SubstraitToVeloxPlanValidator.cc
  gluten-substrait/src/main/resources/substrait/proto/substrait/algebra.proto
  gluten-substrait/src/main/scala/org/apache/gluten/execution/SortMergeJoinExecTransformer.scala
  gluten-substrait/src/main/scala/org/apache/gluten/utils/SubstraitUtil.scala
Labels: CORE, VELOX, CLICKHOUSE

#7150 [GLUTEN-7148][CORE] Remove duplicated plan change log on TransformPreOverrides rule
  gluten-substrait/src/main/scala/org/apache/gluten/extension/columnar/MiscColumnarRules.scala
Labels: CORE

#7156 [GLUTEN-7155][CH] Fix bucket table create error by mergetree
  backends-clickhouse/src/main/scala/org/apache/spark/sql/execution/datasources/v1/clickhouse/MergeTreeFileFormatWriter.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/hive/GlutenClickHouseHiveTableSuite.scala
Labels: CLICKHOUSE

#7147 [CH] Refactor: Move SerializedPlanParser::global_context to QueryContext
  cpp-ch/local-engine/Common/CHUtil.cpp
  cpp-ch/local-engine/Common/CHUtil.h
  cpp-ch/local-engine/Common/QueryContext.cpp
  cpp-ch/local-engine/Common/QueryContext.h
  cpp-ch/local-engine/Disks/ObjectStorages/GlutenDiskHDFS.cpp
  cpp-ch/local-engine/Disks/ObjectStorages/GlutenDiskS3.cpp
  cpp-ch/local-engine/Disks/ObjectStorages/GlutenDiskS3.h
  cpp-ch/local-engine/Parser/CrossRelParser.cpp
  cpp-ch/local-engine/Parser/ExpandRelParser.cpp
  cpp-ch/local-engine/Parser/ExpandRelParser.h
  cpp-ch/local-engine/Parser/MergeTreeRelParser.cpp
  cpp-ch/local-engine/Parser/MergeTreeRelParser.h
  cpp-ch/local-engine/Parser/RelMetric.cpp
  cpp-ch/local-engine/Parser/SerializedPlanParser.cpp
  cpp-ch/local-engine/Parser/SerializedPlanParser.h
  cpp-ch/local-engine/Parser/TypeParser.cpp
  cpp-ch/local-engine/Parser/TypeParser.h
  cpp-ch/local-engine/Parser/WriteRelParser.cpp
  cpp-ch/local-engine/Parser/example_udf/tests/gtest_my_add.cpp
  cpp-ch/local-engine/Parser/example_udf/tests/gtest_my_md5.cpp
  cpp-ch/local-engine/Rewriter/RelRewriter.h
  cpp-ch/local-engine/Shuffle/PartitionWriter.cpp
  cpp-ch/local-engine/Shuffle/PartitionWriter.h
  cpp-ch/local-engine/Shuffle/SelectorBuilder.cpp
  cpp-ch/local-engine/Storages/Cache/CacheManager.cpp
  cpp-ch/local-engine/Storages/Cache/CacheManager.h
  cpp-ch/local-engine/Storages/Cache/JobScheduler.cpp
  cpp-ch/local-engine/Storages/Cache/JobScheduler.h
  cpp-ch/local-engine/Storages/MergeTree/MetaDataHelper.cpp
  cpp-ch/local-engine/Storages/MergeTree/StorageMergeTreeFactory.cpp
  cpp-ch/local-engine/Storages/MergeTree/StorageMergeTreeFactory.h
  cpp-ch/local-engine/Storages/Output/FileWriterWrappers.cpp
  cpp-ch/local-engine/Storages/Output/FileWriterWrappers.h
  cpp-ch/local-engine/local_engine_jni.cpp
  cpp-ch/local-engine/tests/benchmark_cast_float_function.cpp
  cpp-ch/local-engine/tests/benchmark_local_engine.cpp
  cpp-ch/local-engine/tests/benchmark_parquet_read.cpp
  cpp-ch/local-engine/tests/benchmark_spark_divide_function.cpp
  cpp-ch/local-engine/tests/benchmark_spark_floor_function.cpp
  cpp-ch/local-engine/tests/benchmark_spark_row.cpp
  cpp-ch/local-engine/tests/benchmark_to_datetime_function.cpp
  cpp-ch/local-engine/tests/benchmark_unix_timestamp_function.cpp
  cpp-ch/local-engine/tests/gluten_test_util.cpp
  cpp-ch/local-engine/tests/gluten_test_util.h
  cpp-ch/local-engine/tests/gtest_ch_functions.cpp
  cpp-ch/local-engine/tests/gtest_ch_join.cpp
  cpp-ch/local-engine/tests/gtest_ch_storages.cpp
  cpp-ch/local-engine/tests/gtest_clickhouse_pr_verify.cpp
  cpp-ch/local-engine/tests/gtest_parquet_columnindex.cpp
  cpp-ch/local-engine/tests/gtest_parquet_columnindex_bug.cpp
  cpp-ch/local-engine/tests/gtest_parser.cpp
  cpp-ch/local-engine/tests/gtest_write_pipeline.cpp
Labels: CLICKHOUSE

#7158 Revert "[GLUTEN-6930][VL] Print memory statistics during task ending when leak is found"
  gluten-data/src/main/scala/org/apache/gluten/runtime/Runtime.scala
Labels: VELOX

#7162 [VL] CI: In GHA CI, set timeout for Q97 OOM job
  .github/workflows/velox_backend.yml
Labels: INFRA

#7027 [GLUTEN-7023][CH] Shade dependency jars
  backends-clickhouse/pom.xml
  docs/get-started/ClickHouse.md
  ep/build-clickhouse/src/package.sh
Labels: CLICKHOUSE, DOCS

#7163 [VL] Fix weekly build job failure
  cpp/velox/tests/VeloxShuffleWriterTest.cc
  dev/package.sh
Labels: BUILD, VELOX

#7142 [GLUTEN-7112][CH] Pushdown aggregation's pre-projection ahead expand node
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHBackend.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHRuleApi.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/extension/PushdownAggregatePreProjectionAheadExpand.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenClickHouseTPCHSuite.scala
Labels: CLICKHOUSE

#7175 [CH] Minor, update package.sh
  ep/build-clickhouse/src/package.sh
Labels: CLICKHOUSE

#7048 [GLUTEN-6808][CH] support function arrays_zip
  backends-clickhouse/src/main/scala/org/apache/gluten/utils/CHExpressionUtil.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenFunctionValidateSuite.scala
  cpp-ch/local-engine/Parser/scalar_function_parser/CommonScalarFunctionParser.cpp
Labels: CLICKHOUSE

#7165 [GLUTEN-7164][VL] Disable background IO threads by default
  .github/workflows/velox_backend.yml
  backends-velox/src/test/java/org/apache/gluten/test/VeloxBackendTestBase.java
  cpp/velox/compute/VeloxBackend.cc
  gluten-ut/spark32/src/test/scala/org/apache/gluten/utils/velox/VeloxTestSettings.scala
  gluten-ut/spark32/src/test/scala/org/apache/spark/sql/execution/datasources/parquet/GlutenParquetFilterSuite.scala
  gluten-ut/spark33/src/test/scala/org/apache/gluten/utils/velox/VeloxTestSettings.scala
  gluten-ut/spark33/src/test/scala/org/apache/spark/sql/execution/datasources/parquet/GlutenParquetFilterSuite.scala
  gluten-ut/spark34/src/test/scala/org/apache/gluten/utils/velox/VeloxTestSettings.scala
  gluten-ut/spark34/src/test/scala/org/apache/spark/sql/execution/datasources/parquet/GlutenParquetFilterSuite.scala
  gluten-ut/spark35/src/test/scala/org/apache/gluten/utils/velox/VeloxTestSettings.scala
  gluten-ut/spark35/src/test/scala/org/apache/spark/sql/execution/datasources/parquet/GlutenParquetFilterSuite.scala
  shims/common/src/main/scala/org/apache/gluten/GlutenConfig.scala
Labels: CORE, VELOX, INFRA

#7182 [VL][CI] Upgrade GHA upload/download artifacts
  .github/workflows/velox_backend.yml
Labels: INFRA

#7184 [VL][MINOR] Allow build_gluten_cpp read custom velox home
  dev/builddeps-veloxbe.sh
Labels: BUILD

#7187 [GLUTEN-7177][CH] Fix read hdfs performance issue
  cpp-ch/local-engine/Common/CHUtil.cpp
Labels: CLICKHOUSE

#7185 [GLUTEN-7179][CH] Fix infinite loop with parquet column index reader
  cpp-ch/local-engine/Storages/Parquet/ColumnIndexFilter.cpp
  cpp-ch/local-engine/tests/gtest_parquet_columnindex.cpp
Labels: CLICKHOUSE

#6723 [CH] Shuffle writer connects to CH pipeline
  backends-clickhouse/src/main/java/org/apache/gluten/vectorized/BlockOutputStream.java
  backends-clickhouse/src/main/java/org/apache/gluten/vectorized/CHShuffleSplitterJniWrapper.java
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHIteratorApi.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHRuleApi.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/vectorized/CHColumnarBatchSerializer.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/vectorized/CHSplitResult.java
  backends-clickhouse/src/main/scala/org/apache/spark/shuffle/CHColumnarShuffleWriter.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenClickHouseColumnarShuffleAQESuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenClickHouseDeltaParquetWriteSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/compatibility/GlutenClickhouseFunctionSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/metrics/GlutenClickHouseTPCHMetricsSuite.scala
  cpp-ch/local-engine/Common/QueryContext.cpp
  cpp-ch/local-engine/Common/common.cpp
  cpp-ch/local-engine/Operator/DefaultHashAggregateResult.cpp
  cpp-ch/local-engine/Parser/InputFileNameParser.cpp
  cpp-ch/local-engine/Parser/InputFileNameParser.h
  cpp-ch/local-engine/Parser/LocalExecutor.cpp
  cpp-ch/local-engine/Parser/LocalExecutor.h
  cpp-ch/local-engine/Parser/MergeTreeRelParser.cpp
  cpp-ch/local-engine/Parser/SerializedPlanParser.cpp
  cpp-ch/local-engine/Parser/SerializedPlanParser.h
  cpp-ch/local-engine/Parser/SparkRowToCHColumn.cpp
  cpp-ch/local-engine/Shuffle/CachedShuffleWriter.cpp
  cpp-ch/local-engine/Shuffle/CachedShuffleWriter.h
  cpp-ch/local-engine/Shuffle/PartitionWriter.cpp
  cpp-ch/local-engine/Shuffle/PartitionWriter.h
  cpp-ch/local-engine/Shuffle/ShuffleCommon.h
  cpp-ch/local-engine/Shuffle/ShuffleWriterBase.h
  cpp-ch/local-engine/Shuffle/SparkExchangeSink.cpp
  cpp-ch/local-engine/Shuffle/SparkExchangeSink.h
  cpp-ch/local-engine/Storages/SourceFromJavaIter.cpp
  cpp-ch/local-engine/Storages/SourceFromJavaIter.h
  cpp-ch/local-engine/Storages/SubstraitSource/SubstraitFileSource.cpp
  cpp-ch/local-engine/Storages/SubstraitSource/SubstraitFileSource.h
  cpp-ch/local-engine/local_engine_jni.cpp
  cpp-ch/local-engine/tests/benchmark_local_engine.cpp
  gluten-celeborn/clickhouse/src/main/scala/org/apache/spark/shuffle/CHCelebornColumnarBatchSerializer.scala
  gluten-celeborn/clickhouse/src/main/scala/org/apache/spark/shuffle/CHCelebornColumnarShuffleWriter.scala
  gluten-celeborn/common/src/main/scala/org/apache/spark/shuffle/CelebornColumnarShuffleWriter.scala
  gluten-celeborn/velox/src/main/scala/org/apache/spark/shuffle/VeloxCelebornColumnarShuffleWriter.scala
Labels: RSS, CLICKHOUSE

#7102 [GLUTEN-7100][CH] support function timestamp_seconds/timestamp_millis/timestamp_micros
  backends-clickhouse/src/main/scala/org/apache/gluten/utils/CHExpressionUtil.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenFunctionValidateSuite.scala
  cpp-ch/local-engine/Parser/scalar_function_parser/CommonScalarFunctionParser.cpp
  cpp-ch/local-engine/Parser/scalar_function_parser/timestampSeconds.cpp
  gluten-substrait/src/main/scala/org/apache/gluten/expression/ExpressionMappings.scala
  gluten-ut/spark32/src/test/scala/org/apache/gluten/utils/clickhouse/ClickHouseTestSettings.scala
  gluten-ut/spark33/src/test/scala/org/apache/gluten/utils/clickhouse/ClickHouseTestSettings.scala
  gluten-ut/spark34/src/test/scala/org/apache/gluten/utils/clickhouse/ClickHouseTestSettings.scala
  gluten-ut/spark35/src/test/scala/org/apache/gluten/utils/clickhouse/ClickHouseTestSettings.scala
  shims/common/src/main/scala/org/apache/gluten/expression/ExpressionNames.scala
Labels: CORE, CLICKHOUSE

#7189 [MINOR][BUILD] Extract gcc version from libgluten.so
  dev/gluten-build-info.sh
Labels: BUILD

#7192 [CH] Fix load cache missing columns
  backends-clickhouse/src/main/scala/org/apache/spark/rpc/GlutenExecutorEndpoint.scala
  backends-clickhouse/src/main/scala/org/apache/spark/sql/execution/commands/GlutenCHCacheDataCommand.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenClickHouseMergeTreeCacheDataSuite.scala
  gluten-substrait/src/main/java/org/apache/gluten/substrait/rel/ExtensionTableBuilder.java
Labels: CORE, CLICKHOUSE

#7186 [VL] Make conf option `s.g.s.c.shuffledHashJoin.optimizeBuildSide` work correctly with option `s.g.s.c.forceShuffledHashJoin`
  gluten-substrait/src/main/scala/org/apache/gluten/extension/columnar/FallbackRules.scala
  gluten-substrait/src/main/scala/org/apache/gluten/extension/columnar/OffloadSingleNode.scala
  gluten-substrait/src/main/scala/org/apache/gluten/extension/columnar/rewrite/RewriteJoin.scala
Labels: CORE

#7197 [MINOR] Duplicate extends SparkPlan
  gluten-substrait/src/main/scala/org/apache/gluten/execution/BasicPhysicalOperatorTransformer.scala
  gluten-ut/common/src/test/scala/org/apache/spark/sql/DummyFilterColmnarHelper.scala
Labels: CORE

#7195 [VL] Add tests for Velox SMJ's coverage
  gluten-ut/spark35/src/test/scala/org/apache/gluten/utils/clickhouse/ClickHouseTestSettings.scala
  gluten-ut/spark35/src/test/scala/org/apache/gluten/utils/velox/VeloxTestSettings.scala
  gluten-ut/spark35/src/test/scala/org/apache/spark/sql/execution/joins/GlutenInnerJoinSuite.scala
  gluten-ut/spark35/src/test/scala/org/apache/spark/sql/execution/joins/GlutenOuterJoinSuite.scala
Labels: CORE

#7176 [GLUTEN-7087][CH] Support `WindowGroupLimitExec`
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHBackend.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHSparkPlanExecApi.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/execution/CHWindowGroupLimitExecTransformer.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenClickHouseTPCDSAbstractSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/tpch/GlutenClickHouseTPCHSaltNullParquetSuite.scala
  cpp-ch/local-engine/Common/CHUtil.cpp
  cpp-ch/local-engine/Operator/ReplicateRowsStep.cpp
  cpp-ch/local-engine/Operator/WindowGroupLimitStep.cpp
  cpp-ch/local-engine/Operator/WindowGroupLimitStep.h
  cpp-ch/local-engine/Parser/AdvancedParametersParseUtil.cpp
  cpp-ch/local-engine/Parser/AdvancedParametersParseUtil.h
  cpp-ch/local-engine/Parser/RelParser.cpp
  cpp-ch/local-engine/Parser/SerializedPlanParser.cpp
  cpp-ch/local-engine/Parser/WindowGroupLimitRelParser.cpp
  cpp-ch/local-engine/Parser/WindowGroupLimitRelParser.h
  gluten-substrait/src/main/scala/org/apache/gluten/backendsapi/SparkPlanExecApi.scala
  gluten-substrait/src/main/scala/org/apache/gluten/extension/columnar/OffloadSingleNode.scala
Labels: CORE, CLICKHOUSE

#7204 [GLUTEN-7202][CH] Fix: local executor cannot dump pipeline stats
  cpp-ch/local-engine/Parser/LocalExecutor.cpp
Labels: CLICKHOUSE

#7193 [GLUTEN-7145][CH][PART]refactor for rel parsers
  cpp-ch/local-engine/CMakeLists.txt
  cpp-ch/local-engine/Common/CHUtil.cpp
  cpp-ch/local-engine/Join/BroadCastJoinBuilder.cpp
  cpp-ch/local-engine/Parser/AggregateFunctionParser.cpp
  cpp-ch/local-engine/Parser/RelParsers/AggregateRelParser.cpp
  cpp-ch/local-engine/Parser/RelParsers/AggregateRelParser.h
  cpp-ch/local-engine/Parser/RelParsers/CrossRelParser.cpp
  cpp-ch/local-engine/Parser/RelParsers/CrossRelParser.h
  cpp-ch/local-engine/Parser/RelParsers/ExpandRelParser.cpp
  cpp-ch/local-engine/Parser/RelParsers/ExpandRelParser.h
  cpp-ch/local-engine/Parser/RelParsers/FetchRelParser.cpp
  cpp-ch/local-engine/Parser/RelParsers/FilterRelParser.cpp
  cpp-ch/local-engine/Parser/RelParsers/FilterRelParser.h
  cpp-ch/local-engine/Parser/RelParsers/JoinRelParser.cpp
  cpp-ch/local-engine/Parser/RelParsers/JoinRelParser.h
  cpp-ch/local-engine/Parser/RelParsers/MergeTreeRelParser.cpp
  cpp-ch/local-engine/Parser/RelParsers/MergeTreeRelParser.h
  cpp-ch/local-engine/Parser/RelParsers/ProjectRelParser.cpp
  cpp-ch/local-engine/Parser/RelParsers/ProjectRelParser.h
  cpp-ch/local-engine/Parser/RelParsers/ReadRelParser.cpp
  cpp-ch/local-engine/Parser/RelParsers/ReadRelParser.h
  cpp-ch/local-engine/Parser/RelParsers/RelParser.cpp
  cpp-ch/local-engine/Parser/RelParsers/RelParser.h
  cpp-ch/local-engine/Parser/RelParsers/SortRelParser.cpp
  cpp-ch/local-engine/Parser/RelParsers/SortRelParser.h
  cpp-ch/local-engine/Parser/RelParsers/WindowGroupLimitRelParser.cpp
  cpp-ch/local-engine/Parser/RelParsers/WindowGroupLimitRelParser.h
  cpp-ch/local-engine/Parser/RelParsers/WindowRelParser.cpp
  cpp-ch/local-engine/Parser/RelParsers/WindowRelParser.h
  cpp-ch/local-engine/Parser/RelParsers/WriteRelParser.cpp
  cpp-ch/local-engine/Parser/RelParsers/WriteRelParser.h
  cpp-ch/local-engine/Parser/SerializedPlanParser.cpp
  cpp-ch/local-engine/Parser/SerializedPlanParser.h
  cpp-ch/local-engine/Parser/TypeParser.cpp
  cpp-ch/local-engine/local_engine_jni.cpp
Labels: CLICKHOUSE

#7198 [VL] Fix ioWaitTime metrics for scan
  cpp/velox/compute/WholeStageResultIterator.cc
Labels: VELOX

#7206 [GLUTEN-7205] [VL] Optimize row to column for scalar type
  cpp/velox/operators/serializer/VeloxRowToColumnarConverter.cc
  cpp/velox/operators/serializer/VeloxRowToColumnarConverter.h
Labels: VELOX

#7211 [GLUTEN-6816][CH] support function zip_with with some minor refactors
  backends-clickhouse/src/main/scala/org/apache/gluten/utils/CHExpressionUtil.scala
  cpp-ch/local-engine/Parser/scalar_function_parser/arrayHighOrderFunctions.cpp
  cpp-ch/local-engine/Parser/scalar_function_parser/lambdaFunction.cpp
  gluten-ut/spark32/src/test/scala/org/apache/gluten/utils/clickhouse/ClickHouseTestSettings.scala
  gluten-ut/spark33/src/test/scala/org/apache/gluten/utils/clickhouse/ClickHouseTestSettings.scala
  gluten-ut/spark34/src/test/scala/org/apache/gluten/utils/clickhouse/ClickHouseTestSettings.scala
  gluten-ut/spark35/src/test/scala/org/apache/gluten/utils/clickhouse/ClickHouseTestSettings.scala
Labels: CORE, CLICKHOUSE

#7209 [GLUTEN-7208][VL]fix: loading libvelox.so failed when using static glog
  cpp/core/CMakeLists.txt
Labels: VELOX

#7219 [GLUTEN-6887][VL] Daily Update Velox Version (2024_09_13)
  ep/build-velox/src/get_velox.sh
Labels: BUILD, VELOX

#7225 [GLUTEN-7224][CH]Update doc for compiling ch backend
  cpp-ch/local-engine/docker/build.sh
  cpp-ch/local-engine/docker/image/Dockerfile
  cpp-ch/local-engine/docker/image/build.sh
  docs/get-started/ClickHouse.md
Labels: CLICKHOUSE, DOCS

#7227 [GLUTEN-7224][CH] update doc for compiling ch backend
  docs/get-started/ClickHouse.md
Labels: DOCS

#7188 [VL] Collapse project if scan is fallback and the outer project is cheap or fallback
  backends-velox/src/test/scala/org/apache/gluten/execution/ScalarFunctionsValidateSuite.scala
  gluten-substrait/src/main/scala/org/apache/gluten/extension/columnar/PushDownInputFileExpression.scala
Labels: CORE, VELOX

#7231 [CORE] Minor code cleanup for package object of `org.apache.gluten`
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHBackend.scala
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxBackend.scala
  gluten-core/src/main/scala/org/apache/gluten/GlutenBuildInfo.scala
  gluten-core/src/main/scala/org/apache/gluten/GlutenPlugin.scala
  gluten-core/src/main/scala/org/apache/gluten/gluten.scala
  gluten-substrait/src/test/scala/org/apache/gluten/execution/WholeStageTransformerSuite.scala
  gluten-ut/spark33/src/test/scala/org/apache/spark/sql/gluten/GlutenFallbackSuite.scala
  gluten-ut/spark34/src/test/scala/org/apache/spark/sql/gluten/GlutenFallbackSuite.scala
  gluten-ut/spark35/src/test/scala/org/apache/spark/sql/gluten/GlutenFallbackSuite.scala
Labels: CORE, VELOX, CLICKHOUSE

#7229 [VL] RAS: Avoid adding R2C whose schema contains complex data types
  backends-velox/src/test/scala/org/apache/gluten/execution/VeloxRoughCostModelSuite.scala
  gluten-substrait/src/main/scala/org/apache/gluten/planner/cost/LegacyCostModel.scala
  gluten-substrait/src/main/scala/org/apache/gluten/planner/cost/RoughCostModel.scala
Labels: CORE, VELOX

#7226 [GLUTEN-7222][CH] Fail to compile ch backend
  cpp-ch/local-engine/Parser/RelParsers/RelParser.cpp
Labels: CLICKHOUSE

#7207 [GLUTEN-7116] [CH] support outer explode
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHSparkPlanExecApi.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/execution/CHGenerateExecTransformer.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/expression/CHExpressionTransformer.scala
  backends-velox/src/main/scala/org/apache/gluten/execution/GenerateExecTransformer.scala
  cpp-ch/local-engine/Parser/RelParsers/ProjectRelParser.cpp
  gluten-substrait/src/main/java/org/apache/gluten/substrait/rel/GenerateRelNode.java
  gluten-substrait/src/main/java/org/apache/gluten/substrait/rel/RelBuilder.java
  gluten-substrait/src/main/scala/org/apache/gluten/backendsapi/SparkPlanExecApi.scala
  gluten-substrait/src/main/scala/org/apache/gluten/expression/ExpressionConverter.scala
  gluten-ut/spark32/src/test/scala/org/apache/spark/sql/hive/execution/GlutenHiveSQLQueryCHSuite.scala
  gluten-ut/spark33/src/test/scala/org/apache/spark/sql/hive/execution/GlutenHiveSQLQueryCHSuite.scala
  gluten-ut/spark34/src/test/scala/org/apache/spark/sql/hive/execution/GlutenHiveSQLQueryCHSuite.scala
  gluten-ut/spark35/src/test/scala/org/apache/spark/sql/hive/execution/GlutenHiveSQLQueryCHSuite.scala
Labels: CORE, VELOX, CLICKHOUSE

#7230 [GLUTEN-7224][CH]Update ClickHouse.md
  docs/get-started/ClickHouse.md
Labels: DOCS

#7210 [GLUTEN-6805][CH] support function array_remove/array_repeat
  backends-clickhouse/src/main/scala/org/apache/gluten/utils/CHExpressionUtil.scala
  cpp-ch/local-engine/Parser/scalar_function_parser/arrayExcept.cpp
  cpp-ch/local-engine/Parser/scalar_function_parser/arrayRemove.cpp
  cpp-ch/local-engine/Parser/scalar_function_parser/arrayRepeat.cpp
  gluten-ut/spark32/src/test/scala/org/apache/gluten/utils/clickhouse/ClickHouseTestSettings.scala
  gluten-ut/spark33/src/test/scala/org/apache/gluten/utils/clickhouse/ClickHouseTestSettings.scala
  gluten-ut/spark34/src/test/scala/org/apache/gluten/utils/clickhouse/ClickHouseTestSettings.scala
  gluten-ut/spark35/src/test/scala/org/apache/gluten/utils/clickhouse/ClickHouseTestSettings.scala
Labels: CORE, CLICKHOUSE

#7245 [GLUTEN-7241][VL] Correct loaded libname in SharedLibraryLoader
  backends-velox/src/main/scala/org/apache/gluten/utils/SharedLibraryLoaderCentos7.scala
  backends-velox/src/main/scala/org/apache/gluten/utils/SharedLibraryLoaderCentos8.scala
  backends-velox/src/main/scala/org/apache/gluten/utils/SharedLibraryLoaderCentos9.scala
  backends-velox/src/main/scala/org/apache/gluten/utils/SharedLibraryLoaderDebian11.scala
  backends-velox/src/main/scala/org/apache/gluten/utils/SharedLibraryLoaderDebian12.scala
  backends-velox/src/main/scala/org/apache/gluten/utils/SharedLibraryLoaderUbuntu2004.scala
  backends-velox/src/main/scala/org/apache/gluten/utils/SharedLibraryLoaderUbuntu2204.scala
Labels: VELOX

#7239 [CH] Support rocksdb disk metadata
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenClickHouseMergeTreeWriteOnHDFSWithRocksDBMetaSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenClickHouseWholeStageTransformerSuite.scala
  cpp-ch/CMakeLists.txt
  cpp-ch/local-engine/Disks/ObjectStorages/CompactObjectStorageDiskTransaction.cpp
  cpp-ch/local-engine/Disks/ObjectStorages/MetadataStorageFromRocksDB.cpp
  cpp-ch/local-engine/Disks/ObjectStorages/MetadataStorageFromRocksDB.h
  cpp-ch/local-engine/Disks/ObjectStorages/MetadataStorageFromRocksDBTransactionOperations.cpp
  cpp-ch/local-engine/Disks/ObjectStorages/MetadataStorageFromRocksDBTransactionOperations.h
  cpp-ch/local-engine/Disks/registerGlutenDisks.cpp
  cpp-ch/local-engine/Storages/MergeTree/MetaDataHelper.cpp
  cpp-ch/local-engine/Storages/MergeTree/MetaDataHelper.h
Labels: CLICKHOUSE

#7244 [GLUTEN-7243][VL] Fix Q97 cross-task spilling hangs
  .github/workflows/velox_backend.yml
  cpp/velox/compute/WholeStageResultIterator.cc
  ep/build-velox/src/get_velox.sh
Labels: BUILD, VELOX, INFRA

#7248 [GLUTEN-7213][CORE] Make fallback reason for CheckOverflowInTableInsert clearer
  gluten-substrait/src/main/scala/org/apache/gluten/expression/ExpressionConverter.scala
  gluten-ut/test/src/test/scala/org/apache/gluten/expressions/GlutenExpressionMappingSuite.scala
  shims/common/src/main/scala/org/apache/gluten/expression/ExpressionNames.scala
  shims/spark34/src/main/scala/org/apache/gluten/sql/shims/spark34/Spark34Shims.scala
  shims/spark35/src/main/scala/org/apache/gluten/sql/shims/spark35/Spark35Shims.scala
Labels: CORE

#7235 [CH] Fix GlutenLiteralExpressionSuite and GlutenMathExpressionsSuite
  backends-clickhouse/src/main/scala/org/apache/gluten/utils/CHExpressionUtil.scala
  cpp-ch/local-engine/Parser/scalar_function_parser/CommonScalarFunctionParser.cpp
  cpp-ch/local-engine/Parser/scalar_function_parser/shift.cpp
  cpp-ch/local-engine/Parser/scalar_function_parser/shiftRightUnsigned.cpp
  gluten-ut/spark33/src/test/scala/org/apache/gluten/utils/clickhouse/ClickHouseTestSettings.scala
  gluten-ut/spark33/src/test/scala/org/apache/spark/sql/catalyst/expressions/GlutenLiteralExpressionSuite.scala
  gluten-ut/spark33/src/test/scala/org/apache/spark/sql/catalyst/expressions/GlutenMathExpressionsSuite.scala
Labels: CORE, CLICKHOUSE

#7221 [GLUTEN-7220][CH]Fix expand bug in grouping sets query
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/hive/GlutenClickHouseHiveTableSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/tpch/GlutenClickHouseTPCHSaltNullParquetSuite.scala
  cpp-ch/local-engine/Operator/DefaultHashAggregateResult.cpp
  cpp-ch/local-engine/Operator/ExpandStep.cpp
  cpp-ch/local-engine/Operator/ExpandTransform.cpp
  cpp-ch/local-engine/Operator/ExpandTransform.h
Labels: CLICKHOUSE

#7260 [GLUTEN-1632][CH]Daily Update Clickhouse Version (20240918)
  cpp-ch/clickhouse.version
  cpp-ch/local-engine/Common/CHUtil.cpp
  cpp-ch/local-engine/Disks/registerGlutenDisks.cpp
  cpp-ch/local-engine/Parser/LocalExecutor.cpp
  cpp-ch/local-engine/Parser/RelParsers/CrossRelParser.cpp
  cpp-ch/local-engine/Parser/RelParsers/ExpandRelParser.cpp
  cpp-ch/local-engine/Parser/RelParsers/FetchRelParser.cpp
  cpp-ch/local-engine/Parser/RelParsers/JoinRelParser.cpp
  cpp-ch/local-engine/Parser/RelParsers/ProjectRelParser.cpp
  cpp-ch/local-engine/Parser/RelParsers/ReadRelParser.cpp
  cpp-ch/local-engine/Parser/RelParsers/ReadRelParser.h
  cpp-ch/local-engine/Parser/RelParsers/RelParser.cpp
  cpp-ch/local-engine/Parser/RelParsers/RelParser.h
  cpp-ch/local-engine/Parser/RelParsers/WindowGroupLimitRelParser.h
  cpp-ch/local-engine/Parser/SerializedPlanParser.cpp
  cpp-ch/local-engine/Shuffle/PartitionWriter.h
  cpp-ch/local-engine/Shuffle/ShuffleCommon.cpp
  cpp-ch/local-engine/tests/gluten_test_util.cpp
  cpp-ch/local-engine/tests/gtest_ch_storages.cpp
  cpp-ch/local-engine/tests/gtest_clickhouse_pr_verify.cpp
  cpp-ch/local-engine/tests/gtest_local_engine.cpp
  cpp-ch/local-engine/tests/gtest_parquet_columnindex.cpp
  cpp-ch/local-engine/tests/gtest_parquet_columnindex_bug.cpp
  cpp-ch/local-engine/tests/gtest_parquet_read.cpp
  cpp-ch/local-engine/tests/gtest_parser.cpp
  cpp-ch/local-engine/tests/gtest_write_pipeline.cpp
Labels: CLICKHOUSE

#7277 [GLUTEN-7276][VL] Make fallback reason for GetStructField clearer
  backends-velox/src/main/scala/org/apache/gluten/expression/ExpressionTransformer.scala
Labels: VELOX

#7272 [GLUTEN-6887][VL] Daily Update Velox Version (2024_09_19)
  cpp/velox/compute/VeloxBackend.cc
  cpp/velox/memory/VeloxMemoryManager.cc
  cpp/velox/shuffle/VeloxRssSortShuffleWriter.cc
  cpp/velox/substrait/SubstraitToVeloxPlan.cc
  cpp/velox/substrait/VeloxSubstraitSignature.cc
  cpp/velox/substrait/VeloxToSubstraitPlan.cc
  ep/build-velox/src/get_velox.sh
Labels: BUILD, VELOX

#7275 [VL] Fix bug when setting Spark memory overhead automatically
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxListenerApi.scala
Labels: severity:high, VELOX

#7263 [GLUTEN-7262][CH] Fix cache file commond run normal with config disabled
  backends-clickhouse/src/main/scala/org/apache/spark/sql/execution/commands/GlutenCacheFilesCommand.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenClickHouseMergeTreeCacheDataSuite.scala
Labels: CLICKHOUSE

#7279 [GLUTEN-7028][CH][Part-2] Refactor: Move MergeTree related UT to mergetree module
  backends-clickhouse/src/main/delta-20/org/apache/spark/sql/delta/ClickhouseOptimisticTransaction.scala
  backends-clickhouse/src/main/delta-23/org/apache/spark/sql/delta/ClickhouseOptimisticTransaction.scala
  backends-clickhouse/src/main/delta-32/io/delta/tables/ClickhouseTable.scala
  backends-clickhouse/src/main/delta-32/org/apache/spark/sql/delta/ClickhouseOptimisticTransaction.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHBackend.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHConf.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHListenerApi.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHTransformerApi.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/expression/CHExpressionTransformer.scala
  backends-clickhouse/src/main/scala/org/apache/spark/sql/execution/commands/GlutenCacheFilesCommand.scala
  backends-clickhouse/src/main/scala/org/apache/spark/sql/execution/datasources/utils/MergeTreePartsPartitionsUtil.scala
  backends-clickhouse/src/main/scala/org/apache/spark/sql/execution/datasources/v2/clickhouse/ClickHouseConfig.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/RunTPCHTest.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenClickHouseColumnarMemorySortShuffleSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenClickHouseColumnarShuffleAQESuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenClickHouseDeltaParquetWriteSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenClickHouseFileFormatSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenClickHouseJoinSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenClickHouseS3SourceSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenClickHouseSyntheticDataSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenClickHouseTPCDSAbstractSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenClickHouseTPCHAbstractSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenClickHouseTPCHBucketSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenClickHouseTPCHNotNullSkipIndexSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenClickHouseTPCHNullableSkipIndexSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenClickHouseWholeStageTransformerSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenFunctionValidateSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/compatibility/GlutenClickhouseFunctionSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/hive/GlutenClickHouseHiveTableSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/hive/GlutenClickHouseNativeWriteTableSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/hive/GlutenClickHouseTableAfterRestart.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/mergetree/GlutenClickHouseMergeTreeCacheDataSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/mergetree/GlutenClickHouseMergeTreeOptimizeSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/mergetree/GlutenClickHouseMergeTreePathBasedWriteSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/mergetree/GlutenClickHouseMergeTreeWriteOnHDFSSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/mergetree/GlutenClickHouseMergeTreeWriteOnHDFSWithRocksDBMetaSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/mergetree/GlutenClickHouseMergeTreeWriteOnS3Suite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/mergetree/GlutenClickHouseMergeTreeWriteSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/mergetree/GlutenClickHouseMergeTreeWriteTaskNotSerializableSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/mergetree/GlutenClickhouseMergetreeSoftAffinitySuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/metrics/GlutenClickHouseTPCHMetricsSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/parquet/GlutenParquetColumnIndexSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/tpcds/GlutenClickHouseTPCDSParquetGraceHashJoinSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/tpch/GlutenClickHouseHDFSSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/tpch/GlutenClickHouseTPCHColumnarShuffleParquetAQESuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/tpch/GlutenClickHouseTPCHParquetAQESuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/tpch/GlutenClickHouseTPCHParquetBucketSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/tpch/GlutenClickHouseTPCHParquetRFSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/tpch/GlutenClickHouseTPCHSaltNullParquetSuite.scala
  backends-clickhouse/src/test/scala/org/apache/spark/sql/execution/benchmarks/CHOptimizeRuleBenchmark.scala
Labels: CLICKHOUSE

#7280 [CORE][VL] Minor code cleanups
  backends-clickhouse/src/main/java/org/apache/gluten/vectorized/BatchIterator.java
  backends-velox/src/main/java/org/apache/gluten/metrics/IteratorMetricsJniWrapper.java
  backends-velox/src/main/java/org/apache/gluten/utils/VeloxBatchResizerJniWrapper.java
  backends-velox/src/main/java/org/apache/gluten/utils/VeloxBloomFilterJniWrapper.java
  cpp/core/jni/JniCommon.cc
  gluten-arrow/src/main/java/org/apache/gluten/columnarbatch/ColumnarBatchJniWrapper.java
  gluten-arrow/src/main/java/org/apache/gluten/datasource/DatasourceJniWrapper.java
  gluten-arrow/src/main/java/org/apache/gluten/runtime/RuntimeAware.java
  gluten-arrow/src/main/java/org/apache/gluten/vectorized/ColumnarBatchOutIterator.java
  gluten-arrow/src/main/java/org/apache/gluten/vectorized/ColumnarBatchSerializerJniWrapper.java
  gluten-arrow/src/main/java/org/apache/gluten/vectorized/NativeColumnarToRowJniWrapper.java
  gluten-arrow/src/main/java/org/apache/gluten/vectorized/NativeRowToColumnarJniWrapper.java
  gluten-arrow/src/main/java/org/apache/gluten/vectorized/PlanEvaluatorJniWrapper.java
  gluten-arrow/src/main/java/org/apache/gluten/vectorized/ShuffleReaderJniWrapper.java
  gluten-arrow/src/main/java/org/apache/gluten/vectorized/ShuffleWriterJniWrapper.java
  gluten-core/src/main/java/org/apache/gluten/iterator/ClosableIterator.java
Labels: CORE, VELOX, CLICKHOUSE

#7274 [VL] Fix columns added to `outNames` twice when building Substrait plan
  gluten-substrait/src/main/scala/org/apache/gluten/execution/WholeStageTransformer.scala
Labels: CORE

#7286 [VL] Gluten-it: In auto cluster mode, add option `--off-heap-ratio` for adjusting memory shares of off-heap and on-heap
  tools/gluten-it/common/src/main/java/org/apache/gluten/integration/command/SparkRunModes.java
Labels: TOOLS

#7287 [GLUTEN-6768][CH] Clear unused configures after refactor reordering hash join tables
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHBackend.scala
Labels: CLICKHOUSE

#7294 [VL] CI: Q97 OOM test passed, stop ignoring its return code in CI
  .github/workflows/velox_backend.yml
Labels: INFRA

#7299 [GLUTEN-1632][CH]Daily Update Clickhouse Version (20240920)
  cpp-ch/clickhouse.version
  cpp-ch/local-engine/Common/CHUtil.cpp
  cpp-ch/local-engine/Common/CHUtil.h
  cpp-ch/local-engine/Common/GlutenConfig.h
  cpp-ch/local-engine/Common/GlutenSettings.cpp
  cpp-ch/local-engine/Common/GlutenSettings.h
  cpp-ch/local-engine/Common/GlutenSignalHandler.cpp
  cpp-ch/local-engine/Disks/ObjectStorages/GlutenDiskHDFS.h
  cpp-ch/local-engine/Disks/ObjectStorages/registerGlutenDiskObjectStorage.cpp
  cpp-ch/local-engine/Functions/SparkFunctionGetJsonObject.h
  cpp-ch/local-engine/Parser/LocalExecutor.cpp
  cpp-ch/local-engine/Parser/RelParsers/AggregateRelParser.cpp
  cpp-ch/local-engine/Parser/RelParsers/JoinRelParser.cpp
  cpp-ch/local-engine/Parser/RelParsers/MergeTreeRelParser.cpp
  cpp-ch/local-engine/Parser/RelParsers/ProjectRelParser.cpp
  cpp-ch/local-engine/Parser/RelParsers/ReadRelParser.cpp
  cpp-ch/local-engine/Parser/SerializedPlanParser.cpp
  cpp-ch/local-engine/Shuffle/PartitionWriter.h
  cpp-ch/local-engine/Storages/Cache/CacheManager.cpp
  cpp-ch/local-engine/Storages/MergeTree/MetaDataHelper.cpp
  cpp-ch/local-engine/Storages/MergeTree/SparkMergeTreeWriter.cpp
  cpp-ch/local-engine/Storages/SubstraitSource/ExcelTextFormatFile.cpp
  cpp-ch/local-engine/Storages/SubstraitSource/ExcelTextFormatFile.h
  cpp-ch/local-engine/Storages/SubstraitSource/FormatFile.cpp
  cpp-ch/local-engine/Storages/SubstraitSource/ORCFormatFile.cpp
  cpp-ch/local-engine/Storages/SubstraitSource/ReadBufferBuilder.cpp
  cpp-ch/local-engine/Storages/SubstraitSource/TextFormatFile.cpp
  cpp-ch/local-engine/tests/gtest_clickhouse_pr_verify.cpp
  cpp-ch/local-engine/tests/gtest_write_pipeline.cpp
Labels: CLICKHOUSE

#7052 [VL] Customize VCPKG build features according to user's build options
  dev/builddeps-veloxbe.sh
  dev/vcpkg/env.sh
  dev/vcpkg/init.sh
  dev/vcpkg/toolchain.cmake
  dev/vcpkg/vcpkg.json
Labels: BUILD

#7303 [VL] Remove unused config VELOX_FORCE_COMPLEX_TYPE_SCAN_FALLBACK
  shims/common/src/main/scala/org/apache/gluten/GlutenConfig.scala
Labels: CORE

#7298 [INFRA] Label gluten-hudi as DATA_LAKE
  .github/labeler.yml
Labels: INFRA

#7300 [VL] Enhance spill log readability
  cpp/velox/compute/WholeStageResultIterator.cc
Labels: VELOX

#7196 [GLUTEN-6975][CH] Rewrite decimal arithmetic
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHListenerApi.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenClickHouseDecimalSuite.scala
  cpp-ch/local-engine/AggregateFunctions/AggregateFunctionSparkAvg.cpp
  cpp-ch/local-engine/Common/GlutenDecimalUtils.h
  cpp-ch/local-engine/Functions/SparkFunctionDecimalBinaryArithmetic.cpp
  cpp-ch/local-engine/Functions/SparkFunctionDecimalBinaryArithmetic.h
  cpp-ch/local-engine/Parser/SerializedPlanParser.h
  cpp-ch/local-engine/Parser/scalar_function_parser/arithmetic.cpp
  gluten-substrait/src/main/scala/org/apache/gluten/expression/ExpressionConverter.scala
Labels: CORE, CLICKHOUSE

#7316 [VL] fix vcpkg package script #7052
  dev/package-vcpkg.sh
Labels: BUILD

#7312 [VL] Minor code cleanups
  cpp/core/CMakeLists.txt
  cpp/core/benchmarks/CompressionBenchmark.cc
  cpp/core/compute/ProtobufUtils.cc
  cpp/core/compute/ResultIterator.h
  cpp/core/jni/JniCommon.h
  cpp/core/jni/JniError.h
  cpp/core/memory/ArrowMemoryPool.cc
  cpp/core/memory/ColumnarBatch.cc
  cpp/core/memory/ColumnarBatch.h
  cpp/core/memory/MemoryAllocator.cc
  cpp/core/operators/r2c/RowToColumnar.h
  cpp/core/shuffle/LocalPartitionWriter.h
  cpp/core/shuffle/Partitioner.cc
  cpp/core/shuffle/Partitioning.cc
  cpp/core/shuffle/Payload.cc
  cpp/core/shuffle/ShuffleReader.cc
  cpp/core/shuffle/ShuffleWriter.cc
  cpp/core/shuffle/Spill.h
  cpp/core/shuffle/rss/RssPartitionWriter.h
  cpp/core/utils/Compression.cc
  cpp/core/utils/Exception.h
  cpp/core/utils/Macros.h
  cpp/core/utils/Metrics.h
  cpp/core/utils/ResourceMap.h
  cpp/core/utils/StringUtil.cc
  cpp/core/utils/qpl/QplCodec.cc
  cpp/core/utils/qpl/QplCodec.h
  cpp/core/utils/qpl/QplJobPool.cc
  cpp/core/utils/qpl/QplJobPool.h
  cpp/core/utils/qpl/qpl_codec.h
  cpp/velox/benchmarks/ColumnarToRowBenchmark.cc
  cpp/velox/benchmarks/GenericBenchmark.cc
  cpp/velox/benchmarks/ParquetWriteBenchmark.cc
  cpp/velox/benchmarks/common/BenchmarkUtils.h
  cpp/velox/benchmarks/common/ParquetReaderIterator.h
  cpp/velox/compute/VeloxBackend.cc
  cpp/velox/compute/WholeStageResultIterator.h
  cpp/velox/jni/JniUdf.cc
  cpp/velox/memory/ArrowMemory.h
  cpp/velox/memory/VeloxMemoryManager.cc
  cpp/velox/operators/serializer/VeloxColumnarToRowConverter.cc
  cpp/velox/shuffle/VeloxHashShuffleWriter.cc
  cpp/velox/shuffle/VeloxRssSortShuffleWriter.cc
  cpp/velox/shuffle/VeloxShuffleReader.cc
  cpp/velox/substrait/VeloxToSubstraitPlan.cc
  cpp/velox/udf/UdfLoader.cc
  cpp/velox/utils/ConfigExtractor.cc
  cpp/velox/utils/HdfsUtils.cc
  cpp/velox/utils/VeloxBatchResizer.h
  cpp/velox/utils/tests/LocalRssClient.h
  cpp/velox/utils/tests/MemoryPoolUtils.h
  gluten-arrow/src/main/java/org/apache/gluten/columnarbatch/ColumnarBatches.java
Labels: VELOX

#7315 [VL] Minor follow-ups for #7052
  dev/vcpkg/env.sh
  dev/vcpkg/init.sh
  dev/vcpkg/toolchain.cmake
Labels: BUILD

#7304 [GLUTEN-7178][VL] Fix field not found error when struct field name contains upper case
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHBackend.scala
  backends-velox/src/test/scala/org/apache/gluten/execution/MiscOperatorSuite.scala
  gluten-arrow/pom.xml
  gluten-arrow/src/main/scala/org/apache/spark/sql/utils/SparkArrowUtil.scala
  gluten-substrait/src/main/scala/org/apache/gluten/backendsapi/BackendSettingsApi.scala
  gluten-substrait/src/main/scala/org/apache/gluten/expression/ConverterUtils.scala
Labels: CORE, VELOX, CLICKHOUSE

#7324 [VL] Add VeloxTransitionSuite
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHBackend.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/columnarbatch/CHBatch.scala
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxBackend.scala
  backends-velox/src/main/scala/org/apache/gluten/columnarbatch/VeloxBatch.scala
  backends-velox/src/test/java/org/apache/gluten/test/MockVeloxBackend.java
  backends-velox/src/test/java/org/apache/gluten/test/VeloxBackendTestBase.java
  backends-velox/src/test/scala/org/apache/gluten/extension/columnar/transition/VeloxTransitionSuite.scala
  dev/vcpkg/toolchain.cmake
  gluten-substrait/src/test/scala/org/apache/gluten/extension/columnar/transition/TransitionSuite.scala
  gluten-substrait/src/test/scala/org/apache/gluten/extension/columnar/transition/TransitionSuiteBase.scala
Labels: CORE, BUILD, VELOX, CLICKHOUSE

#7317 [CORE] Remove unused allPushDownFilters param
  gluten-substrait/src/main/scala/org/apache/gluten/execution/ScanTransformerFactory.scala
Labels: CORE

#7101 [GLUTEN-7096] [CH] fix exception when same names in group by
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHSparkPlanExecApi.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/execution/CHHashAggregateExecTransformer.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/utils/CHAggUtil.scala
  gluten-ut/spark32/src/test/scala/org/apache/spark/sql/hive/execution/GlutenHiveSQLQueryCHSuite.scala
  gluten-ut/spark33/src/test/scala/org/apache/spark/sql/hive/execution/GlutenHiveSQLQueryCHSuite.scala
  gluten-ut/spark34/src/test/scala/org/apache/spark/sql/hive/execution/GlutenHiveSQLQueryCHSuite.scala
  gluten-ut/spark35/src/test/scala/org/apache/spark/sql/hive/execution/GlutenHiveSQLQueryCHSuite.scala
Labels: CORE, CLICKHOUSE

#7331 [VL] Fix vcpkg binary caching in docker image
  .github/workflows/build_bundle_package.yml
  dev/vcpkg/README.md
  dev/vcpkg/docker/Dockerfile.gha
Labels: BUILD, INFRA, DOCS

#7328 [GLUTEN-7327][INFRA] Publish Velox Backend Test Result Report in Github Action
  .github/workflows/test_report.yml
  .github/workflows/velox_backend.yml
  pom.xml
Labels: CORE, INFRA

#7334 [MINOR][DOCS] Improve the configuration document
  docs/Configuration.md
Labels: DOCS

#7335 [GLUTEN-6975][CH] Fix decimal cast overflow exception
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenClickHouseDecimalSuite.scala
  cpp-ch/local-engine/Functions/SparkFunctionDecimalBinaryArithmetic.cpp
  cpp-ch/local-engine/Parser/SerializedPlanParser.cpp
Labels: CLICKHOUSE

#7337 [GLUTEN-7323][VL] Always round negative decimals for integral types
  backends-velox/src/test/scala/org/apache/gluten/execution/ScalarFunctionsValidateSuite.scala
  cpp/velox/operators/functions/Arithmetic.h
  cpp/velox/tests/SparkFunctionTest.cc
  gluten-ut/spark32/src/test/scala/org/apache/spark/sql/catalyst/expressions/GlutenMathExpressionsSuite.scala
  gluten-ut/spark33/src/test/scala/org/apache/spark/sql/catalyst/expressions/GlutenMathExpressionsSuite.scala
  gluten-ut/spark34/src/test/scala/org/apache/spark/sql/catalyst/expressions/GlutenMathExpressionsSuite.scala
  gluten-ut/spark35/src/test/scala/org/apache/spark/sql/catalyst/expressions/GlutenMathExpressionsSuite.scala
Labels: CORE, VELOX

#7346 [GLUTEN-7344][CH] Fix the error default database name and table name for the mergetree file format when using path based
  backends-clickhouse/src/main/scala/org/apache/spark/sql/delta/catalog/ClickHouseTableV2Base.scala
  backends-clickhouse/src/main/scala/org/apache/spark/sql/execution/datasources/utils/MergeTreePartsPartitionsUtil.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/mergetree/GlutenClickHouseMergeTreePathBasedWriteSuite.scala
Labels: CLICKHOUSE

#7349 [GLUTEN-7348][CH] Move function calculateColumnAndSecondaryIndexSizesImpl outside
  cpp-ch/local-engine/Storages/MergeTree/SparkStorageMergeTree.cpp
Labels: CLICKHOUSE

#7343 [GLUTEN-7313][VL] Explicit Arrow transitions, part 1: Add LoadArrowDataExec / OffloadArrowDataExec
  backends-velox/src/main/scala/org/apache/gluten/columnarbatch/VeloxBatch.scala
  backends-velox/src/main/scala/org/apache/gluten/datasource/ArrowCSVFileFormat.scala
  backends-velox/src/main/scala/org/apache/gluten/execution/VeloxResizeBatchesExec.scala
  backends-velox/src/main/scala/org/apache/gluten/execution/datasource/v2/ArrowBatchScanExec.scala
  backends-velox/src/main/scala/org/apache/spark/api/python/ColumnarArrowEvalPythonExec.scala
  backends-velox/src/main/scala/org/apache/spark/sql/execution/ArrowFileSourceScanExec.scala
  backends-velox/src/main/scala/org/apache/spark/sql/execution/VeloxColumnarWriteFilesExec.scala
  backends-velox/src/main/scala/org/apache/spark/sql/execution/datasources/velox/VeloxFormatWriterInjects.scala
  backends-velox/src/main/scala/org/apache/spark/sql/execution/utils/ExecUtil.scala
  backends-velox/src/test/java/org/apache/gluten/columnarbatch/ColumnarBatchTest.java
  backends-velox/src/test/scala/org/apache/gluten/extension/columnar/transition/VeloxTransitionSuite.scala
  cpp/core/tests/CMakeLists.txt
  gluten-arrow/src/main/java/org/apache/gluten/columnarbatch/ArrowBatch.scala
  gluten-arrow/src/main/java/org/apache/gluten/columnarbatch/ArrowBatches.scala
  gluten-arrow/src/main/java/org/apache/gluten/columnarbatch/ColumnarBatches.java
  gluten-arrow/src/main/java/org/apache/gluten/execution/LoadArrowDataExec.scala
  gluten-arrow/src/main/java/org/apache/gluten/execution/OffloadArrowDataExec.scala
  gluten-arrow/src/main/java/org/apache/gluten/vectorized/ColumnarBatchInIterator.java
  gluten-arrow/src/main/scala/org/apache/gluten/utils/ArrowAbiUtil.scala
  gluten-arrow/src/main/scala/org/apache/spark/sql/utils/SparkVectorUtil.scala
  gluten-core/src/main/scala/org/apache/gluten/execution/ColumnarToColumnarExec.scala
  gluten-core/src/main/scala/org/apache/gluten/extension/columnar/transition/Convention.scala
  gluten-core/src/main/scala/org/apache/gluten/extension/columnar/transition/Transitions.scala
  gluten-core/src/main/scala/org/apache/gluten/extension/columnar/transition/package.scala
Labels: CORE, VELOX

#7353 [VL] Minor: Fix documentation of flushable partial aggregate
  shims/common/src/main/scala/org/apache/gluten/GlutenConfig.scala
Labels: CORE

#7352 [GLUTEN-7351][CORE] Code cleanup for Gluten session extensions
  gluten-core/src/main/scala/org/apache/gluten/GlutenPlugin.scala
  gluten-core/src/main/scala/org/apache/gluten/extension/GlutenSessionExtensions.scala
Labels: CORE

#7345 [VL] Override nodename for IcebergScanTransformer
  gluten-iceberg/src/main/scala/org/apache/gluten/execution/IcebergScanTransformer.scala
Labels: DATA_LAKE

#7284 [GLUTEN-7283][CORE] Support DynamicPruningExpression conversion
  gluten-substrait/src/main/scala/org/apache/gluten/expression/ExpressionConverter.scala
  gluten-substrait/src/main/scala/org/apache/gluten/expression/ExpressionMappings.scala
  gluten-ut/spark35/src/test/scala/org/apache/spark/sql/GlutenDynamicPartitionPruningSuite.scala
  shims/common/src/main/scala/org/apache/gluten/expression/ExpressionNames.scala
Labels: CORE

#7326 [VL] Enable AtLeastNNonNulls function
  backends-clickhouse/src/main/scala/org/apache/gluten/utils/CHExpressionUtil.scala
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxSparkPlanExecApi.scala
  backends-velox/src/test/scala/org/apache/gluten/execution/ScalarFunctionsValidateSuite.scala
  gluten-substrait/src/main/scala/org/apache/gluten/backendsapi/SparkPlanExecApi.scala
  gluten-substrait/src/main/scala/org/apache/gluten/expression/ExpressionConverter.scala
  gluten-substrait/src/main/scala/org/apache/gluten/expression/ExpressionMappings.scala
  shims/common/src/main/scala/org/apache/gluten/expression/ExpressionNames.scala
Labels: CORE, VELOX, CLICKHOUSE

#7355 [GLUTEN-6887][VL] Daily Update Velox Version (2024_09_26)
  cpp/velox/memory/VeloxMemoryManager.cc
  ep/build-velox/src/get_velox.sh
  gluten-ut/spark32/src/test/scala/org/apache/gluten/utils/velox/VeloxTestSettings.scala
  gluten-ut/spark33/src/test/scala/org/apache/gluten/utils/velox/VeloxTestSettings.scala
  gluten-ut/spark34/src/test/scala/org/apache/gluten/utils/velox/VeloxTestSettings.scala
  gluten-ut/spark35/src/test/scala/org/apache/gluten/utils/velox/VeloxTestSettings.scala
Labels: CORE, BUILD, VELOX

#7357 [GLUTEN-7356][CORE] Make GlutenConfig.GLUTEN_CONFIG_PREFIX private
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHBackend.scala
  gluten-celeborn/clickhouse/src/main/scala/org/apache/spark/shuffle/CHCelebornColumnarShuffleWriterFactory.scala
  shims/common/src/main/scala/org/apache/gluten/GlutenConfig.scala
Labels: CORE, RSS, CLICKHOUSE

#7347 [VL] Use new krb5 download url when enable vcpkg
  dev/vcpkg/ports/krb5/portfile.cmake
Labels: BUILD

#7368 [GLUTEN-7367][CH] Revert https://github.com/apache/incubator-gluten/pull/7101
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHSparkPlanExecApi.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/execution/CHHashAggregateExecTransformer.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/utils/CHAggUtil.scala
  backends-clickhouse/src/test/resources/csv-data/default/TEST_MEASURE.csv
  backends-clickhouse/src/test/resources/csv-data/default/TEST_MEASURE1.csv
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenClickHouseFileFormatSuite.scala
  gluten-ut/spark32/src/test/scala/org/apache/spark/sql/hive/execution/GlutenHiveSQLQueryCHSuite.scala
  gluten-ut/spark33/src/test/scala/org/apache/spark/sql/hive/execution/GlutenHiveSQLQueryCHSuite.scala
  gluten-ut/spark34/src/test/scala/org/apache/spark/sql/hive/execution/GlutenHiveSQLQueryCHSuite.scala
  gluten-ut/spark35/src/test/scala/org/apache/spark/sql/hive/execution/GlutenHiveSQLQueryCHSuite.scala
Labels: CORE, CLICKHOUSE

#7361 [GLUTEN-7358][CH] Optimize the strategy of the partition split according to the files count
  backends-clickhouse/src/main/scala/org/apache/gluten/utils/CHInputPartitionsUtil.scala
  backends-clickhouse/src/main/scala/org/apache/spark/sql/execution/datasources/utils/MergeTreePartsPartitionsUtil.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/mergetree/GlutenClickHouseMergeTreeWriteSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/tpcds/GlutenClickHouseTPCDSParquetColumnarShuffleAQESuite.scala
Labels: CLICKHOUSE

#7379 [GLUTEN-1632][CH]Daily Update Clickhouse Version (20240928)
  cpp-ch/clickhouse.version
  cpp-ch/local-engine/Parser/RelParsers/AggregateRelParser.cpp
  cpp-ch/local-engine/Parser/RelParsers/SortRelParser.cpp
  cpp-ch/local-engine/Storages/MergeTree/MetaDataHelper.cpp
  cpp-ch/local-engine/Storages/MergeTree/SparkStorageMergeTree.cpp
Labels: CLICKHOUSE

#7372 [GLUTEN-7313][VL] Explicit Arrow transitions, part 2: new algorithm to find optimal transition
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHBackend.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHListenerApi.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/columnarbatch/CHBatch.scala
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxBackend.scala
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxListenerApi.scala
  backends-velox/src/main/scala/org/apache/spark/api/python/ColumnarArrowEvalPythonExec.scala
  backends-velox/src/test/scala/org/apache/gluten/extension/columnar/transition/VeloxTransitionSuite.scala
  gluten-core/src/main/scala/org/apache/gluten/backend/Backend.scala
  gluten-core/src/main/scala/org/apache/gluten/extension/columnar/transition/Convention.scala
  gluten-core/src/main/scala/org/apache/gluten/extension/columnar/transition/ConventionFunc.scala
  gluten-core/src/main/scala/org/apache/gluten/extension/columnar/transition/ConventionReq.scala
  gluten-core/src/main/scala/org/apache/gluten/extension/columnar/transition/FloydWarshallGraph.scala
  gluten-core/src/main/scala/org/apache/gluten/extension/columnar/transition/Transition.scala
  gluten-core/src/main/scala/org/apache/gluten/extension/columnar/transition/TransitionGraph.scala
  gluten-core/src/main/scala/org/apache/gluten/extension/columnar/transition/Transitions.scala
  gluten-core/src/main/scala/org/apache/gluten/extension/columnar/transition/package.scala
  gluten-core/src/main/scala/org/apache/spark/util/SparkReflectionUtil.scala
  gluten-core/src/test/scala/org/apache/gluten/extension/columnar/transition/FloydWarshallGraphSuite.scala
  gluten-substrait/src/main/scala/org/apache/gluten/extension/GlutenPlan.scala
  gluten-substrait/src/main/scala/org/apache/gluten/utils/PlanUtil.scala
  gluten-substrait/src/main/scala/org/apache/spark/sql/execution/ColumnarCollapseTransformStages.scala
Labels: CORE, VELOX, CLICKHOUSE

#7383 [GLUTEN-7313][VL] Explicit Arrow transitions, part 3: code cleanups
  backends-clickhouse/src/main/scala/org/apache/gluten/columnarbatch/CHBatch.scala
  backends-velox/src/main/scala/org/apache/gluten/columnarbatch/VeloxBatch.scala
  backends-velox/src/test/scala/org/apache/gluten/extension/columnar/transition/VeloxTransitionSuite.scala
  gluten-arrow/src/main/java/org/apache/gluten/columnarbatch/ArrowBatches.scala
  gluten-core/src/main/scala/org/apache/gluten/extension/columnar/transition/Convention.scala
  gluten-core/src/main/scala/org/apache/gluten/extension/columnar/transition/Transition.scala
  gluten-substrait/src/test/scala/org/apache/gluten/extension/columnar/transition/TransitionSuite.scala
Labels: CORE, VELOX, CLICKHOUSE

#7386 [GLUTEN-7385][CH] Add some config parameters to constrol the cache size for the mergetree parts
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHBackend.scala
  backends-clickhouse/src/main/scala/org/apache/spark/sql/delta/ClickhouseSnapshot.scala
Labels: CLICKHOUSE

#7365 [GLUTEN-7364][CORE] Simplify the RuleInjector
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHRuleApi.scala
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxRuleApi.scala
  gluten-core/src/main/scala/org/apache/gluten/extension/GlutenSessionExtensions.scala
  gluten-core/src/main/scala/org/apache/gluten/extension/injector/GlutenInjector.scala
  gluten-core/src/main/scala/org/apache/gluten/extension/injector/RuleInjector.scala
  gluten-core/src/main/scala/org/apache/gluten/extension/injector/SparkInjector.scala
  gluten-substrait/src/main/scala/org/apache/gluten/backendsapi/RuleApi.scala
Labels: CORE, VELOX, CLICKHOUSE

#7377 [GLUTEN-7376][ICEBERG]Avoid retrieving the partition schema of Iceberg
  gluten-iceberg/src/main/scala/org/apache/gluten/execution/IcebergScanTransformer.scala
Labels: DATA_LAKE

#7388 [VL] pass phase in recusive invocation of spillTree
  gluten-core/src/main/java/org/apache/gluten/memory/memtarget/TreeMemoryTargets.java
Labels: CORE

#7170 [GLUTEN-7028][CH][Part-4] Refactor `DeltaMergeTreeFileFormat` to read table configuration from deltalog's metadata
  backends-clickhouse/pom.xml
  backends-clickhouse/src/main/delta-20/org/apache/spark/sql/delta/catalog/ClickHouseTableV2.scala
  backends-clickhouse/src/main/delta-20/org/apache/spark/sql/execution/datasources/v2/clickhouse/source/DeltaMergeTreeFileFormat.scala
  backends-clickhouse/src/main/delta-23/org/apache/spark/sql/delta/catalog/ClickHouseTableV2.scala
  backends-clickhouse/src/main/delta-23/org/apache/spark/sql/execution/datasources/v2/clickhouse/source/DeltaMergeTreeFileFormat.scala
  backends-clickhouse/src/main/delta-32/org/apache/spark/sql/delta/DeltaLog.scala
  backends-clickhouse/src/main/delta-32/org/apache/spark/sql/delta/catalog/ClickHouseTableV2.scala
  backends-clickhouse/src/main/delta-32/org/apache/spark/sql/execution/datasources/v2/clickhouse/source/DeltaMergeTreeFileFormat.scala
  backends-clickhouse/src/main/java/org/apache/spark/sql/execution/datasources/clickhouse/ExtensionTableBuilder.java
  backends-clickhouse/src/main/java/org/apache/spark/sql/execution/datasources/clickhouse/ExtensionTableNode.java
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHIteratorApi.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHRuleApi.scala
  backends-clickhouse/src/main/scala/org/apache/spark/sql/delta/ClickhouseSnapshot.scala
  backends-clickhouse/src/main/scala/org/apache/spark/sql/delta/catalog/ClickHouseTableV2Base.scala
  backends-clickhouse/src/main/scala/org/apache/spark/sql/execution/commands/GlutenCHCacheDataCommand.scala
  backends-clickhouse/src/main/scala/org/apache/spark/sql/execution/datasources/clickhouse/ClickhouseMetaSerializer.scala
  backends-clickhouse/src/main/scala/org/apache/spark/sql/execution/datasources/clickhouse/utils/MergeTreeDeltaUtil.scala
  backends-clickhouse/src/main/scala/org/apache/spark/sql/execution/datasources/clickhouse/utils/MergeTreePartsPartitionsUtil.scala
  backends-clickhouse/src/main/scala/org/apache/spark/sql/execution/datasources/mergetree/DeltaMetaReader.scala
  backends-clickhouse/src/main/scala/org/apache/spark/sql/execution/datasources/mergetree/StorageMeta.scala
  backends-clickhouse/src/main/scala/org/apache/spark/sql/execution/datasources/v1/CHFormatWriterInjects.scala
  backends-clickhouse/src/main/scala/org/apache/spark/sql/execution/datasources/v1/CHMergeTreeWriterInjects.scala
  backends-clickhouse/src/main/scala/org/apache/spark/sql/execution/datasources/v1/clickhouse/MergeTreeOutputWriter.scala
  backends-clickhouse/src/main/spark32/org/apache/gluten/backendsapi/clickhouse/CHExtendRule.scala
  backends-clickhouse/src/main/spark33/org/apache/gluten/backendsapi/clickhouse/CHExtendRule.scala
  backends-clickhouse/src/main/spark35/org/apache/gluten/backendsapi/clickhouse/CHExtendRule.scala
  backends-clickhouse/src/main/spark35/org/apache/spark/sql/catalyst/AddStorageInfo.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/mergetree/GlutenClickHouseMergeTreePathBasedWriteSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/mergetree/GlutenClickhouseMergetreeSoftAffinitySuite.scala
Labels: CLICKHOUSE
