Repository apache/incubator-gluten, pull requests merged in 2024-11, with the labels that each got.

#7758 [GLUTEN-7670][CH] Fix enable 'files.per.partition.threshold' bug
  backends-clickhouse/src/main/scala/org/apache/spark/sql/execution/datasources/clickhouse/utils/MergeTreePartsPartitionsUtil.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/mergetree/GlutenClickHouseMergeTreeWriteSuite.scala
Labels: CLICKHOUSE

#7754 [VL] RAS: Fix failed UTs in GlutenSQLQueryTestSuite
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHValidatorApi.scala
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxValidatorApi.scala
  gluten-substrait/src/main/scala/org/apache/gluten/backendsapi/ValidatorApi.scala
  gluten-substrait/src/main/scala/org/apache/gluten/extension/columnar/enumerated/RasOffload.scala
  gluten-substrait/src/main/scala/org/apache/spark/sql/execution/ColumnarShuffleExchangeExec.scala
Labels: CORE, VELOX, CLICKHOUSE

#7757 [GLUTEN-7747][CH] Fix murmur3hash on arm
  cpp-ch/local-engine/Functions/SparkFunctionHashingExtended.h
Labels: CLICKHOUSE

#7764 [GLUTEN-7143][VL] RAS: Revert #7731, disable the relevant test cases since RAS doesn't report fallback details due to #7763
  gluten-ras/common/src/main/scala/org/apache/gluten/ras/memo/Memo.scala
  gluten-substrait/src/main/scala/org/apache/gluten/extension/columnar/enumerated/RasOffload.scala
  gluten-ut/spark34/src/test/scala/org/apache/spark/sql/gluten/GlutenFallbackSuite.scala
  gluten-ut/test/src/test/scala/org/apache/gluten/expressions/GlutenExpressionMappingSuite.scala
Labels: CORE

#7767 [GLUTEN-7143][VL] RAS: Catch exceptions thrown from rewrite rules
  gluten-substrait/src/main/scala/org/apache/gluten/extension/columnar/enumerated/RasOffload.scala
  gluten-substrait/src/main/scala/org/apache/gluten/extension/columnar/rewrite/RewriteSparkPlanRulesManager.scala
Labels: CORE

#7772 [GLUTEN-7771][CH]Fix crc32 failure in bzip2
  cpp-ch/local-engine/IO/SplittableBzip2ReadBuffer.cpp
  cpp-ch/local-engine/IO/SplittableBzip2ReadBuffer.h
Labels: CLICKHOUSE

#7774 [GLUTEN-7765][CH] Support CACHE META command for MergeTree table
  backends-clickhouse/src/main/java/org/apache/gluten/execution/CHNativeCacheManager.java
  backends-clickhouse/src/main/scala/org/apache/spark/rpc/GlutenExecutorEndpoint.scala
  backends-clickhouse/src/main/scala/org/apache/spark/rpc/GlutenRpcMessages.scala
  backends-clickhouse/src/main/scala/org/apache/spark/sql/execution/commands/GlutenCHCacheDataCommand.scala
  cpp-ch/local-engine/Storages/Cache/CacheManager.cpp
  cpp-ch/local-engine/Storages/Cache/CacheManager.h
  cpp-ch/local-engine/Storages/MergeTree/SparkStorageMergeTree.cpp
  cpp-ch/local-engine/local_engine_jni.cpp
Labels: CLICKHOUSE

#7762 [GLUTEN-1632][CH]Daily Update Clickhouse Version (20241101)
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenClickHouseFileFormatSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenClickHouseWholeStageTransformerSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/mergetree/GlutenClickHouseMergeTreeCacheDataSuite.scala
  cpp-ch/clickhouse.version
  cpp-ch/local-engine/Parser/SerializedPlanParser.cpp
  cpp-ch/local-engine/Storages/Output/WriteBufferBuilder.cpp
Labels: CLICKHOUSE

#7776 [GLUTEN-7775][CORE] Make sure the softaffinity hash executor list is in order
  gluten-core/src/main/scala/org/apache/gluten/softaffinity/SoftAffinityManager.scala
  gluten-core/src/main/scala/org/apache/gluten/softaffinity/strategy/SoftAffinityAllocationTrait.scala
  gluten-core/src/main/scala/org/apache/gluten/softaffinity/strategy/SoftAffinityStrategy.scala
  gluten-substrait/src/test/scala/org/apache/spark/softaffinity/SoftAffinitySuite.scala
Labels: CORE

#7756 [GLUTEN-7753][CORE] Do not replace literals of expand's projects in `PullOutPreProject`
  gluten-substrait/src/main/scala/org/apache/gluten/extension/columnar/rewrite/PullOutPreProject.scala
  gluten-substrait/src/main/scala/org/apache/gluten/utils/PullOutProjectHelper.scala
Labels: CORE

#7736 [GLUTEN-7446][BUILD] build third party libs using jar from JAVA_HOME
  dev/build-thirdparty.sh
Labels: BUILD

#7634 [GLUTEN-7174][VL] Force fallback scan operator when spark.sql.parquet.mergeSchema enabled
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHBackend.scala
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxBackend.scala
  gluten-substrait/src/main/scala/org/apache/gluten/backendsapi/BackendSettingsApi.scala
  gluten-substrait/src/main/scala/org/apache/gluten/execution/BasicScanExecTransformer.scala
  gluten-ut/spark32/src/test/scala/org/apache/gluten/utils/velox/VeloxTestSettings.scala
  gluten-ut/spark32/src/test/scala/org/apache/spark/sql/execution/datasources/parquet/GlutenParquetFilterSuite.scala
  gluten-ut/spark33/src/test/scala/org/apache/gluten/utils/velox/VeloxTestSettings.scala
  gluten-ut/spark33/src/test/scala/org/apache/spark/sql/execution/datasources/parquet/GlutenParquetFilterSuite.scala
  gluten-ut/spark34/src/test/scala/org/apache/gluten/utils/velox/VeloxTestSettings.scala
  gluten-ut/spark34/src/test/scala/org/apache/spark/sql/execution/datasources/parquet/GlutenParquetFilterSuite.scala
  gluten-ut/spark35/src/test/scala/org/apache/gluten/utils/velox/VeloxTestSettings.scala
  gluten-ut/spark35/src/test/scala/org/apache/spark/sql/execution/datasources/parquet/GlutenParquetFilterSuite.scala
Labels: CORE, VELOX, CLICKHOUSE

#7783 [GLUTEN-7782] Fix profile Darwin-x86 os.arch error
  pom.xml
Labels: CORE

#7781 [GLUTEN-7780][CH] Fix split diff
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenClickHouseTPCHSuite.scala
  cpp-ch/local-engine/Functions/SparkFunctionSplitByRegexp.cpp
  cpp-ch/local-engine/Parser/scalar_function_parser/split.cpp
  gluten-ut/spark32/src/test/scala/org/apache/gluten/utils/clickhouse/ClickHouseTestSettings.scala
  gluten-ut/spark33/src/test/scala/org/apache/gluten/utils/clickhouse/ClickHouseTestSettings.scala
  gluten-ut/spark34/src/test/scala/org/apache/gluten/utils/clickhouse/ClickHouseTestSettings.scala
  gluten-ut/spark35/src/test/scala/org/apache/gluten/utils/clickhouse/ClickHouseTestSettings.scala
Labels: CORE, CLICKHOUSE

#7793 [GLUTEN-7792][CH] Set default minio ak/sk to minioadmin
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenClickHouseWholeStageTransformerSuite.scala
Labels: CLICKHOUSE

#7744 [DOC] Update release plan for Velox backend
  docs/release.md
Labels: DOCS

#7728 [GLUTEN-7727][CORE] Unify the variable name of GlutenConfig with glutenConf
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHRuleApi.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/extension/FallbackBroadcastHashJoinRules.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/extension/MergeTwoPhasesHashBaseAggregate.scala
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxRuleApi.scala
  gluten-core/src/main/scala/org/apache/gluten/extension/columnar/ColumnarRuleApplier.scala
  gluten-substrait/src/main/scala/org/apache/gluten/extension/columnar/FallbackRules.scala
  gluten-substrait/src/main/scala/org/apache/gluten/extension/columnar/validator/Validators.scala
  gluten-substrait/src/main/scala/org/apache/spark/sql/execution/ColumnarCollapseTransformStages.scala
  gluten-substrait/src/main/scala/org/apache/spark/sql/execution/GlutenFallbackReporter.scala
Labels: CORE, VELOX, CLICKHOUSE

#7719 [GLUTEN-7700][CH] Fix issue when partition values contain space
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/hive/GlutenClickHouseHiveTableSuite.scala
  cpp-ch/local-engine/Storages/Output/WriteBufferBuilder.cpp
Labels: CLICKHOUSE

#7742 [GLUTEN-7741][VL] refine build package tool
  .github/workflows/build_bundle_package.yml
Labels: INFRA

#7798 [GLUTEN-7797][VL] Fix lacking icu lib on centos-7
  ep/build-velox/src/setup-centos7.sh
Labels: VELOX

#7773 [VL] Remove a duplicated Maven dependency, and some follow-ups for #7764
  backends-velox/pom.xml
  gluten-ut/spark33/src/test/scala/org/apache/spark/sql/gluten/GlutenFallbackSuite.scala
  gluten-ut/spark35/src/test/scala/org/apache/spark/sql/gluten/GlutenFallbackSuite.scala
Labels: CORE, VELOX

#7770 [GLUTEN-7143][VL] RAS: Enable the RAS UT jobs in GHA CI
  .github/workflows/velox_backend.yml
Labels: INFRA

#7733 [VL] In `ColumnarBatchSerializerJniWrapper_serialize`, check if the byte array is constructed successfully
  cpp/core/jni/JniWrapper.cc
Labels: VELOX

#7815 [GLUTEN-7814][CH] Support trigger Gluten ClickHouse CI on ARM
  .github/workflows/clickhouse_be_trigger.yml
Labels: INFRA

#7748 [GLUTEN-7243][VL] Suspend the Velox task while reading an input Java iterator to make the task spillable
  cpp/velox/compute/WholeStageResultIterator.cc
  cpp/velox/operators/plannodes/RowVectorStream.h
  cpp/velox/substrait/SubstraitToVeloxPlan.cc
  gluten-substrait/src/main/scala/org/apache/gluten/extension/GlutenPlan.scala
Labels: CORE, VELOX

#7794 [GLUTEN-7654][CH] Fix round on arm
  cpp-ch/local-engine/Functions/SparkFunctionRoundHalfUp.h
Labels: CLICKHOUSE

#7809 [GLUTEN-1632][CH]Daily Update Clickhouse Version (20241105)
  cpp-ch/clickhouse.version
  cpp-ch/local-engine/Parser/RelParsers/CrossRelParser.cpp
  cpp-ch/local-engine/Parser/RelParsers/JoinRelParser.cpp
  cpp-ch/local-engine/Storages/SubstraitSource/ReadBufferBuilder.cpp
  cpp-ch/local-engine/tests/gtest_ch_join.cpp
Labels: CLICKHOUSE

#7813 [GLUTEN-7812][CH] Fix the query failed for the mergetree format when the 'spark.databricks.delta.stats.skipping' is off
  backends-clickhouse/pom.xml
  backends-clickhouse/src/main/delta-20/org/apache/spark/sql/delta/rules/CHOptimizeMetadataOnlyDeltaQuery.scala
  backends-clickhouse/src/main/delta-23/org/apache/spark/sql/delta/rules/CHOptimizeMetadataOnlyDeltaQuery.scala
  backends-clickhouse/src/main/delta-23/org/apache/spark/sql/delta/stats/PrepareDeltaScan.scala
  backends-clickhouse/src/main/delta-32/io/delta/tables/ClickhouseTable.scala
  backends-clickhouse/src/main/delta-32/org/apache/spark/sql/delta/ClickhouseOptimisticTransaction.scala
  backends-clickhouse/src/main/delta-32/org/apache/spark/sql/delta/DeltaLog.scala
  backends-clickhouse/src/main/delta-32/org/apache/spark/sql/delta/Snapshot.scala
  backends-clickhouse/src/main/delta-32/org/apache/spark/sql/delta/catalog/ClickHouseTableV2.scala
  backends-clickhouse/src/main/delta-32/org/apache/spark/sql/delta/commands/DeleteCommand.scala
  backends-clickhouse/src/main/delta-32/org/apache/spark/sql/delta/commands/OptimizeTableCommand.scala
  backends-clickhouse/src/main/delta-32/org/apache/spark/sql/delta/commands/UpdateCommand.scala
  backends-clickhouse/src/main/delta-32/org/apache/spark/sql/delta/commands/VacuumCommand.scala
  backends-clickhouse/src/main/delta-32/org/apache/spark/sql/delta/commands/merge/ClassicMergeExecutor.scala
  backends-clickhouse/src/main/delta-32/org/apache/spark/sql/delta/rules/CHOptimizeMetadataOnlyDeltaQuery.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHBackend.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHRuleApi.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/mergetree/GlutenClickHouseMergeTreeWriteSuite.scala
  gluten-core/src/main/scala/org/apache/gluten/extension/injector/SparkInjector.scala
Labels: CORE, CLICKHOUSE

#7818 [VL] Remove load shared libhdfs
  backends-velox/src/main/scala/org/apache/gluten/utils/SharedLibraryLoaderCentos7.scala
  backends-velox/src/main/scala/org/apache/gluten/utils/SharedLibraryLoaderCentos8.scala
  backends-velox/src/main/scala/org/apache/gluten/utils/SharedLibraryLoaderCentos9.scala
  backends-velox/src/main/scala/org/apache/gluten/utils/SharedLibraryLoaderDebian11.scala
  backends-velox/src/main/scala/org/apache/gluten/utils/SharedLibraryLoaderDebian12.scala
  backends-velox/src/main/scala/org/apache/gluten/utils/SharedLibraryLoaderUbuntu2004.scala
  backends-velox/src/main/scala/org/apache/gluten/utils/SharedLibraryLoaderUbuntu2204.scala
Labels: VELOX

#7806 [GLUTEN-7749][VL] Trim ISOControl characters in string for casting to integral type
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxSparkPlanExecApi.scala
  gluten-ut/spark35/src/test/scala/org/apache/spark/sql/GlutenDataFrameSuite.scala
Labels: CORE, VELOX

#7769 [CH] Rename Mergetree part file name to avoid duplicated file name
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/mergetree/GlutenClickHouseMergeTreeWriteOnS3Suite.scala
  cpp-ch/local-engine/Common/GlutenConfig.cpp
  cpp-ch/local-engine/Common/GlutenConfig.h
  cpp-ch/local-engine/Disks/ObjectStorages/CompactObjectStorageDiskTransaction.cpp
  cpp-ch/local-engine/Disks/ObjectStorages/CompactObjectStorageDiskTransaction.h
  cpp-ch/local-engine/Storages/Cache/CacheManager.cpp
  cpp-ch/local-engine/Storages/Cache/CacheManager.h
  cpp-ch/local-engine/Storages/MergeTree/SparkStorageMergeTree.cpp
  cpp-ch/local-engine/Storages/MergeTree/SparkStorageMergeTree.h
Labels: CLICKHOUSE

#7819 [GLUTEN-7807] Transform relation bound attr using the name if attr'exprId not found.
  backends-velox/src/main/scala/org/apache/spark/sql/execution/ColumnarBuildSideRelation.scala
Labels: VELOX

#7824 [GLUTEN-1632][CH]Daily Update Clickhouse Version (20241106)
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenClickHouseWholeStageTransformerSuite.scala
  cpp-ch/clickhouse.version
  cpp-ch/local-engine/Storages/MergeTree/SparkStorageMergeTree.cpp
Labels: CLICKHOUSE

#7801 [GLUTEN-7795][CH] Add backend task id log
  backends-clickhouse/src/main/java/org/apache/gluten/memory/CHThreadGroup.java
  cpp-ch/local-engine/Common/QueryContext.cpp
  cpp-ch/local-engine/Common/QueryContext.h
  cpp-ch/local-engine/Parser/SerializedPlanParser.cpp
  cpp-ch/local-engine/Parser/SerializedPlanParser.h
  cpp-ch/local-engine/local_engine_jni.cpp
Labels: CLICKHOUSE

#7649 [GLUTEN-7647][CH] Lazy expand for aggregation
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHBackend.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHRuleApi.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/extension/LazyAggregateExpandRule.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/tpch/GlutenClickHouseTPCHSaltNullParquetSuite.scala
  cpp-ch/local-engine/Operator/AdvancedExpandStep.cpp
  cpp-ch/local-engine/Operator/AdvancedExpandStep.h
  cpp-ch/local-engine/Parser/RelParsers/AggregateRelParser.cpp
  cpp-ch/local-engine/Parser/RelParsers/ExpandRelParser.cpp
  cpp-ch/local-engine/Parser/RelParsers/ExpandRelParser.h
Labels: CLICKHOUSE

#7826 [VL] Remove one legacy Velox config used for Spark collect_list function
  cpp/velox/compute/WholeStageResultIterator.cc
Labels: VELOX

#7833 [CORE] Remove unused dependencies of gluten-substrait
  gluten-substrait/pom.xml
Labels: CORE

#7167 [GLUTEN-7079][VL] Fix metrics for InputIteratorTransformer of broadcast exchange
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHMetricsApi.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/metrics/GlutenClickHouseTPCHMetricsSuite.scala
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxMetricsApi.scala
  backends-velox/src/main/scala/org/apache/gluten/metrics/InputIteratorMetricsUpdater.scala
  backends-velox/src/test/scala/org/apache/gluten/execution/VeloxMetricsSuite.scala
  gluten-substrait/src/main/scala/org/apache/gluten/backendsapi/MetricsApi.scala
  gluten-substrait/src/main/scala/org/apache/spark/sql/execution/ColumnarCollapseTransformStages.scala
Labels: CORE, VELOX, CLICKHOUSE

#7799 [GLUTEN-7800][VL] Add config for max reclaim wait time to avoid dead lock when memory arbitration
  cpp/velox/config/VeloxConfig.h
  cpp/velox/jni/VeloxJniWrapper.cc
  cpp/velox/memory/VeloxMemoryManager.cc
  cpp/velox/shuffle/VeloxRssSortShuffleWriter.cc
  shims/common/src/main/scala/org/apache/gluten/GlutenConfig.scala
Labels: CORE, VELOX

#7832 [GLUTEN-7829][CH] Fix read csv file with datetime field not equals spark
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenClickHouseExcelFormatSuite.scala
  cpp-ch/local-engine/Storages/Serializations/ExcelReadHelpers.cpp
  cpp-ch/local-engine/Storages/Serializations/ExcelReadHelpers.h
Labels: CLICKHOUSE

#7804 [GLUTEN-7796][CH] Fix diff while casting bool to string
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenFunctionValidateSuite.scala
  cpp-ch/local-engine/Parser/ExpressionParser.cpp
  cpp-ch/local-engine/Parser/FunctionParser.cpp
  cpp-ch/local-engine/Parser/FunctionParser.h
Labels: CLICKHOUSE

#7811 [GLUTEN-7778][CH] Make aggregation output schema same as CH native
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHSparkPlanExecApi.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHTransformerApi.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/execution/CHHashAggregateExecTransformer.scala
Labels: CLICKHOUSE

#7836 Revert "[GLUTEN-7800][VL] Add config for max reclaim wait time to avoid dead lock when memory arbitration"
  cpp/velox/config/VeloxConfig.h
  cpp/velox/jni/VeloxJniWrapper.cc
  cpp/velox/memory/VeloxMemoryManager.cc
  cpp/velox/shuffle/VeloxRssSortShuffleWriter.cc
  shims/common/src/main/scala/org/apache/gluten/GlutenConfig.scala
Labels: CORE, VELOX

#6782 [VL] Sort shuffle writer use vectorized c2r
  cpp/velox/shuffle/VeloxSortShuffleWriter.cc
  cpp/velox/shuffle/VeloxSortShuffleWriter.h
Labels: VELOX

#7676 [GLUTEN-7675][VL] Support parquet write with complex data type(eg. MAP, ARRYY)
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxBackend.scala
  gluten-substrait/src/main/scala/org/apache/gluten/execution/WriteFilesExecTransformer.scala
  gluten-ut/spark33/src/test/scala/org/apache/spark/sql/execution/datasources/parquet/GlutenParquetFieldIdIOSuite.scala
  gluten-ut/spark34/src/test/scala/org/apache/gluten/utils/velox/VeloxTestSettings.scala
  gluten-ut/spark34/src/test/scala/org/apache/spark/sql/GlutenCharVarcharTestSuite.scala
  gluten-ut/spark34/src/test/scala/org/apache/spark/sql/execution/datasources/parquet/GlutenParquetFieldIdIOSuite.scala
  gluten-ut/spark35/src/test/scala/org/apache/gluten/utils/velox/VeloxTestSettings.scala
  gluten-ut/spark35/src/test/scala/org/apache/spark/sql/GlutenCharVarcharTestSuite.scala
  gluten-ut/spark35/src/test/scala/org/apache/spark/sql/execution/datasources/parquet/GlutenParquetFieldIdIOSuite.scala
Labels: CORE, VELOX

#7839 [GLUTEN-7795][CH] Remove duplicate log object
  cpp-ch/local-engine/Common/DebugUtils.cpp
  cpp-ch/local-engine/Parser/SerializedPlanParser.cpp
  cpp-ch/local-engine/Parser/SerializedPlanParser.h
Labels: CLICKHOUSE

#7835 [GLUTEN-1632][CH]Daily Update Clickhouse Version (20241107)
  cpp-ch/clickhouse.version
  cpp-ch/local-engine/Parser/RelParsers/CrossRelParser.cpp
  cpp-ch/local-engine/Parser/RelParsers/JoinRelParser.cpp
  cpp-ch/local-engine/tests/gtest_ch_join.cpp
Labels: CLICKHOUSE

#7848 [VL] Fix ccache installation in docker
  dev/docker/Dockerfile.centos7-static-build
Labels: BUILD

#7843 [CORE] Minor: Rename LimitTransformer to LimitExecTransformer
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxSparkPlanExecApi.scala
  backends-velox/src/test/scala/org/apache/gluten/execution/MiscOperatorSuite.scala
  backends-velox/src/test/scala/org/apache/gluten/execution/VeloxOrcDataTypeValidationSuite.scala
  backends-velox/src/test/scala/org/apache/gluten/execution/VeloxParquetDataTypeValidationSuite.scala
  gluten-substrait/src/main/scala/org/apache/gluten/execution/LimitExecTransformer.scala
  gluten-substrait/src/main/scala/org/apache/gluten/execution/TakeOrderedAndProjectExecTransformer.scala
  gluten-substrait/src/main/scala/org/apache/gluten/extension/columnar/FallbackRules.scala
  gluten-substrait/src/main/scala/org/apache/gluten/extension/columnar/OffloadSingleNode.scala
Labels: CORE, VELOX

#7858 [VL] Follow-up fix for PR #7848 to install ccache
  dev/docker/Dockerfile.centos7-static-build
Labels: BUILD

#7859 [GLUTEN-7458][VL] Upgrade GCC to version 11 in gluten-te's ubuntu dockerfile
  tools/gluten-te/ubuntu/dockerfile-buildenv
Labels: TOOLS

#7844 [CORE] Remove member TransformContext#inputAttributes as unused
  backends-clickhouse/src/main/scala/org/apache/gluten/execution/CHHashAggregateExecTransformer.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/execution/CHWindowGroupLimitExecTransformer.scala
  backends-velox/src/main/scala/org/apache/gluten/execution/HashAggregateExecTransformer.scala
  backends-velox/src/main/scala/org/apache/gluten/execution/TopNTransformer.scala
  gluten-substrait/src/main/scala/org/apache/gluten/execution/BasicPhysicalOperatorTransformer.scala
  gluten-substrait/src/main/scala/org/apache/gluten/execution/BasicScanExecTransformer.scala
  gluten-substrait/src/main/scala/org/apache/gluten/execution/CartesianProductExecTransformer.scala
  gluten-substrait/src/main/scala/org/apache/gluten/execution/ExpandExecTransformer.scala
  gluten-substrait/src/main/scala/org/apache/gluten/execution/GenerateExecTransformerBase.scala
  gluten-substrait/src/main/scala/org/apache/gluten/execution/JoinUtils.scala
  gluten-substrait/src/main/scala/org/apache/gluten/execution/LimitExecTransformer.scala
  gluten-substrait/src/main/scala/org/apache/gluten/execution/SampleExecTransformer.scala
  gluten-substrait/src/main/scala/org/apache/gluten/execution/SortExecTransformer.scala
  gluten-substrait/src/main/scala/org/apache/gluten/execution/WholeStageTransformer.scala
  gluten-substrait/src/main/scala/org/apache/gluten/execution/WindowExecTransformer.scala
  gluten-substrait/src/main/scala/org/apache/gluten/execution/WindowGroupLimitExecTransformer.scala
  gluten-substrait/src/main/scala/org/apache/gluten/execution/WriteFilesExecTransformer.scala
  gluten-substrait/src/main/scala/org/apache/spark/sql/execution/ColumnarCollapseTransformStages.scala
  gluten-substrait/src/main/scala/org/apache/spark/sql/execution/python/EvalPythonExecTransformer.scala
Labels: CORE, VELOX, CLICKHOUSE

#7845 [VL] Re-enable background IO threads by default
  .github/workflows/velox_backend.yml
  backends-velox/src/test/java/org/apache/gluten/test/MockVeloxBackend.java
  shims/common/src/main/scala/org/apache/gluten/GlutenConfig.scala
Labels: CORE, VELOX, INFRA

#7851 [GLUTEN-7850][VL] Native writer support CreateHiveTableAsSelectCommand
  backends-velox/src/test/scala/org/apache/spark/sql/execution/VeloxParquetWriteForHiveSuite.scala
  gluten-substrait/src/main/scala/org/apache/spark/sql/execution/datasources/GlutenWriterColumnarRules.scala
Labels: CORE, VELOX

#7863 [GLUTEN-7862][CH]fix pre-projection in aggregate not take effect
  backends-clickhouse/src/main/scala/org/apache/gluten/extension/PushdownAggregatePreProjectionAheadExpand.scala
Labels: CLICKHOUSE

#7846 [CH][Doc] Add Gluten CH Debug docs.
  docs/developers/clickhouse-backend-debug.md
  docs/image/ClickHouse/gluten-debug-build-libch.png
  docs/image/ClickHouse/gluten-debug-clion-debug.png
  docs/image/ClickHouse/gluten-debug-clion-toolchains.png
  docs/image/ClickHouse/gluten-debug-cmake-debug.png
  docs/image/ClickHouse/gluten-debug-cmake-reload.png
  docs/image/ClickHouse/gluten-debug-idea-config.png
  docs/image/ClickHouse/gluten-debug-profile-settings.png
  docs/image/ClickHouse/gluten-debug-program-args.png
Labels: DOCS

#7865 [VL] Clean up some legacy code and correct minimum GCC version
  .github/workflows/build_bundle_package.yml
  .github/workflows/velox_backend.yml
  .github/workflows/velox_backend_cache.yml
  dev/ci-velox-buildshared-centos-8.sh
  dev/ci-velox-buildstatic-centos-7.sh
  dev/vcpkg/README.md
  docs/developers/NewToGluten.md
  ep/build-velox/src/get_velox.sh
Labels: BUILD, VELOX, INFRA, DOCS

#7820 [VL] Do not use --version-script link option on Darwin
  cpp/velox/CMakeLists.txt
  cpp/velox/symbols.map
  cpp/velox/tests/CMakeLists.txt
Labels: VELOX

#7840 [GLUTEN-7647][CH] Enable lazy expand for `avg` and `sum(decimal)`
  backends-clickhouse/src/main/scala/org/apache/gluten/extension/LazyAggregateExpandRule.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/tpch/GlutenClickHouseTPCHSaltNullParquetSuite.scala
Labels: CLICKHOUSE

#7852 [GLUTEN-7760] Fix udf implicit cast & update doc
  backends-velox/src/main/scala/org/apache/spark/sql/hive/VeloxHiveUDFTransformer.scala
  backends-velox/src/test/scala/org/apache/gluten/expression/VeloxUdfSuite.scala
  docs/developers/VeloxUDF.md
  gluten-substrait/src/test/scala/org/apache/gluten/execution/WholeStageTransformerSuite.scala
  gluten-substrait/src/test/scala/org/apache/spark/sql/GlutenQueryTest.scala
Labels: CORE, VELOX, DOCS

#7888 [VL] Fix weekly scheduled GHA job
  .github/workflows/velox_weekly.yml
Labels: INFRA

#7884 [GLUTEN-1632][CH]Daily Update Clickhouse Version (20241111)
  cpp-ch/clickhouse.version
  cpp-ch/local-engine/Parser/scalar_function_parser/arrayExcept.cpp
  cpp-ch/local-engine/Parser/scalar_function_parser/arrayRemove.cpp
  cpp-ch/local-engine/Parser/scalar_function_parser/arrayRepeat.cpp
  cpp-ch/local-engine/Parser/scalar_function_parser/lambdaFunction.cpp
Labels: CLICKHOUSE

#7906 [GLUTEN-7886][VL] Fix broken Ubuntu 20.04 + VCPKG + GCS + ABFS build
  cpp/core/CMakeLists.txt
  cpp/velox/CMakeLists.txt
Labels: VELOX

#7891 [GLUTEN-7890][UI] Optimize cleanup gluten sql executions ui data
  gluten-ui/src/main/scala/org/apache/spark/sql/execution/ui/GlutenSQLAppStatusListener.scala
Labels: CORE

#7908 [GLUTEN-7907][CH] Fixed data race in `ExpresionParser::getUniqueName`
  cpp-ch/local-engine/Parser/ExpressionParser.cpp
  cpp-ch/local-engine/Parser/ExpressionParser.h
Labels: CLICKHOUSE

#7915 [VL] CI: Fix out-of-date module name in labeler.yml
  .github/labeler.yml
Labels: INFRA

#7080 [GLUTEN-7078][CORE] The fallback check for Scan should not be skipped when DPP is present
  gluten-substrait/src/main/scala/org/apache/gluten/extension/columnar/FallbackRules.scala
Labels: CORE

#7869 [GLUTEN-7868][CH] Nested column pruning for Project(Filter(Generate))
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHRuleApi.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/extension/ExtendedGeneratorNestedColumnAliasing.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/hive/GlutenClickHouseHiveTableSuite.scala
  shims/common/src/main/scala/org/apache/gluten/GlutenConfig.scala
Labels: CORE, CLICKHOUSE

#7918 [CORE] Consolidate RewriteSparkPlanRulesManager, AddFallbackTagRule, TransformPreOverrides into a single rule
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHRuleApi.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHSparkPlanExecApi.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/extension/FallbackBroadcastHashJoinRules.scala
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxRuleApi.scala
  gluten-core/src/main/scala/org/apache/gluten/backend/Backend.scala
  gluten-core/src/main/scala/org/apache/gluten/extension/GlutenSessionExtensions.scala
  gluten-core/src/main/scala/org/apache/gluten/extension/injector/Injector.scala
  gluten-substrait/src/main/scala/org/apache/gluten/backendsapi/RuleApi.scala
  gluten-substrait/src/main/scala/org/apache/gluten/backendsapi/SubstraitBackend.scala
  gluten-substrait/src/main/scala/org/apache/gluten/extension/GlutenPlan.scala
  gluten-substrait/src/main/scala/org/apache/gluten/extension/columnar/EnsureLocalSortRequirements.scala
  gluten-substrait/src/main/scala/org/apache/gluten/extension/columnar/FallbackRules.scala
  gluten-substrait/src/main/scala/org/apache/gluten/extension/columnar/FallbackTag.scala
  gluten-substrait/src/main/scala/org/apache/gluten/extension/columnar/MiscColumnarRules.scala
  gluten-substrait/src/main/scala/org/apache/gluten/extension/columnar/enumerated/EnumeratedTransform.scala
  gluten-substrait/src/main/scala/org/apache/gluten/extension/columnar/enumerated/RasOffload.scala
  gluten-substrait/src/main/scala/org/apache/gluten/extension/columnar/heuristic/AddFallbackTags.scala
  gluten-substrait/src/main/scala/org/apache/gluten/extension/columnar/heuristic/HeuristicTransform.scala
  gluten-substrait/src/main/scala/org/apache/gluten/extension/columnar/heuristic/LegacyOffload.scala
  gluten-substrait/src/main/scala/org/apache/gluten/extension/columnar/heuristic/OffloadSingleNode.scala
  gluten-substrait/src/main/scala/org/apache/gluten/extension/columnar/rewrite/RewriteJoin.scala
  gluten-substrait/src/main/scala/org/apache/gluten/extension/columnar/rewrite/RewriteSparkPlanRulesManager.scala
  gluten-substrait/src/main/scala/org/apache/spark/sql/execution/datasources/GlutenFormatWriterInjectsBase.scala
Labels: CORE, VELOX, CLICKHOUSE

#7917 [GLUTEN-7823] Revert "read data from orc file format - ignore reading except date32"
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenClickHouseExcelFormatSuite.scala
  cpp-ch/clickhouse.version
Labels: CLICKHOUSE

#7899 [GLUTEN-6887][VL] Daily Update Velox Version (2024_11_12)
  ep/build-velox/src/get_velox.sh
  ep/build-velox/src/modify_velox.patch
Labels: BUILD, VELOX

#7924 [GLUTEN-7028][CH][Part-8] Support one pipeline write for partition mergetree
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/mergetree/GlutenClickHouseMergeTreeWriteSuite.scala
  cpp-ch/local-engine/Parser/RelParsers/WriteRelParser.cpp
  cpp-ch/local-engine/Parser/SerializedPlanParser.cpp
  cpp-ch/local-engine/Parser/SerializedPlanParser.h
  cpp-ch/local-engine/Storages/MergeTree/SparkMergeTreeSink.cpp
  cpp-ch/local-engine/Storages/MergeTree/SparkMergeTreeSink.h
  cpp-ch/local-engine/Storages/MergeTree/SparkMergeTreeWriteSettings.cpp
  cpp-ch/local-engine/Storages/MergeTree/SparkMergeTreeWriteSettings.h
  cpp-ch/local-engine/Storages/MergeTree/SparkStorageMergeTree.cpp
  cpp-ch/local-engine/Storages/Output/NormalFileWriter.cpp
  cpp-ch/local-engine/Storages/Output/NormalFileWriter.h
  cpp-ch/local-engine/tests/gtest_write_pipeline_mergetree.cpp
  cpp-ch/local-engine/tests/json/mergetree/4_one_pipeline.json
  cpp-ch/local-engine/tests/json/mergetree/lineitem_parquet_input.json
Labels: CLICKHOUSE

#7931 [Minor] Fix a typo in Gluten config
  backends-velox/src/test/scala/org/apache/gluten/execution/FallbackSuite.scala
  backends-velox/src/test/scala/org/apache/gluten/execution/MiscOperatorSuite.scala
  backends-velox/src/test/scala/org/apache/gluten/execution/VeloxMetricsSuite.scala
  backends-velox/src/test/scala/org/apache/spark/sql/execution/benchmark/StreamingAggregateBenchmark.scala
  gluten-ut/spark35/src/test/scala/org/apache/spark/sql/execution/joins/GlutenInnerJoinSuite.scala
  gluten-ut/spark35/src/test/scala/org/apache/spark/sql/execution/joins/GlutenOuterJoinSuite.scala
  shims/common/src/main/scala/org/apache/gluten/GlutenConfig.scala
Labels: CORE, VELOX

#7929 [VL] Clean up unused variables in cpp source files
  cpp/velox/jni/VeloxJniWrapper.cc
  cpp/velox/shuffle/VeloxRssSortShuffleWriter.cc
Labels: VELOX

#7928 [CH] Fix SIGSEGV on jstring2string
  cpp-ch/local-engine/local_engine_jni.cpp
Labels: CLICKHOUSE

#7927 [GLUTEN-7647][CH] Fixed a bug in finding attributes in replacement map
  backends-clickhouse/src/main/scala/org/apache/gluten/extension/LazyAggregateExpandRule.scala
Labels: CLICKHOUSE

#7930 [CORE] Revert Spark version from v353 to v352
  .github/workflows/util/install_spark_resources.sh
  .github/workflows/velox_backend.yml
  pom.xml
  shims/spark35/src/main/scala/org/apache/gluten/sql/shims/spark35/SparkShimProvider.scala
  tools/gluten-it/pom.xml
Labels: CORE, INFRA, TOOLS

#7880 [VL][CI] Fix back upload golden files
  .github/workflows/velox_backend.yml
Labels: INFRA

#7935 [GLUTEN-7243][VL] A follow-up fix for #7748
  cpp/velox/operators/plannodes/RowVectorStream.h
Labels: VELOX

#7642 [GLUTEN-7641][VL] Add Gluten benchmark scripts
  tools/workload/benchmark_velox/README.md
  tools/workload/benchmark_velox/init_disks.py
  tools/workload/benchmark_velox/initialize.ipynb
  tools/workload/benchmark_velox/native_sql_initialize.ipynb
  tools/workload/benchmark_velox/params.yaml.template
  tools/workload/benchmark_velox/run_tpc_workload.sh
  tools/workload/benchmark_velox/tpc_workload.ipynb
  tools/workload/tpcds/gen_data/parquet_dataset/tpcds_datagen_parquet.sh
  tools/workload/tpch/gen_data/dwrf_dataset/tpch_convert_parquet_dwrf.scala
  tools/workload/tpch/gen_data/dwrf_dataset/tpch_convert_parquet_dwrf.sh
  tools/workload/tpch/gen_data/parquet_dataset/tpch_datagen_parquet.sh
Labels: TOOLS, DOCS

#7857 [GLUTEN-7856][CORE] Ensure correct enabling of GlutenCostEvaluator
  gluten-core/src/main/scala/org/apache/gluten/GlutenPlugin.scala
  shims/common/src/main/scala/org/apache/gluten/GlutenConfig.scala
Labels: CORE

#7933 [VL] Fix wrong lib suffix for google_cloud_cpp_storage
  cpp/velox/CMakeLists.txt
Labels: VELOX

#7945 [VL] Add test for scan operator with filter on decimal/timestamp/binary field
  backends-velox/src/test/scala/org/apache/gluten/execution/VeloxScanSuite.scala
  gluten-substrait/src/test/scala/org/apache/gluten/benchmarks/RandomParquetDataGenerator.scala
Labels: CORE, VELOX

#7363 [GLUTEN-7362][VL] Add test for 'IN' and 'OR' filter in Scan
  backends-velox/src/test/scala/org/apache/gluten/execution/MiscOperatorSuite.scala
Labels: VELOX

#7598 [GLUTEN-7387][CH] Allow parallel downloading in scan operator for hive text/json table when the whole compresse(not bzip2) file is a single file split
  cpp-ch/clickhouse.version
  cpp-ch/local-engine/Common/CHUtil.cpp
  cpp-ch/local-engine/Storages/SubstraitSource/ReadBufferBuilder.cpp
  cpp-ch/local-engine/Storages/SubstraitSource/ReadBufferBuilder.h
Labels: need test, CLICKHOUSE

#7897 [GLUTEN-6896] Add buffered read for hash/sort shuffle reader
  backends-velox/src/main/scala/org/apache/gluten/vectorized/ColumnarBatchSerializer.scala
  cpp/core/jni/JniWrapper.cc
  cpp/core/shuffle/Options.h
  cpp/core/shuffle/Payload.cc
  cpp/core/shuffle/Payload.h
  cpp/velox/compute/VeloxRuntime.cc
  cpp/velox/shuffle/VeloxShuffleReader.cc
  cpp/velox/shuffle/VeloxShuffleReader.h
  cpp/velox/utils/tests/VeloxShuffleWriterTestBase.h
  docs/Configuration.md
  gluten-arrow/src/main/java/org/apache/gluten/vectorized/ShuffleReaderJniWrapper.java
  gluten-celeborn/velox/src/main/scala/org/apache/spark/shuffle/VeloxCelebornColumnarBatchSerializer.scala
  shims/common/src/main/scala/org/apache/gluten/GlutenConfig.scala
Labels: CORE, VELOX, RSS, DOCS

#7853 [GLUTEN-7837][VL] Spark driver should not initialize cache if not in local mode
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxListenerApi.scala
Labels: VELOX

#7268 [GLUTEN-7267][CH]Support nested column pruning for `HiveTableScan` json/parquet/orc format
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHBackend.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/hive/GlutenClickHouseHiveTableSuite.scala
  gluten-substrait/src/main/scala/org/apache/gluten/backendsapi/BackendSettingsApi.scala
  gluten-substrait/src/main/scala/org/apache/gluten/extension/columnar/heuristic/OffloadSingleNode.scala
  gluten-substrait/src/main/scala/org/apache/spark/sql/hive/HiveTableScanExecTransformer.scala
  gluten-substrait/src/main/scala/org/apache/spark/sql/hive/HiveTableScanNestedColumnPruning.scala
  shims/common/src/main/scala/org/apache/gluten/GlutenConfig.scala
  shims/spark32/src/main/scala/org/apache/spark/sql/hive/execution/AbstractHiveTableScanExec.scala
  shims/spark33/src/main/scala/org/apache/spark/sql/hive/execution/AbstractHiveTableScanExec.scala
  shims/spark34/src/main/scala/org/apache/spark/sql/hive/execution/AbstractHiveTableScanExec.scala
  shims/spark35/src/main/scala/org/apache/spark/sql/hive/execution/AbstractHiveTableScanExec.scala
Labels: CORE, CLICKHOUSE

#7957 [GLUTEN-7499][VL][CI] Print ccache statistics for tracking its efficacy
  .github/workflows/velox_backend.yml
Labels: INFRA

#7599 [GLUTEN-7594] [CH] support cast const map to string
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/compatibility/GlutenClickhouseFunctionSuite.scala
  cpp-ch/local-engine/Functions/SparkFunctionMapToString.h
Labels: CLICKHOUSE

#7948 [GLUTEN-7947][CORE] Add buildSide info for BroadcastNestedLoopJoinExecTransformer simpleStringWithNodeId
  gluten-substrait/src/main/scala/org/apache/gluten/execution/BroadcastNestedLoopJoinExecTransformer.scala
Labels: CORE

#7892 Add config to support viewfs in Gluten.
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHIteratorApi.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/mergetree/GlutenClickHouseMergeTreeWriteOnS3Suite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/mergetree/GlutenClickHouseMergeTreeWriteSuite.scala
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxIteratorApi.scala
  gluten-iceberg/src/main/scala/org/apache/gluten/execution/IcebergScanTransformer.scala
  gluten-iceberg/src/test/scala/org/apache/gluten/execution/VeloxIcebergSuite.scala
  gluten-substrait/src/main/java/org/apache/gluten/substrait/rel/LocalFilesNode.java
  gluten-substrait/src/main/scala/org/apache/gluten/backendsapi/IteratorApi.scala
  gluten-substrait/src/main/scala/org/apache/gluten/execution/BasicScanExecTransformer.scala
  gluten-substrait/src/main/scala/org/apache/gluten/execution/WholeStageTransformer.scala
  shims/common/src/main/scala/org/apache/gluten/GlutenConfig.scala
Labels: CORE, VELOX, CLICKHOUSE, DATA_LAKE

#7960 [GLUTEN-7959][CH] `AdvancedExpandStep` generates less row than expected
  cpp-ch/local-engine/Operator/AdvancedExpandStep.cpp
Labels: CLICKHOUSE

#7963 [GLUTEN-7962][CH] A friendly API to build aggregator params
  cpp-ch/local-engine/Common/AggregateUtil.cpp
  cpp-ch/local-engine/Common/AggregateUtil.h
  cpp-ch/local-engine/Operator/AdvancedExpandStep.cpp
  cpp-ch/local-engine/Parser/RelParsers/AggregateRelParser.cpp
Labels: CLICKHOUSE

#7967 [GLUTEN-7910][CORE][VL] Flip dependency direction for gluten-iceberg
  backends-velox/pom.xml
  backends-velox/src/test-iceberg/scala/org/apache/gluten/execution/VeloxIcebergSuite.scala
  backends-velox/src/test-iceberg/scala/org/apache/gluten/execution/VeloxTPCHIcebergSuite.scala
  gluten-iceberg/pom.xml
  gluten-iceberg/src/test/scala/org/apache/gluten/execution/IcebergSuite.scala
Labels: VELOX, DATA_LAKE

#7982 [GLUTEN-7887][VL][DOC] Add usage doc about dynamic load jvm libhdfs and native libhdfs3
  docs/developers/MicroBenchmarks.md
  docs/get-started/Velox.md
Labels: DOCS

#7970 [GLUTEN-7969][VL] Enable spill to multiple directories for micro benchmark
  cpp/core/shuffle/LocalPartitionWriter.cc
  cpp/core/shuffle/LocalPartitionWriter.h
  cpp/core/shuffle/Utils.cc
  cpp/core/shuffle/Utils.h
  cpp/core/utils/StringUtil.cc
  cpp/core/utils/StringUtil.h
  cpp/velox/benchmarks/GenericBenchmark.cc
  cpp/velox/benchmarks/common/BenchmarkUtils.cc
  cpp/velox/benchmarks/common/BenchmarkUtils.h
  cpp/velox/tests/CMakeLists.txt
  cpp/velox/tests/MyUdfTest.cc
  docs/developers/MicroBenchmarks.md
Labels: VELOX, DOCS

#7989 [CORE] Avoid formatted comments from being messed by non-spotless linters (especially IDE linters)
  backends-velox/src/main/scala/org/apache/spark/sql/execution/ColumnarCachedBatchSerializer.scala
  gluten-substrait/src/main/scala/org/apache/gluten/extension/columnar/heuristic/ExpandFallbackPolicy.scala
  gluten-substrait/src/main/scala/org/apache/spark/sql/execution/GlutenExplainUtils.scala
  gluten-substrait/src/main/scala/org/apache/spark/sql/execution/GlutenImplicits.scala
Labels: CORE, VELOX

#7752 [GLUTEN-7751][VL] Merge two consecutive aggregates to one in complete mode
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxRuleApi.scala
  backends-velox/src/main/scala/org/apache/gluten/execution/HashAggregateExecTransformer.scala
  backends-velox/src/test/resources/tpch-approved-plan/v1-bhj/spark33/15.txt
  backends-velox/src/test/resources/tpch-approved-plan/v1-bhj/spark34/15.txt
  backends-velox/src/test/resources/tpch-approved-plan/v1/spark32/13.txt
  backends-velox/src/test/resources/tpch-approved-plan/v1/spark32/14.txt
  backends-velox/src/test/resources/tpch-approved-plan/v1/spark32/17.txt
  backends-velox/src/test/resources/tpch-approved-plan/v1/spark32/18.txt
  backends-velox/src/test/resources/tpch-approved-plan/v1/spark32/19.txt
  backends-velox/src/test/resources/tpch-approved-plan/v1/spark32/20.txt
  backends-velox/src/test/resources/tpch-approved-plan/v1/spark32/3.txt
  backends-velox/src/test/resources/tpch-approved-plan/v1/spark33/11.txt
  backends-velox/src/test/resources/tpch-approved-plan/v1/spark33/13.txt
  backends-velox/src/test/resources/tpch-approved-plan/v1/spark33/14.txt
  backends-velox/src/test/resources/tpch-approved-plan/v1/spark33/15.txt
  backends-velox/src/test/resources/tpch-approved-plan/v1/spark33/17.txt
  backends-velox/src/test/resources/tpch-approved-plan/v1/spark33/18.txt
  backends-velox/src/test/resources/tpch-approved-plan/v1/spark33/19.txt
  backends-velox/src/test/resources/tpch-approved-plan/v1/spark33/20.txt
  backends-velox/src/test/resources/tpch-approved-plan/v1/spark33/3.txt
  backends-velox/src/test/resources/tpch-approved-plan/v1/spark34/11.txt
  backends-velox/src/test/resources/tpch-approved-plan/v1/spark34/13.txt
  backends-velox/src/test/resources/tpch-approved-plan/v1/spark34/14.txt
  backends-velox/src/test/resources/tpch-approved-plan/v1/spark34/15.txt
  backends-velox/src/test/resources/tpch-approved-plan/v1/spark34/17.txt
  backends-velox/src/test/resources/tpch-approved-plan/v1/spark34/18.txt
  backends-velox/src/test/resources/tpch-approved-plan/v1/spark34/19.txt
  backends-velox/src/test/resources/tpch-approved-plan/v1/spark34/20.txt
  backends-velox/src/test/resources/tpch-approved-plan/v1/spark34/3.txt
  backends-velox/src/test/scala/org/apache/gluten/execution/VeloxAggregateFunctionsSuite.scala
  docs/Configuration.md
  gluten-substrait/src/main/scala/org/apache/gluten/extension/columnar/MergeTwoPhasesHashBaseAggregate.scala
  gluten-ut/spark33/src/test/scala/org/apache/spark/sql/execution/GlutenReplaceHashWithSortAggSuite.scala
  gluten-ut/spark34/src/test/scala/org/apache/spark/sql/execution/GlutenReplaceHashWithSortAggSuite.scala
  gluten-ut/spark35/src/test/scala/org/apache/spark/sql/execution/GlutenReplaceHashWithSortAggSuite.scala
  gluten-ut/test/src/test/scala/org/apache/gluten/execution/MergeTwoPhasesHashBaseAggregateSuite.scala
  shims/common/src/main/scala/org/apache/gluten/GlutenConfig.scala
Labels: CORE, VELOX, DOCS

#7990 [GLUTEN-7800][VL] Add config for max reclaim wait time to avoid dead lock when memory arbitration
  cpp/velox/config/VeloxConfig.h
  cpp/velox/memory/VeloxMemoryManager.cc
  shims/common/src/main/scala/org/apache/gluten/GlutenConfig.scala
Labels: CORE, VELOX

#7995 [GLUTEN-7986][CH] Improve lazy expand for high cardinality aggregation
  cpp-ch/local-engine/Operator/AdvancedExpandStep.cpp
  cpp-ch/local-engine/Operator/AdvancedExpandStep.h
Labels: CLICKHOUSE

#8001 [CORE] Minor: Use lower case for Maven profile names
  pom.xml
Labels: CORE

#8002 [CORE] Query planner: A more explicit practice to register columnar batch types
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHListenerApi.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/columnarbatch/CHBatch.scala
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxListenerApi.scala
  backends-velox/src/main/scala/org/apache/gluten/columnarbatch/VeloxBatch.scala
  gluten-arrow/src/main/scala/org/apache/gluten/columnarbatch/ArrowBatches.scala
  gluten-core/src/main/scala/org/apache/gluten/extension/columnar/enumerated/planner/property/Conv.scala
  gluten-core/src/main/scala/org/apache/gluten/extension/columnar/transition/Convention.scala
  gluten-core/src/main/scala/org/apache/gluten/extension/columnar/transition/Transitions.scala
  gluten-substrait/src/main/scala/org/apache/gluten/extension/columnar/EnsureLocalSortRequirements.scala
  gluten-substrait/src/test/scala/org/apache/gluten/extension/columnar/transition/TransitionSuite.scala
Labels: CORE, VELOX, CLICKHOUSE

#7980 [GLUTEN-7979][CH] Fix exception cause by one child of UnionExec outputs Array(Nothing) while the other outputs Array(String)
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/tpch/GlutenClickHouseTPCHSaltNullParquetSuite.scala
  cpp-ch/local-engine/Common/CHUtil.cpp
  cpp-ch/local-engine/Common/GlutenStringUtils.h
  cpp-ch/local-engine/Operator/PartitionColumnFillingTransform.cpp
  cpp-ch/local-engine/Parser/FunctionExecutor.cpp
  cpp-ch/local-engine/Parser/SerializedPlanParser.cpp
  cpp-ch/local-engine/Storages/IO/NativeReader.cpp
  cpp-ch/local-engine/Storages/IO/NativeWriter.cpp
  cpp-ch/local-engine/Storages/SubstraitSource/FormatFile.cpp
  cpp-ch/local-engine/Storages/SubstraitSource/FormatFile.h
  cpp-ch/local-engine/Storages/SubstraitSource/SubstraitFileSource.cpp
  gluten-ut/spark32/src/test/scala/org/apache/gluten/utils/clickhouse/ClickHouseTestSettings.scala
  gluten-ut/spark33/src/test/scala/org/apache/gluten/utils/clickhouse/ClickHouseTestSettings.scala
  gluten-ut/spark34/src/test/scala/org/apache/gluten/utils/clickhouse/ClickHouseTestSettings.scala
  gluten-ut/spark35/src/test/scala/org/apache/gluten/utils/clickhouse/ClickHouseTestSettings.scala
Labels: CORE, CLICKHOUSE

#7981 [GLUTEN-7971][CH] Support using left side as the build table for the left anti/semi join
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHBackend.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/execution/CHHashJoinExecTransformer.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/tpcds/GlutenClickHouseTPCDSParquetAQESuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/tpcds/GlutenClickHouseTPCDSParquetColumnarShuffleAQESuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/tpcds/GlutenClickHouseTPCDSParquetColumnarShuffleSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/tpcds/GlutenClickHouseTPCDSParquetSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/tpch/GlutenClickHouseTPCHParquetAQESuite.scala
  cpp-ch/local-engine/Common/CHUtil.cpp
  gluten-substrait/src/main/scala/org/apache/gluten/execution/JoinUtils.scala
Labels: CORE, CLICKHOUSE

#8008 [GLUTEN-7267][CORE][CH] Move schema pruning optimization of HiveTableScan to an individual post-transform rule
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHBackend.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHRuleApi.scala
  gluten-substrait/src/main/scala/org/apache/gluten/backendsapi/BackendSettingsApi.scala
  gluten-substrait/src/main/scala/org/apache/gluten/extension/columnar/PruneNestedColumnsInHiveTableScan.scala
  gluten-substrait/src/main/scala/org/apache/gluten/extension/columnar/offload/OffloadSingleNodeRules.scala
  gluten-substrait/src/main/scala/org/apache/spark/sql/hive/HiveTableScanNestedColumnPruning.scala
Labels: CORE, CLICKHOUSE

#8006 [GLUTEN-8005][VL] Add MergeTwoPhasesHashBaseAggregate to injectRas list
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxRuleApi.scala
  backends-velox/src/test/resources/tpch-approved-plan/v1-bhj-ras/spark33/15.txt
  backends-velox/src/test/resources/tpch-approved-plan/v1-bhj-ras/spark34/15.txt
  backends-velox/src/test/resources/tpch-approved-plan/v1-ras/spark32/13.txt
  backends-velox/src/test/resources/tpch-approved-plan/v1-ras/spark32/14.txt
  backends-velox/src/test/resources/tpch-approved-plan/v1-ras/spark32/17.txt
  backends-velox/src/test/resources/tpch-approved-plan/v1-ras/spark32/18.txt
  backends-velox/src/test/resources/tpch-approved-plan/v1-ras/spark32/19.txt
  backends-velox/src/test/resources/tpch-approved-plan/v1-ras/spark32/20.txt
  backends-velox/src/test/resources/tpch-approved-plan/v1-ras/spark32/3.txt
  backends-velox/src/test/resources/tpch-approved-plan/v1-ras/spark33/11.txt
  backends-velox/src/test/resources/tpch-approved-plan/v1-ras/spark33/13.txt
  backends-velox/src/test/resources/tpch-approved-plan/v1-ras/spark33/14.txt
  backends-velox/src/test/resources/tpch-approved-plan/v1-ras/spark33/15.txt
  backends-velox/src/test/resources/tpch-approved-plan/v1-ras/spark33/17.txt
  backends-velox/src/test/resources/tpch-approved-plan/v1-ras/spark33/18.txt
  backends-velox/src/test/resources/tpch-approved-plan/v1-ras/spark33/19.txt
  backends-velox/src/test/resources/tpch-approved-plan/v1-ras/spark33/20.txt
  backends-velox/src/test/resources/tpch-approved-plan/v1-ras/spark33/3.txt
  backends-velox/src/test/resources/tpch-approved-plan/v1-ras/spark34/11.txt
  backends-velox/src/test/resources/tpch-approved-plan/v1-ras/spark34/13.txt
  backends-velox/src/test/resources/tpch-approved-plan/v1-ras/spark34/14.txt
  backends-velox/src/test/resources/tpch-approved-plan/v1-ras/spark34/15.txt
  backends-velox/src/test/resources/tpch-approved-plan/v1-ras/spark34/17.txt
  backends-velox/src/test/resources/tpch-approved-plan/v1-ras/spark34/18.txt
  backends-velox/src/test/resources/tpch-approved-plan/v1-ras/spark34/19.txt
  backends-velox/src/test/resources/tpch-approved-plan/v1-ras/spark34/20.txt
  backends-velox/src/test/resources/tpch-approved-plan/v1-ras/spark34/3.txt
  gluten-ut/spark34/src/test/scala/org/apache/gluten/utils/clickhouse/ClickHouseTestSettings.scala
  gluten-ut/spark35/src/test/scala/org/apache/gluten/utils/clickhouse/ClickHouseTestSettings.scala
  gluten-ut/spark35/src/test/scala/org/apache/spark/sql/execution/GlutenReplaceHashWithSortAggSuite.scala
  gluten-ut/test/src/test/scala/org/apache/gluten/execution/MergeTwoPhasesHashBaseAggregateSuite.scala
Labels: CORE, VELOX

#7996 [VL] fallback unsupported orc write for spark32 and spark33
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxListenerApi.scala
  backends-velox/src/main/scala/org/apache/spark/sql/execution/datasources/velox/VeloxOrcWriterInjects.scala
Labels: VELOX

#8009 [CORE][CH] Remove API BackendSettingsApi#supportShuffleWithProject
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHBackend.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHSparkPlanExecApi.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHValidatorApi.scala
  backends-clickhouse/src/main/scala/org/apache/spark/shuffle/utils/RangePartitionerBoundsGenerator.scala
  gluten-substrait/src/main/scala/org/apache/gluten/backendsapi/BackendSettingsApi.scala
Labels: CORE, CLICKHOUSE

#8000 [GLUTEN-7999][VL] Add compression codec extension to velox written parquet file
  backends-velox/src/test/scala/org/apache/spark/sql/execution/VeloxParquetWriteSuite.scala
  cpp/velox/substrait/SubstraitToVeloxPlan.cc
Labels: VELOX

#7369 [VL] Link shared jemalloc lib to work with LD_PRELOAD
  cpp/CMake/Buildjemalloc.cmake
  cpp/CMake/Findjemalloc.cmake
  cpp/velox/CMakeLists.txt
  cpp/velox/memory/VeloxMemoryManager.cc
  dev/vcpkg/ports/jemalloc/fix-configure-ac.patch
  dev/vcpkg/ports/jemalloc/portfile.cmake
  dev/vcpkg/ports/jemalloc/preprocessor.patch
  dev/vcpkg/ports/jemalloc/vcpkg.json
  dev/vcpkg/vcpkg.json
Labels: BUILD, VELOX

#8027 [GLUTEN-7950][VL] Keep Core module's build flag consistent with Velox
  cpp/core/CMakeLists.txt
  ep/build-velox/src/get_velox.sh
Labels: BUILD, VELOX

#8033 [VL] RAS: Remove alternative constraint sets passing to RAS planner
  gluten-core/src/main/scala/org/apache/gluten/extension/columnar/enumerated/EnumeratedTransform.scala
  gluten-ras/common/src/main/scala/org/apache/gluten/ras/Ras.scala
  gluten-ras/common/src/main/scala/org/apache/gluten/ras/RasPlanner.scala
  gluten-ras/common/src/main/scala/org/apache/gluten/ras/dp/DpPlanner.scala
  gluten-ras/common/src/main/scala/org/apache/gluten/ras/exaustive/ExhaustivePlanner.scala
  gluten-ras/common/src/test/scala/org/apache/gluten/ras/PropertySuite.scala
Labels: CORE

#8011 [GLUTEN-8010][CORE] Don't generate native metrics if transformer don't generate relNode
  backends-clickhouse/src/main/scala/org/apache/gluten/metrics/MetricsUtil.scala
  gluten-substrait/src/main/scala/org/apache/gluten/execution/BasicPhysicalOperatorTransformer.scala
  gluten-substrait/src/main/scala/org/apache/gluten/execution/ExpandExecTransformer.scala
  gluten-substrait/src/main/scala/org/apache/gluten/execution/SortExecTransformer.scala
  gluten-substrait/src/main/scala/org/apache/gluten/execution/WholeStageTransformer.scala
  gluten-substrait/src/main/scala/org/apache/gluten/execution/WindowExecTransformer.scala
  gluten-substrait/src/main/scala/org/apache/gluten/substrait/SubstraitContext.scala
Labels: CORE, CLICKHOUSE

#8035 [VL] Bump jemalloc version and update relevant documents
  cpp/CMake/Buildjemalloc.cmake
  docs/developers/HowTo.md
  docs/developers/ProfileMemoryOfGlutenWithVelox.md
  docs/get-started/build-guide.md
Labels: VELOX, DOCS

#8034 [VL] Clean up duplicate CMake code for setting CMAKE_CXX_FLAGS
  cpp/CMakeLists.txt
  cpp/core/CMakeLists.txt
  cpp/velox/CMakeLists.txt
Labels: VELOX

#8017 [GLUTEN-7741][VL] Fix deprecated actions/upload-artifact version issue when building bundle package
  .github/workflows/build_bundle_package.yml
Labels: INFRA

#8047 [VL] vcpkg: Broken libelf mirror
  dev/vcpkg/ports/libelf/portfile.cmake
Labels: BUILD

#7923 [GLUTEN-7896][CH]Fix to_date diff for time parser policy config
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/tpch/GlutenClickHouseTPCHSaltNullParquetSuite.scala
  cpp-ch/local-engine/Common/CHUtil.cpp
  cpp-ch/local-engine/Common/CHUtil.h
  cpp-ch/local-engine/Parser/scalar_function_parser/CommonScalarFunctionParser.cpp
  cpp-ch/local-engine/Parser/scalar_function_parser/getTimestamp.cpp
  cpp-ch/local-engine/Parser/scalar_function_parser/getTimestamp.h
  cpp-ch/local-engine/Parser/scalar_function_parser/unixTimestamp.cpp
  shims/common/src/main/scala/org/apache/gluten/GlutenConfig.scala
Labels: CORE, CLICKHOUSE

#7968 [CH]Daily Update Clickhouse Version (20241118)
  cpp-ch/clickhouse.version
  cpp-ch/local-engine/Disks/ObjectStorages/CompactObjectStorageDiskTransaction.cpp
  cpp-ch/local-engine/Disks/ObjectStorages/CompactObjectStorageDiskTransaction.h
  cpp-ch/local-engine/Disks/ObjectStorages/GlutenDiskHDFS.cpp
  cpp-ch/local-engine/Disks/ObjectStorages/GlutenDiskS3.cpp
  cpp-ch/local-engine/Functions/SparkFunctionRoundHalfUp.h
  cpp-ch/local-engine/Operator/GraceAggregatingTransform.cpp
  cpp-ch/local-engine/Operator/GraceAggregatingTransform.h
  cpp-ch/local-engine/Parser/RelParsers/CrossRelParser.cpp
  cpp-ch/local-engine/Parser/RelParsers/JoinRelParser.cpp
  cpp-ch/local-engine/Storages/MergeTree/SparkStorageMergeTree.cpp
Labels: CLICKHOUSE

#8051 [GLUTEN-8046][VL] CI: fix velox cache/bundle package script
  .github/workflows/build_bundle_package.yml
  .github/workflows/velox_backend.yml
  .github/workflows/velox_backend_cache.yml
Labels: INFRA

#8038 [GLUTEN-7631][VL] Fall back lead/lag if input is foldable
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxBackend.scala
  gluten-ut/spark32/src/test/scala/org/apache/gluten/utils/velox/VeloxTestSettings.scala
  gluten-ut/spark33/src/test/scala/org/apache/gluten/utils/velox/VeloxTestSettings.scala
  gluten-ut/spark34/src/test/scala/org/apache/gluten/utils/velox/VeloxTestSettings.scala
  gluten-ut/spark35/src/test/scala/org/apache/gluten/utils/velox/VeloxTestSettings.scala
Labels: CORE, VELOX

#8036 [GLUTEN-6920][CORE] Redesign and move trait `GlutenPlan` to `gluten-core`
  backends-clickhouse/src/main/scala/org/apache/gluten/extension/FallbackBroadcastHashJoinRules.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/metrics/GlutenClickHouseTPCDSMetricsSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/metrics/GlutenClickHouseTPCHMetricsSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/tpch/GlutenClickHouseTPCHColumnarShuffleParquetAQESuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/tpch/GlutenClickHouseTPCHSaltNullParquetSuite.scala
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxRuleApi.scala
  backends-velox/src/main/scala/org/apache/gluten/execution/ColumnarPartialProjectExec.scala
  backends-velox/src/main/scala/org/apache/gluten/execution/RowToVeloxColumnarExec.scala
  backends-velox/src/main/scala/org/apache/gluten/execution/VeloxResizeBatchesExec.scala
  backends-velox/src/main/scala/org/apache/gluten/extension/ArrowConvertorRule.scala
  backends-velox/src/main/scala/org/apache/spark/api/python/ColumnarArrowEvalPythonExec.scala
  backends-velox/src/main/scala/org/apache/spark/sql/execution/BaseArrowScanExec.scala
  backends-velox/src/test/scala/org/apache/gluten/execution/FallbackSuite.scala
  gluten-core/src/main/scala/org/apache/gluten/execution/ColumnarToColumnarExec.scala
  gluten-core/src/main/scala/org/apache/gluten/execution/GlutenPlan.scala
  gluten-core/src/main/scala/org/apache/gluten/extension/columnar/enumerated/planner/plan/GlutenPlanModel.scala
  gluten-core/src/main/scala/org/apache/gluten/extension/columnar/enumerated/planner/property/Conv.scala
  gluten-core/src/main/scala/org/apache/gluten/extension/columnar/transition/Convention.scala
  gluten-core/src/main/scala/org/apache/gluten/extension/columnar/transition/ConventionFunc.scala
  gluten-core/src/main/scala/org/apache/gluten/extension/columnar/transition/ConventionReq.scala
  gluten-core/src/main/scala/org/apache/gluten/extension/columnar/transition/Transitions.scala
  gluten-substrait/src/main/scala/org/apache/gluten/execution/BasicPhysicalOperatorTransformer.scala
  gluten-substrait/src/main/scala/org/apache/gluten/execution/CartesianProductExecTransformer.scala
  gluten-substrait/src/main/scala/org/apache/gluten/execution/ColumnarCoalesceExec.scala
  gluten-substrait/src/main/scala/org/apache/gluten/execution/ColumnarToRowExecBase.scala
  gluten-substrait/src/main/scala/org/apache/gluten/execution/RowToColumnarExecBase.scala
  gluten-substrait/src/main/scala/org/apache/gluten/execution/TakeOrderedAndProjectExecTransformer.scala
  gluten-substrait/src/main/scala/org/apache/gluten/execution/WholeStageTransformer.scala
  gluten-substrait/src/main/scala/org/apache/gluten/extension/GlutenPlan.scala
  gluten-substrait/src/main/scala/org/apache/gluten/extension/columnar/enumerated/RasOffload.scala
  gluten-substrait/src/main/scala/org/apache/gluten/extension/columnar/enumerated/RemoveSort.scala
  gluten-substrait/src/main/scala/org/apache/gluten/extension/columnar/heuristic/ExpandFallbackPolicy.scala
  gluten-substrait/src/main/scala/org/apache/gluten/extension/columnar/offload/OffloadSingleNodeRules.scala
  gluten-substrait/src/main/scala/org/apache/gluten/extension/columnar/validator/Validators.scala
  gluten-substrait/src/main/scala/org/apache/spark/sql/execution/ColumnarBroadcastExchangeExec.scala
  gluten-substrait/src/main/scala/org/apache/spark/sql/execution/ColumnarCollapseTransformStages.scala
  gluten-substrait/src/main/scala/org/apache/spark/sql/execution/ColumnarShuffleExchangeExec.scala
  gluten-substrait/src/main/scala/org/apache/spark/sql/execution/ColumnarSubqueryBroadcastExec.scala
  gluten-substrait/src/main/scala/org/apache/spark/sql/execution/ColumnarWriteFilesExec.scala
  gluten-substrait/src/main/scala/org/apache/spark/sql/execution/GlutenExplainUtils.scala
  gluten-substrait/src/main/scala/org/apache/spark/sql/execution/GlutenFallbackReporter.scala
  gluten-substrait/src/main/scala/org/apache/spark/sql/execution/GlutenImplicits.scala
  gluten-substrait/src/main/scala/org/apache/spark/sql/execution/datasources/GlutenWriterColumnarRules.scala
  gluten-substrait/src/test/scala/org/apache/gluten/extension/columnar/transition/TransitionSuite.scala
  gluten-substrait/src/test/scala/org/apache/gluten/extension/columnar/transition/TransitionSuiteBase.scala
  gluten-substrait/src/test/scala/org/apache/gluten/test/FallbackUtil.scala
  gluten-substrait/src/test/scala/org/apache/spark/sql/GlutenQueryTest.scala
  gluten-ut/spark32/src/test/scala/org/apache/spark/sql/execution/FallbackStrategiesSuite.scala
  gluten-ut/spark32/src/test/scala/org/apache/spark/sql/statistics/SparkFunctionStatistics.scala
  gluten-ut/spark33/src/test/scala/org/apache/spark/sql/execution/FallbackStrategiesSuite.scala
  gluten-ut/spark33/src/test/scala/org/apache/spark/sql/statistics/SparkFunctionStatistics.scala
  gluten-ut/spark34/src/test/scala/org/apache/spark/sql/execution/FallbackStrategiesSuite.scala
  gluten-ut/spark34/src/test/scala/org/apache/spark/sql/sources/GlutenInsertSuite.scala
  gluten-ut/spark34/src/test/scala/org/apache/spark/sql/statistics/SparkFunctionStatistics.scala
  gluten-ut/spark35/src/test/scala/org/apache/spark/sql/execution/FallbackStrategiesSuite.scala
  gluten-ut/spark35/src/test/scala/org/apache/spark/sql/sources/GlutenInsertSuite.scala
  gluten-ut/spark35/src/test/scala/org/apache/spark/sql/statistics/SparkFunctionStatistics.scala
  gluten-ut/test/src/test/scala/org/apache/spark/sql/GlutenExpressionDataTypesValidation.scala
Labels: CORE, VELOX, CLICKHOUSE

#7992 [GLUTEN-3839][CH] Extend nested column pruning in vanilla spark
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHRuleApi.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/extension/ExtendedColumnPruning.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/extension/ExtendedGeneratorNestedColumnAliasing.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/hive/GlutenClickHouseHiveTableSuite.scala
  cpp-ch/local-engine/Storages/Output/NormalFileWriter.cpp
  shims/common/src/main/scala/org/apache/gluten/GlutenConfig.scala
Labels: CORE, CLICKHOUSE

#8040 [GLUTEN-8039][VL] Native writer should respect table properties
  backends-velox/src/test/scala/org/apache/spark/sql/execution/VeloxParquetWriteForHiveSuite.scala
  shims/spark32/src/main/scala/org/apache/spark/sql/hive/execution/HiveFileFormat.scala
  shims/spark33/src/main/scala/org/apache/spark/sql/hive/execution/HiveFileFormat.scala
Labels: CORE, VELOX

#4791 [VL] Enable locate function test
  backends-velox/src/test/scala/org/apache/gluten/execution/VeloxStringFunctionsSuite.scala
Labels: VELOX

#8058 [GLUTEN-6920][VL] Following #8036, append some code cleanups
  backends-velox/src/main/scala/org/apache/spark/api/python/ColumnarArrowEvalPythonExec.scala
  gluten-core/src/main/scala/org/apache/gluten/execution/ColumnarToColumnarExec.scala
  gluten-core/src/main/scala/org/apache/gluten/execution/GlutenPlan.scala
  gluten-core/src/main/scala/org/apache/gluten/extension/columnar/enumerated/planner/plan/GlutenPlanModel.scala
  gluten-core/src/main/scala/org/apache/gluten/extension/columnar/transition/Convention.scala
  gluten-core/src/main/scala/org/apache/gluten/extension/columnar/transition/Transitions.scala
  gluten-substrait/src/main/scala/org/apache/gluten/execution/ColumnarToRowExecBase.scala
  gluten-substrait/src/main/scala/org/apache/spark/sql/execution/ColumnarCollapseTransformStages.scala
Labels: CORE, VELOX

#8030 [GLUTEN-7977][VL] Include cstdint header explicitly
  cpp/core/config/GlutenConfig.h
  cpp/velox/shuffle/RadixSort.h
Labels: VELOX

#8062 [GLUTEN-8061][VL] Fall back nth_value if input is foldable
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxBackend.scala
  backends-velox/src/test/scala/org/apache/gluten/execution/MiscOperatorSuite.scala
Labels: VELOX

#7976 [GLUTEN-7905][CH] Implete window's `topk` by aggregation
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHBackend.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHRuleApi.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/execution/CHAggregateGroupLimitExecTransformer.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/extension/ConvertWindowToAggregate.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/tpch/GlutenClickHouseTPCHSaltNullParquetSuite.scala
  cpp-ch/local-engine/AggregateFunctions/GroupLimitFunctions.cpp
  cpp-ch/local-engine/Common/AggregateUtil.cpp
  cpp-ch/local-engine/Common/ArrayJoinHelper.cpp
  cpp-ch/local-engine/Common/ArrayJoinHelper.h
  cpp-ch/local-engine/Common/CHUtil.cpp
  cpp-ch/local-engine/Common/GlutenConfig.cpp
  cpp-ch/local-engine/Common/GlutenConfig.h
  cpp-ch/local-engine/Common/SortUtils.cpp
  cpp-ch/local-engine/Common/SortUtils.h
  cpp-ch/local-engine/Operator/BranchStep.cpp
  cpp-ch/local-engine/Operator/BranchStep.h
  cpp-ch/local-engine/Operator/BranchTransform.cpp
  cpp-ch/local-engine/Operator/BranchTransform.h
  cpp-ch/local-engine/Operator/WindowGroupLimitStep.cpp
  cpp-ch/local-engine/Parser/AdvancedParametersParseUtil.cpp
  cpp-ch/local-engine/Parser/AdvancedParametersParseUtil.h
  cpp-ch/local-engine/Parser/RelParsers/GroupLimitRelParser.cpp
  cpp-ch/local-engine/Parser/RelParsers/GroupLimitRelParser.h
  cpp-ch/local-engine/Parser/RelParsers/ProjectRelParser.cpp
  cpp-ch/local-engine/Parser/RelParsers/ProjectRelParser.h
  cpp-ch/local-engine/Parser/RelParsers/WindowGroupLimitRelParser.cpp
  cpp-ch/local-engine/Parser/RelParsers/WindowGroupLimitRelParser.h
Labels: performance, CLICKHOUSE

#8079 [GLUTEN-8073][CH] Replace some deprecated methods about sort
  cpp-ch/local-engine/AggregateFunctions/GroupLimitFunctions.cpp
  cpp-ch/local-engine/Operator/BranchStep.h
  cpp-ch/local-engine/Parser/RelParsers/GroupLimitRelParser.cpp
  cpp-ch/local-engine/Parser/RelParsers/GroupLimitRelParser.h
  cpp-ch/local-engine/Parser/RelParsers/SortParsingUtils.cpp
  cpp-ch/local-engine/Parser/RelParsers/SortParsingUtils.h
  cpp-ch/local-engine/Parser/RelParsers/SortRelParser.cpp
  cpp-ch/local-engine/Parser/RelParsers/SortRelParser.h
  cpp-ch/local-engine/Parser/RelParsers/WindowRelParser.cpp
  cpp-ch/local-engine/Parser/RelParsers/WindowRelParser.h
  cpp-ch/local-engine/tests/gtest_ch_join.cpp
Labels: CLICKHOUSE

#7861 [GLUTEN-7860][CORE] In shuffle writer, replace MemoryMappedFile to avoid OOM
  cpp/core/config/GlutenConfig.h
  cpp/core/jni/JniWrapper.cc
  cpp/core/shuffle/LocalPartitionWriter.cc
  cpp/core/shuffle/Options.h
  cpp/core/shuffle/Payload.cc
  cpp/core/shuffle/Spill.cc
  cpp/core/shuffle/Spill.h
  cpp/core/shuffle/Utils.cc
  cpp/core/shuffle/Utils.h
  shims/common/src/main/scala/org/apache/gluten/GlutenConfig.scala
Labels: CORE, VELOX

#8095 [GLUTEN-8094][CH][Part-1] Support reading data from the iceberg with CH backend
  backends-clickhouse/pom.xml
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHTransformerApi.scala
  backends-clickhouse/src/test-iceberg/scala/org/apache/gluten/execution/iceberg/ClickHouseIcebergSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/tpch/GlutenClickHouseTPCHColumnarShuffleParquetAQESuite.scala
  cpp-ch/local-engine/Storages/SubstraitSource/FormatFile.cpp
  gluten-iceberg/src/main/scala/org/apache/iceberg/spark/source/GlutenIcebergSourceUtil.scala
  gluten-substrait/src/main/scala/org/apache/gluten/backendsapi/TransformerApi.scala
Labels: CORE, CLICKHOUSE, DATA_LAKE

#8076 [GLUTEN-8074][CH] Fix adjust output constant column
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenClickHouseDecimalSuite.scala
  cpp-ch/local-engine/Parser/SerializedPlanParser.cpp
Labels: CLICKHOUSE

#8100 [GLUTEN-8096][CH] Invalid header for disk tmp file
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenClickHouseTPCHBucketSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/tpcds/GlutenClickHouseTPCDSParquetSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/tpch/GlutenClickHouseTPCHParquetBucketSuite.scala
  cpp-ch/local-engine/Common/GlutenConfig.cpp
  cpp-ch/local-engine/Common/GlutenConfig.h
  cpp-ch/local-engine/Operator/GraceAggregatingTransform.cpp
  cpp-ch/local-engine/Operator/GraceAggregatingTransform.h
Labels: CLICKHOUSE

#8023 [GLUTEN-8021][CH] Fix ORC read/write mismatch and parquet read failure when column with complex types contains null
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/hive/GlutenClickHouseNativeWriteTableSuite.scala
  cpp-ch/clickhouse.version
  cpp-ch/local-engine/Common/CHUtil.cpp
  cpp-ch/local-engine/Storages/Output/NormalFileWriter.cpp
Labels: CLICKHOUSE

#8104 [GLUTEN-8103][DOC] Fix TPC-H/DS queries link
  tools/workload/tpcds/README.md
  tools/workload/tpch/README.md
Labels: TOOLS, DOCS

#8087 [GLUTEN-1632][CH]Daily Update Clickhouse Version (20241129)
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenClickHouseTPCHBucketSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/tpcds/GlutenClickHouseTPCDSParquetSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/tpch/GlutenClickHouseTPCHColumnarShuffleParquetAQESuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/tpch/GlutenClickHouseTPCHParquetBucketSuite.scala
  cpp-ch/clickhouse.version
  cpp-ch/local-engine/Common/CHUtil.cpp
  cpp-ch/local-engine/Common/GlutenSignalHandler.cpp
  cpp-ch/local-engine/Functions/FunctionGreatestLeast.h
  cpp-ch/local-engine/Functions/SparkFunctionArrayJoin.cpp
  cpp-ch/local-engine/Functions/SparkFunctionArraysOverlap.cpp
  cpp-ch/local-engine/Functions/SparkFunctionCheckDecimalOverflow.cpp
  cpp-ch/local-engine/Functions/SparkFunctionDecimalBinaryArithmetic.cpp
  cpp-ch/local-engine/Functions/SparkFunctionMakeDecimal.cpp
  cpp-ch/local-engine/Functions/SparkFunctionMapToString.h
  cpp-ch/local-engine/Functions/SparkFunctionSplitByRegexp.cpp
  cpp-ch/local-engine/Parser/SerializedPlanParser.cpp
  cpp-ch/local-engine/Parser/scalar_function_parser/arrayExcept.cpp
  cpp-ch/local-engine/Parser/scalar_function_parser/arrayRemove.cpp
  cpp-ch/local-engine/Parser/scalar_function_parser/arrayRepeat.cpp
  cpp-ch/local-engine/Parser/scalar_function_parser/bitLength.cpp
  cpp-ch/local-engine/Parser/scalar_function_parser/elementAt.cpp
  cpp-ch/local-engine/Parser/scalar_function_parser/length.cpp
  cpp-ch/local-engine/Parser/scalar_function_parser/locate.cpp
  cpp-ch/local-engine/Parser/scalar_function_parser/octetLength.cpp
  cpp-ch/local-engine/Shuffle/PartitionWriter.cpp
  cpp-ch/local-engine/Shuffle/SelectorBuilder.cpp
  cpp-ch/local-engine/Shuffle/ShuffleWriter.cpp
  cpp-ch/local-engine/Shuffle/ShuffleWriter.h
  cpp-ch/local-engine/Shuffle/SparkExchangeSink.cpp
  cpp-ch/local-engine/Storages/MergeTree/MergeSparkMergeTreeTask.cpp
  cpp-ch/local-engine/Storages/MergeTree/MergeSparkMergeTreeTask.h
  cpp-ch/local-engine/Storages/MergeTree/MetaDataHelper.cpp
  cpp-ch/local-engine/Storages/MergeTree/SparkStorageMergeTree.cpp
  cpp-ch/local-engine/Storages/Output/NormalFileWriter.cpp
  cpp-ch/local-engine/Storages/Output/NormalFileWriter.h
  cpp-ch/local-engine/Storages/Output/OutputFormatFile.h
  cpp-ch/local-engine/tests/benchmark_cast_float_function.cpp
  cpp-ch/local-engine/tests/benchmark_local_engine.cpp
  cpp-ch/local-engine/tests/benchmark_spark_floor_function.cpp
  cpp-ch/local-engine/tests/benchmark_to_datetime_function.cpp
  cpp-ch/local-engine/tests/benchmark_unix_timestamp_function.cpp
  cpp-ch/local-engine/tests/gluten_test_util.h
  cpp-ch/local-engine/tests/gtest_ch_functions.cpp
  cpp-ch/local-engine/tests/gtest_local_engine.cpp
Labels: CLICKHOUSE

#8112 [GLUTEN-1632][CH]Daily Update Clickhouse Version (20241130)
  cpp-ch/clickhouse.version
  cpp-ch/local-engine/Common/AggregateUtil.cpp
  cpp-ch/local-engine/Common/AggregateUtil.h
  cpp-ch/local-engine/Parser/RelParsers/CrossRelParser.cpp
  cpp-ch/local-engine/Parser/RelParsers/JoinRelParser.cpp
  cpp-ch/local-engine/tests/gtest_ch_join.cpp
Labels: CLICKHOUSE
