Repository apache/incubator-gluten, pull requests merged in 2024-08, with the labels that each got.

#6484 [GLUTEN-6483] Support Uniffle 0.9.0
  .github/workflows/velox_docker.yml
  gluten-uniffle/velox/src/main/java/org/apache/spark/shuffle/gluten/uniffle/UniffleShuffleManager.java
  gluten-uniffle/velox/src/main/java/org/apache/spark/shuffle/writer/VeloxUniffleColumnarShuffleWriter.java
  pom.xml
  tools/gluten-it/pom.xml
Labels: core, INFRA, RSS, TOOLS

#6677 [CH] Hotfix a configuration bug in shuffle writer
  cpp-ch/local-engine/Shuffle/PartitionWriter.cpp
Labels: CLICKHOUSE

#6676 [VL] Set default validation log level to WARN
  shims/common/src/main/scala/org/apache/gluten/GlutenConfig.scala
Labels: core

#6680 [GLUTEN-6483][VL][DOC] Upgrade Uniffle version to 0.9.0 in Velox.md
  docs/get-started/Velox.md
Labels: DOCS

#6702 [GLUTEN-6701][CH] fix: Performace regression at 20240802 daily build
  cpp-ch/local-engine/Shuffle/PartitionWriter.cpp
Labels: CLICKHOUSE

#6700 [GLUTEN-1632][CH]Daily Update Clickhouse Version (20240803)
  cpp-ch/clickhouse.version
  cpp-ch/local-engine/Disks/ObjectStorages/CompactObjectStorageDiskTransaction.cpp
  cpp-ch/local-engine/Disks/ObjectStorages/GlutenHDFSObjectStorage.cpp
  cpp-ch/local-engine/Disks/ObjectStorages/GlutenHDFSObjectStorage.h
  cpp-ch/local-engine/Storages/Mergetree/MetaDataHelper.cpp
  cpp-ch/local-engine/tests/benchmark_local_engine.cpp
Labels: CLICKHOUSE

#6621 [CH] Support CACHE DATA command for MergeTree table
  backends-clickhouse/pom.xml
  backends-clickhouse/src/main/antlr4/org/apache/gluten/sql/parser/GlutenClickhouseSqlBase.g4
  backends-clickhouse/src/main/delta-20/org/apache/gluten/parser/GlutenClickhouseSqlParser.scala
  backends-clickhouse/src/main/delta-20/org/apache/spark/sql/delta/DeltaAdapter.scala
  backends-clickhouse/src/main/delta-23/org/apache/gluten/parser/GlutenClickhouseSqlParser.scala
  backends-clickhouse/src/main/delta-23/org/apache/spark/sql/delta/DeltaAdapter.scala
  backends-clickhouse/src/main/delta-32/org/apache/gluten/parser/GlutenClickhouseSqlParser.scala
  backends-clickhouse/src/main/delta-32/org/apache/spark/sql/delta/DeltaAdapter.scala
  backends-clickhouse/src/main/java/org/apache/gluten/execution/CHNativeCacheManager.java
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHSparkPlanExecApi.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/parser/GlutenClickhouseSqlParserBase.scala
  backends-clickhouse/src/main/scala/org/apache/spark/rpc/GlutenDriverEndpoint.scala
  backends-clickhouse/src/main/scala/org/apache/spark/rpc/GlutenExecutorEndpoint.scala
  backends-clickhouse/src/main/scala/org/apache/spark/rpc/GlutenRpcMessages.scala
  backends-clickhouse/src/main/scala/org/apache/spark/sql/delta/DeltaAdapterTrait.scala
  backends-clickhouse/src/main/scala/org/apache/spark/sql/execution/commands/GlutenCHCacheDataCommand.scala
  backends-clickhouse/src/main/scala/org/apache/spark/sql/execution/datasources/v2/clickhouse/metadata/AddFileTags.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenClickHouseMergeTreeCacheDataSSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenClickHouseNativeWriteTableSuite.scala
  cpp-ch/local-engine/CMakeLists.txt
  cpp-ch/local-engine/Common/CHUtil.cpp
  cpp-ch/local-engine/Common/MergeTreeTool.cpp
  cpp-ch/local-engine/Common/MergeTreeTool.h
  cpp-ch/local-engine/Parser/MergeTreeRelParser.cpp
  cpp-ch/local-engine/Parser/MergeTreeRelParser.h
  cpp-ch/local-engine/Storages/Cache/CacheManager.cpp
  cpp-ch/local-engine/Storages/Cache/CacheManager.h
  cpp-ch/local-engine/Storages/CustomMergeTreeSink.h
  cpp-ch/local-engine/Storages/StorageMergeTreeFactory.cpp
  cpp-ch/local-engine/Storages/StorageMergeTreeFactory.h
  cpp-ch/local-engine/local_engine_jni.cpp
  gluten-core/src/main/scala/org/apache/gluten/backendsapi/SparkPlanExecApi.scala
  gluten-core/src/main/scala/org/apache/gluten/extension/OthersExtensionOverrides.scala
  gluten-ut/spark32/src/test/scala/org/apache/spark/sql/extension/GlutenSessionExtensionSuite.scala
  gluten-ut/spark33/src/test/scala/org/apache/spark/sql/extension/GlutenSessionExtensionSuite.scala
  gluten-ut/spark34/src/test/scala/org/apache/spark/sql/extension/GlutenSessionExtensionSuite.scala
  gluten-ut/spark35/src/test/scala/org/apache/spark/sql/extension/GlutenSessionExtensionSuite.scala
  pom.xml
Labels: CORE, CLICKHOUSE

#6696 [GLUTEN-6695][CH] Introduce shuffleWallTime in CHMetricsApi to calculate the overall shuffle write time
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHMetricsApi.scala
  gluten-celeborn/clickhouse/src/main/scala/org/apache/spark/shuffle/CHCelebornColumnarShuffleWriter.scala
Labels: RSS, CLICKHOUSE

#6691 [GLUTEN-6588][CH] Cast columns if necessary before finally writing to ORC/Parquet files during native inserting
  backends-clickhouse/src/main/java/org/apache/spark/sql/execution/datasources/CHDatasourceJniWrapper.java
  backends-clickhouse/src/main/scala/org/apache/spark/sql/execution/datasources/v1/CHFormatWriterInjects.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenClickHouseNativeWriteTableSuite.scala
  cpp-ch/local-engine/Common/CHUtil.cpp
  cpp-ch/local-engine/Common/CHUtil.h
  cpp-ch/local-engine/Storages/Output/FileWriterWrappers.cpp
  cpp-ch/local-engine/Storages/Output/FileWriterWrappers.h
  cpp-ch/local-engine/Storages/Output/ORCOutputFormatFile.cpp
  cpp-ch/local-engine/Storages/Output/ORCOutputFormatFile.h
  cpp-ch/local-engine/Storages/Output/OutputFormatFile.cpp
  cpp-ch/local-engine/Storages/Output/OutputFormatFile.h
  cpp-ch/local-engine/Storages/Output/ParquetOutputFormatFile.cpp
  cpp-ch/local-engine/Storages/Output/ParquetOutputFormatFile.h
  cpp-ch/local-engine/Storages/SubstraitSource/FormatFile.h
  cpp-ch/local-engine/Storages/SubstraitSource/ORCFormatFile.cpp
  cpp-ch/local-engine/local_engine_jni.cpp
Labels: CLICKHOUSE

#6690 [VL] Remove redundant hash function in substrait function validation
  cpp/velox/substrait/SubstraitToVeloxPlanValidator.cc
Labels: VELOX

#6698 [GLUTEN-6656][UNIFFLE] VeloxUniffleColumnarShuffleWriter should send commit for all ColumnBatch with empty rows
  gluten-uniffle/velox/src/main/java/org/apache/spark/shuffle/writer/VeloxUniffleColumnarShuffleWriter.java
Labels: RSS

#6710 [CH] Fix debug building error
  cpp-ch/local-engine/Storages/Output/ORCOutputFormatFile.cpp
  cpp-ch/local-engine/Storages/Output/OutputFormatFile.cpp
  cpp-ch/local-engine/Storages/Output/OutputFormatFile.h
  cpp-ch/local-engine/Storages/Output/ParquetOutputFormatFile.cpp
Labels: CLICKHOUSE

#6719 [VL] Fix out-of-date centos 7 image in velox_docker_cache.yml
  .github/workflows/velox_docker_cache.yml
Labels: INFRA

#6607 [CORE] Bump version to 1.3.0-SNAPSHOT
  backends-clickhouse/pom.xml
  backends-velox/pom.xml
  gluten-celeborn/clickhouse/pom.xml
  gluten-celeborn/common/pom.xml
  gluten-celeborn/package/pom.xml
  gluten-celeborn/pom.xml
  gluten-celeborn/velox/pom.xml
  gluten-core/pom.xml
  gluten-data/pom.xml
  gluten-delta/pom.xml
  gluten-iceberg/pom.xml
  gluten-ras/common/pom.xml
  gluten-ras/planner/pom.xml
  gluten-ras/pom.xml
  gluten-ui/pom.xml
  gluten-uniffle/package/pom.xml
  gluten-uniffle/pom.xml
  gluten-uniffle/velox/pom.xml
  gluten-ut/common/pom.xml
  gluten-ut/pom.xml
  gluten-ut/spark32/pom.xml
  gluten-ut/spark33/pom.xml
  gluten-ut/spark34/pom.xml
  gluten-ut/spark35/pom.xml
  gluten-ut/test/pom.xml
  package/pom.xml
  pom.xml
  shims/common/pom.xml
  shims/pom.xml
  shims/spark32/pom.xml
  shims/spark33/pom.xml
  shims/spark34/pom.xml
  shims/spark35/pom.xml
  tools/gluten-it/common/pom.xml
  tools/gluten-it/package/pom.xml
  tools/gluten-it/pom.xml
  tools/workload/tpcds/run_tpcds/run_tpcds.sh
Labels: CORE, VELOX, RSS, TOOLS, CLICKHOUSE, DATA_LAKE

#6711 [GLUTEN-6669][CH] Fix diff of cast string to boolean
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/tpch/GlutenClickHouseTPCHSaltNullParquetSuite.scala
  cpp-ch/local-engine/Parser/SerializedPlanParser.cpp
Labels: CLICKHOUSE

#5952 [VL] Use conf to control C2R occupied memory
  backends-velox/src/main/scala/org/apache/gluten/execution/VeloxColumnarToRowExec.scala
  backends-velox/src/test/scala/org/apache/gluten/execution/VeloxTPCHSuite.scala
  cpp/core/compute/Runtime.h
  cpp/core/config/GlutenConfig.h
  cpp/core/jni/JniWrapper.cc
  cpp/core/operators/c2r/ColumnarToRow.h
  cpp/velox/benchmarks/ColumnarToRowBenchmark.cc
  cpp/velox/compute/VeloxRuntime.cc
  cpp/velox/compute/VeloxRuntime.h
  cpp/velox/operators/serializer/VeloxColumnarToRowConverter.cc
  cpp/velox/operators/serializer/VeloxColumnarToRowConverter.h
  cpp/velox/tests/RuntimeTest.cc
  cpp/velox/tests/VeloxColumnarToRowTest.cc
  cpp/velox/tests/VeloxRowToColumnarTest.cc
  gluten-data/src/main/java/org/apache/gluten/vectorized/NativeColumnarToRowJniWrapper.java
  gluten-data/src/main/scala/org/apache/spark/sql/execution/ColumnarBuildSideRelation.scala
  gluten-data/src/main/scala/org/apache/spark/sql/execution/utils/ExecUtil.scala
  shims/common/src/main/scala/org/apache/gluten/GlutenConfig.scala
Labels: CORE, VELOX

#6718 [GLUTEN-1632][CH]Daily Update Clickhouse Version (20240806)
  cpp-ch/clickhouse.version
  cpp-ch/local-engine/Functions/SparkFunctionPositionUTF8.cpp
  cpp-ch/local-engine/Storages/Output/OutputFormatFile.cpp
  cpp-ch/local-engine/tests/benchmark_local_engine.cpp
  cpp-ch/local-engine/tests/gtest_ch_join.cpp
  cpp-ch/local-engine/tests/gtest_ch_storages.cpp
  cpp-ch/local-engine/tests/gtest_local_engine.cpp
Labels: CLICKHOUSE

#6687 [GLUTEN-6686][CH] Disable percent_rank
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHBackend.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/tpch/GlutenClickHouseTPCHSaltNullParquetSuite.scala
Labels: CLICKHOUSE

#6682 [VL] Add reader process to shuffle benchmark
  cpp/core/shuffle/LocalPartitionWriter.cc
  cpp/core/shuffle/Payload.cc
  cpp/core/shuffle/Payload.h
  cpp/velox/benchmarks/GenericBenchmark.cc
  cpp/velox/benchmarks/common/BenchmarkUtils.cc
  cpp/velox/shuffle/VeloxHashShuffleWriter.cc
  cpp/velox/shuffle/VeloxShuffleReader.cc
  docs/developers/MicroBenchmarks.md
  gluten-core/src/main/scala/org/apache/spark/sql/execution/ColumnarShuffleExchangeExec.scala
Labels: CORE, VELOX, DOCS

#6693 [VL] Minor follow-ups for PRs
  backends-velox/src/test/scala/org/apache/gluten/execution/TestOperator.scala
  cpp/velox/tests/CMakeLists.txt
  cpp/velox/tests/VeloxBatchResizerTest.cc
  cpp/velox/utils/VeloxBatchResizer.cc
  shims/common/src/main/scala/org/apache/gluten/GlutenConfig.scala
  tools/gluten-it/common/src/main/java/org/apache/gluten/integration/SparkJvmOptions.java
  tools/gluten-it/common/src/main/java/org/apache/gluten/integration/command/SparkRunModes.java
  tools/gluten-it/sbin/gluten-it.sh
Labels: CORE, VELOX, TOOLS

#6660 [VL] Allow udf type conversion
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxBackend.scala
  backends-velox/src/main/scala/org/apache/spark/sql/expression/UDFResolver.scala
  backends-velox/src/test/scala/org/apache/gluten/expression/VeloxUdfSuite.scala
  cpp/velox/jni/JniUdf.cc
  cpp/velox/udf/Udaf.h
  cpp/velox/udf/Udf.h
  cpp/velox/udf/UdfLoader.cc
  cpp/velox/udf/UdfLoader.h
  cpp/velox/udf/examples/MyUDF.cc
  docs/developers/VeloxUDF.md
Labels: VELOX, DOCS

#6729 [VL] Use the scripts dir in the current path as SCRIPTDIR
  ep/build-velox/src/setup-centos7.sh
  ep/build-velox/src/setup-centos8.sh
Labels: VELOX

#6721 [GLUTEN-6561][CH] Fix exception when mapFromArrays accepts its first argument with type Array(Nullable(T))
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenFunctionValidateSuite.scala
Labels: CLICKHOUSE

#6692 [VL] Doc: Update RSS docs
  docs/get-started/Velox.md
Labels: DOCS

#6733 [GLUTEN-6589][CH] Mergetree supported spark.sql.caseSensitive[Part.2]
  backends-clickhouse/src/main/scala/org/apache/spark/sql/delta/catalog/ClickHouseTableV2Base.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenClickHouseHiveTableSuite.scala
Labels: CLICKHOUSE

#6661 [VL] Skip UTF-8 validation in JSON parsing
  backends-velox/src/test/scala/org/apache/gluten/execution/ScalarFunctionsValidateSuite.scala
  ep/build-velox/src/modify_velox.patch
Labels: VELOX

#6743 [CH] Fix memory config spill_mem_ratio always zero
  cpp-ch/local-engine/Common/GlutenConfig.h
  cpp-ch/local-engine/Shuffle/PartitionWriter.cpp
Labels: CLICKHOUSE

#6742 [VL] Fix arrow lib conflict on centos-9
  dev/build_arrow.sh
  ep/build-velox/src/get_velox.sh
Labels: BUILD, VELOX

#6727 [VL] Reduce memory waste in sort based shuffle
  cpp/velox/shuffle/VeloxSortShuffleWriter.cc
  cpp/velox/shuffle/VeloxSortShuffleWriter.h
Labels: VELOX

#6746 [CORE] Fix schema mismatch between ReadRelNode and LocalFilesNode
  gluten-core/src/main/java/org/apache/gluten/substrait/rel/LocalFilesNode.java
Labels: CORE

#6741 [GLUTEN-6736] Phase 1: Use task-shared lock in ManagedReservationListener
  gluten-core/src/main/java/org/apache/gluten/memory/SimpleMemoryUsageRecorder.java
  gluten-core/src/main/java/org/apache/gluten/memory/memtarget/MemoryTargets.java
  gluten-core/src/main/java/org/apache/gluten/memory/memtarget/OverAcquire.java
  gluten-core/src/main/java/org/apache/gluten/memory/memtarget/TreeMemoryTargets.java
  gluten-core/src/test/java/org/apache/gluten/memory/memtarget/spark/TreeMemoryConsumerTest.java
  gluten-data/pom.xml
  gluten-data/src/main/java/org/apache/gluten/memory/listener/ManagedReservationListener.java
  gluten-data/src/main/java/org/apache/gluten/memory/listener/ReservationListeners.java
  gluten-data/src/test/scala/org/apache/gluten/execution/MassiveMemoryAllocationSuite.scala
Labels: CORE, VELOX

#6730 [GLUTEN-6569][FOLLOWUP][VL] Delete unnecessary gcc9 enable of package script
  dev/package.sh
Labels: BUILD

#6751 [VL] Hot fix - mistakenly changed debug log
  cpp/velox/shuffle/VeloxHashShuffleWriter.cc
Labels: VELOX

#6722 [GLUTEN-6681] [CH]fix array(decimal32) in CH columnar to row
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenClickhouseFunctionSuite.scala
  cpp-ch/local-engine/Parser/CHColumnToSparkRow.cpp
Labels: CLICKHOUSE

#6745 [GLUTEN-6705] [CORE] [Part 1] Avoid adding c2r for ColumnarWriteFilesExec, since it neither output Columnar batch data nor InternalRow
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/package.scala
  gluten-core/src/main/scala/org/apache/gluten/extension/columnar/ColumnarRuleApplier.scala
  gluten-core/src/main/scala/org/apache/gluten/extension/columnar/transition/ConventionFunc.scala
  gluten-core/src/main/scala/org/apache/gluten/extension/columnar/transition/Transitions.scala
  gluten-core/src/main/scala/org/apache/spark/sql/execution/ColumnarWriteFilesExec.scala
  shims/common/src/main/scala/org/apache/gluten/metrics/GlutenTimeMetric.scala
Labels: CORE, CLICKHOUSE

#6731 [VL] Use Velox's monolithic build
  cpp/velox/CMakeLists.txt
  ep/build-velox/src/build_velox.sh
Labels: BUILD, VELOX

#6739 [CELEBORN][FOLLOWUP] Add compression for row-based shuffle
  gluten-celeborn/common/src/main/java/org/apache/spark/shuffle/gluten/celeborn/CelebornShuffleManager.java
Labels: RSS

#6752 [VL] Daily update velox version 08-08
  cpp/velox/compute/WholeStageResultIterator.cc
  cpp/velox/memory/VeloxMemoryManager.cc
  ep/build-velox/src/get_velox.sh
Labels: BUILD, VELOX

#6720 [VL] Minor class name / package name clean-ups
  backends-velox/src/main/java/org/apache/gluten/utils/VeloxBatchResizer.java
  backends-velox/src/main/java/org/apache/gluten/utils/VeloxBatchResizerJniWrapper.java
  backends-velox/src/main/java/org/apache/gluten/utils/VeloxBloomFilter.java
  backends-velox/src/main/java/org/apache/gluten/utils/VeloxBloomFilterJniWrapper.java
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxTransformerApi.scala
  backends-velox/src/main/scala/org/apache/gluten/execution/RowToVeloxColumnarExec.scala
  backends-velox/src/main/scala/org/apache/gluten/execution/VeloxColumnarToRowExec.scala
  backends-velox/src/main/scala/org/apache/gluten/utils/DatasourceUtil.scala
  backends-velox/src/main/scala/org/apache/spark/sql/execution/BroadcastUtils.scala
  backends-velox/src/main/scala/org/apache/spark/sql/execution/ColumnarCachedBatchSerializer.scala
  backends-velox/src/main/scala/org/apache/spark/sql/execution/datasources/velox/VeloxFormatWriterInjects.scala
  backends-velox/src/test/scala/org/apache/gluten/execution/DynamicOffHeapSizingSuite.scala
  backends-velox/src/test/scala/org/apache/gluten/execution/FunctionsValidateSuite.scala
  backends-velox/src/test/scala/org/apache/gluten/execution/ScalarFunctionsValidateSuite.scala
  backends-velox/src/test/scala/org/apache/gluten/execution/WindowFunctionsValidateSuite.scala
  backends-velox/src/test/scala/org/apache/gluten/fuzzer/FuzzerBase.scala
  backends-velox/src/test/scala/org/apache/gluten/fuzzer/FuzzerResult.scala
  backends-velox/src/test/scala/org/apache/gluten/fuzzer/RowToColumnarFuzzer.scala
  backends-velox/src/test/scala/org/apache/gluten/fuzzer/ShuffleWriterFuzzer.scala
  cpp/core/jni/JniCommon.cc
  cpp/core/jni/JniWrapper.cc
  dev/build_arrow.sh
  gluten-celeborn/velox/src/main/scala/org/apache/spark/shuffle/VeloxCelebornColumnarBatchSerializer.scala
  gluten-celeborn/velox/src/main/scala/org/apache/spark/shuffle/VeloxCelebornColumnarShuffleWriter.scala
  gluten-data/src/main/java/org/apache/gluten/columnarbatch/ColumnarBatchJniWrapper.java
  gluten-data/src/main/java/org/apache/gluten/columnarbatch/ColumnarBatches.java
  gluten-data/src/main/java/org/apache/gluten/columnarbatch/IndicatorVectorBase.java
  gluten-data/src/main/java/org/apache/gluten/datasource/DatasourceJniWrapper.java
  gluten-data/src/main/java/org/apache/gluten/runtime/RuntimeAware.java
  gluten-data/src/main/java/org/apache/gluten/runtime/RuntimeJniWrapper.java
  gluten-data/src/main/java/org/apache/gluten/vectorized/ColumnarBatchInIterator.java
  gluten-data/src/main/java/org/apache/gluten/vectorized/ColumnarBatchOutIterator.java
  gluten-data/src/main/java/org/apache/gluten/vectorized/ColumnarBatchSerializerJniWrapper.java
  gluten-data/src/main/java/org/apache/gluten/vectorized/NativeColumnarToRowJniWrapper.java
  gluten-data/src/main/java/org/apache/gluten/vectorized/NativePlanEvaluator.java
  gluten-data/src/main/java/org/apache/gluten/vectorized/NativeRowToColumnarJniWrapper.java
  gluten-data/src/main/java/org/apache/gluten/vectorized/PlanEvaluatorJniWrapper.java
  gluten-data/src/main/java/org/apache/gluten/vectorized/ShuffleReaderJniWrapper.java
  gluten-data/src/main/java/org/apache/gluten/vectorized/ShuffleWriterJniWrapper.java
  gluten-data/src/main/scala/org/apache/gluten/runtime/Runtime.scala
  gluten-data/src/main/scala/org/apache/gluten/runtime/Runtimes.scala
  gluten-data/src/main/scala/org/apache/gluten/vectorized/ColumnarBatchSerializer.scala
  gluten-data/src/main/scala/org/apache/spark/shuffle/ColumnarShuffleWriter.scala
  gluten-data/src/main/scala/org/apache/spark/sql/execution/ColumnarBuildSideRelation.scala
  gluten-data/src/main/scala/org/apache/spark/sql/execution/utils/ExecUtil.scala
  gluten-uniffle/velox/src/main/java/org/apache/spark/shuffle/writer/VeloxUniffleColumnarShuffleWriter.java
Labels: BUILD, VELOX, RSS

#6757 [VL] Add a new test case for FlushableHashAggregateRule's coverage
  backends-velox/src/test/scala/org/apache/gluten/execution/VeloxAggregateFunctionsSuite.scala
Labels: VELOX

#6663 [Minor] Clean up useless code in ParquetFileFormat/OrcFileFormat
  shims/spark32/src/main/scala/org/apache/spark/sql/execution/datasources/orc/OrcFileFormat.scala
  shims/spark32/src/main/scala/org/apache/spark/sql/execution/datasources/parquet/ParquetFileFormat.scala
  shims/spark33/src/main/scala/org/apache/spark/sql/execution/datasources/orc/OrcFileFormat.scala
  shims/spark33/src/main/scala/org/apache/spark/sql/execution/datasources/parquet/ParquetFileFormat.scala
Labels: CORE

#6738 [GLUTEN-6737]package delta into bundle jar when specify delta profile
  docs/get-started/Velox.md
  gluten-delta/pom.xml
  package/pom.xml
Labels: CORE, DOCS, DATA_LAKE

#6761 [GLUTEN-6705]][CORE][VL][CH] [Part-2] Rework CumnarWriteFilesExec
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHSparkPlanExecApi.scala
  backends-clickhouse/src/main/scala/org/apache/spark/sql/execution/CHColumnarWriteFilesExec.scala
  backends-clickhouse/src/main/scala/org/apache/spark/sql/execution/ClickhouseBackendWrite.scala
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxSparkPlanExecApi.scala
  backends-velox/src/main/scala/org/apache/spark/sql/execution/VeloxBackendWrite.scala
  backends-velox/src/main/scala/org/apache/spark/sql/execution/VeloxColumnarWriteFilesExec.scala
  gluten-core/src/main/scala/org/apache/gluten/backendsapi/SparkPlanExecApi.scala
  gluten-core/src/main/scala/org/apache/gluten/extension/columnar/OffloadSingleNode.scala
  gluten-core/src/main/scala/org/apache/spark/sql/execution/ColumnarWriteFilesExec.scala
Labels: CORE, VELOX, CLICKHOUSE

#6740 [VL] Fix shuffle spill not reported to spark metric
  cpp/core/jni/JniWrapper.cc
  cpp/core/shuffle/LocalPartitionWriter.cc
  cpp/core/shuffle/LocalPartitionWriter.h
  cpp/core/shuffle/Options.h
  cpp/core/shuffle/Payload.cc
  cpp/core/shuffle/Payload.h
  cpp/core/shuffle/ShuffleWriter.cc
  cpp/core/shuffle/ShuffleWriter.h
  cpp/core/shuffle/Spill.cc
  cpp/core/shuffle/Spill.h
  cpp/core/shuffle/rss/RssPartitionWriter.cc
  cpp/velox/shuffle/VeloxHashShuffleWriter.cc
  cpp/velox/shuffle/VeloxSortShuffleWriter.cc
  cpp/velox/shuffle/VeloxSortShuffleWriter.h
  gluten-data/src/main/java/org/apache/gluten/vectorized/GlutenSplitResult.java
  gluten-data/src/main/scala/org/apache/spark/shuffle/ColumnarShuffleWriter.scala
Labels: VELOX

#6753 [GLUTEN-6750][CH] Fix optimize error if file mappings not loaded
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenClickHouseMergeTreeWriteOnS3Suite.scala
  cpp-ch/local-engine/local_engine_jni.cpp
Labels: CLICKHOUSE

#6747 [MINOR][CH] Rename package of some extension rules
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHSparkPlanExecApi.scala
  gluten-core/src/main/scala/org/apache/gluten/extension/CommonSubexpressionEliminateRule.scala
  gluten-core/src/main/scala/org/apache/gluten/extension/RewriteDateTimestampComparisonRule.scala
Labels: CORE, CLICKHOUSE

#6749 [MINOR] update repository first in setup-ubuntu envs
  dev/vcpkg/setup-build-depends.sh
Labels: BUILD

#6766 [VL] RAS: Renew validator instance for each rule applier call
  gluten-core/src/main/scala/org/apache/gluten/extension/columnar/enumerated/EnumeratedTransform.scala
  gluten-core/src/main/scala/org/apache/gluten/extension/columnar/enumerated/RasOffload.scala
Labels: CORE

#6764 [GLUTEN-1632][CH]Daily Update Clickhouse Version (20240809)
  cpp-ch/clickhouse.version
Labels: CLICKHOUSE

#6716 [GLUTEN-6388][CH] Support function format
  backends-clickhouse/src/main/scala/org/apache/gluten/utils/CHExpressionUtil.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenFunctionValidateSuite.scala
  cpp-ch/local-engine/Parser/scalar_function_parser/CommonScalarFunctionParser.cpp
  gluten-core/src/main/scala/org/apache/gluten/expression/ExpressionMappings.scala
  gluten-ut/spark32/src/test/scala/org/apache/gluten/utils/clickhouse/ClickHouseTestSettings.scala
  gluten-ut/spark33/src/test/scala/org/apache/gluten/utils/clickhouse/ClickHouseTestSettings.scala
  gluten-ut/spark34/src/test/scala/org/apache/gluten/utils/clickhouse/ClickHouseTestSettings.scala
  gluten-ut/spark35/src/test/scala/org/apache/gluten/utils/clickhouse/ClickHouseTestSettings.scala
  shims/common/src/main/scala/org/apache/gluten/expression/ExpressionNames.scala
Labels: CORE, CLICKHOUSE

#6756 [VL] RAS: Add a new built-in cost model that avoids offloading trivial projects if its neighbor nodes fell back
  backends-velox/src/test/scala/org/apache/gluten/execution/VeloxRoughCostModelSuite.scala
  backends-velox/src/test/scala/org/apache/gluten/planner/VeloxRasSuite.scala
  gluten-core/src/main/scala/org/apache/gluten/planner/cost/GlutenCostModel.scala
  gluten-core/src/main/scala/org/apache/gluten/planner/cost/LegacyCostModel.scala
  gluten-core/src/main/scala/org/apache/gluten/planner/cost/LongCostModel.scala
  gluten-core/src/main/scala/org/apache/gluten/planner/cost/RoughCostModel.scala
  shims/common/src/main/scala/org/apache/gluten/GlutenConfig.scala
Labels: CORE, VELOX

#6769 [GLUTEN-6768][CH] Clear mixed join contition to avoid uneccessary data copy
  cpp-ch/local-engine/Parser/JoinRelParser.cpp
Labels: performance, CLICKHOUSE

#6707 [VL] Fix High Precision Rounding
  cpp/velox/operators/functions/Arithmetic.h
  gluten-ut/spark32/src/test/scala/org/apache/spark/sql/catalyst/expressions/GlutenMathExpressionsSuite.scala
  gluten-ut/spark33/src/test/scala/org/apache/spark/sql/catalyst/expressions/GlutenMathExpressionsSuite.scala
  gluten-ut/spark35/src/test/scala/org/apache/spark/sql/catalyst/expressions/GlutenMathExpressionsSuite.scala
Labels: CORE, VELOX

#6326 [VL] Add Scala 2.13 support
  .github/workflows/velox_docker.yml
  .scalafmt.conf
  backends-clickhouse/src/main/scala/org/apache/gluten/execution/CHHashAggregateExecTransformer.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/parquet/GlutenParquetFilterSuite.scala
  backends-clickhouse/src/test/scala/org/apache/spark/sql/execution/benchmarks/CHStorageJoinBenchmark.scala
  backends-velox/src/main/scala/org/apache/gluten/execution/GenerateExecTransformer.scala
  backends-velox/src/main/scala/org/apache/gluten/execution/HashAggregateExecTransformer.scala
  backends-velox/src/main/scala/org/apache/spark/api/python/ColumnarArrowEvalPythonExec.scala
  backends-velox/src/main/scala/org/apache/spark/sql/expression/UDFResolver.scala
  backends-velox/src/test/scala/org/apache/gluten/execution/TestOperator.scala
  gluten-core/src/test/scala/org/apache/spark/softaffinity/SoftAffinitySuite.scala
  gluten-data/src/main/scala/org/apache/gluten/utils/ArrowAbiUtil.scala
  gluten-data/src/main/scala/org/apache/spark/sql/utils/SparkArrowUtil.scala
  gluten-delta/src/main/scala/org/apache/gluten/extension/DeltaRewriteTransformerRules.scala
  gluten-ras/common/src/test/scala/org/apache/gluten/ras/path/PathFinderSuite.scala
  gluten-ras/common/src/test/scala/org/apache/gluten/ras/specific/CyclicSearchSpaceSuite.scala
  gluten-ut/spark32/src/test/scala/org/apache/spark/sql/GlutenColumnExpressionSuite.scala
  gluten-ut/spark32/src/test/scala/org/apache/spark/sql/GlutenSQLQueryTestSuite.scala
  gluten-ut/spark33/src/test/scala/org/apache/spark/sql/GlutenColumnExpressionSuite.scala
  gluten-ut/spark33/src/test/scala/org/apache/spark/sql/GlutenSQLQueryTestSuite.scala
  gluten-ut/spark34/src/test/scala/org/apache/spark/sql/GlutenColumnExpressionSuite.scala
  gluten-ut/spark34/src/test/scala/org/apache/spark/sql/GlutenSQLQueryTestSuite.scala
  gluten-ut/spark34/src/test/scala/org/apache/spark/sql/execution/datasources/GlutenV1WriteCommandSuite.scala
  gluten-ut/spark35/src/test/scala/org/apache/spark/sql/GlutenColumnExpressionSuite.scala
  gluten-ut/spark35/src/test/scala/org/apache/spark/sql/GlutenSQLQueryTestSuite.scala
  gluten-ut/spark35/src/test/scala/org/apache/spark/sql/execution/datasources/GlutenV1WriteCommandSuite.scala
  pom.xml
  shims/spark32/pom.xml
  shims/spark33/pom.xml
  shims/spark34/pom.xml
Labels: CORE, VELOX, INFRA, CLICKHOUSE, DATA_LAKE

#6779 [GLUTEN-6778][CH] Enable percent_rank again
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHBackend.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/tpch/GlutenClickHouseTPCHSaltNullParquetSuite.scala
Labels: enhancement, CLICKHOUSE

#6725 [GLUTEN-6724][CH] Shuffle writer supports compression level configuration for CompressionCodecFactory
  backends-clickhouse/src/main/java/org/apache/gluten/vectorized/BlockOutputStream.java
  backends-clickhouse/src/main/java/org/apache/gluten/vectorized/CHShuffleSplitterJniWrapper.java
  backends-clickhouse/src/main/scala/org/apache/gluten/vectorized/CHColumnarBatchSerializer.scala
  backends-clickhouse/src/main/scala/org/apache/spark/shuffle/CHColumnarShuffleWriter.scala
  backends-clickhouse/src/main/scala/org/apache/spark/sql/execution/utils/CHExecUtil.scala
  backends-clickhouse/src/test/scala/org/apache/spark/sql/execution/benchmarks/CHStorageJoinBenchmark.scala
  cpp-ch/local-engine/Shuffle/PartitionWriter.cpp
  cpp-ch/local-engine/Shuffle/ShuffleCommon.h
  cpp-ch/local-engine/Shuffle/ShuffleWriter.cpp
  cpp-ch/local-engine/Shuffle/ShuffleWriter.h
  cpp-ch/local-engine/local_engine_jni.cpp
  gluten-celeborn/clickhouse/src/main/scala/org/apache/spark/shuffle/CHCelebornColumnarBatchSerializer.scala
  gluten-celeborn/clickhouse/src/main/scala/org/apache/spark/shuffle/CHCelebornColumnarShuffleWriter.scala
  gluten-celeborn/common/src/main/scala/org/apache/spark/shuffle/CelebornColumnarShuffleWriter.scala
  gluten-uniffle/velox/src/main/java/org/apache/spark/shuffle/writer/VeloxUniffleColumnarShuffleWriter.java
Labels: RSS, CLICKHOUSE

#6507 [GLUEN-6506][CH]Fix ORC read wrong timestamp value
  backends-clickhouse/src/test/resources/orc-data/test_reader_time_zone.snappy.orc
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenClickHouseHiveTableSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenClickHouseNativeWriteTableSuite.scala
  cpp-ch/local-engine/Storages/SubstraitSource/ORCFormatFile.cpp
Labels: CLICKHOUSE

#6781 [VL] Update a dockerfile used for CI vcpkg build
  dev/vcpkg/Makefile
  dev/vcpkg/docker/Dockerfile.gha
Labels: BUILD

#6783 [GLUTEN-6736][VL] Phase 2: Minimize lock scope in ListenableArbitrator
  cpp/velox/memory/VeloxMemoryManager.cc
  cpp/velox/tests/MemoryManagerTest.cc
Labels: VELOX

#6774 [GLUTEN-6674][CH] Support sort merge join metrics
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHMetricsApi.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/metrics/SortMergeJoinMetricsUpdater.scala
Labels: CLICKHOUSE

#6788 [CORE] Following #6745, append some minor code cleanups
  gluten-core/src/main/scala/org/apache/spark/sql/execution/ColumnarWriteFilesExec.scala
Labels: CORE

#6794 [VL] Daily update velox version(2024_08_13)
  ep/build-velox/src/get_velox.sh
  ep/build-velox/src/modify_velox.patch
Labels: BUILD, VELOX

#6480 [VL] Fix parquet write sort spill OOM
  package/pom.xml
  shims/spark32/src/main/java/org/apache/spark/memory/MemoryConsumer.java
  shims/spark32/src/main/java/org/apache/spark/memory/TaskMemoryManager.java
  shims/spark32/src/main/java/org/apache/spark/util/collection/unsafe/sort/UnsafeExternalSorter.java
Labels: CORE

#6801 [VL][1.2] Update OAP Velox to gluten-1.2.0
  ep/build-velox/src/get_velox.sh
Labels: VELOX

#6791 [GLUTEN-6148] Simplify JniLibLoader loading mechanism for native libraries
  backends-velox/src/main/scala/org/apache/gluten/utils/SharedLibraryLoaderCentos7.scala
  backends-velox/src/main/scala/org/apache/gluten/utils/SharedLibraryLoaderCentos8.scala
  backends-velox/src/main/scala/org/apache/gluten/utils/SharedLibraryLoaderCentos9.scala
  backends-velox/src/main/scala/org/apache/gluten/utils/SharedLibraryLoaderDebian11.scala
  backends-velox/src/main/scala/org/apache/gluten/utils/SharedLibraryLoaderDebian12.scala
  backends-velox/src/main/scala/org/apache/gluten/utils/SharedLibraryLoaderUbuntu2004.scala
  backends-velox/src/main/scala/org/apache/gluten/utils/SharedLibraryLoaderUbuntu2204.scala
  gluten-core/src/main/java/org/apache/gluten/vectorized/JniLibLoader.java
Labels: CORE, VELOX

#6804 [VL] Enable an integration test case in CI OOM tests
  .github/workflows/velox_docker.yml
Labels: INFRA

#6770 [GLUTEN-6768][CH] Try to reorder hash join tables based on AQE statistics
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHBackend.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHSparkPlanExecApi.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/execution/CHHashJoinExecTransformer.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/extension/ReorderJoinTablesRule.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenClickHouseColumnarShuffleAQESuite.scala
Labels: performance, CLICKHOUSE

#6803 [GLUTEN-6600]Fix NPE issue when running window sql
  gluten-core/src/main/scala/org/apache/gluten/GlutenPlugin.scala
  gluten-core/src/main/scala/org/apache/gluten/expression/ExpressionMappings.scala
Labels: CORE

#6825 [CORE] Remove the fix 1.8 Java compiler version in module gluten-ut-common
  gluten-ut/common/pom.xml
Labels: CORE

#6824 [VL] Remove lz4 change in modify_velox.patch
  ep/build-velox/src/modify_velox.patch
Labels: VELOX

#6521 [VL] Validate binary expressions with their accepted types
  gluten-ut/test/src/test/scala/org/apache/spark/sql/GlutenExpressionDataTypesValidation.scala
Labels: CORE

#6830 [GLUTEN-6819][CH] Refactor source from jave iter && make casting happens before materializing
  cpp-ch/local-engine/Common/QueryContext.cpp
  cpp-ch/local-engine/Parser/TypeParser.cpp
  cpp-ch/local-engine/Storages/SourceFromJavaIter.cpp
  cpp-ch/local-engine/Storages/SourceFromJavaIter.h
Labels: CLICKHOUSE

#4752 [VL] Enable full functionality of split function
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxSparkPlanExecApi.scala
  backends-velox/src/main/scala/org/apache/gluten/expression/ExpressionTransformer.scala
  backends-velox/src/test/scala/org/apache/gluten/execution/VeloxStringFunctionsSuite.scala
  gluten-core/src/main/scala/org/apache/gluten/backendsapi/SparkPlanExecApi.scala
  gluten-core/src/main/scala/org/apache/gluten/expression/ExpressionConverter.scala
Labels: CORE, VELOX

#6847 [VL] No need to obtain old shrunken memory
  cpp/velox/memory/VeloxMemoryManager.cc
Labels: VELOX

#6833 [GLUTEN-6834][CORE] Remove unused DDL plan that doesn't correspond to Substrait spec
  gluten-core/src/main/java/org/apache/gluten/substrait/ddlplan/DllNode.java
  gluten-core/src/main/java/org/apache/gluten/substrait/ddlplan/DllPlanNode.java
  gluten-core/src/main/java/org/apache/gluten/substrait/ddlplan/DllTransformContext.scala
  gluten-core/src/main/java/org/apache/gluten/substrait/ddlplan/InsertOutputBuilder.java
  gluten-core/src/main/java/org/apache/gluten/substrait/ddlplan/InsertOutputNode.java
  gluten-core/src/main/java/org/apache/gluten/substrait/ddlplan/InsertPlanNode.java
  gluten-core/src/main/resources/substrait/proto/substrait/ddl.proto
  gluten-core/src/main/scala/org/apache/gluten/substrait/SubstraitContext.scala
Labels: CORE

#6838 [CORE] Remove an unused binary file
  gluten-core/src/test/resources/SubStraitTest-Q6.dat
Labels: CORE

#6861 [GLUTEN-6860][CH] Minor refactors on expand operator
  cpp-ch/local-engine/Operator/ExpandStep.cpp
  cpp-ch/local-engine/Operator/ExpandTransform.cpp
  cpp-ch/local-engine/Operator/ExpandTransorm.h
Labels: CLICKHOUSE

#6859 [VL] Verify empty2null is offloaded when v1writer fallback
  gluten-ut/spark34/src/test/scala/org/apache/spark/sql/sources/GlutenInsertSuite.scala
Labels: CORE

#6858 [VL] Update document for split and mask functions
  docs/velox-backend-support-progress.md
Labels: DOCS

#6826 [VL] Add a docker build job and reuse pre-built arrow libs
  .github/workflows/build_bundle_package.yml
  .github/workflows/docker_image.yml
  .github/workflows/velox_docker.yml
  .github/workflows/velox_docker_cache.yml
  dev/ci-velox-buildstatic-centos-7.sh
  dev/vcpkg/docker/Dockerfile.gha
  dev/vcpkg/env.sh
Labels: BUILD, INFRA

#6851 [VL] Daily Update Velox Version(2024_08_15)
  cpp/velox/compute/VeloxBackend.cc
  cpp/velox/compute/VeloxBackend.h
  cpp/velox/compute/VeloxRuntime.cc
  cpp/velox/compute/VeloxRuntime.h
  cpp/velox/compute/WholeStageResultIterator.cc
  cpp/velox/compute/WholeStageResultIterator.h
  cpp/velox/jni/JniFileSystem.cc
  cpp/velox/operators/writer/VeloxParquetDatasourceABFS.h
  cpp/velox/operators/writer/VeloxParquetDatasourceHDFS.h
  cpp/velox/operators/writer/VeloxParquetDatasourceS3.h
  cpp/velox/substrait/SubstraitToVeloxPlan.cc
  cpp/velox/utils/ConfigExtractor.cc
  cpp/velox/utils/ConfigExtractor.h
  cpp/velox/utils/HdfsUtils.cc
  cpp/velox/utils/HdfsUtils.h
  ep/build-velox/src/get_velox.sh
Labels: BUILD, VELOX

#6875 [VL] Remove suspend section when spilling Velox task
  cpp/velox/compute/WholeStageResultIterator.cc
Labels: VELOX

#6832 [GLUTEN-6822][VL] Fix wrong maxRowsToInsert and sort time metrics
  cpp/velox/shuffle/VeloxSortShuffleWriter.cc
  cpp/velox/shuffle/VeloxSortShuffleWriter.h
  cpp/velox/tests/VeloxShuffleWriterTest.cc
  cpp/velox/utils/tests/VeloxShuffleWriterTestBase.h
Labels: VELOX

#6866 [VL] Fix warning when spark.gluten.sql.columnarToRowMemoryThreshold is not set
  backends-velox/src/test/scala/org/apache/gluten/execution/VeloxTPCHSuite.scala
  cpp/core/config/GlutenConfig.h
  cpp/core/jni/JniWrapper.cc
  shims/common/src/main/scala/org/apache/gluten/GlutenConfig.scala
Labels: CORE, VELOX

#6797 [VL] Fix Arrow ColumnarBatch cannnot revoke rowIterator correctly
  backends-velox/src/test/java/org/apache/gluten/columnarbatch/ColumnarBatchTest.java
  gluten-data/src/main/java/org/apache/gluten/columnarbatch/ColumnarBatches.java
  gluten-data/src/main/java/org/apache/spark/sql/vectorized/ColumnarBatchUtil.java
Labels: VELOX

#6854 [GLUTEN-6768][CH] Refactor reordering shuffle hash join tables
  backends-clickhouse/src/main/java/org/apache/gluten/vectorized/StorageJoinBuilder.java
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHBackend.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHSparkPlanExecApi.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/execution/CHBroadcastNestedLoopJoinExecTransformer.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/execution/CHHashJoinExecTransformer.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/extension/ReorderJoinTablesRule.scala
  backends-clickhouse/src/test/scala/org/apache/spark/sql/execution/benchmarks/CHHashBuildBenchmark.scala
  gluten-core/src/main/scala/org/apache/gluten/extension/columnar/OffloadSingleNode.scala
Labels: CORE, CLICKHOUSE

#6885 [GLUTEN-6819][CH] HOTFIX variable shadow in source from jave iter
  cpp-ch/local-engine/Storages/SourceFromJavaIter.cpp
Labels: CLICKHOUSE

#6880 [GLUTEN-6879][CH] Fix partition value diff when it contains blank spaces
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenClickHouseHiveTableSuite.scala
  cpp-ch/local-engine/Common/GlutenStringUtils.cpp
  cpp-ch/local-engine/Common/GlutenStringUtils.h
  cpp-ch/local-engine/Storages/SubstraitSource/FormatFile.cpp
Labels: CLICKHOUSE

#6886 [GLUTEN-6878][CH] Avoid name collisions in naming aggregate result
  cpp-ch/local-engine/Parser/AggregateRelParser.cpp
Labels: CLICKHOUSE

#6891 [GLUTEN-6067][CH][MINOR][UT] Followup 6623, fix backends-clickhouse ut issse in CI
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenClickHouseMergeTreeWriteOnS3Suite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenClickHouseWholeStageTransformerSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenClickhouseCountDistinctSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenClickhouseFunctionSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/hive/GlutenClickHouseHiveTableSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/hive/GlutenClickHouseNativeWriteTableSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/hive/GlutenClickHouseTableAfterRestart.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/hive/ReCreateHiveSession.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/parquet/GlutenParquetFilterSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/test/AllDataTypesWithComplexType.scala
  gluten-celeborn/clickhouse/pom.xml
  gluten-core/src/test/scala/org/apache/gluten/test/FallbackUtil.scala
  gluten-ut/pom.xml
  gluten-ut/spark35/pom.xml
  gluten-ut/test/pom.xml
Labels: CORE, RSS, CLICKHOUSE

#6903 [GLUTEN-1632][CH]Daily Update Clickhouse Version (20240817)
  cpp-ch/clickhouse.version
  cpp-ch/local-engine/tests/data/68131.parquet
  cpp-ch/local-engine/tests/gtest_clickhouse_pr_verify.cpp
  cpp-ch/local-engine/tests/json/clickhouse_pr_68131.json
Labels: CLICKHOUSE

#6884 [GLUTEN-6827][VL] Add a new test case for Round's coverage
  backends-velox/src/test/scala/org/apache/gluten/execution/TestOperator.scala
  gluten-ut/spark32/src/test/scala/org/apache/spark/sql/catalyst/expressions/GlutenMathExpressionsSuite.scala
  gluten-ut/spark33/src/test/scala/org/apache/spark/sql/catalyst/expressions/GlutenMathExpressionsSuite.scala
  gluten-ut/spark34/src/test/scala/org/apache/spark/sql/catalyst/expressions/GlutenMathExpressionsSuite.scala
  gluten-ut/spark35/src/test/scala/org/apache/spark/sql/catalyst/expressions/GlutenMathExpressionsSuite.scala
Labels: CORE, VELOX

#6855 [GLUTEN-6849][VL] Call static initializers once in Spark local mode / when session is renewed
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxListenerApi.scala
  backends-velox/src/main/scala/org/apache/gluten/utils/SharedLibraryLoader.scala
  gluten-celeborn/clickhouse/src/main/scala/org/apache/spark/shuffle/CHCelebornColumnarBatchSerializer.scala
  gluten-core/src/main/scala/org/apache/spark/util/SparkDirectoryUtil.scala
  gluten-core/src/main/scala/org/apache/spark/util/SparkResourceUtil.scala
  shims/common/src/main/scala/org/apache/gluten/GlutenConfig.scala
Labels: CORE, VELOX, RSS

#6890 [GLUTEN-6889][VL] Rename test class `TestOperator` to `MiscOperatorSuite`
  backends-velox/src/test/scala/org/apache/gluten/execution/MiscOperatorSuite.scala
Labels: VELOX

#6911 [GLUTEN-6915][MISC]Fix workflow permission issue.
  .github/workflows/dev_cron.yml
Labels: INFRA

#6918 [VL][CI] Change to use push event to trigger docker build workflow
  .github/workflows/docker_image.yml
Labels: INFRA

#6793 [GLUTEN-6368] Redact sensitive configs when calling `gluten::printConfig`
  cpp/core/config/GlutenConfig.cc
  cpp/core/config/GlutenConfig.h
  shims/common/src/main/scala/org/apache/gluten/GlutenConfig.scala
Labels: CORE, security, VELOX

#6919 [GLUTEN-6915][CORE]Fix listComments TypeError
  .github/workflows/dev_cron/issues_link.js
  .github/workflows/dev_cron/title_check.js
Labels: INFRA

#6458 [VL] Add helper function ColumnarBatches.toString and InternalRow toString
  backends-velox/src/main/scala/org/apache/gluten/datasource/ArrowCSVFileFormat.scala
  backends-velox/src/main/scala/org/apache/gluten/execution/RowToVeloxColumnarExec.scala
  backends-velox/src/main/scala/org/apache/gluten/execution/VeloxColumnarToRowExec.scala
  backends-velox/src/main/scala/org/apache/spark/sql/execution/ColumnarCachedBatchSerializer.scala
  backends-velox/src/test/java/org/apache/gluten/columnarbatch/ColumnarBatchTest.java
  gluten-data/src/main/java/org/apache/gluten/columnarbatch/ColumnarBatches.java
  shims/spark32/src/main/scala/org/apache/gluten/utils/InternalRowUtl.scala
  shims/spark33/src/main/scala/org/apache/gluten/utils/InternalRowUtl.scala
  shims/spark34/src/main/scala/org/apache/gluten/utils/InternalRowUtl.scala
  shims/spark35/src/main/scala/org/apache/gluten/utils/InternalRowUtl.scala
Labels: CORE, VELOX

#6927 [CH]duplicate column name case support in broadcast join #6926
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenClickhouseFunctionSuite.scala
  cpp-ch/local-engine/Join/BroadCastJoinBuilder.cpp
Labels: CLICKHOUSE

#6922 [GLUTEN-6915][CH] Follow VL, fix github issue comment
  .github/workflows/clickhouse_be_trigger.yml
Labels: INFRA

#6929 [GLUTEN-1632][CH]Daily Update Clickhouse Version (20240820)
  cpp-ch/clickhouse.version
Labels: CLICKHOUSE

#6901 [GLUTEN-6902][VL]fix: Update to copy new LICENSE, NOTICE into jar
  package/pom.xml
  package/src/main/resources/META-INF/LICENSE
  package/src/main/resources/META-INF/NOTICE
Labels: bug, CORE

#6932 [GLUTEN-6864][VL] Set a Velox gflag to allow growing buffer created in another Velox task
  cpp/velox/compute/VeloxBackend.cc
Labels: VELOX

#6894 [GLUTEN-6893][VL] Change to using native libs generated by vcpkg build in Gluten scala tests
  .github/workflows/velox_docker.yml
  dev/ci-velox-buildshared-centos-8.sh
  dev/ci-velox-buildstatic-centos-7.sh
  dev/vcpkg/ports/simdjson/vcpkg.json
  docs/developers/UsingGperftoolsInCH.md
  docs/developers/UsingJemallocWithCH.md
  docs/developers/VeloxUDF.md
  docs/developers/velox-backend-CI.md
Labels: BUILD, INFRA, DOCS

#6944 [GLUTEN-6935][CH]query fails when set session level join_algorithm to…
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenClickHouseJoinSuite.scala
  cpp-ch/local-engine/Parser/JoinRelParser.cpp
Labels: CLICKHOUSE

#6955 [CH] Added cleanup logic for expiration mergetree part cache
  cpp-ch/local-engine/Common/GlutenConfig.h
  cpp-ch/local-engine/Storages/CustomStorageMergeTree.cpp
  cpp-ch/local-engine/Storages/CustomStorageMergeTree.h
  cpp-ch/local-engine/Storages/StorageMergeTreeFactory.cpp
  cpp-ch/local-engine/Storages/StorageMergeTreeFactory.h
Labels: CLICKHOUSE

#6959 [VL] Print memory statistics during task ending when leak is found
  gluten-data/src/main/scala/org/apache/gluten/runtime/Runtime.scala
Labels: VELOX

#6939 [GLUTEN-6923][CH] `total_bytes_written` is not updated in celeborn partition writers
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHBackend.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHSparkPlanExecApi.scala
  cpp-ch/local-engine/Shuffle/PartitionWriter.cpp
  cpp-ch/local-engine/local_engine_jni.cpp
Labels: CLICKHOUSE

#6953 [GLUTEN-6950][CORE] Move specific rules into backend modules
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHBackend.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHRuleApi.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/extension/CommonSubexpressionEliminateRule.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/extension/CountDistinctWithoutExpand.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/extension/MergeTwoPhasesHashBaseAggregate.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/extension/RewriteDateTimestampComparisonRule.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/extension/RewriteToDateExpresstionRule.scala
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxBackend.scala
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxRuleApi.scala
  backends-velox/src/main/scala/org/apache/gluten/extension/EmptySchemaWorkaround.scala
  gluten-core/src/main/scala/org/apache/gluten/backendsapi/BackendSettingsApi.scala
  gluten-core/src/main/scala/org/apache/gluten/extension/columnar/FallbackRules.scala
  gluten-core/src/main/scala/org/apache/gluten/extension/columnar/validator/Validators.scala
  gluten-ut/spark33/src/test/scala/org/apache/spark/sql/execution/FallbackStrategiesSuite.scala
  gluten-ut/spark33/src/test/scala/org/apache/spark/sql/execution/GlutenReplaceHashWithSortAggSuite.scala
  gluten-ut/spark34/src/test/scala/org/apache/spark/sql/execution/FallbackStrategiesSuite.scala
  gluten-ut/spark35/src/test/scala/org/apache/spark/sql/execution/FallbackStrategiesSuite.scala
Labels: CORE, VELOX, CLICKHOUSE

#6934 [GLUTEN-6908][VL] Fix error when getting output from a Velox task that is under spilling by background thread
  cpp/velox/compute/WholeStageResultIterator.cc
Labels: VELOX

#6956 [VL] Malformed CI job name
  .github/workflows/velox_docker.yml
Labels: INFRA

#6952 [GLUTEN-6893][VL] Fix wrong github workflows path for hashing and minor code refactor
  .github/workflows/util/install_spark_resources.sh
  .github/workflows/velox_backend.yml
  .github/workflows/velox_backend_cache.yml
Labels: INFRA

#6963 [GLUTEN-5936][VL] Add more types in function type validation and document Cast function
  docs/velox-backend-support-progress.md
  gluten-ut/test/src/test/scala/org/apache/spark/sql/GlutenExpressionDataTypesValidation.scala
Labels: CORE, DOCS

#6969 [CH] Ignore cache file with hdfs suite
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/tpch/GlutenClickHouseHDFSSuite.scala
Labels: CLICKHOUSE

#6964 [GLUTEN-6938][CH] Fix core dump when range partition include literal
  backends-clickhouse/src/main/scala/org/apache/spark/sql/execution/utils/CHExecUtil.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/compatibility/GlutenClickhouseFunctionSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/compatibility/GlutenClickhouseStringFunctionsSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/parquet/GlutenParquetFilterSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/test/GlutenTPCHBase.scala
  cpp-ch/local-engine/Shuffle/SelectorBuilder.cpp
  cpp-ch/local-engine/Shuffle/SelectorBuilder.h
Labels: CLICKHOUSE

#6966 [GLUTEN-6957][VL] Fix missing mvn when CI cache is hit
  .github/workflows/util/install_spark_resources.sh
  .github/workflows/util/setup_helper.sh
  .github/workflows/velox_backend.yml
  .github/workflows/velox_backend_cache.yml
  dev/ci-velox-buildshared-centos-8.sh
Labels: BUILD, INFRA

#6974 [GLUTEN-6957][VL] Fix mvn not found in cache job
  .github/workflows/velox_backend_cache.yml
Labels: INFRA

#6968 [GLUTEN-1632][CH]Daily Update Clickhouse Version (20240822)
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/parquet/GlutenParquetFilterSuite.scala
  cpp-ch/clickhouse.version
  cpp-ch/local-engine/Storages/Mergetree/SparkMergeTreeWriter.cpp
  cpp-ch/local-engine/Storages/StorageMergeTreeFactory.h
Labels: CLICKHOUSE

#6972 [GLUTEN-6980][CORE] In shim poms, use Scala Maven compiler configuration inherited from parent pom
  gluten-core/src/main/scala/org/apache/spark/shuffle/GlutenShuffleUtils.scala
  gluten-ut/spark34/src/test/scala/org/apache/spark/sql/execution/datasources/parquet/GlutenParquetFilterSuite.scala
  gluten-ut/spark34/src/test/scala/org/apache/spark/sql/execution/datasources/parquet/GlutenParquetRowIndexSuite.scala
  pom.xml
  shims/common/pom.xml
  shims/common/src/main/scala/org/apache/gluten/execution/datasource/GlutenParquetWriterInjects.scala
  shims/common/src/main/scala/org/apache/gluten/sql/shims/SparkShims.scala
  shims/spark32/pom.xml
  shims/spark32/src/main/scala/org/apache/gluten/sql/shims/spark32/Spark32Shims.scala
  shims/spark32/src/main/scala/org/apache/spark/ShuffleUtils.scala
  shims/spark32/src/main/scala/org/apache/spark/sql/execution/ExpandOutputPartitioningShim.scala
  shims/spark32/src/main/scala/org/apache/spark/sql/execution/FileSourceScanExecShim.scala
  shims/spark32/src/main/scala/org/apache/spark/sql/execution/datasources/WriteFiles.scala
  shims/spark32/src/main/scala/org/apache/spark/sql/execution/datasources/orc/OrcFileFormat.scala
  shims/spark32/src/main/scala/org/apache/spark/sql/execution/datasources/parquet/ParquetFileFormat.scala
  shims/spark32/src/main/scala/org/apache/spark/sql/execution/datasources/v2/utils/CatalogUtil.scala
  shims/spark33/pom.xml
  shims/spark33/src/main/scala/org/apache/gluten/sql/shims/spark33/Spark33Shims.scala
  shims/spark33/src/main/scala/org/apache/spark/ShuffleUtils.scala
  shims/spark33/src/main/scala/org/apache/spark/sql/execution/ExpandOutputPartitioningShim.scala
  shims/spark33/src/main/scala/org/apache/spark/sql/execution/FileSourceScanExecShim.scala
  shims/spark33/src/main/scala/org/apache/spark/sql/execution/datasources/WriteFiles.scala
  shims/spark33/src/main/scala/org/apache/spark/sql/execution/datasources/orc/OrcFileFormat.scala
  shims/spark33/src/main/scala/org/apache/spark/sql/execution/datasources/parquet/ParquetFileFormat.scala
  shims/spark34/pom.xml
  shims/spark34/src/main/scala/org/apache/gluten/sql/shims/spark34/Spark34Shims.scala
  shims/spark34/src/main/scala/org/apache/spark/ShuffleUtils.scala
  shims/spark34/src/main/scala/org/apache/spark/sql/catalyst/expressions/PromotePrecision.scala
  shims/spark34/src/main/scala/org/apache/spark/sql/execution/ExpandOutputPartitioningShim.scala
  shims/spark34/src/main/scala/org/apache/spark/sql/execution/FileSourceScanExecShim.scala
  shims/spark34/src/main/scala/org/apache/spark/sql/execution/datasources/v2/BatchScanExecShim.scala
  shims/spark35/pom.xml
  shims/spark35/src/main/scala/org/apache/gluten/sql/shims/spark35/Spark35Shims.scala
  shims/spark35/src/main/scala/org/apache/spark/ShuffleUtils.scala
  shims/spark35/src/main/scala/org/apache/spark/sql/catalyst/expressions/PromotePrecision.scala
  shims/spark35/src/main/scala/org/apache/spark/sql/execution/ExpandOutputPartitioningShim.scala
  shims/spark35/src/main/scala/org/apache/spark/sql/execution/FileSourceScanExecShim.scala
  shims/spark35/src/main/scala/org/apache/spark/sql/execution/datasources/v2/BatchScanExecShim.scala
Labels: CORE

#6985 [VL] Following #6959, leak memory dump is not correctly printed
  gluten-data/src/main/scala/org/apache/gluten/runtime/Runtime.scala
Labels: VELOX

#6986 [GLUTEN-6987][DOC] fix: add shell newline character after spark-shell
  README.md
Labels: DOCS

#6984 [GLUTEN-1632][CH]Daily Update Clickhouse Version (20240823)
  cpp-ch/clickhouse.version
  cpp-ch/local-engine/Functions/SparkFunctionGetJsonObject.h
Labels: CLICKHOUSE

#6976 [VL] Add wallnanos for WriteFiles
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxMetricsApi.scala
  gluten-data/src/main/scala/org/apache/gluten/metrics/WriteFilesMetricsUpdater.scala
Labels: VELOX

#6982 [GLUTEN-6981][CH]Not supported operator TakeOrderedAndProjectExecTransformer for BroadcastRelation
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHSparkPlanExecApi.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/tpcds/GlutenClickHouseTPCDSParquetSuite.scala
Labels: CLICKHOUSE

#6913 [GLUTEN-6877][CH] Support anti/semi join with inequal join condition
  backends-clickhouse/src/main/scala/org/apache/gluten/execution/CHHashJoinExecTransformer.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/utils/CHJoinValidateUtil.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenClickHouseColumnarMemorySortShuffleSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenClickHouseColumnarShuffleAQESuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenClickHouseDSV2ColumnarShuffleSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenClickHouseDSV2Suite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenClickHouseDecimalSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenClickHouseTPCDSAbstractSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenClickHouseTPCHNullableColumnarShuffleSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenClickHouseTPCHNullableSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenClickHouseTPCHSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/tpcds/GlutenClickHouseTPCDSParquetColumnarShuffleAQESuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/tpcds/GlutenClickHouseTPCDSParquetGraceHashJoinSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/tpcds/GlutenClickHouseTPCDSParquetSortMergeJoinSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/tpch/GlutenClickHouseTPCHColumnarShuffleParquetAQESuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/tpch/GlutenClickHouseTPCHParquetAQEConcurrentSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/tpch/GlutenClickHouseTPCHParquetAQESuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/tpch/GlutenClickHouseTPCHSaltNullParquetSuite.scala
  cpp-ch/local-engine/Common/QueryContext.cpp
  cpp-ch/local-engine/Parser/JoinRelParser.cpp
  gluten-celeborn/clickhouse/src/test/scala/org/apache/gluten/execution/GlutenClickHouseRSSColumnarMemorySortShuffleSuite.scala
  gluten-celeborn/clickhouse/src/test/scala/org/apache/gluten/execution/GlutenClickHouseRSSColumnarShuffleAQESuite.scala
Labels: enhancement, RSS, CLICKHOUSE

#7006 [GLUTEN-6877][CH][UT] HotFix: Exclude unstable merge join q72
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/tpcds/GlutenClickHouseTPCDSParquetSortMergeJoinSuite.scala
Labels: CLICKHOUSE

#7009 [GLUTEN-7008][VL] Report spill metrics from Velox operators to Spark task
  cpp/core/jni/JniWrapper.cc
  cpp/core/utils/metrics.h
  cpp/velox/compute/WholeStageResultIterator.cc
  gluten-data/src/main/java/org/apache/gluten/metrics/Metrics.java
  gluten-data/src/main/java/org/apache/gluten/metrics/OperatorMetrics.java
  gluten-data/src/main/scala/org/apache/gluten/metrics/HashAggregateMetricsUpdater.scala
  gluten-data/src/main/scala/org/apache/gluten/metrics/JoinMetricsUpdater.scala
  gluten-data/src/main/scala/org/apache/gluten/metrics/MetricsUtil.scala
  gluten-data/src/main/scala/org/apache/gluten/metrics/SortMetricsUpdater.scala
  gluten-data/src/main/scala/org/apache/spark/sql/utils/SparkMetricsUtil.scala
Labels: VELOX

#6988 [GLUTEN-6960][VL] Limit Velox untracked global memory manager's usage
  cpp/core/config/GlutenConfig.h
  cpp/velox/compute/VeloxBackend.cc
  gluten-core/src/main/java/org/apache/gluten/memory/memtarget/ThrowOnOomMemoryTarget.java
  gluten-core/src/main/scala/org/apache/gluten/GlutenPlugin.scala
  gluten-core/src/main/scala/org/apache/spark/util/SparkResourceUtil.scala
  shims/common/src/main/scala/org/apache/gluten/GlutenConfig.scala
Labels: CORE, VELOX

#6993 [GLUTEN-6951][CORE][CH] Move CustomerExpressionTransformer to CH backend
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHListenerApi.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHSparkPlanExecApi.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/execution/CHHashAggregateExecTransformer.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/expression/CHExpressions.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/extension/ExpressionExtensionTrait.scala
  backends-clickhouse/src/main/scala/org/apache/spark/sql/utils/ExpressionUtil.scala
  backends-clickhouse/src/test/scala/org/apache/spark/sql/extension/CustomerExpressionTransformer.scala
  backends-clickhouse/src/test/scala/org/apache/spark/sql/extension/GlutenClickhouseCustomerExpressionTransformerSuite.scala
  gluten-core/src/main/scala/org/apache/gluten/GlutenPlugin.scala
  gluten-core/src/main/scala/org/apache/gluten/backendsapi/SparkPlanExecApi.scala
  gluten-core/src/main/scala/org/apache/gluten/expression/AggregateFunctionsBuilder.scala
  gluten-core/src/main/scala/org/apache/gluten/expression/ExpressionConverter.scala
  gluten-core/src/main/scala/org/apache/gluten/expression/ExpressionMappings.scala
  gluten-ut/spark32/src/test/scala/org/apache/gluten/utils/clickhouse/ClickHouseTestSettings.scala
  gluten-ut/spark32/src/test/scala/org/apache/gluten/utils/velox/VeloxTestSettings.scala
  shims/common/src/main/scala/org/apache/gluten/GlutenConfig.scala
  shims/spark32/src/main/scala/org/apache/spark/sql/catalyst/expressions/EvalMode.scala
  shims/spark33/src/main/scala/org/apache/spark/sql/catalyst/expressions/EvalMode.scala
Labels: CORE, CLICKHOUSE

#7010 [VL] Following #6988, move a warning from core to Velox backend
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxListenerApi.scala
  gluten-core/src/main/scala/org/apache/gluten/GlutenPlugin.scala
Labels: CORE, VELOX

#6994 [VL][uniffle] Correct the write wait duration log
  gluten-uniffle/velox/src/main/java/org/apache/spark/shuffle/writer/VeloxUniffleColumnarShuffleWriter.java
Labels: RSS

#6965 [GLUTEN-6997][VL] Ignore a test: cleanup file if job failed
  gluten-ut/spark34/src/test/scala/org/apache/spark/sql/sources/GlutenInsertSuite.scala
  gluten-ut/spark35/src/test/scala/org/apache/spark/sql/sources/GlutenInsertSuite.scala
Labels: CORE

#7022 [CORE] Rename OASPackageBridges
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHIteratorApi.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/metrics/BatchScanMetricsUpdater.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/metrics/FileSourceScanMetricsUpdater.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/metrics/HiveTableScanMetricsUpdater.scala
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxIteratorApi.scala
  gluten-core/src/main/scala/org/apache/gluten/backendsapi/IteratorApi.scala
  gluten-core/src/main/scala/org/apache/gluten/execution/GlutenWholeStageColumnarRDD.scala
  gluten-core/src/main/scala/org/apache/gluten/metrics/MetricsUpdater.scala
  gluten-core/src/main/scala/org/apache/spark/sql/utils/SparkInputMetricsUtil.scala
  gluten-data/src/main/java/org/apache/gluten/vectorized/JniByteInputStreams.java
  gluten-data/src/main/scala/org/apache/gluten/metrics/BatchScanMetricsUpdater.scala
  gluten-data/src/main/scala/org/apache/gluten/metrics/FileSourceScanMetricsUpdater.scala
  gluten-data/src/main/scala/org/apache/gluten/metrics/HiveTableScanMetricsUpdater.scala
  gluten-data/src/main/scala/org/apache/spark/storage/SparkInputStreamUtil.scala
Labels: CORE, VELOX, CLICKHOUSE

#6895 [CH] Enable more uts in GlutenOrcV1SchemaPruningSuite
  gluten-ut/spark32/src/test/scala/org/apache/gluten/utils/clickhouse/ClickHouseTestSettings.scala
  gluten-ut/spark33/src/test/scala/org/apache/gluten/utils/clickhouse/ClickHouseTestSettings.scala
  gluten-ut/spark34/src/test/scala/org/apache/gluten/utils/clickhouse/ClickHouseTestSettings.scala
  gluten-ut/spark35/src/test/scala/org/apache/gluten/utils/clickhouse/ClickHouseTestSettings.scala
Labels: CORE

#7011 [VL] Add write IO metrics for WriteFiles
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxMetricsApi.scala
  backends-velox/src/test/scala/org/apache/gluten/execution/VeloxMetricsSuite.scala
  cpp/core/jni/JniWrapper.cc
  cpp/core/utils/metrics.h
  cpp/velox/compute/WholeStageResultIterator.cc
  gluten-data/src/main/java/org/apache/gluten/metrics/Metrics.java
  gluten-data/src/main/java/org/apache/gluten/metrics/OperatorMetrics.java
  gluten-data/src/main/scala/org/apache/gluten/metrics/MetricsUtil.scala
  gluten-data/src/main/scala/org/apache/gluten/metrics/WriteFilesMetricsUpdater.scala
Labels: VELOX

#7036 [GLUTEN-7035][VL] Use first line of `ls-remote`'s output as build's target commit
  ep/build-velox/src/get_velox.sh
Labels: BUILD, VELOX

#6978 [GLUTEN-6977][CH] Remove concat function parser
  cpp-ch/clickhouse.version
  cpp-ch/local-engine/Parser/scalar_function_parser/CommonScalarFunctionParser.cpp
  cpp-ch/local-engine/Parser/scalar_function_parser/concat.cpp
Labels: CLICKHOUSE

#7003 [GLUTEN-6995][Core] Limit soft affinity duplicate reading detection max cache items
  backends-clickhouse/src/test/scala/org/apache/gluten/affinity/CHUTAffinity.scala
  gluten-core/src/main/scala/org/apache/gluten/softaffinity/SoftAffinityManager.scala
  gluten-core/src/test/scala/org/apache/spark/softaffinity/SoftAffinityWithRDDInfoSuite.scala
  shims/common/src/main/scala/org/apache/gluten/GlutenConfig.scala
Labels: CORE, CLICKHOUSE

#6049 [GLUTEN-5471][VL]feat: Support read Hudi COW table
  .github/workflows/velox_backend.yml
  docs/get-started/Velox.md
  docs/get-started/build-guide.md
  gluten-core/src/main/scala/org/apache/gluten/execution/DataSourceScanTransformerRegister.scala
  gluten-core/src/main/scala/org/apache/gluten/execution/ScanTransformerFactory.scala
  gluten-hudi/pom.xml
  gluten-hudi/src/main/resources/META-INF/services/org.apache.gluten.execution.DataSourceScanTransformerRegister
  gluten-hudi/src/main/scala/org/apache/gluten/execution/HudiScanTransformer.scala
  gluten-hudi/src/main/scala/org/apache/gluten/execution/HudiScanTransformerProvider.scala
  gluten-hudi/src/test/scala/org/apache/gluten/execution/VeloxHudiSuite.scala
  gluten-hudi/src/test/scala/org/apache/gluten/execution/VeloxTPCHHudiSuite.scala
  package/pom.xml
  pom.xml
Labels: CORE, INFRA, DOCS

#6954 [CORE] Fix incorrect precision of decimal literal
  backends-velox/src/test/scala/org/apache/gluten/execution/MiscOperatorSuite.scala
  gluten-core/src/main/scala/org/apache/gluten/utils/DecimalArithmeticUtil.scala
Labels: CORE, VELOX

#7045 [VL] Set Spark memory overhead automatically according to off-heap size when it's not explicitly configured
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxListenerApi.scala
  backends-velox/src/test/java/org/apache/gluten/test/VeloxBackendTestBase.java
  gluten-core/src/main/scala/org/apache/gluten/GlutenPlugin.scala
  gluten-core/src/main/scala/org/apache/spark/util/SparkResourceUtil.scala
Labels: CORE, VELOX

#7044 [VL] Remove including xsimd headers coming from velox build path
  cpp/velox/CMakeLists.txt
Labels: VELOX

#7038 [GLUTEN-7037][VL] Add dwarf dependency to folly when building with vcpkg
  dev/vcpkg/ports/folly/vcpkg.json
Labels: BUILD

#7030 [GLUTEN-7033][VL] Improve vcpkg docker file
  dev/vcpkg/docker/Dockerfile
Labels: BUILD

#7039 [GLUTEN-4724][CH] Support function array_except
  backends-clickhouse/src/main/scala/org/apache/gluten/utils/CHExpressionUtil.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenFunctionValidateSuite.scala
  cpp-ch/local-engine/Parser/scalar_function_parser/arrayExcept.cpp
Labels: CLICKHOUSE

#7040 [GLUTEN-1632][CH]Daily Update Clickhouse Version (20240828)
  cpp-ch/clickhouse.version
  cpp-ch/local-engine/Storages/Mergetree/MetaDataHelper.cpp
Labels: CLICKHOUSE

#7053 [CORE] Fix a variable name typo
  gluten-core/src/main/scala/org/apache/gluten/extension/columnar/transition/package.scala
Labels: CORE

#7050 [GLUTEN-7049][VL] Install lib stemmer through vcpkg
  cpp/velox/CMakeLists.txt
  dev/vcpkg/ports/libstemmer/CMakeLists.txt
  dev/vcpkg/ports/libstemmer/portfile.cmake
  dev/vcpkg/ports/libstemmer/vcpkg.json
  dev/vcpkg/vcpkg.json
Labels: BUILD, VELOX

#6992 [GLUTEN-6989][CH] Support RTrim with const source column
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/compatibility/GlutenClickhouseStringFunctionsSuite.scala
  cpp-ch/local-engine/Functions/SparkFunctionTrim.cpp
Labels: CLICKHOUSE
