Repository apache/incubator-gluten, pull requests merged in 2024-10, with the labels that each got.

#7308 [GLUTEN-7307][VL] Update openssl version in velox setup for centos9
  ep/build-velox/src/get_velox.sh
Labels: BUILD, VELOX

#7407 [GLUTEN-1632][CH]Daily Update Clickhouse Version (20241003)
  cpp-ch/clickhouse.version
  cpp-ch/local-engine/Storages/Parquet/VectorizedParquetRecordReader.cpp
  cpp-ch/local-engine/Storages/Parquet/VectorizedParquetRecordReader.h
Labels: CLICKHOUSE

#7417 [GLUTEN-7394][CH]Reduce the times of the calling listFiles when executing query from the parquet file format
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHBackend.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHIteratorApi.scala
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxBackend.scala
  cpp-ch/local-engine/Common/GlutenStringUtils.cpp
  cpp-ch/local-engine/Common/GlutenStringUtils.h
  cpp-ch/local-engine/Storages/SubstraitSource/FormatFile.cpp
  cpp-ch/local-engine/tests/gtest_utils.cpp
  gluten-iceberg/src/main/scala/org/apache/gluten/execution/IcebergScanTransformer.scala
  gluten-substrait/src/main/scala/org/apache/gluten/backendsapi/BackendSettingsApi.scala
  gluten-substrait/src/main/scala/org/apache/gluten/execution/BaseDataSource.scala
  gluten-substrait/src/main/scala/org/apache/gluten/execution/BasicScanExecTransformer.scala
  gluten-substrait/src/main/scala/org/apache/gluten/execution/BatchScanExecTransformer.scala
  gluten-substrait/src/main/scala/org/apache/gluten/execution/FileSourceScanExecTransformer.scala
  gluten-substrait/src/main/scala/org/apache/spark/sql/hive/HiveTableScanExecTransformer.scala
Labels: CORE, VELOX, CLICKHOUSE, DATA_LAKE

#7412 [CORE] Minor: Fix warnings and rename event handler better
  gluten-core/src/main/scala/org/apache/gluten/GlutenBuildInfo.scala
  gluten-ui/src/main/scala/org/apache/spark/sql/execution/ui/GlutenSQLAppStatusListener.scala
Labels: CORE

#7428 [GLUTEN-7427][CH]Revert "fix (#7349)"
  cpp-ch/local-engine/Storages/MergeTree/SparkStorageMergeTree.cpp
Labels: CLICKHOUSE

#7438 [GLUTEN-7437][CH]Revert "Auxiliary commit to revert individual files from #7170
  backends-clickhouse/pom.xml
  backends-clickhouse/src/main/delta-32/org/apache/spark/sql/delta/catalog/ClickHouseTableV2.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHRuleApi.scala
  backends-clickhouse/src/main/scala/org/apache/spark/sql/execution/datasources/mergetree/StorageMeta.scala
  backends-clickhouse/src/main/spark32/org/apache/gluten/backendsapi/clickhouse/CHExtendRule.scala
  backends-clickhouse/src/main/spark33/org/apache/gluten/backendsapi/clickhouse/CHExtendRule.scala
  backends-clickhouse/src/main/spark35/org/apache/gluten/backendsapi/clickhouse/CHExtendRule.scala
  backends-clickhouse/src/main/spark35/org/apache/spark/sql/catalyst/AddStorageInfo.scala
Labels: CLICKHOUSE

#7419 [GLUTEN-7418][VL] Add checks for allocation failures and initialize variables
  cpp/core/jni/JniCommon.cc
  cpp/core/jni/JniError.cc
  cpp/core/memory/MemoryAllocator.cc
  cpp/velox/jni/JniFileSystem.cc
  cpp/velox/shuffle/VeloxShuffleReader.cc
  cpp/velox/udf/UdfLoader.cc
Labels: VELOX

#7401 [GLUTEN-7400][CORE] Scala code style clean up for Backend.scala
  gluten-core/src/main/scala/org/apache/gluten/backend/Backend.scala
Labels: CORE

#7430 [CORE] Infra: Do not dismiss stale reviews
  .asf.yaml
Labels: INFRA

#7429 [CORE] Infra: Forward GitHub discussions to Apache mailing list
  .asf.yaml
Labels: INFRA

#6857 [GLUTEN-6856][CH]Support arrays_overlap and fix array_join diff
  backends-clickhouse/src/main/scala/org/apache/gluten/utils/CHExpressionUtil.scala
  cpp-ch/local-engine/Functions/SparkFunctionArrayJoin.cpp
  cpp-ch/local-engine/Functions/SparkFunctionArraysOverlap.cpp
  cpp-ch/local-engine/Parser/scalar_function_parser/CommonScalarFunctionParser.cpp
Labels: CLICKHOUSE

#7442 [VL] Adapt setup-centos8.sh to latest velox helper functions
  ep/build-velox/src/setup-centos8.sh
Labels: VELOX

#7444 Minor fix for info.sh
  dev/info.sh
Labels: BUILD

#7333 [GLUTEN-7325] [CH] add a config to enable turn off read json
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHBackend.scala
  backends-clickhouse/src/test/resources/jars/json-serde-1.3.8-SNAPSHOT-jar-with-dependencies.jar
  backends-clickhouse/src/test/resources/text-data/json-without-quote/data.text
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/compatibility/GlutenClickHouseHiveSuite.scala
Labels: CLICKHOUSE

#7443 [VL] Fix dependencies setup
  cpp/velox/memory/VeloxMemoryManager.cc
  ep/build-velox/src/get_velox.sh
Labels: BUILD, VELOX

#7403 [GLUTEN-7402][CORE] Code cleanup for GlutenPlugin
  gluten-core/src/main/scala/org/apache/gluten/GlutenPlugin.scala
Labels: CORE

#7396 [CORE] Update AllocationListener usage after successfully releasing memory
  cpp/core/memory/MemoryAllocator.cc
Labels: VELOX

#7445 [VL] Prepare shim API for breaking change in SPARK-48610
  gluten-substrait/src/main/scala/org/apache/spark/sql/execution/GlutenExplainUtils.scala
  gluten-substrait/src/main/scala/org/apache/spark/sql/execution/GlutenImplicits.scala
  shims/common/src/main/scala/org/apache/gluten/sql/shims/SparkShims.scala
  shims/spark32/src/main/scala/org/apache/gluten/sql/shims/spark32/Spark32Shims.scala
  shims/spark33/src/main/scala/org/apache/gluten/sql/shims/spark33/Spark33Shims.scala
  shims/spark34/src/main/scala/org/apache/gluten/sql/shims/spark34/Spark34Shims.scala
  shims/spark35/src/main/scala/org/apache/gluten/sql/shims/spark35/Spark35Shims.scala
Labels: CORE

#7448 [CORE] Fix GH security issues
  backends-clickhouse/pom.xml
  backends-velox/pom.xml
  gluten-substrait/pom.xml
  gluten-ut/pom.xml
Labels: CORE, VELOX, CLICKHOUSE

#7454 [GLUTEN-1632][CH]Daily Update Clickhouse Version (20241010)
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHBackend.scala
  backends-clickhouse/src/test/resources/jars/json-serde-1.3.8-SNAPSHOT-jar-with-dependencies.jar
  backends-clickhouse/src/test/resources/text-data/json-without-quote/data.text
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/compatibility/GlutenClickHouseHiveSuite.scala
  cpp-ch/clickhouse.version
  cpp-ch/local-engine/Common/CHUtil.cpp
  cpp-ch/local-engine/Disks/ObjectStorages/GlutenHDFSObjectStorage.cpp
  cpp-ch/local-engine/Parser/scalar_function_parser/arithmetic.cpp
  cpp-ch/local-engine/Storages/MergeTree/MetaDataHelper.cpp
  cpp-ch/local-engine/Storages/MergeTree/SparkStorageMergeTree.cpp
  cpp-ch/local-engine/Storages/SubstraitSource/ReadBufferBuilder.cpp
  cpp-ch/local-engine/Storages/SubstraitSource/ReadBufferBuilder.h
Labels: CLICKHOUSE

#7449 [VL] Remove VELOX_BUILD_PATH from include directories if build test is disabled
  cpp/velox/CMakeLists.txt
  cpp/velox/operators/writer/VeloxParquetDatasource.h
  cpp/velox/tests/Substrait2VeloxPlanConversionTest.cc
Labels: VELOX

#7456 [GLUTEN-7440][VL] Enable unit tests on missing all struct fields
  ep/build-velox/src/get_velox.sh
  gluten-ut/spark33/src/test/scala/org/apache/gluten/utils/velox/VeloxTestSettings.scala
  gluten-ut/spark34/src/test/scala/org/apache/gluten/utils/velox/VeloxTestSettings.scala
  gluten-ut/spark35/src/test/scala/org/apache/gluten/utils/velox/VeloxTestSettings.scala
Labels: CORE, BUILD, VELOX

#6888 [GLUTEN-6784][GLUTEN-6828][VL] Add tests for weekOfYear and cast string as date
  backends-velox/src/test/scala/org/apache/gluten/execution/MiscOperatorSuite.scala
  backends-velox/src/test/scala/org/apache/gluten/execution/ScalarFunctionsValidateSuite.scala
Labels: VELOX

#7461 [GLUTEN-7459][VL] Move 3.2 / 3.3 Velox native file writer code to `backend-velox` / `cpp/velox`
  .github/workflows/velox_backend.yml
  backends-velox/src/main/scala/org/apache/gluten/datasource/VeloxDataSourceJniWrapper.java
  backends-velox/src/main/scala/org/apache/gluten/datasource/VeloxDataSourceUtil.scala
  backends-velox/src/main/scala/org/apache/spark/sql/execution/datasources/velox/VeloxFormatWriterInjects.scala
  cpp/core/compute/Runtime.h
  cpp/core/jni/JniWrapper.cc
  cpp/velox/CMakeLists.txt
  cpp/velox/benchmarks/ParquetWriteBenchmark.cc
  cpp/velox/compute/VeloxRuntime.cc
  cpp/velox/compute/VeloxRuntime.h
  cpp/velox/jni/VeloxJniWrapper.cc
  cpp/velox/operators/writer/VeloxDataSource.h
  cpp/velox/operators/writer/VeloxParquetDataSource.cc
  cpp/velox/operators/writer/VeloxParquetDataSource.h
  cpp/velox/operators/writer/VeloxParquetDataSourceABFS.h
  cpp/velox/operators/writer/VeloxParquetDataSourceGCS.h
  cpp/velox/operators/writer/VeloxParquetDataSourceHDFS.h
  cpp/velox/operators/writer/VeloxParquetDataSourceS3.h
  cpp/velox/tests/RuntimeTest.cc
Labels: VELOX, INFRA

#7411 [GLUTEN-7410][CORE] Add test args to run spark-ut with Java 17
  .gitignore
  pom.xml
Labels: CORE

#7466 [GLUTEN-7465][CH] Fix compile error 'Unable to locate class corresponding to inner class entry for BuilderParent in owner com.google.protobuf.AbstractMessage'
  backends-clickhouse/pom.xml
  cpp-ch/clickhouse.version
  pom.xml
Labels: CORE, CLICKHOUSE

#7471 [VL] Following #7461, add a minor fix
  backends-velox/src/main/java/org/apache/gluten/datasource/VeloxDataSourceJniWrapper.java
Labels: VELOX

#7374 [GLUTEN-7373][DOC][VL] Add document for profiling gluten with velox
  docs/developers/ProfileMemoryOfGlutenWithVelox.md
  docs/image/velox_profile_memory_gif.gif
  docs/image/velox_profile_memory_text.png
Labels: DOCS

#7473 [GLUTEN-7480][VL] Clean up some code for protobuf
  ep/build-velox/src/get_velox.sh
Labels: BUILD, VELOX

#7481 [GLUTEN-7480][VL] Build centos-8 docker image for GHA workflow
  .github/workflows/docker/Dockerfile.gha
  .github/workflows/docker_image.yml
Labels: INFRA

#7491 [VL] Follow-up for #7481 to fix docker build error
  .github/workflows/docker/Dockerfile.gha
Labels: INFRA

#7490 [GLUTEN-7489][INFRA] fix: allow to fetch artifacts from workflow `Velox backend Github Runner` in upstream repo
  .github/workflows/test_report.yml
Labels: INFRA

#7483 [GLUTEN-7291][DELTA] fix: push down input_file_name expression to transformer scan in delta
  gluten-delta/src/main/scala/org/apache/gluten/extension/DeltaRewriteTransformerRules.scala
  gluten-delta/src/test/scala/org/apache/gluten/execution/VeloxDeltaSuite.scala
Labels: DATA_LAKE

#7477 [GLUTEN-6887][VL] Code clean for hasUnsupportedColumns function
  shims/spark32/src/main/scala/org/apache/spark/sql/execution/FileSourceScanExecShim.scala
  shims/spark32/src/main/scala/org/apache/spark/sql/execution/datasources/v2/BatchScanExecShim.scala
  shims/spark33/src/main/scala/org/apache/spark/sql/execution/FileSourceScanExecShim.scala
  shims/spark33/src/main/scala/org/apache/spark/sql/execution/datasources/v2/BatchScanExecShim.scala
  shims/spark34/src/main/scala/org/apache/spark/sql/execution/FileSourceScanExecShim.scala
  shims/spark34/src/main/scala/org/apache/spark/sql/execution/datasources/v2/BatchScanExecShim.scala
  shims/spark35/src/main/scala/org/apache/spark/sql/execution/FileSourceScanExecShim.scala
  shims/spark35/src/main/scala/org/apache/spark/sql/execution/datasources/v2/BatchScanExecShim.scala
Labels: CORE

#7497 [GLUTEN-7495][BUILD] Fix macOS does not support version-script
  cpp/core/CMakeLists.txt
Labels: VELOX

#7492 [GLUTEN-7493][VL] Update Velox.md to clarify dependency deployment
  docs/get-started/Velox.md
Labels: DOCS

#7375 [VL] Enable Spark legacy date formatter if spark.sql.legacy.timeParserPolicy is set to 'LEGACY'
  cpp/core/config/GlutenConfig.h
  cpp/velox/compute/WholeStageResultIterator.cc
  shims/common/src/main/scala/org/apache/gluten/GlutenConfig.scala
Labels: CORE, VELOX

#7479 [GLUTEN-7243][VL] Fix hanging by cross-task spilling
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxIteratorApi.scala
  cpp/core/compute/Runtime.cc
  cpp/core/compute/Runtime.h
  cpp/core/jni/JniWrapper.cc
  cpp/velox/benchmarks/GenericBenchmark.cc
  cpp/velox/compute/VeloxRuntime.cc
  cpp/velox/compute/VeloxRuntime.h
  cpp/velox/tests/RuntimeTest.cc
  gluten-arrow/src/main/java/org/apache/gluten/vectorized/NativePlanEvaluator.java
  gluten-arrow/src/main/java/org/apache/gluten/vectorized/PlanEvaluatorJniWrapper.java
Labels: VELOX

#7485 [GLUTEN-7484][CH]Fix element_at diff
  cpp-ch/local-engine/Parser/scalar_function_parser/elementAt.cpp
  gluten-ut/spark32/src/test/scala/org/apache/gluten/utils/clickhouse/ClickHouseTestSettings.scala
  gluten-ut/spark33/src/test/scala/org/apache/gluten/utils/clickhouse/ClickHouseTestSettings.scala
  gluten-ut/spark34/src/test/scala/org/apache/gluten/utils/clickhouse/ClickHouseTestSettings.scala
  gluten-ut/spark35/src/test/scala/org/apache/gluten/utils/clickhouse/ClickHouseTestSettings.scala
Labels: CORE, CLICKHOUSE

#7501 [GLUTEN-7496][DOCS] Add View the Surefire reports of velox test in NewToGluten.md
  docs/developers/NewToGluten.md
  docs/image/surefire-report.png
Labels: DOCS

#7393 [GLUTEN-7389] [CH] fix cast map to string diff with spark
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/compatibility/GlutenClickhouseFunctionSuite.scala
  cpp-ch/local-engine/Functions/SparkFunctionMapToString.cpp
  cpp-ch/local-engine/Functions/SparkFunctionMapToString.h
  cpp-ch/local-engine/Parser/SerializedPlanParser.cpp
Labels: CLICKHOUSE

#7522 [GLUTEN-7518][VL] Clean up some code used for building protobuf
  cpp/CMakeLists.txt
  cpp/compile.sh
  cpp/core/CMakeLists.txt
  cpp/velox/CMakeLists.txt
  dev/builddeps-veloxbe.sh
  dev/ci-velox-buildshared-centos-8.sh
Labels: BUILD, VELOX

#7513 [GLUTEN-7432][CH] Exception when the result of get_json_object is an array
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenFunctionValidateSuite.scala
  cpp-ch/local-engine/Functions/SparkFunctionGetJsonObject.h
Labels: CLICKHOUSE

#7527 [GLUTEN-7526][VL] Scala code style for VeloxCollect
  backends-velox/src/main/scala/org/apache/gluten/expression/aggregate/VeloxCollect.scala
Labels: VELOX

#7463 [VL] Lower default spill run size to reduce overhead memory usage
  .github/workflows/velox_backend.yml
  cpp/velox/compute/WholeStageResultIterator.cc
  shims/common/src/main/scala/org/apache/gluten/GlutenConfig.scala
Labels: CORE, VELOX, INFRA

#7138 [GLUTEN-6876] Support Spark-352
  .github/workflows/util/install_spark_resources.sh
  .github/workflows/velox_backend.yml
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/compatibility/GlutenClickhouseStringFunctionsSuite.scala
  gluten-substrait/src/main/scala/org/apache/spark/shuffle/GlutenShuffleUtils.scala
  gluten-substrait/src/main/scala/org/apache/spark/shuffle/sort/ColumnarShuffleManager.scala
  gluten-ut/spark35/src/test/scala/org/apache/gluten/utils/velox/VeloxTestSettings.scala
  package/pom.xml
  pom.xml
  shims/spark32/src/main/scala/org/apache/spark/shuffle/SparkSortShuffleWriterUtil.scala
  shims/spark33/src/main/scala/org/apache/spark/shuffle/SparkSortShuffleWriterUtil.scala
  shims/spark34/src/main/scala/org/apache/spark/shuffle/SparkSortShuffleWriterUtil.scala
  shims/spark35/src/main/scala/org/apache/gluten/sql/shims/spark35/Spark35Shims.scala
  shims/spark35/src/main/scala/org/apache/gluten/sql/shims/spark35/SparkShimProvider.scala
  shims/spark35/src/main/scala/org/apache/spark/shuffle/SparkSortShuffleWriterUtil.scala
  tools/gluten-it/pom.xml
Labels: CORE, INFRA, TOOLS, CLICKHOUSE

#7520 [GLUTEN-7517][CH] Support build gluten package with scala213
  ep/build-clickhouse/src/package.sh
Labels: CLICKHOUSE

#7529 [GLUTEN-1632][CH]Daily Update Clickhouse Version (20241015)
  cpp-ch/clickhouse.version
  cpp-ch/local-engine/Storages/SubstraitSource/ReadBufferBuilder.cpp
  cpp-ch/local-engine/tests/gtest_write_pipeline_mergetree.cpp
Labels: CLICKHOUSE

#7540 [GLUTEN-7539][VL] Remove some unnecessary Velox code changes from modify_velox.patch
  ep/build-velox/src/modify_velox.patch
Labels: VELOX

#7515 [GLUTEN-7514][VL] Reorganize Dockerfiles and document how to build gluten in docker
  .github/workflows/docker_image.yml
  .gitignore
  dev/.dockerignore
  dev/docker/Dockerfile
  dev/docker/Dockerfile.centos7-static-build
  dev/docker/Dockerfile.centos8-dynamic-build
  dev/docker/Makefile
  dev/docker/entrypoint.sh
  dev/vcpkg/.dockerignore
  docs/developers/ProfileMemoryOfGlutenWithVelox.md
  docs/developers/docker_centos7.md
  docs/developers/docker_centos8.md
  docs/developers/docker_ubuntu22.04.md
  docs/developers/velox-backend-CI.md
  docs/developers/velox-backend-build-in-docker.md
Labels: BUILD, INFRA, DOCS

#7421 [GLUTEN-7420][VL] Fix GCS configuration
  cpp/velox/utils/ConfigExtractor.cc
  shims/common/src/main/scala/org/apache/gluten/GlutenConfig.scala
Labels: CORE, VELOX

#7551 [GLUTEN-7550][CH] Rewrite `get_json_object` in `singular_or_list`
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/compatibility/GlutenClickhouseFunctionSuite.scala
  cpp-ch/local-engine/Rewriter/ExpressionRewriter.h
Labels: CLICKHOUSE

#7555 [GLUTEN-7535][VL] CentOS 7 containerized build: Fix for automake version error
  tools/gluten-te/centos/centos-7-deps.sh
Labels: TOOLS

#7547 [GLUTEN-7542][CH] Fix cache not refresh
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/tpch/GlutenClickHouseHDFSSuite.scala
  cpp-ch/local-engine/Common/FileCacheConcurrentMap.h
  cpp-ch/local-engine/Storages/Cache/CacheManager.cpp
  cpp-ch/local-engine/Storages/SubstraitSource/ReadBufferBuilder.cpp
  cpp-ch/local-engine/Storages/SubstraitSource/ReadBufferBuilder.h
Labels: CLICKHOUSE

#7546 [GLUTEN-7499][VL][CI] Enable ccache in GHA job
  .github/workflows/velox_backend.yml
  .github/workflows/velox_backend_cache.yml
Labels: INFRA

#7558 [GLUTEN-1632][CH]Daily Update Clickhouse Version (20241016)
  cpp-ch/clickhouse.version
  cpp-ch/local-engine/Common/CHUtil.cpp
  cpp-ch/local-engine/Operator/BlocksBufferPoolTransform.cpp
  cpp-ch/local-engine/Operator/BlocksBufferPoolTransform.h
  cpp-ch/local-engine/Operator/DefaultHashAggregateResult.cpp
  cpp-ch/local-engine/Operator/DefaultHashAggregateResult.h
  cpp-ch/local-engine/Operator/EarlyStopStep.cpp
  cpp-ch/local-engine/Operator/EarlyStopStep.h
  cpp-ch/local-engine/Operator/EmptyProjectStep.cpp
  cpp-ch/local-engine/Operator/EmptyProjectStep.h
  cpp-ch/local-engine/Operator/ExpandStep.cpp
  cpp-ch/local-engine/Operator/ExpandStep.h
  cpp-ch/local-engine/Operator/GraceAggregatingStep.cpp
  cpp-ch/local-engine/Operator/GraceAggregatingStep.h
  cpp-ch/local-engine/Operator/GraceAggregatingTransform.cpp
  cpp-ch/local-engine/Operator/GraceAggregatingTransform.h
  cpp-ch/local-engine/Operator/GraceMergingAggregatedStep.cpp
  cpp-ch/local-engine/Operator/GraceMergingAggregatedStep.h
  cpp-ch/local-engine/Operator/ReplicateRowsStep.cpp
  cpp-ch/local-engine/Operator/ReplicateRowsStep.h
  cpp-ch/local-engine/Operator/StreamingAggregatingStep.cpp
  cpp-ch/local-engine/Operator/StreamingAggregatingStep.h
  cpp-ch/local-engine/Operator/WindowGroupLimitStep.cpp
  cpp-ch/local-engine/Operator/WindowGroupLimitStep.h
  cpp-ch/local-engine/Parser/InputFileNameParser.cpp
  cpp-ch/local-engine/Parser/InputFileNameParser.h
  cpp-ch/local-engine/Parser/LocalExecutor.cpp
  cpp-ch/local-engine/Parser/RelParsers/AggregateRelParser.cpp
  cpp-ch/local-engine/Parser/RelParsers/CrossRelParser.cpp
  cpp-ch/local-engine/Parser/RelParsers/ExpandRelParser.cpp
  cpp-ch/local-engine/Parser/RelParsers/FetchRelParser.cpp
  cpp-ch/local-engine/Parser/RelParsers/FilterRelParser.cpp
  cpp-ch/local-engine/Parser/RelParsers/JoinRelParser.cpp
  cpp-ch/local-engine/Parser/RelParsers/MergeTreeRelParser.cpp
  cpp-ch/local-engine/Parser/RelParsers/ProjectRelParser.cpp
  cpp-ch/local-engine/Parser/RelParsers/ReadRelParser.cpp
  cpp-ch/local-engine/Parser/RelParsers/SortRelParser.cpp
  cpp-ch/local-engine/Parser/RelParsers/WindowGroupLimitRelParser.cpp
  cpp-ch/local-engine/Parser/RelParsers/WindowRelParser.cpp
  cpp-ch/local-engine/Parser/SerializedPlanParser.cpp
  cpp-ch/local-engine/Parser/SubstraitParserUtils.cpp
  cpp-ch/local-engine/Parser/SubstraitParserUtils.h
  cpp-ch/local-engine/Storages/Parquet/VectorizedParquetRecordReader.cpp
  cpp-ch/local-engine/Storages/SubstraitSource/SubstraitFileSourceStep.cpp
  cpp-ch/local-engine/tests/benchmark_local_engine.cpp
  cpp-ch/local-engine/tests/gtest_ch_join.cpp
Labels: CLICKHOUSE

#7554 [GLUTEN-7499][VL] CI: Remove GHA binary cache
  .github/workflows/velox_backend.yml
  .github/workflows/velox_backend_cache.yml
Labels: INFRA

#7565 [GLUTEN-7482][CH] Remove redundant head object operation of s3
  backends-clickhouse/src/main/scala/org/apache/spark/sql/execution/commands/GlutenCacheFilesCommand.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/tpch/GlutenClickHouseHDFSSuite.scala
  cpp-ch/local-engine/Storages/SubstraitSource/ReadBufferBuilder.cpp
Labels: CLICKHOUSE

#7570 [GLUTEN-7563][CH] Fix failure on too large double number
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/compatibility/GlutenClickhouseFunctionSuite.scala
  cpp-ch/local-engine/Functions/SparkFunctionGetJsonObject.h
Labels: CLICKHOUSE

#7567 [GLUTEN-1632][CH]Daily Update Clickhouse Version (20241017)
  cpp-ch/clickhouse.version
  cpp-ch/local-engine/Disks/ObjectStorages/MetadataStorageFromRocksDB.cpp
  cpp-ch/local-engine/Disks/ObjectStorages/MetadataStorageFromRocksDB.h
  cpp-ch/local-engine/Disks/ObjectStorages/MetadataStorageFromRocksDBTransactionOperations.cpp
  cpp-ch/local-engine/Disks/ObjectStorages/MetadataStorageFromRocksDBTransactionOperations.h
  cpp-ch/local-engine/Storages/MergeTree/MetaDataHelper.cpp
  cpp-ch/local-engine/Storages/MergeTree/SparkStorageMergeTree.cpp
Labels: CLICKHOUSE

#7560 [GLUTEN-7559][VL][UNIFFLE] Set rss.enabled to true in UniffleShuffleManager
  gluten-uniffle/velox/src/main/java/org/apache/spark/shuffle/gluten/uniffle/UniffleShuffleManager.java
Labels: RSS

#7451 [GLUTEN-7450][VL] Improve CollectRewriteRule for Velox
  backends-velox/src/main/scala/org/apache/gluten/extension/CollectRewriteRule.scala
Labels: VELOX

#7574 [GLUTEN-7359][VL] Enable partial project in RAS
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxRuleApi.scala
  backends-velox/src/main/scala/org/apache/gluten/execution/ColumnarPartialProjectExec.scala
  backends-velox/src/test/scala/org/apache/gluten/expression/UDFPartialProjectSuite.scala
  gluten-substrait/src/main/scala/org/apache/gluten/expression/ExpressionUtils.scala
  gluten-substrait/src/main/scala/org/apache/gluten/extension/columnar/validator/Validators.scala
  gluten-substrait/src/main/scala/org/apache/gluten/planner/cost/LegacyCostModel.scala
Labels: CORE, VELOX

#7573 [GLUTEN-7572][CORE] Check if iterator has been closed
  gluten-core/src/main/java/org/apache/gluten/iterator/ClosableIterator.java
Labels: CORE

#7590 [VL] Remove unnecessary vanilla Spark compatibility code for VeloxCollectSet function
  backends-velox/src/main/scala/org/apache/gluten/expression/aggregate/VeloxCollect.scala
  backends-velox/src/main/scala/org/apache/gluten/extension/CollectRewriteRule.scala
Labels: VELOX

#7588 [GLUTEN-1632][CH]Daily Update Clickhouse Version (20241018)
  cpp-ch/clickhouse.version
  cpp-ch/local-engine/Common/CHUtil.cpp
  cpp-ch/local-engine/Storages/SubstraitSource/ParquetFormatFile.cpp
  cpp-ch/local-engine/tests/benchmark_parquet_read.cpp
  cpp-ch/local-engine/tests/benchmark_spark_row.cpp
  cpp-ch/local-engine/tests/gtest_parquet_read.cpp
Labels: CLICKHOUSE

#7543 [GLUTEN-7541][VL] Improve HLLRewriteRule for Velox
  backends-velox/src/main/scala/org/apache/gluten/extension/HLLRewriteRule.scala
Labels: VELOX

#7595 [GLUTEN-7591][CH]Fix: fail to normalize json text with empty object in it
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/compatibility/GlutenClickhouseFunctionSuite.scala
  cpp-ch/local-engine/Functions/SparkFunctionGetJsonObject.h
Labels: CLICKHOUSE

#7597 [GLUTEN-7596][CH] Fix bnlj empty join error
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/tpch/GlutenClickHouseTPCHParquetRFSuite.scala
  cpp-ch/local-engine/Join/BroadCastJoinBuilder.cpp
Labels: CLICKHOUSE

#7601 [GLUTEN-7600][VL] Prepare test case for the removal of workaround code for empty schema batches
  .github/workflows/velox_backend_cache.yml
  backends-velox/src/main/scala/org/apache/gluten/execution/ColumnarPartialProjectExec.scala
  backends-velox/src/main/scala/org/apache/gluten/execution/VeloxColumnarToRowExec.scala
  backends-velox/src/main/scala/org/apache/gluten/extension/EmptySchemaWorkaround.scala
  backends-velox/src/main/scala/org/apache/spark/sql/execution/datasources/velox/VeloxFormatWriterInjects.scala
  backends-velox/src/test/scala/org/apache/gluten/execution/MiscOperatorSuite.scala
  cpp/velox/compute/VeloxRuntime.h
  gluten-arrow/src/main/java/org/apache/gluten/columnarbatch/ColumnarBatches.java
  gluten-core/src/main/scala/org/apache/gluten/extension/GlutenColumnarRule.scala
Labels: CORE, VELOX, INFRA

#7616 [GLUTEN-7615][CORE] Introduce `GlutenFormatFactory`
  backends-clickhouse/src/main/delta-20/org/apache/spark/sql/delta/ClickhouseOptimisticTransaction.scala
  backends-clickhouse/src/main/delta-20/org/apache/spark/sql/execution/datasources/v2/clickhouse/source/DeltaMergeTreeFileFormat.scala
  backends-clickhouse/src/main/delta-23/org/apache/spark/sql/delta/ClickhouseOptimisticTransaction.scala
  backends-clickhouse/src/main/delta-23/org/apache/spark/sql/execution/datasources/v2/clickhouse/source/DeltaMergeTreeFileFormat.scala
  backends-clickhouse/src/main/delta-32/org/apache/spark/sql/delta/ClickhouseOptimisticTransaction.scala
  backends-clickhouse/src/main/delta-32/org/apache/spark/sql/execution/datasources/v2/clickhouse/source/DeltaMergeTreeFileFormat.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHListenerApi.scala
  backends-clickhouse/src/main/scala/org/apache/spark/sql/execution/datasources/v1/GlutenMergeTreeWriterInjects.scala
  backends-clickhouse/src/main/scala/org/apache/spark/sql/execution/datasources/v1/clickhouse/MergeTreeFileFormatDataWriter.scala
  backends-clickhouse/src/main/scala/org/apache/spark/sql/execution/datasources/v1/clickhouse/MergeTreeFileFormatWriter.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenClickHouseWholeStageTransformerSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/tpch/GlutenClickHouseHDFSSuite.scala
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxListenerApi.scala
  gluten-substrait/src/main/scala/org/apache/spark/sql/execution/datasources/GlutenFormatWriterInjectsBase.scala
  gluten-substrait/src/main/scala/org/apache/spark/sql/execution/datasources/GlutenWriterColumnarRules.scala
  shims/common/src/main/scala/org/apache/gluten/execution/datasource/GlutenFormatWriterInjects.scala
  shims/common/src/main/scala/org/apache/gluten/execution/datasource/GlutenOrcWriterInjects.scala
  shims/common/src/main/scala/org/apache/gluten/execution/datasource/GlutenParquetWriterInjects.scala
  shims/spark32/src/main/scala/org/apache/gluten/sql/shims/spark32/Spark32Shims.scala
  shims/spark32/src/main/scala/org/apache/spark/sql/execution/datasources/FileFormatDataWriter.scala
  shims/spark32/src/main/scala/org/apache/spark/sql/execution/datasources/FileFormatWriter.scala
  shims/spark32/src/main/scala/org/apache/spark/sql/execution/datasources/orc/OrcFileFormat.scala
  shims/spark32/src/main/scala/org/apache/spark/sql/execution/datasources/parquet/ParquetFileFormat.scala
  shims/spark32/src/main/scala/org/apache/spark/sql/hive/execution/HiveFileFormat.scala
  shims/spark33/src/main/scala/org/apache/gluten/sql/shims/spark33/Spark33Shims.scala
  shims/spark33/src/main/scala/org/apache/spark/sql/execution/datasources/FileFormatDataWriter.scala
  shims/spark33/src/main/scala/org/apache/spark/sql/execution/datasources/FileFormatWriter.scala
  shims/spark33/src/main/scala/org/apache/spark/sql/execution/datasources/orc/OrcFileFormat.scala
  shims/spark33/src/main/scala/org/apache/spark/sql/execution/datasources/parquet/ParquetFileFormat.scala
  shims/spark33/src/main/scala/org/apache/spark/sql/hive/execution/HiveFileFormat.scala
Labels: CORE, VELOX, CLICKHOUSE

#7610 [GLUTEN-7609][CORE] Fix the bug that Gluten cannot change logging level
  gluten-core/src/main/java/org/apache/gluten/softaffinity/SoftAffinityManager.scala
  gluten-core/src/main/java/org/apache/spark/softaffinity/SoftAffinity.scala
  gluten-core/src/main/scala/org/apache/gluten/extension/columnar/ColumnarRuleApplier.scala
  gluten-substrait/src/main/scala/org/apache/gluten/execution/WholeStageTransformer.scala
  gluten-substrait/src/main/scala/org/apache/gluten/extension/GlutenPlan.scala
Labels: CORE

#7622 [GLUTEN-7621][CH] Fix repeat function reports an error when times is a negative number
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/compatibility/GlutenClickhouseStringFunctionsSuite.scala
  cpp-ch/local-engine/Parser/scalar_function_parser/repeat.cpp
Labels: CLICKHOUSE

#7584 [GLUTEN-7577][VL] Add pattern match for extension rules
  backends-velox/src/main/scala/org/apache/gluten/extension/BloomFilterMightContainJointRewriteRule.scala
  backends-velox/src/main/scala/org/apache/gluten/extension/CollectRewriteRule.scala
  backends-velox/src/main/scala/org/apache/gluten/extension/FlushableHashAggregateRule.scala
Labels: VELOX

#7606 [GLUTEN-7604][CORE] Code refactors against ColumnarRuleApplier.Executor
  gluten-core/src/main/scala/org/apache/gluten/extension/columnar/ColumnarRuleApplier.scala
  gluten-core/src/main/scala/org/apache/gluten/extension/columnar/ColumnarRuleExecutor.scala
  gluten-core/src/main/scala/org/apache/gluten/extension/columnar/enumerated/EnumeratedApplier.scala
  gluten-core/src/main/scala/org/apache/gluten/extension/columnar/heuristic/HeuristicApplier.scala
Labels: CORE

#7582 [GLUTEN-7581][CORE] Code cleanup for GlutenColumnarRule
  gluten-core/src/main/scala/org/apache/gluten/extension/GlutenColumnarRule.scala
Labels: CORE

#7603 [GLUTEN-7545][CH] Fix regexp_replace group catching syntax diff
  backends-clickhouse/src/main/scala/org/apache/gluten/expression/CHExpressionTransformer.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/compatibility/GlutenClickhouseFunctionSuite.scala
Labels: CLICKHOUSE

#7625 [GLUTEN-7623][CH] Fix running cache command with error when executor add and removed.
  backends-clickhouse/src/main/java/org/apache/gluten/execution/CacheResult.java
  backends-clickhouse/src/main/scala/org/apache/spark/sql/execution/commands/GlutenCacheBase.scala
Labels: CLICKHOUSE

#7620 [GLUTEN-7600][VL] Remove EmptySchemaWorkaround
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHSparkPlanExecApi.scala
  backends-velox/src/main/java/org/apache/gluten/columnarbatch/VeloxColumnarBatches.java
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxBackend.scala
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxRuleApi.scala
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxValidatorApi.scala
  backends-velox/src/main/scala/org/apache/gluten/execution/VeloxColumnarToRowExec.scala
  backends-velox/src/main/scala/org/apache/gluten/extension/EmptySchemaWorkaround.scala
  backends-velox/src/main/scala/org/apache/spark/shuffle/ColumnarShuffleWriter.scala
  backends-velox/src/main/scala/org/apache/spark/sql/execution/datasources/velox/VeloxFormatWriterInjects.scala
  backends-velox/src/test/java/org/apache/gluten/columnarbatch/ColumnarBatchTest.java
  backends-velox/src/test/scala/org/apache/gluten/execution/MiscOperatorSuite.scala
  backends-velox/src/test/scala/org/apache/gluten/execution/ScalarFunctionsValidateSuite.scala
  cpp/velox/compute/VeloxRuntime.cc
  cpp/velox/compute/VeloxRuntime.h
  cpp/velox/substrait/SubstraitToVeloxPlanValidator.cc
  gluten-arrow/src/main/java/org/apache/gluten/columnarbatch/ColumnarBatches.java
  gluten-arrow/src/main/java/org/apache/gluten/vectorized/ColumnarBatchInIterator.java
  gluten-substrait/src/main/scala/org/apache/gluten/execution/BasicPhysicalOperatorTransformer.scala
  gluten-substrait/src/main/scala/org/apache/gluten/expression/ExpressionMappings.scala
  gluten-substrait/src/main/scala/org/apache/gluten/extension/columnar/MiscColumnarRules.scala
  gluten-substrait/src/main/scala/org/apache/gluten/extension/columnar/OffloadSingleNode.scala
  gluten-substrait/src/main/scala/org/apache/gluten/extension/columnar/rewrite/PullOutPostProject.scala
  gluten-ut/spark32/src/test/scala/org/apache/gluten/utils/velox/VeloxTestSettings.scala
  gluten-ut/spark33/src/test/scala/org/apache/gluten/utils/velox/VeloxTestSettings.scala
  gluten-ut/spark34/src/test/scala/org/apache/gluten/utils/velox/VeloxTestSettings.scala
  gluten-ut/spark35/src/test/scala/org/apache/gluten/utils/velox/VeloxTestSettings.scala
Labels: CORE, VELOX, CLICKHOUSE

#7537 [GLUTEN-7336][CORE] Bump Spark version to v3.5.3
  .github/workflows/util/install_spark_resources.sh
  .github/workflows/velox_backend.yml
  pom.xml
  shims/spark35/src/main/scala/org/apache/gluten/sql/shims/spark35/SparkShimProvider.scala
  tools/gluten-it/pom.xml
Labels: CORE, INFRA, TOOLS

#7635 [CORE] Move scala file to scala package and fix minor typo in comment
  gluten-core/src/main/scala/org/apache/gluten/softaffinity/SoftAffinityManager.scala
  gluten-core/src/main/scala/org/apache/gluten/softaffinity/strategy/SoftAffinityAllocationTrait.scala
  gluten-core/src/main/scala/org/apache/gluten/softaffinity/strategy/SoftAffinityStrategy.scala
  gluten-core/src/main/scala/org/apache/gluten/task/TaskListener.scala
  gluten-core/src/main/scala/org/apache/spark/softaffinity/SoftAffinity.scala
  gluten-core/src/main/scala/org/apache/spark/softaffinity/SoftAffinityListener.scala
  gluten-core/src/main/scala/org/apache/spark/util/SparkDirectoryUtil.scala
  gluten-core/src/main/scala/org/apache/spark/util/SparkShutdownManagerUtil.scala
  shims/common/src/main/scala/org/apache/gluten/GlutenConfig.scala
Labels: CORE

#7629 [VL] Fix missing VELOX_HOME in builddeps-veloxbe.sh
  dev/builddeps-veloxbe.sh
Labels: BUILD

#7593 [GLUTEN-5525][FOLLOWUP] Fix mvn versions:set does not work for shim submodules
  pom.xml
  shims/pom.xml
Labels: CORE

#7646 [GLUTEN-7600][VL] Simplify offload rules in RAS
  gluten-substrait/src/main/scala/org/apache/gluten/extension/columnar/OffloadSingleNode.scala
  gluten-substrait/src/main/scala/org/apache/gluten/extension/columnar/enumerated/EnumeratedTransform.scala
  gluten-substrait/src/main/scala/org/apache/gluten/extension/columnar/enumerated/RasOffloadFilter.scala
  gluten-substrait/src/main/scala/org/apache/gluten/extension/columnar/enumerated/RasOffloadHashAggregate.scala
  gluten-substrait/src/main/scala/org/apache/gluten/extension/columnar/enumerated/RasOffloadProject.scala
Labels: CORE

#7651 [VL] Code cleanup for Arrow CSV UTs
  backends-velox/src/main/scala/org/apache/gluten/execution/datasource/v2/ArrowBatchScanExec.scala
  backends-velox/src/main/scala/org/apache/spark/sql/execution/ArrowFileSourceScanExec.scala
  backends-velox/src/main/scala/org/apache/spark/sql/execution/BaseArrowScanExec.scala
  backends-velox/src/test/scala/org/apache/gluten/execution/ArrowCsvScanSuite.scala
  backends-velox/src/test/scala/org/apache/gluten/execution/MiscOperatorSuite.scala
Labels: VELOX

#7578 [GLUTEN-7458][VL] Upgrade to GCC-11 for centos-7/8 and ubuntu-20.04
  .github/workflows/build_bundle_package.yml
  .github/workflows/velox_weekly.yml
  dev/build_helper_functions.sh
  dev/ci-velox-buildshared-centos-8.sh
  dev/ci-velox-buildstatic-centos-7.sh
  dev/docker/Dockerfile.centos7-static-build
  dev/docker/Dockerfile.centos8-dynamic-build
  dev/docker/entrypoint.sh
  dev/package-vcpkg.sh
  dev/vcpkg/README.md
  dev/vcpkg/setup-build-depends.sh
  ep/build-velox/src/get_velox.sh
  ep/build-velox/src/setup-centos7.sh
  ep/build-velox/src/setup-centos8.sh
  tools/gluten-te/centos/centos-7-deps.sh
  tools/gluten-te/centos/centos-8-deps.sh
  tools/gluten-te/centos/examples/buildhere-veloxbe-portable-libs/scripts/all.sh
Labels: BUILD, VELOX, INFRA, TOOLS, DOCS

#7668 [CORE][CH] Remove ValidatorApi.doSparkPlanValidate
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHRuleApi.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHValidatorApi.scala
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxValidatorApi.scala
  gluten-substrait/src/main/scala/org/apache/gluten/backendsapi/ValidatorApi.scala
  gluten-substrait/src/main/scala/org/apache/gluten/utils/QueryPlanSelector.scala
Labels: CORE, VELOX, CLICKHOUSE

#7667 [VL] Follow-up fix for gcc upgrade PR
  dev/docker/Dockerfile.centos8-dynamic-build
Labels: BUILD

#7476 [GLUTEN-7475][VL] Add a config to control whether add trim node when CAST from varchar
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxSparkPlanExecApi.scala
  docs/Configuration.md
  shims/common/src/main/scala/org/apache/gluten/GlutenConfig.scala
Labels: CORE, VELOX, DOCS

#7650 [BUILD][DOCS][VL] Change BUILD_JEMALLOC to ENABLE_JEMALLOC_STATS
  cpp/CMakeLists.txt
  cpp/compile.sh
  cpp/velox/CMakeLists.txt
  cpp/velox/memory/VeloxMemoryManager.cc
  dev/builddeps-veloxbe.sh
  docs/get-started/build-guide.md
Labels: BUILD, VELOX, DOCS

#7671 [VL] Upgrade FB_OS_VERSION to v2024.07.01.00
  dev/vcpkg/ports/folly/portfile.cmake
  dev/vcpkg/ports/folly/vcpkg.json
  ep/build-velox/src/setup-centos7.sh
  ep/build-velox/src/setup-centos8.sh
Labels: BUILD, VELOX

#7674 [GLUTEN-7673][CH] Fix substrait infinite loop
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/tpch/GlutenClickHouseTPCHParquetAQESuite.scala
  cpp-ch/local-engine/Parser/RelParsers/JoinRelParser.cpp
Labels: CLICKHOUSE

#6172 [GLUTEN-5103][VL] Use jvm libhdfs replace c++ libhdfs3
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHIteratorApi.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/mergetree/GlutenClickHouseMergeTreeWriteOnS3Suite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/mergetree/GlutenClickHouseMergeTreeWriteSuite.scala
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxIteratorApi.scala
  backends-velox/src/main/scala/org/apache/gluten/utils/SharedLibraryLoaderCentos7.scala
  backends-velox/src/main/scala/org/apache/gluten/utils/SharedLibraryLoaderCentos8.scala
  backends-velox/src/main/scala/org/apache/gluten/utils/SharedLibraryLoaderCentos9.scala
  backends-velox/src/main/scala/org/apache/gluten/utils/SharedLibraryLoaderDebian11.scala
  backends-velox/src/main/scala/org/apache/gluten/utils/SharedLibraryLoaderDebian12.scala
  backends-velox/src/main/scala/org/apache/gluten/utils/SharedLibraryLoaderUbuntu2004.scala
  backends-velox/src/main/scala/org/apache/gluten/utils/SharedLibraryLoaderUbuntu2204.scala
  cpp/velox/CMakeLists.txt
  cpp/velox/compute/WholeStageResultIterator.cc
  cpp/velox/utils/HdfsUtils.h
  ep/build-velox/src/get_velox.sh
  ep/build-velox/src/modify_velox.patch
  gluten-iceberg/src/main/scala/org/apache/gluten/execution/IcebergScanTransformer.scala
  gluten-iceberg/src/test/scala/org/apache/gluten/execution/VeloxIcebergSuite.scala
  gluten-substrait/src/main/scala/org/apache/gluten/backendsapi/IteratorApi.scala
  gluten-substrait/src/main/scala/org/apache/gluten/execution/BasicScanExecTransformer.scala
  gluten-substrait/src/main/scala/org/apache/gluten/execution/WholeStageTransformer.scala
Labels: CORE, BUILD, VELOX, CLICKHOUSE, DATA_LAKE

#7683 Revert "[GLUTEN-5103][VL] Use jvm libhdfs replace c++ libhdfs3"
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHIteratorApi.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/mergetree/GlutenClickHouseMergeTreeWriteOnS3Suite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/mergetree/GlutenClickHouseMergeTreeWriteSuite.scala
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxIteratorApi.scala
  backends-velox/src/main/scala/org/apache/gluten/utils/SharedLibraryLoaderCentos7.scala
  backends-velox/src/main/scala/org/apache/gluten/utils/SharedLibraryLoaderCentos8.scala
  backends-velox/src/main/scala/org/apache/gluten/utils/SharedLibraryLoaderCentos9.scala
  backends-velox/src/main/scala/org/apache/gluten/utils/SharedLibraryLoaderDebian11.scala
  backends-velox/src/main/scala/org/apache/gluten/utils/SharedLibraryLoaderDebian12.scala
  backends-velox/src/main/scala/org/apache/gluten/utils/SharedLibraryLoaderUbuntu2004.scala
  backends-velox/src/main/scala/org/apache/gluten/utils/SharedLibraryLoaderUbuntu2204.scala
  cpp/velox/CMakeLists.txt
  cpp/velox/compute/WholeStageResultIterator.cc
  cpp/velox/utils/HdfsUtils.h
  ep/build-velox/src/get_velox.sh
  ep/build-velox/src/modify_velox.patch
  gluten-iceberg/src/main/scala/org/apache/gluten/execution/IcebergScanTransformer.scala
  gluten-iceberg/src/test/scala/org/apache/gluten/execution/VeloxIcebergSuite.scala
  gluten-substrait/src/main/scala/org/apache/gluten/backendsapi/IteratorApi.scala
  gluten-substrait/src/main/scala/org/apache/gluten/execution/BasicScanExecTransformer.scala
  gluten-substrait/src/main/scala/org/apache/gluten/execution/WholeStageTransformer.scala
Labels: CORE, BUILD, VELOX, CLICKHOUSE, DATA_LAKE

#7638 [GLUTEN-7659][CH] Implement splittable bzip2 decompression
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHValidatorApi.scala
  cpp-ch/local-engine/CMakeLists.txt
  cpp-ch/local-engine/Common/GlutenConfig.cpp
  cpp-ch/local-engine/Common/GlutenConfig.h
  cpp-ch/local-engine/Functions/SparkFunctionDecimalBinaryArithmetic.cpp
  cpp-ch/local-engine/IO/SplittableBzip2ReadBuffer.cpp
  cpp-ch/local-engine/IO/SplittableBzip2ReadBuffer.h
  cpp-ch/local-engine/Parser/CHColumnToSparkRow.cpp
  cpp-ch/local-engine/Parser/CHColumnToSparkRow.h
  cpp-ch/local-engine/Storages/SubstraitSource/ExcelTextFormatFile.cpp
  cpp-ch/local-engine/Storages/SubstraitSource/FormatFile.h
  cpp-ch/local-engine/Storages/SubstraitSource/JSONFormatFile.cpp
  cpp-ch/local-engine/Storages/SubstraitSource/ReadBufferBuilder.cpp
  cpp-ch/local-engine/Storages/SubstraitSource/ReadBufferBuilder.h
  cpp-ch/local-engine/Storages/SubstraitSource/TextFormatFile.cpp
Labels: CLICKHOUSE

#7684 [GLUTEN-5103][VL] Use jvm libhdfs replace c++ libhdfs3
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHIteratorApi.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/mergetree/GlutenClickHouseMergeTreeWriteOnS3Suite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/mergetree/GlutenClickHouseMergeTreeWriteSuite.scala
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxIteratorApi.scala
  backends-velox/src/main/scala/org/apache/gluten/utils/SharedLibraryLoaderCentos7.scala
  backends-velox/src/main/scala/org/apache/gluten/utils/SharedLibraryLoaderCentos8.scala
  backends-velox/src/main/scala/org/apache/gluten/utils/SharedLibraryLoaderCentos9.scala
  backends-velox/src/main/scala/org/apache/gluten/utils/SharedLibraryLoaderDebian11.scala
  backends-velox/src/main/scala/org/apache/gluten/utils/SharedLibraryLoaderDebian12.scala
  backends-velox/src/main/scala/org/apache/gluten/utils/SharedLibraryLoaderUbuntu2004.scala
  backends-velox/src/main/scala/org/apache/gluten/utils/SharedLibraryLoaderUbuntu2204.scala
  cpp/velox/CMakeLists.txt
  cpp/velox/compute/WholeStageResultIterator.cc
  cpp/velox/utils/HdfsUtils.h
  ep/build-velox/src/get_velox.sh
  ep/build-velox/src/modify_velox.patch
  gluten-iceberg/src/main/scala/org/apache/gluten/execution/IcebergScanTransformer.scala
  gluten-iceberg/src/test/scala/org/apache/gluten/execution/VeloxIcebergSuite.scala
  gluten-substrait/src/main/scala/org/apache/gluten/backendsapi/IteratorApi.scala
  gluten-substrait/src/main/scala/org/apache/gluten/execution/BasicScanExecTransformer.scala
  gluten-substrait/src/main/scala/org/apache/gluten/execution/WholeStageTransformer.scala
Labels: CORE, BUILD, VELOX, CLICKHOUSE, DATA_LAKE

#7689 [GLUTEN-1632][CH]Daily Update Clickhouse Version (20241026)
  cpp-ch/clickhouse.version
  cpp-ch/local-engine/Storages/SubstraitSource/ReadBufferBuilder.cpp
  cpp-ch/local-engine/tests/gtest_write_pipeline_mergetree.cpp
Labels: CLICKHOUSE

#7592 [GLUTEN-7359][VL] Optimize string in partial project
  backends-velox/src/main/scala/org/apache/gluten/execution/ColumnarPartialProjectExec.scala
  backends-velox/src/test/scala/org/apache/gluten/expression/UDFPartialProjectSuite.scala
  gluten-arrow/src/main/java/org/apache/gluten/vectorized/ArrowColumnarRow.java
  gluten-arrow/src/main/scala/org/apache/gluten/expression/ArrowProjection.scala
  gluten-arrow/src/main/scala/org/apache/gluten/expression/InterpretedArrowProjection.scala
  shims/spark32/src/main/scala/org/apache/spark/sql/catalyst/expressions/ExpressionsEvaluator.scala
  shims/spark33/src/main/scala/org/apache/spark/sql/catalyst/expressions/ExpressionsEvaluator.scala
Labels: CORE, VELOX

#7682 [GLUTEN-7681][CH][ARM] Fix compile issue for SparkFunctionFloor
  cpp-ch/local-engine/Functions/SparkFunctionFloor.h
Labels: CLICKHOUSE

#7669 [GLUTEN-7661][VL] Fix validate native IfThen expr
  cpp/velox/substrait/SubstraitToVeloxPlanValidator.cc
Labels: VELOX

#7694 [GLUTEN-6887][VL] Daily Update Velox Version (2024_10_28)
  ep/build-velox/src/get_velox.sh
Labels: BUILD, VELOX

#7705 [GLUTEN-7665] Remove tpch-queries-velox
  backends-velox/src/test/resources/tpch-data-parquet/customer/part-00000-a1a42661-7a85-42da-b831-f489a5545d61-c000.snappy.parquet
  backends-velox/src/test/resources/tpch-data-parquet/lineitem/part-00000-6c374e0a-7d76-401b-8458-a8e31f8ab704-c000.snappy.parquet
  backends-velox/src/test/resources/tpch-data-parquet/nation/part-00000-8a852c7b-da96-4425-9ce8-d188f97f3afe-c000.snappy.parquet
  backends-velox/src/test/resources/tpch-data-parquet/orders/part-00000-41cc94ee-a98d-4103-83b1-0b5bcebe03eb-c000.snappy.parquet
  backends-velox/src/test/resources/tpch-data-parquet/part/part-00000-e664e655-0ada-4e0b-a8aa-213d1e4c3797-c000.snappy.parquet
  backends-velox/src/test/resources/tpch-data-parquet/partsupp/part-00000-2c7e524c-3f91-4228-b003-64ad2c8059a1-c000.snappy.parquet
  backends-velox/src/test/resources/tpch-data-parquet/region/part-00000-90d7c5d9-46eb-4bf3-8f00-6eee7436761d-c000.snappy.parquet
  backends-velox/src/test/resources/tpch-data-parquet/supplier/part-00000-0a763951-8a7b-4d7f-a34a-c97e9b4859f0-c000.snappy.parquet
  backends-velox/src/test/resources/tpch-queries-velox/q1.sql
  backends-velox/src/test/resources/tpch-queries-velox/q10.sql
  backends-velox/src/test/resources/tpch-queries-velox/q11.sql
  backends-velox/src/test/resources/tpch-queries-velox/q12.sql
  backends-velox/src/test/resources/tpch-queries-velox/q13.sql
  backends-velox/src/test/resources/tpch-queries-velox/q14.sql
  backends-velox/src/test/resources/tpch-queries-velox/q15.sql
  backends-velox/src/test/resources/tpch-queries-velox/q16.sql
  backends-velox/src/test/resources/tpch-queries-velox/q17.sql
  backends-velox/src/test/resources/tpch-queries-velox/q18.sql
  backends-velox/src/test/resources/tpch-queries-velox/q19.sql
  backends-velox/src/test/resources/tpch-queries-velox/q2.sql
  backends-velox/src/test/resources/tpch-queries-velox/q20.sql
  backends-velox/src/test/resources/tpch-queries-velox/q21.sql
  backends-velox/src/test/resources/tpch-queries-velox/q22.sql
  backends-velox/src/test/resources/tpch-queries-velox/q3.sql
  backends-velox/src/test/resources/tpch-queries-velox/q4.sql
  backends-velox/src/test/resources/tpch-queries-velox/q5.sql
  backends-velox/src/test/resources/tpch-queries-velox/q6.sql
  backends-velox/src/test/resources/tpch-queries-velox/q7.sql
  backends-velox/src/test/resources/tpch-queries-velox/q8.sql
  backends-velox/src/test/resources/tpch-queries-velox/q9.sql
  backends-velox/src/test/scala/org/apache/gluten/benchmarks/NativeBenchmarkPlanGenerator.scala
  backends-velox/src/test/scala/org/apache/gluten/execution/DynamicOffHeapSizingSuite.scala
  backends-velox/src/test/scala/org/apache/gluten/execution/FallbackSuite.scala
  backends-velox/src/test/scala/org/apache/gluten/execution/FunctionsValidateSuite.scala
  backends-velox/src/test/scala/org/apache/gluten/execution/MiscOperatorSuite.scala
  backends-velox/src/test/scala/org/apache/gluten/execution/VeloxAggregateFunctionsSuite.scala
  backends-velox/src/test/scala/org/apache/gluten/execution/VeloxColumnarCacheSuite.scala
  backends-velox/src/test/scala/org/apache/gluten/execution/VeloxHashJoinSuite.scala
  backends-velox/src/test/scala/org/apache/gluten/execution/VeloxMetricsSuite.scala
  backends-velox/src/test/scala/org/apache/gluten/execution/VeloxRoughCostModelSuite.scala
  backends-velox/src/test/scala/org/apache/gluten/execution/VeloxScanSuite.scala
  backends-velox/src/test/scala/org/apache/gluten/execution/VeloxStringFunctionsSuite.scala
  backends-velox/src/test/scala/org/apache/gluten/execution/VeloxTPCHSuite.scala
  backends-velox/src/test/scala/org/apache/gluten/execution/VeloxWindowExpressionSuite.scala
  backends-velox/src/test/scala/org/apache/gluten/execution/python/ArrowEvalPythonExecSuite.scala
  backends-velox/src/test/scala/org/apache/gluten/expression/UDFPartialProjectSuite.scala
  backends-velox/src/test/scala/org/apache/gluten/fuzzer/FuzzerBase.scala
  backends-velox/src/test/scala/org/apache/spark/sql/execution/VeloxParquetWriteSuite.scala
  docs/developers/HowTo.md
  gluten-delta/src/test/scala/org/apache/gluten/execution/VeloxDeltaSuite.scala
  gluten-delta/src/test/scala/org/apache/gluten/execution/VeloxTPCHDeltaSuite.scala
  gluten-hudi/src/test/scala/org/apache/gluten/execution/VeloxHudiSuite.scala
  gluten-hudi/src/test/scala/org/apache/gluten/execution/VeloxTPCHHudiSuite.scala
  gluten-iceberg/src/test/scala/org/apache/gluten/execution/VeloxIcebergSuite.scala
  gluten-iceberg/src/test/scala/org/apache/gluten/execution/VeloxTPCHIcebergSuite.scala
  gluten-ut/spark35/src/test/scala/org/apache/spark/sql/hive/execution/GlutenHiveUDFSuite.scala
Labels: CORE, VELOX, DOCS, DATA_LAKE

#7695 [VL] Code clean for BasicPhysicalOperatorTransformer
  gluten-substrait/src/main/scala/org/apache/gluten/execution/BasicPhysicalOperatorTransformer.scala
Labels: CORE

#7702 [GLUTEN-7143][VL] CI: Add GHA job for running all UTs with RAS=ON
  .github/workflows/velox_backend.yml
Labels: INFRA

#7660 [GLUTEN-7657][CH]Fix to_unix_timestamp when input parameter is timestamp type
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/tpch/GlutenClickHouseTPCHSaltNullParquetSuite.scala
  cpp-ch/local-engine/Functions/SparkFunctionDateToUnixTimestamp.h
  cpp-ch/local-engine/Parser/scalar_function_parser/CommonScalarFunctionParser.cpp
  cpp-ch/local-engine/Parser/scalar_function_parser/unixTimestamp.cpp
  gluten-ut/spark32/src/test/scala/org/apache/gluten/utils/clickhouse/ClickHouseTestSettings.scala
  gluten-ut/spark33/src/test/scala/org/apache/gluten/utils/clickhouse/ClickHouseTestSettings.scala
  gluten-ut/spark34/src/test/scala/org/apache/gluten/utils/clickhouse/ClickHouseTestSettings.scala
  gluten-ut/spark35/src/test/scala/org/apache/gluten/utils/clickhouse/ClickHouseTestSettings.scala
Labels: CORE, CLICKHOUSE

#7686 [GLUTEN-7685][VL][RAS] Add new cost model to avoid costly r2c
  backends-velox/src/test/scala/org/apache/gluten/execution/VeloxRoughCostModel2Suite.scala
  gluten-substrait/src/main/scala/org/apache/gluten/planner/cost/GlutenCostModel.scala
  gluten-substrait/src/main/scala/org/apache/gluten/planner/cost/RoughCostModel2.scala
  shims/common/src/main/scala/org/apache/gluten/GlutenConfig.scala
Labels: CORE, VELOX

#7701 [GLUTEN-7143][VL] Fix several UTs for RAS
  backends-velox/src/test/scala/org/apache/gluten/execution/FallbackSuite.scala
  backends-velox/src/test/scala/org/apache/gluten/planner/VeloxRasSuite.scala
  gluten-core/src/main/scala/org/apache/gluten/extension/GlutenSessionExtensions.scala
  gluten-core/src/main/scala/org/apache/gluten/extension/injector/InjectorControl.scala
  gluten-substrait/src/main/scala/org/apache/gluten/extension/columnar/enumerated/EnumeratedTransform.scala
  gluten-substrait/src/main/scala/org/apache/gluten/planner/cost/LegacyCostModel.scala
  gluten-substrait/src/main/scala/org/apache/gluten/planner/cost/RoughCostModel.scala
  gluten-substrait/src/main/scala/org/apache/gluten/planner/plan/GlutenPlanModel.scala
  gluten-substrait/src/main/scala/org/apache/gluten/planner/property/Conv.scala
  gluten-substrait/src/main/scala/org/apache/gluten/utils/PlanUtil.scala
  gluten-substrait/src/main/scala/org/apache/spark/sql/execution/ColumnarWriteFilesExec.scala
  shims/common/src/main/scala/org/apache/gluten/GlutenConfig.scala
Labels: CORE, VELOX

#7712 [VL] CI: One OOM GHA job has passed, stop ignoring its result
  .github/workflows/velox_backend.yml
Labels: INFRA

#7710 [GLUTEN-7709][CH] Rule constructor simplifications
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHRuleApi.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/extension/CommonSubexpressionEliminateRule.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/extension/RewriteDateTimestampComparisonRule.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/extension/RewriteToDateExpresstionRule.scala
Labels: CLICKHOUSE

#7718 [GLUTEN-7717][CH] [ARM]fix compile issue for SparkFunctionRoundHalfUp
  cpp-ch/local-engine/Functions/SparkFunctionRoundHalfUp.h
Labels: CLICKHOUSE

#7725 [GLUTEN-7143][VL] RAS: Fix test case "test ignore row to columnar" when RAS=ON
  backends-velox/src/test/scala/org/apache/gluten/execution/FallbackSuite.scala
  gluten-substrait/src/main/scala/org/apache/spark/sql/execution/ColumnarWriteFilesExec.scala
  shims/common/src/main/scala/org/apache/gluten/GlutenConfig.scala
Labels: CORE, VELOX

#7720 [GLUTEN-1632][CH]Daily Update Clickhouse Version (20241030)
  backends-clickhouse/src/test/resources/orc-data/all_data_types_with_non_primitive_type.snappy.orc
  backends-clickhouse/src/test/resources/queries/tpch-schema-related/7726.sql
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenClickHouseFileFormatSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenClickHouseWholeStageTransformerSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/tpch/GlutenClickHouseTPCHColumnarShuffleParquetAQESuite.scala
  cpp-ch/clickhouse.version
  cpp-ch/local-engine/Storages/MergeTree/SparkStorageMergeTree.cpp
Labels: CLICKHOUSE

#7722 [GLUTEN-6887][VL] Daily Update Velox Version (2024_10_30)
  cpp/velox/CMakeLists.txt
  ep/build-velox/src/get_velox.sh
Labels: BUILD, VELOX

#7731 [VL] RAS: Fix fallen back plan nodes are not tagged with meaningful fallback reasons
  gluten-substrait/src/main/scala/org/apache/gluten/expression/ExpressionConverter.scala
  gluten-substrait/src/main/scala/org/apache/gluten/extension/columnar/enumerated/RasOffload.scala
  gluten-ut/test/src/test/scala/org/apache/gluten/expressions/GlutenExpressionMappingSuite.scala
Labels: CORE

#7737 [VL] Enhance write parquet with compression codec test
  backends-velox/src/test/scala/org/apache/spark/sql/execution/VeloxParquetWriteSuite.scala
Labels: VELOX

#7715 [GLUTEN-7714][CH]Fix issue caused by incomplete line if there is only one line in last bzip2 block
  cpp-ch/local-engine/IO/SplittableBzip2ReadBuffer.cpp
  cpp-ch/local-engine/IO/SplittableBzip2ReadBuffer.h
  cpp-ch/local-engine/Storages/SubstraitSource/ReadBufferBuilder.cpp
  cpp-ch/local-engine/examples/CMakeLists.txt
  cpp-ch/local-engine/examples/splittable_bzip2_read_buffer.cpp
Labels: CLICKHOUSE

#7729 [VL] Add metric to indicate aggregation pushdown
  backends-velox/src/main/java/org/apache/gluten/metrics/Metrics.java
  backends-velox/src/main/java/org/apache/gluten/metrics/OperatorMetrics.java
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxMetricsApi.scala
  backends-velox/src/main/scala/org/apache/gluten/metrics/HashAggregateMetricsUpdater.scala
  backends-velox/src/main/scala/org/apache/gluten/metrics/MetricsUtil.scala
  cpp/core/jni/JniWrapper.cc
  cpp/core/utils/Metrics.h
  cpp/velox/compute/WholeStageResultIterator.cc
Labels: VELOX
