Repository apache/incubator-gluten, pull requests merged in 2024-12, with the labels that each got.

#8085 [GLUTEN-8080][CH]Support function transform_keys/transform_values
  backends-clickhouse/src/main/scala/org/apache/gluten/utils/CHExpressionUtil.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenFunctionValidateSuite.scala
  cpp-ch/local-engine/Parser/FunctionParser.cpp
  cpp-ch/local-engine/Parser/scalar_function_parser/mapHighOrderFunctions.cpp
  gluten-ut/spark32/src/test/scala/org/apache/gluten/utils/clickhouse/ClickHouseTestSettings.scala
  gluten-ut/spark33/src/test/scala/org/apache/gluten/utils/clickhouse/ClickHouseTestSettings.scala
  gluten-ut/spark34/src/test/scala/org/apache/gluten/utils/clickhouse/ClickHouseTestSettings.scala
  gluten-ut/spark35/src/test/scala/org/apache/gluten/utils/clickhouse/ClickHouseTestSettings.scala
Labels: CORE, CLICKHOUSE

#8121 Revert "[GLUTEN-8080][CH]Support function transform_keys/transform_values"
  backends-clickhouse/src/main/scala/org/apache/gluten/utils/CHExpressionUtil.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenFunctionValidateSuite.scala
  cpp-ch/local-engine/Parser/FunctionParser.cpp
  cpp-ch/local-engine/Parser/scalar_function_parser/mapHighOrderFunctions.cpp
  gluten-ut/spark32/src/test/scala/org/apache/gluten/utils/clickhouse/ClickHouseTestSettings.scala
  gluten-ut/spark33/src/test/scala/org/apache/gluten/utils/clickhouse/ClickHouseTestSettings.scala
  gluten-ut/spark34/src/test/scala/org/apache/gluten/utils/clickhouse/ClickHouseTestSettings.scala
  gluten-ut/spark35/src/test/scala/org/apache/gluten/utils/clickhouse/ClickHouseTestSettings.scala
Labels: CORE, CLICKHOUSE

#8084 [GLUTEN-8060][CORE] GlutenShuffleManager as a registry of shuffle managers
  gluten-core/src/main/scala/org/apache/spark/shuffle/GlutenShuffleManager.scala
  gluten-core/src/main/scala/org/apache/spark/shuffle/LookupKey.scala
  gluten-core/src/main/scala/org/apache/spark/shuffle/ShuffleManagerLookup.scala
  gluten-core/src/main/scala/org/apache/spark/shuffle/ShuffleManagerRegistry.scala
  gluten-core/src/main/scala/org/apache/spark/shuffle/ShuffleManagerRouter.scala
  gluten-core/src/test/scala/org/apache/spark/shuffle/GlutenShuffleManagerSuite.scala
Labels: CORE

#7842 [GLUTEN-7745][VL] Incorporate SQL Union operator into Velox execution pipeline
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHMetricsApi.scala
  backends-velox/src/main/java/org/apache/gluten/utils/GlutenURLDecoder.java
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxListenerApi.scala
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxMetricsApi.scala
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxRuleApi.scala
  backends-velox/src/main/scala/org/apache/gluten/metrics/MetricsUtil.scala
  backends-velox/src/main/scala/org/apache/gluten/metrics/UnionMetricsUpdater.scala
  backends-velox/src/test/scala/org/apache/gluten/execution/MiscOperatorSuite.scala
  backends-velox/src/test/scala/org/apache/gluten/execution/VeloxOrcDataTypeValidationSuite.scala
  backends-velox/src/test/scala/org/apache/gluten/execution/VeloxParquetDataTypeValidationSuite.scala
  cpp/velox/compute/WholeStageResultIterator.cc
  cpp/velox/substrait/SubstraitToVeloxPlan.cc
  cpp/velox/substrait/SubstraitToVeloxPlan.h
  cpp/velox/substrait/SubstraitToVeloxPlanValidator.cc
  cpp/velox/substrait/SubstraitToVeloxPlanValidator.h
  gluten-substrait/src/main/java/org/apache/gluten/substrait/rel/RelBuilder.java
  gluten-substrait/src/main/java/org/apache/gluten/substrait/rel/SetRelNode.java
  gluten-substrait/src/main/scala/org/apache/gluten/backendsapi/MetricsApi.scala
  gluten-substrait/src/main/scala/org/apache/gluten/execution/BasicPhysicalOperatorTransformer.scala
  gluten-substrait/src/main/scala/org/apache/gluten/execution/UnionExecTransformer.scala
  gluten-substrait/src/main/scala/org/apache/gluten/extension/columnar/UnionTransformerRule.scala
  gluten-substrait/src/test/scala/org/apache/gluten/execution/WholeStageTransformerSuite.scala
  shims/common/src/main/scala/org/apache/gluten/GlutenConfig.scala
Labels: CORE, VELOX, CLICKHOUSE

#8091 [GLUTEN-8090][CH]Remove sparkLeast and sparkGreatest functions
  cpp-ch/local-engine/Functions/FunctionGreatestLeast.h
  cpp-ch/local-engine/Functions/SparkFunctionGreatest.cpp
  cpp-ch/local-engine/Functions/SparkFunctionLeast.cpp
  cpp-ch/local-engine/Parser/scalar_function_parser/CommonScalarFunctionParser.cpp
  gluten-ut/spark32/src/test/scala/org/apache/gluten/utils/clickhouse/ClickHouseTestSettings.scala
  gluten-ut/spark33/src/test/scala/org/apache/gluten/utils/clickhouse/ClickHouseTestSettings.scala
  gluten-ut/spark34/src/test/scala/org/apache/gluten/utils/clickhouse/ClickHouseTestSettings.scala
  gluten-ut/spark35/src/test/scala/org/apache/gluten/utils/clickhouse/ClickHouseTestSettings.scala
Labels: CORE, CLICKHOUSE

#8099 [VL] Enable GlutenJsonExpressionsSuite
  gluten-ut/spark32/src/test/scala/org/apache/gluten/utils/velox/VeloxTestSettings.scala
  gluten-ut/spark33/src/test/scala/org/apache/gluten/utils/velox/VeloxTestSettings.scala
  gluten-ut/spark34/src/test/scala/org/apache/gluten/utils/velox/VeloxTestSettings.scala
  gluten-ut/spark35/src/test/scala/org/apache/gluten/utils/velox/VeloxTestSettings.scala
Labels: CORE

#8052 [GLUTEN-7028][CH][Part-11] Support write parquet files with bucket
  backends-clickhouse/src/main/delta-32/org/apache/spark/sql/execution/FileDeltaColumnarWrite.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHBackend.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHIteratorApi.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHRuleApi.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/RuntimeSettings.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/extension/WriteFilesWithBucketValue.scala
  backends-clickhouse/src/main/scala/org/apache/spark/sql/execution/CHColumnarWrite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/hive/GlutenClickHouseNativeWriteTableSuite.scala
  cpp-ch/local-engine/Parser/RelParsers/WriteRelParser.cpp
  cpp-ch/local-engine/Parser/RelParsers/WriteRelParser.h
  cpp-ch/local-engine/Storages/MergeTree/SparkMergeTreeSink.h
  cpp-ch/local-engine/Storages/Output/NormalFileWriter.cpp
  cpp-ch/local-engine/Storages/Output/NormalFileWriter.h
  cpp-ch/local-engine/Storages/Output/OutputFormatFile.cpp
  cpp-ch/local-engine/tests/gtest_write_pipeline.cpp
Labels: CLICKHOUSE

#8125 [GLUTEN-1632][CH]Daily Update Clickhouse Version (20241203)
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenClickHouseWholeStageTransformerSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/mergetree/GlutenClickHouseMergeTreeCacheDataSuite.scala
  cpp-ch/clickhouse.version
  cpp-ch/local-engine/Functions/SparkFunctionDecimalBinaryArithmetic.cpp
  cpp-ch/local-engine/Storages/MergeTree/SparkStorageMergeTree.cpp
  cpp-ch/local-engine/Storages/MergeTree/StorageMergeTreeFactory.h
Labels: CLICKHOUSE

#8129 [GLUTEN-8046][VL] Fix GHA checkout issue on centos-7 for weekly build job
  .github/workflows/velox_weekly.yml
Labels: INFRA

#8131 [GLUTEN-8130][CH] Use the actual user instead of yarn user to read hdfs file
  cpp-ch/local-engine/Storages/SubstraitSource/ReadBufferBuilder.cpp
Labels: CLICKHOUSE

#8089 [VL] Enhance VeloxHashShuffleWriter partition buffer size estimation by incorporating complex type columns
  cpp/velox/shuffle/VeloxHashShuffleWriter.cc
  cpp/velox/shuffle/VeloxHashShuffleWriter.h
Labels: VELOX

#8140 [GLUTEN-7518][FOLLOWUP] Remove build_protobuf parameter from build-guide
  docs/get-started/build-guide.md
Labels: DOCS

#8135 [GLUTEN-1632][CH]Daily Update Clickhouse Version (20241204)
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/tpch/GlutenClickHouseHDFSSuite.scala
  cpp-ch/clickhouse.version
  cpp-ch/local-engine/AggregateFunctions/GroupLimitFunctions.cpp
  cpp-ch/local-engine/Functions/SparkFunctionFloor.h
  cpp-ch/local-engine/Shuffle/PartitionWriter.cpp
  cpp-ch/local-engine/Shuffle/ShuffleReader.h
  cpp-ch/local-engine/Storages/MergeTree/SparkStorageMergeTree.cpp
  cpp-ch/local-engine/Storages/SubstraitSource/ReadBufferBuilder.cpp
  cpp-ch/local-engine/Storages/SubstraitSource/ReadBufferBuilder.h
  cpp-ch/local-engine/tests/benchmark_local_engine.cpp
  cpp-ch/local-engine/tests/gtest_write_pipeline.cpp
Labels: CLICKHOUSE

#8133 [CORE] Add Gluten Project Improvement Proposals (GPIP) doc
  docs/developers/improvement-proposals.md
Labels: DOCS

#8149 [VL] Add back RAII style Velox driver suspension into RowVectorStream
  cpp/velox/operators/plannodes/RowVectorStream.h
Labels: VELOX

#8153 [VL] Change C style casts to C++ style
  cpp/core/jni/JniWrapper.cc
  cpp/core/utils/Metrics.h
  cpp/velox/compute/WholeStageResultIterator.cc
  cpp/velox/substrait/SubstraitToVeloxPlan.cc
  cpp/velox/tests/VeloxSubstraitRoundTripTest.cc
Labels: VELOX

#8155 [DOC] Fix typos in documentation
  docs/developers/CppCodingStyle.md
  docs/developers/MicroBenchmarks.md
  docs/developers/NewToGluten.md
  docs/developers/VeloxUDF.md
  docs/get-started/ClickHouse.md
  docs/get-started/Velox.md
  docs/get-started/VeloxGCS.md
  docs/velox-backend-limitations.md
Labels: DOCS

#8154 [GLUTEN-7143][VL] RAS: Remove experimental flags for RAS
  docs/Configuration.md
  gluten-core/src/main/scala/org/apache/gluten/extension/columnar/enumerated/EnumeratedApplier.scala
  shims/common/src/main/scala/org/apache/gluten/GlutenConfig.scala
Labels: CORE, DOCS

#8150 [GLUTEN-8148][CH] Fix corr with NaN
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/compatibility/GlutenClickhouseFunctionSuite.scala
  cpp-ch/local-engine/Parser/AggregateFunctionParser.cpp
  cpp-ch/local-engine/Parser/AggregateFunctionParser.h
Labels: CLICKHOUSE

#8152 [GLUTEN-1632][CH]Daily Update Clickhouse Version (20241205)
  cpp-ch/clickhouse.version
  cpp-ch/local-engine/Common/AggregateUtil.cpp
  cpp-ch/local-engine/Parser/AggregateFunctionParser.cpp
  cpp-ch/local-engine/Parser/ExpressionParser.cpp
  cpp-ch/local-engine/Parser/ExpressionParser.h
  cpp-ch/local-engine/Parser/FunctionParser.cpp
  cpp-ch/local-engine/Parser/scalar_function_parser/arrayExcept.cpp
  cpp-ch/local-engine/Parser/scalar_function_parser/arrayHighOrderFunctions.cpp
  cpp-ch/local-engine/Parser/scalar_function_parser/arrayRemove.cpp
  cpp-ch/local-engine/Parser/scalar_function_parser/arrayRepeat.cpp
  cpp-ch/local-engine/Parser/scalar_function_parser/lambdaFunction.cpp
  cpp-ch/local-engine/tests/gtest_ch_functions.cpp
Labels: CLICKHOUSE

#8157 [VL] Minor fix for cpp code style (part 1)
  cpp/CMakeLists.txt
  cpp/velox/CMakeLists.txt
  cpp/velox/compute/WholeStageResultIterator.h
  cpp/velox/jni/JniFileSystem.h
  cpp/velox/memory/VeloxMemoryManager.cc
  cpp/velox/operators/functions/RegistrationAllFunctions.cc
  cpp/velox/operators/functions/RowConstructorWithNull.cc
  cpp/velox/operators/functions/RowConstructorWithNull.h
  cpp/velox/operators/functions/RowFunctionWithNull.h
  cpp/velox/operators/functions/SparkExprToSubfieldFilterParser.cc
  cpp/velox/operators/functions/SparkExprToSubfieldFilterParser.h
  cpp/velox/operators/plannodes/RowVectorStream.h
  cpp/velox/operators/reader/FileReaderIterator.cc
  cpp/velox/operators/reader/FileReaderIterator.h
  cpp/velox/operators/reader/ParquetReaderIterator.cc
  cpp/velox/operators/serializer/VeloxColumnarBatchSerializer.cc
  cpp/velox/operators/serializer/VeloxRowToColumnarConverter.cc
  cpp/velox/operators/writer/VeloxArrowWriter.cc
  cpp/velox/operators/writer/VeloxArrowWriter.h
  cpp/velox/operators/writer/VeloxParquetDataSource.cc
  cpp/velox/operators/writer/VeloxParquetDataSourceABFS.h
  cpp/velox/operators/writer/VeloxParquetDataSourceGCS.h
  cpp/velox/operators/writer/VeloxParquetDataSourceHDFS.h
  cpp/velox/operators/writer/VeloxParquetDataSourceS3.h
  cpp/velox/shuffle/GlutenByteStream.h
  cpp/velox/shuffle/RadixSort.h
  cpp/velox/shuffle/VeloxShuffleWriter.cc
  cpp/velox/shuffle/VeloxSortShuffleWriter.cc
  cpp/velox/shuffle/VeloxSortShuffleWriter.h
  cpp/velox/substrait/SubstraitToVeloxPlanValidator.cc
  cpp/velox/substrait/TypeUtils.h
  cpp/velox/substrait/VariantToVectorConverter.cc
  cpp/velox/substrait/VeloxToSubstraitPlan.cc
  cpp/velox/tests/BufferOutputStreamTest.cc
  cpp/velox/tests/FunctionTest.cc
  cpp/velox/tests/MemoryManagerTest.cc
  cpp/velox/tests/SparkFunctionTest.cc
  cpp/velox/tests/Substrait2VeloxPlanConversionTest.cc
  cpp/velox/tests/Substrait2VeloxPlanValidatorTest.cc
  cpp/velox/tests/Substrait2VeloxValuesNodeConversionTest.cc
  cpp/velox/tests/VeloxBatchResizerTest.cc
  cpp/velox/tests/VeloxColumnarBatchSerializerTest.cc
  cpp/velox/tests/VeloxColumnarBatchTest.cc
  cpp/velox/tests/VeloxColumnarToRowTest.cc
  cpp/velox/tests/VeloxRowToColumnarTest.cc
  cpp/velox/tests/VeloxShuffleWriterTest.cc
  cpp/velox/tests/VeloxSubstraitRoundTripTest.cc
  cpp/velox/tests/VeloxToSubstraitTypeTest.cc
  cpp/velox/udf/Udaf.h
  cpp/velox/udf/UdfLoader.h
  cpp/velox/udf/examples/MyUDAF.cc
  cpp/velox/udf/examples/MyUDF.cc
  cpp/velox/utils/HdfsUtils.cc
  cpp/velox/utils/VeloxBatchResizer.cc
  cpp/velox/utils/VeloxBatchResizer.h
  cpp/velox/utils/tests/MemoryPoolUtils.cc
  cpp/velox/utils/tests/MemoryPoolUtils.h
Labels: VELOX

#8144 [CORE] Simplify code of offload scan
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHBackend.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHSparkPlanExecApi.scala
  gluten-substrait/src/main/scala/org/apache/gluten/backendsapi/BackendSettingsApi.scala
  gluten-substrait/src/main/scala/org/apache/gluten/backendsapi/SparkPlanExecApi.scala
  gluten-substrait/src/main/scala/org/apache/gluten/execution/BatchScanExecTransformer.scala
  gluten-substrait/src/main/scala/org/apache/gluten/execution/CartesianProductExecTransformer.scala
  gluten-substrait/src/main/scala/org/apache/gluten/execution/ScanTransformerFactory.scala
  gluten-substrait/src/main/scala/org/apache/gluten/extension/columnar/offload/OffloadSingleNodeRules.scala
  gluten-substrait/src/main/scala/org/apache/gluten/extension/columnar/validator/Validators.scala
  gluten-substrait/src/main/scala/org/apache/spark/sql/hive/HiveTableScanExecTransformer.scala
Labels: CORE, CLICKHOUSE

#8160 [GLUTEN-8159][CH]Remove `SparkFunctionDecimalDivide`
  cpp-ch/local-engine/Functions/SparkFunctionDecimalDivide.cpp
  cpp-ch/local-engine/Functions/SparkFunctionDecimalDivide.h
Labels: CLICKHOUSE

#7904 [GLUTEN-7900][VL] Enable prefix sort config in spill
  cpp/velox/compute/WholeStageResultIterator.cc
  cpp/velox/config/VeloxConfig.h
Labels: VELOX

#8054 [CORE] Bump celeborn to 0.5.2
  .github/workflows/velox_backend.yml
  pom.xml
  tools/gluten-it/pom.xml
Labels: CORE, INFRA, TOOLS

#8164 [GLUTEN-8142][CH] Duplicated columns in group by
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHRuleApi.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHSparkPlanExecApi.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/extension/RemoveDuplicatedColumns.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenClickHouseTPCHSuite.scala
Labels: CLICKHOUSE

#8169 [CORE] Add nativeFilters info for simpleString of scan
  gluten-substrait/src/main/scala/org/apache/gluten/execution/BatchScanExecTransformer.scala
  gluten-substrait/src/main/scala/org/apache/gluten/execution/FileSourceScanExecTransformer.scala
  shims/spark34/src/main/scala/org/apache/spark/sql/execution/datasources/v2/AbstractBatchScanExec.scala
Labels: CORE

#8166 [CORE][UNIFFLE] Bump uniffle 0.9.1
  .github/workflows/velox_backend.yml
  docs/get-started/Velox.md
  pom.xml
  tools/gluten-it/pom.xml
Labels: CORE, INFRA, TOOLS, DOCS

#8116 [GLUTEN-8115][CORE] Refine the BuildSideRelation transform to support all scenarios
  backends-clickhouse/src/main/scala/org/apache/gluten/utils/PlanNodesUtil.scala
  backends-clickhouse/src/main/scala/org/apache/spark/sql/execution/joins/ClickHouseBuildSideRelation.scala
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxSparkPlanExecApi.scala
  backends-velox/src/main/scala/org/apache/spark/sql/execution/BroadcastUtils.scala
  backends-velox/src/main/scala/org/apache/spark/sql/execution/ColumnarBuildSideRelation.scala
  gluten-substrait/src/main/scala/org/apache/spark/sql/execution/ColumnarSubqueryBroadcastExec.scala
  gluten-substrait/src/main/scala/org/apache/spark/sql/execution/joins/BuildSideRelation.scala
Labels: CORE, VELOX, CLICKHOUSE

#8126 [CORE][MIRROR] Fix performance issue when allScanPartitions are very large
  gluten-substrait/src/main/scala/org/apache/gluten/execution/WholeStageTransformer.scala
Labels: CORE

#8177 [CORE] Query planner: Simplify validator `FallbackByNativeValidation`
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHBackend.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHRuleApi.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHSparkPlanExecApi.scala
  backends-clickhouse/src/main/scala/org/apache/spark/sql/execution/CHColumnarWriteFilesExec.scala
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxBackend.scala
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxRuleApi.scala
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxSparkPlanExecApi.scala
  backends-velox/src/main/scala/org/apache/spark/sql/execution/VeloxColumnarWriteFilesExec.scala
  gluten-core/src/main/scala/org/apache/gluten/GlutenPlugin.scala
  gluten-core/src/main/scala/org/apache/gluten/backend/Backend.scala
  gluten-core/src/main/scala/org/apache/gluten/component/Component.scala
  gluten-core/src/main/scala/org/apache/gluten/component/package.scala
  gluten-core/src/main/scala/org/apache/gluten/extension/GlutenSessionExtensions.scala
  gluten-core/src/main/scala/org/apache/gluten/extension/columnar/enumerated/EnumeratedTransform.scala
  gluten-core/src/main/scala/org/apache/gluten/extension/columnar/enumerated/planner/plan/GlutenPlanModel.scala
  gluten-core/src/main/scala/org/apache/gluten/extension/columnar/heuristic/HeuristicTransform.scala
  gluten-core/src/main/scala/org/apache/gluten/extension/columnar/heuristic/LegacyOffload.scala
  gluten-core/src/main/scala/org/apache/gluten/extension/columnar/transition/ConventionFunc.scala
  gluten-core/src/main/scala/org/apache/gluten/extension/columnar/validator/Validator.scala
  gluten-core/src/test/scala/org/apache/gluten/component/ComponentSuite.scala
  gluten-substrait/src/main/scala/org/apache/gluten/backendsapi/BackendsApiManager.scala
  gluten-substrait/src/main/scala/org/apache/gluten/backendsapi/SparkPlanExecApi.scala
  gluten-substrait/src/main/scala/org/apache/gluten/execution/WholeStageTransformer.scala
  gluten-substrait/src/main/scala/org/apache/gluten/execution/WriteFilesExecTransformer.scala
  gluten-substrait/src/main/scala/org/apache/gluten/extension/columnar/EnsureLocalSortRequirements.scala
  gluten-substrait/src/main/scala/org/apache/gluten/extension/columnar/offload/OffloadSingleNodeRules.scala
  gluten-substrait/src/main/scala/org/apache/gluten/extension/columnar/validator/Validators.scala
  gluten-substrait/src/main/scala/org/apache/spark/sql/execution/ColumnarWriteFilesExec.scala
Labels: CORE, VELOX, CLICKHOUSE

#8193 [VL] Fix upload arrow path of build bundle package gha
  .github/workflows/build_bundle_package.yml
Labels: INFRA

#8192 [CORE][VL][CH] Make Iceberg code implement component API
  backends-clickhouse/pom.xml
  backends-clickhouse/src/main-iceberg/resource/META-INF/services/org.apache.gluten.component.Component
  backends-clickhouse/src/main-iceberg/scala/org/apache/gluten/component/CHIcebergComponent.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHRuleApi.scala
  backends-velox/pom.xml
  backends-velox/src/main-iceberg/resource/META-INF/services/org.apache.gluten.component.Component
  backends-velox/src/main-iceberg/scala/org/apache/gluten/component/VeloxIcebergComponent.scala
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxRuleApi.scala
  gluten-core/src/main/scala/org/apache/gluten/component/Component.scala
  gluten-core/src/main/scala/org/apache/gluten/extension/columnar/heuristic/HeuristicTransform.scala
  gluten-core/src/main/scala/org/apache/gluten/extension/columnar/validator/Validator.scala
  gluten-iceberg/src/main/resources/META-INF/services/org.apache.gluten.execution.DataSourceScanTransformerRegister
  gluten-iceberg/src/main/scala/org/apache/gluten/execution/IcebergScanTransformer.scala
  gluten-iceberg/src/main/scala/org/apache/gluten/execution/OffloadIcebergScan.scala
  gluten-substrait/src/main/scala/org/apache/gluten/execution/BatchScanExecTransformer.scala
  gluten-substrait/src/main/scala/org/apache/gluten/execution/ScanTransformerFactory.scala
  gluten-substrait/src/main/scala/org/apache/gluten/extension/columnar/validator/Validators.scala
Labels: CORE, VELOX, CLICKHOUSE, DATA_LAKE

#8189 Disable scheduled GHA jobs for forked repos
  .github/workflows/docker_image.yml
  .github/workflows/stale.yml
  .github/workflows/velox_weekly.yml
Labels: INFRA

#8199 [GLUTEN-8202][ICEBERG] Fix get iceberg index error
  gluten-iceberg/src/main/scala/org/apache/iceberg/spark/source/GlutenIcebergSourceUtil.scala
Labels: DATA_LAKE

#8205 [CORE] Following #8192, amend a quick fix for build info message
  gluten-core/src/main/scala/org/apache/gluten/GlutenPlugin.scala
Labels: CORE

#8082 [GLUTEN-7261][CORE] Support offloading partial filters to native scan
  backends-velox/src/test/scala/org/apache/gluten/execution/VeloxScanSuite.scala
  gluten-iceberg/src/main/scala/org/apache/gluten/execution/IcebergScanTransformer.scala
  gluten-substrait/src/main/scala/org/apache/gluten/execution/BasicScanExecTransformer.scala
  gluten-substrait/src/main/scala/org/apache/gluten/execution/BatchScanExecTransformer.scala
  gluten-substrait/src/main/scala/org/apache/gluten/execution/FileSourceScanExecTransformer.scala
  gluten-substrait/src/main/scala/org/apache/gluten/expression/ExpressionConverter.scala
  gluten-substrait/src/main/scala/org/apache/gluten/extension/columnar/PushDownFilterToScan.scala
Labels: CORE, VELOX, DATA_LAKE

#8203 [GLUTEN-8043] Use spark.shuffle.spill.diskWriteBufferSize in sort-based shuffle
  backends-velox/src/main/scala/org/apache/spark/shuffle/ColumnarShuffleWriter.scala
  cpp/core/jni/JniWrapper.cc
  cpp/core/shuffle/Options.h
  cpp/velox/shuffle/VeloxSortShuffleWriter.cc
  cpp/velox/utils/tests/VeloxShuffleWriterTestBase.h
  gluten-celeborn/common/src/main/scala/org/apache/spark/shuffle/CelebornColumnarShuffleWriter.scala
  gluten-substrait/src/main/scala/org/apache/spark/shuffle/GlutenShuffleUtils.scala
  gluten-uniffle/velox/src/main/java/org/apache/spark/shuffle/writer/VeloxUniffleColumnarShuffleWriter.java
  shims/common/src/main/scala/org/apache/gluten/GlutenConfig.scala
Labels: CORE, VELOX, RSS

#8185 [GLUTEN-8168] Add pre-projections for join condition
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHBackend.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHRuleApi.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/extension/AddPreProjectionForHashJoin.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenClickHouseJoinSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenClickHouseTPCHBucketSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/metrics/GlutenClickHouseTPCHMetricsSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/tpch/GlutenClickHouseTPCHParquetBucketSuite.scala
  cpp-ch/local-engine/Parser/RelParsers/JoinRelParser.cpp
Labels: CLICKHOUSE

#8210 [VL] Minor fix for cpp code style (part 2)
  cpp/core/compute/Runtime.cc
  cpp/core/utils/ObjectStore.cc
  cpp/core/utils/ObjectStore.h
  cpp/velox/jni/JniFileSystem.cc
  cpp/velox/memory/VeloxMemoryManager.cc
  cpp/velox/shuffle/VeloxSortShuffleWriter.cc
  cpp/velox/shuffle/VeloxSortShuffleWriter.h
  cpp/velox/substrait/SubstraitToVeloxPlan.cc
  cpp/velox/substrait/SubstraitToVeloxPlanValidator.cc
  cpp/velox/substrait/SubstraitToVeloxPlanValidator.h
  cpp/velox/udf/UdfLoader.cc
  cpp/velox/udf/UdfLoader.h
Labels: VELOX

#8197 [VL] Change the loadQuantum config if velox cache is enabled.
  backends-velox/src/test/scala/org/apache/spark/sql/execution/VeloxParquetReadSuite.scala
  cpp/velox/compute/VeloxBackend.cc
  gluten-core/src/main/scala/org/apache/gluten/GlutenPlugin.scala
  shims/common/src/main/scala/org/apache/gluten/GlutenConfig.scala
Labels: CORE, VELOX

#8218 [GLUTEN-7912][VL] Flip dependency direction for gluten-delta
  backends-velox/pom.xml
  backends-velox/src/test-delta/scala/org/apache/gluten/execution/VeloxDeltaSuite.scala
  backends-velox/src/test-delta/scala/org/apache/gluten/execution/VeloxTPCHDeltaSuite.scala
  gluten-delta/pom.xml
  gluten-delta/src/test/scala/org/apache/gluten/execution/DeltaSuite.scala
  gluten-iceberg/src/test/scala/org/apache/gluten/execution/IcebergSuite.scala
Labels: VELOX, DATA_LAKE

#8213 [GLUTEN-1632][CH]Daily Update Clickhouse Version (20241212)
  cpp-ch/clickhouse.version
Labels: CLICKHOUSE

#8188 [GLUTEN-8187][VL] Support velox cache metrics
  backends-velox/src/main/java/org/apache/gluten/metrics/Metrics.java
  backends-velox/src/main/java/org/apache/gluten/metrics/OperatorMetrics.java
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxMetricsApi.scala
  backends-velox/src/main/scala/org/apache/gluten/metrics/BatchScanMetricsUpdater.scala
  backends-velox/src/main/scala/org/apache/gluten/metrics/FileSourceScanMetricsUpdater.scala
  backends-velox/src/main/scala/org/apache/gluten/metrics/HiveTableScanMetricsUpdater.scala
  backends-velox/src/main/scala/org/apache/gluten/metrics/MetricsUtil.scala
  backends-velox/src/test/scala/org/apache/gluten/execution/VeloxMetricsSuite.scala
  cpp/core/jni/JniWrapper.cc
  cpp/core/utils/Metrics.h
  cpp/velox/compute/WholeStageResultIterator.cc
Labels: VELOX

#8220 [GLUTEN-8206][VL] Support collect_set in window
  backends-velox/src/test/scala/org/apache/gluten/execution/VeloxWindowExpressionSuite.scala
  cpp/velox/substrait/SubstraitToVeloxPlanValidator.cc
Labels: VELOX

#7553 [VL] Fix sort based shuffle oom in spill when compress was disabled
  cpp/core/shuffle/rss/RssPartitionWriter.cc
Labels: stale, VELOX

#8230 [GLUTEN-8229][VL] Don't rewrite collect_list/collect_set in window
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxSparkPlanExecApi.scala
  backends-velox/src/main/scala/org/apache/gluten/extension/CollectRewriteRule.scala
Labels: VELOX

#8045 [GLUTEN-8025][VL] Respect config kSpillReadBufferSize and add spill compression codec
  cpp/core/config/GlutenConfig.h
  cpp/velox/compute/WholeStageResultIterator.cc
  cpp/velox/config/VeloxConfig.h
  shims/common/src/main/scala/org/apache/gluten/GlutenConfig.scala
Labels: CORE, VELOX

#8219 [GLUTEN-8216][CH] Fix OOM when cartesian product with empty data
  backends-clickhouse/src/main/scala/org/apache/spark/shuffle/utils/RangePartitionerBoundsGenerator.scala
  backends-clickhouse/src/main/scala/org/apache/spark/sql/execution/utils/CHExecUtil.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenClickHouseColumnarShuffleAQESuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenClickHouseJoinSuite.scala
  gluten-celeborn/clickhouse/src/test/scala/org/apache/gluten/execution/GlutenClickHouseRSSColumnarShuffleAQESuite.scala
Labels: RSS, CLICKHOUSE

#8243 [VL] Fix crash when there are unreleased memory pools during termintating a Velox task
  cpp/velox/memory/VeloxMemoryManager.cc
Labels: VELOX

#8231 [MINOR] [VL] Enhance the gluten timer to support seconds, milliseconds, and microseconds
  cpp/core/utils/Timer.h
Labels: VELOX

#8240 [GLUTEN-7911][CORE] Flip dependency direction for gluten-hudi
  backends-velox/pom.xml
  backends-velox/src-hudi/test/scala/org/apache/execution/VeloxHudiSuite.scala
  backends-velox/src-hudi/test/scala/org/apache/execution/VeloxTPCHHudiSuite.scala
  gluten-core/src/main/java/org/apache/gluten/memory/memtarget/spark/TreeMemoryConsumer.java
  gluten-core/src/main/scala/org/apache/spark/task/TaskResources.scala
  gluten-hudi/pom.xml
  gluten-hudi/src-hudi/test/scala/org/apache/gluten/execution/HudiSuite.scala
  gluten-ut/common/src/test/scala/org/apache/gluten/utils/BackendTestSettings.scala
  shims/spark32/src/main/scala/org/apache/spark/sql/execution/AbstractFileSourceScanExec.scala
  shims/spark33/src/main/scala/org/apache/spark/sql/execution/AbstractFileSourceScanExec.scala
  shims/spark34/src/main/scala/org/apache/spark/sql/execution/AbstractFileSourceScanExec.scala
  shims/spark35/src/main/scala/org/apache/spark/sql/execution/AbstractFileSourceScanExec.scala
Labels: CORE, VELOX, DATA_LAKE

#8247 [CORE] Minor: OverTarget is required only with sufficient memory and doesn't spill due to zero used bytes post-borrow
  gluten-arrow/src/main/java/org/apache/gluten/memory/listener/ReservationListeners.java
  gluten-core/src/main/java/org/apache/gluten/memory/memtarget/OverAcquire.java
Labels: CORE, VELOX

#8101 [VL] Support concat_ws function
  backends-velox/src/test/scala/org/apache/gluten/execution/ScalarFunctionsValidateSuite.scala
  cpp/velox/substrait/SubstraitToVeloxPlanValidator.cc
Labels: VELOX

#8237 [GLUTEN-7028][CH][Part-12] Add Local SortExec for Partition Write in one pipeline mode
  backends-clickhouse/src-delta-32/main/scala/org/apache/spark/sql/delta/ClickhouseOptimisticTransaction.scala
  backends-clickhouse/src-delta-32/main/scala/org/apache/spark/sql/execution/FileDeltaColumnarWrite.scala
  backends-clickhouse/src-delta-32/main/scala/org/apache/spark/sql/execution/datasources/DeltaV1Writes.scala
  backends-clickhouse/src-delta-32/test/scala/org/apache/spark/sql/execution/datasources/DeltaV1WritesSuite.scala
  backends-clickhouse/src/main/resources/org/apache/spark/sql/execution/datasources/v1/write_optimization.proto
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHRuleApi.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHTransformerApi.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/RuntimeConfig.scala
  backends-clickhouse/src/main/scala/org/apache/spark/sql/execution/CHColumnarWrite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenClickHouseDeltaParquetWriteSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/mergetree/GlutenClickHouseMergeTreeWriteSuite.scala
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxTransformerApi.scala
  cpp-ch/local-engine/Parser/RelParsers/WriteRelParser.cpp
  cpp-ch/local-engine/Parser/RelParsers/WriteRelParser.h
  cpp-ch/local-engine/Storages/MergeTree/SparkMergeTreeSink.cpp
  cpp-ch/local-engine/Storages/MergeTree/SparkMergeTreeSink.h
  cpp-ch/local-engine/Storages/MergeTree/SparkMergeTreeWriter.cpp
  cpp-ch/local-engine/tests/gtest_write_pipeline.cpp
  cpp-ch/local-engine/tests/gtest_write_pipeline_mergetree.cpp
  cpp-ch/local-engine/tests/json/mergetree/4_one_pipeline.json
  gluten-substrait/src/main/scala/org/apache/gluten/backendsapi/TransformerApi.scala
  gluten-substrait/src/main/scala/org/apache/gluten/execution/WriteFilesExecTransformer.scala
Labels: CORE, VELOX, CLICKHOUSE

#8242 [GLUTEN-7913][CORE] Flip dependency direction for gluten-uniffle
  backends-velox/pom.xml
  backends-velox/src-uniffle/main/java/org/apache/spark/shuffle/gluten/uniffle/UniffleShuffleManager.java
  backends-velox/src-uniffle/main/java/org/apache/spark/shuffle/writer/VeloxUniffleColumnarShuffleWriter.java
  backends-velox/src-uniffle/main/scala/org/apache/spark/shuffle/writer/PartitionPusher.scala
  gluten-uniffle/.gitkeep
  gluten-uniffle/package/pom.xml
  gluten-uniffle/pom.xml
  gluten-uniffle/velox/pom.xml
  package/pom.xml
  pom.xml
Labels: CORE, VELOX, RSS

#8132 [GLUTEN-8128][VL] Retry borrowing when granted size is less than requested in multi-slot and shared mode
  gluten-core/src/main/java/org/apache/gluten/memory/memtarget/MemoryTargetVisitor.java
  gluten-core/src/main/java/org/apache/gluten/memory/memtarget/MemoryTargets.java
  gluten-core/src/main/java/org/apache/gluten/memory/memtarget/RetryOnOomMemoryTarget.java
  gluten-core/src/main/scala/org/apache/spark/memory/SparkMemoryUtil.scala
Labels: CORE

#8212 [GLUTEN-8215][VL] Support cast timestamp to date
  backends-velox/src/test/scala/org/apache/gluten/execution/MiscOperatorSuite.scala
  cpp/velox/substrait/SubstraitToVeloxPlanValidator.cc
  gluten-ut/spark32/src/test/scala/org/apache/gluten/utils/velox/VeloxTestSettings.scala
  gluten-ut/spark32/src/test/scala/org/apache/spark/sql/GlutenDateFunctionsSuite.scala
  gluten-ut/spark33/src/test/scala/org/apache/gluten/utils/velox/VeloxTestSettings.scala
  gluten-ut/spark33/src/test/scala/org/apache/spark/sql/GlutenDateFunctionsSuite.scala
  gluten-ut/spark34/src/test/scala/org/apache/gluten/utils/velox/VeloxTestSettings.scala
  gluten-ut/spark34/src/test/scala/org/apache/spark/sql/GlutenDateFunctionsSuite.scala
  gluten-ut/spark34/src/test/scala/org/apache/spark/sql/catalyst/expressions/GlutenCastSuite.scala
  gluten-ut/spark35/src/test/scala/org/apache/gluten/utils/velox/VeloxTestSettings.scala
  gluten-ut/spark35/src/test/scala/org/apache/spark/sql/GlutenDateFunctionsSuite.scala
Labels: CORE, VELOX

#8195 [GLUTEN-8018][CORE] Introduce ApplyResourceProfileExec to apply resource profile for query stage
  gluten-substrait/src/main/scala/org/apache/spark/sql/execution/ApplyResourceProfileExec.scala
Labels: CORE

#8259 [CH] Hotfix to #8212
  gluten-ut/spark32/src/test/scala/org/apache/gluten/utils/clickhouse/ClickHouseTestSettings.scala
Labels: CORE

#8255 [DOC] Update HowTo.md to fix outdated link and test script location
  docs/developers/HowTo.md
Labels: DOCS

#8251 [VL] Allow shared dependencies for lib GCS
  cpp/velox/CMakeLists.txt
Labels: VELOX

#8254 [CORE] Minor code cleanups for TreeMemoryConsumer
  gluten-core/src/main/java/org/apache/gluten/memory/memtarget/MemoryTargets.java
  gluten-core/src/main/java/org/apache/gluten/memory/memtarget/RetryOnOomMemoryTarget.java
  gluten-core/src/main/java/org/apache/gluten/memory/memtarget/TreeMemoryTargets.java
  gluten-core/src/main/java/org/apache/gluten/memory/memtarget/spark/TreeMemoryConsumers.java
  gluten-core/src/main/scala/org/apache/spark/task/TaskResources.scala
  gluten-core/src/test/java/org/apache/gluten/memory/memtarget/spark/TreeMemoryConsumerTest.java
Labels: CORE

#8263 minor, remove deprecated gluten-clickhouse-celeborn jar
  ep/build-clickhouse/src/package.sh
Labels: CLICKHOUSE

#8262 [VL] Fix `RetryOnOomMemoryTarget` only spills one single consumer on retrying
  gluten-core/src/main/java/org/apache/gluten/memory/memtarget/MemoryTargetVisitor.java
  gluten-core/src/main/java/org/apache/gluten/memory/memtarget/MemoryTargets.java
  gluten-core/src/main/java/org/apache/gluten/memory/memtarget/TreeMemoryTargets.java
  gluten-core/src/main/java/org/apache/gluten/memory/memtarget/spark/TreeMemoryConsumer.java
  gluten-core/src/main/java/org/apache/gluten/memory/memtarget/spark/TreeMemoryConsumers.java
  gluten-core/src/main/scala/org/apache/spark/memory/SparkMemoryUtil.scala
  gluten-core/src/test/java/org/apache/gluten/memory/memtarget/spark/TreeMemoryConsumerTest.java
Labels: CORE

#8264 [CORE][VL][CH] GHA: Update pull request paths triggering CI
  .github/workflows/clickhouse_be_trigger.yml
  .github/workflows/velox_backend.yml
Labels: INFRA

#8261 [GLUTEN-1632][CH]Daily Update Clickhouse Version (20241218)
  cpp-ch/clickhouse.version
  cpp-ch/local-engine/Storages/SubstraitSource/ReadBufferBuilder.cpp
Labels: CLICKHOUSE

#8265 [GLUTEN-7903][VL] move local velox patch to oap/velox
  ep/build-velox/src/get_velox.sh
  ep/build-velox/src/modify_velox.patch
Labels: BUILD, VELOX

#8269 [GLUTEN-8268][CORE] Remove preconditions in OverAcquire.repay
  gluten-core/src/main/java/org/apache/gluten/memory/memtarget/OverAcquire.java
Labels: CORE

#8271 [CORE] Use component file to discover components
  backends-clickhouse/src-iceberg/main/resources/META-INF/gluten-components/org.apache.gluten.component.CHIcebergComponent
  backends-clickhouse/src-iceberg/main/resources/META-INF/services/org.apache.gluten.component.Component
  backends-clickhouse/src/main/resources/META-INF/gluten-components/org.apache.gluten.backendsapi.clickhouse.CHBackend
  backends-clickhouse/src/main/resources/META-INF/services/org.apache.gluten.backend.Backend
  backends-velox/src-iceberg/main/resources/META-INF/gluten-components/org.apache.gluten.component.VeloxIcebergComponent
  backends-velox/src-iceberg/main/resources/META-INF/services/org.apache.gluten.component.Component
  backends-velox/src/main/resources/META-INF/gluten-components/org.apache.gluten.backendsapi.velox.VeloxBackend
  backends-velox/src/main/resources/META-INF/services/org.apache.gluten.backend.Backend
  gluten-core/src/main/java/org/apache/gluten/utils/ResourceUtil.java
  gluten-core/src/main/scala/org/apache/gluten/component/Discovery.scala
  gluten-core/src/main/scala/org/apache/gluten/component/package.scala
  gluten-substrait/src/main/scala/org/apache/gluten/backendsapi/BackendsApiManager.scala
  tools/gluten-it/common/src/main/java/org/apache/gluten/integration/BaseMixin.java
Labels: CORE, VELOX, TOOLS, CLICKHOUSE

#8107 [GLUTEN-8108][VL] Correct the logic of null on failure behavior for try cast
  backends-velox/src/test/scala/org/apache/gluten/execution/ScalarFunctionsValidateSuite.scala
  gluten-substrait/src/main/java/org/apache/gluten/substrait/expression/CastNode.java
  gluten-substrait/src/main/java/org/apache/gluten/substrait/expression/ExpressionBuilder.java
  gluten-substrait/src/main/scala/org/apache/gluten/expression/UnaryExpressionTransformer.scala
  gluten-ut/spark34/src/test/scala/org/apache/gluten/utils/velox/VeloxTestSettings.scala
  gluten-ut/spark34/src/test/scala/org/apache/spark/sql/catalyst/expressions/GlutenTryCastSuite.scala
  gluten-ut/spark35/src/test/scala/org/apache/gluten/utils/velox/VeloxTestSettings.scala
  gluten-ut/spark35/src/test/scala/org/apache/spark/sql/catalyst/expressions/GlutenTryCastSuite.scala
Labels: CORE, VELOX

#8274 [GLUTEN-1632][CH]Daily Update Clickhouse Version (20241219)
  cpp-ch/clickhouse.version
Labels: CLICKHOUSE

#8277 Revert Revert "[GLUTEN-8080][CH]Support function transform_keys/transform_values"
  backends-clickhouse/src/main/scala/org/apache/gluten/utils/CHExpressionUtil.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenFunctionValidateSuite.scala
  cpp-ch/local-engine/Disks/ObjectStorages/MetadataStorageFromRocksDB.h
  cpp-ch/local-engine/Disks/registerGlutenDisks.cpp
  cpp-ch/local-engine/Parser/FunctionParser.cpp
  cpp-ch/local-engine/Parser/scalar_function_parser/mapHighOrderFunctions.cpp
  cpp-ch/local-engine/Storages/SubstraitSource/ReadBufferBuilder.cpp
  cpp-ch/local-engine/Storages/SubstraitSource/TextFormatFile.cpp
  cpp-ch/local-engine/Storages/SubstraitSource/TextFormatFile.h
  gluten-ut/spark32/src/test/scala/org/apache/gluten/utils/clickhouse/ClickHouseTestSettings.scala
  gluten-ut/spark33/src/test/scala/org/apache/gluten/utils/clickhouse/ClickHouseTestSettings.scala
  gluten-ut/spark34/src/test/scala/org/apache/gluten/utils/clickhouse/ClickHouseTestSettings.scala
  gluten-ut/spark35/src/test/scala/org/apache/gluten/utils/clickhouse/ClickHouseTestSettings.scala
Labels: CORE, CLICKHOUSE

#8029 [GLUTEN-7028][CH][Part-10] Collecting Delta stats for MergeTree
  backends-clickhouse/src-delta-32/main/scala/org/apache/spark/sql/delta/ClickhouseOptimisticTransaction.scala
  backends-clickhouse/src-delta-32/main/scala/org/apache/spark/sql/delta/commands/OptimizeTableCommand.scala
  backends-clickhouse/src-delta-32/main/scala/org/apache/spark/sql/execution/FileDeltaColumnarWrite.scala
  backends-clickhouse/src-delta-32/main/scala/org/apache/spark/sql/execution/MergeTreeDeltaColumnarWrite.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/RuntimeConfig.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/RuntimeSettings.scala
  backends-clickhouse/src/main/scala/org/apache/spark/sql/delta/MergeTreeConf.scala
  backends-clickhouse/src/main/scala/org/apache/spark/sql/execution/CHColumnarWrite.scala
  backends-clickhouse/src/main/scala/org/apache/spark/sql/execution/utils/CHExecUtil.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/RunTPCHTest.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenClickHouseDeltaParquetWriteSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/hive/GlutenClickHouseNativeWriteTableSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/hive/GlutenClickHouseTableAfterRestart.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/mergetree/GlutenClickHouseMergeTreeCacheDataSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/mergetree/GlutenClickHouseMergeTreeOptimizeSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/mergetree/GlutenClickHouseMergeTreePathBasedWriteSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/mergetree/GlutenClickHouseMergeTreeWriteOnHDFSSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/mergetree/GlutenClickHouseMergeTreeWriteOnHDFSWithRocksDBMetaSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/mergetree/GlutenClickHouseMergeTreeWriteOnS3Suite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/mergetree/GlutenClickHouseMergeTreeWriteSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/mergetree/GlutenClickHouseMergeTreeWriteTaskNotSerializableSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/metrics/GlutenClickHouseTPCHMetricsSuite.scala
  cpp-ch/local-engine/Common/DebugUtils.cpp
  cpp-ch/local-engine/Common/DebugUtils.h
  cpp-ch/local-engine/Common/QueryContext.cpp
  cpp-ch/local-engine/Parser/CHColumnToSparkRow.cpp
  cpp-ch/local-engine/Parser/CHColumnToSparkRow.h
  cpp-ch/local-engine/Parser/RelParsers/WriteRelParser.cpp
  cpp-ch/local-engine/Storages/MergeTree/MergeSparkMergeTreeTask.h
  cpp-ch/local-engine/Storages/MergeTree/MetaDataHelper.cpp
  cpp-ch/local-engine/Storages/MergeTree/MetaDataHelper.h
  cpp-ch/local-engine/Storages/MergeTree/SparkMergeTreeMeta.cpp
  cpp-ch/local-engine/Storages/MergeTree/SparkMergeTreeMeta.h
  cpp-ch/local-engine/Storages/MergeTree/SparkMergeTreeSink.cpp
  cpp-ch/local-engine/Storages/MergeTree/SparkMergeTreeSink.h
  cpp-ch/local-engine/Storages/MergeTree/SparkMergeTreeWriteSettings.cpp
  cpp-ch/local-engine/Storages/MergeTree/SparkMergeTreeWriteSettings.h
  cpp-ch/local-engine/Storages/MergeTree/SparkMergeTreeWriter.cpp
  cpp-ch/local-engine/Storages/MergeTree/SparkStorageMergeTree.cpp
  cpp-ch/local-engine/Storages/MergeTree/SparkStorageMergeTree.h
  cpp-ch/local-engine/Storages/Output/NormalFileWriter.cpp
  cpp-ch/local-engine/Storages/Output/NormalFileWriter.h
  cpp-ch/local-engine/local_engine_jni.cpp
  cpp-ch/local-engine/tests/gluten_test_util.h
  cpp-ch/local-engine/tests/gtest_write_pipeline.cpp
  cpp-ch/local-engine/tests/gtest_write_pipeline_mergetree.cpp
  cpp-ch/local-engine/tests/json/mergetree/case_sensitive.json
  cpp-ch/local-engine/tests/json/mergetree/lowcard.json
Labels: CLICKHOUSE

#8282 [VL] Delta support / Hudi support as Gluten components
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHBackend.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHRuleApi.scala
  backends-velox/src-delta/main/resources/META-INF/gluten-components/org.apache.gluten.component.VeloxDeltaComponent
  backends-velox/src-delta/main/scala/org/apache/gluten/component/VeloxDeltaComponent.scala
  backends-velox/src-hudi/main/resources/META-INF/gluten-components/org.apache.gluten.component.VeloxHudiComponent
  backends-velox/src-hudi/main/scala/org/apache/gluten/component/VeloxHudiComponent.scala
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxBackend.scala
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxRuleApi.scala
  gluten-core/src/main/java/org/apache/gluten/memory/memtarget/spark/RegularMemoryConsumer.java
  gluten-delta/src-delta/main/resources/META-INF/services/org.apache.gluten.execution.DataSourceScanTransformerRegister
  gluten-delta/src-delta/main/resources/META-INF/services/org.apache.gluten.extension.columnar.RewriteTransformerRules
  gluten-delta/src-delta/main/scala/org/apache/gluten/execution/OffloadDeltaScan.scala
  gluten-delta/src-delta/main/scala/org/apache/gluten/extension/DeltaPostTransformRules.scala
  gluten-hudi/src-hudi/main/resources/META-INF/services/org.apache.gluten.execution.DataSourceScanTransformerRegister
  gluten-hudi/src-hudi/main/scala/org/apache/gluten/execution/OffloadHudiScan.scala
  gluten-substrait/src/main/scala/org/apache/gluten/backendsapi/BackendSettingsApi.scala
  gluten-substrait/src/main/scala/org/apache/gluten/execution/BatchScanExecTransformer.scala
  gluten-substrait/src/main/scala/org/apache/gluten/execution/DataSourceScanTransformerRegister.scala
  gluten-substrait/src/main/scala/org/apache/gluten/execution/FileSourceScanExecTransformer.scala
  gluten-substrait/src/main/scala/org/apache/gluten/execution/ScanTransformerFactory.scala
  gluten-substrait/src/main/scala/org/apache/gluten/extension/columnar/RewriteTransformer.scala
  gluten-ut/common/pom.xml
  gluten-ut/spark32/pom.xml
  pom.xml
Labels: CORE, VELOX, CLICKHOUSE, DATA_LAKE

#8290 [GLUTEN-8266][VL][CI] Pre-install spark sources in docker image
  .github/workflows/util/install_spark_resources.sh
  .github/workflows/velox_backend.yml
  dev/docker/Dockerfile.centos8-dynamic-build
Labels: BUILD, INFRA

#8065 [GLUTEN-7641][VL] Add perf analysis scripts for TPCH workload
  .gitignore
  tools/workload/benchmark_velox/README.md
  tools/workload/benchmark_velox/analysis/perf_analysis_template.ipynb
  tools/workload/benchmark_velox/analysis/requirements.txt
  tools/workload/benchmark_velox/analysis/run_perf_analysis.sh
  tools/workload/benchmark_velox/analysis/sparklog.ipynb
  tools/workload/benchmark_velox/build_gluten.sh
  tools/workload/benchmark_velox/emon.list
  tools/workload/benchmark_velox/initialize.ipynb
  tools/workload/benchmark_velox/native_sql_initialize.ipynb
  tools/workload/benchmark_velox/params.yaml.template
  tools/workload/benchmark_velox/sample/Trace-viewer.png
  tools/workload/benchmark_velox/sample/tpch_q1.html
  tools/workload/benchmark_velox/sample/tpch_q1.ipynb
  tools/workload/benchmark_velox/sample/trace_result_tpch_q1.json
  tools/workload/benchmark_velox/tpc_workload.ipynb
Labels: TOOLS, DOCS

#8294 [GLUTEN-8266][VL] Use pre-installed resources for Spark/Celeborn
  .github/workflows/velox_backend.yml
Labels: INFRA

#8280 [GLUTE-8279][CH] Fix concat diff while single argument with array type is input
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/tpch/GlutenClickHouseTPCHSaltNullParquetSuite.scala
  cpp-ch/local-engine/Parser/scalar_function_parser/CommonScalarFunctionParser.cpp
  cpp-ch/local-engine/Parser/scalar_function_parser/concat.cpp
Labels: CLICKHOUSE

#8292 [VL] RAS: A couple of minor fixes for RAS
  gluten-core/src/main/scala/org/apache/gluten/extension/columnar/enumerated/planner/metadata/LogicalLink.scala
  gluten-core/src/main/scala/org/apache/gluten/extension/columnar/enumerated/planner/plan/GlutenPlanModel.scala
  gluten-core/src/main/scala/org/apache/gluten/extension/columnar/enumerated/planner/property/Conv.scala
  gluten-core/src/main/scala/org/apache/gluten/extension/columnar/transition/Transition.scala
  gluten-ras/common/src/main/scala/org/apache/gluten/ras/RasCluster.scala
  gluten-ras/common/src/main/scala/org/apache/gluten/ras/dp/DpGroupAlgo.scala
  gluten-ras/common/src/main/scala/org/apache/gluten/ras/dp/DpPlanner.scala
  gluten-ras/common/src/main/scala/org/apache/gluten/ras/dp/DpZipperAlgo.scala
  gluten-ras/common/src/main/scala/org/apache/gluten/ras/memo/ForwardMemoTable.scala
  gluten-ras/common/src/main/scala/org/apache/gluten/ras/path/Pattern.scala
  gluten-ras/common/src/main/scala/org/apache/gluten/ras/util/IndexDisjointSet.scala
Labels: CORE

#8309 [GLUTEN-7641][VL] Fix security issue for perf analysis scripts
  tools/workload/benchmark_velox/analysis/requirements.txt
  tools/workload/benchmark_velox/analysis/sparklog.ipynb
  tools/workload/benchmark_velox/initialize.ipynb
Labels: TOOLS

#8273 [VL] Simplify code for PartialProjectRule
  backends-velox/src/main/scala/org/apache/gluten/extension/PartialProjectRule.scala
Labels: VELOX

#8256 [GLUTEN-8253][CH] Fix cast failed when in-filter with tuple values
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/tpch/GlutenClickHouseTPCHSaltNullParquetSuite.scala
  cpp-ch/local-engine/Parser/ExpressionParser.cpp
Labels: CLICKHOUSE

#8049 [GLUTEN-8050][VL] Add viewfs support in scan validation
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHBackend.scala
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxBackend.scala
  gluten-substrait/src/main/scala/org/apache/gluten/backendsapi/BackendSettingsApi.scala
  gluten-substrait/src/main/scala/org/apache/gluten/execution/BasicScanExecTransformer.scala
  gluten-substrait/src/main/scala/org/apache/gluten/execution/WholeStageTransformer.scala
Labels: CORE, VELOX, CLICKHOUSE

#8312 [GLUTEN-1632][CH]Daily Update Clickhouse Version (20241224)
  cpp-ch/clickhouse.version
  cpp-ch/local-engine/Common/GlutenSignalHandler.cpp
  cpp-ch/local-engine/Storages/Cache/JobScheduler.cpp
  cpp-ch/local-engine/Storages/Cache/JobScheduler.h
Labels: CLICKHOUSE

#8337 [CH] Disable gluten arm ci
  .github/workflows/clickhouse_be_trigger.yml
Labels: INFRA

#8339 [VL] RAS: A benchmark suite for performance of query optimization
  backends-velox/src/test/scala/org/apache/gluten/extension/columnar/enumerated/planner/VeloxRasSuite.scala
  backends-velox/src/test/scala/org/apache/spark/sql/execution/benchmark/VeloxRasBenchmark.scala
  gluten-ras/common/src/main/scala/org/apache/gluten/ras/rule/RuleApplier.scala
Labels: CORE, VELOX

#8316 [Shims] Fix the code style issue of prepareWrite
  shims/spark32/src/main/scala/org/apache/spark/sql/execution/datasources/orc/OrcFileFormat.scala
  shims/spark32/src/main/scala/org/apache/spark/sql/execution/datasources/parquet/ParquetFileFormat.scala
  shims/spark33/src/main/scala/org/apache/spark/sql/execution/datasources/orc/OrcFileFormat.scala
  shims/spark33/src/main/scala/org/apache/spark/sql/execution/datasources/parquet/ParquetFileFormat.scala
Labels: CORE

#8342 [Gluten-8341][CH] Fix code style and respect max_read_buffer_size for bzip2 read buffer
  cpp-ch/local-engine/IO/SplittableBzip2ReadBuffer.cpp
  cpp-ch/local-engine/Storages/SubstraitSource/ParquetFormatFile.cpp
  cpp-ch/local-engine/Storages/SubstraitSource/ParquetFormatFile.h
  cpp-ch/local-engine/Storages/SubstraitSource/ReadBufferBuilder.cpp
  cpp-ch/local-engine/tests/gtest_parquet_read.cpp
Labels: CLICKHOUSE

#8331 [GLUTEN-8330][VL] Improve convert the viewfs path to hdfs path
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxBackend.scala
  gluten-substrait/src/main/scala/org/apache/gluten/execution/WholeStageTransformer.scala
  gluten-substrait/src/main/scala/org/apache/hadoop/fs/viewfs/ViewFileSystemUtils.scala
Labels: CORE, VELOX

#8345 [GLUTEN-8325][CH] Fix miss matched result for `$` and `.` in reg expression
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/compatibility/GlutenClickhouseStringFunctionsSuite.scala
  cpp-ch/local-engine/Parser/scalar_function_parser/regexp_extract.cpp
Labels: CLICKHOUSE

#8350 [VL] Remove compile option `--enable_ep_cache`
  dev/builddeps-veloxbe.sh
  dev/ci-velox-buildshared-centos-8.sh
  docs/get-started/Velox.md
  docs/get-started/build-guide.md
  ep/build-velox/src/build_velox.sh
  tools/gluten-te/centos/dockerfile-build
  tools/gluten-te/ubuntu/dockerfile-build
  tools/gluten-te/ubuntu/examples/buildhere-veloxbe-dev/scripts/all.sh
Labels: BUILD, VELOX, TOOLS, DOCS

#8353 [GLUTEN-8352][ICEBERG] Fix read error when partition column was drop
  gluten-iceberg/src-iceberg/main/scala/org/apache/iceberg/spark/source/GlutenIcebergSourceUtil.scala
  gluten-iceberg/src-iceberg/test/scala/org/apache/gluten/execution/IcebergSuite.scala
Labels: DATA_LAKE

#8361 [CH] [MINOR] Configure Log4j2 to print logs of `org.apache.iceberg` for tracing `ClickHouseIcebergSuite` aborted issues
  backends-clickhouse/src/main/scala/org/apache/gluten/execution/CHBroadcastBuildSideCache.scala
  backends-clickhouse/src/test/resources/log4j2.properties
Labels: CLICKHOUSE

#8346 [GLUTEN-7028][CH][Part-14] Refactor Case Sensitive Support for MergeTree
  backends-clickhouse/src-delta-20/main/scala/org/apache/spark/sql/delta/catalog/ClickHouseTableV2.scala
  backends-clickhouse/src-delta-20/main/scala/org/apache/spark/sql/delta/commands/OptimizeTableCommandOverwrites.scala
  backends-clickhouse/src-delta-23/main/scala/org/apache/spark/sql/delta/catalog/ClickHouseTableV2.scala
  backends-clickhouse/src-delta-23/main/scala/org/apache/spark/sql/delta/commands/OptimizeTableCommandOverwrites.scala
  backends-clickhouse/src-delta-32/main/scala/org/apache/spark/sql/delta/catalog/ClickHouseTableV2.scala
  backends-clickhouse/src-delta-32/main/scala/org/apache/spark/sql/delta/commands/OptimizeTableCommandOverwrites.scala
  backends-clickhouse/src/main/java/org/apache/spark/sql/execution/datasources/clickhouse/ExtensionTableBuilder.java
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHIteratorApi.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/execution/GlutenMergeTreePartition.scala
  backends-clickhouse/src/main/scala/org/apache/spark/sql/delta/catalog/ClickHouseTableV2Base.scala
  backends-clickhouse/src/main/scala/org/apache/spark/sql/execution/commands/GlutenCHCacheDataCommand.scala
  backends-clickhouse/src/main/scala/org/apache/spark/sql/execution/datasources/clickhouse/utils/MergeTreePartsPartitionsUtil.scala
  backends-clickhouse/src/main/scala/org/apache/spark/sql/execution/datasources/mergetree/DeltaMetaReader.scala
  backends-clickhouse/src/main/scala/org/apache/spark/sql/execution/datasources/mergetree/MetaSerializer.scala
  backends-clickhouse/src/main/scala/org/apache/spark/sql/execution/datasources/mergetree/StorageMeta.scala
  backends-clickhouse/src/main/scala/org/apache/spark/sql/execution/datasources/v1/CHFormatWriterInjects.scala
  backends-clickhouse/src/main/scala/org/apache/spark/sql/execution/datasources/v1/CHMergeTreeWriterInjects.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/hive/GlutenClickHouseTableAfterRestart.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/mergetree/GlutenClickHouseMergeTreeCacheDataSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/mergetree/GlutenClickHouseMergeTreePathBasedWriteSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/mergetree/GlutenClickHouseMergeTreeWriteOnHDFSSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/mergetree/GlutenClickHouseMergeTreeWriteOnHDFSWithRocksDBMetaSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/mergetree/GlutenClickHouseMergeTreeWriteOnS3Suite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/mergetree/GlutenClickHouseMergeTreeWriteSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/mergetree/GlutenClickhouseMergetreeSoftAffinitySuite.scala
  backends-clickhouse/src/test/scala/org/apache/spark/affinity/MixedAffinitySuite.scala
  cpp-ch/local-engine/Common/BlockTypeUtils.h
  cpp-ch/local-engine/Common/CHUtil.cpp
  cpp-ch/local-engine/Common/CHUtil.h
  cpp-ch/local-engine/Common/DebugUtils.cpp
  cpp-ch/local-engine/Common/GlutenConfig.cpp
  cpp-ch/local-engine/Common/GlutenConfig.h
  cpp-ch/local-engine/Common/PlanUtil.cpp
  cpp-ch/local-engine/Common/PlanUtil.h
  cpp-ch/local-engine/Parser/RelParsers/FilterRelParser.cpp
  cpp-ch/local-engine/Parser/RelParsers/GroupLimitRelParser.cpp
  cpp-ch/local-engine/Parser/RelParsers/MergeTreeRelParser.cpp
  cpp-ch/local-engine/Parser/RelParsers/MergeTreeRelParser.h
  cpp-ch/local-engine/Parser/RelParsers/ProjectRelParser.cpp
  cpp-ch/local-engine/Parser/RelParsers/ProjectRelParser.h
  cpp-ch/local-engine/Parser/RelParsers/WriteRelParser.cpp
  cpp-ch/local-engine/Parser/SerializedPlanParser.cpp
  cpp-ch/local-engine/Storages/MergeTree/StorageMergeTreeFactory.cpp
  cpp-ch/local-engine/Storages/MergeTree/StorageMergeTreeFactory.h
  cpp-ch/local-engine/tests/data/upper_case_col.parquet
  cpp-ch/local-engine/tests/gtest_parquet_read.cpp
  cpp-ch/local-engine/tests/json/upper_col_parquet.json
  gluten-substrait/src/main/scala/org/apache/gluten/expression/ConverterUtils.scala
Labels: CORE, CLICKHOUSE

#8355 [GLUTEN-8060][CORE][VL] Various of fixes for the experimental `GlutenShuffleManager`
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxBackend.scala
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxListenerApi.scala
  backends-velox/src/test/scala/org/apache/gluten/execution/VeloxTPCHSuite.scala
  gluten-core/src/main/scala/org/apache/spark/shuffle/ShuffleManagerLookup.scala
  gluten-core/src/main/scala/org/apache/spark/shuffle/ShuffleManagerRegistry.scala
  gluten-core/src/main/scala/org/apache/spark/shuffle/ShuffleManagerRouter.scala
  gluten-core/src/test/scala/org/apache/spark/shuffle/GlutenShuffleManagerSuite.scala
  shims/common/src/main/scala/org/apache/gluten/GlutenConfig.scala
Labels: CORE, VELOX

#8360 [MINOR] Avoid duplicate comment symbol in setup scripts
  ep/build-velox/src/get_velox.sh
Labels: BUILD, VELOX

#8105 [GLUTEN-7534][CH] Refactor and optimize sparkDecimalXXX functions
  cpp-ch/local-engine/Functions/FunctionGetDateData.h
  cpp-ch/local-engine/Functions/SparkFunctionBinaryArithmetic.cpp
  cpp-ch/local-engine/Functions/SparkFunctionCastFloatToInt.h
  cpp-ch/local-engine/Functions/SparkFunctionConv.h
  cpp-ch/local-engine/Functions/SparkFunctionDateToUnixTimestamp.h
  cpp-ch/local-engine/Functions/SparkFunctionDecimalBinaryArithmetic.cpp
  cpp-ch/local-engine/Functions/SparkFunctionDecimalBinaryArithmetic.h
  cpp-ch/local-engine/Functions/SparkFunctionDivide.h
  cpp-ch/local-engine/Functions/SparkFunctionExtractYear.cpp
  cpp-ch/local-engine/IO/SplittableBzip2ReadBuffer.cpp
  cpp-ch/local-engine/Parser/AggregateFunctionParser.cpp
  cpp-ch/local-engine/Parser/scalar_function_parser/alias.cpp
  cpp-ch/local-engine/Parser/scalar_function_parser/arithmetic.cpp
  cpp-ch/local-engine/Parser/scalar_function_parser/mapHighOrderFunctions.cpp
  cpp-ch/local-engine/tests/CMakeLists.txt
  cpp-ch/local-engine/tests/benchmark_local_engine.cpp
  cpp-ch/local-engine/tests/benchmark_spark_floor_function.cpp
  cpp-ch/local-engine/tests/benchmark_sum.cpp
Labels: CLICKHOUSE

#8368 [GLUTEN-1632][CH]Daily Update Clickhouse Version (20241228)
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHListenerApi.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/RuntimeSettings.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/mergetree/GlutenClickHouseMergeTreeWriteTaskNotSerializableSuite.scala
  cpp-ch/clickhouse.version
  cpp-ch/local-engine/Common/CHUtil.cpp
Labels: CLICKHOUSE

#8364 [GLUTEN-7028][CH][Part-15] [MINOR] Fix UTs
  backends-clickhouse/src-delta-32/main/scala/org/apache/spark/sql/delta/ClickhouseOptimisticTransaction.scala
  backends-clickhouse/src-delta-32/main/scala/org/apache/spark/sql/execution/FileDeltaColumnarWrite.scala
  backends-clickhouse/src-delta-32/main/scala/org/apache/spark/sql/execution/MergeTreeDeltaColumnarWrite.scala
  backends-clickhouse/src/main/scala/org/apache/spark/sql/execution/CHColumnarWrite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/mergetree/GlutenClickHouseMergeTreeCacheDataSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/mergetree/GlutenClickHouseMergeTreePathBasedWriteSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/mergetree/GlutenClickHouseMergeTreeWriteOnHDFSSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/mergetree/GlutenClickHouseMergeTreeWriteOnHDFSWithRocksDBMetaSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/mergetree/GlutenClickHouseMergeTreeWriteOnS3Suite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/mergetree/GlutenClickHouseMergeTreeWriteSuite.scala
  cpp-ch/local-engine/Functions/SparkFunctionDecimalBinaryArithmetic.cpp
  cpp-ch/local-engine/Storages/MergeTree/SparkMergeTreeMeta.cpp
  cpp-ch/local-engine/Storages/MergeTree/StorageMergeTreeFactory.cpp
  cpp-ch/local-engine/Storages/MergeTree/StorageMergeTreeFactory.h
  cpp-ch/local-engine/Storages/SubstraitSource/ReadBufferBuilder.cpp
  cpp-ch/local-engine/Storages/SubstraitSource/ReadBufferBuilder.h
Labels: CLICKHOUSE

#8376 [GLUTEN-8354][CH] Fix cse issue in aggregate[Part2]
  backends-clickhouse/src/main/scala/org/apache/gluten/extension/CommonSubexpressionEliminateRule.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenFunctionValidateSuite.scala
Labels: CLICKHOUSE

#8373 [VL] Add some fixes following #8355
  backends-velox/src/test/scala/org/apache/gluten/execution/VeloxTPCHSuite.scala
  gluten-substrait/src/main/scala/org/apache/spark/sql/execution/ColumnarShuffleExchangeExec.scala
  shims/common/src/main/scala/org/apache/gluten/config/GlutenConfig.scala
Labels: CORE, VELOX

#8378 [GLUTEN-8375][CH] split decimal binary arithmetic functions into files
  cpp-ch/local-engine/Functions/SparkFunctionDecimalBinaryArithmetic.cpp
  cpp-ch/local-engine/Functions/SparkFunctionDecimalBinaryArithmetic.h
  cpp-ch/local-engine/Functions/SparkFunctionDecimalBinaryOperator.h
  cpp-ch/local-engine/Functions/SparkFunctionDecimalDivide.cpp
  cpp-ch/local-engine/Functions/SparkFunctionDecimalMinus.cpp
  cpp-ch/local-engine/Functions/SparkFunctionDecimalModulo.cpp
  cpp-ch/local-engine/Functions/SparkFunctionDecimalMultiply.cpp
  cpp-ch/local-engine/Functions/SparkFunctionDecimalPlus.cpp
Labels: CLICKHOUSE

#8284 [GLUTEN-8283][CH] Eliminate CSE via `ExpressionParser`
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenFunctionValidateSuite.scala
  cpp-ch/local-engine/Parser/ExpressionParser.cpp
  cpp-ch/local-engine/Parser/ExpressionParser.h
Labels: CLICKHOUSE
