Repository apache/incubator-gluten, pull requests merged in 2025-02, with the labels that each got.

#8654 [VL][MIRROR] Fix build faile don Macos with INSTALL_PREFIX not set
  dev/builddeps-veloxbe.sh
Labels: BUILD

#8658 [GLUTEN-1632][CH]Daily Update Clickhouse Version (20250204)
  cpp-ch/clickhouse.version
  cpp-ch/local-engine/Parser/RelParsers/AggregateRelParser.cpp
Labels: CLICKHOUSE

#8573 [1.3][VL] Rename docker image name for 1.3 branch
  .github/workflows/docker_image.yml
Labels: INFRA

#8632 [GLUTEN-8631][UNIFFLE] Bump Uniffle to 0.9.2
  .github/workflows/velox_backend.yml
  dev/docker/Dockerfile.centos8-dynamic-build
  docs/get-started/Velox.md
  pom.xml
  tools/gluten-it/pom.xml
Labels: CORE, BUILD, INFRA, TOOLS, DOCS

#8656 [GLUTEN-8655][CH] Refactor: remove clickhouse.lib.path
  backends-clickhouse/pom.xml
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenClickHouseJoinSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenClickHouseNativeExceptionSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenClickHouseNativeLibSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenClickHouseSyntheticDataSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenClickHouseTPCDSAbstractSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenClickHouseTPCHAbstractSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenClickHouseWholeStageTransformerSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenFunctionValidateSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/compatibility/GlutenClickhouseFunctionSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/hive/GlutenClickHouseHiveTableSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/hive/GlutenClickHouseNativeWriteTableSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/utils/UTSystemParameters.scala
  backends-clickhouse/src/test/scala/org/apache/spark/sql/execution/benchmarks/CHSqlBasedBenchmark.scala
  cpp-ch/local-engine/tests/data/all_meta/data/f0/._SUCCESS.crc
  cpp-ch/local-engine/tests/data/all_meta/data/f0/.part-00000-92bb25d0-7446-4f9b-8bdd-a6911d0d465a-c000.snappy.parquet.crc
  cpp-ch/local-engine/tests/data/all_meta/data/f0/_SUCCESS
  cpp-ch/local-engine/tests/data/all_meta/data/f0/part-00000-92bb25d0-7446-4f9b-8bdd-a6911d0d465a-c000.snappy.parquet
  cpp-ch/local-engine/tests/data/all_meta/data/f1/._SUCCESS.crc
  cpp-ch/local-engine/tests/data/all_meta/data/f1/.part-00000-963c0854-a1e2-495b-9cf1-aa914dc7cd57-c000.snappy.parquet.crc
  cpp-ch/local-engine/tests/data/all_meta/data/f1/_SUCCESS
  cpp-ch/local-engine/tests/data/all_meta/data/f1/part-00000-963c0854-a1e2-495b-9cf1-aa914dc7cd57-c000.snappy.parquet
  docs/developers/clickhouse-backend-debug.md
  gluten-ut/common/pom.xml
  gluten-ut/common/src/test/scala/org/apache/gluten/utils/SystemParameters.scala
  gluten-ut/common/src/test/scala/org/apache/spark/sql/DummyFilterColmnarHelper.scala
  gluten-ut/common/src/test/scala/org/apache/spark/sql/GlutenSQLTestsBaseTrait.scala
  gluten-ut/common/src/test/scala/org/apache/spark/sql/GlutenTestsTrait.scala
  gluten-ut/spark32/pom.xml
  gluten-ut/spark32/src/test/scala/org/apache/spark/sql/GlutenSQLQueryTestSuite.scala
  gluten-ut/spark32/src/test/scala/org/apache/spark/sql/execution/benchmarks/ParquetReadBenchmark.scala
  gluten-ut/spark32/src/test/scala/org/apache/spark/sql/execution/joins/GlutenBroadcastJoinSuite.scala
  gluten-ut/spark32/src/test/scala/org/apache/spark/sql/hive/execution/GlutenHiveSQLQueryCHSuite.scala
  gluten-ut/spark32/src/test/scala/org/apache/spark/sql/statistics/SparkFunctionStatistics.scala
  gluten-ut/spark33/pom.xml
  gluten-ut/spark33/src/test/scala/org/apache/spark/sql/GlutenSQLQueryTestSuite.scala
  gluten-ut/spark33/src/test/scala/org/apache/spark/sql/execution/benchmarks/ParquetReadBenchmark.scala
  gluten-ut/spark33/src/test/scala/org/apache/spark/sql/execution/joins/GlutenBroadcastJoinSuite.scala
  gluten-ut/spark33/src/test/scala/org/apache/spark/sql/hive/execution/GlutenHiveSQLQueryCHSuite.scala
  gluten-ut/spark33/src/test/scala/org/apache/spark/sql/statistics/SparkFunctionStatistics.scala
  gluten-ut/spark34/pom.xml
  gluten-ut/spark34/src/test/scala/org/apache/spark/sql/GlutenSQLQueryTestSuite.scala
  gluten-ut/spark34/src/test/scala/org/apache/spark/sql/execution/benchmarks/ParquetReadBenchmark.scala
  gluten-ut/spark34/src/test/scala/org/apache/spark/sql/execution/joins/GlutenBroadcastJoinSuite.scala
  gluten-ut/spark34/src/test/scala/org/apache/spark/sql/hive/execution/GlutenHiveSQLQueryCHSuite.scala
  gluten-ut/spark34/src/test/scala/org/apache/spark/sql/statistics/SparkFunctionStatistics.scala
  gluten-ut/spark35/pom.xml
  gluten-ut/spark35/src/test/scala/org/apache/spark/sql/GlutenSQLQueryTestSuite.scala
  gluten-ut/spark35/src/test/scala/org/apache/spark/sql/execution/benchmarks/ParquetReadBenchmark.scala
  gluten-ut/spark35/src/test/scala/org/apache/spark/sql/execution/joins/GlutenBroadcastJoinSuite.scala
  gluten-ut/spark35/src/test/scala/org/apache/spark/sql/hive/execution/GlutenHiveSQLQueryCHSuite.scala
  gluten-ut/spark35/src/test/scala/org/apache/spark/sql/statistics/SparkFunctionStatistics.scala
  gluten-ut/test/pom.xml
  gluten-ut/test/src/test/scala/org/apache/gluten/execution/MergeTwoPhasesHashBaseAggregateSuite.scala
  gluten-ut/test/src/test/scala/org/apache/gluten/expressions/GlutenExpressionMappingSuite.scala
  gluten-ut/test/src/test/scala/org/apache/gluten/extension/GlutenExtensionRewriteRuleSuite.scala
  gluten-ut/test/src/test/scala/org/apache/gluten/sql/SQLQuerySuite.scala
  gluten-ut/test/src/test/scala/org/apache/spark/sql/GlutenExpressionDataTypesValidation.scala
  gluten-ut/test/src/test/scala/org/apache/spark/sql/datasources/GlutenNoopWriterRuleSuite.scala
  pom.xml
Labels: CORE, CLICKHOUSE, DOCS

#8660 [GLUTEN-1632][CH]Daily Update Clickhouse Version (20250205)
  cpp-ch/clickhouse.version
  cpp-ch/local-engine/Disks/ObjectStorages/MetadataStorageFromRocksDB.h
Labels: CLICKHOUSE

#8591 [GLUTEN-8574][VL]CI: adding Spark-344 unit tests on JDK8 and adding Spark-352 unit tests on JDK17
  .github/workflows/velox_backend.yml
Labels: INFRA

#8672 [VL] Bump GHA upload/restore action
  .github/workflows/velox_backend.yml
Labels: INFRA

#8681 [GLUTEN-1632][CH]Daily Update Clickhouse Version (20250207)
  cpp-ch/clickhouse.version
  cpp-ch/local-engine/Common/ChunkBuffer.cpp
  cpp-ch/local-engine/Functions/FunctionsBloomFilter.h
  cpp-ch/local-engine/Functions/SparkArrayFlatten.cpp
  cpp-ch/local-engine/Functions/SparkFunctionArraySort.cpp
  cpp-ch/local-engine/Functions/SparkFunctionCheckDecimalOverflow.cpp
  cpp-ch/local-engine/Functions/SparkFunctionFloor.h
  cpp-ch/local-engine/Functions/SparkFunctionMakeDecimal.cpp
  cpp-ch/local-engine/Functions/SparkFunctionMapToString.h
  cpp-ch/local-engine/Functions/SparkFunctionToDateTime.h
  cpp-ch/local-engine/Functions/SparkFunctionTupleElement.cpp
  cpp-ch/local-engine/Functions/SparkFunctionUnscaleValue.cpp
  cpp-ch/local-engine/Operator/AdvancedExpandStep.cpp
  cpp-ch/local-engine/Operator/PartitionColumnFillingTransform.cpp
  cpp-ch/local-engine/Operator/ReplicateRowsStep.cpp
  cpp-ch/local-engine/Operator/WindowGroupLimitStep.cpp
  cpp-ch/local-engine/Parser/AggregateFunctionParser.cpp
  cpp-ch/local-engine/Parser/RelParsers/ExpandRelParser.cpp
  cpp-ch/local-engine/Parser/RelParsers/ReadRelParser.cpp
  cpp-ch/local-engine/Shuffle/PartitionWriter.cpp
  cpp-ch/local-engine/Shuffle/SelectorBuilder.h
  cpp-ch/local-engine/Storages/Output/NormalFileWriter.cpp
  cpp-ch/local-engine/Storages/Output/NormalFileWriter.h
  cpp-ch/local-engine/Storages/Serializations/ExcelDecimalSerialization.h
  cpp-ch/local-engine/Storages/Serializations/ExcelSerialization.h
  cpp-ch/local-engine/Storages/SubstraitSource/FormatFile.cpp
  cpp-ch/local-engine/tests/gtest_transformer.cpp
Labels: CLICKHOUSE

#8683 [VL] Enable make_date function
  backends-clickhouse/src/main/scala/org/apache/gluten/utils/CHExpressionUtil.scala
  backends-velox/src/test/scala/org/apache/gluten/execution/ScalarFunctionsValidateSuite.scala
  gluten-substrait/src/main/scala/org/apache/gluten/expression/ExpressionMappings.scala
  shims/common/src/main/scala/org/apache/gluten/expression/ExpressionNames.scala
Labels: CORE, VELOX, CLICKHOUSE

#8621 [GLUTEN-8616] [VL] Make filescan limit for encrypted fallback as configurable
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxBackend.scala
  backends-velox/src/main/scala/org/apache/gluten/utils/ParquetMetadataUtils.scala
  shims/common/src/main/scala/org/apache/gluten/config/GlutenConfig.scala
Labels: CORE, VELOX

#8679 [GLUTEN-8678] Fix jar name on macos
  package/pom.xml
  pom.xml
Labels: CORE

#8688 [GLUTEN-1632][CH]Daily Update Clickhouse Version (20250208)
  cpp-ch/clickhouse.version
  cpp-ch/local-engine/Operator/StreamingAggregatingStep.cpp
  cpp-ch/local-engine/Parser/LocalExecutor.cpp
  cpp-ch/local-engine/Storages/MergeTree/SparkMergeTreeWriter.cpp
Labels: CLICKHOUSE

#8690 [GLUTEN-8689][VL] Enable some test cases in GlutenSQLQueryTestSuite
  gluten-ut/spark32/src/test/scala/org/apache/gluten/utils/velox/VeloxSQLQueryTestSettings.scala
  gluten-ut/spark32/src/test/scala/org/apache/spark/sql/GlutenSQLQueryTestSuite.scala
  gluten-ut/spark33/src/test/scala/org/apache/gluten/utils/velox/VeloxSQLQueryTestSettings.scala
  gluten-ut/spark33/src/test/scala/org/apache/spark/sql/GlutenSQLQueryTestSuite.scala
  gluten-ut/spark34/src/test/scala/org/apache/gluten/utils/velox/VeloxSQLQueryTestSettings.scala
  gluten-ut/spark34/src/test/scala/org/apache/spark/sql/GlutenSQLQueryTestSuite.scala
  gluten-ut/spark35/src/test/scala/org/apache/gluten/utils/velox/VeloxSQLQueryTestSettings.scala
  gluten-ut/spark35/src/test/scala/org/apache/spark/sql/GlutenSQLQueryTestSuite.scala
Labels: CORE

#8701 [GLUTEN-8598][CH] Fix diff for cast string to long
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenFunctionValidateSuite.scala
  cpp-ch/local-engine/Parser/ExpressionParser.cpp
Labels: CLICKHOUSE

#8570 [CORE-8569][CH] Support DeltaOptimizedWriterTransformer
  backends-clickhouse/pom.xml
  backends-clickhouse/src-delta-20/main/resources/META-INF/services/org.apache.gluten.sql.shims.DeltaShimProvider
  backends-clickhouse/src-delta-20/main/scala/org/apache/gluten/sql/shims/delta20/Delta20ShimProvider.scala
  backends-clickhouse/src-delta-20/main/scala/org/apache/gluten/sql/shims/delta20/Delta20Shims.scala
  backends-clickhouse/src-delta-20/main/scala/org/apache/spark/sql/delta/catalog/ClickHouseTableV2.scala
  backends-clickhouse/src-delta-23/main/resources/META-INF/services/org.apache.gluten.sql.shims.DeltaShimProvider
  backends-clickhouse/src-delta-23/main/scala/org/apache/gluten/sql/shims/delta23/Delta23ShimProvider.scala
  backends-clickhouse/src-delta-23/main/scala/org/apache/gluten/sql/shims/delta23/Delta23Shims.scala
  backends-clickhouse/src-delta-23/main/scala/org/apache/spark/sql/delta/catalog/ClickHouseTableV2.scala
  backends-clickhouse/src-delta-32/main/resources/META-INF/services/org.apache.gluten.sql.shims.DeltaShimProvider
  backends-clickhouse/src-delta-32/main/scala/org/apache/gluten/sql/shims/delta32/Delta32ShimProvider.scala
  backends-clickhouse/src-delta-32/main/scala/org/apache/gluten/sql/shims/delta32/Delta32Shims.scala
  backends-clickhouse/src-delta-32/main/scala/org/apache/spark/sql/delta/ClickhouseOptimisticTransaction.scala
  backends-clickhouse/src-delta-32/main/scala/org/apache/spark/sql/delta/catalog/ClickHouseTableV2.scala
  backends-clickhouse/src-delta-32/main/scala/org/apache/spark/sql/execution/FileDeltaColumnarWrite.scala
  backends-clickhouse/src-delta-32/test/scala/org/apache/spark/sql/execution/datasources/DeltaV1WritesSuite.scala
  backends-clickhouse/src-delta/main/resources/META-INF/gluten-components/org.apache.gluten.component.CHDeltaComponent
  backends-clickhouse/src-delta/main/scala/org/apache/gluten/component/CHDeltaComponent.scala
  backends-clickhouse/src-delta/main/scala/org/apache/gluten/execution/OffloadDeltaNode.scala
  backends-clickhouse/src-delta/main/scala/org/apache/gluten/sql/shims/DeltaShimLoader.scala
  backends-clickhouse/src-delta/main/scala/org/apache/gluten/sql/shims/DeltaShimProvider.scala
  backends-clickhouse/src-delta/main/scala/org/apache/gluten/sql/shims/DeltaShims.scala
  backends-clickhouse/src-kafka/main/scala/org/apache/gluten/component/CHKafkaComponent.scala
  cpp-ch/local-engine/Storages/MergeTree/SparkMergeTreeSink.h
  gluten-delta/pom.xml
  gluten-delta/src-delta-32/main/scala/org/apache/spark/sql/perf/DeltaOptimizedWriterTransformer.scala
  gluten-substrait/src/main/scala/org/apache/spark/shuffle/sort/ColumnarShuffleManager.scala
Labels: CORE, CLICKHOUSE, DATA_LAKE

#8317 [VL] Fix timezone for Parquet timestamp write
  backends-velox/src/main/scala/org/apache/spark/sql/execution/datasources/velox/VeloxParquetWriterInjects.scala
  cpp/velox/operators/writer/VeloxParquetDataSource.cc
  ep/build-velox/src/get_velox.sh
Labels: BUILD, VELOX

#8676 [GLUTEN-8675][CH] Rewrite union of multiple aggregates into one
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHBackend.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHRuleApi.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/extension/CoalesceAggregationUnion.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenCoalesceAggregationUnionSuite.scala
Labels: performance, CLICKHOUSE

#8555 [GLUTEN-6067] Open spark 35 ut
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHBackend.scala
  gluten-ut/common/src/test/scala/org/apache/gluten/utils/BackendTestSettings.scala
  gluten-ut/common/src/test/scala/org/apache/gluten/utils/SQLQueryTestSettings.scala
  gluten-ut/spark35/src/test/backends-clickhouse/org/apache/gluten/execution/parquet/GlutenParquetV1FilterSuite2.scala
  gluten-ut/spark35/src/test/scala/org/apache/gluten/utils/clickhouse/ClickHouseSQLQueryTestSettings.scala
  gluten-ut/spark35/src/test/scala/org/apache/gluten/utils/clickhouse/ClickHouseTestSettings.scala
  gluten-ut/spark35/src/test/scala/org/apache/spark/sql/GlutenSQLInsertTestSuite.scala
  gluten-ut/spark35/src/test/scala/org/apache/spark/sql/GlutenSQLQuerySuite.scala
  gluten-ut/spark35/src/test/scala/org/apache/spark/sql/GlutenSQLQueryTestSuite.scala
  gluten-ut/spark35/src/test/scala/org/apache/spark/sql/extension/GlutenCustomerExtensionSuite.scala
  gluten-ut/spark35/src/test/scala/org/apache/spark/sql/hive/execution/GlutenHiveUDFSuite.scala
Labels: CORE, CLICKHOUSE

#8703 [GLUEN-8696][CH] Fix arm building of benchmark
  cpp-ch/local-engine/tests/benchmark_spark_floor_function.cpp
  cpp-ch/local-engine/tests/benchmark_sum.cpp
Labels: CLICKHOUSE

#8550 [GLUTEN-8528][CH]Support approx_count_distinct
  backends-clickhouse/src/main/scala/org/apache/gluten/execution/CHHashAggregateExecTransformer.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/expression/CHExpressionTransformer.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenFunctionValidateSuite.scala
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxBackend.scala
  cpp-ch/local-engine/AggregateFunctions/AggregateFunctionSparkAvg.cpp
  cpp-ch/local-engine/AggregateFunctions/AggregateFunctionUniqHyperLogLogPlusPlus.cpp
  cpp-ch/local-engine/AggregateFunctions/AggregateFunctionUniqHyperLogLogPlusPlus.h
  cpp-ch/local-engine/Common/CHUtil.cpp
  cpp-ch/local-engine/Parser/aggregate_function_parser/ApproxCountDistinctFunctionParser.cpp
  cpp-ch/local-engine/tests/gtest_hllpp.cpp
  gluten-substrait/src/main/scala/org/apache/gluten/expression/ExpressionMappings.scala
  gluten-ut/spark32/src/test/scala/org/apache/gluten/utils/clickhouse/ClickHouseTestSettings.scala
  gluten-ut/spark33/src/test/scala/org/apache/gluten/utils/clickhouse/ClickHouseTestSettings.scala
  gluten-ut/spark34/src/test/scala/org/apache/gluten/utils/clickhouse/ClickHouseTestSettings.scala
  shims/common/src/main/scala/org/apache/gluten/expression/ExpressionNames.scala
Labels: CORE, VELOX, CLICKHOUSE

#8717 [GLUTEN-1632][CH]Daily Update Clickhouse Version (20250213)
  cpp-ch/clickhouse.version
  cpp-ch/local-engine/Parser/RelParsers/JoinRelParser.cpp
  cpp-ch/local-engine/Storages/Kafka/GlutenKafkaSource.cpp
  cpp-ch/local-engine/Storages/MergeTree/SparkMergeTreeMeta.cpp
  cpp-ch/local-engine/Storages/MergeTree/SparkStorageMergeTree.h
Labels: CLICKHOUSE

#8735 [GLUTEN-1632][CH]Daily Update Clickhouse Version (20250215)
  cpp-ch/clickhouse.version
  cpp-ch/local-engine/Common/CHUtil.cpp
  cpp-ch/local-engine/Storages/MergeTree/SparkStorageMergeTree.cpp
Labels: CLICKHOUSE

#8706 [GLUTEN-8705][CH] Enable MemorySpillScheduler
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHListenerApi.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/RuntimeSettings.scala
  cpp-ch/local-engine/Operator/GraceAggregatingTransform.cpp
  cpp-ch/local-engine/Operator/GraceAggregatingTransform.h
Labels: CLICKHOUSE

#8518 [GLUTEN-8492][CH] Offload RangeExec
  backends-clickhouse/src/main/java/org/apache/spark/sql/execution/datasources/clickhouse/ExtensionTableBuilder.java
  backends-clickhouse/src/main/java/org/apache/spark/sql/execution/datasources/clickhouse/ExtensionTableNode.java
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHBackend.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHIteratorApi.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHSparkPlanExecApi.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/execution/CHRangeExecTransformer.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/execution/GlutenRangeExecPartition.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/metrics/CHRangeMetricsUpdater.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/mergetree/GlutenClickHouseMergeTreeWriteOnS3Suite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/mergetree/GlutenClickHouseMergeTreeWriteSuite.scala
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxIteratorApi.scala
  cpp-ch/local-engine/Parser/RelParsers/ReadRelParser.cpp
  cpp-ch/local-engine/Parser/RelParsers/ReadRelParser.h
  cpp-ch/local-engine/Parser/RelParsers/StreamKafkaRelParser.cpp
  cpp-ch/local-engine/Parser/SerializedPlanParser.cpp
  cpp-ch/local-engine/Storages/SourceFromRange.cpp
  cpp-ch/local-engine/Storages/SourceFromRange.h
  gluten-kafka/src-kafka/test/scala/org/apache/gluten/execution/kafka/GlutenKafkaScanSuite.scala
  gluten-substrait/src/main/scala/org/apache/gluten/backendsapi/BackendSettingsApi.scala
  gluten-substrait/src/main/scala/org/apache/gluten/backendsapi/IteratorApi.scala
  gluten-substrait/src/main/scala/org/apache/gluten/backendsapi/SparkPlanExecApi.scala
  gluten-substrait/src/main/scala/org/apache/gluten/execution/BasicScanExecTransformer.scala
  gluten-substrait/src/main/scala/org/apache/gluten/execution/GlutenWholeStageColumnarRDD.scala
  gluten-substrait/src/main/scala/org/apache/gluten/execution/WholeStageTransformer.scala
  gluten-ut/spark32/src/test/scala/org/apache/gluten/utils/clickhouse/ClickHouseTestSettings.scala
  gluten-ut/spark33/src/test/scala/org/apache/gluten/utils/clickhouse/ClickHouseTestSettings.scala
  gluten-ut/spark33/src/test/scala/org/apache/gluten/utils/velox/VeloxTestSettings.scala
  gluten-ut/spark34/src/test/scala/org/apache/gluten/utils/clickhouse/ClickHouseTestSettings.scala
  gluten-ut/spark35/src/test/scala/org/apache/gluten/utils/clickhouse/ClickHouseTestSettings.scala
  gluten-ut/test/src/test/scala/org/apache/spark/sql/execution/GlutenSQLRangeExecSuite.scala
Labels: CORE, VELOX, CLICKHOUSE

#8750 [GLUTEN-8749][CH] Explicitly cast input data type for std::min
  cpp-ch/local-engine/AggregateFunctions/AggregateFunctionUniqHyperLogLogPlusPlus.h
Labels: CLICKHOUSE

#8708 [GLUTEN-8704][CH] try accelerate some spark* function by optimizing tight loops
  cpp-ch/local-engine/Functions/SparkFunctionCastFloatToInt.cpp
  cpp-ch/local-engine/Functions/SparkFunctionCastFloatToInt.h
  cpp-ch/local-engine/Functions/SparkFunctionCheckDecimalOverflow.cpp
  cpp-ch/local-engine/Functions/SparkFunctionDecimalBinaryArithmetic.h
  cpp-ch/local-engine/Functions/SparkFunctionDivide.h
  cpp-ch/local-engine/Parser/ExpressionParser.cpp
  cpp-ch/local-engine/tests/CMakeLists.txt
  cpp-ch/local-engine/tests/benchmark_spark_functions.cpp
  gluten-ut/spark35/src/test/scala/org/apache/gluten/utils/clickhouse/ClickHouseTestSettings.scala
Labels: CORE, CLICKHOUSE

#8759 [GLUTEN-8723][CH] Fix slice unexpected exception
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenFunctionValidateSuite.scala
  cpp-ch/local-engine/Parser/scalar_function_parser/slice.cpp
Labels: CLICKHOUSE

#8766 [VL] Add config for whether to enable spill on Window
  cpp/velox/compute/WholeStageResultIterator.cc
  cpp/velox/config/VeloxConfig.h
Labels: VELOX

#8765 [GLUTEN-8769][CH] Fix failed uts introduced by approx_count_distinct
  cpp-ch/local-engine/tests/gtest_hllpp.cpp
Labels: CLICKHOUSE

#8753 [VL] nit: gluten-it: Fix non-POSIX shell warnings in centos-7-deps.sh
  tools/gluten-te/centos/centos-7-deps.sh
  tools/gluten-te/centos/centos-8-deps.sh
Labels: TOOLS

#8771 [GLUTEN-8748][CH] Support function monotonically_increasing_id
  backends-clickhouse/src/main/java/org/apache/gluten/vectorized/CHNativeExpressionEvaluator.java
  backends-clickhouse/src/main/java/org/apache/gluten/vectorized/ExpressionEvaluatorJniWrapper.java
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHIteratorApi.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/execution/NativeFileScanColumnarRDD.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/utils/CHExpressionUtil.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/metrics/GlutenClickHouseMetricsUTUtils.scala
  cpp-ch/local-engine/Functions/SparkFunctionMonotonicallyIncreasingID.cpp
  cpp-ch/local-engine/Parser/ParserContext.cpp
  cpp-ch/local-engine/Parser/ParserContext.h
  cpp-ch/local-engine/Parser/scalar_function_parser/monotonicallyIncreasingId.cpp
  cpp-ch/local-engine/local_engine_jni.cpp
Labels: CLICKHOUSE

#8718 [Gluten-8715][CH] Fix NaN diff
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenFunctionValidateSuite.scala
  cpp-ch/clickhouse.version
Labels: CLICKHOUSE

#8780 [GLUTEN-8779][VL][Minor] Code cleanup for native validation
  cpp/velox/substrait/SubstraitToVeloxPlanValidator.cc
  cpp/velox/substrait/SubstraitToVeloxPlanValidator.h
Labels: VELOX

#8777 [VL] Add window spill metrics
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxMetricsApi.scala
  backends-velox/src/main/scala/org/apache/gluten/metrics/WindowMetricsUpdater.scala
Labels: VELOX

#8700 [GLUTEN-8699][CH]Metric for Shuffle Read Deserializer
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHMetricsApi.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHSparkPlanExecApi.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/vectorized/CHColumnarBatchSerializer.scala
Labels: CLICKHOUSE

#8762 [GLUTEN-8761][VL] Fix mode in UnsafeColumnarBuildSideRelation not get properly serialize
  backends-velox/src/main/scala/org/apache/spark/sql/execution/unsafe/UnsafeColumnarBuildSideRelation.scala
  backends-velox/src/test/scala/org/apache/spark/sql/execution/unsafe/UnsafeColumnarBuildSideRelationTest.scala
Labels: VELOX, ready to merge

#8435 [GLUTEN-8434][CH] Function bloomFilterContains process improvement
  cpp-ch/local-engine/Functions/FunctionsBloomFilter.h
Labels: CLICKHOUSE

#8786 [VL][DOC] Move irrelevant content from VeloxGlutenUI.md
  docs/Configuration.md
  docs/get-started/Velox.md
  docs/get-started/VeloxGlutenUI.md
  shims/common/src/main/scala/org/apache/gluten/config/GlutenConfig.scala
Labels: CORE, DOCS

#8669 [GLUTEN-8668][VL] Support complex type in ColumnarPartialProject
  backends-velox/src/main/scala/org/apache/gluten/execution/ColumnarPartialProjectExec.scala
  backends-velox/src/test/java/org/apache/gluten/udf/CustomerUDF.java
  backends-velox/src/test/scala/org/apache/gluten/expression/UDFPartialProjectSuite.scala
  backends-velox/src/test/scala/org/apache/spark/sql/execution/GlutenHiveUDFSuite.scala
  gluten-arrow/src/main/java/org/apache/gluten/vectorized/ArrowColumnarRow.java
  gluten-arrow/src/main/java/org/apache/gluten/vectorized/ArrowWritableColumnVector.java
  gluten-arrow/src/main/scala/org/apache/gluten/expression/InterpretedArrowProjection.scala
  gluten-ut/spark35/src/test/scala/org/apache/spark/sql/hive/execution/GlutenHiveUDFSuite.scala
Labels: CORE, VELOX

#8793 [WIP][VL] Fix inconsistency issue of PartitionFile path unescaping & GPL issue
  backends-velox/src/main/java/org/apache/gluten/utils/GlutenURLDecoder.java
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxIteratorApi.scala
Labels: VELOX

#8789 [GLUTEN-8788][CH] Avoid unnecesssary const column materialization
  cpp-ch/local-engine/Functions/SparkFunctionNextDay.cpp
Labels: CLICKHOUSE

#8790 [CH][CI] Parallel download clickhouse submodule
  cpp-ch/CMakeLists.txt
Labels: CLICKHOUSE

#8710 [GLUTEN-8709][VL] Support build on openEuler 24.03 LTS with Velox backend
  dev/build_helper_functions.sh
  ep/build-velox/src/build_velox.sh
  ep/build-velox/src/get_velox.sh
  ep/build-velox/src/setup-openeuler24.sh
Labels: BUILD, VELOX

#8796 [GLUTEN-8795][CH] Support to use oss with gluten
  cpp-ch/local-engine/Common/CHUtil.h
  cpp-ch/local-engine/Storages/SubstraitSource/ReadBufferBuilder.cpp
Labels: CLICKHOUSE

#8797 [CH] add test for new native parquet reader
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/tpch/GlutenClickHouseTPCHSaltNullNativeParquetSuite.scala
  cpp-ch/clickhouse.version
Labels: CLICKHOUSE

#8815 [CH][DOC]Fix CMake Debug Configuration
  docs/developers/clickhouse-backend-debug.md
Labels: DOCS

#8816 [VL] Add support for some Parquet write options to 3.4 / 3.5 to align with 3.2 / 3.3
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxTransformerApi.scala
  cpp/velox/operators/writer/VeloxParquetDataSource.cc
  cpp/velox/operators/writer/VeloxParquetDataSource.h
  cpp/velox/substrait/SubstraitToVeloxPlan.cc
Labels: VELOX

#8778 [CORE] Add iceberg equality delete file proto definition
  gluten-iceberg/src-iceberg/main/java/org/apache/gluten/substrait/rel/IcebergLocalFilesNode.java
  gluten-substrait/src/main/resources/substrait/proto/substrait/algebra.proto
Labels: CORE, DATA_LAKE

#8824 [VL] Minor cleanups
  gluten-core/src/main/scala/org/apache/gluten/extension/columnar/transition/ConventionFunc.scala
  gluten-substrait/src/main/scala/org/apache/gluten/extension/ValidationResult.scala
Labels: CORE

#8798 [GLUTEN-8794] Support logging as many fallback reasons as possible
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxValidatorApi.scala
  gluten-substrait/src/main/scala/org/apache/gluten/backendsapi/SparkPlanExecApi.scala
  gluten-substrait/src/main/scala/org/apache/gluten/execution/BasicPhysicalOperatorTransformer.scala
  gluten-substrait/src/main/scala/org/apache/gluten/execution/WholeStageTransformer.scala
  gluten-substrait/src/main/scala/org/apache/gluten/expression/ExpressionConverter.scala
  gluten-substrait/src/main/scala/org/apache/gluten/extension/ValidationResult.scala
  gluten-substrait/src/main/scala/org/apache/spark/sql/execution/GlutenFallbackReporter.scala
  gluten-ut/spark33/src/test/scala/org/apache/spark/sql/gluten/GlutenFallbackSuite.scala
  gluten-ut/spark34/src/test/scala/org/apache/spark/sql/gluten/GlutenFallbackSuite.scala
  gluten-ut/spark35/src/test/scala/org/apache/spark/sql/gluten/GlutenFallbackSuite.scala
  shims/common/src/main/scala/org/apache/gluten/config/GlutenConfig.scala
Labels: CORE, VELOX

#8722 [GLUTEN-8721][VL] Native writer should keep the same compression with vanilla if `hive.exec.compress.output` is true
  backends-velox/src/test/scala/org/apache/spark/sql/execution/VeloxParquetWriteForHiveSuite.scala
  shims/spark32/src/main/scala/org/apache/spark/sql/hive/execution/HiveFileFormat.scala
  shims/spark33/src/main/scala/org/apache/spark/sql/hive/execution/HiveFileFormat.scala
Labels: CORE, VELOX

#8785 [GLUTEN-8784][CH] Coalesce union of multiple scan-projects
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHBackend.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHRuleApi.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/extension/CoalesceAggregationUnion.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenCoalesceAggregationUnionSuite.scala
  gluten-ut/spark33/src/test/scala/org/apache/spark/sql/GlutenCTEInlineSuite.scala
  gluten-ut/spark33/src/test/scala/org/apache/spark/sql/GlutenDataFrameSetOperationsSuite.scala
  gluten-ut/spark35/src/test/scala/org/apache/gluten/utils/clickhouse/ClickHouseTestSettings.scala
  gluten-ut/spark35/src/test/scala/org/apache/spark/sql/GlutenCTEInlineSuite.scala
  gluten-ut/spark35/src/test/scala/org/apache/spark/sql/GlutenDataFrameSetOperationsSuite.scala
Labels: CORE, performance, CLICKHOUSE

#8829 [VL] Remove resolving ViewFs file path from scan validation
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxBackend.scala
Labels: VELOX

#8831 [GLUTEN-1632][CH]Daily Update Clickhouse Version (20250226)
  cpp-ch/clickhouse.version
Labels: CLICKHOUSE

#8841 [DOC] Document how to debug Java/Scala and how to run a Java/Scala unit test
  docs/developers/HowTo.md
  docs/developers/NewToGluten.md
Labels: DOCS

#8834 [GLUTEN-8811][VL]Fix bucket scan when some partitionValue is empty
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxIteratorApi.scala
  gluten-iceberg/src-iceberg/main/scala/org/apache/gluten/execution/IcebergScanTransformer.scala
  gluten-iceberg/src-iceberg/main/scala/org/apache/iceberg/spark/source/GlutenIcebergSourceUtil.scala
  gluten-iceberg/src-iceberg/test/scala/org/apache/gluten/execution/IcebergSuite.scala
  gluten-substrait/src/main/scala/org/apache/gluten/backendsapi/IteratorApi.scala
  gluten-substrait/src/main/scala/org/apache/gluten/execution/BatchScanExecTransformer.scala
  gluten-substrait/src/main/scala/org/apache/gluten/execution/WholeStageTransformer.scala
  shims/common/src/main/scala/org/apache/gluten/sql/shims/SparkShims.scala
  shims/spark32/src/main/scala/org/apache/gluten/sql/shims/spark32/Spark32Shims.scala
  shims/spark33/src/main/scala/org/apache/gluten/sql/shims/spark33/Spark33Shims.scala
  shims/spark34/src/main/scala/org/apache/gluten/sql/shims/spark34/Spark34Shims.scala
  shims/spark35/src/main/scala/org/apache/gluten/sql/shims/spark35/Spark35Shims.scala
Labels: CORE, VELOX, DATA_LAKE

#8850 [CH][Arm] Disable -Wcast-qual warning to avoid errors with const qualifier loss in arm
  cpp-ch/clickhouse.version
Labels: CLICKHOUSE

#8860 [INFRA] Add missing license header for better ASF Policy compliance
  .github/workflows/util/license-header.py
  .github/workflows/util/util.py
  dev/build-thirdparty.sh
  dev/build_arrow.sh
  dev/build_helper_functions.sh
  dev/build_libhdfs3.sh
  dev/buildbundle-veloxbe.sh
  dev/builddeps-veloxbe.sh
  dev/ci-velox-buildshared-centos-8.sh
  dev/ci-velox-buildstatic-centos-7.sh
  dev/docker/Dockerfile
  dev/docker/Dockerfile.centos7-static-build
  dev/docker/Dockerfile.centos8-dynamic-build
  dev/docker/Dockerfile.centos8-dynamic-build-jdk11
  dev/docker/Dockerfile.centos8-dynamic-build-jdk17
  dev/docker/Makefile
  dev/docker/entrypoint.sh
  dev/formatcppcode.sh
  dev/package-vcpkg.sh
  dev/package.sh
  dev/setup-qat-ubuntu.sh
  dev/vcpkg/setup-build-depends.sh
  dev/vcpkg/toolchain.cmake
Labels: BUILD, INFRA
