Repository apache/incubator-gluten, pull requests merged in 2025-07, with the labels that each got.

#9935 [CORE] Make each RewriteSingleNode evaluates its own isRewritable
  gluten-core/src/main/scala/org/apache/gluten/extension/columnar/heuristic/RewriteSparkPlanRulesManager.scala
  gluten-substrait/src/main/scala/org/apache/gluten/extension/columnar/rewrite/ProjectColumnPruning.scala
  gluten-substrait/src/main/scala/org/apache/gluten/extension/columnar/rewrite/PullOutPostProject.scala
  gluten-substrait/src/main/scala/org/apache/gluten/extension/columnar/rewrite/PullOutPreProject.scala
  gluten-substrait/src/main/scala/org/apache/gluten/extension/columnar/rewrite/RewriteEligibility.scala
  gluten-substrait/src/main/scala/org/apache/gluten/extension/columnar/rewrite/RewriteIn.scala
  gluten-substrait/src/main/scala/org/apache/gluten/extension/columnar/rewrite/RewriteJoin.scala
  gluten-substrait/src/main/scala/org/apache/gluten/extension/columnar/rewrite/RewriteMultiChildrenCount.scala
Labels: CORE

#10101 [CORE] Fix a class's placement to match its declared package
  gluten-substrait/src/main/scala/org/apache/gluten/extension/columnar/offload/OffloadSingleNodeRules.scala
  gluten-substrait/src/main/scala/org/apache/spark/sql/execution/python/EvalPythonExecTransformer.scala
Labels: CORE

#10127 [GLUTEN-1632][CH]Daily Update Clickhouse Version (20250705)
  cpp-ch/CMakeLists.txt
  cpp-ch/clickhouse.version
  cpp-ch/local-engine/Common/GlutenSignalHandler.cpp
  cpp-ch/local-engine/Common/LoggerExtend.cpp
  cpp-ch/local-engine/Common/LoggerExtend.h
  cpp-ch/local-engine/Disks/ObjectStorages/registerGlutenDiskObjectStorage.cpp
  cpp-ch/local-engine/Parser/RelParsers/CrossRelParser.cpp
  cpp-ch/local-engine/Parser/RelParsers/JoinRelParser.cpp
  cpp-ch/local-engine/Storages/MergeTree/SparkStorageMergeTree.h
  cpp-ch/local-engine/Storages/Parquet/VectorizedParquetRecordReader.h
  cpp-ch/local-engine/Storages/SubstraitSource/ExcelTextFormatFile.cpp
  cpp-ch/local-engine/Storages/SubstraitSource/ExcelTextFormatFile.h
  cpp-ch/local-engine/Storages/SubstraitSource/FileReader.cpp
  cpp-ch/local-engine/Storages/SubstraitSource/FileReader.h
  cpp-ch/local-engine/Storages/SubstraitSource/FormatFile.h
  cpp-ch/local-engine/Storages/SubstraitSource/Iceberg/IcebergReader.h
  cpp-ch/local-engine/Storages/SubstraitSource/JSONFormatFile.cpp
  cpp-ch/local-engine/Storages/SubstraitSource/JSONFormatFile.h
  cpp-ch/local-engine/Storages/SubstraitSource/ORCFormatFile.cpp
  cpp-ch/local-engine/Storages/SubstraitSource/ORCFormatFile.h
  cpp-ch/local-engine/Storages/SubstraitSource/ParquetFormatFile.cpp
  cpp-ch/local-engine/Storages/SubstraitSource/ParquetFormatFile.h
  cpp-ch/local-engine/Storages/SubstraitSource/SubstraitFileSource.cpp
  cpp-ch/local-engine/Storages/SubstraitSource/SubstraitFileSource.h
  cpp-ch/local-engine/Storages/SubstraitSource/SubstraitFileSourceStep.cpp
  cpp-ch/local-engine/Storages/SubstraitSource/SubstraitFileSourceStep.h
  cpp-ch/local-engine/Storages/SubstraitSource/TextFormatFile.cpp
  cpp-ch/local-engine/Storages/SubstraitSource/TextFormatFile.h
  cpp-ch/local-engine/tests/benchmark_local_engine.cpp
  cpp-ch/local-engine/tests/benchmark_parquet_read.cpp
  cpp-ch/local-engine/tests/gtest_ch_join.cpp
  cpp-ch/local-engine/tests/gtest_parquet_read.cpp
Labels: CLICKHOUSE

#10049 [GLUTEN-10050][FLINK] Support decimal type
  gluten-flink/runtime/src/main/java/org/apache/gluten/vectorized/ArrowVectorAccessor.java
  gluten-flink/runtime/src/main/java/org/apache/gluten/vectorized/ArrowVectorWriter.java
  gluten-flink/ut/src/test/java/org/apache/gluten/table/runtime/stream/custom/ScanTest.java
Labels: FLINK

#10109 [VL] Clean up the duplicated class list in the Maven enforcer
  gluten-substrait/src/main/scala/org/apache/gluten/config/GlutenConfig.scala
  package/pom.xml
Labels: CORE

#10122 [CORE] Enable wartremover check for Scala 2.13
  backends-clickhouse/src-delta33/main/scala/org/apache/spark/sql/delta/DeltaLog.scala
  pom.xml
Labels: CORE, CLICKHOUSE

#10110 [DOC] Fix VeloxStageResourceAdj config table style
  docs/get-started/VeloxStageResourceAdj.md
Labels: DOCS

#10034 [GLUTEN-10033][FLINK] Fix memory leak caused by unclosed RowVector in `GlutenSourceFunction`
  gluten-flink/runtime/src/main/java/org/apache/gluten/table/runtime/operators/GlutenSourceFunction.java
Labels: FLINK

#10147 [CORE] Refactor: Make `GlutenFormatWriterInjects#executeWriterWrappedSparkPlan` return the wrapped query plan rather than the executed RDD
  backends-clickhouse/src-delta33/main/scala/org/apache/spark/sql/execution/datasources/v1/clickhouse/MergeTreeFileFormatWriter.scala
  backends-velox/src/main/scala/org/apache/spark/sql/execution/datasources/velox/VeloxFormatWriterInjects.scala
  gluten-substrait/src/main/scala/org/apache/spark/sql/execution/datasources/GlutenFormatWriterInjectsBase.scala
  shims/common/src/main/scala/org/apache/gluten/execution/datasource/GlutenFormatWriterInjects.scala
  shims/spark32/src/main/scala/org/apache/spark/sql/execution/datasources/FileFormatWriter.scala
  shims/spark33/src/main/scala/org/apache/spark/sql/execution/datasources/FileFormatWriter.scala
Labels: CORE, VELOX, CLICKHOUSE

#10152 [GLUTEN-10151][CELEBORN] Bump Celeborn version to 0.6.0
  .github/workflows/velox_backend_x86.yml
  dev/docker/Dockerfile.centos8-dynamic-build
  gluten-celeborn/src/main/java/org/apache/spark/shuffle/gluten/celeborn/CelebornShuffleManager.java
  gluten-celeborn/src/main/java/org/apache/spark/shuffle/gluten/celeborn/CelebornUtils.java
  pom.xml
  tools/gluten-it/pom.xml
Labels: CORE, BUILD, INFRA, RSS, TOOLS

#10179 [VL] Clarify the code objective of VeloxDataSourceJniWrapper#splitBlockByPartitionAndBucket
  backends-velox/src/main/scala/org/apache/spark/sql/execution/datasources/velox/VeloxFormatWriterInjects.scala
  cpp/velox/jni/VeloxJniWrapper.cc
Labels: VELOX

#10138 [GLUTEN-10103][VL] Fall back to vanilla spark when UnresolvedException occurs in the schema validation
  docs/velox-backend-limitations.md
  gluten-substrait/src/main/scala/org/apache/gluten/execution/ValidatablePlan.scala
Labels: CORE, DOCS

#10172 [CORE] Reflect resource changes in configurations when applying new resource profile
  gluten-substrait/src/main/scala/org/apache/spark/sql/execution/GlutenAutoAdjustStageResourceProfile.scala
Labels: CORE

#10190 [GLUTEN-8070][CORE][VL] Add mechanism for generating configuration files and check configuration content
  backends-velox/pom.xml
  backends-velox/src/test/resources/log4j2.properties
  backends-velox/src/test/scala/org/apache/gluten/config/AllVeloxConfiguration.scala
  dev/gen_all_config_docs.sh
  docs/Configuration.md
  docs/velox-configuration.md
  gluten-core/src/main/scala/org/apache/gluten/config/ConfigEntry.scala
  gluten-substrait/pom.xml
  gluten-substrait/src/test/scala/org/apache/gluten/config/AllGlutenConfiguration.scala
  gluten-substrait/src/test/scala/org/apache/gluten/config/MarkdownBuilder.scala
  pom.xml
Labels: CORE, BUILD, VELOX, DOCS

#10111 [GLUTEN-10112][VL] Fix deadLock caused by objectStore when native writer throws oom exception
  cpp/core/utils/ObjectStore.cc
Labels: VELOX

#10208 [GLUTEN-10168][VL] Sort shuffle produce wrong partition lengths in case of spill
  cpp/core/shuffle/LocalPartitionWriter.cc
  cpp/core/shuffle/rss/RssPartitionWriter.cc
  cpp/velox/tests/VeloxShuffleWriterTest.cc
Labels: VELOX

#10202 [GLUTEN-8332][VL] Support explode/posexplode/inline outer
  backends-velox/src/main/scala/org/apache/gluten/execution/GenerateExecTransformer.scala
  backends-velox/src/test/scala/org/apache/gluten/execution/MiscOperatorSuite.scala
  cpp/velox/substrait/SubstraitToVeloxPlan.cc
  gluten-ut/spark32/src/test/scala/org/apache/gluten/utils/velox/VeloxTestSettings.scala
  gluten-ut/spark32/src/test/scala/org/apache/spark/sql/catalyst/expressions/GlutenGeneratorExpressionSuite.scala
  gluten-ut/spark33/src/test/scala/org/apache/gluten/utils/velox/VeloxTestSettings.scala
  gluten-ut/spark33/src/test/scala/org/apache/spark/sql/catalyst/expressions/GlutenGeneratorExpressionSuite.scala
  gluten-ut/spark34/src/test/scala/org/apache/gluten/utils/velox/VeloxTestSettings.scala
  gluten-ut/spark34/src/test/scala/org/apache/spark/sql/catalyst/expressions/GlutenGeneratorExpressionSuite.scala
  gluten-ut/spark35/src/test/scala/org/apache/gluten/utils/velox/VeloxTestSettings.scala
  gluten-ut/spark35/src/test/scala/org/apache/spark/sql/catalyst/expressions/GlutenGeneratorExpressionSuite.scala
Labels: CORE, VELOX

#10217 [CORE][VL] Minor cleanups for pom.xml
  backends-velox/pom.xml
  pom.xml
Labels: CORE, VELOX

#10092 [GLUTEN-10091][FLINK] Fix premature termination in NexmarkTest
  gluten-flink/ut/src/test/java/org/apache/gluten/table/runtime/stream/custom/NexmarkTest.java
Labels: FLINK

#9855 [MINOR] Import config keys instead of hard-coding string values for tests in backends
  backends-clickhouse/src-celeborn/test/scala/org/apache/gluten/execution/GlutenClickHouseRSSColumnarMemorySortShuffleSuite.scala
  backends-clickhouse/src-iceberg/test/scala/org/apache/gluten/execution/iceberg/ClickHouseIcebergHiveTableSupport.scala
  backends-clickhouse/src-kafka/test/scala/org/apache/gluten/execution/kafka/ClickhouseGlutenKafkaScanSuite.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHBackend.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/RunTPCHTest.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenClickHouseExcelFormatSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenClickHouseJoinSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenClickHouseNativeLibSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenClickHouseSyntheticDataSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenClickHouseTPCDSAbstractSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenClickHouseTPCHAbstractSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenClickHouseWholeStageTransformerSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenClickhouseCountDistinctSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenCoalesceAggregationUnionSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenEliminateJoinSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenFunctionValidateSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenNothingValueCheck.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/compatibility/GlutenClickhouseFunctionSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/extension/GlutenCustomAggExpressionSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/hive/GlutenClickHouseHiveTableSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/hive/GlutenClickHouseNativeWriteTableSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/mergetree/GlutenClickHouseMergeTreeWriteSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/metrics/GlutenClickHouseTPCHMetricsSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/tpcds/GlutenClickHouseTPCDSParquetColumnarShuffleAQESuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/tpcds/GlutenClickHouseTPCDSParquetRFSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/tpcds/GlutenClickHouseTPCDSParquetSortMergeJoinSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/tpcds/GlutenClickHouseTPCDSParquetSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/tpch/GlutenClickHouseTPCHColumnarShuffleParquetAQESuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/tpch/GlutenClickHouseTPCHParquetAQESuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/tpch/GlutenClickHouseTPCHSaltNullNativeParquetSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/tpch/GlutenClickHouseTPCHSaltNullParquetSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/s3/S3AuthSuite.scala
  backends-clickhouse/src/test/scala/org/apache/spark/sql/execution/benchmarks/CHAggAndShuffleBenchmark.scala
  backends-clickhouse/src/test/scala/org/apache/spark/sql/execution/benchmarks/CHSqlBasedBenchmark.scala
  backends-clickhouse/src/test/scala/org/apache/spark/sql/extension/GlutenClickhouseCustomerExpressionTransformerSuite.scala
  backends-velox/src-iceberg/main/java/org/apache/gluten/TestConfUtil.java
  backends-velox/src/test/scala/org/apache/gluten/execution/AutoAdjustStageResourceProfileSuite.scala
  backends-velox/src/test/scala/org/apache/gluten/execution/DynamicOffHeapSizingSuite.scala
  backends-velox/src/test/scala/org/apache/gluten/execution/FallbackSuite.scala
  backends-velox/src/test/scala/org/apache/gluten/execution/MiscOperatorSuite.scala
  backends-velox/src/test/scala/org/apache/gluten/execution/VeloxAggregateFunctionsSuite.scala
  backends-velox/src/test/scala/org/apache/gluten/execution/VeloxHashJoinSuite.scala
  backends-velox/src/test/scala/org/apache/gluten/execution/VeloxMetricsSuite.scala
  backends-velox/src/test/scala/org/apache/gluten/execution/VeloxOrcDataTypeValidationSuite.scala
  backends-velox/src/test/scala/org/apache/gluten/execution/VeloxParquetDataTypeValidationSuite.scala
  backends-velox/src/test/scala/org/apache/gluten/execution/VeloxTPCDSSuite.scala
  backends-velox/src/test/scala/org/apache/gluten/execution/VeloxTPCHSuite.scala
  backends-velox/src/test/scala/org/apache/gluten/expression/UDFPartialProjectSuite.scala
  backends-velox/src/test/scala/org/apache/gluten/expression/VeloxUdfSuite.scala
  backends-velox/src/test/scala/org/apache/gluten/functions/DateFunctionsValidateSuite.scala
  backends-velox/src/test/scala/org/apache/gluten/functions/MathFunctionsValidateSuite.scala
  backends-velox/src/test/scala/org/apache/gluten/functions/ScalarFunctionsValidateSuite.scala
  backends-velox/src/test/scala/org/apache/gluten/fuzzer/RowToColumnarFuzzer.scala
  backends-velox/src/test/scala/org/apache/spark/sql/execution/GlutenHiveUDFSuite.scala
  backends-velox/src/test/scala/org/apache/spark/sql/execution/VeloxParquetWriteForHiveSuite.scala
  backends-velox/src/test/scala/org/apache/spark/sql/execution/VeloxParquetWriteSuite.scala
  backends-velox/src/test/scala/org/apache/spark/sql/execution/benchmark/VeloxRasBenchmark.scala
  gluten-substrait/src/main/scala/org/apache/gluten/config/GlutenConfig.scala
  gluten-substrait/src/test/scala/org/apache/gluten/execution/WholeStageTransformerSuite.scala
Labels: CORE, VELOX, CLICKHOUSE

#10198 [CH] Change the expression name timestamp_add to timestampadd
  cpp-ch/local-engine/Parser/scalar_function_parser/timestampAdd.cpp
  shims/common/src/main/scala/org/apache/gluten/expression/ExpressionNames.scala
Labels: CORE, CLICKHOUSE

#10205 [DOC][Flink] Update flink build command to skip gpg and spotless check
  gluten-flink/docs/Flink.md
Labels: FLINK

#10193 [GLUTEN-10192][VL] Fix sort shuffle read segfault in some cases
  cpp/velox/shuffle/VeloxShuffleReader.cc
  cpp/velox/shuffle/VeloxShuffleReader.h
  cpp/velox/tests/VeloxShuffleWriterTest.cc
  cpp/velox/tests/VeloxShuffleWriterTestBase.h
Labels: VELOX

#9572 [GLUTEN-9571][VL] Respect parquet configs, parquet.page.size and parquet.compression.codec.zstd.level etc.
  backends-velox/src/main/scala/org/apache/spark/sql/execution/datasources/velox/VeloxParquetWriterInjects.scala
  cpp/core/config/GlutenConfig.h
  cpp/velox/operators/writer/VeloxParquetDataSource.cc
  docs/Configuration.md
  gluten-substrait/src/main/scala/org/apache/gluten/config/GlutenConfig.scala
Labels: CORE, VELOX, DOCS

#10204 [GLUTEN-9860][VL] Add nightly packages for ARM
  .github/workflows/velox_nightly.yml
Labels: INFRA

#10256 [VL] update readme, use general table name
  docs/get-started/Velox.md
Labels: DOCS

#10218 [GLUTEN-10226][Flink] Support decimal arithmetic
  gluten-flink/planner/src/main/java/org/apache/gluten/rexnode/functions/DecimalRexCallConverters.java
  gluten-flink/planner/src/main/java/org/apache/gluten/rexnode/functions/RexCallConverterFactory.java
  gluten-flink/ut/src/test/java/org/apache/gluten/table/runtime/stream/custom/ScalarFunctionsTest.java
Labels: FLINK

#10243 [CORE] Fix missing build information
  package/pom.xml
Labels: CORE

#10244 [GLUTEN-10236][VL] Support both sort and rss_sort shuffle writer for Celeborn
  .github/workflows/velox_backend_x86.yml
  backends-clickhouse/src-celeborn/main/scala/org/apache/spark/shuffle/CHCelebornColumnarShuffleWriter.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHMetricsApi.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHSparkPlanExecApi.scala
  backends-velox/src-celeborn/main/scala/org/apache/spark/shuffle/VeloxCelebornColumnarBatchSerializer.scala
  backends-velox/src-celeborn/main/scala/org/apache/spark/shuffle/VeloxCelebornColumnarShuffleWriter.scala
  backends-velox/src-uniffle/main/java/org/apache/spark/shuffle/gluten/uniffle/UniffleShuffleManager.java
  backends-velox/src-uniffle/main/java/org/apache/spark/shuffle/writer/VeloxUniffleColumnarShuffleWriter.java
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxMetricsApi.scala
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxSparkPlanExecApi.scala
  backends-velox/src/main/scala/org/apache/gluten/extension/AppendBatchResizeForShuffleInputAndOutput.scala
  backends-velox/src/main/scala/org/apache/gluten/vectorized/ColumnarBatchSerializer.scala
  backends-velox/src/main/scala/org/apache/spark/shuffle/ColumnarShuffleWriter.scala
  backends-velox/src/main/scala/org/apache/spark/sql/execution/utils/ExecUtil.scala
  cpp/core/shuffle/rss/RssPartitionWriter.cc
  cpp/core/shuffle/rss/RssPartitionWriter.h
  docs/Configuration.md
  docs/get-started/Velox.md
  gluten-celeborn/src/main/scala/org/apache/spark/shuffle/CelebornColumnarShuffleWriter.scala
  gluten-delta/src-delta33/main/scala/org/apache/spark/sql/perf/DeltaOptimizedWriterTransformer.scala
  gluten-substrait/src/main/scala/org/apache/gluten/backendsapi/MetricsApi.scala
  gluten-substrait/src/main/scala/org/apache/gluten/backendsapi/SparkPlanExecApi.scala
  gluten-substrait/src/main/scala/org/apache/gluten/config/GlutenConfig.scala
  gluten-substrait/src/main/scala/org/apache/gluten/execution/ColumnarCollectLimitBaseExec.scala
  gluten-substrait/src/main/scala/org/apache/gluten/execution/ColumnarCollectTailBaseExec.scala
  gluten-substrait/src/main/scala/org/apache/spark/shuffle/ColumnarShuffleDependency.scala
  gluten-substrait/src/main/scala/org/apache/spark/sql/execution/ColumnarShuffleExchangeExec.scala
Labels: CORE, VELOX, INFRA, RSS, CLICKHOUSE, DOCS, DATA_LAKE

#10264 [GLUTEN-1632][CH]Daily Update Clickhouse Version (20250728)
  cpp-ch/CMakeLists.txt
  cpp-ch/clickhouse.version
Labels: CLICKHOUSE

#10259 [CORE] Gen config also verify config as expected
  dev/gen_all_config_docs.sh
  docs/Configuration.md
  gluten-substrait/src/test/scala/org/apache/gluten/config/AllGlutenConfiguration.scala
Labels: CORE, BUILD, DOCS

#10119 [GLUTEN-10118][VL] Support writing task statistics to the event log
  backends-velox/src/main/java/org/apache/gluten/metrics/Metrics.java
  backends-velox/src/main/scala/org/apache/gluten/config/VeloxConfig.scala
  backends-velox/src/main/scala/org/apache/gluten/metrics/MetricsUtil.scala
  backends-velox/src/main/scala/org/apache/spark/metrics/TaskStatsAccumulator.scala
  cpp/core/jni/JniWrapper.cc
  cpp/core/utils/Metrics.h
  cpp/velox/compute/WholeStageResultIterator.cc
  cpp/velox/config/VeloxConfig.h
  docs/velox-configuration.md
Labels: VELOX, DOCS

#10273 [MINOR] Remove unused code from SubstraitBackend
  gluten-substrait/src/main/scala/org/apache/gluten/backendsapi/SubstraitBackend.scala
Labels: CORE

#10276 [GLUTEN-10175][VL] Enable abs test
  gluten-ut/spark32/src/test/scala/org/apache/gluten/utils/velox/VeloxTestSettings.scala
  gluten-ut/spark33/src/test/scala/org/apache/gluten/utils/velox/VeloxTestSettings.scala
  gluten-ut/spark34/src/test/scala/org/apache/gluten/utils/velox/VeloxTestSettings.scala
  gluten-ut/spark35/src/test/scala/org/apache/gluten/utils/velox/VeloxTestSettings.scala
Labels: CORE

#10280 [GLUTEN-10279][VL] Reset reserved counter when allocationChanged fails
  cpp/core/memory/AllocationListener.h
Labels: VELOX

#10288 [VL] RAS: Embed internal `MemoRole` property into `MemoRoleAwarePropertySet`
  gluten-ras/common/src/main/scala/org/apache/gluten/ras/Ras.scala
  gluten-ras/common/src/main/scala/org/apache/gluten/ras/property/MemoRole.scala
  gluten-ras/common/src/main/scala/org/apache/gluten/ras/property/PropertySet.scala
  gluten-ras/common/src/main/scala/org/apache/gluten/ras/property/PropertySetFactory.scala
  gluten-ras/common/src/main/scala/org/apache/gluten/ras/property/role/MemoRole.scala
  gluten-ras/common/src/main/scala/org/apache/gluten/ras/property/role/MemoRoleAwarePropertySet.scala
  gluten-ras/common/src/main/scala/org/apache/gluten/ras/property/role/MemoRoleAwarePropertySetFactory.scala
  gluten-ras/common/src/main/scala/org/apache/gluten/ras/vis/GraphvizVisualizer.scala
  gluten-ras/common/src/test/scala/org/apache/gluten/ras/RasSuiteBase.scala
Labels: CORE

#10291 [VL] gluten-it: Fixes for clickbench
  tools/gluten-it/common/src/main/resources/clickbench-queries/q39.sql
  tools/gluten-it/common/src/main/resources/clickbench-queries/q40.sql
  tools/gluten-it/common/src/main/resources/clickbench-queries/q41.sql
  tools/gluten-it/common/src/main/resources/clickbench-queries/q42.sql
  tools/gluten-it/common/src/main/resources/clickbench-queries/q43.sql
  tools/gluten-it/common/src/main/scala/org/apache/gluten/integration/clickbench/ClickBenchDataGen.scala
  tools/gluten-it/common/src/main/scala/org/apache/gluten/integration/clickbench/ClickBenchTableCreator.scala
Labels: TOOLS

#10268 [VL] Add GlutenQueryExecutionSuite
  gluten-ut/spark32/src/test/scala/org/apache/gluten/utils/velox/VeloxTestSettings.scala
  gluten-ut/spark32/src/test/scala/org/apache/spark/sql/execution/GlutenQueryExecutionSuite.scala
  gluten-ut/spark33/src/test/scala/org/apache/gluten/utils/velox/VeloxTestSettings.scala
  gluten-ut/spark33/src/test/scala/org/apache/spark/sql/execution/GlutenQueryExecutionSuite.scala
  gluten-ut/spark34/src/test/scala/org/apache/gluten/utils/velox/VeloxTestSettings.scala
  gluten-ut/spark34/src/test/scala/org/apache/spark/sql/execution/GlutenQueryExecutionSuite.scala
  gluten-ut/spark35/src/test/scala/org/apache/gluten/utils/velox/VeloxTestSettings.scala
  gluten-ut/spark35/src/test/scala/org/apache/spark/sql/execution/GlutenQueryExecutionSuite.scala
Labels: CORE

#9841 [CH] Support map_concat function
  backends-clickhouse/src/main/scala/org/apache/gluten/utils/CHExpressionUtil.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenFunctionValidateSuite.scala
  cpp-ch/local-engine/Parser/ExpressionParser.cpp
  cpp-ch/local-engine/Parser/scalar_function_parser/mapConcat.cpp
  gluten-ut/spark33/src/test/scala/org/apache/gluten/utils/clickhouse/ClickHouseTestSettings.scala
  gluten-ut/spark34/src/test/scala/org/apache/gluten/utils/clickhouse/ClickHouseTestSettings.scala
  gluten-ut/spark35/src/test/scala/org/apache/gluten/utils/clickhouse/ClickHouseTestSettings.scala
Labels: CORE, CLICKHOUSE

#10297 [MINOR][CORE] Simplify fillWithTransitions for InsertTransitions
  gluten-core/src/main/scala/org/apache/gluten/extension/columnar/transition/Transitions.scala
Labels: CORE

#10282 [DOC][VL] adding back Velox parquet write configuration doc
  docs/velox-parquet-write-configuration.md
Labels: DOCS

#10289 [FLINK] Add command to skip gpg in the build
  .github/workflows/flink.yml
  gluten-flink/patches/fix-velox4j.patch
Labels: INFRA, FLINK

#10307 [GLUTEN-10306] Package libgeos when in dynamic compile mode
  dev/build-thirdparty.sh
Labels: BUILD

#10301 [MINOR] Improve moveToWorkDir for JniLibLoader
  gluten-core/src/main/java/org/apache/gluten/jni/JniLibLoader.java
Labels: CORE
