Repository apache/incubator-gluten, pull requests merged in 2025-05, with the labels that each got.

#9479 [branch-1.4][VL] Fix docker image name for 1.4 branch
  .github/workflows/docker_image.yml
Labels: INFRA

#9466 [GLUTEN-8851][VL] Use separate debug config for cudf
  cpp/velox/compute/VeloxBackend.cc
  cpp/velox/config/VeloxConfig.h
  shims/common/src/main/scala/org/apache/gluten/config/GlutenConfig.scala
Labels: CORE, VELOX

#9488 Minor: The user specified --extra-conf has high priority
  tools/gluten-it/common/src/main/scala/org/apache/spark/sql/SparkSessionSwitcher.scala
Labels: TOOLS

#9074 [GLUTEN-9073][VL] Add support for CollectTail Operator
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHSparkPlanExecApi.scala
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxBackend.scala
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxRuleApi.scala
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxSparkPlanExecApi.scala
  backends-velox/src/main/scala/org/apache/gluten/execution/ColumnarCollectTailExec.scala
  backends-velox/src/test/scala/org/apache/gluten/execution/GlutenSQLCollectTailExecSuite.scala
  gluten-substrait/src/main/scala/org/apache/gluten/backendsapi/BackendSettingsApi.scala
  gluten-substrait/src/main/scala/org/apache/gluten/backendsapi/SparkPlanExecApi.scala
  gluten-substrait/src/main/scala/org/apache/gluten/execution/ColumnarCollectTailBaseExec.scala
  gluten-substrait/src/main/scala/org/apache/gluten/extension/columnar/CollectTailTransformerRule.scala
  gluten-substrait/src/main/scala/org/apache/gluten/extension/columnar/validator/Validators.scala
Labels: CORE, VELOX, CLICKHOUSE

#9478 [CORE] Include additional source folders in spotless's code format check
  backends-clickhouse/src-delta-32/main/java/org/apache/gluten/vectorized/DeltaWriterJNIWrapper.java
  backends-velox/src-delta/main/scala/org/apache/gluten/component/VeloxDeltaComponent.scala
  backends-velox/src-hudi/main/scala/org/apache/gluten/component/VeloxHudiComponent.scala
  backends-velox/src-iceberg/main/scala/org/apache/gluten/component/VeloxIcebergComponent.scala
  backends-velox/src-iceberg/test/java/org/apache/gluten/spark34/TestConfUtil.java
  backends-velox/src-iceberg/test/java/org/apache/gluten/spark34/execution/TestStoragePartitionedJoins.java
  backends-velox/src-iceberg/test/java/org/apache/gluten/spark34/execution/TestTPCHStoragePartitionedJoins.java
  backends-velox/src-iceberg/test/java/org/apache/gluten/spark34/extensions/GlutenTestCopyOnWriteDelete.java
  backends-velox/src-iceberg/test/java/org/apache/gluten/spark34/extensions/GlutenTestMergeOnReadDelete.java
  backends-velox/src-iceberg/test/java/org/apache/gluten/spark34/extensions/GlutenTestMergeOnReadMerge.java
  backends-velox/src-iceberg/test/java/org/apache/gluten/spark34/extensions/GlutenTestMergeOnReadUpdate.java
  backends-velox/src-iceberg/test/java/org/apache/gluten/spark34/extensions/GlutenTestStoragePartitionedJoinsInRowLevelOperations.java
  backends-velox/src-iceberg/test/java/org/apache/gluten/spark34/extensions/GlutenTestSystemFunctionPushDownDQL.java
  backends-velox/src-iceberg/test/java/org/apache/gluten/spark34/extensions/GlutenTestSystemFunctionPushDownInRowLevelOperations.java
  backends-velox/src-iceberg/test/java/org/apache/gluten/spark34/source/GlutenTestDataFrameWriterV2.java
  backends-velox/src-iceberg/test/java/org/apache/gluten/spark34/source/GlutenTestDataFrameWriterV2Coercion.java
  backends-velox/src-iceberg/test/java/org/apache/gluten/spark34/source/GlutenTestDataSourceOptions.java
  backends-velox/src-iceberg/test/java/org/apache/gluten/spark34/source/GlutenTestIcebergSourceHiveTables.java
  backends-velox/src-iceberg/test/java/org/apache/gluten/spark34/source/GlutenTestIdentityPartitionData.java
  backends-velox/src-iceberg/test/java/org/apache/gluten/spark34/source/GlutenTestPositionDeletesTable.java
  backends-velox/src-iceberg/test/java/org/apache/gluten/spark34/source/GlutenTestRuntimeFiltering.java
  backends-velox/src-iceberg/test/java/org/apache/gluten/spark34/source/GlutenTestSparkMetadataColumns.java
  backends-velox/src-iceberg/test/java/org/apache/gluten/spark34/source/GlutenTestSparkStagedScan.java
  backends-velox/src-iceberg/test/java/org/apache/gluten/spark34/source/TestDataFrameWrites.java
  backends-velox/src-iceberg/test/java/org/apache/gluten/spark34/source/TestFilteredScan.java
  backends-velox/src-iceberg/test/java/org/apache/gluten/spark34/source/TestForwardCompatibility.java
  backends-velox/src-iceberg/test/java/org/apache/gluten/spark34/source/TestIcebergSpark.java
  backends-velox/src-iceberg/test/java/org/apache/gluten/spark34/source/TestParquetScan.java
  backends-velox/src-iceberg/test/java/org/apache/gluten/spark34/source/TestPartitionPruning.java
  backends-velox/src-iceberg/test/java/org/apache/gluten/spark34/source/TestPartitionValues.java
  backends-velox/src-iceberg/test/java/org/apache/gluten/spark34/source/TestSparkDataFile.java
  backends-velox/src-iceberg/test/java/org/apache/gluten/spark34/source/TestSparkReaderWithBloomFilter.java
  backends-velox/src-iceberg/test/java/org/apache/gluten/spark34/source/TestStructuredStreaming.java
  backends-velox/src-iceberg/test/java/org/apache/gluten/spark34/source/TestTimestampWithoutZone.java
  backends-velox/src-iceberg/test/java/org/apache/gluten/spark34/sql/GlutenTestAggregatePushDown.java
  backends-velox/src-iceberg/test/java/org/apache/gluten/spark34/sql/GlutenTestDeleteFrom.java
  backends-velox/src-iceberg/test/java/org/apache/gluten/spark34/sql/GlutenTestPartitionedWritesAsSelect.java
  backends-velox/src-iceberg/test/java/org/apache/gluten/spark34/sql/GlutenTestPartitionedWritesToBranch.java
  backends-velox/src-iceberg/test/java/org/apache/gluten/spark34/sql/GlutenTestPartitionedWritesToWapBranch.java
  backends-velox/src-iceberg/test/java/org/apache/gluten/spark34/sql/GlutenTestSelect.java
  backends-velox/src-iceberg/test/java/org/apache/gluten/spark34/sql/GlutenTestTimestampWithoutZone.java
  backends-velox/src-iceberg/test/java/org/apache/iceberg/spark/SparkTestBase.java
  backends-velox/src-iceberg/test/java/org/apache/iceberg/spark/data/RandomData.java
  backends-velox/src-iceberg/test/java/org/apache/iceberg/spark/data/TestHelpers.java
  backends-velox/src-iceberg/test/java/org/apache/iceberg/spark/extensions/SparkExtensionsTestBase.java
  backends-velox/src-iceberg/test/java/org/apache/iceberg/spark/source/GlutenSparkScanBuilder.java
  backends-velox/src-iceberg/test/java/org/apache/iceberg/spark/source/TestIcebergSourceTablesBase.java
  backends-velox/src-iceberg/test/java/org/apache/iceberg/spark/source/TestSparkReadProjection.java
  backends-velox/src-iceberg/test/java/org/apache/iceberg/spark/source/TestSparkReaderDeletes.java
  backends-velox/src-iceberg/test/scala/org/apache/gluten/execution/VeloxIcebergSuite.scala
  backends-velox/src-uniffle/main/java/org/apache/spark/shuffle/writer/VeloxUniffleColumnarShuffleWriter.java
  pom.xml
Labels: CORE, VELOX, CLICKHOUSE

#9487 [GLUTEN-9486][VL] Fix example launch.json config in NewToGluten.md documentation
  docs/developers/NewToGluten.md
Labels: DOCS

#9477 [VL] Support ObjectDebugInfo in ObjectStore during destruction of native runtime
  cpp/core/utils/ObjectStore.cc
  cpp/core/utils/ObjectStore.h
Labels: VELOX, ready to merge

#9482 [GLUTEN-9481][ICEBERG] Fix issue where iceberg columns where not properly being sanitized.
  gluten-iceberg/src/main/scala/org/apache/gluten/execution/IcebergScanTransformer.scala
  gluten-iceberg/src/test/scala/org/apache/gluten/execution/IcebergSuite.scala
Labels: DATA_LAKE

#9472 [VL] Support decimal as double in gluten-it
  tools/gluten-it/common/src/main/java/org/apache/gluten/integration/BaseMixin.java
  tools/gluten-it/common/src/main/scala/org/apache/gluten/integration/Constants.scala
  tools/gluten-it/common/src/main/scala/org/apache/gluten/integration/DataGen.scala
  tools/gluten-it/common/src/main/scala/org/apache/gluten/integration/Suite.scala
  tools/gluten-it/common/src/main/scala/org/apache/gluten/integration/clickbench/ClickBenchSuite.scala
  tools/gluten-it/common/src/main/scala/org/apache/gluten/integration/ds/TpcdsSuite.scala
  tools/gluten-it/common/src/main/scala/org/apache/gluten/integration/h/TpchSuite.scala
Labels: TOOLS

#9489 [VL] Gluten-it: Minor refactor on configuration priorities
  tools/gluten-it/common/src/main/scala/org/apache/gluten/integration/Suite.scala
  tools/gluten-it/common/src/main/scala/org/apache/spark/sql/SparkSessionSwitcher.scala
Labels: TOOLS

#9497 [GLUTEN-9496][VL] Enable concat function with array datatype for spark
  backends-velox/src/test/scala/org/apache/gluten/execution/ScalarFunctionsValidateSuite.scala
  cpp/velox/substrait/SubstraitToVeloxPlanValidator.cc
Labels: VELOX

#9474 [Doc] Update outdated operators in the documentation
  docs/velox-backend-support-progress.md
Labels: DOCS, ready to merge

#9503 [GLUTEN-9502][VL] Remove useless datatype check for concat function
  cpp/velox/substrait/SubstraitToVeloxPlanValidator.cc
Labels: VELOX

#9513 [GLUTEN-9512][VL] Remove repeat function test from ScalarFunctionValidateSuite
  backends-velox/src/test/scala/org/apache/gluten/execution/ScalarFunctionsValidateSuite.scala
Labels: VELOX

#8221 [GLUTEN-8222][VL] Support Factorial function
  backends-velox/src/test/scala/org/apache/gluten/execution/ScalarFunctionsValidateSuite.scala
  cpp/velox/substrait/SubstraitToVeloxPlanValidator.cc
Labels: VELOX

#9506 [CORE] RasOffload: Fix false positive discard
  gluten-substrait/src/main/scala/org/apache/gluten/extension/columnar/enumerated/RasOffload.scala
Labels: CORE

#9520 [GLUTEN-9517][CH] Allow merge tree format don't configure disk cache
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHConfig.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/RuntimeSettings.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/metrics/MetricsUtil.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenClickHouseDeltaParquetWriteSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenClickHouseExcelFormatSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenClickHouseWholeStageTransformerSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/cache/GlutenClickHouseHDFSSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/hive/GlutenClickHouseNativeWriteTableSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/hive/GlutenClickHouseTableAfterRestart.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/mergetree/GlutenClickHouseMergeTreeCacheDataSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/mergetree/GlutenClickHouseMergeTreeOptimizeSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/mergetree/GlutenClickHouseMergeTreePathBasedWriteSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/mergetree/GlutenClickHouseMergeTreeTPCHSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/mergetree/GlutenClickHouseMergeTreeWriteOnHDFSSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/mergetree/GlutenClickHouseMergeTreeWriteOnHDFSWithRocksDBMetaSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/mergetree/GlutenClickHouseMergeTreeWriteOnS3Suite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/mergetree/GlutenClickHouseMergeTreeWriteStatsSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/mergetree/GlutenClickHouseMergeTreeWriteSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/metrics/GlutenClickHouseTPCHMetricsSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/utils/HDFSTestHelper.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/utils/MinioTestHelper.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/utils/StoreConfigBuilder.scala
  cpp-ch/clickhouse.version
  cpp-ch/local-engine/Common/CHUtil.cpp
  cpp-ch/local-engine/Common/GlutenConfig.h
  cpp-ch/local-engine/Disks/ObjectStorages/registerGlutenDiskObjectStorage.cpp
  cpp-ch/local-engine/Disks/registerGlutenDisks.cpp
Labels: CLICKHOUSE

#9532 [GLUTEN-1632][CH]Daily Update Clickhouse Version (20250507)
  cpp-ch/clickhouse.version
  cpp-ch/local-engine/Storages/Parquet/ParquetMeta.cpp
  cpp-ch/local-engine/Storages/Parquet/VectorizedParquetRecordReader.cpp
  cpp-ch/local-engine/Storages/Parquet/VectorizedParquetRecordReader.h
  cpp-ch/local-engine/tests/gtest_parquet_read.cpp
  cpp-ch/local-engine/tests/gtest_parquet_write.cpp
Labels: CLICKHOUSE

#9531 [VL] Support user fallback option for CollectTail
  gluten-substrait/src/main/scala/org/apache/gluten/extension/columnar/CollectTailTransformerRule.scala
  gluten-substrait/src/main/scala/org/apache/gluten/extension/columnar/validator/Validators.scala
  shims/common/src/main/scala/org/apache/gluten/config/GlutenConfig.scala
Labels: CORE

#9438 [GLUTEN-9435][VL] Fix [Unsafe]ColumnarBuildSideRelation not found ResourceHandle in resource map
  backends-velox/src/main/scala/org/apache/spark/sql/execution/ColumnarBuildSideRelation.scala
  backends-velox/src/main/scala/org/apache/spark/sql/execution/unsafe/UnsafeColumnarBuildSideRelation.scala
  backends-velox/src/test/scala/org/apache/gluten/execution/VeloxHashJoinSuite.scala
Labels: VELOX

#9511 [GLUTEN-9468][VL] Follow up: Remove parquet-arrow cpp build
  dev/build_arrow.sh
Labels: BUILD

#9350 [VL] Refactor RowToVeloxColumnarExec to remove some duplicate code
  backends-velox/src/main/scala/org/apache/gluten/execution/RowToVeloxColumnarExec.scala
Labels: VELOX

#9450 [CORE] Support batch scan customMetrics
  gluten-substrait/src/main/scala/org/apache/gluten/execution/BatchScanExecTransformer.scala
  gluten-substrait/src/main/scala/org/apache/gluten/execution/WholeStageTransformer.scala
  shims/spark32/src/main/scala/org/apache/spark/sql/execution/datasources/v2/BatchScanExecShim.scala
  shims/spark33/src/main/scala/org/apache/spark/sql/execution/datasources/v2/BatchScanExecShim.scala
Labels: CORE

#9476 [GLUTEN-9492][CH] Add Support for CollectTail operator
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHRuleApi.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHSparkPlanExecApi.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/execution/CHColumnarCollectTailExec.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenClickHouseCollectTailExecSuite.scala
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxBackend.scala
  gluten-substrait/src/main/scala/org/apache/gluten/backendsapi/BackendSettingsApi.scala
  gluten-substrait/src/main/scala/org/apache/gluten/extension/columnar/validator/Validators.scala
Labels: CORE, VELOX, CLICKHOUSE

#9533 [GLUTEN-9522][VL] Move date & math scalar functions into new test suites
  backends-velox/src/test/scala/org/apache/gluten/functions/DateFunctionsValidateSuite.scala
  backends-velox/src/test/scala/org/apache/gluten/functions/FunctionsValidateSuite.scala
  backends-velox/src/test/scala/org/apache/gluten/functions/JsonFunctionsValidateSuite.scala
  backends-velox/src/test/scala/org/apache/gluten/functions/MathFunctionsValidateSuite.scala
  backends-velox/src/test/scala/org/apache/gluten/functions/ScalarFunctionsValidateSuite.scala
  backends-velox/src/test/scala/org/apache/gluten/functions/WindowFunctionsValidateSuite.scala
Labels: VELOX

#9495 [GLUTEN-8877] Port [SPARK-32985][SQL] Decouple bucket scan and bucket filter pruning
  gluten-substrait/src/main/scala/org/apache/gluten/utils/InputPartitionsUtil.scala
Labels: CORE

#9558 [GLUTEN-9557][VL] Remove outdated test exclusion logic
  backends-velox/src/test/scala/org/apache/gluten/functions/ScalarFunctionsValidateSuite.scala
Labels: VELOX

#9550 [GLUTEN-9551][VL] Fix build failure due to libelf vcpkg unavailable files
  dev/vcpkg/ports/libelf/portfile.cmake
Labels: BUILD

#9578 [VL] Remove unused HdfsUtils
  cpp/velox/utils/HdfsUtils.cc
Labels: VELOX

#9521 [GLUTEN-9475][VL] Serialize ColumnarBatch one by one to reduce memory footprint when broadcasting
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxSparkPlanExecApi.scala
  backends-velox/src/main/scala/org/apache/spark/sql/execution/BroadcastUtils.scala
  backends-velox/src/main/scala/org/apache/spark/sql/execution/ColumnarCachedBatchSerializer.scala
  cpp/core/jni/JniWrapper.cc
  gluten-arrow/src/main/java/org/apache/gluten/vectorized/ColumnarBatchSerializeResult.java
  gluten-arrow/src/main/java/org/apache/gluten/vectorized/ColumnarBatchSerializerJniWrapper.java
Labels: VELOX

#9498 [VL] Minor: Print Velox plan before execution
  cpp/velox/compute/VeloxPlanConverter.cc
  cpp/velox/compute/VeloxRuntime.cc
Labels: VELOX

#9584 [VL] Support format cpp code on macOS
  dev/formatcppcode.sh
Labels: BUILD

#9563 [GLUTEN-9392][VL] Support integral to boolean array casts
  cpp/velox/substrait/SubstraitToVeloxPlanValidator.cc
  gluten-ut/spark32/src/test/scala/org/apache/spark/sql/catalyst/expressions/GlutenCastSuite.scala
  gluten-ut/spark33/src/test/scala/org/apache/spark/sql/catalyst/expressions/GlutenCastSuite.scala
  gluten-ut/spark34/src/test/scala/org/apache/spark/sql/catalyst/expressions/GlutenCastSuite.scala
  gluten-ut/spark35/src/test/scala/org/apache/spark/sql/catalyst/expressions/GlutenCastSuite.scala
Labels: CORE, VELOX

#9583 [GLUTEN-9581][CH] Fix: in subquery expression cannot exist in project
  backends-clickhouse/src/main/scala/org/apache/gluten/extension/CoalesceAggregationUnion.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenCoalesceAggregationUnionSuite.scala
Labels: CLICKHOUSE

#9560 [GLUTEN-9542][VL] Add validation msg for negative round scale
  cpp/velox/substrait/SubstraitToVeloxPlanValidator.cc
Labels: VELOX

#9547 [VL] Gluten-it: Enrich test report with --sql-metrics=execution-time
  tools/gluten-it/common/src/main/scala/org/apache/gluten/integration/Suite.scala
  tools/gluten-it/common/src/main/scala/org/apache/gluten/integration/metrics/PlanMetric.scala
Labels: TOOLS

#9565 [Branch-1.4][VL] Update Velox branch to make Velox compatible with old tzdata
  ep/build-velox/src/get_velox.sh
Labels: BUILD, VELOX

#9599 [Branch-1.4][VL] update docker image name for branch-1.4
  .github/workflows/docker_image.yml
Labels: INFRA

#9607 [branch-1.4][VL] Fix docker build
  .github/workflows/docker_image.yml
Labels: CORE, BUILD, VELOX, INFRA, RSS, TOOLS, CLICKHOUSE, DOCS, DATA_LAKE

#9608 [INFRA] Fix labeler
  .github/labeler.yml
Labels: INFRA

#9564 [CORE] Remove unnecessary internal from user facing configs
  docs/Configuration.md
  shims/common/src/main/scala/org/apache/gluten/config/GlutenConfig.scala
Labels: CORE, DOCS

#9602 [TYPO] Fix arg used for java version in build info
  gluten-core/pom.xml
Labels: CORE

#9614 [Branch-1.4][VL] Fix code ref in docker build
  dev/docker/Dockerfile.centos7-static-build
  dev/docker/Dockerfile.centos8-dynamic-build
  dev/docker/Dockerfile.centos8-dynamic-build-jdk11
  dev/docker/Dockerfile.centos8-dynamic-build-jdk17
  dev/docker/Dockerfile.centos8-static-build
Labels: BUILD

#9595 [GLUTEN-9594][CH] Reorder join/aggregate keys, ensure keys of all clauses are in the same order
  backends-clickhouse/src/main/scala/org/apache/gluten/extension/JoinAggregateToAggregateUnion.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenEliminateJoinSuite.scala
Labels: CLICKHOUSE

#9601 [Branch-1.4][VL] Port fix: Fix build failure due to libelf vcpkg unavailable files (#9550)
  .github/workflows/velox_backend.yml
  dev/vcpkg/ports/libelf/portfile.cmake
Labels: BUILD, INFRA

#9609 [GLUTEN-9606][CH]Support CH MergeTree + Delta DeletionVector reading
  backends-clickhouse/pom.xml
  backends-clickhouse/src-delta-20/main/scala/org/apache/spark/sql/execution/datasources/v2/clickhouse/metadata/AddFileTags.scala
  backends-clickhouse/src-delta-23/main/scala/org/apache/spark/sql/execution/datasources/v2/clickhouse/metadata/AddFileTags.scala
  backends-clickhouse/src-delta-32/main/scala/org/apache/gluten/sql/shims/delta32/Delta32Shims.scala
  backends-clickhouse/src-delta-32/main/scala/org/apache/spark/sql/delta/PreprocessTableWithDVs.scala
  backends-clickhouse/src-delta-32/main/scala/org/apache/spark/sql/execution/datasources/v2/clickhouse/metadata/AddFileTags.scala
  backends-clickhouse/src-delta-32/main/scala/org/apache/spark/sql/execution/datasources/v2/clickhouse/source/DeltaMergeTreeFileFormat.scala
  backends-clickhouse/src-delta-32/test/scala/org/apache/spark/gluten/delta/GlutenDeltaMergeTreeDeletionVectorSuite.scala
  backends-clickhouse/src-delta/main/scala/org/apache/gluten/sql/shims/DeltaShims.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/execution/GlutenMergeTreePartition.scala
  backends-clickhouse/src/main/scala/org/apache/spark/sql/execution/datasources/clickhouse/utils/MergeTreePartsPartitionsUtil.scala
  backends-clickhouse/src/main/scala/org/apache/spark/sql/execution/datasources/mergetree/MetaSerializer.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/mergetree/GlutenClickhouseMergetreeSoftAffinitySuite.scala
  backends-clickhouse/src/test/scala/org/apache/spark/affinity/MixedAffinitySuite.scala
  cpp-ch/local-engine/Operator/FillingDeltaInternalRowDeletedStep.cpp
  cpp-ch/local-engine/Operator/FillingDeltaInternalRowDeletedStep.h
  cpp-ch/local-engine/Parser/RelParsers/MergeTreeRelParser.cpp
  cpp-ch/local-engine/Parser/RelParsers/MergeTreeRelParser.h
  cpp-ch/local-engine/Storages/MergeTree/SparkMergeTreeMeta.cpp
  cpp-ch/local-engine/Storages/MergeTree/SparkMergeTreeMeta.h
  cpp-ch/local-engine/Storages/SubstraitSource/Delta/DeltaMeta.h
  cpp-ch/local-engine/Storages/SubstraitSource/Delta/DeltaParquetMeta.h
  cpp-ch/local-engine/Storages/SubstraitSource/Delta/DeltaReader.cpp
  cpp-ch/local-engine/Storages/SubstraitSource/Delta/DeltaReader.h
  cpp-ch/local-engine/Storages/SubstraitSource/FileReader.cpp
  cpp-ch/local-engine/Storages/SubstraitSource/ParquetFormatFile.cpp
Labels: CLICKHOUSE

#9624 [GLUTEN-9623][FLINK] Fix blocking queue not close may cause memory leak
  gluten-flink/runtime/src/main/java/org/apache/gluten/table/runtime/operators/GlutenSingleInputOperator.java
Labels: FLINK

#9627 [GLUTEN-9625][VL] Add explicit GCS auth type check for service account key file
  cpp/velox/utils/ConfigExtractor.cc
Labels: VELOX

#9632 [GLUTEN-9631][CH] Fix: `AggregateDescription.parameters` is not set in `AggregateGroupLimitRelParser`
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHBackend.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/extension/ConvertWindowToAggregate.scala
  cpp-ch/local-engine/Parser/RelParsers/GroupLimitRelParser.cpp
Labels: CLICKHOUSE

#9612 [GLUTEN-9611][CORE] Improve performance of PayloadCloser Iterator
  gluten-core/src/main/scala/org/apache/gluten/iterator/IteratorsV1.scala
  gluten-core/src/test/scala/org/apache/spark/iterator/IteratorBenchmark.scala
Labels: CORE

#9643 [GLUTEN-1632][CH]Daily Update Clickhouse Version (20250515)
  cpp-ch/clickhouse.version
  cpp-ch/local-engine/Storages/SubstraitSource/ReadBufferBuilder.cpp
  cpp-ch/local-engine/tests/gtest_parquet_write.cpp
Labels: CLICKHOUSE

#9652 [INFRA] Add path filter to CH backend code style checks workflow
  .github/workflows/ch_code_style.yml
Labels: INFRA

#9629 [GLUTEN-9628][CH] Fix cache data on partition table with escaped value
  backends-clickhouse/src/main/scala/org/apache/spark/sql/execution/commands/GlutenCHCacheDataCommand.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/mergetree/GlutenClickHouseMergeTreeWriteOnHDFSSuite.scala
Labels: CLICKHOUSE

#9656 Revert "[GLUTEN-9567][FLINK] Add container class `Velox4JBean` for proper JSON-based object serialization"
  gluten-flink/runtime/src/main/java/org/apache/gluten/table/runtime/operators/GlutenSingleInputOperator.java
  gluten-flink/runtime/src/main/java/org/apache/gluten/table/runtime/operators/GlutenSourceFunction.java
  gluten-flink/runtime/src/main/java/org/apache/gluten/util/Velox4JBean.java
Labels: FLINK

#9644 [VL] Update dockerfile
  .github/workflows/docker_image.yml
  dev/docker/Dockerfile.centos7-static-build
  dev/docker/Dockerfile.centos8-dynamic-build
  dev/docker/Dockerfile.centos8-dynamic-build-jdk11
  dev/docker/Dockerfile.centos8-dynamic-build-jdk17
  dev/docker/Dockerfile.centos8-static-build
  docs/developers/velox-backend-CI.md
Labels: BUILD, INFRA, DOCS

#9661 [GLUTEN-9660][CH]Fix incorrect columns order when deleting from the mergetree table with the delta dv
  backends-clickhouse/src-delta-32/test/scala/org/apache/spark/gluten/delta/GlutenDeltaMergeTreeDeletionVectorSuite.scala
  backends-clickhouse/src-delta-32/test/scala/org/apache/spark/gluten/delta/GlutenDeltaParquetDeletionVectorSuite.scala
  cpp-ch/local-engine/Parser/RelParsers/MergeTreeRelParser.cpp
Labels: CLICKHOUSE

#9662 [GLUTEN-9646][CH] Fix coalesce project union when has subquery
  backends-clickhouse/src/main/scala/org/apache/gluten/extension/CoalesceAggregationUnion.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenCoalesceAggregationUnionSuite.scala
Labels: CLICKHOUSE

#9622 [GLUTEN-9621][FLINK] Fix rowvector may not close caused memory leak
  gluten-flink/runtime/src/main/java/org/apache/gluten/table/runtime/operators/GlutenSingleInputOperator.java
  gluten-flink/runtime/src/main/java/org/apache/gluten/vectorized/FlinkRowToVLVectorConvertor.java
Labels: FLINK

#9659 [GLUTEN-9626][VL] Support lib geos in vcpkg
  cpp/velox/CMakeLists.txt
  dev/vcpkg/ports/geos/disable-warning-4996.patch
  dev/vcpkg/ports/geos/fix-exported-config.patch
  dev/vcpkg/ports/geos/geos-build.patch
  dev/vcpkg/ports/geos/geos-cmakelists.patch
  dev/vcpkg/ports/geos/portfile.cmake
  dev/vcpkg/ports/geos/usage
  dev/vcpkg/ports/geos/vcpkg.json
  dev/vcpkg/vcpkg.json
  ep/build-velox/src/setup-centos7.sh
  ep/build-velox/src/setup-centos8.sh
  ep/build-velox/src/setup-openeuler24.sh
Labels: BUILD, VELOX

#9663 [Branch-1.4][GLUTEN-9383][VL] Backport: fix leak when growing capacity
  cpp/velox/memory/VeloxMemoryManager.cc
Labels: VELOX

#9667 [INFRA][VL] Fix wrong Dockerfile
  .github/workflows/docker_image.yml
Labels: INFRA

#9665 [GLUTEN-9361][VL] Enable luhn_check function for spark 3.5
  backends-clickhouse/src/main/scala/org/apache/gluten/utils/CHExpressionUtil.scala
  backends-velox/src/test/scala/org/apache/gluten/execution/VeloxStringFunctionsSuite.scala
  gluten-substrait/src/main/scala/org/apache/gluten/expression/ExpressionConverter.scala
  shims/common/src/main/scala/org/apache/gluten/expression/ExpressionNames.scala
  shims/spark35/src/main/scala/org/apache/gluten/sql/shims/spark35/Spark35Shims.scala
Labels: CORE, VELOX, CLICKHOUSE

#9654 [GLUTEN-9653][Flink] Support `boolean` in `vector-to-row` conversion
  gluten-flink/runtime/src/main/java/org/apache/gluten/vectorized/FlinkRowToVLVectorConvertor.java
  gluten-flink/ut/src/test/java/org/apache/gluten/table/runtime/stream/common/GlutenStreamingTestBase.java
  gluten-flink/ut/src/test/java/org/apache/gluten/table/runtime/stream/custom/ScanTest.java
Labels: FLINK

#9680 [GLUTEN-9679][CH] Fix: invalid address access in str_to_map
  cpp-ch/local-engine/Functions/SparkFunctionStrToMap.cpp
Labels: CLICKHOUSE

#9588 [GLUTEN-8616] [VL] Add support for Existence Join for broadcast nested loop join
  backends-clickhouse/src/main/scala/org/apache/gluten/execution/CHBroadcastNestedLoopJoinExecTransformer.scala
  backends-velox/src/main/scala/org/apache/gluten/execution/VeloxBroadcastNestedLoopJoinExecTransformer.scala
  backends-velox/src/test/scala/org/apache/spark/sql/execution/joins/GlutenExistenceJoinSuite.scala
  cpp/velox/substrait/SubstraitToVeloxPlan.cc
  cpp/velox/substrait/SubstraitToVeloxPlanValidator.cc
  gluten-substrait/src/main/scala/org/apache/gluten/execution/BroadcastNestedLoopJoinExecTransformer.scala
  gluten-substrait/src/main/scala/org/apache/gluten/utils/SubstraitUtil.scala
Labels: CORE, VELOX, CLICKHOUSE

#8737 [GLUTEN-8736][VL] Add support for casting bool to timestamp
  cpp/velox/substrait/SubstraitToVeloxPlanValidator.cc
  gluten-ut/spark32/src/test/scala/org/apache/gluten/utils/clickhouse/ClickHouseTestSettings.scala
  gluten-ut/spark32/src/test/scala/org/apache/spark/sql/catalyst/expressions/GlutenCastSuite.scala
  gluten-ut/spark33/src/test/scala/org/apache/gluten/utils/clickhouse/ClickHouseTestSettings.scala
  gluten-ut/spark33/src/test/scala/org/apache/spark/sql/catalyst/expressions/GlutenCastSuite.scala
  gluten-ut/spark34/src/test/scala/org/apache/gluten/utils/clickhouse/ClickHouseTestSettings.scala
  gluten-ut/spark34/src/test/scala/org/apache/spark/sql/catalyst/expressions/GlutenCastSuite.scala
  gluten-ut/spark35/src/test/scala/org/apache/gluten/utils/clickhouse/ClickHouseTestSettings.scala
  gluten-ut/spark35/src/test/scala/org/apache/spark/sql/catalyst/expressions/GlutenCastSuite.scala
Labels: CORE, VELOX

#9689 [GLUTEN-9666][VL] Extend transition planner to support multiple row types
  backends-clickhouse/src/main/scala/org/apache/gluten/columnarbatch/CHBatch.scala
  backends-velox/src/main/scala/org/apache/gluten/columnarbatch/VeloxBatch.scala
  backends-velox/src/test/scala/org/apache/gluten/extension/columnar/enumerated/planner/VeloxRasSuite.scala
  backends-velox/src/test/scala/org/apache/gluten/extension/columnar/transition/VeloxTransitionSuite.scala
  gluten-core/src/main/scala/org/apache/gluten/extension/GlutenColumnarRule.scala
  gluten-core/src/main/scala/org/apache/gluten/extension/columnar/enumerated/planner/plan/GlutenPlanModel.scala
  gluten-core/src/main/scala/org/apache/gluten/extension/columnar/transition/Convention.scala
  gluten-core/src/main/scala/org/apache/gluten/extension/columnar/transition/ConventionReq.scala
  gluten-core/src/main/scala/org/apache/gluten/extension/columnar/transition/Transition.scala
  gluten-core/src/main/scala/org/apache/gluten/extension/columnar/transition/Transitions.scala
  gluten-core/src/main/scala/org/apache/gluten/extension/columnar/transition/package.scala
  gluten-substrait/src/main/scala/org/apache/gluten/execution/RowToColumnarExecBase.scala
  gluten-substrait/src/test/scala/org/apache/gluten/extension/columnar/MiscColumnarRulesSuite.scala
  gluten-substrait/src/test/scala/org/apache/gluten/extension/columnar/transition/TransitionSuite.scala
  gluten-substrait/src/test/scala/org/apache/gluten/extension/columnar/transition/TransitionSuiteBase.scala
Labels: CORE, VELOX, CLICKHOUSE

#9668 Change the code style format diff patch to JobSummary
  .github/workflows/ch_code_style.yml
  .github/workflows/code_style.yml
  dev/check.py
  dev/git-clang-format
  dev/util.py
  dev/vcpkg/ports/geos/portfile.cmake
  dev/vcpkg/ports/libelf/portfile.cmake
  dev/vcpkg/ports/simdjson/portfile.cmake
  tools/scripts/gen-function-support-docs.py
Labels: BUILD, INFRA, TOOLS

#9574 [GLUTEN-9573][Flink] Implement `createStreamOperator` and `getStreamOperatorClass` for `GlutenOneInputOperatorFactor`
  gluten-flink/runtime/src/main/java/org/apache/gluten/streaming/api/operators/GlutenOneInputOperatorFactory.java
Labels: FLINK

#9687 [GLUTEN-9681][CH] Fix the number of rows read by kafka is incorrect
  backends-clickhouse/src-kafka/main/scala/org/apache/gluten/component/CHKafkaComponent.scala
  backends-clickhouse/src-kafka/test/scala/org/apache/gluten/execution/kafka/ClickhouseGlutenKafkaScanSuite.scala
  cpp-ch/local-engine/Storages/Kafka/GlutenKafkaSource.cpp
  cpp-ch/local-engine/Storages/Kafka/GlutenKafkaSource.h
Labels: CLICKHOUSE

#9692 [GLUTEN-9691][VL]Fix driver core dump when broadcast too large when UnsafeColumnarBuildSideRelation enabled
  backends-velox/src/main/scala/org/apache/spark/sql/execution/unsafe/UnsafeBytesBufferArray.scala
Labels: VELOX

#9703 [VL] Increase the spill start partition bit to 48 to avoid overlapping with the hash bits
  cpp/velox/compute/WholeStageResultIterator.cc
  docs/get-started/Velox.md
Labels: VELOX, DOCS

#9704 [GLUTEN-9475][VL][FOLLOWUP] Avoid overflow in calculation of numRows
  backends-velox/src/main/scala/org/apache/spark/sql/execution/BroadcastUtils.scala
Labels: VELOX

#9707 [Branch-1.4][VL] Port patch #9685: add default config.guess and config.sub
  dev/vcpkg/ports/libelf/config.guess
  dev/vcpkg/ports/libelf/config.sub
  dev/vcpkg/ports/libelf/portfile.cmake
Labels: BUILD

#9536 [GLUTEN-9535][FLINK] Refactor the conversion for `RexCall`
  gluten-flink/planner/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/stream/StreamExecCalc.java
  gluten-flink/planner/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/stream/StreamExecWatermarkAssigner.java
  gluten-flink/planner/src/main/java/org/apache/gluten/rexnode/FunctionMappings.java
  gluten-flink/planner/src/main/java/org/apache/gluten/rexnode/RexConversionContext.java
  gluten-flink/planner/src/main/java/org/apache/gluten/rexnode/RexNodeConverter.java
  gluten-flink/planner/src/main/java/org/apache/gluten/rexnode/Utils.java
  gluten-flink/planner/src/main/java/org/apache/gluten/rexnode/functions/BaseRexCallConverters.java
  gluten-flink/planner/src/main/java/org/apache/gluten/rexnode/functions/ModRexCallConverter.java
  gluten-flink/planner/src/main/java/org/apache/gluten/rexnode/functions/RexCallConverter.java
  gluten-flink/planner/src/main/java/org/apache/gluten/rexnode/functions/RexCallConverterFactory.java
  gluten-flink/planner/src/main/java/org/apache/gluten/rexnode/functions/SubtractFunctionConverter.java
  gluten-flink/ut/src/test/java/org/apache/gluten/table/runtime/stream/custom/ScalarFunctionsTest.java
Labels: FLINK

#9711 [GLUTEN-1632][CH]Daily Update Clickhouse Version (20250521)
  cpp-ch/clickhouse.version
  cpp-ch/local-engine/Disks/ObjectStorages/GlutenDiskHDFS.cpp
  cpp-ch/local-engine/Storages/Kafka/GlutenKafkaSource.cpp
  cpp-ch/local-engine/Storages/Kafka/GlutenKafkaSource.h
  cpp-ch/local-engine/Storages/Kafka/ReadFromGlutenStorageKafka.cpp
  cpp-ch/local-engine/Storages/MergeTree/MergeSparkMergeTreeTask.cpp
  cpp-ch/local-engine/Storages/MergeTree/MetaDataHelper.cpp
  cpp-ch/local-engine/Storages/SubstraitSource/Iceberg/EqualityDeleteFileReader.cpp
  cpp-ch/local-engine/tests/gtest_ch_join.cpp
Labels: CLICKHOUSE

#9710 Fix the TPCH/DS script cannot throw exception
  tools/workload/tpcds/run_tpcds/tpcds_parquet.scala
  tools/workload/tpch/run_tpch/tpch_parquet.scala
Labels: TOOLS

#9718 [GLUTEN-9717][VL] Update CXX flags to run builds with defaults
  ep/build-velox/src/build_velox.sh
Labels: BUILD, VELOX

#9716 [VL] Fix missing tag after CollapseProjectExecTransformer rule
  gluten-substrait/src/main/scala/org/apache/gluten/extension/columnar/CollapseProjectExecTransformer.scala
  gluten-ut/spark35/src/test/scala/org/apache/spark/sql/extension/GlutenCollapseProjectExecTransformerSuite.scala
Labels: CORE

#9715 [VL] Fix ioWaitTime's unit to nanos in batch scan metric
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxMetricsApi.scala
Labels: VELOX

#9714 [CORE] Remove createTransformContext function
  gluten-substrait/src/main/scala/org/apache/gluten/execution/BroadcastNestedLoopJoinExecTransformer.scala
  gluten-substrait/src/main/scala/org/apache/gluten/execution/JoinExecTransformer.scala
  gluten-substrait/src/main/scala/org/apache/gluten/execution/JoinUtils.scala
  gluten-substrait/src/main/scala/org/apache/gluten/execution/SortMergeJoinExecTransformer.scala
Labels: CORE

#9693 [GLUTEN-8855][VL] Columnar shuffle code cleanup
  cpp/core/jni/JniWrapper.cc
  cpp/core/shuffle/LocalPartitionWriter.cc
  cpp/core/shuffle/LocalPartitionWriter.h
  cpp/core/shuffle/Options.h
  cpp/core/shuffle/PartitionWriter.h
  cpp/core/shuffle/Payload.cc
  cpp/core/shuffle/Payload.h
  cpp/core/shuffle/Spill.cc
  cpp/core/shuffle/Utils.cc
  cpp/core/shuffle/Utils.h
  cpp/core/shuffle/rss/RssPartitionWriter.cc
  cpp/core/shuffle/rss/RssPartitionWriter.h
  cpp/velox/benchmarks/GenericBenchmark.cc
  cpp/velox/shuffle/VeloxHashShuffleWriter.cc
  cpp/velox/shuffle/VeloxHashShuffleWriter.h
  cpp/velox/shuffle/VeloxRssSortShuffleWriter.cc
  cpp/velox/shuffle/VeloxShuffleReader.cc
  cpp/velox/shuffle/VeloxShuffleReader.h
  cpp/velox/shuffle/VeloxSortShuffleWriter.cc
  cpp/velox/tests/VeloxShuffleWriterSpillTest.cc
  cpp/velox/tests/VeloxShuffleWriterTest.cc
  cpp/velox/tests/VeloxShuffleWriterTestBase.h
Labels: VELOX

#9701 [GLUETN-9700][Flink] Refactor convertion of row to vector
  gluten-flink/runtime/src/main/java/org/apache/gluten/vectorized/ArrowVectorWriter.java
  gluten-flink/runtime/src/main/java/org/apache/gluten/vectorized/FlinkRowToVLVectorConvertor.java
  gluten-flink/ut/src/test/java/org/apache/gluten/table/runtime/stream/custom/ScanTest.java
Labels: FLINK

#9730 [VL] Fix VLA error when compiling with apple clang
  cpp/core/jni/JniCommon.h
  cpp/velox/operators/serializer/VeloxRowToColumnarConverter.cc
Labels: VELOX

#9721 [VL] Manually register velox conf on executor start
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxListenerApi.scala
  backends-velox/src/test/java/org/apache/gluten/backendsapi/VeloxListenerApiTest.java
Labels: VELOX

#9738 [VL] Add missing doc for spark.gluten.sql.columnar.backend.velox.showTaskM…
  docs/Configuration.md
  docs/get-started/Velox.md
Labels: DOCS

#9729 [GLUTEN-9728][CH] Fix: Inconsistent result from `JoinAggregateToAggregateUnion`
  backends-clickhouse/src/main/scala/org/apache/gluten/extension/CoalesceAggregationUnion.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/extension/JoinAggregateToAggregateUnion.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenCoalesceAggregationUnionSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenEliminateJoinSuite.scala
Labels: CLICKHOUSE

#9742 [GLUTEN-6887][VL] Daily Update Velox Version (2025_05_24)
  cpp/velox/operators/serializer/VeloxColumnarToRowConverter.cc
  cpp/velox/operators/serializer/VeloxRowToColumnarConverter.cc
  ep/build-velox/src/get_velox.sh
Labels: BUILD, VELOX

#9649 [GLUTEN-6609][CH] Remove unnecessary readFile override in GlutenDiskS3
  cpp-ch/local-engine/Disks/ObjectStorages/GlutenDiskS3.cpp
  cpp-ch/local-engine/Disks/ObjectStorages/GlutenDiskS3.h
Labels: CLICKHOUSE

#9748 Add a Shim layer for PartitionedFileUtil of Spark 3.5
  shims/spark35/src/main/scala/org/apache/gluten/execution/PartitionedFileUtilShim.scala
  shims/spark35/src/main/scala/org/apache/gluten/sql/shims/spark35/Spark35Shims.scala
  shims/spark35/src/main/scala/org/apache/spark/sql/execution/AbstractFileSourceScanExec.scala
Labels: CORE

#9725 [VL] Add sqrt support
  backends-velox/src/test/scala/org/apache/gluten/functions/MathFunctionsValidateSuite.scala
Labels: VELOX

#9765 [GLUTEN-9764][VL] Use auto re2 source for openEuler24
  dev/build_helper_functions.sh
Labels: BUILD

#9749 [VL] RAS: Add internal property `MemoRole` to reduce duplications in plan enumeration for rule applications
  backends-velox/src/test/scala/org/apache/gluten/extension/columnar/enumerated/planner/VeloxRasSuite.scala
  gluten-core/src/main/scala/org/apache/gluten/extension/columnar/cost/LongCostModel.scala
  gluten-core/src/main/scala/org/apache/gluten/extension/columnar/enumerated/planner/metadata/GlutenMetadataModel.scala
  gluten-core/src/main/scala/org/apache/gluten/extension/columnar/enumerated/planner/plan/GlutenPlanModel.scala
  gluten-core/src/main/scala/org/apache/gluten/extension/columnar/enumerated/planner/plan/GroupLeafExec.scala
  gluten-core/src/main/scala/org/apache/gluten/extension/columnar/enumerated/planner/property/Conv.scala
  gluten-core/src/main/scala/org/apache/gluten/extension/columnar/enumerated/planner/property/GlutenPropertyModel.scala
  gluten-ras/common/src/main/scala/org/apache/gluten/ras/MetadataModel.scala
  gluten-ras/common/src/main/scala/org/apache/gluten/ras/PlanModel.scala
  gluten-ras/common/src/main/scala/org/apache/gluten/ras/PropertyModel.scala
  gluten-ras/common/src/main/scala/org/apache/gluten/ras/Ras.scala
  gluten-ras/common/src/main/scala/org/apache/gluten/ras/RasCluster.scala
  gluten-ras/common/src/main/scala/org/apache/gluten/ras/RasGroup.scala
  gluten-ras/common/src/main/scala/org/apache/gluten/ras/RasNode.scala
  gluten-ras/common/src/main/scala/org/apache/gluten/ras/dp/DpPlanner.scala
  gluten-ras/common/src/main/scala/org/apache/gluten/ras/dp/DpZipperAlgo.scala
  gluten-ras/common/src/main/scala/org/apache/gluten/ras/exaustive/ExhaustivePlanner.scala
  gluten-ras/common/src/main/scala/org/apache/gluten/ras/memo/ForwardMemoTable.scala
  gluten-ras/common/src/main/scala/org/apache/gluten/ras/memo/Memo.scala
  gluten-ras/common/src/main/scala/org/apache/gluten/ras/memo/MemoTable.scala
  gluten-ras/common/src/main/scala/org/apache/gluten/ras/path/OutputFilter.scala
  gluten-ras/common/src/main/scala/org/apache/gluten/ras/path/PathFinder.scala
  gluten-ras/common/src/main/scala/org/apache/gluten/ras/path/RasPath.scala
  gluten-ras/common/src/main/scala/org/apache/gluten/ras/property/MemoRole.scala
  gluten-ras/common/src/main/scala/org/apache/gluten/ras/property/PropertySet.scala
  gluten-ras/common/src/main/scala/org/apache/gluten/ras/property/PropertySetFactory.scala
  gluten-ras/common/src/main/scala/org/apache/gluten/ras/rule/EnforcerRule.scala
  gluten-ras/common/src/main/scala/org/apache/gluten/ras/rule/EnforcerRuleFactory.scala
  gluten-ras/common/src/main/scala/org/apache/gluten/ras/rule/EnforcerRuleSet.scala
  gluten-ras/common/src/main/scala/org/apache/gluten/ras/rule/RasRule.scala
  gluten-ras/common/src/main/scala/org/apache/gluten/ras/rule/RuleApplier.scala
  gluten-ras/common/src/main/scala/org/apache/gluten/ras/vis/GraphvizVisualizer.scala
  gluten-ras/common/src/test/scala/org/apache/gluten/ras/MetadataSuite.scala
  gluten-ras/common/src/test/scala/org/apache/gluten/ras/OperationSuite.scala
  gluten-ras/common/src/test/scala/org/apache/gluten/ras/PropertySuite.scala
  gluten-ras/common/src/test/scala/org/apache/gluten/ras/RasSuite.scala
  gluten-ras/common/src/test/scala/org/apache/gluten/ras/RasSuiteBase.scala
  gluten-ras/common/src/test/scala/org/apache/gluten/ras/mock/MockMemoState.scala
  gluten-ras/common/src/test/scala/org/apache/gluten/ras/mock/MockRasPath.scala
  gluten-ras/common/src/test/scala/org/apache/gluten/ras/specific/DistributedSuite.scala
Labels: CORE, VELOX

#9762 [CH] Support deletion vector optimize for mergetree(add ut)
  backends-clickhouse/src-delta-33/test/scala/org/apache/spark/gluten/delta/GlutenDeltaMergeTreeDeletionVectorSuite.scala
Labels: CLICKHOUSE

#9576 [GLUTEN-9524][FLINK] Use spotless for style check
  gluten-flink/.scalafmt.conf
  gluten-flink/loader/src/main/java/org/apache/flink/table/planner/loader/PlannerModule.java
  gluten-flink/planner/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/common/CommonExecSink.java
  gluten-flink/planner/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/stream/StreamExecCalc.java
  gluten-flink/planner/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/stream/StreamExecWatermarkAssigner.java
  gluten-flink/planner/src/main/java/org/apache/gluten/rexnode/RexConversionContext.java
  gluten-flink/planner/src/main/java/org/apache/gluten/rexnode/RexNodeConverter.java
  gluten-flink/planner/src/main/java/org/apache/gluten/rexnode/Utils.java
  gluten-flink/planner/src/main/java/org/apache/gluten/rexnode/functions/BaseRexCallConverters.java
  gluten-flink/planner/src/main/java/org/apache/gluten/rexnode/functions/ModRexCallConverter.java
  gluten-flink/planner/src/main/java/org/apache/gluten/rexnode/functions/RexCallConverter.java
  gluten-flink/planner/src/main/java/org/apache/gluten/rexnode/functions/RexCallConverterFactory.java
  gluten-flink/pom.xml
  gluten-flink/runtime/src/main/java/org/apache/flink/client/StreamGraphTranslator.java
  gluten-flink/runtime/src/main/java/org/apache/flink/runtime/taskexecutor/TaskManagerRunner.java
  gluten-flink/runtime/src/main/java/org/apache/flink/streaming/runtime/translators/LegacySourceTransformationTranslator.java
  gluten-flink/runtime/src/main/java/org/apache/flink/streaming/runtime/translators/SinkTransformationTranslator.java
  gluten-flink/runtime/src/main/java/org/apache/flink/streaming/runtime/translators/SourceTransformationTranslator.java
  gluten-flink/runtime/src/main/java/org/apache/gluten/streaming/api/operators/GlutenOneInputOperatorFactory.java
  gluten-flink/runtime/src/main/java/org/apache/gluten/streaming/api/operators/GlutenOperator.java
  gluten-flink/runtime/src/main/java/org/apache/gluten/streaming/api/operators/GlutenStreamSource.java
  gluten-flink/runtime/src/main/java/org/apache/gluten/table/runtime/operators/GlutenSingleInputOperator.java
  gluten-flink/runtime/src/main/java/org/apache/gluten/table/runtime/operators/GlutenSourceFunction.java
  gluten-flink/runtime/src/main/java/org/apache/gluten/util/LogicalTypeConverter.java
  gluten-flink/runtime/src/main/java/org/apache/gluten/util/PlanNodeIdGenerator.java
  gluten-flink/runtime/src/main/java/org/apache/gluten/vectorized/ArrowVectorAccessor.java
  gluten-flink/runtime/src/main/java/org/apache/gluten/vectorized/ArrowVectorWriter.java
  gluten-flink/runtime/src/main/java/org/apache/gluten/vectorized/FlinkRowToVLVectorConvertor.java
  gluten-flink/runtime/src/main/java/org/apache/gluten/vectorized/VLVectorIterator.java
  gluten-flink/ut/src/test/java/org/apache/gluten/table/runtime/stream/common/GlutenStreamingTestBase.java
  gluten-flink/ut/src/test/java/org/apache/gluten/table/runtime/stream/common/Velox4jEnvironment.java
  gluten-flink/ut/src/test/java/org/apache/gluten/table/runtime/stream/custom/ScalarFunctionsTest.java
  gluten-flink/ut/src/test/java/org/apache/gluten/table/runtime/stream/custom/ScanTest.java
Labels: FLINK

#9669 [FLINK] Fix incorrect Flink-to-Velox conversion on varbinary literals
  gluten-flink/planner/src/main/java/org/apache/gluten/rexnode/RexNodeConverter.java
Labels: FLINK

#9766 [GLUTEN-9163][VL][FOLLOWUP] Fix segfault triggered by fixed-width inputs
  cpp/velox/shuffle/VeloxSortShuffleWriter.cc
  cpp/velox/tests/VeloxShuffleWriterTest.cc
Labels: VELOX

#9786 [GLUTEN-9774][VL] Fix AWS, GCS and etc. storge backend builds
  dev/builddeps-veloxbe.sh
Labels: BUILD

#9778 [FLINK] Add a basic CI job for flink module
  .github/workflows/flink.yml
  gluten-flink/docs/Flink.md
  gluten-flink/patches/fix-velox4j.patch
Labels: INFRA, FLINK

#9815 [VL] Following #9802, fix the plan listener not working for Scala 2.12
  gluten-substrait/src/test/scala/org/apache/spark/sql/WithQueryPlanListener.scala
Labels: CORE
