Repository apache/incubator-gluten, pull requests merged in 2025-09, with the labels that each got.

#10558 [GLUEN-10107][INFRA]Deprecate isUseUniffleShuffleManager from glutenConfig
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHSparkPlanExecApi.scala
  gluten-substrait/src/main/scala/org/apache/gluten/config/GlutenConfig.scala
Labels: CORE, CLICKHOUSE

#10583 [GLUTEN-10582][VL] Add Cudf memory resource mode and percent parameters
  backends-velox/src/main/scala/org/apache/gluten/config/VeloxConfig.scala
  cpp/velox/compute/VeloxBackend.cc
  cpp/velox/config/VeloxConfig.h
  docs/velox-configuration.md
Labels: VELOX, DOCS

#10584 [GLUTEN-8852][VL] Update package script for spark-400
  dev/buildbundle-veloxbe.sh
  dev/builddeps-veloxbe.sh
Labels: BUILD

#10596 [GLUTEN-10595][VL] Separate cpp test utils from the utils directory
  cpp/CMakeLists.txt
  cpp/velox/CMakeLists.txt
  cpp/velox/benchmarks/GenericBenchmark.cc
  cpp/velox/tests/VeloxColumnarBatchSerializerTest.cc
  cpp/velox/tests/VeloxRowToColumnarTest.cc
  cpp/velox/tests/VeloxRssSortShuffleWriterTest.cc
  cpp/velox/tests/VeloxShuffleWriterSpillTest.cc
  cpp/velox/tests/VeloxShuffleWriterTest.cc
  cpp/velox/tests/VeloxShuffleWriterTestBase.h
  cpp/velox/tests/utils/LocalRssClient.cc
  cpp/velox/tests/utils/LocalRssClient.h
  cpp/velox/tests/utils/TestAllocationListener.cc
  cpp/velox/tests/utils/TestAllocationListener.h
  cpp/velox/tests/utils/TestUtils.h
Labels: VELOX

#10604 [DOC][FLINK] Update flink build command to skip gpg and spotless check
  gluten-flink/docs/Flink.md
Labels: FLINK

#10497 [GLUTEN-9335][VL] Support iceberg partition write
  backends-velox/src-iceberg/main/scala/org/apache/gluten/connector/write/IcebergColumnarBatchDataWriter.scala
  backends-velox/src-iceberg/main/scala/org/apache/gluten/connector/write/IcebergDataWriteFactory.scala
  backends-velox/src-iceberg/main/scala/org/apache/iceberg/transforms/IcebergTransformUtil.scala
  backends-velox/src-iceberg/test/scala/org/apache/gluten/execution/VeloxTPCHIcebergSuite.scala
  backends-velox/src-iceberg/test/scala/org/apache/gluten/execution/enhanced/VeloxIcebergSuite.scala
  backends-velox/src/main/resources/org/apache/gluten/proto/IcebergPartitionSpec.proto
  cpp/velox/compute/iceberg/IcebergWriter.cc
  cpp/velox/tests/iceberg/IcebergWriteTest.cc
  dev/ci-velox-buildstatic-centos-7-enhanced-features.sh
  gluten-iceberg/src/main/scala/org/apache/gluten/execution/IcebergWriteExec.scala
  gluten-iceberg/src/main/scala/org/apache/iceberg/spark/source/IcebergWriteUtil.scala
Labels: BUILD, VELOX, DATA_LAKE

#10581 [GLUTEN-10607][MINOR] Fix: Use `setSafe` in DateWriter to avoid overflow
  gluten-arrow/src/main/java/org/apache/gluten/vectorized/ArrowWritableColumnVector.java
Labels: VELOX

#10591 [GLUTEN-10577][CELEBORN] Refactor `CelebornShuffleManager` to load factory in a better way
  backends-clickhouse/src-celeborn/main/scala/org/apache/spark/shuffle/CHCelebornColumnarBatchSerializerFactory.scala
  backends-clickhouse/src-celeborn/main/scala/org/apache/spark/shuffle/CHCelebornColumnarShuffleWriterFactory.scala
  backends-velox/src-celeborn/main/scala/org/apache/spark/shuffle/VeloxCelebornColumnarBatchSerializerFactory.scala
  backends-velox/src-celeborn/main/scala/org/apache/spark/shuffle/VeloxCelebornColumnarShuffleWriterFactory.scala
  gluten-celeborn/src/main/java/org/apache/spark/shuffle/gluten/celeborn/CelebornColumnarBatchSerializerFactory.java
  gluten-celeborn/src/main/java/org/apache/spark/shuffle/gluten/celeborn/CelebornShuffleManager.java
  gluten-celeborn/src/main/java/org/apache/spark/shuffle/gluten/celeborn/CelebornShuffleWriterFactory.java
Labels: VELOX, RSS, CLICKHOUSE

#10587 [CORE] Merge SubstraitUtil classes
  gluten-substrait/src/main/java/org/apache/gluten/substrait/rel/LocalFilesNode.java
  gluten-substrait/src/main/java/org/apache/gluten/substrait/utils/SubstraitUtil.java
  gluten-substrait/src/main/scala/org/apache/gluten/utils/SubstraitUtil.scala
Labels: CORE

#10606 [GLUTEN-10605][VL] Rewrite unbounded window to an equivalent aggregate join
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxRuleApi.scala
  backends-velox/src/main/scala/org/apache/gluten/config/VeloxConfig.scala
  backends-velox/src/main/scala/org/apache/gluten/extension/RewriteUnboundedWindow.scala
  backends-velox/src/test/scala/org/apache/gluten/execution/VeloxWindowExpressionSuite.scala
Labels: VELOX

#10022 [GLUTEN-10013][FLINK] Support function reinterpret
  gluten-flink/planner/src/main/java/org/apache/gluten/rexnode/functions/ReinterpretRexCallConverter.java
  gluten-flink/planner/src/main/java/org/apache/gluten/rexnode/functions/RexCallConverterFactory.java
  gluten-flink/ut/src/test/java/org/apache/gluten/table/runtime/stream/custom/ScalarFunctionsTest.java
Labels: FLINK

#10641 [VL] Fix arrow url typo
  dev/build_arrow.sh
Labels: BUILD

#10619 [GLUTEN-10618][VL] Update input iterator metrics name to include more details
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHMetricsApi.scala
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxMetricsApi.scala
  gluten-substrait/src/main/scala/org/apache/gluten/backendsapi/MetricsApi.scala
  gluten-substrait/src/main/scala/org/apache/spark/sql/execution/ColumnarCollapseTransformStages.scala
Labels: CORE, VELOX, CLICKHOUSE

#10603 [GLUTEN-10450][VL] Reclassify internal/public configs and remove internal configs from doc
  backends-velox/src/main/scala/org/apache/gluten/config/VeloxConfig.scala
  backends-velox/src/test/scala/org/apache/gluten/config/AllVeloxConfiguration.scala
  docs/Configuration.md
  docs/velox-configuration.md
  gluten-core/src/main/scala/org/apache/gluten/config/ConfigBuilder.scala
  gluten-core/src/main/scala/org/apache/gluten/config/GlutenCoreConfig.scala
  gluten-substrait/src/main/scala/org/apache/gluten/config/GlutenConfig.scala
  gluten-substrait/src/test/scala/org/apache/gluten/config/AllGlutenConfiguration.scala
Labels: CORE, VELOX, DOCS

#10631 [GLUTEN-10630][FLINK] Support processing time for q12
  gluten-flink/planner/src/main/java/org/apache/gluten/rexnode/WindowUtils.java
Labels: FLINK

#10673 Add kevinwilfong as a collaborator
  .asf.yaml
Labels: INFRA

#10672 [GLUTEN-10671][VL] Ignore datetime-legacy.sql
  gluten-ut/spark35/src/test/scala/org/apache/spark/sql/GlutenSQLQueryTestSuite.scala
Labels: CORE

#10688 [GLUTEN-10687] Refactor `expressionBlacklist` to follow Scala style
  gluten-substrait/src/main/scala/org/apache/gluten/config/GlutenConfig.scala
Labels: CORE

#10682 [MINOR] Refactor a collection operation to follow Scala style
  gluten-substrait/src/main/scala/org/apache/gluten/execution/WholeStageTransformer.scala
Labels: CORE

#10669 [GLUTEN-10668] Refactor to share WindowGroupLimitExecShim across different Spark shims
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHSparkPlanExecApi.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/execution/CHWindowGroupLimitExecTransformer.scala
  gluten-substrait/src/main/scala/org/apache/gluten/backendsapi/SparkPlanExecApi.scala
  gluten-substrait/src/main/scala/org/apache/gluten/execution/WindowGroupLimitExecTransformer.scala
  gluten-substrait/src/main/scala/org/apache/gluten/extension/columnar/offload/OffloadSingleNodeRules.scala
  gluten-substrait/src/main/scala/org/apache/gluten/extension/columnar/rewrite/PullOutPreProject.scala
  shims/common/src/main/scala/org/apache/gluten/sql/shims/SparkShims.scala
  shims/common/src/main/scala/org/apache/spark/sql/execution/window/WindowGroupLimitExecShim.scala
  shims/spark32/src/main/scala/org/apache/spark/sql/execution/window/WindowGroupLimitExecShim.scala
  shims/spark33/src/main/scala/org/apache/spark/sql/execution/window/WindowGroupLimitExecShim.scala
  shims/spark34/src/main/scala/org/apache/spark/sql/execution/window/WindowGroupLimitExecShim.scala
  shims/spark35/src/main/scala/org/apache/gluten/sql/shims/spark35/Spark35Shims.scala
  shims/spark40/src/main/scala/org/apache/gluten/sql/shims/spark40/Spark40Shims.scala
  shims/spark40/src/main/scala/org/apache/spark/sql/execution/window/WindowGroupLimitExecShim.scala
Labels: CORE, CLICKHOUSE

#10659 [GLUTEN-10613][VL] Add `experimental` method to ConfigBuilder and document experimental config
  backends-velox/src/main/scala/org/apache/gluten/config/VeloxConfig.scala
  backends-velox/src/test/scala/org/apache/gluten/config/AllVeloxConfiguration.scala
  docs/Configuration.md
  docs/velox-configuration.md
  gluten-core/src/main/scala/org/apache/gluten/config/ConfigBuilder.scala
  gluten-core/src/main/scala/org/apache/gluten/config/ConfigEntry.scala
  gluten-core/src/main/scala/org/apache/gluten/config/GlutenCoreConfig.scala
  gluten-substrait/src/main/scala/org/apache/gluten/config/GlutenConfig.scala
  gluten-substrait/src/test/scala/org/apache/gluten/config/AllGlutenConfiguration.scala
Labels: CORE, VELOX, DOCS

#10646 [GLUTEN-10625][CORE] Add RewriteCreateTableAsSelect for spark34
  backends-velox/src-iceberg/test/scala/org/apache/gluten/execution/enhanced/VeloxIcebergSuite.scala
  backends-velox/src-iceberg/test/scala/org/apache/spark/sql/gluten/TestUtils.scala
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxRuleApi.scala
  shims/common/src/main/scala/org/apache/gluten/sql/shims/SparkShims.scala
  shims/spark34/src/main/scala/org/apache/gluten/sql/shims/spark34/Spark34Shims.scala
  shims/spark34/src/main/scala/org/apache/spark/sql/extension/RewriteCreateTableAsSelect.scala
Labels: CORE, VELOX

#10695 [CORE] Minor cleanups for Delta support code
  backends-velox/src-delta/main/scala/org/apache/gluten/component/VeloxDeltaComponent.scala
  gluten-delta/src/main/scala/org/apache/gluten/extension/OffloadDeltaFilter.scala
  gluten-delta/src/main/scala/org/apache/gluten/extension/OffloadDeltaProject.scala
  gluten-delta/src/main/scala/org/apache/gluten/extension/OffloadDeltaScan.scala
Labels: VELOX, DATA_LAKE

#10661 [VL] Support Velox's preferred_output_batch_bytes config
  backends-velox/src/main/scala/org/apache/gluten/config/VeloxConfig.scala
  backends-velox/src/main/scala/org/apache/gluten/datasource/ArrowCSVFileFormat.scala
  backends-velox/src/main/scala/org/apache/gluten/execution/RowToVeloxColumnarExec.scala
  backends-velox/src/main/scala/org/apache/spark/sql/execution/ColumnarCachedBatchSerializer.scala
  backends-velox/src/test/java/org/apache/gluten/columnarbatch/ColumnarBatchTest.java
  backends-velox/src/test/scala/org/apache/gluten/execution/MiscOperatorSuite.scala
  cpp/velox/compute/WholeStageResultIterator.cc
  cpp/velox/config/VeloxConfig.h
  gluten-substrait/src/main/scala/org/apache/gluten/config/GlutenConfig.scala
Labels: CORE, VELOX

#10716 [GLUTEN-10715][CORE] Bump Spark version from 4.0.0 to 4.0.1
  pom.xml
  tools/gluten-it/pom.xml
Labels: CORE, TOOLS

#10692 [GLUTEN-10691] Improve getAndCheckSubstraitName for ExpressionConverter
  gluten-substrait/src/main/scala/org/apache/gluten/expression/ExpressionConverter.scala
Labels: CORE

#10721 [VL] Remove unused-function warning
  cpp/velox/shuffle/VeloxShuffleReader.cc
Labels: VELOX

#10696 [CORE] Fix FallbackByNativeValidation attempts to offload a whole tree than a single node
  gluten-substrait/src/main/scala/org/apache/gluten/extension/columnar/validator/Validators.scala
Labels: CORE

#10674 [GLUTEN-10629][FLINK] Support udf count_char
  gluten-flink/planner/src/main/java/org/apache/gluten/rexnode/RexNodeConverter.java
  gluten-flink/planner/src/main/java/org/apache/gluten/rexnode/functions/RexCallConverterFactory.java
  gluten-flink/runtime/src/main/java/org/apache/gluten/table/runtime/operators/GlutenVectorSourceFunction.java
  gluten-flink/runtime/src/main/java/org/apache/gluten/util/LogicalTypeConverter.java
Labels: FLINK

#10744 [MINOR] Fix pom.xml code format
  backends-clickhouse/pom.xml
  backends-velox/pom.xml
  gluten-flink/pom.xml
  gluten-iceberg/pom.xml
  gluten-kafka/pom.xml
  gluten-paimon/pom.xml
  gluten-ui/pom.xml
  gluten-uniffle/pom.xml
  gluten-ut/common/pom.xml
  gluten-ut/spark32/pom.xml
  package/pom.xml
  pom.xml
  tools/qualification-tool/pom.xml
Labels: CORE, VELOX, RSS, TOOLS, CLICKHOUSE, DATA_LAKE, FLINK

#10743 [VL] Enable passing JSON tests
  gluten-ut/spark32/src/test/scala/org/apache/gluten/utils/velox/VeloxTestSettings.scala
  gluten-ut/spark33/src/test/scala/org/apache/gluten/utils/velox/VeloxTestSettings.scala
  gluten-ut/spark34/src/test/scala/org/apache/gluten/utils/velox/VeloxTestSettings.scala
  gluten-ut/spark35/src/test/scala/org/apache/gluten/utils/velox/VeloxTestSettings.scala
Labels: CORE

#10754 [GLUTEN-8851][VL] Fix the TakeOrderedAndProjectExecTransformer does not respect cudf tag
  gluten-substrait/src/main/scala/org/apache/gluten/execution/TakeOrderedAndProjectExecTransformer.scala
Labels: CORE

#10714 [GLUTEN-10713] Eliminate the c2r before iceberg partition write
  backends-clickhouse/src-iceberg/main/scala/org/apache/gluten/component/CHIcebergComponent.scala
  backends-velox/src-iceberg/main/scala/org/apache/gluten/component/VeloxIcebergComponent.scala
  backends-velox/src-iceberg/main/scala/org/apache/gluten/execution/IcebergWriteJniWrapper.java
  backends-velox/src-iceberg/main/scala/org/apache/gluten/extension/OffloadIcebergWrite.scala
  backends-velox/src-iceberg/test/scala/org/apache/gluten/execution/enhanced/VeloxIcebergSuite.scala
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxRuleApi.scala
  gluten-iceberg/src/main/scala/org/apache/gluten/extension/OffloadIcebergScan.scala
  gluten-substrait/src/main/scala/org/apache/gluten/execution/ColumnarV2TableWriteExec.scala
  gluten-substrait/src/main/scala/org/apache/gluten/extension/columnar/V2WritePostRule.scala
  gluten-substrait/src/main/scala/org/apache/gluten/extension/columnar/validator/Validators.scala
Labels: CORE, VELOX, CLICKHOUSE, DATA_LAKE

#10755 [MINOR] Enable pom spotless format check
  backends-clickhouse/pom.xml
  backends-velox/pom.xml
  gluten-arrow/pom.xml
  gluten-celeborn/pom.xml
  gluten-core/pom.xml
  gluten-delta/pom.xml
  gluten-flink/.tool-versions
  gluten-flink/loader/pom.xml
  gluten-flink/planner/pom.xml
  gluten-flink/pom.xml
  gluten-flink/runtime/pom.xml
  gluten-flink/ut/pom.xml
  gluten-hudi/pom.xml
  gluten-iceberg/pom.xml
  gluten-kafka/pom.xml
  gluten-paimon/pom.xml
  gluten-ras/common/pom.xml
  gluten-ras/planner/pom.xml
  gluten-ras/pom.xml
  gluten-substrait/pom.xml
  gluten-ui/pom.xml
  gluten-uniffle/pom.xml
  gluten-ut/common/pom.xml
  gluten-ut/pom.xml
  gluten-ut/spark32/pom.xml
  gluten-ut/spark33/pom.xml
  gluten-ut/spark34/pom.xml
  gluten-ut/spark35/pom.xml
  gluten-ut/test/pom.xml
  package/pom.xml
  pom.xml
  shims/common/pom.xml
  shims/pom.xml
  shims/spark32/pom.xml
  shims/spark33/pom.xml
  shims/spark34/pom.xml
  shims/spark35/pom.xml
  shims/spark40/pom.xml
  tools/gluten-it/pom.xml
  tools/qualification-tool/pom.xml
Labels: CORE, VELOX, RSS, TOOLS, CLICKHOUSE, DATA_LAKE, FLINK

#10737 [GLUTEN-10736] Refactor SparkDirectoryUtil with ConcurrentHashMap
  gluten-core/src/main/scala/org/apache/spark/util/SparkDirectoryUtil.scala
Labels: CORE

#10757 [GLUTEN-10550][FLINK] Add nexmark tests for q18-q21
  gluten-flink/ut/src/test/resources/nexmark/q18.sql
  gluten-flink/ut/src/test/resources/nexmark/q19.sql
  gluten-flink/ut/src/test/resources/nexmark/q20.sql
  gluten-flink/ut/src/test/resources/nexmark/q21.sql
Labels: FLINK

#10746 [GLUTEN-10741][CH] Invalid results: sort keys contains partition keys when get windows' topK
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/tpch/GlutenClickHouseTPCHSaltNullParquetSuite.scala
  cpp-ch/local-engine/Common/GlutenConfig.h
  cpp-ch/local-engine/Parser/RelParsers/GroupLimitRelParser.cpp
  cpp-ch/local-engine/Parser/RelParsers/GroupLimitRelParser.h
  cpp-ch/local-engine/Parser/RelParsers/SortParsingUtils.cpp
  cpp-ch/local-engine/Parser/RelParsers/SortParsingUtils.h
Labels: CLICKHOUSE

#10768 [MINOR] Override `outputPartitioning` in `GenerateExecTransformerBase`
  gluten-substrait/src/main/scala/org/apache/gluten/execution/GenerateExecTransformerBase.scala
Labels: CORE

#10774 [VL] Promote SharedLibraryLoader to SPI
  backends-velox/src/main/resources/META-INF/services/org.apache.gluten.spi.SharedLibraryLoader
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxListenerApi.scala
  backends-velox/src/main/scala/org/apache/gluten/spi/SharedLibraryLoader.scala
  backends-velox/src/main/scala/org/apache/gluten/spi/SharedLibraryLoaderCentos7.scala
  backends-velox/src/main/scala/org/apache/gluten/spi/SharedLibraryLoaderCentos8.scala
  backends-velox/src/main/scala/org/apache/gluten/spi/SharedLibraryLoaderCentos9.scala
  backends-velox/src/main/scala/org/apache/gluten/spi/SharedLibraryLoaderDebian11.scala
  backends-velox/src/main/scala/org/apache/gluten/spi/SharedLibraryLoaderDebian12.scala
  backends-velox/src/main/scala/org/apache/gluten/spi/SharedLibraryLoaderMacOS.scala
  backends-velox/src/main/scala/org/apache/gluten/spi/SharedLibraryLoaderOpenEuler2403.scala
  backends-velox/src/main/scala/org/apache/gluten/spi/SharedLibraryLoaderUbuntu2004.scala
  backends-velox/src/main/scala/org/apache/gluten/spi/SharedLibraryLoaderUbuntu2204.scala
  backends-velox/src/main/scala/org/apache/gluten/utils/SharedLibraryLoader.scala
  backends-velox/src/main/scala/org/apache/gluten/utils/SharedLibraryLoaderUtils.scala
  backends-velox/src/test/resources/META-INF/services/org.apache.gluten.spi.SharedLibraryLoader
  backends-velox/src/test/scala/org/apache/gluten/utils/MySharedLibraryLoader.scala
  backends-velox/src/test/scala/org/apache/gluten/utils/SharedLibraryLoaderUtilsSuite.scala
Labels: VELOX

#10809 [CORE] Fix iceberg version to 1.10.0 for Spark 4.0
  pom.xml
Labels: CORE

#10812 [VL] Fix flaky columnar cache tests by clearing the cache serializer states before the suites are run
  backends-velox/src/test/scala/org/apache/gluten/execution/ArrowCsvScanSuite.scala
  backends-velox/src/test/scala/org/apache/gluten/execution/VeloxColumnarCacheSuite.scala
  gluten-core/src/main/scala/org/apache/spark/sql/execution/columnar/SparkCacheUtil.scala
  gluten-substrait/src/main/scala/org/apache/gluten/config/GlutenConfig.scala
Labels: CORE, VELOX

#10780 [VL] Add Spark array_sort support with lambda function
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxSparkPlanExecApi.scala
  backends-velox/src/test/scala/org/apache/gluten/execution/MiscOperatorSuite.scala
Labels: VELOX

#10793 [DOC] Improve and simplify README.md and NewToGluten.md
  README.md
  docs/developers/NewToGluten.md
  docs/image/gluten_golden_file_upload.png
  tools/qualification-tool/README.md
Labels: TOOLS, DOCS

#10783 [VL] tools/workload/tpch: Delete temporary files generated by dbgen
  tools/workload/tpch/gen_data/parquet_dataset/tpch_datagen_parquet.scala
Labels: TOOLS
