Repository apache/incubator-gluten, pull requests merged in 2025-06, with the labels that each got.

#9806 [GLUTEN-9755][FLINK] Support null
  gluten-flink/runtime/src/main/java/org/apache/gluten/vectorized/ArrowVectorAccessor.java
  gluten-flink/runtime/src/main/java/org/apache/gluten/vectorized/ArrowVectorWriter.java
  gluten-flink/ut/src/test/java/org/apache/gluten/table/runtime/stream/custom/ScanTest.java
Labels: FLINK

#9837 [VL] Remove useless compile.sh
  .github/labeler.yml
  cpp/compile.sh
Labels: BUILD, VELOX, INFRA

#9822 [GLUTEN-9823] Exclude jsr305 from Gluten shaded jar to reduce redundancy
  package/pom.xml
Labels: CORE

#9848 [VL] Minor fix: simplify a few function tests' verbose names
  backends-velox/src/test/scala/org/apache/gluten/functions/DateFunctionsValidateSuite.scala
  backends-velox/src/test/scala/org/apache/gluten/functions/JsonFunctionsValidateSuite.scala
  backends-velox/src/test/scala/org/apache/gluten/functions/MathFunctionsValidateSuite.scala
  backends-velox/src/test/scala/org/apache/gluten/functions/ScalarFunctionsValidateSuite.scala
Labels: VELOX

#9811 [FLINK] Run unit tests in the Flink CI process
  .github/workflows/flink.yml
Labels: INFRA

#9780 [VL] Enable BatchEvalPythonExecSuite
  gluten-ut/spark32/src/test/scala/org/apache/gluten/utils/velox/VeloxTestSettings.scala
  gluten-ut/spark32/src/test/scala/org/apache/spark/sql/execution/python/GlutenBatchEvalPythonExecSuite.scala
  gluten-ut/spark33/src/test/scala/org/apache/gluten/utils/velox/VeloxTestSettings.scala
  gluten-ut/spark33/src/test/scala/org/apache/spark/sql/execution/python/GlutenBatchEvalPythonExecSuite.scala
  gluten-ut/spark34/src/test/scala/org/apache/gluten/utils/velox/VeloxTestSettings.scala
  gluten-ut/spark34/src/test/scala/org/apache/spark/sql/execution/python/GlutenBatchEvalPythonExecSuite.scala
  gluten-ut/spark35/src/test/scala/org/apache/gluten/utils/velox/VeloxTestSettings.scala
  gluten-ut/spark35/src/test/scala/org/apache/spark/sql/execution/python/GlutenBatchEvalPythonExecSuite.scala
Labels: CORE

#9856 [GLUTEN-1632][CH]Daily Update Clickhouse Version (20250604)
  cpp-ch/clickhouse.version
  cpp-ch/local-engine/Storages/Parquet/ParquetMeta.cpp
  cpp-ch/local-engine/Storages/Parquet/ParquetMeta.h
  cpp-ch/local-engine/Storages/Parquet/VectorizedParquetRecordReader.cpp
  cpp-ch/local-engine/Storages/SubstraitSource/ParquetFormatFile.cpp
  cpp-ch/local-engine/tests/benchmark_parquet_read.cpp
  cpp-ch/local-engine/tests/gtest_parquet_read.cpp
  cpp-ch/local-engine/tests/gtest_parquet_write.cpp
Labels: CLICKHOUSE

#9861 [VL] quick fix, INSTALL_PREFIX align with velox
  dev/builddeps-veloxbe.sh
Labels: BUILD

#9866 [VL] Minor: Change sort shuffle partition threshold to 4000
  docs/Configuration.md
  shims/common/src/main/scala/org/apache/gluten/config/GlutenConfig.scala
Labels: CORE, DOCS

#9575 [GLUTEN-9382][VL]Support bucket write with non partition table
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxBackend.scala
  backends-velox/src/test/scala/org/apache/spark/sql/execution/VeloxParquetWriteForHiveSuite.scala
Labels: VELOX

#9874 [GLUTEN-9873][VL] Fix install pandas
  .github/workflows/velox_backend.yml
Labels: INFRA

#9870 [GLUTEN-1632][CH]Daily Update Clickhouse Version (20250605)
  backends-clickhouse/src-kafka/test/scala/org/apache/gluten/execution/kafka/ClickhouseGlutenKafkaScanSuite.scala
  cpp-ch/clickhouse.version
  cpp-ch/local-engine/Functions/SparkFunctionSplitByRegexp.cpp
  cpp-ch/local-engine/Functions/SparkFunctionStrToMap.cpp
Labels: CLICKHOUSE

#9842 [GLUIEN-9840][Flink] Support type `CHAR(N)`
  gluten-flink/planner/src/main/java/org/apache/gluten/rexnode/RexNodeConverter.java
  gluten-flink/runtime/src/main/java/org/apache/gluten/util/LogicalTypeConverter.java
  gluten-flink/ut/src/test/java/org/apache/gluten/table/runtime/stream/custom/ScalarFunctionsTest.java
  gluten-flink/ut/src/test/java/org/apache/gluten/table/runtime/stream/custom/ScanTest.java
Labels: FLINK

#9863 [VL] add rhel setup script support
  dev/build_helper_functions.sh
  ep/build-velox/src/get_velox.sh
  ep/build-velox/src/setup-rhel.sh
Labels: BUILD, VELOX

#9882 [CORE] AQE: Move `GlutenCostEvaluator` from shim layer to `gluten-core`
  gluten-core/src/main/scala/org/apache/gluten/GlutenPlugin.scala
  gluten-core/src/main/scala/org/apache/spark/sql/execution/adaptive/GlutenCost.scala
  gluten-core/src/main/scala/org/apache/spark/sql/execution/adaptive/GlutenCostEvaluator.scala
  shims/spark32/src/main/scala/org/apache/spark/sql/execution/adaptive/GlutenCostEvaluator.scala
  shims/spark34/src/main/scala/org/apache/spark/sql/execution/adaptive/GlutenCostEvaluator.scala
  shims/spark35/src/main/scala/org/apache/spark/sql/execution/adaptive/GlutenCostEvaluator.scala
Labels: CORE

#9875 [GLUTEN-9860][VL] Sync docs to apache nightly
  .github/workflows/nightly_sync.yml
Labels: INFRA

#9876 Add RichSparkConf to simplify the interoperations with gluten config entries
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxListenerApi.scala
  backends-velox/src/main/scala/org/apache/gluten/utils/SharedLibraryLoader.scala
  gluten-core/src/main/scala/org/apache/gluten/GlutenPlugin.scala
  gluten-substrait/src/main/scala/org/apache/gluten/expression/UDFMappings.scala
  shims/common/src/main/scala/org/apache/spark/sql/internal/SparkConfigUtil.scala
Labels: CORE, VELOX

#9889 [GLUTEN-9860] followup: Fix rsync version to 5.2
  .github/workflows/nightly_sync.yml
Labels: INFRA

#9883 [GLUTEN-9880][CORE] Move `GlutenConfig.scala` from shim layer to `gluten-core`
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxListenerApi.scala
  gluten-core/src/main/scala/org/apache/gluten/config/ConfigBuilder.scala
  gluten-core/src/main/scala/org/apache/gluten/config/ConfigEntry.scala
  gluten-core/src/main/scala/org/apache/gluten/config/GlutenConfig.scala
  gluten-core/src/main/scala/org/apache/gluten/config/ReservedKeys.scala
  gluten-core/src/main/scala/org/apache/spark/sql/execution/ui/GlutenUIUtils.scala
  gluten-core/src/main/scala/org/apache/spark/sql/internal/ConfigProvider.scala
  gluten-core/src/main/scala/org/apache/spark/sql/internal/GlutenConfigUtil.scala
  gluten-core/src/main/scala/org/apache/spark/sql/internal/SparkConfigUtil.scala
  gluten-substrait/src/main/scala/org/apache/gluten/expression/ExpressionMappings.scala
Labels: CORE, VELOX

#9899 [GLUTEN-9860] followup: Fix rsync remote path
  .github/workflows/nightly_sync.yml
Labels: INFRA

#9905 Revert "Add RichSparkConf to simplify the interoperations with gluten config entries (#9876)
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxListenerApi.scala
  backends-velox/src/main/scala/org/apache/gluten/utils/SharedLibraryLoader.scala
  gluten-core/src/main/scala/org/apache/gluten/GlutenPlugin.scala
  gluten-core/src/main/scala/org/apache/spark/sql/internal/SparkConfigUtil.scala
  gluten-substrait/src/main/scala/org/apache/gluten/expression/UDFMappings.scala
Labels: CORE, VELOX

#9793 [GLUTEN-8181][VL] Add CI job running on Arm
  .github/workflows/velox_backend_arm.yml
  .github/workflows/velox_backend_cache.yml
  .github/workflows/velox_backend_x86.yml
  dev/ci-velox-buildstatic-centos-8.sh
Labels: BUILD, INFRA

#9872 [VL] Add outputOrdering for VeloxBroadcastNestedLoopJoinExecTransformer
  backends-velox/src/main/scala/org/apache/gluten/execution/VeloxBroadcastNestedLoopJoinExecTransformer.scala
Labels: VELOX

#9897 [GLUTEN-6269][VL][UNIFFLE] Remove incBytesWritten in VeloxUniffleColumnarShuffleWriter
  backends-velox/src-uniffle/main/java/org/apache/spark/shuffle/writer/VeloxUniffleColumnarShuffleWriter.java
Labels: VELOX

#9829 [VL] Fix DPP not working for Arrow Scan
  backends-velox/src/main/scala/org/apache/gluten/execution/datasource/v2/ArrowBatchScanExec.scala
  shims/spark32/src/main/scala/org/apache/spark/sql/execution/datasources/v2/BatchScanExecShim.scala
  shims/spark33/src/main/scala/org/apache/spark/sql/execution/datasources/v2/BatchScanExecShim.scala
  shims/spark34/src/main/scala/org/apache/spark/sql/execution/datasources/v2/BatchScanExecShim.scala
  shims/spark35/src/main/scala/org/apache/spark/sql/execution/datasources/v2/BatchScanExecShim.scala
Labels: CORE, VELOX

#9891 Add Spotless plugin to Maven plugins section
  pom.xml
Labels: CORE

#9908 [CORE][VL] Fix fallback for spark literal unsafe map data as input
  backends-velox/src/test/scala/org/apache/gluten/functions/ScalarFunctionsValidateSuite.scala
  gluten-substrait/src/main/java/org/apache/gluten/substrait/expression/ExpressionBuilder.java
  gluten-substrait/src/main/java/org/apache/gluten/substrait/expression/ListLiteralNode.java
  gluten-substrait/src/main/java/org/apache/gluten/substrait/expression/MapLiteralNode.java
  gluten-substrait/src/main/java/org/apache/gluten/substrait/type/BinaryTypeNode.java
  gluten-substrait/src/main/java/org/apache/gluten/substrait/type/BooleanTypeNode.java
  gluten-substrait/src/main/java/org/apache/gluten/substrait/type/DateTypeNode.java
  gluten-substrait/src/main/java/org/apache/gluten/substrait/type/DecimalTypeNode.java
  gluten-substrait/src/main/java/org/apache/gluten/substrait/type/FP32TypeNode.java
  gluten-substrait/src/main/java/org/apache/gluten/substrait/type/FP64TypeNode.java
  gluten-substrait/src/main/java/org/apache/gluten/substrait/type/FixedBinaryTypeNode.java
  gluten-substrait/src/main/java/org/apache/gluten/substrait/type/FixedCharTypeNode.java
  gluten-substrait/src/main/java/org/apache/gluten/substrait/type/I16TypeNode.java
  gluten-substrait/src/main/java/org/apache/gluten/substrait/type/I32TypeNode.java
  gluten-substrait/src/main/java/org/apache/gluten/substrait/type/I64TypeNode.java
  gluten-substrait/src/main/java/org/apache/gluten/substrait/type/I8TypeNode.java
  gluten-substrait/src/main/java/org/apache/gluten/substrait/type/IntervalYearTypeNode.java
  gluten-substrait/src/main/java/org/apache/gluten/substrait/type/ListNode.java
  gluten-substrait/src/main/java/org/apache/gluten/substrait/type/MapNode.java
  gluten-substrait/src/main/java/org/apache/gluten/substrait/type/NothingNode.java
  gluten-substrait/src/main/java/org/apache/gluten/substrait/type/StringTypeNode.java
  gluten-substrait/src/main/java/org/apache/gluten/substrait/type/StructNode.java
  gluten-substrait/src/main/java/org/apache/gluten/substrait/type/TimestampTypeNode.java
  gluten-substrait/src/main/java/org/apache/gluten/substrait/type/TypeNode.java
  gluten-substrait/src/main/scala/org/apache/gluten/expression/ConverterUtils.scala
Labels: CORE, VELOX

#9925 [GLUTEN-8851][VL] Link Velox cudf vector library
  cpp/velox/CMakeLists.txt
Labels: VELOX

#9917 [GLUTEN-8851][VL] Fix the machine may not install dkms
  dev/start_cudf.sh
Labels: BUILD

#9914 Add a RichSparkConf to simplify interoperations gluten config entries
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHListenerApi.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHTransformerApi.scala
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxListenerApi.scala
  backends-velox/src/main/scala/org/apache/gluten/utils/SharedLibraryLoader.scala
  gluten-core/src/main/scala/org/apache/gluten/GlutenPlugin.scala
  gluten-core/src/main/scala/org/apache/spark/sql/internal/SparkConfigUtil.scala
  gluten-core/src/test/scala/org/apache/gluten/config/SparkConfigUtilSuite.scala
  gluten-substrait/src/main/scala/org/apache/gluten/expression/UDFMappings.scala
Labels: CORE, VELOX, CLICKHOUSE

#9941 [GLUTEN-8851][VL] Fix cudf debug config not make effect
  gluten-core/src/main/scala/org/apache/gluten/config/GlutenConfig.scala
Labels: CORE

#9954 [GLUTEN-9952][VL] Python Security updates June 2025
  tools/workload/benchmark_velox/analysis/requirements.txt
Labels: TOOLS

#9877 [VL] Add GlutenExtractPythonUDFsSuite
  gluten-ut/spark32/src/test/scala/org/apache/gluten/utils/velox/VeloxTestSettings.scala
  gluten-ut/spark32/src/test/scala/org/apache/spark/sql/execution/python/GlutenExtractPythonUDFsSuite.scala
  gluten-ut/spark33/src/test/scala/org/apache/gluten/utils/velox/VeloxTestSettings.scala
  gluten-ut/spark33/src/test/scala/org/apache/spark/sql/execution/python/GlutenExtractPythonUDFsSuite.scala
  gluten-ut/spark34/src/test/scala/org/apache/gluten/utils/velox/VeloxTestSettings.scala
  gluten-ut/spark34/src/test/scala/org/apache/spark/sql/execution/python/GlutenExtractPythonUDFsSuite.scala
  gluten-ut/spark35/src/test/scala/org/apache/gluten/utils/velox/VeloxTestSettings.scala
  gluten-ut/spark35/src/test/scala/org/apache/spark/sql/execution/python/GlutenExtractPythonUDFsSuite.scala
Labels: CORE

#9982 [VL] Refine LocalPartitionWriter implementation
  cpp/core/shuffle/LocalPartitionWriter.cc
  cpp/core/shuffle/LocalPartitionWriter.h
  cpp/core/shuffle/Spill.h
Labels: VELOX

#9978 [GLUTEN-9950][FLINK] Make nexmark source num events configurable
  gluten-flink/runtime/src/main/java/org/apache/flink/streaming/runtime/translators/SourceTransformationTranslator.java
  gluten-flink/runtime/src/main/java/org/apache/gluten/util/ReflectUtils.java
Labels: FLINK

#9990 [GLUTEN-9860][VL] enable iceberg/hudi/delta in nightly release
  .github/workflows/velox_nightly.yml
Labels: INFRA

#9926 [CORE] Minor: Fix gluten-it decimal as double decimal match
  tools/gluten-it/common/src/main/scala/org/apache/gluten/integration/Constants.scala
Labels: TOOLS

#9992 [VL] Fix wget automake and gcc
  dev/vcpkg/setup-build-depends.sh
  tools/gluten-te/centos/centos-7-deps.sh
Labels: BUILD, TOOLS

#9957 [GLUTEN-9949][VL] Enable enhanced features compile
  .github/workflows/velox_backend_cache.yml
  .github/workflows/velox_backend_x86.yml
  backends-velox/src/main/java/org/apache/gluten/config/ConfigJniWrapper.java
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxBackend.scala
  backends-velox/src/main/scala/org/apache/gluten/config/VeloxConfig.scala
  cpp/CMakeLists.txt
  cpp/velox/compute/VeloxBackend.cc
  cpp/velox/jni/VeloxJniWrapper.cc
  dev/builddeps-veloxbe.sh
  ep/build-velox/src/get_velox.sh
  gluten-substrait/src/main/scala/org/apache/gluten/backendsapi/BackendSettingsApi.scala
Labels: CORE, BUILD, VELOX, INFRA

#10001 [CORE] Minor refactors on ValidatablePlan
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHBackend.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHValidatorApi.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/execution/CHAggregateGroupLimitExecTransformer.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/execution/CHBroadcastNestedLoopJoinExecTransformer.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/execution/CHGenerateExecTransformer.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/execution/CHHashJoinExecTransformer.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/execution/CHRangeExecTransformer.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/execution/CHSortMergeJoinExecTransformer.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/execution/CHWindowGroupLimitExecTransformer.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/extension/FallbackBroadcastHashJoinRules.scala
  backends-clickhouse/src/main/scala/org/apache/spark/sql/execution/CHColumnarToRowExec.scala
  backends-clickhouse/src/main/scala/org/apache/spark/sql/execution/CHColumnarWriteFilesExec.scala
  backends-clickhouse/src/main/scala/org/apache/spark/sql/execution/CHRDDScanTransformer.scala
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxBackend.scala
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxValidatorApi.scala
  backends-velox/src/main/scala/org/apache/gluten/execution/ColumnarPartialProjectExec.scala
  backends-velox/src/main/scala/org/apache/gluten/execution/GenerateExecTransformer.scala
  backends-velox/src/main/scala/org/apache/gluten/execution/TopNTransformer.scala
  backends-velox/src/main/scala/org/apache/gluten/execution/VeloxColumnarToRowExec.scala
  backends-velox/src/main/scala/org/apache/gluten/utils/ParquetMetadataUtils.scala
  backends-velox/src/main/scala/org/apache/spark/api/python/ColumnarArrowEvalPythonExec.scala
  backends-velox/src/main/scala/org/apache/spark/sql/execution/VeloxColumnarWriteFilesExec.scala
  gluten-delta/src/main/scala/org/apache/gluten/execution/DeltaScanTransformer.scala
  gluten-hudi/src/main/scala/org/apache/gluten/execution/HudiScanTransformer.scala
  gluten-iceberg/src/main/scala/org/apache/gluten/execution/IcebergScanTransformer.scala
  gluten-substrait/src/main/scala/org/apache/gluten/backendsapi/BackendSettingsApi.scala
  gluten-substrait/src/main/scala/org/apache/gluten/backendsapi/ValidatorApi.scala
  gluten-substrait/src/main/scala/org/apache/gluten/execution/BasicPhysicalOperatorTransformer.scala
  gluten-substrait/src/main/scala/org/apache/gluten/execution/BasicScanExecTransformer.scala
  gluten-substrait/src/main/scala/org/apache/gluten/execution/BatchScanExecTransformer.scala
  gluten-substrait/src/main/scala/org/apache/gluten/execution/BroadcastNestedLoopJoinExecTransformer.scala
  gluten-substrait/src/main/scala/org/apache/gluten/execution/CartesianProductExecTransformer.scala
  gluten-substrait/src/main/scala/org/apache/gluten/execution/ColumnarCollectLimitBaseExec.scala
  gluten-substrait/src/main/scala/org/apache/gluten/execution/ColumnarCollectTailBaseExec.scala
  gluten-substrait/src/main/scala/org/apache/gluten/execution/ExpandExecTransformer.scala
  gluten-substrait/src/main/scala/org/apache/gluten/execution/FileSourceScanExecTransformer.scala
  gluten-substrait/src/main/scala/org/apache/gluten/execution/GenerateExecTransformerBase.scala
  gluten-substrait/src/main/scala/org/apache/gluten/execution/HashAggregateExecBaseTransformer.scala
  gluten-substrait/src/main/scala/org/apache/gluten/execution/JoinExecTransformer.scala
  gluten-substrait/src/main/scala/org/apache/gluten/execution/LimitExecTransformer.scala
  gluten-substrait/src/main/scala/org/apache/gluten/execution/SampleExecTransformer.scala
  gluten-substrait/src/main/scala/org/apache/gluten/execution/SortExecTransformer.scala
  gluten-substrait/src/main/scala/org/apache/gluten/execution/SortMergeJoinExecTransformer.scala
  gluten-substrait/src/main/scala/org/apache/gluten/execution/TakeOrderedAndProjectExecTransformer.scala
  gluten-substrait/src/main/scala/org/apache/gluten/execution/UnionExecTransformer.scala
  gluten-substrait/src/main/scala/org/apache/gluten/execution/ValidatablePlan.scala
  gluten-substrait/src/main/scala/org/apache/gluten/execution/ValidationResult.scala
  gluten-substrait/src/main/scala/org/apache/gluten/execution/WholeStageTransformer.scala
  gluten-substrait/src/main/scala/org/apache/gluten/execution/WindowExecTransformer.scala
  gluten-substrait/src/main/scala/org/apache/gluten/execution/WindowGroupLimitExecTransformer.scala
  gluten-substrait/src/main/scala/org/apache/gluten/execution/WriteFilesExecTransformer.scala
  gluten-substrait/src/main/scala/org/apache/spark/sql/execution/ColumnarShuffleExchangeExec.scala
  gluten-substrait/src/main/scala/org/apache/spark/sql/execution/python/EvalPythonExecTransformer.scala
Labels: CORE, VELOX, CLICKHOUSE, DATA_LAKE

#10017 [VL] update geos version to 3.10.7
  dev/vcpkg/ports/geos/fix-exported-config.patch
  dev/vcpkg/ports/geos/geos-build.patch
  dev/vcpkg/ports/geos/portfile.cmake
  dev/vcpkg/ports/geos/vcpkg.json
  ep/build-velox/src/setup-centos7.sh
  ep/build-velox/src/setup-centos8.sh
  ep/build-velox/src/setup-openeuler24.sh
  ep/build-velox/src/setup-rhel.sh
Labels: BUILD, VELOX

#10005 [VL] Fix FallbackTags for Delta ops
  gluten-core/src/main/scala/org/apache/gluten/extension/columnar/heuristic/HeuristicTransform.scala
  gluten-delta/src/test/scala/org/apache/gluten/execution/DeltaSuite.scala
  gluten-substrait/src/main/scala/org/apache/gluten/extension/columnar/enumerated/RasOffload.scala
Labels: CORE, DATA_LAKE

#10012 [VL] Use Velox config in plan converter
  cpp/velox/compute/VeloxPlanConverter.cc
  cpp/velox/compute/VeloxPlanConverter.h
  cpp/velox/compute/VeloxRuntime.cc
  cpp/velox/substrait/SubstraitToVeloxPlan.cc
  cpp/velox/substrait/SubstraitToVeloxPlan.h
  cpp/velox/substrait/SubstraitToVeloxPlanValidator.cc
  cpp/velox/substrait/SubstraitToVeloxPlanValidator.h
  cpp/velox/tests/FunctionTest.cc
  cpp/velox/tests/Substrait2VeloxPlanConversionTest.cc
  cpp/velox/tests/Substrait2VeloxValuesNodeConversionTest.cc
  cpp/velox/tests/VeloxSubstraitRoundTripTest.cc
Labels: VELOX

#10020 [CORE] Some nit changes for ResourceUtil.scala
  gluten-core/src/main/java/org/apache/gluten/utils/ResourceUtil.java
Labels: CORE

#10006 [VL] Refactor IndexRange usage in serializeColumnarBatches
  cpp/velox/operators/serializer/VeloxColumnarBatchSerializer.cc
Labels: VELOX

#10052 [GLUTEN-9994][VL][FOLLOWUP] Use stringstream to construct velox memory usage stats log
  cpp/velox/memory/VeloxMemoryManager.cc
Labels: VELOX

#9727 [GLUTEN-8855][VL] Support dictionary in hash based shuffle
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxMetricsApi.scala
  backends-velox/src/main/scala/org/apache/spark/shuffle/ColumnarShuffleWriter.scala
  cpp/core/CMakeLists.txt
  cpp/core/jni/JniWrapper.cc
  cpp/core/memory/MemoryManager.h
  cpp/core/shuffle/Dictionary.cc
  cpp/core/shuffle/Dictionary.h
  cpp/core/shuffle/LocalPartitionWriter.cc
  cpp/core/shuffle/Options.h
  cpp/core/shuffle/PartitionWriter.h
  cpp/core/shuffle/Payload.cc
  cpp/core/shuffle/Payload.h
  cpp/core/shuffle/ShuffleWriter.cc
  cpp/core/shuffle/ShuffleWriter.h
  cpp/core/shuffle/rss/RssPartitionWriter.cc
  cpp/velox/CMakeLists.txt
  cpp/velox/benchmarks/GenericBenchmark.cc
  cpp/velox/compute/VeloxBackend.cc
  cpp/velox/memory/VeloxMemoryManager.cc
  cpp/velox/memory/VeloxMemoryManager.h
  cpp/velox/shuffle/ArrowShuffleDictionaryWriter.cc
  cpp/velox/shuffle/ArrowShuffleDictionaryWriter.h
  cpp/velox/shuffle/VeloxShuffleReader.cc
  cpp/velox/shuffle/VeloxShuffleReader.h
  cpp/velox/shuffle/VeloxShuffleWriter.h
  cpp/velox/tests/RuntimeTest.cc
  cpp/velox/tests/VeloxShuffleWriterTest.cc
  docs/Configuration.md
  gluten-arrow/src/main/java/org/apache/gluten/vectorized/GlutenSplitResult.java
  gluten-arrow/src/main/java/org/apache/gluten/vectorized/LocalPartitionWriterJniWrapper.java
  gluten-substrait/src/main/scala/org/apache/gluten/config/GlutenConfig.scala
Labels: CORE, VELOX, DOCS

#10016 [VL] quick fix, maven3.8.8 download is 404
  .github/workflows/util/setup_helper.sh
  dev/docker/Dockerfile.centos8-dynamic-build
  dev/docker/Dockerfile.centos8-static-build
  dev/vcpkg/setup-build-depends.sh
Labels: BUILD, INFRA

#10051 [CORE] Shim: Remove unused Spark33Scan / Spark34Scan / Spark35Scan
  shims/spark33/src/main/scala/org/apache/spark/sql/execution/datasources/v2/Spark33Scan.scala
  shims/spark34/src/main/scala/org/apache/spark/sql/execution/datasources/v2/Spark34Scan.scala
  shims/spark35/src/main/scala/org/apache/spark/sql/execution/datasources/v2/Spark35Scan.scala
Labels: CORE

#10061 [GLUTEN-9930][VL] Update GPU document
  docs/get-started/VeloxGPU.md
  docs/get-started/VeloxIceberg.md
Labels: DOCS

#10080 [GLUTEN-1632][CH]Daily Update Clickhouse Version (20250629)
  cpp-ch/clickhouse.version
  cpp-ch/local-engine/Common/DebugUtils.cpp
  cpp-ch/local-engine/Disks/registerGlutenDisks.cpp
  cpp-ch/local-engine/Join/StorageJoinFromReadBuffer.cpp
  cpp-ch/local-engine/Join/StorageJoinFromReadBuffer.h
  cpp-ch/local-engine/Parser/RelParsers/CrossRelParser.cpp
  cpp-ch/local-engine/Storages/Parquet/VectorizedParquetRecordReader.h
  cpp-ch/local-engine/Storages/SubstraitSource/ExcelTextFormatFile.cpp
  cpp-ch/local-engine/Storages/SubstraitSource/ExcelTextFormatFile.h
  cpp-ch/local-engine/Storages/SubstraitSource/FileReader.cpp
  cpp-ch/local-engine/Storages/SubstraitSource/FileReader.h
  cpp-ch/local-engine/Storages/SubstraitSource/FormatFile.h
  cpp-ch/local-engine/Storages/SubstraitSource/Iceberg/IcebergReader.h
  cpp-ch/local-engine/Storages/SubstraitSource/JSONFormatFile.cpp
  cpp-ch/local-engine/Storages/SubstraitSource/JSONFormatFile.h
  cpp-ch/local-engine/Storages/SubstraitSource/ORCFormatFile.cpp
  cpp-ch/local-engine/Storages/SubstraitSource/ORCFormatFile.h
  cpp-ch/local-engine/Storages/SubstraitSource/ParquetFormatFile.cpp
  cpp-ch/local-engine/Storages/SubstraitSource/ParquetFormatFile.h
  cpp-ch/local-engine/Storages/SubstraitSource/SubstraitFileSource.cpp
  cpp-ch/local-engine/Storages/SubstraitSource/SubstraitFileSource.h
  cpp-ch/local-engine/Storages/SubstraitSource/SubstraitFileSourceStep.cpp
  cpp-ch/local-engine/Storages/SubstraitSource/SubstraitFileSourceStep.h
  cpp-ch/local-engine/Storages/SubstraitSource/TextFormatFile.cpp
  cpp-ch/local-engine/Storages/SubstraitSource/TextFormatFile.h
  cpp-ch/local-engine/tests/gtest_parquet_read.cpp
Labels: CLICKHOUSE

#9634 [GLUTEN-8851][VL] Validate the plan and use runtime config to enable it
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHIteratorApi.scala
  backends-velox/src/main/java/org/apache/gluten/cudf/VeloxCudfPlanValidatorJniWrapper.java
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxIteratorApi.scala
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxRuleApi.scala
  backends-velox/src/main/scala/org/apache/gluten/extension/CudfNodeValidationRule.scala
  cpp/core/compute/Runtime.h
  cpp/core/config/GlutenConfig.h
  cpp/core/jni/JniWrapper.cc
  cpp/velox/CMakeLists.txt
  cpp/velox/benchmarks/GenericBenchmark.cc
  cpp/velox/compute/WholeStageResultIterator.cc
  cpp/velox/config/VeloxConfig.h
  cpp/velox/cudf/CudfPlanValidator.cc
  cpp/velox/cudf/CudfPlanValidator.h
  cpp/velox/jni/VeloxJniWrapper.cc
  cpp/velox/operators/plannodes/RowVectorStream.h
  cpp/velox/tests/RuntimeTest.cc
  gluten-arrow/src/main/java/org/apache/gluten/vectorized/NativePlanEvaluator.java
  gluten-arrow/src/main/java/org/apache/gluten/vectorized/PlanEvaluatorJniWrapper.java
  gluten-substrait/src/main/scala/org/apache/gluten/backendsapi/IteratorApi.scala
  gluten-substrait/src/main/scala/org/apache/gluten/config/GlutenConfig.scala
  gluten-substrait/src/main/scala/org/apache/gluten/execution/GlutenWholeStageColumnarRDD.scala
  gluten-substrait/src/main/scala/org/apache/gluten/execution/WholeStageTransformer.scala
  gluten-substrait/src/main/scala/org/apache/gluten/execution/WholeStageZippedPartitionsRDD.scala
Labels: CORE, VELOX, CLICKHOUSE
