Repository apache/incubator-gluten, pull requests merged in 2025-03, with the labels that each got.

#8863 [GLUTEN-1632][CH]Daily Update Clickhouse Version (20250301)
  cpp-ch/clickhouse.version
  cpp-ch/local-engine/Parser/RelParsers/MergeTreeRelParser.cpp
  cpp-ch/local-engine/Parser/RelParsers/WriteRelParser.cpp
  cpp-ch/local-engine/Storages/Kafka/GlutenKafkaSource.cpp
  cpp-ch/local-engine/Storages/MergeTree/SparkMergeTreeSink.cpp
  cpp-ch/local-engine/Storages/Output/NormalFileWriter.cpp
  cpp-ch/local-engine/Storages/Output/NormalFileWriter.h
  cpp-ch/local-engine/Storages/Parquet/ColumnIndexFilter.cpp
  cpp-ch/local-engine/Storages/Parquet/ParquetConverter.h
  cpp-ch/local-engine/Storages/Serializations/ExcelStringReader.cpp
  cpp-ch/local-engine/tests/gtest_parquet_columnindex.cpp
  cpp-ch/local-engine/tests/gtest_write_pipeline.cpp
  cpp-ch/local-engine/tests/utils/ReaderTestBase.cpp
  cpp-ch/local-engine/tests/utils/gluten_test_util.cpp
Labels: CLICKHOUSE

#8837 [GLUTEN-8738] Update GlutenSQLQueryTestSuite to match with the original file
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenClickHouseTPCHBucketSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenClickHouseTPCHSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenFunctionValidateSuite.scala
  backends-velox/src/test/scala/org/apache/gluten/execution/VeloxMetricsSuite.scala
  backends-velox/src/test/scala/org/apache/gluten/execution/VeloxTPCHSuite.scala
  gluten-substrait/src/test/scala/org/apache/spark/sql/GlutenTestUtils.scala
  gluten-ut/spark35/src/test/scala/org/apache/gluten/utils/clickhouse/ClickHouseSQLQueryTestSettings.scala
  gluten-ut/spark35/src/test/scala/org/apache/gluten/utils/velox/VeloxSQLQueryTestSettings.scala
  gluten-ut/spark35/src/test/scala/org/apache/spark/sql/GlutenSQLQueryTestSuite.scala
Labels: CORE, VELOX, CLICKHOUSE

#8842 [VL] Enable spark function map_filter
  backends-velox/src/test/scala/org/apache/gluten/execution/ScalarFunctionsValidateSuite.scala
  docs/velox-backend-support-progress.md
  gluten-substrait/src/main/scala/org/apache/gluten/expression/ExpressionMappings.scala
  shims/common/src/main/scala/org/apache/gluten/expression/ExpressionNames.scala
Labels: CORE, VELOX, DOCS

#8869 Revert "[VL] Enable spark function map_filter"
  backends-velox/src/test/scala/org/apache/gluten/execution/ScalarFunctionsValidateSuite.scala
  docs/velox-backend-support-progress.md
  gluten-substrait/src/main/scala/org/apache/gluten/expression/ExpressionMappings.scala
  shims/common/src/main/scala/org/apache/gluten/expression/ExpressionNames.scala
Labels: CORE, VELOX, DOCS

#8844 [CH] optimize performance of sparkArraySort
  cpp-ch/local-engine/Functions/SparkFunctionArraySort.cpp
Labels: CLICKHOUSE

#8875 [VL] Fix broken links for velox-backend-build-in-docker.md
  docs/get-started/Velox.md
Labels: DOCS

#8566 [GLUTEN-8565][VL] Support CollectLimit Operator
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHSparkPlanExecApi.scala
  backends-velox/src/main/java/org/apache/gluten/columnarbatch/VeloxColumnarBatchJniWrapper.java
  backends-velox/src/main/java/org/apache/gluten/columnarbatch/VeloxColumnarBatches.java
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxBackend.scala
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxRuleApi.scala
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxSparkPlanExecApi.scala
  backends-velox/src/main/scala/org/apache/gluten/execution/ColumnarCollectLimitExec.scala
  backends-velox/src/test/scala/org/apache/gluten/execution/GlutenSQLCollectLimitExecSuite.scala
  cpp/velox/jni/VeloxJniWrapper.cc
  gluten-substrait/src/main/scala/org/apache/gluten/backendsapi/BackendSettingsApi.scala
  gluten-substrait/src/main/scala/org/apache/gluten/backendsapi/SparkPlanExecApi.scala
  gluten-substrait/src/main/scala/org/apache/gluten/execution/ColumnarCollectLimitBaseExec.scala
  gluten-substrait/src/main/scala/org/apache/gluten/extension/columnar/offload/OffloadSingleNodeRules.scala
  gluten-substrait/src/main/scala/org/apache/gluten/extension/columnar/validator/Validators.scala
  gluten-substrait/src/main/scala/org/apache/spark/sql/execution/GlutenImplicits.scala
  gluten-ut/spark32/src/test/scala/org/apache/gluten/utils/velox/VeloxTestSettings.scala
  gluten-ut/spark33/src/test/scala/org/apache/gluten/utils/velox/VeloxTestSettings.scala
  shims/common/src/main/scala/org/apache/gluten/sql/shims/SparkShims.scala
  shims/spark32/src/main/scala/org/apache/gluten/sql/shims/spark32/Spark32Shims.scala
  shims/spark33/src/main/scala/org/apache/gluten/sql/shims/spark33/Spark33Shims.scala
  shims/spark34/src/main/scala/org/apache/gluten/sql/shims/spark34/Spark34Shims.scala
  shims/spark35/src/main/scala/org/apache/gluten/sql/shims/spark35/Spark35Shims.scala
Labels: CORE, VELOX, CLICKHOUSE

#8873 [GLUTEN-8872][CH][Part-1] Support Delta Deletion Vectors read for CH backend
  cpp-ch/local-engine/Storages/SubstraitSource/CMakeLists.txt
  cpp-ch/local-engine/Storages/SubstraitSource/Delta/Bitmap/DeltaDVRoaringBitmapArray.cpp
  cpp-ch/local-engine/Storages/SubstraitSource/Delta/Bitmap/DeltaDVRoaringBitmapArray.h
  cpp-ch/local-engine/Storages/SubstraitSource/Delta/DeltaParquetMeta.h
  cpp-ch/local-engine/tests/data/deletion_vector_long_values.bin
  cpp-ch/local-engine/tests/data/deletion_vector_multiple.bin
  cpp-ch/local-engine/tests/data/deletion_vector_only_one.bin
  cpp-ch/local-engine/tests/gtest_clickhouse_roaring_bitmap.cpp
Labels: CLICKHOUSE

#8878 [CORE] Make scalatest.testFailureIgnore configurable for convenience
  pom.xml
Labels: CORE

#8874 [GLUTEN-8859][CH] Take advantage of `compareSubstrings` to compare substrings
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHRuleApi.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/extension/BasicExpressionRewriteRule.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenFunctionValidateSuite.scala
  cpp-ch/local-engine/Parser/scalar_function_parser/compareSubstrings.cpp
Labels: CLICKHOUSE

#8882 [DOC] add doc about experimental feature using off-heap to store broadcast build relation
  docs/Configuration.md
  docs/get-started/Velox.md
Labels: DOCS

#8887 [GLUTEN-1632][CH]Daily Update Clickhouse Version (20250304)
  cpp-ch/clickhouse.version
  cpp-ch/local-engine/Common/CHUtil.cpp
Labels: CLICKHOUSE

#8883 [VL] Enable spark function map_filter
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxSparkPlanExecApi.scala
  backends-velox/src/test/scala/org/apache/gluten/execution/ScalarFunctionsValidateSuite.scala
  shims/common/src/main/scala/org/apache/gluten/expression/ExpressionNames.scala
Labels: CORE, VELOX

#8895 [GLUTEN-8894][VL] Fix buffer overflow in jStringToCString on arm
  cpp/core/jni/JniCommon.h
Labels: VELOX

#8880 [GLUTEN-5884][VL] change default load quantum to 8M for local SSD cache
  backends-velox/src/main/scala/org/apache/gluten/config/VeloxConfig.scala
  cpp/velox/compute/VeloxBackend.cc
Labels: VELOX

#8840 [GLUTEN-8836][CH] Fix partition values with escape char
  backends-clickhouse/src/main/scala/org/apache/gluten/execution/GlutenMergeTreePartition.scala
  backends-clickhouse/src/main/scala/org/apache/spark/sql/delta/files/MergeTreeFileCommitProtocol.scala
  backends-clickhouse/src/main/scala/org/apache/spark/sql/execution/datasources/v2/clickhouse/metadata/AddFileTags.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/hive/GlutenClickHouseNativeWriteTableSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/mergetree/GlutenClickHouseMergeTreeWriteOnHDFSSuite.scala
  backends-clickhouse/src/test/scala/org/apache/spark/gluten/NativeWriteChecker.scala
  cpp-ch/local-engine/Functions/SparkPartitionEscape.cpp
  cpp-ch/local-engine/Functions/SparkPartitionEscape.h
  cpp-ch/local-engine/Parser/scalar_function_parser/CommonScalarFunctionParser.cpp
  cpp-ch/local-engine/Storages/MergeTree/SparkMergeTreeMeta.cpp
  cpp-ch/local-engine/Storages/Output/NormalFileWriter.h
  cpp-ch/local-engine/tests/CMakeLists.txt
  cpp-ch/local-engine/tests/benchmark_spark_partition_escape_function.cpp
Labels: CLICKHOUSE

#8743 [GLUTEN-8742][VL] Improve the cast validation logic on native side
  cpp/velox/substrait/SubstraitToVeloxPlanValidator.cc
  cpp/velox/substrait/SubstraitToVeloxPlanValidator.h
Labels: VELOX

#8901 [HOTFIX] Fix binary release name for Spark 3.5.2 with Scala 2.13
  .github/workflows/util/install_spark_resources.sh
Labels: INFRA

#8899 [GLUTEN-1632][CH]Daily Update Clickhouse Version (20250305)
  cpp-ch/clickhouse.version
  cpp-ch/local-engine/Parser/RelParsers/JoinRelParser.cpp
Labels: CLICKHOUSE

#8910 [GLUTEN-8909][VL] Allow dynamic configuration for spark.gluten.auto.adjustStageResource.enabled
  shims/common/src/main/scala/org/apache/gluten/config/GlutenConfig.scala
Labels: CORE

#8906 [GLUTEN-8905][VL]Ignore some CSV flaky tests
  backends-velox/src/test/scala/org/apache/gluten/execution/ArrowCsvScanSuite.scala
Labels: VELOX

#8320 [GLUTEN-8340][VL] Enable from_json function
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxSparkPlanExecApi.scala
  backends-velox/src/test/scala/org/apache/gluten/execution/JsonFunctionsValidateSuite.scala
  backends-velox/src/test/scala/org/apache/gluten/execution/ScalarFunctionsValidateSuite.scala
  cpp/velox/substrait/SubstraitToVeloxPlanValidator.cc
  gluten-substrait/src/main/scala/org/apache/gluten/backendsapi/SparkPlanExecApi.scala
  gluten-substrait/src/main/scala/org/apache/gluten/expression/ExpressionConverter.scala
Labels: CORE, VELOX

#8904 [CORE] Enlarge defaultRecursionLimit by pre-loading the protobuf class
  backends-clickhouse/pom.xml
  backends-velox/pom.xml
  gluten-arrow/pom.xml
  gluten-core/src/main/scala/org/apache/gluten/GlutenPlugin.scala
  gluten-core/src/main/scala/org/apache/gluten/initializer/CodedInputStreamClassInitializer.scala
  gluten-delta/pom.xml
  gluten-hudi/pom.xml
  gluten-iceberg/pom.xml
  gluten-substrait/pom.xml
  package/pom.xml
  pom.xml
Labels: CORE, VELOX, CLICKHOUSE, DATA_LAKE

#8907 [CORE] Post messages to Gluten web UI only when it is enabled
  docs/get-started/GlutenUI.md
  docs/get-started/Velox.md
  gluten-core/src/main/scala/org/apache/gluten/GlutenPlugin.scala
  gluten-substrait/src/main/scala/org/apache/spark/sql/execution/GlutenFallbackReporter.scala
  gluten-ui/src/main/scala/org/apache/spark/sql/execution/ui/GlutenSQLHistoryServerPlugin.scala
  gluten-ut/spark33/src/test/scala/org/apache/spark/sql/gluten/GlutenFallbackSuite.scala
  gluten-ut/spark34/src/test/scala/org/apache/spark/sql/gluten/GlutenFallbackSuite.scala
  gluten-ut/spark35/src/test/scala/org/apache/spark/sql/gluten/GlutenFallbackSuite.scala
  shims/common/src/main/scala/org/apache/gluten/config/GlutenConfig.scala
Labels: CORE, DOCS

#8917 [GLUTEN-1632][CH]Daily Update Clickhouse Version (20250306)
  cpp-ch/clickhouse.version
  cpp-ch/local-engine/Storages/Parquet/ColumnIndexFilter.cpp
  cpp-ch/local-engine/Storages/SubstraitSource/ReadBufferBuilder.cpp
Labels: CLICKHOUSE

#8915 [VL] Adding nightly release
  .github/workflows/velox_nightly.yml
Labels: INFRA

#8903 [GLUTEN-8903][Function] Support btrim function
  backends-velox/src/test/scala/org/apache/gluten/execution/VeloxStringFunctionsSuite.scala
  gluten-substrait/src/main/scala/org/apache/gluten/expression/ExpressionConverter.scala
  gluten-substrait/src/main/scala/org/apache/gluten/expression/ExpressionMappings.scala
  shims/common/src/main/scala/org/apache/gluten/expression/ExpressionNames.scala
Labels: CORE, VELOX

#8902 [VL] Use isType func to check type
  cpp/velox/substrait/SubstraitToVeloxPlanValidator.cc
Labels: VELOX

#8918 Add scala suffix to tar command
  .github/workflows/util/install_spark_resources.sh
Labels: INFRA

#8925 [GLUTEN-1632][CH]Daily Update Clickhouse Version (20250307)
  cpp-ch/clickhouse.version
  cpp-ch/local-engine/Common/CHUtil.cpp
Labels: CLICKHOUSE

#8927 [GLUTEN-8926][CH] MergeTree Parameter Configuration Optimization to Prevent Multithreading Competition for activeSession Being None
  backends-clickhouse/src/main/scala/org/apache/spark/sql/delta/ClickhouseSnapshot.scala
Labels: CLICKHOUSE

#8929 [GLUTEN-8921][GLUTEN-8922][CH] Fix checkDecimalOverflowSparkOrNull and lead function
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/compatibility/GlutenClickhouseFunctionSuite.scala
  cpp-ch/local-engine/Functions/SparkFunctionCheckDecimalOverflow.cpp
  cpp-ch/local-engine/Parser/aggregate_function_parser/LeadLagParser.cpp
Labels: CLICKHOUSE

#8908 [DOC] Document Stage Level Resource Profile Adjustment feature
  docs/Configuration.md
  docs/get-started/Velox.md
  docs/get-started/VeloxStageResourceAdj.md
  docs/image/velox_apply_stage_resource.png
Labels: DOCS

#8936 [GLUTEN-1632][CH]Daily Update Clickhouse Version (20250308)
  cpp-ch/clickhouse.version
  cpp-ch/local-engine/Parser/RelParsers/GroupLimitRelParser.cpp
  cpp-ch/local-engine/Parser/RelParsers/SortRelParser.cpp
Labels: CLICKHOUSE

#8938 [CI] fix spark352-scala2.13 test home
  .github/workflows/util/install_spark_resources.sh
Labels: INFRA

#8314 [GLUTEN-8313][VL] Enable json_array_length
  backends-velox/src/test/scala/org/apache/gluten/execution/JsonFunctionsValidateSuite.scala
  cpp/velox/substrait/SubstraitToVeloxPlanValidator.cc
  docs/velox-backend-scalar-function-support.md
Labels: VELOX, DOCS

#8814 [GLUTEN-8802][VL] Add specific jdk version for CentOS 8 docker image
  .github/workflows/docker_image.yml
  .github/workflows/velox_backend.yml
  .github/workflows/velox_backend_cache.yml
Labels: INFRA

#8634 [GLUTEN-8633] [VL] Rewrite tests for Gluten ColumnarRange
  gluten-ut/spark32/src/test/scala/org/apache/gluten/utils/clickhouse/ClickHouseTestSettings.scala
  gluten-ut/spark32/src/test/scala/org/apache/spark/sql/GlutenDataFrameSuite.scala
  gluten-ut/spark33/src/test/scala/org/apache/gluten/utils/clickhouse/ClickHouseTestSettings.scala
  gluten-ut/spark33/src/test/scala/org/apache/spark/sql/GlutenDataFrameSuite.scala
  gluten-ut/spark34/src/test/scala/org/apache/gluten/utils/clickhouse/ClickHouseTestSettings.scala
  gluten-ut/spark34/src/test/scala/org/apache/spark/sql/GlutenDataFrameSuite.scala
  gluten-ut/spark35/src/test/scala/org/apache/gluten/utils/clickhouse/ClickHouseTestSettings.scala
  gluten-ut/spark35/src/test/scala/org/apache/spark/sql/GlutenDataFrameSuite.scala
Labels: CORE

#8940 [GLUTEN-8939] Fix IllegalAccessError when converting viewfs to hdfs
  gluten-substrait/src/main/scala/org/apache/hadoop/fs/viewfs/ViewFileSystemUtils.scala
Labels: CORE

#8937 [GLUTEN-8846][CH] [Part 1] Support Positional Deletes
  cpp-ch/clickhouse.version
  cpp-ch/local-engine/Common/BlockTypeUtils.h
  cpp-ch/local-engine/Storages/Parquet/ParquetMeta.cpp
  cpp-ch/local-engine/Storages/Parquet/ParquetMeta.h
  cpp-ch/local-engine/Storages/Parquet/VectorizedParquetRecordReader.h
  cpp-ch/local-engine/Storages/SubstraitSource/FileReader.cpp
  cpp-ch/local-engine/Storages/SubstraitSource/FormatFile.h
  cpp-ch/local-engine/Storages/SubstraitSource/ParquetFormatFile.cpp
  cpp-ch/local-engine/Storages/SubstraitSource/ParquetFormatFile.h
  cpp-ch/local-engine/Storages/SubstraitSource/iceberg/EqualityDeleteFileReader.cpp
  cpp-ch/local-engine/Storages/SubstraitSource/iceberg/EqualityDeleteFileReader.h
  cpp-ch/local-engine/Storages/SubstraitSource/iceberg/IcebergMetadataColumn.h
  cpp-ch/local-engine/Storages/SubstraitSource/iceberg/IcebergReader.cpp
  cpp-ch/local-engine/Storages/SubstraitSource/iceberg/IcebergReader.h
  cpp-ch/local-engine/Storages/SubstraitSource/iceberg/PositionalDeleteFileReader.cpp
  cpp-ch/local-engine/Storages/SubstraitSource/iceberg/PositionalDeleteFileReader.h
  cpp-ch/local-engine/Storages/SubstraitSource/iceberg/SimpleParquetReader.cpp
  cpp-ch/local-engine/Storages/SubstraitSource/iceberg/SimpleParquetReader.h
  cpp-ch/local-engine/Storages/SubstraitSource/substrait_fwd.h
  cpp-ch/local-engine/tests/gtest_iceberge_test.cpp
  cpp-ch/local-engine/tests/utils/ReaderTestBase.cpp
  cpp-ch/local-engine/tests/utils/ReaderTestBase.h
Labels: CLICKHOUSE

#8947 [GLUTEN-8872][CH][Part-2] Support Delta Deletion Vectors read for CH backend
  backends-clickhouse/src-delta-32/main/scala/org/apache/gluten/sql/shims/delta32/Delta32Shims.scala
  backends-clickhouse/src-delta-32/test/scala/org/apache/spark/gluten/delta/GlutenDeltaParquetDeletionVectorSuite.scala
  backends-clickhouse/src-delta/main/scala/org/apache/gluten/sql/shims/DeltaShims.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHIteratorApi.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/utils/CHInputPartitionsUtil.scala
  backends-clickhouse/src/main/scala/org/apache/spark/sql/execution/commands/GlutenCacheFilesCommand.scala
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxIteratorApi.scala
  cpp-ch/local-engine/Storages/SubstraitSource/CMakeLists.txt
  cpp-ch/local-engine/Storages/SubstraitSource/Delta/Bitmap/DeltaDVRoaringBitmapArray.cpp
  cpp-ch/local-engine/Storages/SubstraitSource/Delta/Bitmap/DeltaDVRoaringBitmapArray.h
  cpp-ch/local-engine/Storages/SubstraitSource/Delta/DeltaReader.cpp
  cpp-ch/local-engine/Storages/SubstraitSource/Delta/DeltaReader.h
  cpp-ch/local-engine/Storages/SubstraitSource/FileReader.cpp
  cpp-ch/local-engine/Storages/SubstraitSource/ParquetFormatFile.cpp
  gluten-iceberg/src-iceberg/main/java/org/apache/gluten/substrait/rel/IcebergLocalFilesNode.java
  gluten-substrait/src/main/java/org/apache/gluten/substrait/rel/LocalFilesBuilder.java
  gluten-substrait/src/main/java/org/apache/gluten/substrait/rel/LocalFilesNode.java
  gluten-substrait/src/main/java/org/apache/gluten/substrait/utils/SubstraitUtil.java
  gluten-substrait/src/main/resources/substrait/proto/substrait/algebra.proto
  gluten-substrait/src/main/scala/org/apache/gluten/utils/InputPartitionsUtil.scala
  gluten-substrait/src/main/scala/org/apache/spark/sql/hive/HivePartitionConverter.scala
  shims/common/src/main/scala/org/apache/gluten/sql/shims/SparkShims.scala
  shims/spark32/src/main/scala/org/apache/gluten/sql/shims/spark32/Spark32Shims.scala
  shims/spark33/src/main/scala/org/apache/gluten/sql/shims/spark33/Spark33Shims.scala
  shims/spark34/src/main/scala/org/apache/gluten/sql/shims/spark34/Spark34Shims.scala
  shims/spark35/src/main/scala/org/apache/gluten/sql/shims/spark35/Spark35Shims.scala
Labels: CORE, VELOX, CLICKHOUSE, DATA_LAKE

#8781 [VL] Enable map_concat function
  backends-clickhouse/src/main/scala/org/apache/gluten/utils/CHExpressionUtil.scala
  backends-velox/src/test/scala/org/apache/gluten/execution/ScalarFunctionsValidateSuite.scala
  cpp/core/config/GlutenConfig.h
  cpp/velox/compute/WholeStageResultIterator.cc
  gluten-substrait/src/main/scala/org/apache/gluten/expression/ExpressionMappings.scala
  shims/common/src/main/scala/org/apache/gluten/config/GlutenConfig.scala
  shims/common/src/main/scala/org/apache/gluten/expression/ExpressionNames.scala
Labels: CORE, VELOX, CLICKHOUSE

#8976 [CH] Simplify parsing substrait struct fields.
  cpp-ch/local-engine/Builder/SerializedPlanBuilder.cpp
  cpp-ch/local-engine/Parser/ExpressionParser.cpp
  cpp-ch/local-engine/Parser/FunctionExecutor.cpp
  cpp-ch/local-engine/Parser/RelParsers/AggregateRelParser.cpp
  cpp-ch/local-engine/Parser/RelParsers/ExpandRelParser.cpp
  cpp-ch/local-engine/Parser/RelParsers/GroupLimitRelParser.cpp
  cpp-ch/local-engine/Parser/RelParsers/JoinRelParser.cpp
  cpp-ch/local-engine/Parser/RelParsers/MergeTreeRelParser.cpp
  cpp-ch/local-engine/Parser/RelParsers/SortParsingUtils.cpp
  cpp-ch/local-engine/Parser/SerializedPlanParser.cpp
  cpp-ch/local-engine/Parser/SubstraitParserUtils.cpp
  cpp-ch/local-engine/Parser/SubstraitParserUtils.h
Labels: CLICKHOUSE

#8357 [VL] Support casting varchar type to timestamp type
  cpp/velox/substrait/SubstraitToVeloxPlanValidator.cc
  gluten-ut/spark32/src/test/scala/org/apache/gluten/utils/clickhouse/ClickHouseTestSettings.scala
  gluten-ut/spark32/src/test/scala/org/apache/gluten/utils/velox/VeloxTestSettings.scala
  gluten-ut/spark32/src/test/scala/org/apache/spark/sql/catalyst/expressions/GlutenAnsiCastSuite.scala
  gluten-ut/spark32/src/test/scala/org/apache/spark/sql/catalyst/expressions/GlutenCastSuite.scala
  gluten-ut/spark33/src/test/scala/org/apache/gluten/utils/clickhouse/ClickHouseTestSettings.scala
  gluten-ut/spark33/src/test/scala/org/apache/gluten/utils/velox/VeloxTestSettings.scala
  gluten-ut/spark33/src/test/scala/org/apache/spark/sql/catalyst/expressions/GlutenAnsiCastSuite.scala
  gluten-ut/spark33/src/test/scala/org/apache/spark/sql/catalyst/expressions/GlutenCastSuite.scala
  gluten-ut/spark34/src/test/scala/org/apache/gluten/utils/clickhouse/ClickHouseTestSettings.scala
  gluten-ut/spark34/src/test/scala/org/apache/gluten/utils/velox/VeloxTestSettings.scala
  gluten-ut/spark34/src/test/scala/org/apache/spark/sql/catalyst/expressions/GlutenCastSuite.scala
  gluten-ut/spark34/src/test/scala/org/apache/spark/sql/catalyst/expressions/GlutenTryCastSuite.scala
  gluten-ut/spark35/src/test/scala/org/apache/gluten/utils/clickhouse/ClickHouseTestSettings.scala
  gluten-ut/spark35/src/test/scala/org/apache/gluten/utils/velox/VeloxSQLQueryTestSettings.scala
  gluten-ut/spark35/src/test/scala/org/apache/gluten/utils/velox/VeloxTestSettings.scala
  gluten-ut/spark35/src/test/scala/org/apache/spark/sql/catalyst/expressions/GlutenCastSuite.scala
  gluten-ut/spark35/src/test/scala/org/apache/spark/sql/catalyst/expressions/GlutenTryCastSuite.scala
Labels: CORE, VELOX

#8975 [GLUTEN-8958][VL] Add offload rules for DeltaProjectExecTransformer and DeltaFilterExecTransformer
  backends-velox/src-delta/main/scala/org/apache/gluten/component/VeloxDeltaComponent.scala
  gluten-delta/src-delta/main/scala/org/apache/gluten/execution/OffloadDeltaFilter.scala
  gluten-delta/src-delta/main/scala/org/apache/gluten/execution/OffloadDeltaProject.scala
  gluten-delta/src-delta/main/scala/org/apache/gluten/extension/DeltaPostTransformRules.scala
  gluten-delta/src-delta/test/scala/org/apache/gluten/execution/DeltaSuite.scala
Labels: VELOX, DATA_LAKE

#8988 [VL] Update centos setup scripts to install new tzdata
  ep/build-velox/src/setup-centos7.sh
  ep/build-velox/src/setup-centos8.sh
Labels: VELOX

#8994 [GLUTEN-8993][CELEBORN] Bump Celeborn version to 0.5.4
  .github/workflows/velox_backend.yml
  dev/docker/Dockerfile.centos8-dynamic-build
  dev/docker/Dockerfile.centos8-dynamic-build-jdk11
  dev/docker/Dockerfile.centos8-dynamic-build-jdk17
  pom.xml
  tools/gluten-it/pom.xml
Labels: CORE, BUILD, INFRA, TOOLS

#8593 [VL] Support casting integral type to timestamp type
  cpp/velox/substrait/SubstraitToVeloxPlanValidator.cc
  gluten-ut/spark32/src/test/scala/org/apache/gluten/utils/velox/VeloxTestSettings.scala
  gluten-ut/spark32/src/test/scala/org/apache/spark/sql/execution/datasources/parquet/GlutenParquetColumnIndexSuite.scala
  gluten-ut/spark33/src/test/scala/org/apache/gluten/utils/velox/VeloxTestSettings.scala
  gluten-ut/spark33/src/test/scala/org/apache/spark/sql/execution/datasources/parquet/GlutenParquetColumnIndexSuite.scala
  gluten-ut/spark34/src/test/scala/org/apache/gluten/utils/velox/VeloxTestSettings.scala
  gluten-ut/spark34/src/test/scala/org/apache/spark/sql/execution/datasources/parquet/GlutenParquetColumnIndexSuite.scala
  gluten-ut/spark35/src/test/scala/org/apache/gluten/utils/velox/VeloxTestSettings.scala
  gluten-ut/spark35/src/test/scala/org/apache/spark/sql/execution/datasources/parquet/GlutenParquetColumnIndexSuite.scala
Labels: CORE, VELOX

#8092 [GLUTEN-3289][CH]Fix cast float to string
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/tpch/GlutenClickHouseTPCHSaltNullParquetSuite.scala
  cpp-ch/local-engine/Functions/SparkFunctionCastFloatToString.cpp
  cpp-ch/local-engine/Parser/ExpressionParser.cpp
  cpp-ch/local-engine/Parser/scalar_function_parser/getTimestamp.h
Labels: CLICKHOUSE

#8992 [GLUTEN-8846][CH][Part 2] Add the test case for the iceberg MOR table with the equality deletion and the position deletion
  backends-clickhouse/src-iceberg/test/scala/org/apache/gluten/execution/iceberg/ClickHouseIcebergMOREqualityDeletionSuite.scala
  backends-clickhouse/src-iceberg/test/scala/org/apache/gluten/execution/iceberg/ClickHouseIcebergSuite.scala
  gluten-iceberg/src-iceberg/test/resources/junit6640909127060857423/default/db/test_upsert_query/data/.00000-0-5dbee376-db12-4e82-b7c7-ab4adfa40de9-00001.parquet.crc
  gluten-iceberg/src-iceberg/test/resources/junit6640909127060857423/default/db/test_upsert_query/data/.00000-0-5dbee376-db12-4e82-b7c7-ab4adfa40de9-00002.parquet.crc
  gluten-iceberg/src-iceberg/test/resources/junit6640909127060857423/default/db/test_upsert_query/data/.00000-0-6bd9cf6c-e03e-4709-b9fc-f7ef771a7c19-00001.parquet.crc
  gluten-iceberg/src-iceberg/test/resources/junit6640909127060857423/default/db/test_upsert_query/data/.00000-0-6bd9cf6c-e03e-4709-b9fc-f7ef771a7c19-00002.parquet.crc
  gluten-iceberg/src-iceberg/test/resources/junit6640909127060857423/default/db/test_upsert_query/data/00000-0-5dbee376-db12-4e82-b7c7-ab4adfa40de9-00001.parquet
  gluten-iceberg/src-iceberg/test/resources/junit6640909127060857423/default/db/test_upsert_query/data/00000-0-5dbee376-db12-4e82-b7c7-ab4adfa40de9-00002.parquet
  gluten-iceberg/src-iceberg/test/resources/junit6640909127060857423/default/db/test_upsert_query/data/00000-0-6bd9cf6c-e03e-4709-b9fc-f7ef771a7c19-00001.parquet
  gluten-iceberg/src-iceberg/test/resources/junit6640909127060857423/default/db/test_upsert_query/data/00000-0-6bd9cf6c-e03e-4709-b9fc-f7ef771a7c19-00002.parquet
  gluten-iceberg/src-iceberg/test/resources/junit6640909127060857423/default/db/test_upsert_query/metadata/.55f5d7ba-1dad-42be-9a6a-fb30179fd803-m0.avro.crc
  gluten-iceberg/src-iceberg/test/resources/junit6640909127060857423/default/db/test_upsert_query/metadata/.55f5d7ba-1dad-42be-9a6a-fb30179fd803-m1.avro.crc
  gluten-iceberg/src-iceberg/test/resources/junit6640909127060857423/default/db/test_upsert_query/metadata/.7667f02f-4d6c-4a67-bf20-4aec7179400a-m0.avro.crc
  gluten-iceberg/src-iceberg/test/resources/junit6640909127060857423/default/db/test_upsert_query/metadata/.7667f02f-4d6c-4a67-bf20-4aec7179400a-m1.avro.crc
  gluten-iceberg/src-iceberg/test/resources/junit6640909127060857423/default/db/test_upsert_query/metadata/.snap-6031039455377193257-1-7667f02f-4d6c-4a67-bf20-4aec7179400a.avro.crc
  gluten-iceberg/src-iceberg/test/resources/junit6640909127060857423/default/db/test_upsert_query/metadata/.snap-8248577847462459384-1-55f5d7ba-1dad-42be-9a6a-fb30179fd803.avro.crc
  gluten-iceberg/src-iceberg/test/resources/junit6640909127060857423/default/db/test_upsert_query/metadata/.v1.metadata.json.crc
  gluten-iceberg/src-iceberg/test/resources/junit6640909127060857423/default/db/test_upsert_query/metadata/.v2.metadata.json.crc
  gluten-iceberg/src-iceberg/test/resources/junit6640909127060857423/default/db/test_upsert_query/metadata/.v3.metadata.json.crc
  gluten-iceberg/src-iceberg/test/resources/junit6640909127060857423/default/db/test_upsert_query/metadata/.version-hint.text.crc
  gluten-iceberg/src-iceberg/test/resources/junit6640909127060857423/default/db/test_upsert_query/metadata/55f5d7ba-1dad-42be-9a6a-fb30179fd803-m0.avro
  gluten-iceberg/src-iceberg/test/resources/junit6640909127060857423/default/db/test_upsert_query/metadata/55f5d7ba-1dad-42be-9a6a-fb30179fd803-m1.avro
  gluten-iceberg/src-iceberg/test/resources/junit6640909127060857423/default/db/test_upsert_query/metadata/7667f02f-4d6c-4a67-bf20-4aec7179400a-m0.avro
  gluten-iceberg/src-iceberg/test/resources/junit6640909127060857423/default/db/test_upsert_query/metadata/7667f02f-4d6c-4a67-bf20-4aec7179400a-m1.avro
  gluten-iceberg/src-iceberg/test/resources/junit6640909127060857423/default/db/test_upsert_query/metadata/snap-6031039455377193257-1-7667f02f-4d6c-4a67-bf20-4aec7179400a.avro
  gluten-iceberg/src-iceberg/test/resources/junit6640909127060857423/default/db/test_upsert_query/metadata/snap-8248577847462459384-1-55f5d7ba-1dad-42be-9a6a-fb30179fd803.avro
  gluten-iceberg/src-iceberg/test/resources/junit6640909127060857423/default/db/test_upsert_query/metadata/v1.metadata.json
  gluten-iceberg/src-iceberg/test/resources/junit6640909127060857423/default/db/test_upsert_query/metadata/v2.metadata.json
  gluten-iceberg/src-iceberg/test/resources/junit6640909127060857423/default/db/test_upsert_query/metadata/v3.metadata.json
  gluten-iceberg/src-iceberg/test/resources/junit6640909127060857423/default/db/test_upsert_query/metadata/version-hint.text
Labels: CLICKHOUSE, DATA_LAKE

#8996 [CORE] Avoid ClassNotFoundException when loading a shaded protobuf class
  gluten-core/src/main/scala/org/apache/gluten/GlutenPlugin.scala
  gluten-core/src/main/scala/org/apache/gluten/initializer/CodedInputStreamClassInitializer.scala
Labels: CORE

#9007 [GLUTEN-1632][CH]Daily Update Clickhouse Version (20250315)
  cpp-ch/clickhouse.version
Labels: CLICKHOUSE

#9021 [VL] Remove unnecessary build options
  .github/workflows/velox_backend.yml
  dev/buildbundle-veloxbe.sh
  docs/developers/MicroBenchmarks.md
  docs/get-started/Velox.md
Labels: BUILD, INFRA, DOCS

#8998 [GLUTEN-8997][CH] Support regular expression delimiters for `str_to_map`
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenFunctionValidateSuite.scala
  cpp-ch/local-engine/Functions/SparkFunctionStrToMap.cpp
Labels: CLICKHOUSE

#9022 [GLUTEN-9019][VL] Add a check to fall back "cast decimal to timestamp"
  cpp/velox/substrait/SubstraitToVeloxPlanValidator.cc
  gluten-ut/spark35/src/test/scala/org/apache/spark/sql/catalyst/expressions/GlutenCastSuite.scala
Labels: CORE, VELOX

#8913 [GLUTEN-3620][VL] RangeExec support for fallback by user options
  gluten-substrait/src/main/scala/org/apache/gluten/extension/columnar/validator/Validators.scala
  shims/common/src/main/scala/org/apache/gluten/config/GlutenConfig.scala
Labels: CORE

#9016 [GLUTEN-9015][VL] Support array_append function
  backends-clickhouse/src/main/scala/org/apache/gluten/utils/CHExpressionUtil.scala
  backends-velox/src/test/scala/org/apache/gluten/execution/ScalarFunctionsValidateSuite.scala
  shims/common/src/main/scala/org/apache/gluten/expression/ExpressionNames.scala
  shims/spark34/src/main/scala/org/apache/gluten/sql/shims/spark34/Spark34Shims.scala
  shims/spark35/src/main/scala/org/apache/gluten/sql/shims/spark35/Spark35Shims.scala
Labels: CORE, VELOX, CLICKHOUSE

#9028 [GLUTEN-9027][VL] Make CI fail fast if native build job fails
  .github/workflows/velox_backend.yml
Labels: INFRA

#8999 [GLUTEN-8995][CH] Fix column not found in `row_number` query
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/tpch/GlutenClickHouseTPCHSaltNullParquetSuite.scala
  cpp-ch/local-engine/AggregateFunctions/GroupLimitFunctions.cpp
  cpp-ch/local-engine/Parser/RelParsers/GroupLimitRelParser.cpp
Labels: CLICKHOUSE

#9043 [GLUTEN-1632][CH]Daily Update Clickhouse Version (20250318)
  cpp-ch/clickhouse.version
  cpp-ch/local-engine/Storages/SubstraitSource/ReadBufferBuilder.cpp
Labels: CLICKHOUSE

#8605 [VL][CI] Use a unified docker image for Spark tests
  .github/workflows/velox_backend.yml
Labels: INFRA

#8640 [GLUTEN-8639][VL] Support casting from double/float to timestamp
  backends-velox/src/test/scala/org/apache/spark/sql/catalyst/expressions/VeloxCastSuite.scala
  cpp/velox/substrait/SubstraitToVeloxPlanValidator.cc
  gluten-ut/spark34/src/test/scala/org/apache/gluten/utils/velox/VeloxTestSettings.scala
  gluten-ut/spark35/src/test/scala/org/apache/gluten/utils/velox/VeloxTestSettings.scala
Labels: CORE, VELOX

#9045 [VL] Move hudi test package to org.apache.gluten.execution
  backends-velox/src-hudi/test/scala/org/apache/gluten/execution/VeloxHudiSuite.scala
  backends-velox/src-hudi/test/scala/org/apache/gluten/execution/VeloxTPCHHudiSuite.scala
Labels: VELOX

#9042 [GLUTEN-9032][CH] `cast` for values built from nothing type
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/tpch/GlutenClickHouseTPCHSaltNullParquetSuite.scala
  cpp-ch/local-engine/Parser/ExpressionParser.cpp
  cpp-ch/local-engine/Parser/ExpressionParser.h
Labels: CLICKHOUSE

#8965 [GLUTEN-8964][VL] Support BNLJ full outer join without condition
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxBackend.scala
  backends-velox/src/test/scala/org/apache/gluten/execution/MiscOperatorSuite.scala
  cpp/velox/substrait/SubstraitToVeloxPlan.cc
  cpp/velox/substrait/SubstraitToVeloxPlanValidator.cc
  gluten-substrait/src/main/scala/org/apache/gluten/backendsapi/BackendSettingsApi.scala
  gluten-substrait/src/main/scala/org/apache/gluten/execution/BroadcastNestedLoopJoinExecTransformer.scala
  gluten-ut/spark32/src/test/scala/org/apache/spark/sql/execution/joins/GlutenBroadcastJoinSuite.scala
  gluten-ut/spark33/src/test/scala/org/apache/spark/sql/gluten/GlutenFallbackSuite.scala
  gluten-ut/spark34/src/test/scala/org/apache/spark/sql/gluten/GlutenFallbackSuite.scala
  gluten-ut/spark35/src/test/scala/org/apache/spark/sql/gluten/GlutenFallbackSuite.scala
Labels: CORE, VELOX

#9051 [GLUTEN-9050][CH] Remove duplicated uri decode which causes runtime exceptions
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenFunctionValidateSuite.scala
  cpp-ch/local-engine/Storages/SubstraitSource/FormatFile.cpp
  cpp-ch/local-engine/Storages/SubstraitSource/FormatFile.h
  cpp-ch/local-engine/Storages/SubstraitSource/ParquetFormatFile.cpp
  cpp-ch/local-engine/Storages/SubstraitSource/iceberg/EqualityDeleteFileReader.cpp
  cpp-ch/local-engine/Storages/SubstraitSource/iceberg/EqualityDeleteFileReader.h
  cpp-ch/local-engine/Storages/SubstraitSource/iceberg/PositionalDeleteFileReader.cpp
  cpp-ch/local-engine/Storages/SubstraitSource/iceberg/PositionalDeleteFileReader.h
  cpp-ch/local-engine/Storages/SubstraitSource/iceberg/SimpleParquetReader.cpp
  cpp-ch/local-engine/Storages/SubstraitSource/iceberg/SimpleParquetReader.h
  cpp-ch/local-engine/Storages/SubstraitSource/substrait_fwd.h
  cpp-ch/local-engine/tests/gtest_iceberge_test.cpp
Labels: CLICKHOUSE

#9029 [GLUTEN-8872][CH][Part-3] Fix reading bug for the update operation with the deletion vectors
  backends-clickhouse/src-delta-32/test/scala/org/apache/spark/gluten/delta/GlutenDeltaParquetDeletionVectorSuite.scala
  cpp-ch/local-engine/Storages/SubstraitSource/Delta/DeltaReader.cpp
  cpp-ch/local-engine/Storages/SubstraitSource/FileReader.cpp
Labels: CLICKHOUSE

#8946 [GLUTEN-8945][VL] Pull out duplicate projections for HashProbe and FilterProject
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxRuleApi.scala
  backends-velox/src/main/scala/org/apache/gluten/extension/PullOutDuplicateProject.scala
  backends-velox/src/test/scala/org/apache/gluten/execution/VeloxHashJoinSuite.scala
Labels: VELOX

#9056 [GLUTEN-8437][VL] Fix the exception when verifying the PrestoPage header during the Presto deserialization process
  cpp/velox/shuffle/VeloxShuffleReader.cc
Labels: VELOX

#9053 [GLUTEN-1632][CH]Daily Update Clickhouse Version (20250319)
  cpp-ch/clickhouse.version
  cpp-ch/local-engine/Disks/ObjectStorages/GlutenHDFSObjectStorage.cpp
  cpp-ch/local-engine/Parser/scalar_function_parser/timestampAdd.cpp
  cpp-ch/local-engine/Parser/scalar_function_parser/unixTimestamp.cpp
  cpp-ch/local-engine/Storages/Serializations/ExcelReadHelpers.cpp
  cpp-ch/local-engine/Storages/SubstraitSource/ReadBufferBuilder.cpp
  cpp-ch/local-engine/examples/splittable_bzip2_read_buffer.cpp
Labels: CLICKHOUSE

#9048 [TEST] Remove useless param for runAndCompare
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenClickHouseExcelFormatSuite.scala
  backends-velox/src/test/scala/org/apache/gluten/execution/ArrowCsvScanSuite.scala
  backends-velox/src/test/scala/org/apache/gluten/execution/VeloxWindowExpressionSuite.scala
  gluten-substrait/src/test/scala/org/apache/gluten/execution/WholeStageTransformerSuite.scala
Labels: CORE, VELOX, CLICKHOUSE

#8606 [GLUTEN-8306][VL] Support GetStructField with scalar function as input
  backends-velox/src/main/scala/org/apache/gluten/expression/ExpressionTransformer.scala
  backends-velox/src/test/scala/org/apache/gluten/execution/MiscOperatorSuite.scala
Labels: VELOX

#9067 [GLUTEN-1632][CH]Daily Update Clickhouse Version (20250320)
  cpp-ch/clickhouse.version
  cpp-ch/local-engine/Common/CHUtil.cpp
Labels: CLICKHOUSE

#9066 [VL] Add API for reserving global off-heap memory from Spark
  backends-velox/src/main/scala/org/apache/spark/memory/GlobalOffHeapMemory.scala
  backends-velox/src/test/scala/org/apache/spark/memory/GlobalOffHeapMemorySuite.scala
  shims/common/src/main/scala/org/apache/spark/storage/BlockManagerUtils.scala
  shims/spark32/src/main/scala/org/apache/spark/TaskContextUtils.scala
  shims/spark33/src/main/scala/org/apache/spark/TaskContextUtils.scala
  shims/spark34/src/main/scala/org/apache/spark/TaskContextUtils.scala
  shims/spark35/src/main/scala/org/apache/spark/TaskContextUtils.scala
Labels: CORE, VELOX

#9011 [GLUTEN-9010][VL] Fix GlutenCastSuite for Spark 34 and 35
  gluten-ut/spark34/src/test/scala/org/apache/gluten/utils/velox/VeloxTestSettings.scala
  gluten-ut/spark34/src/test/scala/org/apache/spark/sql/catalyst/expressions/GlutenCastSuite.scala
  gluten-ut/spark35/src/test/scala/org/apache/gluten/utils/clickhouse/ClickHouseTestSettings.scala
  gluten-ut/spark35/src/test/scala/org/apache/gluten/utils/velox/VeloxTestSettings.scala
  gluten-ut/spark35/src/test/scala/org/apache/spark/sql/catalyst/expressions/GlutenCastSuite.scala
Labels: CORE

#8987 [GLUTEN-8948][VL] Fallback iceberg delete from scan
  backends-velox/pom.xml
  backends-velox/src-iceberg/test/java/org/apache/gluten/spark34/execution/TestTPCHStoragePartitionedJoins.java
  backends-velox/src-iceberg/test/java/org/apache/gluten/spark34/extensions/GlutenTestCopyOnWriteDelete.java
  backends-velox/src-iceberg/test/java/org/apache/gluten/spark34/extensions/GlutenTestMergeOnReadDelete.java
  backends-velox/src-iceberg/test/java/org/apache/gluten/spark34/extensions/GlutenTestMergeOnReadMerge.java
  backends-velox/src-iceberg/test/java/org/apache/gluten/spark34/extensions/GlutenTestMergeOnReadUpdate.java
  backends-velox/src-iceberg/test/java/org/apache/gluten/spark34/extensions/GlutenTestStoragePartitionedJoinsInRowLevelOperations.java
  backends-velox/src-iceberg/test/java/org/apache/gluten/spark34/extensions/GlutenTestSystemFunctionPushDownDQL.java
  backends-velox/src-iceberg/test/java/org/apache/gluten/spark34/extensions/GlutenTestSystemFunctionPushDownInRowLevelOperations.java
  backends-velox/src-iceberg/test/java/org/apache/gluten/spark34/sql/GlutenTestAggregatePushDown.java
  backends-velox/src-iceberg/test/java/org/apache/gluten/spark34/sql/GlutenTestDeleteFrom.java
  backends-velox/src-iceberg/test/java/org/apache/gluten/spark34/sql/GlutenTestPartitionedWritesAsSelect.java
  backends-velox/src-iceberg/test/java/org/apache/gluten/spark34/sql/GlutenTestPartitionedWritesToBranch.java
  backends-velox/src-iceberg/test/java/org/apache/gluten/spark34/sql/GlutenTestPartitionedWritesToWapBranch.java
  backends-velox/src-iceberg/test/java/org/apache/gluten/spark34/sql/GlutenTestSelect.java
  backends-velox/src-iceberg/test/java/org/apache/gluten/spark34/sql/GlutenTestTimestampWithoutZone.java
  backends-velox/src-iceberg/test/java/org/apache/gluten/spark34/sql/TestFilterPushDown.java
  backends-velox/src-iceberg/test/java/org/apache/iceberg/spark/extensions/SparkExtensionsTestBase.java
  backends-velox/src-iceberg/test/java/org/apache/iceberg/spark/source/TestSparkReaderDeletes.java
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxBackend.scala
  docs/get-started/VeloxIceberg.md
  gluten-iceberg/src-iceberg/main/scala/org/apache/gluten/execution/IcebergScanTransformer.scala
  gluten-iceberg/src-iceberg/test/scala/org/apache/gluten/execution/IcebergSuite.scala
  gluten-substrait/src/main/scala/org/apache/gluten/backendsapi/BackendSettingsApi.scala
Labels: CORE, VELOX, DOCS, DATA_LAKE

#8957 [GLUTEN-8956][VL] Add support for casting binary to string
  backends-velox/src/test/scala/org/apache/spark/sql/catalyst/expressions/VeloxCastSuite.scala
  cpp/velox/substrait/SubstraitToVeloxPlanValidator.cc
Labels: VELOX

#9047 [GLUTEN-9044][CH] Fix virtual columns in mergetree table
  backends-clickhouse/src-delta-20/main/scala/org/apache/spark/sql/delta/commands/DeleteCommand.scala
  backends-clickhouse/src-delta-20/main/scala/org/apache/spark/sql/delta/commands/MergeIntoCommand.scala
  backends-clickhouse/src-delta-20/main/scala/org/apache/spark/sql/delta/commands/UpdateCommand.scala
  backends-clickhouse/src-delta-23/main/scala/org/apache/spark/sql/delta/commands/DeleteCommand.scala
  backends-clickhouse/src-delta-23/main/scala/org/apache/spark/sql/delta/commands/MergeIntoCommand.scala
  backends-clickhouse/src-delta-23/main/scala/org/apache/spark/sql/delta/commands/UpdateCommand.scala
  backends-clickhouse/src-delta-32/main/scala/org/apache/spark/sql/delta/commands/DeleteCommand.scala
  backends-clickhouse/src-delta-32/main/scala/org/apache/spark/sql/delta/commands/UpdateCommand.scala
  backends-clickhouse/src-delta-32/main/scala/org/apache/spark/sql/delta/commands/merge/ClassicMergeExecutor.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/mergetree/GlutenClickHouseMergeTreePathBasedWriteSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/mergetree/GlutenClickHouseMergetreeWriteStatsSuite.scala
  cpp-ch/local-engine/Parser/InputFileNameParser.cpp
  cpp-ch/local-engine/Parser/InputFileNameParser.h
  cpp-ch/local-engine/Parser/RelParsers/MergeTreeRelParser.cpp
  cpp-ch/local-engine/Parser/RelParsers/MergeTreeRelParser.h
  cpp-ch/local-engine/Storages/Output/NormalFileWriter.h
Labels: CLICKHOUSE

#9086 Revert "[GLUTEN-9032][CH] `cast` for values built from nothing type"
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/tpch/GlutenClickHouseTPCHSaltNullParquetSuite.scala
  cpp-ch/local-engine/Parser/ExpressionParser.cpp
  cpp-ch/local-engine/Parser/ExpressionParser.h
Labels: CLICKHOUSE

#9084 [VL] Minor refactor for cast expression validation
  cpp/velox/substrait/SubstraitToVeloxPlanValidator.cc
Labels: VELOX

#9075 [VL] Acquire off-heap global memory via the new API for off-heap broadcast exchange
  backends-velox/src/main/scala/org/apache/spark/memory/GlobalOffHeapMemory.scala
  backends-velox/src/main/scala/org/apache/spark/sql/execution/unsafe/UnsafeBytesBufferArray.scala
  backends-velox/src/main/scala/org/apache/spark/sql/execution/unsafe/UnsafeColumnarBuildSideRelation.scala
  backends-velox/src/test/scala/org/apache/spark/memory/GlobalOffHeapMemorySuite.scala
  backends-velox/src/test/scala/org/apache/spark/sql/execution/unsafe/UnsafeColumnarBuildSideRelationTest.scala
Labels: VELOX

#9071 [VL][MINOR] Move HLL rewrite check to the beginning of the rule
  backends-velox/src/main/scala/org/apache/gluten/extension/HLLRewriteRule.scala
Labels: VELOX

#9079 [GLUTEN-9078][CORE] Simplify code of SoftAffinity
  gluten-core/src/main/scala/org/apache/spark/softaffinity/SoftAffinity.scala
  gluten-substrait/src/main/scala/org/apache/gluten/execution/WholeStageTransformer.scala
Labels: CORE

#8967 [GLUTEN-8966][VL] Propagate HashAggregate's ignoreNullKeys when possible
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxRuleApi.scala
  backends-velox/src/main/scala/org/apache/gluten/config/VeloxConfig.scala
  backends-velox/src/main/scala/org/apache/gluten/execution/HashAggregateExecTransformer.scala
  backends-velox/src/main/scala/org/apache/gluten/extension/HashAggregateIgnoreNullKeysRule.scala
  backends-velox/src/test/scala/org/apache/gluten/execution/VeloxAggregateFunctionsSuite.scala
  cpp/velox/substrait/SubstraitToVeloxPlan.cc
  gluten-substrait/src/main/scala/org/apache/gluten/execution/HashAggregateExecBaseTransformer.scala
Labels: CORE, VELOX

#9110 [CH][DOC] Update Clang to Clang-19 in CH backend
  docs/developers/clickhouse-backend-debug.md
  docs/get-started/ClickHouse.md
  docs/image/ClickHouse/CLion-Configuration-1.png
  docs/image/ClickHouse/gluten-debug-clion-toolchains.png
  docs/image/ClickHouse/gluten-debug-profile-settings.png
Labels: DOCS

#9097 [GLUTEN-8565][VL] Minor refactor for Columnar CollectLimit
  gluten-substrait/src/main/scala/org/apache/gluten/execution/ColumnarCollectLimitBaseExec.scala
  gluten-substrait/src/main/scala/org/apache/gluten/extension/columnar/validator/Validators.scala
  shims/common/src/main/scala/org/apache/gluten/config/GlutenConfig.scala
Labels: CORE

#9077 [GLUTEN-9076][VL] Prioritize offloading supported hive udf in ColumnarPartialProject
  backends-velox/src/main/scala/org/apache/gluten/execution/ColumnarPartialProjectExec.scala
  backends-velox/src/main/scala/org/apache/spark/sql/hive/VeloxHiveUDFTransformer.scala
  backends-velox/src/test/scala/org/apache/spark/sql/execution/GlutenHiveUDFSuite.scala
Labels: VELOX

#9109 [TESTS] Disable Spark UI in some tests
  gluten-core/src/test/scala/org/apache/spark/shuffle/GlutenShuffleManagerSuite.scala
  gluten-substrait/src/test/scala/org/apache/gluten/extension/columnar/transition/TransitionSuite.scala
  gluten-substrait/src/test/scala/org/apache/spark/softaffinity/SoftAffinitySuite.scala
  gluten-substrait/src/test/scala/org/apache/spark/softaffinity/SoftAffinityWithRDDInfoSuite.scala
  gluten-substrait/src/test/scala/org/apache/spark/sql/GlutenQueryTest.scala
Labels: CORE

#9072 [GLUTEN-9049][CH] Fix diff for cast complex type to string
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/compatibility/GlutenClickhouseFunctionSuite.scala
  cpp-ch/local-engine/Functions/SparkCastComplexTypesToString.cpp
  cpp-ch/local-engine/Functions/SparkCastComplexTypesToString.h
  cpp-ch/local-engine/Functions/SparkFunctionArrayToString.h
  cpp-ch/local-engine/Functions/SparkFunctionMapToString.cpp
  cpp-ch/local-engine/Functions/SparkFunctionMapToString.h
  cpp-ch/local-engine/Parser/ExpressionParser.cpp
  cpp-ch/local-engine/Parser/ExpressionParser.h
Labels: CLICKHOUSE

#9094 [GLUTEN-9093][CH] Add TryCastSuite for CH backend Spark 3.4
  gluten-ut/spark34/src/test/scala/org/apache/gluten/utils/clickhouse/ClickHouseTestSettings.scala
Labels: CORE

#9124 [GLUTEN-9123][VL][CI] pin setuptools version in CI
  .github/workflows/velox_backend.yml
Labels: INFRA

#9118 [GLUTEN-9117][VL] Fix -DBUILD_BENCHMARKS=ON on macos
  cpp/core/CMakeLists.txt
  cpp/core/benchmarks/CMakeLists.txt
  cpp/velox/benchmarks/CMakeLists.txt
  cpp/velox/benchmarks/ColumnarToRowBenchmark.cc
  cpp/velox/benchmarks/CompressionBenchmark.cc
  cpp/velox/benchmarks/ParquetWriteBenchmark.cc
  cpp/velox/benchmarks/common/BenchmarkUtils.cc
Labels: VELOX

#9059 [GLUTEN-8974][CH] Replace specical `join + aggregate` case with `any join`
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHBackend.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHRuleApi.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/execution/CHHashJoinExecTransformer.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/extension/EliminateDeduplicateAggregateWithAnyJoin.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/tpch/GlutenClickHouseTPCHSaltNullParquetSuite.scala
  cpp-ch/local-engine/Parser/AdvancedParametersParseUtil.cpp
  cpp-ch/local-engine/Parser/AdvancedParametersParseUtil.h
  cpp-ch/local-engine/Parser/RelParsers/JoinRelParser.cpp
  cpp-ch/local-engine/Rewriter/RelRewriter.h
Labels: CLICKHOUSE

#9127 [GLUTEN-9076][VL][FOLLOWUP] Simplify code of HiveUDF
  backends-velox/src/main/scala/org/apache/gluten/execution/ColumnarPartialProjectExec.scala
  backends-velox/src/main/scala/org/apache/spark/sql/hive/HiveUdfUtil.scala
  backends-velox/src/main/scala/org/apache/spark/sql/hive/VeloxHiveUDFTransformer.scala
  backends-velox/src/test/scala/org/apache/spark/sql/execution/GlutenHiveUDFSuite.scala
  gluten-substrait/src/main/scala/org/apache/spark/sql/hive/HiveUDFTransformer.scala
Labels: CORE, VELOX

#9089 [GLUTEN-9085][CH] Add UT for mergetree write stats
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/mergetree/GlutenClickHouseMergetreeWriteStatsSuite.scala
  cpp-ch/local-engine/Common/GlutenConfig.cpp
  cpp-ch/local-engine/Common/GlutenConfig.h
  cpp-ch/local-engine/Storages/Output/NormalFileWriter.h
Labels: CLICKHOUSE

#9069 [VL] Optimize memory allocation for VeloxRssShuffleReader
  cpp/velox/shuffle/VeloxShuffleReader.cc
  cpp/velox/shuffle/VeloxShuffleReader.h
Labels: VELOX

#9131 [CH] Fix kafka unstable ut
  cpp-ch/local-engine/Parser/SerializedPlanParser.cpp
Labels: CLICKHOUSE

#9024 [VL][CI] Dump & upload logs for unit test to GitHub artifact
  .github/workflows/velox_backend.yml
  gluten-arrow/src/test/resources/log4j2.properties
  gluten-celeborn/pom.xml
  gluten-core/src/test/resources/log4j2.properties
  gluten-delta/pom.xml
  gluten-delta/src-delta/test/resources/log4j2.properties
  gluten-hudi/pom.xml
  gluten-hudi/src-hudi/test/resources/log4j2.properties
  gluten-iceberg/pom.xml
  gluten-iceberg/src-iceberg/test/resources/log4j2.properties
  gluten-kafka/pom.xml
  gluten-kafka/src-kafka/test/resources/log4j2.properties
  gluten-ras/common/src/test/resources/log4j2.properties
  gluten-substrait/src/test/resources/log4j2.properties
  gluten-ut/spark32/src/test/resources/log4j2.properties
  gluten-ut/spark33/src/test/resources/log4j2.properties
  gluten-ut/spark34/src/test/resources/log4j2.properties
  gluten-ut/spark35/src/test/resources/log4j2.properties
  pom.xml
Labels: CORE, VELOX, INFRA, RSS, DATA_LAKE

#9103 [VL][MIRROR] Migrate Velox runtime config flags to dynamic VeloxRuntime settings
  backends-velox/src/main/scala/org/apache/gluten/config/VeloxConfig.scala
  cpp/velox/compute/VeloxBackend.cc
  cpp/velox/compute/VeloxRuntime.cc
  cpp/velox/config/VeloxConfig.h
  cpp/velox/memory/VeloxMemoryManager.cc
  shims/common/src/main/scala/org/apache/gluten/config/GlutenConfig.scala
Labels: CORE, VELOX

#7946 [VL] Enable filter push-down on nested field
  cpp/velox/compute/VeloxBackend.cc
  cpp/velox/operators/functions/SparkExprToSubfieldFilterParser.cc
  cpp/velox/operators/functions/SparkExprToSubfieldFilterParser.h
  ep/build-velox/src/get_velox.sh
  gluten-ut/spark32/src/test/scala/org/apache/gluten/utils/velox/VeloxTestSettings.scala
  gluten-ut/spark33/src/test/scala/org/apache/gluten/utils/velox/VeloxTestSettings.scala
  gluten-ut/spark34/src/test/scala/org/apache/gluten/utils/velox/VeloxTestSettings.scala
  gluten-ut/spark35/src/test/scala/org/apache/gluten/utils/velox/VeloxTestSettings.scala
Labels: CORE, BUILD, VELOX

#9115 [VL] Account some C++ untracked memory allocations into Spark global off-heap memory
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxListenerApi.scala
  backends-velox/src/main/scala/org/apache/spark/memory/GlobalOffHeapMemory.scala
  backends-velox/src/main/scala/org/apache/spark/sql/execution/unsafe/UnsafeBytesBufferArray.scala
  backends-velox/src/test/scala/org/apache/spark/memory/GlobalOffHeapMemorySuite.scala
  cpp/core/jni/JniCommon.h
  cpp/core/jni/JniWrapper.cc
  cpp/core/memory/MemoryAllocator.cc
  cpp/velox/benchmarks/ParquetWriteBenchmark.cc
  cpp/velox/benchmarks/common/BenchmarkUtils.cc
  cpp/velox/compute/VeloxBackend.cc
  cpp/velox/compute/VeloxBackend.h
  cpp/velox/jni/VeloxJniWrapper.cc
  cpp/velox/memory/VeloxMemoryManager.cc
  cpp/velox/memory/VeloxMemoryManager.h
  cpp/velox/substrait/SubstraitToVeloxPlan.cc
  cpp/velox/tests/BufferOutputStreamTest.cc
  cpp/velox/tests/MemoryManagerTest.cc
  cpp/velox/tests/RuntimeTest.cc
  gluten-arrow/src/main/java/org/apache/gluten/init/NativeBackendInitializer.java
Labels: VELOX

#9091 [GLUTEN-9083][CH]Fix the nullability missmatch of nothing type
  cpp-ch/local-engine/Common/CHUtil.cpp
  cpp-ch/local-engine/Common/CHUtil.h
  cpp-ch/local-engine/Parser/ExpressionParser.cpp
  cpp-ch/local-engine/Parser/FunctionParser.cpp
  cpp-ch/local-engine/Parser/TypeParser.cpp
  cpp-ch/local-engine/Parser/TypeParser.h
Labels: CLICKHOUSE

#9092 [VL] Improve native plan validation code
  cpp/core/jni/JniCommon.h
  cpp/velox/benchmarks/PlanValidatorUtil.cc
  cpp/velox/jni/VeloxJniWrapper.cc
  cpp/velox/substrait/SubstraitToVeloxPlanValidator.cc
  cpp/velox/substrait/SubstraitToVeloxPlanValidator.h
  cpp/velox/tests/Substrait2VeloxPlanValidatorTest.cc
Labels: VELOX

#9136 [GLUTEN-1632][CH]Daily Update Clickhouse Version (20250326)
  cpp-ch/clickhouse.version
  cpp-ch/local-engine/Common/CHUtil.cpp
  cpp-ch/local-engine/Parser/SerializedPlanParser.cpp
  cpp-ch/local-engine/Storages/IO/NativeReader.cpp
  cpp-ch/local-engine/tests/gtest_local_engine.cpp
Labels: CLICKHOUSE

#9058 [GLUTEN-9057][VL] Avoid flatten unnecessary vector in ColumnarBatch.select
  cpp/velox/memory/VeloxColumnarBatch.cc
  cpp/velox/operators/serializer/VeloxColumnarToRowConverter.cc
Labels: VELOX

#9157 [GLUTEN-9039][CH] Improve array_sort performance when only single argument is input
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHSparkPlanExecApi.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/expression/CHExpressionTransformer.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenFunctionValidateSuite.scala
  cpp-ch/local-engine/Parser/scalar_function_parser/arrayHighOrderFunctions.cpp
Labels: CLICKHOUSE

#9143 [VL] Fix reclaim size for shuffle
  cpp/velox/shuffle/VeloxHashShuffleWriter.cc
Labels: VELOX

#9140 [VL][CI] Add test for rss sort shuffle
  .github/workflows/velox_backend.yml
  tools/gluten-it/common/src/main/scala/org/apache/gluten/integration/Constants.scala
Labels: INFRA, TOOLS

#9132 [VL] Use SPARK_COMPILE_VERSION instead of hardcoded for SparkShimDescriptor at compile time
  dev/gluten-build-info.sh
  gluten-core/pom.xml
  gluten-substrait/pom.xml
  gluten-substrait/src/test/scala/org/apache/gluten/shims/SparkShimDescriptorSuite.scala
  shims/common/src/main/scala/org/apache/gluten/GlutenBuildInfo.scala
  shims/common/src/main/scala/org/apache/gluten/sql/shims/SparkShimProvider.scala
  shims/common/src/main/scala/org/apache/gluten/sql/shims/SparkShims.scala
  shims/common/src/main/scala/org/apache/spark/util/SparkVersionUtil.scala
  shims/spark32/src/main/scala/org/apache/gluten/sql/shims/spark32/Spark32Shims.scala
  shims/spark32/src/main/scala/org/apache/gluten/sql/shims/spark32/SparkShimProvider.scala
  shims/spark33/src/main/scala/org/apache/gluten/sql/shims/spark33/Spark33Shims.scala
  shims/spark33/src/main/scala/org/apache/gluten/sql/shims/spark33/SparkShimProvider.scala
  shims/spark34/src/main/scala/org/apache/gluten/sql/shims/spark34/Spark34Shims.scala
  shims/spark34/src/main/scala/org/apache/gluten/sql/shims/spark34/SparkShimProvider.scala
  shims/spark35/src/main/scala/org/apache/gluten/sql/shims/spark35/Spark35Shims.scala
  shims/spark35/src/main/scala/org/apache/gluten/sql/shims/spark35/SparkShimProvider.scala
Labels: CORE, BUILD

#9165 [GLUTEN-9164][CH]Enable row group level bloom filter push down
  cpp-ch/local-engine/Common/CHUtil.cpp
Labels: CLICKHOUSE

#9156 [GLUTEN-9148] Fix shuffle file permission issue when using ColumnarShuffleManager
  cpp/core/shuffle/LocalPartitionWriter.cc
Labels: VELOX

#9168 [VL] Fix weekly build job
  dev/build-thirdparty.sh
  ep/build-velox/src/setup-centos7.sh
Labels: BUILD, VELOX

#9142 [GLUTEN-9055][CH] Fix input_file_name diff from hive text table
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/hive/GlutenClickHouseHiveTableSuite.scala
  gluten-substrait/src/main/scala/org/apache/gluten/extension/columnar/PushDownInputFileExpression.scala
  shims/spark32/src/main/scala/org/apache/spark/sql/hive/execution/AbstractHiveTableScanExec.scala
  shims/spark33/src/main/scala/org/apache/spark/sql/hive/execution/AbstractHiveTableScanExec.scala
  shims/spark34/src/main/scala/org/apache/spark/sql/hive/execution/AbstractHiveTableScanExec.scala
  shims/spark35/src/main/scala/org/apache/spark/sql/hive/execution/AbstractHiveTableScanExec.scala
Labels: CORE, CLICKHOUSE
