Repository apache/incubator-gluten, pull requests merged in 2025-04, with the labels that each got.

#9186 [Core] Bump version to 1.5.0-SNAPSHOT following the creation of branch-1.4.
  backends-clickhouse/pom.xml
  backends-velox/pom.xml
  dev/info.sh
  gluten-arrow/pom.xml
  gluten-celeborn/pom.xml
  gluten-core/pom.xml
  gluten-delta/pom.xml
  gluten-hudi/pom.xml
  gluten-iceberg/pom.xml
  gluten-kafka/pom.xml
  gluten-ras/common/pom.xml
  gluten-ras/planner/pom.xml
  gluten-ras/pom.xml
  gluten-substrait/pom.xml
  gluten-ui/pom.xml
  gluten-uniffle/pom.xml
  gluten-ut/common/pom.xml
  gluten-ut/pom.xml
  gluten-ut/spark32/pom.xml
  gluten-ut/spark33/pom.xml
  gluten-ut/spark34/pom.xml
  gluten-ut/spark35/pom.xml
  gluten-ut/test/pom.xml
  package/pom.xml
  pom.xml
  shims/common/pom.xml
  shims/pom.xml
  shims/spark32/pom.xml
  shims/spark33/pom.xml
  shims/spark34/pom.xml
  shims/spark35/pom.xml
  tools/gluten-it/common/pom.xml
  tools/gluten-it/package/pom.xml
  tools/gluten-it/pom.xml
  tools/scripts/gen-function-support-docs.py
  tools/workload/benchmark_velox/params.yaml.template
  tools/workload/benchmark_velox/sample/tpch_q1.html
  tools/workload/benchmark_velox/sample/tpch_q1.ipynb
  tools/workload/benchmark_velox/tpc_workload.ipynb
Labels: CORE, BUILD, VELOX, RSS, TOOLS, CLICKHOUSE, DATA_LAKE

#9192 [GLUTEN-8846][CH] [Part 3] Add benchmark for Icerberg Delete
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenClickHouseTPCHAbstractSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/tpch/GlutenClickHouseHDFSSuite.scala
  cpp-ch/local-engine/Common/BlockTypeUtils.cpp
  cpp-ch/local-engine/Common/BlockTypeUtils.h
  cpp-ch/local-engine/Common/PlanUtil.cpp
  cpp-ch/local-engine/Parser/FunctionExecutor.cpp
  cpp-ch/local-engine/Parser/RelParsers/ReadRelParser.cpp
  cpp-ch/local-engine/Parser/RelParsers/WriteRelParser.cpp
  cpp-ch/local-engine/Storages/SubstraitSource/CMakeLists.txt
  cpp-ch/local-engine/Storages/SubstraitSource/FileReader.cpp
  cpp-ch/local-engine/Storages/SubstraitSource/Iceberg/EqualityDeleteFileReader.cpp
  cpp-ch/local-engine/Storages/SubstraitSource/Iceberg/EqualityDeleteFileReader.h
  cpp-ch/local-engine/Storages/SubstraitSource/Iceberg/IcebergMetadataColumn.h
  cpp-ch/local-engine/Storages/SubstraitSource/Iceberg/IcebergReader.cpp
  cpp-ch/local-engine/Storages/SubstraitSource/Iceberg/IcebergReader.h
  cpp-ch/local-engine/Storages/SubstraitSource/Iceberg/PositionalDeleteFileReader.cpp
  cpp-ch/local-engine/Storages/SubstraitSource/Iceberg/PositionalDeleteFileReader.h
  cpp-ch/local-engine/Storages/SubstraitSource/Iceberg/SimpleParquetReader.cpp
  cpp-ch/local-engine/Storages/SubstraitSource/Iceberg/SimpleParquetReader.h
  cpp-ch/local-engine/Storages/SubstraitSource/ParquetFormatFile.cpp
  cpp-ch/local-engine/tests/benchmark_parquet_read.cpp
  cpp-ch/local-engine/tests/gtest_iceberge_test.cpp
  cpp-ch/local-engine/tests/gtest_parquet_columnindex.cpp
  cpp-ch/local-engine/tests/utils/gluten_test_util.cpp
  cpp-ch/local-engine/tests/utils/gluten_test_util.h
Labels: CLICKHOUSE

#9138 [GLUTEN-9020][CH] Support delta DV BitmapAggregator
  backends-clickhouse/src-delta-32/main/scala/org/apache/gluten/extension/DeltaExpressionExtensionTransformer.scala
  backends-clickhouse/src-delta-32/main/scala/org/apache/gluten/sql/shims/delta32/Delta32Shims.scala
  backends-clickhouse/src-delta-32/test/scala/org/apache/spark/gluten/delta/GlutenDeltaParquetDeletionVectorSuite.scala
  backends-clickhouse/src-delta/main/scala/org/apache/gluten/component/CHDeltaComponent.scala
  backends-clickhouse/src-delta/main/scala/org/apache/gluten/sql/shims/DeltaShims.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHListenerApi.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHRuleApi.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHSparkPlanExecApi.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/execution/CHHashAggregateExecTransformer.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/expression/CHExpressions.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/extension/ExpressionExtensionTrait.scala
  cpp-ch/local-engine/AggregateFunctions/AggregateFunctionDVRoaringBitmap.cpp
  cpp-ch/local-engine/AggregateFunctions/AggregateFunctionDVRoaringBitmap.h
  cpp-ch/local-engine/Common/CHUtil.cpp
  cpp-ch/local-engine/Parser/aggregate_function_parser/CommonAggregateFunctionParser.cpp
  cpp-ch/local-engine/Storages/SubstraitSource/Delta/Bitmap/DeltaDVRoaringBitmapArray.cpp
  cpp-ch/local-engine/Storages/SubstraitSource/Delta/Bitmap/DeltaDVRoaringBitmapArray.h
  cpp-ch/local-engine/Storages/SubstraitSource/Delta/DeltaReader.cpp
  cpp-ch/local-engine/Storages/SubstraitSource/Iceberg/PositionalDeleteFileReader.cpp
  cpp-ch/local-engine/tests/gtest_clickhouse_roaring_bitmap.cpp
Labels: CLICKHOUSE

#9198 [GLUTEN-9197][CH] Simplify sum aggregate expression
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHBackend.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHRuleApi.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/execution/CHHashAggregateExecTransformer.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/extension/SimplifySumRule.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenFunctionValidateSuite.scala
Labels: CLICKHOUSE

#9206 [VL][CI] Optimize celeborn ci
  .github/workflows/velox_backend.yml
Labels: INFRA

#9080 [VL] Enable more ut in VeloxTestSettings
  gluten-ut/spark32/src/test/scala/org/apache/gluten/utils/velox/VeloxTestSettings.scala
  gluten-ut/spark33/src/test/scala/org/apache/gluten/utils/velox/VeloxTestSettings.scala
  gluten-ut/spark34/src/test/scala/org/apache/gluten/utils/velox/VeloxTestSettings.scala
  gluten-ut/spark35/src/test/scala/org/apache/gluten/utils/velox/VeloxTestSettings.scala
Labels: CORE

#9200 [GLUTEN-9199][VL] Fix error when creating shuffle file: open with O_CREAT or O_TMPFILE in second argument needs 3 arguments
  cpp/core/shuffle/LocalPartitionWriter.cc
Labels: VELOX

#9208 [CI] auto assign issue based on comments
  .github/workflows/take.yml
Labels: INFRA

#9201 [CORE] Fix duplicate setting for config LEGACY_TIME_PARSER_POLICY
  shims/common/src/main/scala/org/apache/gluten/config/GlutenConfig.scala
Labels: CORE

#9185 [GLUTEN-9176][CH] Rewrite aggregate if to aggregate with filter clause
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHBackend.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHRuleApi.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/extension/AggregateIfToFilterRule.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenFunctionValidateSuite.scala
Labels: CLICKHOUSE

#8558 [GLUTEN-8557][CH] Flatten nested `And`/`Or` for performance optimization
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHRuleApi.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHSparkPlanExecApi.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/execution/CHFilterExecTransformer.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/expression/CHFlattenedExpression.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/extension/FlattenNestedExpressions.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenFunctionValidateSuite.scala
  cpp-ch/local-engine/Functions/SparkFunctionTupleElement.cpp
  cpp-ch/local-engine/Parser/FunctionParser.cpp
  gluten-substrait/src/main/scala/org/apache/gluten/backendsapi/SparkPlanExecApi.scala
  gluten-substrait/src/main/scala/org/apache/gluten/execution/BasicPhysicalOperatorTransformer.scala
  gluten-substrait/src/main/scala/org/apache/gluten/expression/ExpressionConverter.scala
  shims/common/src/main/scala/org/apache/gluten/config/GlutenConfig.scala
Labels: CORE, CLICKHOUSE

#9214 Revert "[GLUTEN-9164][CH]Enable row group level bloom filter push down"
  cpp-ch/local-engine/Common/CHUtil.cpp
Labels: CLICKHOUSE

#9183 [GLUTEN-9182][VL] Support new s3 configuration in Gluten
  cpp/velox/utils/ConfigExtractor.cc
  docs/get-started/VeloxS3.md
  shims/common/src/main/scala/org/apache/gluten/config/GlutenConfig.scala
Labels: CORE, VELOX, DOCS

#9221 [VL] Celeborn shuffle reader OOM with many empty input stream
  backends-velox/src-celeborn/main/scala/org/apache/spark/shuffle/VeloxCelebornColumnarBatchSerializer.scala
Labels: VELOX

#8971 [GLUTEN-8821][VL] Update aggregate/generator/window support doc and script
  docs/velox-backend-aggregate-function-support.md
  docs/velox-backend-generator-function-support.md
  docs/velox-backend-scalar-function-support.md
  docs/velox-backend-support-progress.md
  docs/velox-backend-window-function-support.md
  gluten-substrait/src/main/scala/org/apache/gluten/expression/ExpressionConverter.scala
  gluten-substrait/src/test/scala/org/apache/spark/sql/GlutenTestUtils.scala
  gluten-ut/spark35/src/test/scala/org/apache/gluten/utils/velox/VeloxSQLQueryTestSettings.scala
  shims/spark34/src/main/scala/org/apache/gluten/sql/shims/spark34/Spark34Shims.scala
  shims/spark35/src/main/scala/org/apache/gluten/sql/shims/spark35/Spark35Shims.scala
  tools/scripts/gen-function-support-docs.py
Labels: CORE, TOOLS, DOCS

#9232 [GLUTEN-1632][CH]Daily Update Clickhouse Version (20250405)
  cpp-ch/clickhouse.version
  cpp-ch/local-engine/Storages/MergeTree/SparkMergeTreeMeta.cpp
  cpp-ch/local-engine/Storages/MergeTree/SparkStorageMergeTree.h
  cpp-ch/local-engine/tests/gtest_iceberge_test.cpp
Labels: CLICKHOUSE

#9234 [GLUTEN-1632][CH]Daily Update Clickhouse Version (20250406)
  cpp-ch/clickhouse.version
  cpp-ch/local-engine/Disks/ObjectStorages/MetadataStorageFromRocksDB.cpp
  cpp-ch/local-engine/Disks/ObjectStorages/MetadataStorageFromRocksDB.h
Labels: CLICKHOUSE

#9207 [VL] Change to use Velox's wget_and_untar in setup-centos7.sh
  ep/build-velox/src/setup-centos7.sh
Labels: VELOX

#9155 [GLUTEN-9196][CH] Use wide-table aggregation to eliminate multi-table joins
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHBackend.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHRuleApi.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/extension/JoinAggregateToAggregateUnion.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenEliminateJoinSuite.scala
Labels: CLICKHOUSE

#9150 [GLUTEN-9149][CORE] Remove Spark-specific code from JniLibLoader & JniWorkspace
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHListenerApi.scala
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxListenerApi.scala
  gluten-core/src/main/java/org/apache/gluten/jni/JniLibLoader.java
  gluten-core/src/main/java/org/apache/gluten/jni/JniWorkspace.java
Labels: CORE, VELOX, CLICKHOUSE

#9220 [CORE][VL] Hide child nodes from implementations of `OffloadSingleNode`
  .gitignore
  backends-velox/src-delta/main/scala/org/apache/gluten/component/VeloxDeltaComponent.scala
  backends-velox/src-hudi/main/scala/org/apache/gluten/component/VeloxHudiComponent.scala
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxRuleApi.scala
  gluten-core/src/main/scala/org/apache/gluten/extension/columnar/offload/OffloadSingleNode.scala
  gluten-substrait/src/main/scala/org/apache/gluten/extension/columnar/offload/OffloadSingleNodeRules.scala
Labels: CORE, VELOX

#9009 [GLUTEN-9008][VL] Support json_object_keys function
  backends-clickhouse/src/main/scala/org/apache/gluten/utils/CHExpressionUtil.scala
  backends-velox/src/test/scala/org/apache/gluten/execution/JsonFunctionsValidateSuite.scala
  gluten-substrait/src/main/scala/org/apache/gluten/expression/ExpressionMappings.scala
  shims/common/src/main/scala/org/apache/gluten/expression/ExpressionNames.scala
Labels: CORE, VELOX, CLICKHOUSE

#9242 [GLUTEN-9239][CH] Support JDK17 for the CH backend
  backends-clickhouse/pom.xml
  backends-clickhouse/src/main/java/org/apache/gluten/vectorized/CHNativeExpressionEvaluator.java
  backends-clickhouse/src/main/java/org/apache/gluten/vectorized/ExpressionEvaluatorJniWrapper.java
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHListenerApi.scala
  cpp-ch/local-engine/local_engine_jni.cpp
Labels: CLICKHOUSE

#9153 [GLUTEN-9152][CORE] Avoid unnecessary serialization of hadoop conf
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHBackend.scala
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxBackend.scala
  backends-velox/src/main/scala/org/apache/gluten/utils/ParquetMetadataUtils.scala
  gluten-substrait/src/main/scala/org/apache/gluten/backendsapi/BackendSettingsApi.scala
  gluten-substrait/src/main/scala/org/apache/gluten/execution/BasicScanExecTransformer.scala
  gluten-substrait/src/main/scala/org/apache/gluten/execution/WholeStageTransformer.scala
Labels: CORE, VELOX, CLICKHOUSE

#9260 [1.4] preparing v1.4.0-rc0 release
  backends-clickhouse/pom.xml
  backends-velox/pom.xml
  dev/info.sh
  gluten-arrow/pom.xml
  gluten-celeborn/pom.xml
  gluten-core/pom.xml
  gluten-delta/pom.xml
  gluten-hudi/pom.xml
  gluten-iceberg/pom.xml
  gluten-kafka/pom.xml
  gluten-ras/common/pom.xml
  gluten-ras/planner/pom.xml
  gluten-ras/pom.xml
  gluten-substrait/pom.xml
  gluten-ui/pom.xml
  gluten-uniffle/pom.xml
  gluten-ut/common/pom.xml
  gluten-ut/pom.xml
  gluten-ut/spark32/pom.xml
  gluten-ut/spark33/pom.xml
  gluten-ut/spark34/pom.xml
  gluten-ut/spark35/pom.xml
  gluten-ut/test/pom.xml
  package/pom.xml
  pom.xml
  shims/common/pom.xml
  shims/pom.xml
  shims/spark32/pom.xml
  shims/spark33/pom.xml
  shims/spark34/pom.xml
  shims/spark35/pom.xml
  tools/gluten-it/common/pom.xml
  tools/gluten-it/package/pom.xml
  tools/gluten-it/pom.xml
  tools/scripts/gen-function-support-docs.py
  tools/workload/benchmark_velox/params.yaml.template
  tools/workload/benchmark_velox/sample/tpch_q1.html
  tools/workload/benchmark_velox/sample/tpch_q1.ipynb
  tools/workload/benchmark_velox/tpc_workload.ipynb
Labels: CORE, BUILD, VELOX, RSS, TOOLS, CLICKHOUSE, DATA_LAKE

#9262 [VL][CI] bump to use ubuntu-22.04 runner
  .github/workflows/build_bundle_package.yml
  .github/workflows/velox_backend.yml
  .github/workflows/velox_backend_cache.yml
  .github/workflows/velox_nightly.yml
Labels: INFRA

#9179 [GLUTEN-9177][CH]Fix diff on parse host of url and refactor `SparkParseURL`
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/tpch/GlutenClickHouseTPCHSaltNullParquetSuite.scala
  cpp-ch/local-engine/Functions/SparkParseURL.cpp
  gluten-ut/spark32/src/test/scala/org/apache/gluten/utils/clickhouse/ClickHouseTestSettings.scala
  gluten-ut/spark33/src/test/scala/org/apache/gluten/utils/clickhouse/ClickHouseTestSettings.scala
  gluten-ut/spark34/src/test/scala/org/apache/gluten/utils/clickhouse/ClickHouseTestSettings.scala
  gluten-ut/spark35/src/test/scala/org/apache/gluten/utils/clickhouse/ClickHouseTestSettings.scala
Labels: CORE, CLICKHOUSE

#8911 [CORE] Decrease offheap memory size in resource profile for whole stage fallback case
  gluten-substrait/src/main/scala/org/apache/spark/sql/execution/GlutenAutoAdjustStageResourceProfile.scala
Labels: CORE

#9248 [GLUTEN-9205][CH] Support deletion vector native write
  backends-clickhouse/src-delta-32/main/java/org/apache/gluten/vectorized/DeltaWriterJNIWrapper.java
  backends-clickhouse/src-delta-32/main/scala/org/apache/gluten/sql/shims/delta32/Delta32Shims.scala
  backends-clickhouse/src-delta-32/main/scala/org/apache/spark/sql/delta/commands/DMLWithDeletionVectorsHelper.scala
  backends-clickhouse/src-delta-32/main/scala/org/apache/spark/sql/execution/DeletionVectorWriteTransformer.scala
  backends-clickhouse/src-delta-32/test/scala/org/apache/spark/gluten/delta/GlutenDeltaParquetDeletionVectorSuite.scala
  backends-clickhouse/src-delta/main/scala/org/apache/gluten/component/CHDeltaComponent.scala
  backends-clickhouse/src-delta/main/scala/org/apache/gluten/sql/shims/DeltaShims.scala
  cpp-ch/local-engine/AggregateFunctions/AggregateFunctionDVRoaringBitmap.h
  cpp-ch/local-engine/Storages/SubstraitSource/Delta/Bitmap/DeltaDVRoaringBitmapArray.cpp
  cpp-ch/local-engine/Storages/SubstraitSource/Delta/Bitmap/DeltaDVRoaringBitmapArray.h
  cpp-ch/local-engine/Storages/SubstraitSource/Delta/DeltaUtil.cpp
  cpp-ch/local-engine/Storages/SubstraitSource/Delta/DeltaUtil.h
  cpp-ch/local-engine/Storages/SubstraitSource/Delta/DeltaWriter.cpp
  cpp-ch/local-engine/Storages/SubstraitSource/Delta/DeltaWriter.h
  cpp-ch/local-engine/local_engine_jni.cpp
  cpp-ch/local-engine/tests/gtest_clickhouse_roaring_bitmap.cpp
Labels: CLICKHOUSE

#9268 [VL] Delete global reference to a class object in JNI unload
  cpp/velox/jni/VeloxJniWrapper.cc
Labels: VELOX

#9264 [GLUTEN-1632][CH]Daily Update Clickhouse Version (20250409)
  cpp-ch/clickhouse.version
  cpp-ch/local-engine/Storages/SubstraitSource/ORCFormatFile.cpp
Labels: CLICKHOUSE

#9259 [GLUTEN-9245][VL] Fix partial project expression contains subquery
  backends-velox/src/main/scala/org/apache/gluten/execution/ColumnarPartialProjectExec.scala
  backends-velox/src/test/scala/org/apache/gluten/expression/UDFPartialProjectSuite.scala
Labels: VELOX

#9249 [GLUTEN-9244][CORE] Change the way of passing default timezone to native config
  cpp/core/config/GlutenConfig.h
  cpp/velox/compute/WholeStageResultIterator.cc
  gluten-core/src/main/scala/org/apache/gluten/GlutenPlugin.scala
  gluten-ut/spark32/src/test/scala/org/apache/spark/sql/catalyst/expressions/GlutenDateExpressionsSuite.scala
  gluten-ut/spark33/src/test/scala/org/apache/spark/sql/catalyst/expressions/GlutenDateExpressionsSuite.scala
  gluten-ut/spark34/src/test/scala/org/apache/spark/sql/catalyst/expressions/GlutenDateExpressionsSuite.scala
  gluten-ut/spark35/src/test/scala/org/apache/spark/sql/catalyst/expressions/GlutenDateExpressionsSuite.scala
  shims/common/src/main/scala/org/apache/gluten/config/GlutenConfig.scala
Labels: CORE, VELOX

#9230 [GLUTEN-8497][VL] Fix columnar batch type mismatch in table cache
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxRuleApi.scala
  backends-velox/src/test/scala/org/apache/gluten/execution/VeloxColumnarCacheSuite.scala
  gluten-substrait/src/main/scala/org/apache/gluten/extension/columnar/MiscColumnarRules.scala
Labels: CORE, VELOX

#9181 [VL] Support Spark legacy statistical aggregation function behavior
  cpp/core/config/GlutenConfig.h
  cpp/velox/compute/WholeStageResultIterator.cc
  gluten-ut/spark32/src/test/scala/org/apache/gluten/utils/clickhouse/ClickHouseTestSettings.scala
  gluten-ut/spark32/src/test/scala/org/apache/spark/sql/execution/GlutenSQLAggregateFunctionSuite.scala
  gluten-ut/spark33/src/test/scala/org/apache/gluten/utils/clickhouse/ClickHouseTestSettings.scala
  gluten-ut/spark33/src/test/scala/org/apache/spark/sql/execution/GlutenSQLAggregateFunctionSuite.scala
  gluten-ut/spark34/src/test/scala/org/apache/gluten/utils/clickhouse/ClickHouseTestSettings.scala
  gluten-ut/spark34/src/test/scala/org/apache/spark/sql/execution/GlutenSQLAggregateFunctionSuite.scala
  gluten-ut/spark35/src/test/scala/org/apache/gluten/utils/clickhouse/ClickHouseTestSettings.scala
  gluten-ut/spark35/src/test/scala/org/apache/spark/sql/execution/GlutenSQLAggregateFunctionSuite.scala
  shims/common/src/main/scala/org/apache/gluten/config/GlutenConfig.scala
Labels: CORE, VELOX

#9238 [GLUTEN-9237][CH] Fix the nullability missmatch issue for the Nothing type
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenNothingValueCheck.scala
  cpp-ch/clickhouse.version
  cpp-ch/local-engine/Common/CHUtil.cpp
  cpp-ch/local-engine/Common/CHUtil.h
  cpp-ch/local-engine/Parser/ExpressionParser.cpp
Labels: CLICKHOUSE

#8986 [VL] Disable FlushableHashAggreagte when aggregates contains sum/avg for floating type
  backends-velox/src/main/scala/org/apache/gluten/config/VeloxConfig.scala
  backends-velox/src/main/scala/org/apache/gluten/extension/FlushableHashAggregateRule.scala
  backends-velox/src/test/scala/org/apache/gluten/execution/VeloxAggregateFunctionsSuite.scala
  cpp/velox/compute/WholeStageResultIterator.cc
  cpp/velox/config/VeloxConfig.h
Labels: VELOX, ready to merge

#9274 [CORE] Refine the test with specified spark version
  backends-clickhouse/src-iceberg/test/scala/org/apache/gluten/execution/iceberg/ClickHouseIcebergMOREqualityDeletionSuite.scala
  backends-clickhouse/src-iceberg/test/scala/org/apache/gluten/execution/iceberg/ClickHouseIcebergSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenClickHouseExcelFormatSuite.scala
  backends-velox/src/test/scala/org/apache/gluten/execution/GlutenSQLCollectLimitExecSuite.scala
  backends-velox/src/test/scala/org/apache/gluten/execution/JsonFunctionsValidateSuite.scala
  backends-velox/src/test/scala/org/apache/gluten/execution/MiscOperatorSuite.scala
  backends-velox/src/test/scala/org/apache/gluten/execution/ScalarFunctionsValidateSuite.scala
  backends-velox/src/test/scala/org/apache/gluten/execution/VeloxAggregateFunctionsSuite.scala
  backends-velox/src/test/scala/org/apache/gluten/execution/VeloxColumnarCacheSuite.scala
  backends-velox/src/test/scala/org/apache/gluten/execution/VeloxHashJoinSuite.scala
  backends-velox/src/test/scala/org/apache/gluten/execution/VeloxStringFunctionsSuite.scala
  backends-velox/src/test/scala/org/apache/spark/sql/execution/VeloxParquetReadSuite.scala
  backends-velox/src/test/scala/org/apache/spark/sql/execution/VeloxParquetWriteForHiveSuite.scala
  gluten-delta/src/test/scala/org/apache/gluten/execution/DeltaSuite.scala
  gluten-hudi/src/test/scala/org/apache/gluten/execution/HudiSuite.scala
  gluten-iceberg/src/test/scala/org/apache/gluten/execution/IcebergSuite.scala
  gluten-substrait/src/test/scala/org/apache/spark/sql/GlutenQueryTest.scala
  gluten-ut/test/src/test/scala/org/apache/gluten/expressions/GlutenExpressionMappingSuite.scala
Labels: CORE, VELOX, CLICKHOUSE, DATA_LAKE, ready to merge

#9257 [CH] Add a comment to explain why the endpoint uses a single thread
  backends-clickhouse/src/main/scala/org/apache/spark/rpc/GlutenDriverEndpoint.scala
  backends-clickhouse/src/main/scala/org/apache/spark/rpc/GlutenExecutorEndpoint.scala
Labels: CLICKHOUSE

#9297 [VL] fix merge conflict on VeloxLocalCacheSuite
  backends-velox/src/test/scala/org/apache/spark/sql/execution/VeloxLocalCacheSuite.scala
Labels: VELOX

#9293 [GLUTEN-9267][CH] Fix a bug in `EliminateDeduplicateAggregateWithAnyJoin`
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHBackend.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHSparkPlanExecApi.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/execution/CHHashJoinExecTransformer.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/extension/EliminateDeduplicateAggregateWithAnyJoin.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/extension/JoinAggregateToAggregateUnion.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/extension/RewriteSortMergeJoinToHashJoinRule.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenEliminateJoinSuite.scala
Labels: CLICKHOUSE

#9273 [TESTS][FOLLOWUP] Disable spark ui in VeloxUdfSuite
  backends-velox/src/test/scala/org/apache/gluten/expression/VeloxUdfSuite.scala
  gluten-ut/common/src/test/scala/org/apache/spark/sql/GlutenTestsTrait.scala
Labels: CORE, VELOX

#9290 [VL] Remove param original of ColumnarPartialProjectExec
  backends-velox/src/main/scala/org/apache/gluten/execution/ColumnarPartialProjectExec.scala
  gluten-substrait/src/main/scala/org/apache/gluten/expression/ExpressionUtils.scala
Labels: CORE, VELOX

#9294 [VL] Fix weekly build job on Centos 7
  ep/build-velox/src/setup-centos7.sh
Labels: VELOX

#9301 [GLUTEN-9178][CH] Fix cse in aggregate operator not working
  backends-clickhouse/src/main/scala/org/apache/gluten/extension/CommonSubexpressionEliminateRule.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenFunctionValidateSuite.scala
Labels: CLICKHOUSE

#9272 [CORE] Post events until both spark ui and gluten ui are enable
  gluten-core/src/main/scala/org/apache/gluten/GlutenPlugin.scala
  gluten-substrait/src/main/scala/org/apache/spark/sql/execution/GlutenFallbackReporter.scala
  gluten-ui/pom.xml
  gluten-ui/src/main/scala/org/apache/spark/sql/execution/ui/GlutenUIUtils.scala
  gluten-ut/spark33/src/test/scala/org/apache/spark/sql/gluten/GlutenFallbackSuite.scala
  gluten-ut/spark34/src/test/scala/org/apache/spark/sql/gluten/GlutenFallbackSuite.scala
  gluten-ut/spark35/src/test/scala/org/apache/spark/sql/gluten/GlutenFallbackSuite.scala
Labels: CORE

#9312 [CORE] Correctly handle driver configurations when `spark.sql.extensions` is explicitly set for GlutenSessionExtensions
  gluten-core/src/main/scala/org/apache/gluten/GlutenPlugin.scala
  shims/common/src/main/scala/org/apache/spark/sql/internal/SparkConfigUtil.scala
Labels: CORE

#9229 [GLUTEN-8851][VL] feat: Support cudf
  .github/workflows/docker_image.yml
  cpp/CMakeLists.txt
  cpp/compile.sh
  cpp/velox/CMakeLists.txt
  cpp/velox/compute/VeloxBackend.cc
  cpp/velox/config/VeloxConfig.h
  dev/builddeps-veloxbe.sh
  dev/docker/cudf/Dockerfile
  dev/start_cudf.sh
  docs/get-started/VeloxGPU.md
  ep/build-velox/src/build_velox.sh
  shims/common/src/main/scala/org/apache/gluten/config/GlutenConfig.scala
Labels: CORE, BUILD, VELOX, INFRA, DOCS

#9305 [GLUTEN-9288][VL] Enable array_prepend function for spark 3.5+
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxSparkPlanExecApi.scala
  backends-velox/src/test/scala/org/apache/gluten/execution/ScalarFunctionsValidateSuite.scala
  gluten-substrait/src/main/scala/org/apache/gluten/backendsapi/SparkPlanExecApi.scala
  gluten-substrait/src/main/scala/org/apache/gluten/expression/ExpressionConverter.scala
  shims/common/src/main/scala/org/apache/gluten/expression/ExpressionNames.scala
Labels: CORE, VELOX

#9320 [DOC] Fix broken links in documents
  docs/developers/HowTo.md
  docs/developers/NewToGluten.md
  docs/get-started/Velox.md
Labels: DOCS

#9318 [GLUTEN-9317][CH]Fix: duplicated column names in shuffle read
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenClickHouseTPCHSuite.scala
  cpp-ch/local-engine/Parser/TypeParser.cpp
Labels: CLICKHOUSE

#9270 [Gluten-9254][CH] Support RDDScanExec
  backends-clickhouse/src-delta-32/main/scala/org/apache/spark/sql/delta/commands/merge/MergeIntoMaterializeSource.scala
  backends-clickhouse/src-delta-32/test/scala/org/apache/spark/sql/execution/RDDScanSuite.scala
  backends-clickhouse/src-kafka/main/scala/org/apache/gluten/component/CHKafkaComponent.scala
  backends-clickhouse/src-kafka/main/scala/org/apache/gluten/extension/columnar/KafkaMiscColumnarRules.scala
  backends-clickhouse/src/main/java/org/apache/gluten/vectorized/BlockOutputStream.java
  backends-clickhouse/src/main/java/org/apache/gluten/vectorized/CHNativeBlock.java
  backends-clickhouse/src/main/java/org/apache/gluten/vectorized/CHStreamReader.java
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHRuleApi.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHSparkPlanExecApi.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/extension/CHRemoveTopmostColumnarToRow.scala
  backends-clickhouse/src/main/scala/org/apache/spark/sql/execution/CHRDDScanTransformer.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenFunctionValidateSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenNothingValueCheck.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/compatibility/GlutenClickhouseFunctionSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/tpch/GlutenClickHouseTPCHSaltNullParquetSuite.scala
  cpp-ch/local-engine/AggregateFunctions/AggregateFunctionDVRoaringBitmap.h
  cpp-ch/local-engine/Parser/SparkRowToCHColumn.cpp
  cpp-ch/local-engine/Shuffle/ShuffleReader.cpp
  cpp-ch/local-engine/Shuffle/ShuffleReader.h
  cpp-ch/local-engine/Storages/IO/NativeReader.cpp
  cpp-ch/local-engine/Storages/IO/NativeReader.h
  cpp-ch/local-engine/Storages/SubstraitSource/Delta/DeltaWriter.cpp
  cpp-ch/local-engine/Storages/SubstraitSource/Delta/DeltaWriter.h
  cpp-ch/local-engine/local_engine_jni.cpp
  gluten-core/src/main/scala/org/apache/gluten/extension/caller/CallerInfo.scala
  gluten-substrait/src/main/scala/org/apache/gluten/backendsapi/SparkPlanExecApi.scala
  gluten-substrait/src/main/scala/org/apache/gluten/extension/columnar/offload/OffloadSingleNodeRules.scala
  gluten-substrait/src/main/scala/org/apache/spark/sql/execution/RDDScanTransformer.scala
  gluten-substrait/src/main/scala/org/apache/spark/sql/execution/datasources/FakeRowEnhancement.scala
  gluten-substrait/src/main/scala/org/apache/spark/sql/execution/datasources/GlutenWriterColumnarRules.scala
  gluten-ut/spark33/src/test/scala/org/apache/gluten/utils/clickhouse/ClickHouseTestSettings.scala
  gluten-ut/spark35/src/test/scala/org/apache/gluten/utils/clickhouse/ClickHouseTestSettings.scala
  shims/common/src/main/scala/org/apache/spark/sql/execution/datasources/FakeRow.scala
Labels: CORE, CLICKHOUSE

#9330 [GLUTEN-9329][DOC] Fix log path when parsing log in gen-function-support-docs.py
  tools/scripts/gen-function-support-docs.py
Labels: TOOLS

#9338 [GLUTEN-1632][CH]Daily Update Clickhouse Version (20250416)
  cpp-ch/clickhouse.version
  cpp-ch/local-engine/Common/AggregateUtil.cpp
  cpp-ch/local-engine/Parser/RelParsers/AggregateRelParser.cpp
  cpp-ch/local-engine/Storages/Parquet/ColumnIndexFilter.cpp
Labels: CLICKHOUSE

#9331 [GLUTEN-9300][DOC] Support replacement expression in gen-function-support-docs
  backends-velox/src/test/scala/org/apache/gluten/execution/ScalarFunctionsValidateSuite.scala
  backends-velox/src/test/scala/org/apache/gluten/execution/VeloxStringFunctionsSuite.scala
  docs/velox-backend-scalar-function-support.md
  gluten-substrait/src/main/scala/org/apache/gluten/expression/ExpressionMappings.scala
  shims/common/src/main/scala/org/apache/gluten/expression/ExpressionNames.scala
  shims/common/src/main/scala/org/apache/gluten/sql/shims/SparkShims.scala
  shims/spark32/src/main/scala/org/apache/gluten/sql/shims/spark32/Spark32Shims.scala
  shims/spark33/src/main/scala/org/apache/gluten/sql/shims/spark33/Spark33Shims.scala
  shims/spark34/src/main/scala/org/apache/gluten/sql/shims/spark34/Spark34Shims.scala
  shims/spark35/src/main/scala/org/apache/gluten/sql/shims/spark35/Spark35Shims.scala
  tools/scripts/gen-function-support-docs.py
Labels: CORE, VELOX, TOOLS, DOCS

#9275 [GLUTEN-9239][CH] [PART-1] Support Java-17 Rmove `JNI_OnUnload`
  cpp-ch/local-engine/libch-hide-jemalloc.map
  cpp-ch/local-engine/libch.map
  cpp-ch/local-engine/local_engine_jni.cpp
Labels: CLICKHOUSE

#9325 [GLUTEN-7652][VL] Support binary as string
  backends-velox/src/test/scala/org/apache/gluten/execution/VeloxScanSuite.scala
  cpp/velox/substrait/SubstraitToVeloxPlan.cc
  cpp/velox/tests/Substrait2VeloxPlanConversionTest.cc
  gluten-ut/spark35/src/test/scala/org/apache/spark/sql/hive/execution/GlutenHiveSQLQuerySuite.scala
Labels: CORE, VELOX

#9340 [Gluten-9334][CH] Support delta metadata column `file_path` and `row_index` for mergetree
  backends-clickhouse/src-delta-32/test/scala/org/apache/spark/gluten/delta/GlutenDeltaMergetreeDeletionVectorSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenClickHouseTPCHAbstractSuite.scala
  cpp-ch/local-engine/Parser/RelParsers/MergeTreeRelParser.cpp
  cpp-ch/local-engine/Parser/RelParsers/MergeTreeRelParser.h
  cpp-ch/local-engine/Storages/SubstraitSource/FormatFile.h
Labels: CLICKHOUSE

#9332 [GLUTEN-6867][CH] Fix Bug that cann't read file on minio
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHIteratorApi.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenClickHouseExcelFormatSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenClickHouseWholeStageTransformerSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/cache/GlutenClickHouseCacheBaseTestSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/cache/GlutenClickHouseHDFSSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/cache/GlutenClickHouseMINIOSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/mergetree/GlutenClickHouseMergeTreeCacheDataSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/mergetree/GlutenClickHouseMergeTreeWriteOnHDFSSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/mergetree/GlutenClickHouseMergeTreeWriteOnHDFSWithRocksDBMetaSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/mergetree/GlutenClickHouseMergeTreeWriteOnS3Suite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/mergetree/GlutenClickHouseMergetreeWriteStatsSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/utils/CacheTestHelper.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/utils/HDFSTestHelper.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/utils/MinioTestHelper.scala
  cpp-ch/local-engine/Storages/SubstraitSource/ReadBufferBuilder.cpp
Labels: CLICKHOUSE

#9345 [GLUTEN-1632][CH]Daily Update Clickhouse Version (20250417)
  cpp-ch/clickhouse.version
  cpp-ch/local-engine/Storages/MergeTree/SparkMergeTreeSink.cpp
  cpp-ch/local-engine/Storages/MergeTree/SparkStorageMergeTree.cpp
  cpp-ch/local-engine/Storages/MergeTree/SparkStorageMergeTree.h
Labels: CLICKHOUSE

#9315 [GLUTEN-9313][VL] ColumnarPartialProject supports built-in but blacklisted function
  backends-velox/src/main/scala/org/apache/gluten/execution/ColumnarPartialProjectExec.scala
  backends-velox/src/test/scala/org/apache/gluten/execution/MiscOperatorSuite.scala
  gluten-substrait/src/main/scala/org/apache/gluten/expression/ExpressionMappings.scala
Labels: CORE, VELOX

#8775 [GLUTEN-8772][CORE] refactor: Refactoring the usage of SubstraitContext#functionMap
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHSparkPlanExecApi.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHTransformerApi.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHValidatorApi.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/execution/CHAggregateGroupLimitExecTransformer.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/execution/CHHashAggregateExecTransformer.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/execution/CHWindowGroupLimitExecTransformer.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/expression/CHExpressionTransformer.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/expression/CHExpressions.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/utils/PlanNodesUtil.scala
  backends-clickhouse/src/main/scala/org/apache/spark/shuffle/utils/RangePartitionerBoundsGenerator.scala
  backends-clickhouse/src/main/scala/org/apache/spark/sql/execution/datasources/clickhouse/utils/MergeTreePartsPartitionsUtil.scala
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxTransformerApi.scala
  backends-velox/src/main/scala/org/apache/gluten/execution/HashAggregateExecTransformer.scala
  backends-velox/src/main/scala/org/apache/gluten/execution/TopNTransformer.scala
  backends-velox/src/main/scala/org/apache/gluten/expression/ExpressionTransformer.scala
  gluten-delta/src-delta-32/main/scala/org/apache/gluten/execution/DeltaFilterExecTransformer.scala
  gluten-delta/src-delta-32/main/scala/org/apache/gluten/execution/DeltaProjectExecTransformer.scala
  gluten-substrait/src/main/java/org/apache/gluten/substrait/expression/ExpressionBuilder.java
  gluten-substrait/src/main/java/org/apache/gluten/substrait/expression/WindowFunctionNode.java
  gluten-substrait/src/main/scala/org/apache/gluten/backendsapi/SparkPlanExecApi.scala
  gluten-substrait/src/main/scala/org/apache/gluten/backendsapi/TransformerApi.scala
  gluten-substrait/src/main/scala/org/apache/gluten/execution/BasicPhysicalOperatorTransformer.scala
  gluten-substrait/src/main/scala/org/apache/gluten/execution/BasicScanExecTransformer.scala
  gluten-substrait/src/main/scala/org/apache/gluten/execution/CartesianProductExecTransformer.scala
  gluten-substrait/src/main/scala/org/apache/gluten/execution/ExpandExecTransformer.scala
  gluten-substrait/src/main/scala/org/apache/gluten/execution/GenerateExecTransformerBase.scala
  gluten-substrait/src/main/scala/org/apache/gluten/execution/JoinExecTransformer.scala
  gluten-substrait/src/main/scala/org/apache/gluten/execution/JoinUtils.scala
  gluten-substrait/src/main/scala/org/apache/gluten/execution/SampleExecTransformer.scala
  gluten-substrait/src/main/scala/org/apache/gluten/execution/SortExecTransformer.scala
  gluten-substrait/src/main/scala/org/apache/gluten/execution/WindowExecTransformer.scala
  gluten-substrait/src/main/scala/org/apache/gluten/execution/WindowGroupLimitExecTransformer.scala
  gluten-substrait/src/main/scala/org/apache/gluten/expression/AggregateFunctionsBuilder.scala
  gluten-substrait/src/main/scala/org/apache/gluten/expression/ArrayExpressionTransformer.scala
  gluten-substrait/src/main/scala/org/apache/gluten/expression/ConditionalTransformer.scala
  gluten-substrait/src/main/scala/org/apache/gluten/expression/ExpressionTransformer.scala
  gluten-substrait/src/main/scala/org/apache/gluten/expression/JsonTupleExpressionTransformer.scala
  gluten-substrait/src/main/scala/org/apache/gluten/expression/LambdaFunctionTransformer.scala
  gluten-substrait/src/main/scala/org/apache/gluten/expression/MapExpressionTransformer.scala
  gluten-substrait/src/main/scala/org/apache/gluten/expression/NamedExpressionsTransformer.scala
  gluten-substrait/src/main/scala/org/apache/gluten/expression/PredicateExpressionTransformer.scala
  gluten-substrait/src/main/scala/org/apache/gluten/expression/ScalarSubqueryTransformer.scala
  gluten-substrait/src/main/scala/org/apache/gluten/expression/UnaryExpressionTransformer.scala
  gluten-substrait/src/main/scala/org/apache/gluten/expression/WindowFunctionsBuilder.scala
  gluten-substrait/src/main/scala/org/apache/gluten/utils/SubstraitUtil.scala
  gluten-substrait/src/main/scala/org/apache/spark/sql/execution/python/EvalPythonExecTransformer.scala
Labels: CORE, VELOX, CLICKHOUSE, DATA_LAKE

#9336 [VL] Move pre-configuration code of dynamic off-heap sizing to its own place
  gluten-core/src/main/java/org/apache/gluten/memory/memtarget/DynamicOffHeapSizingMemoryTarget.java
  gluten-core/src/main/java/org/apache/gluten/memory/memtarget/MemoryTargets.java
  gluten-core/src/main/scala/org/apache/gluten/GlutenPlugin.scala
  gluten-core/src/main/scala/org/apache/spark/memory/SparkMemoryUtil.scala
  shims/common/src/main/scala/org/apache/gluten/config/GlutenConfig.scala
Labels: CORE

#9278 [GLUTEN-9163][VL] Use stream de/compressor in sort-based shuffle
  cpp/core/jni/JniWrapper.cc
  cpp/core/shuffle/LocalPartitionWriter.cc
  cpp/core/shuffle/LocalPartitionWriter.h
  cpp/core/shuffle/Options.h
  cpp/core/shuffle/PartitionWriter.h
  cpp/core/shuffle/Payload.cc
  cpp/core/shuffle/Payload.h
  cpp/core/shuffle/Spill.cc
  cpp/core/shuffle/Spill.h
  cpp/core/shuffle/Utils.h
  cpp/core/shuffle/rss/RssPartitionWriter.cc
  cpp/core/shuffle/rss/RssPartitionWriter.h
  cpp/velox/benchmarks/GenericBenchmark.cc
  cpp/velox/shuffle/VeloxHashShuffleWriter.cc
  cpp/velox/shuffle/VeloxShuffleReader.cc
  cpp/velox/shuffle/VeloxShuffleReader.h
  cpp/velox/shuffle/VeloxSortShuffleWriter.cc
  cpp/velox/shuffle/VeloxSortShuffleWriter.h
  cpp/velox/tests/VeloxShuffleWriterTest.cc
  cpp/velox/utils/tests/VeloxShuffleWriterTestBase.h
Labels: VELOX

#9349 [GLUTEN-9287][VL] Enable array_compact function for Spark 3.4+
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxSparkPlanExecApi.scala
  backends-velox/src/test/scala/org/apache/gluten/execution/ScalarFunctionsValidateSuite.scala
  shims/common/src/main/scala/org/apache/gluten/expression/ExpressionNames.scala
  shims/spark34/src/main/scala/org/apache/gluten/sql/shims/spark34/Spark34Shims.scala
  shims/spark35/src/main/scala/org/apache/gluten/sql/shims/spark35/Spark35Shims.scala
Labels: CORE, VELOX

#9352 [VL] Fix UT log level to warn to decrease CI output
  backends-velox/src/test/scala/org/apache/gluten/execution/ScalarFunctionsValidateSuite.scala
  backends-velox/src/test/scala/org/apache/gluten/expression/VeloxUdfSuite.scala
  backends-velox/src/test/scala/org/apache/spark/sql/execution/GlutenHiveUDFSuite.scala
  backends-velox/src/test/scala/org/apache/spark/sql/execution/VeloxParquetWriteForHiveSuite.scala
  gluten-ut/test/src/test/scala/org/apache/gluten/sql/SQLQuerySuite.scala
  gluten-ut/test/src/test/scala/org/apache/spark/sql/GlutenExpressionDataTypesValidation.scala
Labels: CORE, VELOX

#9096 [GLUTEN-9095][UT] Remove Vanilla Spark InternalRow based checkEvaluation
  gluten-ut/common/src/test/scala/org/apache/spark/sql/GlutenTestsTrait.scala
Labels: CORE

#9359 [CORE] Make max broadcast table size configurable
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHSparkPlanExecApi.scala
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxSparkPlanExecApi.scala
  shims/common/src/main/scala/org/apache/gluten/config/GlutenConfig.scala
Labels: CORE, VELOX, CLICKHOUSE

#9363 [CH] Fix build error
  backends-clickhouse/src/test/scala/org/apache/gluten/utils/MinioTestHelper.scala
Labels: CLICKHOUSE

#9333 [GLUTEN-9243][VL] Fix cuda docker image
  .github/workflows/docker_image.yml
  dev/docker/cudf/Dockerfile
  ep/build-velox/src/build_velox.sh
Labels: BUILD, VELOX, INFRA

#8914 [GLUTEN-8912][VL] Add Offset support for CollectLimitExec
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHSparkPlanExecApi.scala
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxRuleApi.scala
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxSparkPlanExecApi.scala
  backends-velox/src/main/scala/org/apache/gluten/execution/ColumnarCollectLimitExec.scala
  gluten-substrait/src/main/scala/org/apache/gluten/backendsapi/SparkPlanExecApi.scala
  gluten-substrait/src/main/scala/org/apache/gluten/execution/ColumnarCollectLimitBaseExec.scala
  gluten-substrait/src/main/scala/org/apache/gluten/extension/columnar/CollectLimitTransformerRule.scala
  gluten-substrait/src/main/scala/org/apache/gluten/extension/columnar/offload/OffloadSingleNodeRules.scala
  gluten-ut/spark32/src/test/scala/org/apache/gluten/utils/velox/VeloxTestSettings.scala
  gluten-ut/spark32/src/test/scala/org/apache/spark/sql/execution/GlutenSQLCollectLimitExecSuite.scala
  gluten-ut/spark33/src/test/scala/org/apache/gluten/utils/velox/VeloxTestSettings.scala
  gluten-ut/spark33/src/test/scala/org/apache/spark/sql/execution/GlutenSQLCollectLimitExecSuite.scala
  gluten-ut/spark34/src/test/scala/org/apache/gluten/utils/velox/VeloxTestSettings.scala
  gluten-ut/spark34/src/test/scala/org/apache/spark/sql/execution/GlutenSQLCollectLimitExecSuite.scala
  gluten-ut/spark35/src/test/scala/org/apache/gluten/utils/velox/VeloxTestSettings.scala
  gluten-ut/spark35/src/test/scala/org/apache/spark/sql/execution/GlutenSQLCollectLimitExecSuite.scala
  shims/common/src/main/scala/org/apache/gluten/sql/shims/SparkShims.scala
  shims/spark34/src/main/scala/org/apache/gluten/sql/shims/spark34/Spark34Shims.scala
  shims/spark35/src/main/scala/org/apache/gluten/sql/shims/spark35/Spark35Shims.scala
Labels: CORE, VELOX, CLICKHOUSE

#7611 [GLUTEN-7589][VL] Support date_trunc function
  backends-velox/src/test/scala/org/apache/gluten/execution/ScalarFunctionsValidateSuite.scala
  gluten-substrait/src/main/scala/org/apache/gluten/expression/DateTimeExpressionsTransformer.scala
Labels: CORE, VELOX

#9355 [GLUTEN][UT] Disable flaky UT from GlutenCSVv1Suite
  gluten-ut/spark35/src/test/scala/org/apache/gluten/utils/clickhouse/ClickHouseTestSettings.scala
  gluten-ut/spark35/src/test/scala/org/apache/gluten/utils/velox/VeloxTestSettings.scala
Labels: CORE

#9280 [GLUTEN-9279] Not pulling out expression from PartialMerge aggregate function to avoid invalid reference binding in ProjectExecTransformer
  gluten-substrait/src/main/scala/org/apache/gluten/utils/PullOutProjectHelper.scala
  gluten-substrait/src/test/scala/org/apache/spark/sql/GlutenQueryTest.scala
  gluten-ut/test/src/test/scala/org/apache/gluten/extension/GlutenExtensionRewriteRuleSuite.scala
Labels: CORE

#9378 [GLUTEN-1632][CH]Daily Update Clickhouse Version (20250421)
  cpp-ch/clickhouse.version
Labels: CLICKHOUSE

#9380 [GLUTEN-9379] [VL] Disable flaky ArrowCsvScanSuiteV2
  backends-velox/src/test/scala/org/apache/gluten/execution/ArrowCsvScanSuite.scala
Labels: VELOX

#9353 [Gluten-8792][CH] Support delta project incrementMetric expr
  backends-clickhouse/src-delta-32/test/scala/org/apache/spark/sql/execution/GlutenDeltaExpressionSuite.scala
  backends-clickhouse/src-delta/main/scala/org/apache/gluten/component/CHDeltaComponent.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHMetricsApi.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/metrics/FilterMetricsUpdater.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/metrics/MetricsUtil.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/metrics/ProjectMetricsUpdater.scala
  cpp-ch/local-engine/Parser/RelParsers/FilterRelParser.cpp
  gluten-delta/src-delta-32/main/scala/org/apache/gluten/execution/DeltaProjectExecTransformer.scala
Labels: CLICKHOUSE, DATA_LAKE

#9368 [GLUTEN-9369][DOC] Fix commands in the Gluten C++ debugging developer doc
  docs/developers/HowTo.md
Labels: DOCS

#9035 [GLUTEN-9034][VL] Add VeloxResizeBatchesExec for Shuffle
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxRuleApi.scala
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxSparkPlanExecApi.scala
  backends-velox/src/main/scala/org/apache/gluten/config/VeloxConfig.scala
  backends-velox/src/main/scala/org/apache/gluten/execution/VeloxResizeBatchesExec.scala
  backends-velox/src/main/scala/org/apache/gluten/extension/AppendBatchResizeForShuffleInputAndOutput.scala
  backends-velox/src/test/scala/org/apache/gluten/execution/MiscOperatorSuite.scala
Labels: VELOX, ready to merge

#9256 [GLUTEN-8846][CH] [Part 4] Add full-chain UT
  backends-clickhouse/pom.xml
  backends-clickhouse/src-spark33/test/java/org/apache/gluten/execution/iceberg/TestFlinkUpsert.java
  backends-clickhouse/src-spark33/test/java/org/apache/gluten/execution/iceberg/TestPositionDeletesTableGluten.java
  backends-clickhouse/src-spark33/test/scala/org/apache/gluten/execution/iceberg/ClickHouseIcebergHiveTableSupport.scala
  backends-clickhouse/src-spark35/test/java/org/apache/gluten/execution/iceberg/TestPositionDeletesTableGluten.java
  backends-clickhouse/src-spark35/test/scala/org/apache/gluten/execution/iceberg/ClickHouseIcebergHiveTableSupport.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/cache/GlutenClickHouseCacheBaseTestSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/utils/CacheTestHelper.scala
  cpp-ch/local-engine/Storages/SubstraitSource/FileReader.cpp
Labels: CLICKHOUSE

#9393 [VL] Follow up on #9384 to avoid swallowing exceptions in UT
  gluten-core/src/test/scala/org/apache/gluten/component/ComponentSkippable.scala
  gluten-core/src/test/scala/org/apache/gluten/component/WithDummyBackend.scala
  gluten-substrait/src/test/scala/org/apache/gluten/extension/columnar/MiscColumnarRulesSuite.scala
  gluten-substrait/src/test/scala/org/apache/gluten/extension/columnar/transition/TransitionSuite.scala
Labels: CORE

#9356 [GLUTEN-9163][VL] Separate compression buffer and disk write buffer configuration
  backends-clickhouse/src-celeborn/main/scala/org/apache/spark/shuffle/CHCelebornColumnarBatchSerializer.scala
  backends-clickhouse/src-celeborn/main/scala/org/apache/spark/shuffle/CHCelebornColumnarShuffleWriter.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/vectorized/CHColumnarBatchSerializer.scala
  backends-clickhouse/src/main/scala/org/apache/spark/shuffle/CHColumnarShuffleWriter.scala
  backends-velox/src-celeborn/main/scala/org/apache/spark/shuffle/VeloxCelebornColumnarBatchSerializer.scala
  backends-velox/src-celeborn/main/scala/org/apache/spark/shuffle/VeloxCelebornColumnarShuffleWriter.scala
  backends-velox/src-uniffle/main/java/org/apache/spark/shuffle/writer/VeloxUniffleColumnarShuffleWriter.java
  backends-velox/src/main/scala/org/apache/gluten/vectorized/ColumnarBatchSerializer.scala
  backends-velox/src/main/scala/org/apache/spark/shuffle/ColumnarShuffleWriter.scala
  cpp/core/config/GlutenConfig.h
  cpp/core/jni/JniWrapper.cc
  cpp/core/shuffle/LocalPartitionWriter.cc
  cpp/core/shuffle/Options.h
  cpp/core/shuffle/Utils.h
  cpp/core/shuffle/rss/RssPartitionWriter.cc
  cpp/velox/compute/VeloxRuntime.cc
  cpp/velox/shuffle/VeloxShuffleReader.cc
  cpp/velox/shuffle/VeloxShuffleReader.h
  cpp/velox/utils/tests/VeloxShuffleWriterTestBase.h
  docs/Configuration.md
  gluten-arrow/src/main/java/org/apache/gluten/vectorized/ShuffleReaderJniWrapper.java
  gluten-arrow/src/main/java/org/apache/gluten/vectorized/ShuffleWriterJniWrapper.java
  gluten-celeborn/src/main/scala/org/apache/spark/shuffle/CelebornColumnarShuffleWriter.scala
  gluten-substrait/src/main/scala/org/apache/spark/shuffle/GlutenShuffleUtils.scala
  shims/common/src/main/scala/org/apache/gluten/config/GlutenConfig.scala
Labels: CORE, VELOX, RSS, CLICKHOUSE, DOCS

#9408 [GLUTEN][VL] Minor refactor config use in ColumnarCachedBatchSerialize
  backends-velox/src/main/scala/org/apache/spark/sql/execution/ColumnarCachedBatchSerializer.scala
Labels: VELOX

#9404 [VL][INFRA] Improve build bundle package workflow
  .github/workflows/build_bundle_package.yml
Labels: INFRA

#9406 [GLUTEN-1632][CH]Daily Update Clickhouse Version (20250424)
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/mergetree/GlutenClickHouseMergeTreeOptimizeSuite.scala
  cpp-ch/clickhouse.version
Labels: CLICKHOUSE

#9411 [VL] Remove unused checks for CollectLimit support
  shims/common/src/main/scala/org/apache/gluten/sql/shims/SparkShims.scala
  shims/spark32/src/main/scala/org/apache/gluten/sql/shims/spark32/Spark32Shims.scala
  shims/spark33/src/main/scala/org/apache/gluten/sql/shims/spark33/Spark33Shims.scala
  shims/spark34/src/main/scala/org/apache/gluten/sql/shims/spark34/Spark34Shims.scala
  shims/spark35/src/main/scala/org/apache/gluten/sql/shims/spark35/Spark35Shims.scala
Labels: CORE

#9413 [VL] Remove unused logic in ColumnarCachedBatchSerializer#supportsColumnarInput
  backends-velox/src/main/scala/org/apache/spark/sql/execution/ColumnarCachedBatchSerializer.scala
Labels: VELOX

#8982 [GLUTEN-8981][VL] Add vcpkg triplet for building Gluten on arm
  dev/package-vcpkg.sh
  dev/vcpkg/env.sh
  dev/vcpkg/triplets/arm64-linux-neon.cmake
Labels: BUILD

#9421 [CH] Support native base85codec
  backends-clickhouse/src-delta-32/main/java/org/apache/gluten/vectorized/DeltaWriterJNIWrapper.java
  backends-clickhouse/src-delta-32/main/scala/org/apache/gluten/sql/shims/delta32/Delta32Shims.scala
  backends-clickhouse/src-delta-32/main/scala/org/apache/spark/sql/execution/DeletionVectorWriteTransformer.scala
  cpp-ch/local-engine/Common/Base85Codec.cpp
  cpp-ch/local-engine/Common/Base85Codec.h
  cpp-ch/local-engine/Storages/SubstraitSource/Delta/DeltaUtil.cpp
  cpp-ch/local-engine/Storages/SubstraitSource/Delta/DeltaUtil.h
  cpp-ch/local-engine/Storages/SubstraitSource/Delta/DeltaWriter.cpp
  cpp-ch/local-engine/Storages/SubstraitSource/Delta/DeltaWriter.h
  cpp-ch/local-engine/local_engine_jni.cpp
  cpp-ch/local-engine/tests/gtest_clickhouse_roaring_bitmap.cpp
Labels: CLICKHOUSE

#9418 [VL] Fix VeloxColumnarToRowExec repeatedly recorded some metrics
  backends-velox/src/main/scala/org/apache/gluten/execution/VeloxColumnarToRowExec.scala
Labels: VELOX

#8839 [VL] The PoC of Flink support in Gluten
  gluten-flink/README.md
  gluten-flink/docs/Flink.md
  gluten-flink/docs/data-generator.sql
  gluten-flink/loader/pom.xml
  gluten-flink/loader/src/main/java/org/apache/flink/table/planner/loader/PlannerModule.java
  gluten-flink/planner/pom.xml
  gluten-flink/planner/src/main/java/org/apache/flink/table/planner/plan/nodes/exec/stream/StreamExecCalc.java
  gluten-flink/planner/src/main/java/org/apache/gluten/rexnode/FunctionMappings.java
  gluten-flink/planner/src/main/java/org/apache/gluten/rexnode/RexNodeConverter.java
  gluten-flink/planner/src/main/java/org/apache/gluten/rexnode/Utils.java
  gluten-flink/pom.xml
  gluten-flink/runtime/pom.xml
  gluten-flink/runtime/src/main/java/org/apache/flink/client/StreamGraphTranslator.java
  gluten-flink/runtime/src/main/java/org/apache/flink/runtime/taskexecutor/TaskManagerRunner.java
  gluten-flink/runtime/src/main/java/org/apache/flink/streaming/runtime/translators/LegacySourceTransformationTranslator.java
  gluten-flink/runtime/src/main/java/org/apache/flink/streaming/runtime/translators/SinkTransformationTranslator.java
  gluten-flink/runtime/src/main/java/org/apache/gluten/streaming/api/operators/GlutenOneInputOperatorFactory.java
  gluten-flink/runtime/src/main/java/org/apache/gluten/streaming/api/operators/GlutenOperator.java
  gluten-flink/runtime/src/main/java/org/apache/gluten/streaming/api/operators/GlutenStreamSource.java
  gluten-flink/runtime/src/main/java/org/apache/gluten/table/runtime/operators/GlutenCalOperator.java
  gluten-flink/runtime/src/main/java/org/apache/gluten/table/runtime/operators/GlutenSourceFunction.java
  gluten-flink/runtime/src/main/java/org/apache/gluten/util/LogicalTypeConverter.java
  gluten-flink/runtime/src/main/java/org/apache/gluten/vectorized/FlinkRowToVLVectorConvertor.java
  gluten-flink/runtime/src/main/java/org/apache/gluten/vectorized/VLVectorIterator.java
Labels: enhancement, DOCS

#9385 [VL] Fallback pandas udf when input is not an instance of AttributeReference
  backends-velox/src/main/scala/org/apache/spark/api/python/ColumnarArrowEvalPythonExec.scala
Labels: VELOX

#9420 [CH] Change enable_aggregate_if_to_filter to fasle
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHBackend.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenFunctionValidateSuite.scala
Labels: CLICKHOUSE

#9327 [VL] Add a config to enable or disable check usage leak
  backends-velox/src/main/scala/org/apache/gluten/config/VeloxConfig.scala
  cpp/core/config/GlutenConfig.h
  cpp/velox/memory/VeloxMemoryManager.cc
Labels: VELOX, ready to merge

#9424 [GLUTEN-9383][VL] Fix leak when growing capacity
  cpp/velox/memory/VeloxMemoryManager.cc
Labels: VELOX, ready to merge

#9360 [VL] Fix dump benchmark data issue in same task
  .github/workflows/velox_backend.yml
  cpp/core/compute/ProtobufUtils.cc
  cpp/core/compute/ProtobufUtils.h
  cpp/core/compute/Runtime.h
  cpp/core/jni/JniWrapper.cc
  cpp/velox/benchmarks/GenericBenchmark.cc
  cpp/velox/compute/VeloxRuntime.cc
  cpp/velox/compute/VeloxRuntime.h
  cpp/velox/compute/WholeStageResultIterator.cc
  cpp/velox/jni/VeloxJniWrapper.cc
  cpp/velox/tests/RuntimeTest.cc
  docs/developers/MicroBenchmarks.md
Labels: VELOX, INFRA, DOCS

#9394 [GLUTEN-9392] [VL] Support casting array element to varchar
  cpp/velox/substrait/SubstraitToVeloxPlanValidator.cc
  gluten-ut/spark32/src/test/scala/org/apache/gluten/utils/clickhouse/ClickHouseTestSettings.scala
  gluten-ut/spark32/src/test/scala/org/apache/spark/sql/catalyst/expressions/GlutenCastSuite.scala
  gluten-ut/spark33/src/test/scala/org/apache/gluten/utils/clickhouse/ClickHouseTestSettings.scala
  gluten-ut/spark33/src/test/scala/org/apache/spark/sql/catalyst/expressions/GlutenCastSuite.scala
  gluten-ut/spark34/src/test/scala/org/apache/gluten/utils/clickhouse/ClickHouseTestSettings.scala
  gluten-ut/spark34/src/test/scala/org/apache/spark/sql/catalyst/expressions/GlutenCastSuite.scala
  gluten-ut/spark35/src/test/scala/org/apache/gluten/utils/clickhouse/ClickHouseTestSettings.scala
  gluten-ut/spark35/src/test/scala/org/apache/spark/sql/catalyst/expressions/GlutenCastSuite.scala
Labels: CORE, VELOX

#9451 [VL] Remove CollectLimit dependency from Offload Rules
  gluten-substrait/src/main/scala/org/apache/gluten/extension/columnar/offload/OffloadSingleNodeRules.scala
Labels: CORE, ready to merge

#9444 [VL] Replace wget w/ wget_and_untar to make dependency download more reliable
  ep/build-velox/src/setup-centos7.sh
Labels: VELOX

#9431 [branch-1.4] Port PR #9200 #9320 #9368 #9209 #9262
  .github/workflows/build_bundle_package.yml
  .github/workflows/velox_backend.yml
  .github/workflows/velox_backend_cache.yml
  .github/workflows/velox_nightly.yml
  cpp/core/shuffle/LocalPartitionWriter.cc
  docs/developers/HowTo.md
  docs/developers/NewToGluten.md
  docs/get-started/Velox.md
  gluten-ut/spark33/src/test/scala/org/apache/gluten/utils/velox/VeloxTestSettings.scala
Labels: CORE, VELOX, INFRA, DOCS

#9026 [GLUTEN-9025] Remove the ColumnarPartialProject when its followers don't support columnar
  backends-velox/src/main/scala/org/apache/gluten/extension/PartialProjectRule.scala
  backends-velox/src/test/scala/org/apache/gluten/expression/UDFPartialProjectSuite.scala
Labels: VELOX

#8745 [GLUTEN-8744][VL] Add casting support for timestamp to long
  cpp/velox/substrait/SubstraitToVeloxPlanValidator.cc
  gluten-ut/spark33/src/test/scala/org/apache/gluten/utils/clickhouse/ClickHouseTestSettings.scala
  gluten-ut/spark33/src/test/scala/org/apache/spark/sql/catalyst/expressions/GlutenCastSuite.scala
Labels: CORE, VELOX

#9463 [GLUTEN-9462][CH] Build ARM V8 by default
  cpp-ch/CMakeLists.txt
Labels: CLICKHOUSE

#9459 [GLUTEN-1632][CH]Daily Update Clickhouse Version (20250429)
  cpp-ch/clickhouse.version
  cpp-ch/local-engine/Functions/SparkFunctionRoundHalfUp.cpp
Labels: CLICKHOUSE

#9419 [VL] Fix Hudi scan fallback
  gluten-hudi/src/main/scala/org/apache/gluten/execution/HudiScanTransformer.scala
  gluten-hudi/src/main/scala/org/apache/gluten/execution/OffloadHudiScan.scala
Labels: DATA_LAKE

#9449 [GLUTEN-9243][VL] Improve cuda image build
  .github/workflows/docker_image.yml
  dev/docker/cudf/Dockerfile
  ep/build-velox/src/build_velox.sh
Labels: BUILD, VELOX, INFRA

#9470 [GLUTEN-1632][CH]Daily Update Clickhouse Version (20250430)
  cpp-ch/clickhouse.version
  cpp-ch/local-engine/Parser/RelParsers/MergeTreeRelParser.cpp
  cpp-ch/local-engine/Storages/Cache/CacheManager.cpp
  cpp-ch/local-engine/Storages/MergeTree/SparkMergeTreeMeta.cpp
  cpp-ch/local-engine/Storages/Parquet/ParquetMeta.h
  cpp-ch/local-engine/Storages/SubstraitSource/Delta/DeltaParquetMeta.h
Labels: CLICKHOUSE

#9455 [VL] Add additional logging for unclosed objects when the native runtime is being destroyed
  cpp/core/utils/ObjectStore.cc
  cpp/core/utils/ObjectStore.h
Labels: VELOX

#9469 [GLUTEN-9468][VL] Remove parquet-arrow reader dependency in benchmarks
  cpp/velox/benchmarks/CMakeLists.txt
  cpp/velox/benchmarks/ColumnarToRowBenchmark.cc
  cpp/velox/benchmarks/CompressionBenchmark.cc
  cpp/velox/benchmarks/ParquetWriteBenchmark.cc
  cpp/velox/operators/reader/FileReaderIterator.cc
  cpp/velox/operators/reader/FileReaderIterator.h
  cpp/velox/operators/reader/ParquetReaderIterator.cc
  cpp/velox/operators/reader/ParquetReaderIterator.h
Labels: VELOX
