Repository apache/incubator-gluten, pull requests merged in 2025-10, with the labels that each got.

#10807 [GLUTEN-9615][INFRA] Automate release process with build script and GHA workflow
  .github/workflows/build_release.yml
  dev/release/build-release.sh
  dev/release/package-release.sh
Labels: BUILD, INFRA

#10822 [VL] Delta: Fix input file expressions not getting pushed to native scan when column mapping is applicable
  backends-velox/src-delta33/test/scala/org/apache/spark/sql/delta/DeleteSQLSuite.scala
  gluten-delta/src/main/scala/org/apache/gluten/extension/DeltaPostTransformRules.scala
Labels: VELOX, DATA_LAKE

#10828 [VL][MINOR] Prevent selected CI jobs from running on forks
  .github/workflows/nightly_sync.yml
  .github/workflows/velox_backend_cache.yml
  .github/workflows/velox_nightly.yml
Labels: INFRA

#10827 [GLUTEN-10574][1.5] Backport #10793 and #10807 to update documents and automate release process
  .github/workflows/build_release.yml
  README.md
  dev/release/build-release.sh
  dev/release/package-release.sh
  docs/developers/NewToGluten.md
  docs/image/gluten_golden_file_upload.png
  tools/qualification-tool/README.md
Labels: BUILD, INFRA, TOOLS, DOCS

#10647 [VL] Minor refactoring of get_velox.sh for better readability
  dev/builddeps-veloxbe.sh
  ep/build-velox/src/get_velox.sh
Labels: BUILD, VELOX

#10835 [CORE] Refactor configuration API to allow explicit `getAllEntries` calls on specific configuration registry objects
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHConfig.scala
  backends-velox/src/main/scala/org/apache/gluten/config/VeloxConfig.scala
  backends-velox/src/test/scala/org/apache/gluten/config/AllVeloxConfiguration.scala
  docs/velox-configuration.md
  gluten-core/src/main/scala/org/apache/gluten/config/ConfigEntry.scala
  gluten-core/src/main/scala/org/apache/gluten/config/ConfigRegistry.scala
  gluten-core/src/main/scala/org/apache/gluten/config/GlutenCoreConfig.scala
  gluten-core/src/main/scala/org/apache/spark/sql/internal/GlutenConfigUtil.scala
  gluten-substrait/src/main/scala/org/apache/gluten/config/GlutenConfig.scala
  gluten-substrait/src/test/scala/org/apache/gluten/config/AllGlutenConfiguration.scala
Labels: CORE, VELOX, CLICKHOUSE, DOCS

#10829 [GLUTEN-10574][1.5] Bump version to 1.5.0 to finalize release
  backends-clickhouse/pom.xml
  backends-velox/pom.xml
  dev/info.sh
  gluten-arrow/pom.xml
  gluten-celeborn/pom.xml
  gluten-core/pom.xml
  gluten-delta/pom.xml
  gluten-flink/loader/pom.xml
  gluten-flink/planner/pom.xml
  gluten-flink/pom.xml
  gluten-flink/runtime/pom.xml
  gluten-flink/ut/pom.xml
  gluten-hudi/pom.xml
  gluten-iceberg/pom.xml
  gluten-kafka/pom.xml
  gluten-paimon/pom.xml
  gluten-ras/common/pom.xml
  gluten-ras/planner/pom.xml
  gluten-ras/pom.xml
  gluten-substrait/pom.xml
  gluten-ui/pom.xml
  gluten-uniffle/pom.xml
  gluten-ut/common/pom.xml
  gluten-ut/pom.xml
  gluten-ut/spark32/pom.xml
  gluten-ut/spark33/pom.xml
  gluten-ut/spark34/pom.xml
  gluten-ut/spark35/pom.xml
  gluten-ut/test/pom.xml
  package/pom.xml
  pom.xml
  shims/common/pom.xml
  shims/pom.xml
  shims/spark32/pom.xml
  shims/spark33/pom.xml
  shims/spark34/pom.xml
  shims/spark35/pom.xml
  shims/spark40/pom.xml
  tools/gluten-it/common/pom.xml
  tools/gluten-it/package/pom.xml
  tools/gluten-it/pom.xml
  tools/qualification-tool/pom.xml
Labels: CORE, BUILD, VELOX, RSS, TOOLS, CLICKHOUSE, DATA_LAKE, FLINK

#10846 [CORE] Optimize the verboseString of ColumnarShuffleExchangeExec
  gluten-substrait/src/main/scala/org/apache/spark/sql/execution/ColumnarShuffleExchangeExec.scala
Labels: CORE
