Repository apache/incubator-gluten, pull requests merged in 2025-08, with the labels that each got.

#10328 [MINOR] Avoid using the fields of StructType
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxValidatorApi.scala
  gluten-iceberg/src/main/scala/org/apache/gluten/execution/IcebergScanTransformer.scala
Labels: VELOX, DATA_LAKE

#9810 [GLUTEN-9809][VL] Add timestampdiff support
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxSparkPlanExecApi.scala
  backends-velox/src/test/scala/org/apache/gluten/functions/DateFunctionsValidateSuite.scala
  gluten-substrait/src/main/scala/org/apache/gluten/backendsapi/SparkPlanExecApi.scala
  gluten-substrait/src/main/scala/org/apache/gluten/expression/DateTimeExpressionsTransformer.scala
  gluten-substrait/src/main/scala/org/apache/gluten/expression/ExpressionConverter.scala
  shims/common/src/main/scala/org/apache/gluten/expression/ExpressionNames.scala
  shims/common/src/main/scala/org/apache/gluten/sql/shims/SparkShims.scala
  shims/spark33/src/main/scala/org/apache/gluten/sql/shims/spark33/Spark33Shims.scala
  shims/spark34/src/main/scala/org/apache/gluten/sql/shims/spark34/Spark34Shims.scala
  shims/spark35/src/main/scala/org/apache/gluten/sql/shims/spark35/Spark35Shims.scala
Labels: CORE, VELOX

#10322 [VL] Remove RAS rule: RemoveSort
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxRuleApi.scala
  gluten-substrait/src/main/scala/org/apache/gluten/extension/columnar/enumerated/RemoveSort.scala
Labels: CORE, VELOX

#10335 [GLUTEN-10334] Share the results compare the spark version
  gluten-core/src/main/scala/org/apache/gluten/extension/columnar/transition/Convention.scala
  gluten-core/src/main/scala/org/apache/gluten/extension/columnar/transition/package.scala
  gluten-core/src/main/scala/org/apache/spark/sql/execution/adaptive/GlutenCostEvaluator.scala
  gluten-core/src/main/scala/org/apache/spark/util/SparkPlanUtil.scala
  gluten-core/src/main/scala/org/apache/spark/util/SparkTaskUtil.scala
  gluten-core/src/main/scala/org/apache/spark/util/SparkVersionUtil.scala
Labels: CORE

#10293 [VL] gluten-it: Print error details
  tools/gluten-it/common/src/main/java/org/apache/gluten/integration/command/Queries.java
  tools/gluten-it/common/src/main/java/org/apache/gluten/integration/command/QueriesCompare.java
  tools/gluten-it/common/src/main/java/org/apache/gluten/integration/command/QueriesMixin.java
  tools/gluten-it/common/src/main/scala/org/apache/gluten/integration/action/Queries.scala
  tools/gluten-it/common/src/main/scala/org/apache/gluten/integration/action/QueriesCompare.scala
Labels: TOOLS

#10300 [VL] Support cast from array to string
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxRuleApi.scala
  backends-velox/src/main/scala/org/apache/gluten/config/VeloxConfig.scala
  backends-velox/src/main/scala/org/apache/gluten/extension/RewriteCastFromArray.scala
  backends-velox/src/test/scala/org/apache/gluten/functions/ScalarFunctionsValidateSuite.scala
  gluten-ut/spark34/src/test/scala/org/apache/gluten/utils/velox/VeloxTestSettings.scala
  gluten-ut/spark34/src/test/scala/org/apache/spark/sql/GlutenDataFrameFunctionsSuite.scala
Labels: CORE, VELOX

#10370 [GLUTEN-10369][VL] Fix arrow cmake check
  dev/build_arrow.sh
  ep/build-velox/src/cmake-compatibility.patch
Labels: BUILD, VELOX

#10308 [DOC][FLINK] Improve and correct Flink doc
  gluten-flink/dev/data-generator.sql
  gluten-flink/docs/Flink.md
  gluten-flink/docs/Gluten-Flink-troubleshooting.md
Labels: FLINK

#10380 [GLUTEN-10379][CH] Fix: invalid result from CoalesceAggregationUnion
  backends-clickhouse/src/main/scala/org/apache/gluten/extension/CoalesceAggregationUnion.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenCoalesceAggregationUnionSuite.scala
Labels: CLICKHOUSE

#10373 [GLUTEN-9860][VL] Fix nightly upload action
  .github/workflows/velox_nightly.yml
Labels: INFRA

#10355 [GLUTEN-10354][CORE] Just check if sort columns are a subset of partition columns
  gluten-substrait/src/main/scala/org/apache/gluten/extension/columnar/RemoveNativeWriteFilesSortAndProject.scala
Labels: CORE

#10353 [GLUTEN-10351] Extract immutable collection as reusable field
  gluten-substrait/src/main/scala/org/apache/gluten/config/GlutenConfig.scala
Labels: CORE

#10402 [MINOR] Use `static constexpr` to follow C++ style
  cpp/core/utils/ObjectStore.h
Labels: VELOX

#9357 [VL] Enable to_json function
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxSparkPlanExecApi.scala
  backends-velox/src/test/scala/org/apache/gluten/functions/JsonFunctionsValidateSuite.scala
  cpp/core/config/GlutenConfig.h
  cpp/velox/compute/WholeStageResultIterator.cc
  cpp/velox/substrait/SubstraitToVeloxExpr.cc
  cpp/velox/substrait/SubstraitToVeloxPlanValidator.cc
  gluten-substrait/src/main/java/org/apache/gluten/substrait/expression/StructLiteralNode.java
  gluten-substrait/src/main/java/org/apache/gluten/substrait/type/StructNode.java
  gluten-substrait/src/main/resources/substrait/proto/substrait/algebra.proto
  gluten-substrait/src/main/scala/org/apache/gluten/backendsapi/SparkPlanExecApi.scala
  gluten-substrait/src/main/scala/org/apache/gluten/config/GlutenConfig.scala
  gluten-substrait/src/main/scala/org/apache/gluten/expression/ExpressionConverter.scala
  gluten-substrait/src/main/scala/org/apache/gluten/expression/JsonExpressionTransformer.scala
Labels: CORE, VELOX

#10381 [GLUTEN-10377][CH] Move specialized delta internal column mapping to CH backend
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHSparkPlanExecApi.scala
  gluten-core/src/main/scala/org/apache/spark/util/SparkVersionUtil.scala
  gluten-substrait/src/main/scala/org/apache/gluten/backendsapi/SparkPlanExecApi.scala
  gluten-substrait/src/main/scala/org/apache/gluten/execution/BasicScanExecTransformer.scala
  gluten-substrait/src/main/scala/org/apache/gluten/execution/FileSourceScanExecTransformer.scala
  shims/spark35/src/main/scala/org/apache/gluten/sql/shims/spark35/Spark35Shims.scala
  shims/spark35/src/main/scala/org/apache/spark/sql/execution/FileSourceScanExecShim.scala
Labels: CORE, CLICKHOUSE

#10350 [GLUTEN-10349] Remove the unnecessary Set and use enum directly
  backends-velox/src-celeborn/main/scala/org/apache/spark/shuffle/VeloxCelebornColumnarShuffleWriter.scala
  backends-velox/src-uniffle/main/java/org/apache/spark/shuffle/writer/VeloxUniffleColumnarShuffleWriter.java
  backends-velox/src/main/scala/org/apache/spark/shuffle/ColumnarShuffleWriter.scala
  gluten-arrow/src/main/java/org/apache/gluten/vectorized/NativePlanEvaluator.java
  gluten-arrow/src/main/scala/org/apache/gluten/memory/NativeMemoryManager.scala
  gluten-core/src/main/java/org/apache/gluten/memory/memtarget/Spillers.java
Labels: CORE, VELOX

#10420 [GLUTEN-10419][CORE] Fix type compatibility for `HttpServletRequest` through alias
  gluten-ui/pom.xml
  gluten-ui/src/main/scala/org/apache/spark/sql/execution/ui/GlutenAllExecutionsPage.scala
  shims/spark32/src/main/scala/org/apache/spark/sql/execution/ui/TypeAlias.scala
  shims/spark33/src/main/scala/org/apache/spark/sql/execution/ui/TypeAlias.scala
  shims/spark34/src/main/scala/org/apache/spark/sql/execution/ui/TypeAlias.scala
  shims/spark35/src/main/scala/org/apache/spark/sql/execution/ui/TypeAlias.scala
  shims/spark40/src/main/scala/org/apache/spark/sql/execution/ui/TypeAlias.scala
Labels: CORE

#10404 [GLUTEN-10403] Extract the common code from ObjectStore as a new method lookup
  cpp/core/utils/ObjectStore.cc
  cpp/core/utils/ObjectStore.h
Labels: VELOX

#10425 [MINOR] Remove expired config
  tools/workload/benchmark_velox/native_sql_initialize.ipynb
Labels: TOOLS

#10313 [VL] Enable get_array_struct_fields function
  backends-velox/src/test/scala/org/apache/gluten/functions/ScalarFunctionsValidateSuite.scala
  cpp/velox/substrait/SubstraitToVeloxPlanValidator.cc
Labels: VELOX

#10456 [GLUTEN-10175][VL] Enable test 'function current_timestamp and now'
  gluten-ut/spark34/src/test/scala/org/apache/gluten/utils/velox/VeloxTestSettings.scala
  gluten-ut/spark35/src/test/scala/org/apache/gluten/utils/velox/VeloxTestSettings.scala
Labels: CORE

#10442 [VL] Add Spark configuration horhored status in Gluten
  README.md
  docs/velox-parquet-write-configuration.md
  docs/velox-spark-configuration.md
Labels: DOCS

#10389 [GLUTEN-10388] Reduce off-heap memory request for partial stage fallback
  backends-velox/src/test/scala/org/apache/gluten/execution/AutoAdjustStageResourceProfileSuite.scala
  docs/Configuration.md
  gluten-substrait/src/main/scala/org/apache/gluten/config/GlutenConfig.scala
  gluten-substrait/src/main/scala/org/apache/spark/sql/execution/GlutenAutoAdjustStageResourceProfile.scala
Labels: CORE, VELOX, DOCS

#10434 [GLUTEN-8852][VL] Fix compilation issues in existing tests for Spark 4.0.0
  backends-velox/src/test/scala/org/apache/gluten/execution/VeloxStringFunctionsSuite.scala
  backends-velox/src/test/scala/org/apache/spark/sql/execution/benchmark/VeloxRasBenchmark.scala
  backends-velox/src/test/scala/org/apache/spark/sql/execution/joins/GlutenExistenceJoinSuite.scala
  pom.xml
  shims/common/src/main/scala/org/apache/gluten/sql/shims/SparkShims.scala
  shims/spark32/src/main/scala/org/apache/gluten/sql/shims/spark32/Spark32Shims.scala
  shims/spark32/src/main/scala/org/apache/spark/sql/SparkSqlUtils.scala
  shims/spark33/src/main/scala/org/apache/gluten/sql/shims/spark33/Spark33Shims.scala
  shims/spark33/src/main/scala/org/apache/spark/sql/SparkSqlUtils.scala
  shims/spark34/src/main/scala/org/apache/gluten/sql/shims/spark34/Spark34Shims.scala
  shims/spark34/src/main/scala/org/apache/spark/sql/SparkSqlUtils.scala
  shims/spark35/src/main/scala/org/apache/gluten/sql/shims/spark35/Spark35Shims.scala
  shims/spark35/src/main/scala/org/apache/spark/sql/SparkSqlUtils.scala
  shims/spark40/src/main/scala/org/apache/gluten/sql/shims/spark40/Spark40Shims.scala
  shims/spark40/src/main/scala/org/apache/spark/sql/SparkSqlUtils.scala
Labels: CORE, VELOX

#10186 [GLUTEN-9337][VL] Support read Paimon non-PK table
  .github/workflows/velox_backend_arm.yml
  .github/workflows/velox_backend_x86.yml
  .github/workflows/velox_nightly.yml
  backends-velox/pom.xml
  backends-velox/src-paimon/main/resources/META-INF/gluten-components/org.apache.gluten.component.VeloxPaimonComponent
  backends-velox/src-paimon/main/scala/org/apache/gluten/component/VeloxPaimonComponent.scala
  backends-velox/src-paimon/test/scala/org/apache/gluten/execution/VeloxPaimonSuite.scala
  docs/get-started/Velox.md
  gluten-paimon/pom.xml
  gluten-paimon/src-paimon/main/java/org/apache/gluten/substrait/rel/PaimonLocalFilesBuilder.java
  gluten-paimon/src-paimon/main/java/org/apache/gluten/substrait/rel/PaimonLocalFilesNode.java
  gluten-paimon/src-paimon/main/scala/org/apache/gluten/execution/OffloadPaimonScan.scala
  gluten-paimon/src-paimon/main/scala/org/apache/gluten/execution/PaimonScanTransformer.scala
  gluten-paimon/src-paimon/test/scala/org/apache/gluten/execution/PaimonSuite.scala
  package/pom.xml
  pom.xml
Labels: CORE, VELOX, INFRA, DOCS

#10474 [GLUTEN-10473] Change TypeNode from interface to abstract class
  gluten-substrait/src/main/java/org/apache/gluten/substrait/type/BinaryTypeNode.java
  gluten-substrait/src/main/java/org/apache/gluten/substrait/type/BooleanTypeNode.java
  gluten-substrait/src/main/java/org/apache/gluten/substrait/type/DateTypeNode.java
  gluten-substrait/src/main/java/org/apache/gluten/substrait/type/DecimalTypeNode.java
  gluten-substrait/src/main/java/org/apache/gluten/substrait/type/FP32TypeNode.java
  gluten-substrait/src/main/java/org/apache/gluten/substrait/type/FP64TypeNode.java
  gluten-substrait/src/main/java/org/apache/gluten/substrait/type/FixedBinaryTypeNode.java
  gluten-substrait/src/main/java/org/apache/gluten/substrait/type/FixedCharTypeNode.java
  gluten-substrait/src/main/java/org/apache/gluten/substrait/type/I16TypeNode.java
  gluten-substrait/src/main/java/org/apache/gluten/substrait/type/I32TypeNode.java
  gluten-substrait/src/main/java/org/apache/gluten/substrait/type/I64TypeNode.java
  gluten-substrait/src/main/java/org/apache/gluten/substrait/type/I8TypeNode.java
  gluten-substrait/src/main/java/org/apache/gluten/substrait/type/IntervalYearTypeNode.java
  gluten-substrait/src/main/java/org/apache/gluten/substrait/type/ListNode.java
  gluten-substrait/src/main/java/org/apache/gluten/substrait/type/MapNode.java
  gluten-substrait/src/main/java/org/apache/gluten/substrait/type/NothingNode.java
  gluten-substrait/src/main/java/org/apache/gluten/substrait/type/StringTypeNode.java
  gluten-substrait/src/main/java/org/apache/gluten/substrait/type/StructNode.java
  gluten-substrait/src/main/java/org/apache/gluten/substrait/type/TimestampTypeNode.java
  gluten-substrait/src/main/java/org/apache/gluten/substrait/type/TypeNode.java
Labels: CORE

#10483 [GLUTEN-10482] Improve `collectAttributeNamesDFS` to avoid repeated check calls
  gluten-substrait/src/main/scala/org/apache/gluten/expression/ConverterUtils.scala
Labels: CORE

#10409 [GLUTEN-10390][VL] Build arm package with common cpu flags
  .github/workflows/velox_nightly.yml
Labels: INFRA

#10479 [GLUTEN-8852][TEST] Support Spark 4.0 in gluten-it
  .github/workflows/velox_backend_x86.yml
  tools/gluten-it/common/pom.xml
  tools/gluten-it/common/src/main/java/org/apache/gluten/integration/BaseMixin.java
  tools/gluten-it/common/src/main/java/org/apache/gluten/integration/command/Parameterized.java
  tools/gluten-it/common/src/main/java/org/apache/gluten/integration/command/Queries.java
  tools/gluten-it/common/src/main/java/org/apache/gluten/integration/command/QueriesMixin.java
  tools/gluten-it/common/src/main/scala/org/apache/gluten/integration/Constants.scala
  tools/gluten-it/common/src/main/scala/org/apache/gluten/integration/DataGen.scala
  tools/gluten-it/common/src/main/scala/org/apache/gluten/integration/action/Parameterized.scala
  tools/gluten-it/common/src/main/scala/org/apache/gluten/integration/action/TableRender.scala
  tools/gluten-it/common/src/main/scala/org/apache/gluten/integration/clickbench/ClickBenchTableCreator.scala
  tools/gluten-it/common/src/main/scala/org/apache/gluten/integration/ds/TpcdsSuite.scala
  tools/gluten-it/common/src/main/scala/org/apache/gluten/integration/h/TpchSuite.scala
  tools/gluten-it/common/src/main/scala/org/apache/gluten/utils/CollectionConverter.scala
  tools/gluten-it/common/src/main/scala/org/apache/spark/deploy/history/GlutenItHistoryServerPlugin.scala
  tools/gluten-it/common/src/main/scala/org/apache/spark/deploy/history/HistoryServerHelper.scala
  tools/gluten-it/common/src/main/scala/org/apache/spark/sql/SparkSessionSwitcher.scala
  tools/gluten-it/common/src/test/java/org/apache/gluten/integration/action/TableRenderTest.scala
  tools/gluten-it/pom.xml
Labels: INFRA, TOOLS

#10487 [GLUTEN-8852] Fix code compatibility issues for two tests on Spark-4.0
  .github/workflows/velox_backend_x86.yml
  backends-velox/src/test/scala/org/apache/spark/sql/execution/GlutenHiveUDFSuite.scala
  backends-velox/src/test/scala/org/apache/spark/sql/execution/VeloxParquetWriteForHiveSuite.scala
  pom.xml
  shims/spark32/src/main/scala/org/apache/spark/sql/classic/ClassicTypes.scala
  shims/spark33/src/main/scala/org/apache/spark/sql/classic/ClassicTypes.scala
  shims/spark34/src/main/scala/org/apache/spark/sql/classic/ClassicTypes.scala
  shims/spark35/src/main/scala/org/apache/spark/sql/classic/ClassicTypes.scala
  shims/spark40/src/main/scala/org/apache/spark/sql/classic/ClassicTypes.scala
Labels: CORE, VELOX, INFRA

#10495 [GLUTEN-9335][VL] Supports collect iceberg statistics
  backends-velox/src-iceberg/main/java/org/apache/gluten/IcebergNestedFieldVisitor.java
  backends-velox/src-iceberg/main/scala/org/apache/gluten/connector/write/IcebergColumnarBatchDataWriter.scala
  backends-velox/src-iceberg/main/scala/org/apache/gluten/connector/write/IcebergDataWriteFactory.scala
  backends-velox/src-iceberg/main/scala/org/apache/gluten/execution/IcebergWriteJniWrapper.java
  backends-velox/src-iceberg/main/scala/org/apache/gluten/execution/VeloxIcebergAppendDataExec.scala
  backends-velox/src-iceberg/test/java/org/apache/gluten/TestIcebergNestedFieldVisitor.java
  backends-velox/src/main/resources/org/apache/gluten/proto/IcebergNestedField.proto
  cpp/velox/compute/VeloxRuntime.cc
  cpp/velox/compute/VeloxRuntime.h
  cpp/velox/compute/iceberg/IcebergWriter.cc
  cpp/velox/compute/iceberg/IcebergWriter.h
  cpp/velox/jni/VeloxJniWrapper.cc
  ep/build-velox/src/get_velox.sh
  gluten-iceberg/src/main/java/org/apache/gluten/connector/write/DataFileJson.java
  gluten-iceberg/src/main/java/org/apache/gluten/connector/write/MetricsWrapper.java
  gluten-iceberg/src/main/scala/org/apache/iceberg/spark/source/IcebergWriteUtil.scala
Labels: BUILD, VELOX, DATA_LAKE

#10492 [GLUTEN-10491][VL] Simplify the extractStructNeeded for HashAggregateExecTransformer
  backends-velox/src/main/scala/org/apache/gluten/execution/HashAggregateExecTransformer.scala
Labels: VELOX

#10503 [MINOR] Apply spotless plugin's fix for code format in gluten-it
  tools/gluten-it/common/src/main/java/org/apache/gluten/integration/BaseMixin.java
  tools/gluten-it/common/src/main/java/org/apache/gluten/integration/Cli.java
  tools/gluten-it/common/src/main/java/org/apache/gluten/integration/Preset.java
  tools/gluten-it/common/src/main/java/org/apache/gluten/integration/SparkJvmOptions.java
  tools/gluten-it/common/src/main/java/org/apache/gluten/integration/command/DataGenMixin.java
  tools/gluten-it/common/src/main/java/org/apache/gluten/integration/command/DataGenOnly.java
  tools/gluten-it/common/src/main/java/org/apache/gluten/integration/command/Parameterized.java
  tools/gluten-it/common/src/main/java/org/apache/gluten/integration/command/Queries.java
  tools/gluten-it/common/src/main/java/org/apache/gluten/integration/command/QueriesCompare.java
  tools/gluten-it/common/src/main/java/org/apache/gluten/integration/command/QueriesMixin.java
  tools/gluten-it/common/src/main/java/org/apache/gluten/integration/command/SparkRunModes.java
  tools/gluten-it/common/src/main/java/org/apache/gluten/integration/command/SparkShell.java
  tools/gluten-it/common/src/main/scala/org/apache/gluten/integration/DataGen.scala
  tools/gluten-it/common/src/main/scala/org/apache/gluten/integration/ShimUtils.scala
  tools/gluten-it/common/src/main/scala/org/apache/gluten/integration/Suite.scala
  tools/gluten-it/common/src/main/scala/org/apache/gluten/integration/TableCreator.scala
  tools/gluten-it/common/src/main/scala/org/apache/gluten/integration/action/DataGenOnly.scala
  tools/gluten-it/common/src/main/scala/org/apache/gluten/integration/action/Parameterized.scala
  tools/gluten-it/common/src/main/scala/org/apache/gluten/integration/action/Queries.scala
  tools/gluten-it/common/src/main/scala/org/apache/gluten/integration/action/QueriesCompare.scala
  tools/gluten-it/common/src/main/scala/org/apache/gluten/integration/action/SparkShell.scala
  tools/gluten-it/common/src/main/scala/org/apache/gluten/integration/action/TableRender.scala
  tools/gluten-it/common/src/main/scala/org/apache/gluten/integration/action/package.scala
  tools/gluten-it/common/src/main/scala/org/apache/gluten/integration/clickbench/ClickBenchDataGen.scala
  tools/gluten-it/common/src/main/scala/org/apache/gluten/integration/clickbench/ClickBenchTableCreator.scala
  tools/gluten-it/common/src/main/scala/org/apache/gluten/integration/ds/TpcdsDataGen.scala
  tools/gluten-it/common/src/main/scala/org/apache/gluten/integration/ds/TpcdsSuite.scala
  tools/gluten-it/common/src/main/scala/org/apache/gluten/integration/h/TpchDataGen.scala
  tools/gluten-it/common/src/main/scala/org/apache/gluten/integration/h/TpchSuite.scala
  tools/gluten-it/common/src/main/scala/org/apache/gluten/integration/metrics/MetricMapper.scala
  tools/gluten-it/common/src/main/scala/org/apache/gluten/integration/metrics/MetricTag.scala
  tools/gluten-it/common/src/main/scala/org/apache/gluten/integration/metrics/PlanMetric.scala
  tools/gluten-it/common/src/main/scala/org/apache/spark/deploy/history/GlutenItHistoryServerPlugin.scala
  tools/gluten-it/common/src/main/scala/org/apache/spark/deploy/history/HistoryServerHelper.scala
  tools/gluten-it/common/src/main/scala/org/apache/spark/sql/ConfUtils.scala
  tools/gluten-it/common/src/main/scala/org/apache/spark/sql/SparkQueryRunner.scala
  tools/gluten-it/common/src/main/scala/org/apache/spark/sql/SparkSessionSwitcher.scala
  tools/gluten-it/common/src/main/scala/org/apache/spark/sql/TestUtils.scala
  tools/gluten-it/pom.xml
Labels: TOOLS

#10505 [GLUTEN-10392][VL] Fix filter fallback in scan-only execution
  gluten-delta/src/test/scala/org/apache/gluten/execution/DeltaSuite.scala
  gluten-substrait/src/main/scala/org/apache/gluten/extension/columnar/validator/Validators.scala
Labels: CORE, DATA_LAKE

#10518 [TEST] Disable a gluten test temporarily: cast string to timestamp
  gluten-ut/spark32/src/test/scala/org/apache/gluten/utils/velox/VeloxTestSettings.scala
  gluten-ut/spark33/src/test/scala/org/apache/gluten/utils/velox/VeloxTestSettings.scala
  gluten-ut/spark34/src/test/scala/org/apache/gluten/utils/velox/VeloxTestSettings.scala
  gluten-ut/spark35/src/test/scala/org/apache/gluten/utils/velox/VeloxTestSettings.scala
Labels: CORE

#10517 [CORE] Bump version to 1.6.0-SNAPSHOT
  backends-clickhouse/pom.xml
  backends-velox/pom.xml
  dev/info.sh
  gluten-arrow/pom.xml
  gluten-celeborn/pom.xml
  gluten-core/pom.xml
  gluten-delta/pom.xml
  gluten-flink/loader/pom.xml
  gluten-flink/planner/pom.xml
  gluten-flink/pom.xml
  gluten-flink/runtime/pom.xml
  gluten-flink/ut/pom.xml
  gluten-hudi/pom.xml
  gluten-iceberg/pom.xml
  gluten-kafka/pom.xml
  gluten-paimon/pom.xml
  gluten-ras/common/pom.xml
  gluten-ras/planner/pom.xml
  gluten-ras/pom.xml
  gluten-substrait/pom.xml
  gluten-ui/pom.xml
  gluten-uniffle/pom.xml
  gluten-ut/common/pom.xml
  gluten-ut/pom.xml
  gluten-ut/spark32/pom.xml
  gluten-ut/spark33/pom.xml
  gluten-ut/spark34/pom.xml
  gluten-ut/spark35/pom.xml
  gluten-ut/test/pom.xml
  package/pom.xml
  pom.xml
  shims/common/pom.xml
  shims/pom.xml
  shims/spark32/pom.xml
  shims/spark33/pom.xml
  shims/spark34/pom.xml
  shims/spark35/pom.xml
  shims/spark40/pom.xml
  tools/gluten-it/common/pom.xml
  tools/gluten-it/package/pom.xml
  tools/gluten-it/pom.xml
  tools/qualification-tool/pom.xml
Labels: CORE, BUILD, VELOX, RSS, TOOLS, CLICKHOUSE, DATA_LAKE, FLINK

#10520 [MINOR] Refactor a string concatenation by following scala style
  gluten-arrow/src/main/scala/org/apache/gluten/runtime/Runtimes.scala
Labels: VELOX

#10523 [GLUTEN-10521][VL] Fall back `to_json` function for uppercase struct field name
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxSparkPlanExecApi.scala
  backends-velox/src/main/scala/org/apache/gluten/expression/ExpressionRestrictions.scala
  backends-velox/src/test/scala/org/apache/gluten/functions/JsonFunctionsValidateSuite.scala
  gluten-substrait/src/main/scala/org/apache/gluten/expression/ExpressionUtils.scala
Labels: CORE, VELOX

#10530 [GLUTEN-10529] Remove unnecessary create for Runtimes
  gluten-arrow/src/main/scala/org/apache/gluten/runtime/Runtimes.scala
Labels: VELOX

#10554 [VL] Extend gluten-it to support more data source types
  tools/gluten-it/common/src/main/java/org/apache/gluten/integration/BaseMixin.java
  tools/gluten-it/common/src/main/java/org/apache/gluten/integration/command/DataGenMixin.java
  tools/gluten-it/common/src/main/java/org/apache/gluten/integration/command/Parameterized.java
  tools/gluten-it/common/src/main/java/org/apache/gluten/integration/command/Queries.java
  tools/gluten-it/common/src/main/java/org/apache/gluten/integration/command/QueriesCompare.java
  tools/gluten-it/common/src/main/java/org/apache/gluten/integration/command/SparkShell.java
  tools/gluten-it/common/src/main/scala/org/apache/gluten/integration/QueryRunner.scala
  tools/gluten-it/common/src/main/scala/org/apache/gluten/integration/Suite.scala
  tools/gluten-it/common/src/main/scala/org/apache/gluten/integration/TableCreator.scala
  tools/gluten-it/common/src/main/scala/org/apache/gluten/integration/action/DataGenOnly.scala
  tools/gluten-it/common/src/main/scala/org/apache/gluten/integration/action/Parameterized.scala
  tools/gluten-it/common/src/main/scala/org/apache/gluten/integration/action/Queries.scala
  tools/gluten-it/common/src/main/scala/org/apache/gluten/integration/action/QueriesCompare.scala
  tools/gluten-it/common/src/main/scala/org/apache/gluten/integration/action/SparkShell.scala
  tools/gluten-it/common/src/main/scala/org/apache/gluten/integration/clickbench/ClickBenchSuite.scala
  tools/gluten-it/common/src/main/scala/org/apache/gluten/integration/clickbench/ClickBenchTableCreator.scala
  tools/gluten-it/common/src/main/scala/org/apache/gluten/integration/ds/TpcdsDataGen.scala
  tools/gluten-it/common/src/main/scala/org/apache/gluten/integration/ds/TpcdsSuite.scala
  tools/gluten-it/common/src/main/scala/org/apache/gluten/integration/h/TpchDataGen.scala
  tools/gluten-it/common/src/main/scala/org/apache/gluten/integration/h/TpchSuite.scala
Labels: TOOLS

#10561 [FLINK] Add `java-17` profile for Flink build and update project version in flink doc
  gluten-flink/docs/Flink.md
  gluten-flink/docs/Gluten-Flink-troubleshooting.md
  gluten-flink/pom.xml
Labels: FLINK

#10576 [GLUTEN-10574][Branch-1.5] Back port important fixes to branch-1.5
  dev/vcpkg/setup-build-depends.sh
  ep/build-velox/src/get_velox.sh
  gluten-ut/common/src/test/scala/org/apache/spark/util/DebuggableThreadUtils.scala
  gluten-ut/spark32/src/test/scala/org/apache/spark/sql/catalyst/expressions/GlutenAnsiCastSuite.scala
  gluten-ut/spark32/src/test/scala/org/apache/spark/sql/catalyst/expressions/GlutenCastSuite.scala
  gluten-ut/spark33/src/test/scala/org/apache/spark/sql/catalyst/expressions/GlutenAnsiCastSuite.scala
  gluten-ut/spark33/src/test/scala/org/apache/spark/sql/catalyst/expressions/GlutenCastSuite.scala
  gluten-ut/spark34/src/test/scala/org/apache/spark/sql/catalyst/expressions/GlutenCastSuite.scala
  gluten-ut/spark34/src/test/scala/org/apache/spark/sql/catalyst/expressions/GlutenTryCastSuite.scala
  gluten-ut/spark35/src/test/scala/org/apache/spark/sql/catalyst/expressions/GlutenCastSuite.scala
  gluten-ut/spark35/src/test/scala/org/apache/spark/sql/catalyst/expressions/GlutenTryCastSuite.scala
Labels: CORE, BUILD, VELOX

#10541 [GLUTEN-9671][VL] Fix broadcast exchange stackoverflow due to Kryo serialization
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxSparkPlanExecApi.scala
  backends-velox/src/main/scala/org/apache/spark/sql/execution/BroadcastModeUtils.scala
  backends-velox/src/main/scala/org/apache/spark/sql/execution/BroadcastUtils.scala
  backends-velox/src/main/scala/org/apache/spark/sql/execution/ColumnarBuildSideRelation.scala
  backends-velox/src/main/scala/org/apache/spark/sql/execution/unsafe/UnsafeColumnarBuildSideRelation.scala
Labels: VELOX

#10575 [VL] Support independent Gluten CPP build
  dev/builddeps-veloxbe.sh
Labels: BUILD

#10537 [GLUTEN-10107][CH] Decouple Celeborn-related code from CH backend module
  backends-clickhouse/src-celeborn/main/resources/META-INF/services/org.apache.spark.shuffle.gluten.celeborn.CelebornColumnarBatchSerializerFactory
  backends-clickhouse/src-celeborn/main/scala/org/apache/spark/shuffle/CHCelebornColumnarBatchSerializerFactory.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHSparkPlanExecApi.scala
  backends-velox/src-celeborn/main/resources/META-INF/services/org.apache.spark.shuffle.gluten.celeborn.CelebornColumnarBatchSerializerFactory
  backends-velox/src-celeborn/main/scala/org/apache/spark/shuffle/VeloxCelebornColumnarBatchSerializerFactory.scala
  gluten-celeborn/src/main/java/org/apache/spark/shuffle/gluten/celeborn/CelebornShuffleManager.java
Labels: VELOX, RSS, CLICKHOUSE

#10579 [GLUTEN-10578] Remove unnecessary numaBindingInfo
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHIteratorApi.scala
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxIteratorApi.scala
  docs/Configuration.md
  gluten-substrait/src/main/scala/org/apache/gluten/backendsapi/IteratorApi.scala
  gluten-substrait/src/main/scala/org/apache/gluten/config/GlutenConfig.scala
  gluten-substrait/src/main/scala/org/apache/gluten/execution/GlutenWholeStageColumnarRDD.scala
  gluten-substrait/src/main/scala/org/apache/gluten/execution/WholeStageTransformer.scala
  gluten-substrait/src/main/scala/org/apache/gluten/execution/WholeStageZippedPartitionsRDD.scala
  gluten-substrait/src/main/scala/org/apache/spark/util/ExecutorManager.scala
Labels: CORE, VELOX, CLICKHOUSE, DOCS
