Repository apache/incubator-gluten, pull requests merged in 2025-01, with the labels that each got.

#8123 [GLUTEN-7964][VL] Support S3 Bucket Config
  cpp/velox/utils/ConfigExtractor.cc
Labels: VELOX

#8396 [VL] Various fixes for gluten-it
  tools/gluten-it/common/pom.xml
  tools/gluten-it/common/src/main/java/org/apache/gluten/integration/BaseMixin.java
  tools/gluten-it/common/src/main/scala/org/apache/gluten/integration/Suite.scala
  tools/gluten-it/common/src/main/scala/org/apache/spark/deploy/history/HistoryServerHelper.scala
  tools/gluten-it/pom.xml
Labels: TOOLS

#8127 [GLUTEN-7750][VL] Move ColumnarBuildSideRelation's memory occupation to Spark off-heap
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxSparkPlanExecApi.scala
  backends-velox/src/main/scala/org/apache/spark/sql/execution/BroadcastUtils.scala
  backends-velox/src/main/scala/org/apache/spark/sql/execution/unsafe/UnsafeBytesBufferArray.scala
  backends-velox/src/main/scala/org/apache/spark/sql/execution/unsafe/UnsafeColumnarBuildSideRelation.scala
  backends-velox/src/test/scala/org/apache/gluten/execution/VeloxHashJoinSuite.scala
  backends-velox/src/test/scala/org/apache/gluten/execution/VeloxTPCHSuite.scala
  cpp/core/jni/JniWrapper.cc
  gluten-arrow/src/main/java/org/apache/gluten/vectorized/ColumnarBatchSerializerJniWrapper.java
  gluten-substrait/src/main/scala/org/apache/spark/sql/execution/joins/BuildSideRelation.scala
  shims/common/src/main/scala/org/apache/gluten/GlutenConfig.scala
Labels: CORE, VELOX

#8388 [GLUTEN-6887][VL] Daily Update Velox Version (2025_01_02)
  ep/build-velox/src/get_velox.sh
Labels: BUILD, VELOX

#8402 [VL] Allow shared dependencies for s3 and abfs libs
  cpp/velox/CMakeLists.txt
Labels: VELOX

#8394 [GLUTEN-8393][VL] Fix the smj result mismatch issue
  .github/workflows/velox_backend.yml
  backends-velox/src/test/scala/org/apache/gluten/execution/MiscOperatorSuite.scala
  backends-velox/src/test/scala/org/apache/gluten/execution/VeloxMetricsSuite.scala
  backends-velox/src/test/scala/org/apache/gluten/execution/VeloxOrcDataTypeValidationSuite.scala
  backends-velox/src/test/scala/org/apache/gluten/execution/VeloxParquetDataTypeValidationSuite.scala
  backends-velox/src/test/scala/org/apache/gluten/execution/VeloxTPCHSuite.scala
  cpp/velox/substrait/SubstraitToVeloxPlan.cc
  cpp/velox/substrait/SubstraitToVeloxPlanValidator.cc
  gluten-substrait/src/main/scala/org/apache/gluten/execution/SortMergeJoinExecTransformer.scala
Labels: CORE, VELOX, INFRA

#8391 [VL] Support loading dependency libs for Oracle linux
  backends-velox/src/main/scala/org/apache/gluten/utils/SharedLibraryLoader.scala
Labels: VELOX

#8403 [VL] Plumb ABFS config
  cpp/velox/compute/VeloxBackend.cc
  cpp/velox/utils/ConfigExtractor.cc
  shims/common/src/main/scala/org/apache/gluten/GlutenConfig.scala
Labels: CORE, VELOX

#8399 [GLUTEN-8398] Bump Celeborn 0.4.3 and 0.5.2
  .github/workflows/velox_backend.yml
  dev/docker/Dockerfile.centos8-dynamic-build
  gluten-celeborn/src-celeborn/main/java/org/apache/spark/shuffle/gluten/celeborn/CelebornShuffleManager.java
  tools/gluten-it/pom.xml
Labels: BUILD, INFRA, RSS, TOOLS

#8392 [GLUTEN-7602][CH] Add spark cast array to string
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/compatibility/GlutenClickhouseFunctionSuite.scala
  cpp-ch/local-engine/Functions/SparkFunctionArrayToString.cpp
  cpp-ch/local-engine/Functions/SparkFunctionArrayToString.h
  cpp-ch/local-engine/Parser/ExpressionParser.cpp
Labels: CLICKHOUSE

#8374 [TEST] Fix gluten test util getExecutedPlan
  gluten-substrait/src/test/scala/org/apache/spark/sql/GlutenQueryTest.scala
Labels: CORE

#8338 [VL] Support casting timestamp type to varchar type
  cpp/velox/substrait/SubstraitToVeloxPlanValidator.cc
  gluten-ut/spark32/src/test/scala/org/apache/gluten/utils/clickhouse/ClickHouseTestSettings.scala
  gluten-ut/spark32/src/test/scala/org/apache/gluten/utils/velox/VeloxTestSettings.scala
  gluten-ut/spark32/src/test/scala/org/apache/spark/sql/catalyst/expressions/GlutenCastSuite.scala
  gluten-ut/spark33/src/test/scala/org/apache/gluten/utils/clickhouse/ClickHouseTestSettings.scala
  gluten-ut/spark33/src/test/scala/org/apache/gluten/utils/velox/VeloxTestSettings.scala
  gluten-ut/spark33/src/test/scala/org/apache/spark/sql/catalyst/expressions/GlutenCastSuite.scala
  gluten-ut/spark34/src/test/scala/org/apache/gluten/utils/clickhouse/ClickHouseTestSettings.scala
  gluten-ut/spark34/src/test/scala/org/apache/gluten/utils/velox/VeloxTestSettings.scala
  gluten-ut/spark34/src/test/scala/org/apache/spark/sql/catalyst/expressions/GlutenCastSuite.scala
  gluten-ut/spark34/src/test/scala/org/apache/spark/sql/catalyst/expressions/GlutenTryCastSuite.scala
  gluten-ut/spark35/src/test/scala/org/apache/gluten/utils/clickhouse/ClickHouseTestSettings.scala
  gluten-ut/spark35/src/test/scala/org/apache/gluten/utils/velox/VeloxTestSettings.scala
  gluten-ut/spark35/src/test/scala/org/apache/spark/sql/catalyst/expressions/GlutenCastSuite.scala
  gluten-ut/spark35/src/test/scala/org/apache/spark/sql/catalyst/expressions/GlutenTryCastSuite.scala
Labels: CORE, VELOX

#7523 [GLUTEN-7502][CH]Fix orc write time zone diff
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/hive/GlutenClickHouseHiveTableSuite.scala
  cpp-ch/local-engine/Storages/Output/ORCOutputFormatFile.cpp
Labels: CLICKHOUSE

#8400 [GLUTEN-8397][CH][Part-1]: Disable hdfs while compiling clickhouse backend on macOS
  cpp-ch/local-engine/CMakeLists.txt
  cpp-ch/local-engine/Common/GlutenSignalHandler.cpp
  cpp-ch/local-engine/Parser/CHColumnToSparkRow.cpp
  cpp-ch/local-engine/Storages/MergeTree/MetaDataHelper.cpp
  cpp-ch/local-engine/Storages/Output/WriteBufferBuilder.cpp
  cpp-ch/local-engine/Storages/SubstraitSource/CMakeLists.txt
  cpp-ch/local-engine/Storages/SubstraitSource/ReadBufferBuilder.cpp
  cpp-ch/local-engine/local_engine_jni.cpp
Labels: CLICKHOUSE

#8305 [GLUTEN-8304][CORE] Add an optimization rule to collapse nested get_json_object functions
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHRuleApi.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenFunctionValidateSuite.scala
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxRuleApi.scala
  gluten-substrait/src/main/scala/org/apache/gluten/extension/columnar/CollapseGetJsonObjectExpressionRule.scala
  shims/common/src/main/scala/org/apache/gluten/config/GlutenConfig.scala
Labels: CORE, VELOX, CLICKHOUSE

#8413 [GLUTEN-8408][CH] Fix compile failures on ARM
  cpp-ch/local-engine/Functions/SparkFunctionDecimalBinaryOperator.h
Labels: CLICKHOUSE

#8440 [GLUTEN-1632][CH]Daily Update Clickhouse Version (20250107)
  cpp-ch/clickhouse.version
  cpp-ch/local-engine/Functions/SparkFunctionRoundHalfUp.cpp
Labels: CLICKHOUSE

#8308 [GLUTEN-8307][VL] Support Int64 Timestamp in parquet reader
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxBackend.scala
  gluten-ut/spark32/src/test/scala/org/apache/gluten/utils/velox/VeloxTestSettings.scala
  gluten-ut/spark33/src/test/scala/org/apache/gluten/utils/velox/VeloxTestSettings.scala
  gluten-ut/spark34/src/test/scala/org/apache/gluten/utils/velox/VeloxTestSettings.scala
  gluten-ut/spark35/src/test/scala/org/apache/gluten/utils/velox/VeloxTestSettings.scala
  shims/common/src/main/scala/org/apache/gluten/config/GlutenConfig.scala
Labels: CORE, VELOX

#8430 [GLUTEN-7641][VL] Minor fixup for the perf analysis script
  tools/workload/benchmark_velox/initialize.ipynb
  tools/workload/benchmark_velox/native_sql_initialize.ipynb
  tools/workload/benchmark_velox/params.yaml.template
  tools/workload/benchmark_velox/tpc_workload.ipynb
Labels: TOOLS

#8445 [VL] Gluten-it: New option `--collect-sql-metrics=execution-time` to collect slowest plan nodes into benchmark report
  tools/gluten-it/common/src/main/java/org/apache/gluten/integration/BaseMixin.java
  tools/gluten-it/common/src/main/java/org/apache/gluten/integration/Preset.java
  tools/gluten-it/common/src/main/java/org/apache/gluten/integration/command/Parameterized.java
  tools/gluten-it/common/src/main/java/org/apache/gluten/integration/command/Queries.java
  tools/gluten-it/common/src/main/scala/org/apache/gluten/integration/Constants.scala
  tools/gluten-it/common/src/main/scala/org/apache/gluten/integration/QueryRunner.scala
  tools/gluten-it/common/src/main/scala/org/apache/gluten/integration/ShimUtils.scala
  tools/gluten-it/common/src/main/scala/org/apache/gluten/integration/Suite.scala
  tools/gluten-it/common/src/main/scala/org/apache/gluten/integration/action/Parameterized.scala
  tools/gluten-it/common/src/main/scala/org/apache/gluten/integration/action/Queries.scala
  tools/gluten-it/common/src/main/scala/org/apache/gluten/integration/action/TableRender.scala
  tools/gluten-it/common/src/main/scala/org/apache/gluten/integration/action/package.scala
  tools/gluten-it/common/src/main/scala/org/apache/gluten/integration/clickbench/ClickBenchSuite.scala
  tools/gluten-it/common/src/main/scala/org/apache/gluten/integration/ds/TpcdsSuite.scala
  tools/gluten-it/common/src/main/scala/org/apache/gluten/integration/h/TpchSuite.scala
  tools/gluten-it/common/src/main/scala/org/apache/gluten/integration/metrics/MetricMapper.scala
  tools/gluten-it/common/src/main/scala/org/apache/gluten/integration/metrics/MetricTag.scala
  tools/gluten-it/common/src/main/scala/org/apache/gluten/integration/metrics/PlanMetric.scala
  tools/gluten-it/common/src/main/scala/org/apache/spark/VersionUtils.scala
  tools/gluten-it/common/src/main/scala/org/apache/spark/deploy/history/GlutenItHistoryServerPlugin.scala
  tools/gluten-it/common/src/main/scala/org/apache/spark/sql/SparkQueryRunner.scala
  tools/gluten-it/common/src/test/java/org/apache/gluten/integration/action/TableRenderTest.scala
Labels: TOOLS

#8447 [VL] Remove an out-of-date warning message
  cpp/velox/compute/VeloxBackend.cc
  tools/gluten-it/common/src/main/java/org/apache/gluten/integration/command/Parameterized.java
  tools/gluten-it/common/src/main/java/org/apache/gluten/integration/command/Queries.java
Labels: VELOX, TOOLS

#8448 [VL] Fix wrong warning of "Memory overhead is set to ..." under default Spark config settings
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxListenerApi.scala
Labels: VELOX

#8386 [GLUTEN-8385][VL] Support write compatible-hive bucket table for Spark3.4 and Spark3.5.
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHBackend.scala
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxBackend.scala
  backends-velox/src/test/scala/org/apache/spark/sql/execution/BucketWriteUtils.scala
  backends-velox/src/test/scala/org/apache/spark/sql/execution/VeloxParquetWriteForHiveSuite.scala
  cpp/velox/substrait/SubstraitToVeloxPlan.cc
  docs/developers/SubstraitModifications.md
  gluten-substrait/src/main/java/org/apache/gluten/substrait/rel/RelBuilder.java
  gluten-substrait/src/main/java/org/apache/gluten/substrait/rel/WriteRelNode.java
  gluten-substrait/src/main/resources/substrait/proto/substrait/algebra.proto
  gluten-substrait/src/main/scala/org/apache/gluten/backendsapi/BackendSettingsApi.scala
  gluten-substrait/src/main/scala/org/apache/gluten/execution/WriteFilesExecTransformer.scala
Labels: CORE, VELOX, CLICKHOUSE, DOCS

#8460 Revert "[CH] Disable gluten arm ci"
  .github/workflows/clickhouse_be_trigger.yml
Labels: INFRA

#8454 [GLUTEN-8453] [VL] Allow Heavy Batch to be Processed by ColumnarCachedBatchSerializer
  backends-velox/src/main/scala/org/apache/spark/sql/execution/ColumnarCachedBatchSerializer.scala
  gluten-arrow/src/main/java/org/apache/gluten/columnarbatch/ColumnarBatches.java
Labels: VELOX

#8459 [VL] Update document of build gluten in Docker
  docs/developers/velox-backend-build-in-docker.md
  docs/get-started/Velox.md
Labels: DOCS

#8468 [GLUTEN-8462][CORE] Raise a meaningful error when no component is found from classpath
  gluten-core/src/main/scala/org/apache/gluten/component/package.scala
Labels: CORE

#8467 [GLUTEN-8465] [VL] Bump Celeborn to 0.5.3
  .github/workflows/velox_backend.yml
  dev/docker/Dockerfile.centos8-dynamic-build
  pom.xml
  tools/gluten-it/pom.xml
Labels: CORE, BUILD, INFRA, TOOLS

#8456 [GLUTEN-8455][VL] Fallback Scan for Encrypted Parquet Files
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxBackend.scala
  backends-velox/src/main/scala/org/apache/gluten/utils/ParquetMetadataUtils.scala
  shims/common/src/main/scala/org/apache/gluten/config/GlutenConfig.scala
Labels: CORE, VELOX

#8422 [CORE] Refactor columnar noop write rule
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHRuleApi.scala
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxRuleApi.scala
  gluten-substrait/src/main/scala/org/apache/spark/sql/execution/datasources/GlutenWriterColumnarRules.scala
  gluten-substrait/src/main/scala/org/apache/spark/sql/execution/datasources/noop/GlutenNoopWriterRule.scala
  gluten-ut/spark32/src/test/scala/org/apache/gluten/utils/clickhouse/ClickHouseTestSettings.scala
  gluten-ut/spark32/src/test/scala/org/apache/gluten/utils/velox/VeloxTestSettings.scala
  gluten-ut/spark32/src/test/scala/org/apache/spark/sql/execution/adaptive/clickhouse/ClickHouseAdaptiveQueryExecSuite.scala
  gluten-ut/spark32/src/test/scala/org/apache/spark/sql/execution/adaptive/velox/VeloxAdaptiveQueryExecSuite.scala
  gluten-ut/spark32/src/test/scala/org/apache/spark/sql/execution/datasources/GlutenWriterColumnarRulesSuite.scala
  gluten-ut/spark33/src/test/scala/org/apache/gluten/utils/clickhouse/ClickHouseTestSettings.scala
  gluten-ut/spark33/src/test/scala/org/apache/gluten/utils/velox/VeloxTestSettings.scala
  gluten-ut/spark33/src/test/scala/org/apache/spark/sql/execution/adaptive/clickhouse/ClickHouseAdaptiveQueryExecSuite.scala
  gluten-ut/spark33/src/test/scala/org/apache/spark/sql/execution/adaptive/velox/VeloxAdaptiveQueryExecSuite.scala
  gluten-ut/spark33/src/test/scala/org/apache/spark/sql/execution/datasources/GlutenWriterColumnarRulesSuite.scala
  gluten-ut/spark34/src/test/scala/org/apache/gluten/utils/clickhouse/ClickHouseTestSettings.scala
  gluten-ut/spark34/src/test/scala/org/apache/gluten/utils/velox/VeloxTestSettings.scala
  gluten-ut/spark34/src/test/scala/org/apache/spark/sql/execution/adaptive/clickhouse/ClickHouseAdaptiveQueryExecSuite.scala
  gluten-ut/spark34/src/test/scala/org/apache/spark/sql/execution/adaptive/velox/VeloxAdaptiveQueryExecSuite.scala
  gluten-ut/spark35/src/test/scala/org/apache/gluten/utils/clickhouse/ClickHouseTestSettings.scala
  gluten-ut/spark35/src/test/scala/org/apache/gluten/utils/velox/VeloxTestSettings.scala
  gluten-ut/spark35/src/test/scala/org/apache/spark/sql/execution/adaptive/clickhouse/ClickHouseAdaptiveQueryExecSuite.scala
  gluten-ut/spark35/src/test/scala/org/apache/spark/sql/execution/adaptive/velox/VeloxAdaptiveQueryExecSuite.scala
  gluten-ut/test/src/test/scala/org/apache/spark/sql/datasources/GlutenNoopWriterRuleSuite.scala
Labels: CORE, VELOX, CLICKHOUSE

#8464 [GLUTEN-8462][CH] Fixed the loading of Components and Backend
  gluten-core/src/main/java/org/apache/gluten/utils/ResourceUtil.java
Labels: CORE

#8351 [GLUTEN-8343][CH]Fix cast number to decimal
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/tpch/GlutenClickHouseTPCHSaltNullParquetSuite.scala
  cpp-ch/local-engine/Functions/SparkFunctionCheckDecimalOverflow.cpp
  cpp-ch/local-engine/Parser/ExpressionParser.cpp
Labels: CLICKHOUSE

#8482 [GLUTEN-8481][VL] Clean up shuffle reader cpp code
  cpp/core/CMakeLists.txt
  cpp/core/jni/JniWrapper.cc
  cpp/core/shuffle/ShuffleReader.cc
  cpp/core/shuffle/ShuffleReader.h
  cpp/velox/compute/VeloxRuntime.cc
  cpp/velox/shuffle/VeloxShuffleReader.cc
  cpp/velox/shuffle/VeloxShuffleReader.h
  cpp/velox/utils/tests/VeloxShuffleWriterTestBase.h
Labels: VELOX

#8452 [Core] Bump version to 1.4.0-SNAPSHOT
  backends-clickhouse/pom.xml
  backends-velox/pom.xml
  dev/info.sh
  gluten-arrow/pom.xml
  gluten-celeborn/pom.xml
  gluten-core/pom.xml
  gluten-delta/pom.xml
  gluten-hudi/pom.xml
  gluten-iceberg/pom.xml
  gluten-ras/common/pom.xml
  gluten-ras/planner/pom.xml
  gluten-ras/pom.xml
  gluten-substrait/pom.xml
  gluten-ui/pom.xml
  gluten-uniffle/pom.xml
  gluten-ut/common/pom.xml
  gluten-ut/pom.xml
  gluten-ut/spark32/pom.xml
  gluten-ut/spark33/pom.xml
  gluten-ut/spark34/pom.xml
  gluten-ut/spark35/pom.xml
  gluten-ut/test/pom.xml
  package/pom.xml
  pom.xml
  shims/common/pom.xml
  shims/pom.xml
  shims/spark32/pom.xml
  shims/spark33/pom.xml
  shims/spark34/pom.xml
  shims/spark35/pom.xml
  tools/gluten-it/common/pom.xml
  tools/gluten-it/package/pom.xml
  tools/gluten-it/pom.xml
  tools/workload/benchmark_velox/params.yaml.template
  tools/workload/benchmark_velox/sample/tpch_q1.html
  tools/workload/benchmark_velox/sample/tpch_q1.ipynb
  tools/workload/benchmark_velox/tpc_workload.ipynb
  tools/workload/tpcds/run_tpcds/run_tpcds.sh
Labels: CORE, BUILD, VELOX, RSS, TOOLS, CLICKHOUSE, DATA_LAKE

#8486 [GLUTEN-8483][CORE] A stable and universal way to find component files
  gluten-core/src/main/java/org/apache/gluten/utils/ResourceUtil.java
  gluten-core/src/main/scala/org/apache/gluten/component/Discovery.scala
  gluten-core/src/test/java/org/apache/gluten/util/ResourceUtilTest.java
Labels: CORE

#8495 [DOC][VL] Fix typo in microbenchmark.md
  docs/developers/MicroBenchmarks.md
Labels: DOCS

#8490 [GLUTEN-1632][CH]Daily Update Clickhouse Version (20250110)
  cpp-ch/clickhouse.version
  cpp-ch/local-engine/Storages/MergeTree/SparkStorageMergeTree.cpp
Labels: CLICKHOUSE

#8477 [GLUTEN-8476][VL] Fix allocate and free memory
  cpp/core/benchmarks/CompressionBenchmark.cc
  cpp/core/memory/MemoryAllocator.cc
Labels: VELOX

#8504 [GLUTEN-8503][VL] Fix macro parenthesis CVE
  cpp/core/benchmarks/CompressionBenchmark.cc
Labels: VELOX

#8470 [GLUTEN-8471][VL] Fix usage of uninitialized variables
  cpp/velox/memory/VeloxMemoryManager.cc
Labels: VELOX

#8498 [GLUTEN-8497][VL] A bad test case that fails columnar table cache query
  backends-velox/src/test/scala/org/apache/gluten/execution/VeloxColumnarCacheSuite.scala
  gluten-core/src/main/scala/org/apache/gluten/extension/columnar/transition/TransitionGraph.scala
Labels: CORE, VELOX

#8444 [DOC] Update README.md
  README.md
Labels: DOCS

#8323 [GLUTEN-8319][VL] Support date_format Spark function
  backends-velox/src/test/scala/org/apache/gluten/execution/ScalarFunctionsValidateSuite.scala
  cpp/velox/substrait/SubstraitParser.cc
Labels: VELOX

#8513 [GLUTEN-8487][VL] adding JDK11 based Centos8 image
  .github/workflows/docker_image.yml
  dev/docker/Dockerfile.centos8-dynamic-build-jdk11
Labels: BUILD, INFRA

#8519 [1.3][VL]update oap velox to gluten-1.3.0
  ep/build-velox/src/get_velox.sh
Labels: BUILD, VELOX

#8013 [GLUTEN-8020][VL] Remove the libhdfs3 installation script required for static linking
  dev/build-thirdparty.sh
  dev/build_helper_functions.sh
  dev/build_libhdfs3.sh
  dev/builddeps-veloxbe.sh
  dev/vcpkg/init.sh
  dev/vcpkg/ports/libhdfs3/libhdfs3Config.cmake
  dev/vcpkg/ports/libhdfs3/portfile.cmake
  dev/vcpkg/ports/libhdfs3/usage
  dev/vcpkg/ports/libhdfs3/vcpkg.json
  dev/vcpkg/vcpkg.json
  docs/get-started/Velox.md
  ep/build-velox/src/setup-centos7.sh
Labels: BUILD, VELOX, DOCS

#8533 [GLUTEN-8532][VL] Fix parenthesis within macro
  cpp/core/utils/qat/QatCodec.cc
Labels: VELOX

#8527 [CORE] Use RAS's cost model for legacy transition planner to evaluate cost of transitions
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHListenerApi.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHRuleApi.scala
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxListenerApi.scala
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxRuleApi.scala
  backends-velox/src/test/scala/org/apache/gluten/execution/VeloxRoughCostModel2Suite.scala
  backends-velox/src/test/scala/org/apache/gluten/extension/columnar/enumerated/planner/VeloxRasSuite.scala
  backends-velox/src/test/scala/org/apache/gluten/extension/columnar/transition/VeloxTransitionSuite.scala
  gluten-core/src/main/scala/org/apache/gluten/extension/columnar/enumerated/EnumeratedTransform.scala
  gluten-core/src/main/scala/org/apache/gluten/extension/columnar/enumerated/planner/cost/GlutenCostModel.scala
  gluten-core/src/main/scala/org/apache/gluten/extension/columnar/enumerated/planner/cost/LongCostModel.scala
  gluten-core/src/main/scala/org/apache/gluten/extension/columnar/enumerated/planner/cost/LongCosterChain.scala
  gluten-core/src/main/scala/org/apache/gluten/extension/columnar/transition/Convention.scala
  gluten-core/src/main/scala/org/apache/gluten/extension/columnar/transition/ConventionFunc.scala
  gluten-core/src/main/scala/org/apache/gluten/extension/columnar/transition/FloydWarshallGraph.scala
  gluten-core/src/main/scala/org/apache/gluten/extension/columnar/transition/TransitionGraph.scala
  gluten-core/src/main/scala/org/apache/gluten/extension/injector/GlutenInjector.scala
  gluten-core/src/test/scala/org/apache/gluten/extension/columnar/transition/FloydWarshallGraphSuite.scala
  gluten-substrait/src/main/scala/org/apache/gluten/extension/columnar/enumerated/planner/cost/LegacyCoster.scala
  gluten-substrait/src/main/scala/org/apache/gluten/extension/columnar/enumerated/planner/cost/RoughCoster.scala
  gluten-substrait/src/main/scala/org/apache/gluten/extension/columnar/enumerated/planner/cost/RoughCoster2.scala
  gluten-substrait/src/test/scala/org/apache/gluten/extension/columnar/transition/TransitionSuite.scala
  shims/common/src/main/scala/org/apache/gluten/config/GlutenConfig.scala
Labels: CORE, VELOX, CLICKHOUSE

#8539 [GLUTEN-8487][VL] adding JDK17 based Centos8 image (#8513)
  .github/workflows/docker_image.yml
  dev/docker/Dockerfile.centos8-dynamic-build-jdk17
Labels: BUILD, INFRA

#8537 [GLUTEN-1632][CH]Daily Update Clickhouse Version (20250115)
  cpp-ch/clickhouse.version
  cpp-ch/local-engine/Common/CHUtil.cpp
  cpp-ch/local-engine/Storages/MergeTree/MergeSparkMergeTreeTask.cpp
Labels: CLICKHOUSE

#8480 [GLUTEN-8479][CORE][Part-1] Remove unnecessary config
  backends-clickhouse/src/test/scala/org/apache/gluten/RunTPCHTest.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenClickHouseJoinSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenClickHouseSyntheticDataSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenClickHouseTPCDSAbstractSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenClickHouseTPCHAbstractSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenFunctionValidateSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/compatibility/GlutenClickhouseFunctionSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/hive/GlutenClickHouseHiveTableSuite.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/hive/GlutenClickHouseNativeWriteTableSuite.scala
  backends-clickhouse/src/test/scala/org/apache/spark/sql/execution/benchmarks/CHSqlBasedBenchmark.scala
  docs/get-started/ClickHouse.md
  ep/build-clickhouse/src/resources/conf/gluten.properties
  gluten-ut/spark32/src/test/scala/org/apache/spark/sql/execution/benchmarks/ParquetReadBenchmark.scala
  gluten-ut/spark33/src/test/scala/org/apache/spark/sql/execution/benchmarks/ParquetReadBenchmark.scala
  gluten-ut/spark34/src/test/scala/org/apache/spark/sql/execution/benchmarks/ParquetReadBenchmark.scala
  gluten-ut/spark35/src/test/scala/org/apache/spark/sql/execution/benchmarks/ParquetReadBenchmark.scala
  shims/common/src/main/scala/org/apache/gluten/config/GlutenConfig.scala
  tools/workload/benchmark_velox/native_sql_initialize.ipynb
Labels: CORE, TOOLS, CLICKHOUSE, DOCS

#8521 [GLUTEN-8520][VL] Fix bitwise operators
  cpp/core/shuffle/FallbackRangePartitioner.cc
  cpp/core/shuffle/HashPartitioner.cc
  cpp/core/shuffle/RandomPartitioner.cc
  cpp/core/shuffle/RoundRobinPartitioner.cc
  cpp/velox/operators/serializer/VeloxRowToColumnarConverter.cc
Labels: VELOX

#8525 [GLUTEN-8524][VL] Fix input output errors
  cpp/core/benchmarks/CompressionBenchmark.cc
Labels: VELOX

#8543 [GLUTEN-6876][VL] update spark 3.5.2 in doc
  docs/get-started/Velox.md
  docs/get-started/build-guide.md
Labels: DOCS

#8501 [GLUTEN-8455][VL] Port encrypted file checks to shim layer
  backends-velox/src/main/scala/org/apache/gluten/utils/ParquetMetadataUtils.scala
  backends-velox/src/test/scala/org/apache/gluten/utils/ParquetEncryptionDetectionSuite.scala
  shims/common/src/main/scala/org/apache/gluten/sql/shims/SparkShims.scala
  shims/common/src/main/scala/org/apache/gluten/utils/ExceptionUtils.scala
  shims/spark32/src/main/scala/org/apache/gluten/sql/shims/spark32/Spark32Shims.scala
  shims/spark33/src/main/scala/org/apache/gluten/sql/shims/spark33/Spark33Shims.scala
  shims/spark34/src/main/scala/org/apache/gluten/sql/shims/spark34/Spark34Shims.scala
  shims/spark35/src/main/scala/org/apache/gluten/sql/shims/spark35/Spark35Shims.scala
Labels: CORE, VELOX

#8541 [CORE][VL] Cost model code refactors
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHBackend.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHRuleApi.scala
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxBackend.scala
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxRuleApi.scala
  backends-velox/src/test/scala/org/apache/gluten/execution/MiscOperatorSuite.scala
  backends-velox/src/test/scala/org/apache/gluten/extension/columnar/enumerated/planner/VeloxRasSuite.scala
  gluten-core/src/main/scala/org/apache/gluten/component/Component.scala
  gluten-core/src/main/scala/org/apache/gluten/extension/columnar/cost/GlutenCost.scala
  gluten-core/src/main/scala/org/apache/gluten/extension/columnar/cost/GlutenCostModel.scala
  gluten-core/src/main/scala/org/apache/gluten/extension/columnar/cost/LongCost.scala
  gluten-core/src/main/scala/org/apache/gluten/extension/columnar/cost/LongCostModel.scala
  gluten-core/src/main/scala/org/apache/gluten/extension/columnar/cost/LongCoster.scala
  gluten-core/src/main/scala/org/apache/gluten/extension/columnar/cost/LongCosterChain.scala
  gluten-core/src/main/scala/org/apache/gluten/extension/columnar/enumerated/EnumeratedTransform.scala
  gluten-core/src/main/scala/org/apache/gluten/extension/columnar/enumerated/planner/property/Conv.scala
  gluten-core/src/main/scala/org/apache/gluten/extension/columnar/transition/Convention.scala
  gluten-core/src/main/scala/org/apache/gluten/extension/columnar/transition/FloydWarshallGraph.scala
  gluten-core/src/main/scala/org/apache/gluten/extension/columnar/transition/Transition.scala
  gluten-core/src/main/scala/org/apache/gluten/extension/columnar/transition/TransitionGraph.scala
  gluten-core/src/main/scala/org/apache/gluten/extension/columnar/transition/Transitions.scala
  gluten-core/src/main/scala/org/apache/gluten/extension/injector/GlutenInjector.scala
  gluten-core/src/test/scala/org/apache/gluten/extension/columnar/transition/FloydWarshallGraphSuite.scala
  gluten-substrait/src/main/scala/org/apache/gluten/extension/columnar/cost/LegacyCoster.scala
  gluten-substrait/src/main/scala/org/apache/gluten/extension/columnar/cost/RoughCoster.scala
  gluten-substrait/src/test/scala/org/apache/gluten/extension/columnar/transition/TransitionSuite.scala
  shims/common/src/main/scala/org/apache/gluten/config/GlutenConfig.scala
Labels: CORE, VELOX, CLICKHOUSE

#8547 [1.3][DOC] update spark 3.5.2 in doc (#8543)
  docs/get-started/Velox.md
  docs/get-started/build-guide.md
Labels: DOCS

#8552 [1.3] Preparing for Gluten v1.3.0-rc0
  backends-clickhouse/pom.xml
  backends-velox/pom.xml
  dev/info.sh
  gluten-arrow/pom.xml
  gluten-celeborn/pom.xml
  gluten-core/pom.xml
  gluten-delta/pom.xml
  gluten-hudi/pom.xml
  gluten-iceberg/pom.xml
  gluten-ras/common/pom.xml
  gluten-ras/planner/pom.xml
  gluten-ras/pom.xml
  gluten-substrait/pom.xml
  gluten-ui/pom.xml
  gluten-uniffle/pom.xml
  gluten-ut/common/pom.xml
  gluten-ut/pom.xml
  gluten-ut/spark32/pom.xml
  gluten-ut/spark33/pom.xml
  gluten-ut/spark34/pom.xml
  gluten-ut/spark35/pom.xml
  gluten-ut/test/pom.xml
  package/pom.xml
  pom.xml
  shims/common/pom.xml
  shims/pom.xml
  shims/spark32/pom.xml
  shims/spark33/pom.xml
  shims/spark34/pom.xml
  shims/spark35/pom.xml
  tools/gluten-it/common/pom.xml
  tools/gluten-it/package/pom.xml
  tools/gluten-it/pom.xml
  tools/workload/benchmark_velox/params.yaml.template
  tools/workload/benchmark_velox/tpc_workload.ipynb
  tools/workload/tpcds/run_tpcds/run_tpcds.sh
Labels: CORE, BUILD, VELOX, RSS, TOOLS, CLICKHOUSE, DATA_LAKE

#8544 [GLUTEN-1632][CH]Daily Update Clickhouse Version (20250116)
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHIteratorApi.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/RuntimeSettings.scala
  backends-clickhouse/src/main/scala/org/apache/spark/sql/execution/CHColumnarWriteFilesExec.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenClickHouseExcelFormatSuite.scala
  cpp-ch/clickhouse.version
  cpp-ch/local-engine/Common/CHUtil.cpp
  cpp-ch/local-engine/Storages/Output/NormalFileWriter.h
  cpp-ch/local-engine/Storages/Output/OutputFormatFile.h
  cpp-ch/local-engine/Storages/Output/ParquetOutputFormatFile.cpp
Labels: CLICKHOUSE

#8450 [GLUTEN-8432][CH]Remove duplicate output attributes of aggregate's child
  backends-clickhouse/src/main/scala/org/apache/gluten/execution/CHHashAggregateExecTransformer.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/extension/RemoveDuplicatedColumns.scala
Labels: CLICKHOUSE

#8551 [GLUTEN-8497][CORE] A unified CallInfo API to replace AdaptiveContext
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHRuleApi.scala
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxRuleApi.scala
  gluten-core/src/main/scala/org/apache/gluten/extension/caller/CallerInfo.scala
  gluten-core/src/main/scala/org/apache/gluten/extension/columnar/ColumnarRuleApplier.scala
  gluten-core/src/main/scala/org/apache/gluten/extension/columnar/cost/GlutenCostModel.scala
  gluten-core/src/main/scala/org/apache/gluten/extension/columnar/enumerated/EnumeratedApplier.scala
  gluten-core/src/main/scala/org/apache/gluten/extension/columnar/enumerated/EnumeratedTransform.scala
  gluten-core/src/main/scala/org/apache/gluten/extension/columnar/heuristic/HeuristicApplier.scala
  gluten-core/src/main/scala/org/apache/gluten/extension/columnar/heuristic/HeuristicTransform.scala
  gluten-core/src/main/scala/org/apache/gluten/extension/injector/GlutenInjector.scala
  gluten-core/src/main/scala/org/apache/gluten/extension/util/AdaptiveContext.scala
  gluten-ut/spark32/src/test/scala/org/apache/spark/sql/execution/FallbackStrategiesSuite.scala
  gluten-ut/spark33/src/test/scala/org/apache/spark/sql/execution/FallbackStrategiesSuite.scala
  gluten-ut/spark34/src/test/scala/org/apache/spark/sql/execution/FallbackStrategiesSuite.scala
  gluten-ut/spark35/src/test/scala/org/apache/spark/sql/execution/FallbackStrategiesSuite.scala
Labels: CORE, VELOX, CLICKHOUSE

#8540 [GLUTEN-8529][CH]Fix get_json_object when path has asterisk
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenFunctionValidateSuite.scala
  cpp-ch/local-engine/Functions/SparkFunctionGetJsonObject.h
  gluten-ut/spark32/src/test/scala/org/apache/gluten/utils/clickhouse/ClickHouseTestSettings.scala
  gluten-ut/spark33/src/test/scala/org/apache/gluten/utils/clickhouse/ClickHouseTestSettings.scala
  gluten-ut/spark34/src/test/scala/org/apache/gluten/utils/clickhouse/ClickHouseTestSettings.scala
  gluten-ut/spark35/src/test/scala/org/apache/gluten/utils/clickhouse/ClickHouseTestSettings.scala
Labels: CORE, CLICKHOUSE

#8549 [MINOR] Fix comment of function VeloxAggregateFunctionsBuilder.create
  backends-velox/src/main/scala/org/apache/gluten/execution/HashAggregateExecTransformer.scala
Labels: VELOX

#8548 [CORE] Optimize duplicated code for create rel node
  backends-velox/src/main/scala/org/apache/gluten/execution/HashAggregateExecTransformer.scala
  backends-velox/src/main/scala/org/apache/gluten/execution/TopNTransformer.scala
  gluten-substrait/src/main/java/org/apache/gluten/substrait/rel/RelBuilder.java
  gluten-substrait/src/main/scala/org/apache/gluten/execution/BasicPhysicalOperatorTransformer.scala
  gluten-substrait/src/main/scala/org/apache/gluten/execution/LimitExecTransformer.scala
  gluten-substrait/src/main/scala/org/apache/gluten/execution/SampleExecTransformer.scala
  gluten-substrait/src/main/scala/org/apache/gluten/execution/WindowExecTransformer.scala
  gluten-substrait/src/main/scala/org/apache/gluten/execution/WindowGroupLimitExecTransformer.scala
Labels: CORE, VELOX

#7789 [GLUTEN-7706][CORE] Support Spark-344 + JDK17
  .github/workflows/util/install_spark_resources.sh
  .github/workflows/velox_backend.yml
  docs/get-started/Velox.md
  docs/get-started/build-guide.md
  gluten-ut/pom.xml
  pom.xml
  shims/spark34/src/main/scala/org/apache/gluten/sql/shims/spark34/SparkShimProvider.scala
  shims/spark34/src/main/scala/org/apache/spark/shuffle/SparkSortShuffleWriterUtil.scala
  tools/gluten-it/pom.xml
Labels: CORE, INFRA, TOOLS, DOCS

#8474 [GLUTEN-8475][VL] Fix C-style casts to C++-style
  cpp/core/benchmarks/CompressionBenchmark.cc
  cpp/core/memory/MemoryAllocator.cc
  cpp/core/shuffle/Spill.cc
  cpp/core/utils/qat/QatCodec.cc
  cpp/core/utils/qpl/QplCodec.cc
  cpp/velox/jni/JniFileSystem.cc
  cpp/velox/operators/serializer/VeloxColumnarToRowConverter.cc
  cpp/velox/operators/serializer/VeloxRowToColumnarConverter.cc
  cpp/velox/shuffle/VeloxShuffleReader.cc
  cpp/velox/shuffle/VeloxSortShuffleWriter.cc
  cpp/velox/substrait/SubstraitParser.cc
  cpp/velox/tests/FunctionTest.cc
  cpp/velox/tests/VeloxSubstraitRoundTripTest.cc
Labels: VELOX

#8535 [GLUTEN-8534][VL] Fix allowing loops to iterate beyond end of array
  cpp/velox/operators/serializer/VeloxRowToColumnarConverter.cc
Labels: VELOX

#8542 [GLUTEN-8538][VL] Fix incorrect calculation of buffer size
  cpp/core/memory/MemoryAllocator.cc
Labels: VELOX

#8321 [CORE][CH] Support MicroBatchScanExec with KafkaScan in batch mode
  backends-clickhouse/pom.xml
  backends-clickhouse/src-kafka/main/resources/META-INF/gluten-components/org.apache.gluten.component.CHKafkaComponent
  backends-clickhouse/src-kafka/main/scala/org.apache.gluten.component/CHKafkaComponent.scala
  backends-clickhouse/src-kafka/test/scala/org/apache/gluten/execution/kafka/ClickhouseGlutenKafkaScanSuite.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHBackend.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHIteratorApi.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/metrics/BatchScanMetricsUpdater.scala
  cpp-ch/CMakeLists.txt
  cpp-ch/local-engine/CMakeLists.txt
  cpp-ch/local-engine/Common/CHUtil.cpp
  cpp-ch/local-engine/Parser/RelParsers/ReadRelParser.cpp
  cpp-ch/local-engine/Parser/RelParsers/ReadRelParser.h
  cpp-ch/local-engine/Parser/RelParsers/StreamKafkaRelParser.cpp
  cpp-ch/local-engine/Parser/RelParsers/StreamKafkaRelParser.h
  cpp-ch/local-engine/Storages/Kafka/GlutenKafkaSource.cpp
  cpp-ch/local-engine/Storages/Kafka/GlutenKafkaSource.h
  cpp-ch/local-engine/Storages/Kafka/GlutenKafkaUtils.cpp
  cpp-ch/local-engine/Storages/Kafka/GlutenKafkaUtils.h
  cpp-ch/local-engine/Storages/Kafka/ReadFromGlutenStorageKafka.cpp
  cpp-ch/local-engine/Storages/Kafka/ReadFromGlutenStorageKafka.h
  docs/developers/SubstraitModifications.md
  gluten-kafka/pom.xml
  gluten-kafka/src-kafka/main/java/org/apache/gluten/substrait/rel/StreamKafkaSourceBuilder.java
  gluten-kafka/src-kafka/main/scala/org/apache/gluten/execution/MicroBatchScanExecTransformer.scala
  gluten-kafka/src-kafka/main/scala/org/apache/gluten/execution/OffloadKafkaScan.scala
  gluten-kafka/src-kafka/main/scala/org/apache/spark/sql/kafka010/GlutenStreamKafkaSourceUtil.scala
  gluten-kafka/src-kafka/test/scala/org/apache/gluten/execution/kafka/GlutenKafkaScanSuite.scala
  gluten-substrait/src/main/java/org/apache/gluten/substrait/rel/LocalFilesNode.java
  gluten-substrait/src/main/java/org/apache/gluten/substrait/rel/ReadRelNode.java
  gluten-substrait/src/main/java/org/apache/gluten/substrait/rel/StreamKafkaSourceNode.java
  gluten-substrait/src/main/resources/substrait/proto/substrait/algebra.proto
  pom.xml
  shims/spark32/src/main/scala/org/apache/spark/sql/execution/datasources/v2/AbstractBatchScanExec.scala
  shims/spark33/src/main/scala/org/apache/spark/sql/execution/datasources/v2/AbstractBatchScanExec.scala
  shims/spark34/src/main/scala/org/apache/spark/sql/execution/datasources/v2/AbstractBatchScanExec.scala
  shims/spark35/src/main/scala/org/apache/spark/sql/execution/datasources/v2/AbstractBatchScanExec.scala
Labels: CORE, CLICKHOUSE, DOCS

#8572 [CORE][MIRROR] Change config.defaultValue.get.toString to config.defaultValueString
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenClickHouseExcelFormatSuite.scala
Labels: CLICKHOUSE

#8409 [GLUTEN-8406][CH] Replace `from_json(s, 'Map<String, String>')[k]` with `get_json_object(s, '$.k')`
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHBackend.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHRuleApi.scala
  backends-clickhouse/src/main/scala/org/apache/gluten/extension/BasicExpressionRewriteRule.scala
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenFunctionValidateSuite.scala
Labels: CLICKHOUSE

#8579 [VL] CMake configuration cleanup to remove variable VELOX_COMPONENTS_PATH
  cpp/velox/CMakeLists.txt
Labels: VELOX

#8577 [GLUTEN-1632][CH]Daily Update Clickhouse Version (20250121)
  cpp-ch/clickhouse.version
  cpp-ch/local-engine/Functions/SparkFunctionTrim.cpp
  cpp-ch/local-engine/Parser/ExpressionParser.cpp
  cpp-ch/local-engine/Parser/RelParsers/MergeTreeRelParser.cpp
  cpp-ch/local-engine/tests/gtest_ch_functions.cpp
  cpp-ch/local-engine/tests/gtest_local_engine.cpp
Labels: CLICKHOUSE

#8582 [DOC] Fix outdated operators in documentation
  docs/velox-backend-support-progress.md
Labels: DOCS

#8380 [GLUTEN-8379][VL] Support query trace
  cpp/velox/benchmarks/GenericBenchmark.cc
  cpp/velox/compute/WholeStageResultIterator.cc
  cpp/velox/config/VeloxConfig.h
  cpp/velox/substrait/SubstraitToVeloxPlan.cc
  cpp/velox/substrait/SubstraitToVeloxPlan.h
  docs/developers/QueryTrace.md
  shims/common/src/main/scala/org/apache/gluten/config/GlutenConfig.scala
Labels: CORE, VELOX, DOCS

#8578 [GLUTEN-8266][VL][CI] Pre-install uniffle in docker image
  dev/docker/Dockerfile.centos8-dynamic-build
Labels: BUILD

#8589 [VL] Update the Scaladoc of Component API
  gluten-core/src/main/scala/org/apache/gluten/component/Component.scala
Labels: CORE

#8560 [GLUTEN-8455][VL] Support encrypted parquet fallback for 3.5
  backends-velox/src/test/scala/org/apache/gluten/utils/ParquetEncryptionDetectionSuite.scala
  shims/spark35/src/main/scala/org/apache/gluten/sql/shims/spark35/Spark35Shims.scala
Labels: CORE, VELOX

#8584 [GLUTEN-8580][CORE][Part-1] Clean up unnecessary code related to input file expression
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHIteratorApi.scala
  gluten-substrait/src/main/scala/org/apache/gluten/execution/GlutenWholeStageColumnarRDD.scala
  gluten-substrait/src/main/scala/org/apache/spark/sql/execution/InputFileBlockHolderProxy.scala
Labels: CORE, CLICKHOUSE

#8590 [GLUTEN-8379][VL] Fix typo in query trace document
  docs/developers/QueryTrace.md
Labels: DOCS

#8585 [GLUTEN-8580][CORE][Part-2] Don't validate project generated by PushDownInputFileExpression
  gluten-core/src/main/scala/org/apache/gluten/extension/columnar/heuristic/AddFallbackTags.scala
  gluten-substrait/src/main/scala/org/apache/gluten/extension/columnar/PushDownInputFileExpression.scala
Labels: CORE, ready to merge

#8161 [GLUTEN-3620][VL] Support Range operator for Velox Backend
  backends-clickhouse/src/main/scala/org/apache/gluten/backendsapi/clickhouse/CHSparkPlanExecApi.scala
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxBackend.scala
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxRuleApi.scala
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxSparkPlanExecApi.scala
  backends-velox/src/main/scala/org/apache/gluten/execution/ColumnarRangeExec.scala
  gluten-substrait/src/main/scala/org/apache/gluten/backendsapi/BackendSettingsApi.scala
  gluten-substrait/src/main/scala/org/apache/gluten/backendsapi/SparkPlanExecApi.scala
  gluten-substrait/src/main/scala/org/apache/gluten/execution/RangeExecBaseTransformer.scala
  gluten-substrait/src/main/scala/org/apache/gluten/extension/columnar/offload/OffloadSingleNodeRules.scala
  gluten-substrait/src/main/scala/org/apache/gluten/extension/columnar/validator/Validators.scala
  gluten-ut/spark32/src/test/scala/org/apache/gluten/utils/velox/VeloxTestSettings.scala
  gluten-ut/spark33/src/test/scala/org/apache/gluten/utils/velox/VeloxTestSettings.scala
  gluten-ut/spark33/src/test/scala/org/apache/spark/sql/execution/GlutenSQLRangeExecSuite.scala
  gluten-ut/spark34/src/test/scala/org/apache/gluten/utils/velox/VeloxTestSettings.scala
  gluten-ut/spark35/src/test/scala/org/apache/gluten/utils/velox/VeloxTestSettings.scala
Labels: CORE, VELOX, CLICKHOUSE, ready to merge

#8418 [CORE] Bump iceberg version of spark 3.3 to 1.5.0
  backends-clickhouse/pom.xml
  backends-velox/pom.xml
  gluten-iceberg/pom.xml
  pom.xml
Labels: CORE, VELOX, CLICKHOUSE, DATA_LAKE, ready to merge

#8484 [GLUTEN-7544][CORE] Add Qualification Tool
  README.md
  pom.xml
  tools/qualification-tool/.gitignore
  tools/qualification-tool/README.MD
  tools/qualification-tool/pom.xml
  tools/qualification-tool/src/main/java/org/apache/gluten/qt/graph/MetricInternal.java
  tools/qualification-tool/src/main/java/org/apache/gluten/qt/graph/SparkPlanGraphClusterInternal.java
  tools/qualification-tool/src/main/java/org/apache/gluten/qt/graph/SparkPlanGraphEdgeInternal.java
  tools/qualification-tool/src/main/java/org/apache/gluten/qt/graph/SparkPlanGraphInternal.java
  tools/qualification-tool/src/main/java/org/apache/gluten/qt/graph/SparkPlanGraphNodeInternal.java
  tools/qualification-tool/src/main/java/org/apache/gluten/qt/graph/SqlPlanMetricInternal.java
  tools/qualification-tool/src/main/java/org/apache/gluten/qt/support/ChildSupportVisitor.java
  tools/qualification-tool/src/main/java/org/apache/gluten/qt/support/ClusterSupportVisitor.java
  tools/qualification-tool/src/main/java/org/apache/gluten/qt/support/DurationMetric.java
  tools/qualification-tool/src/main/java/org/apache/gluten/qt/support/ExecutionDescription.java
  tools/qualification-tool/src/main/java/org/apache/gluten/qt/support/GlutenExecutionSupportReporter.java
  tools/qualification-tool/src/main/java/org/apache/gluten/qt/support/GlutenSupport.java
  tools/qualification-tool/src/main/java/org/apache/gluten/qt/support/GraphVisitor.java
  tools/qualification-tool/src/main/java/org/apache/gluten/qt/support/NodeSupportVisitor.java
  tools/qualification-tool/src/main/java/org/apache/gluten/qt/support/NotSupported.java
  tools/qualification-tool/src/main/java/org/apache/gluten/qt/support/NotSupportedCategory.java
  tools/qualification-tool/src/main/java/org/apache/gluten/qt/support/ResultVisitor.java
  tools/qualification-tool/src/main/java/org/apache/gluten/qt/support/Supported.java
  tools/qualification-tool/src/main/scala/org/apache/gluten/qt/AppStatusListener.scala
  tools/qualification-tool/src/main/scala/org/apache/gluten/qt/AppStatusStore.scala
  tools/qualification-tool/src/main/scala/org/apache/gluten/qt/QualificationTool.scala
  tools/qualification-tool/src/main/scala/org/apache/gluten/qt/QualificationToolConfiguration.scala
  tools/qualification-tool/src/main/scala/org/apache/gluten/qt/ReflectionUtils.scala
  tools/qualification-tool/src/main/scala/org/apache/gluten/qt/ReplayListenerBus.scala
  tools/qualification-tool/src/main/scala/org/apache/gluten/qt/SQLAppStatusListener.scala
  tools/qualification-tool/src/main/scala/org/apache/gluten/qt/SparkListener.scala
  tools/qualification-tool/src/main/scala/org/apache/gluten/qt/execution/Executor.scala
  tools/qualification-tool/src/main/scala/org/apache/gluten/qt/file/GcsFileSource.scala
  tools/qualification-tool/src/main/scala/org/apache/gluten/qt/file/HadoopFileSource.scala
  tools/qualification-tool/src/main/scala/org/apache/gluten/qt/file/LocalFsFileSource.scala
  tools/qualification-tool/src/main/scala/org/apache/gluten/qt/support/GlutenApplicationSupportReporter.scala
  tools/qualification-tool/src/main/scala/org/apache/gluten/qt/support/SupportReport.scala
  tools/qualification-tool/src/main/scala/org/apache/gluten/qt/writer/ApplicationReport.scala
  tools/qualification-tool/src/main/scala/org/apache/gluten/qt/writer/ImpactReport.scala
  tools/qualification-tool/src/main/scala/org/apache/gluten/qt/writer/OperatorImpactReportWriter.scala
  tools/qualification-tool/src/main/scala/org/apache/gluten/qt/writer/PrimaryReportWriter.scala
  tools/qualification-tool/src/main/scala/org/apache/gluten/qt/writer/Report.scala
  tools/qualification-tool/src/main/scala/org/apache/gluten/qt/writer/ReportWriter.scala
  tools/qualification-tool/src/main/scala/org/apache/gluten/qt/writer/WriteUtils.scala
  tools/qualification-tool/src/test/java/org/apache/gluten/qt/QualificationToolTest.java
  tools/qualification-tool/src/test/resources/AppsRecommendedForBoost.tsv
  tools/qualification-tool/src/test/resources/UnsupportedOperators.tsv
  tools/qualification-tool/src/test/resources/event-files/local-rdd
  tools/qualification-tool/src/test/resources/event-files/local-sql-supported
  tools/qualification-tool/src/test/resources/event-files/local-unsupported
Labels: CORE, TOOLS, DOCS

#8602 [GLUTEN-8565][VL] Remove unused code in velox batches
  backends-velox/src/main/java/org/apache/gluten/columnarbatch/VeloxColumnarBatches.java
Labels: VELOX

#8575 [VL] Remove override of test in GlutenDynamicPartitionPruningSuite
  gluten-ut/spark35/src/test/scala/org/apache/spark/sql/GlutenDynamicPartitionPruningSuite.scala
Labels: CORE, ready to merge

#8604 [GLUTEN-1632][CH]Daily Update Clickhouse Version (20250124)
  backends-clickhouse/src/test/scala/org/apache/gluten/execution/GlutenClickHouseExcelFormatSuite.scala
  cpp-ch/clickhouse.version
Labels: CLICKHOUSE

#8209 [GLUTEN-8018][VL] Support adjusting stage resource profile dynamically
  backends-velox/src/main/scala/org/apache/gluten/backendsapi/velox/VeloxRuleApi.scala
  backends-velox/src/test/scala/org/apache/gluten/execution/AutoAdjustStageResourceProfileSuite.scala
  gluten-substrait/src/main/scala/org/apache/spark/sql/execution/GlutenAutoAdjustStageResourceProfile.scala
  shims/common/src/main/scala/org/apache/gluten/config/GlutenConfig.scala
Labels: CORE, VELOX, ready to merge

#8411 [GLUTEN-8410][VL] Support null type in HashAggregate
  backends-velox/src/test/scala/org/apache/gluten/execution/MiscOperatorSuite.scala
  cpp/velox/substrait/VeloxSubstraitSignature.cc
Labels: VELOX

#8583 [GLUTEN-8581][VL] Fix Spark legacy date formatter under case insensitive configuration
  cpp/velox/compute/WholeStageResultIterator.cc
  gluten-ut/spark32/src/test/scala/org/apache/gluten/utils/velox/VeloxTestSettings.scala
  gluten-ut/spark32/src/test/scala/org/apache/spark/sql/GlutenDateFunctionsSuite.scala
  gluten-ut/spark33/src/test/scala/org/apache/gluten/utils/velox/VeloxTestSettings.scala
  gluten-ut/spark33/src/test/scala/org/apache/spark/sql/GlutenDateFunctionsSuite.scala
  gluten-ut/spark34/src/test/scala/org/apache/gluten/utils/velox/VeloxTestSettings.scala
  gluten-ut/spark34/src/test/scala/org/apache/spark/sql/GlutenDateFunctionsSuite.scala
  gluten-ut/spark35/src/test/scala/org/apache/gluten/utils/velox/VeloxTestSettings.scala
  gluten-ut/spark35/src/test/scala/org/apache/spark/sql/GlutenDateFunctionsSuite.scala
  shims/common/src/main/scala/org/apache/gluten/config/GlutenConfig.scala
Labels: CORE, VELOX

#8610 [GLUTEN-8609][VL] Remove force cleanup in build_velox.sh
  ep/build-velox/src/build_velox.sh
Labels: BUILD, VELOX

#8622 [CH][DOC] Fix Maven Build Gluten ClickHouse Command
  docs/developers/clickhouse-backend-debug.md
Labels: DOCS

#8628 [GLUTEN-8627][VL] Fix cpp build and build script on MacOS
  cpp/core/CMakeLists.txt
  cpp/velox/CMakeLists.txt
  cpp/velox/tests/FunctionTest.cc
  cpp/velox/tests/VeloxRowToColumnarTest.cc
  dev/builddeps-veloxbe.sh
Labels: BUILD, VELOX

#8615 [VL] Update document, remove the experimental word for spark.gluten.enabled
  docs/Configuration.md
Labels: DOCS

#8636 [GLUTEN-6887][VL] Daily Update Velox Version (2025_01_29)
  cpp/velox/substrait/SubstraitToVeloxPlan.cc
  ep/build-velox/src/build_velox.sh
  ep/build-velox/src/get_velox.sh
Labels: BUILD, VELOX

#8645 [GLUTEN-8644][CI] Bump version of upload-artifact/download-artifact to v4
  .github/workflows/velox_backend.yml
Labels: INFRA
